[2020-11-08 21:25] jmgasper commented on #134
Contest https://www.topcoder.com/challenges/30149669 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:29] jmgasper opened #135 "[$50] Nav consistency on group"
@atelomycterus - One thing that was mentioned in a recent discussion with TC admins is that, on the groups pages, we are missing the left nav that we have elsewhere on the site.  They'd like to see that added back in for consistency across all the pages.  I'm hoping that isn't a tough change, but we can adjust payment as necessary.

### Expected
![Screen_Shot_2020-11-09_at_08_26_58](https://user-i

[2020-11-08 21:29] jmgasper commented on #135
Contest https://www.topcoder.com/challenges/30149670 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:29] jmgasper commented on #135
Contest https://www.topcoder.com/challenges/30149670 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:35] jmgasper opened #136 "[$75] Add ability to archive a group"
@atelomycterus - One thing we'd like to plan for in the future is the ability to mark a group / challenge group as `archived`.  An archived group / challenge would:

* Not be shown in the UI at all (under `/groups` / `/groups/mine`)
* Still be accessible by *direct* links

The goal here is to ensure that, at the end of a challenge, we can remove the challenge group from the user's navigation, but

[2020-11-08 21:36] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30149671 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:36] jmgasper commented on #136
Contest https://www.topcoder.com/challenges/30149671 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 04:11] sdgun opened #137 "The forum links in OR and Direct should take the user to the vanilla challenge forum"
The forum links in OR and Direct should take the user to the vanilla challenge forum

[2020-11-09 04:24] sdgun opened #138 "Page not found error thrown when accessing Challenges link"
**Steps**
Go to the forums as any user(ex user- TopConnCustomer link - https://vanilla.topcoder-dev.com/)
Click on 'Challenges' link from the left pane

Page not found error thrown when accessing Challenges link

[Page not found.zip](https://github.com/topcoder-platform/forums/files/5508136/Page.not.found.zip)

[2020-11-09 04:36] sdgun commented on #102
@jmgasper I can still see this issue

[Screencast 2020-11-09.zip](https://github.com/topcoder-platform/forums/files/5508173/Screencast.2020-11-09.zip)

[2020-11-09 05:02] sdgun commented on #90
Verified, the Leave group option is removed now.

[2020-11-09 05:13] jmgasper commented on #137
@rootelement - Not sure how you want to tackle this one.

[2020-11-09 05:39] sdgun commented on #94
This issue is fixed, the renames are reflected in the forum

[2020-11-09 06:03] sdgun commented on #109
Verified with the available users with rating colors yellow, orange, green and black.

[2020-11-09 06:25] sdgun opened #139 "[$25] When click on Follow/unfollow the All categories page is opened"
**Steps**
Go to https://vanilla.topcoder-dev.com/categories/48fb2a82-2d4b-449d-a7a1-150e735b5eb2
Click on ellipsis
Click Follow

**Actual result**
Navigates to the All categories page when click on follow/unfollow

**Expected result**
Stay on the same page

[Follow unfollow issue.zip](https://github.com/topcoder-platform/forums/files/5508455/Follow.unfollow.issue.zip)

[2020-11-09 06:48] sdgun commented on #112
@jmgasper The Add category(and also follow category) are available when user goes to Code documents >> challenge overview >> click on the forum.

![image](https://user-images.githubusercontent.com/4592712/98507589-e9975000-2283-11eb-9ead-296006df5853.png)

But the page we are taking the user when clicking Challenge discussion link in the challenge details page is the below, it would have been pret

[2020-11-09 06:50] sdgun commented on #121
Verified, this IP address is removed now.

[2020-11-09 07:00] sdgun commented on #120
Verified in a new challenge forum, the link is renamed as expected.

[2020-11-09 08:43] sandhiyakavi opened #140 "Reviewer role has the privilege similar to Copilot"
Description:
Reviewer role has the privilege similar to Copilot.

Expected Result:

Reviewer should not be able to upload files and Add category.

screenshot:

![image](https://user-images.githubusercontent.com/55895538/98518565-e7001f00-22b2-11eb-9665-78e02041cafa.png)

![image](https://user-images.githubusercontent.com/55895538/98518332-94befe00-22b2-11eb-916e-aef5bea4807d.png)

[2020-11-09 08:43] sdgun opened #141 "[$50] When searched for forums, the search results doesn't show the name of the forum, but it shows the text "Back to Challenge Details page" which is not even a link"
**Steps**
Go to the forum of a any user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com)
Search for some existing forum (ex- sdgun F2F dev 1)
Check the search results

**Actual result**
the search results doesn't show the name of the forum, but it shows the text "Back to Challenge Details page" which is not even a link
Some search results show a url

**Expected result**
Better to

[2020-11-09 14:22] rootelement commented on #137
Nope. OR and Direct will still point to Jive. Jive will be shut down at some point when we can get everyone using Work Manager. Only challenges created out of Work Manager will create forums, so that's the only spot that needs to work with Vanilla.

We will be shutting off features in Direct/OR as they become unnecessary.

[2020-11-09 14:22] #137 closed

[2020-11-09 15:03] atelomycterus commented on #92
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-plugins/pull/38
https://github.com/topcoder-platform/forums/pull/142

Thanks!

I created a separated plugin in https://github.com/topcoder-platform/forums-plugins/ReplyTo because there a lot of new php code (600+lines) + client js code.

Enable/Disable the plugin to add/remove View options(flat/threaded/tree)  +' Reply' menu i

[2020-11-09 16:42] atelomycterus commented on #123
@jmgasper  Please apply PR: https://github.com/topcoder-platform/challenge-forum-processor/pull/39. Thanks!

Now the challenge forum processor adds all project members with 'customer'/'manager'/'copilot' to a group.

[2020-11-09 19:58] #129 closed

[2020-11-09 19:58] #121 closed

[2020-11-09 19:58] jmgasper commented on #129
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149323<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:58] jmgasper commented on #121
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149184<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:58] #117 closed

[2020-11-09 19:58] jmgasper commented on #117
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149185<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:58] #112 closed

[2020-11-09 19:58] jmgasper commented on #112
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149000<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] #109 closed

[2020-11-09 19:59] #105 closed

[2020-11-09 19:59] jmgasper commented on #109
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148998<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] jmgasper commented on #105
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148638<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] #101 closed

[2020-11-09 19:59] jmgasper commented on #101
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148423<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] #99 closed

[2020-11-09 19:59] #94 closed

[2020-11-09 19:59] jmgasper commented on #99
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148411<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] #93 closed

[2020-11-09 19:59] jmgasper commented on #94
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148288<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] jmgasper commented on #93
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148096<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 19:59] #90 closed

[2020-11-09 19:59] #88 closed

[2020-11-09 19:59] jmgasper commented on #90
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148089<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 20:00] #79 closed

[2020-11-09 20:00] jmgasper commented on #79
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148095<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 20:00] jmgasper commented on #139
Contest https://www.topcoder.com/challenges/30149839 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 20:01] jmgasper commented on #139
Contest https://www.topcoder.com/challenges/30149839 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-09 20:20] atelomycterus commented on #134
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/18. Thanks!

[2020-11-09 20:29] atelomycterus commented on #139
@jmgasper Please apply https://github.com/topcoder-platform/forums-plugins/pull/39. Thanks!

[2020-11-09 21:04] atelomycterus commented on #132
@jmgasper Done. PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/19. Thanks!

[2020-11-10 03:48] sdgun opened #144 "[$30] The discussions listed in Recent Discussions and My discussions do not have the challenge name"
**Steps**
Go to the forum of a any user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com)
Click on Recent Discussions and My discussions
Check the discussions

**Actual result**
The discussions listed in the Recent Discussions and My discussions do not have the challenge name, which is confusing to the user

![image](https://user-images.githubusercontent.com/4592712/98625402-882fb

[2020-11-10 03:58] sdgun opened #145 "[$20] Handle colors are incorrect when users are tagged in posts"
**Steps**
Go to the forums as any user (link - https://vanilla.topcoder-dev.com/)
Add a comment or edit a discussion or add a new thread
Tag any user in the post

**Actual result**
Handle colors are incorrect when users are tagged in posts

![image](https://user-images.githubusercontent.com/4592712/98626092-f2952980-2336-11eb-96e8-9c2f74a4c05d.png)

[2020-11-10 04:04] sdgun opened #146 "[$40] Error when trying to post comments by quoting an existing long post"
**Steps**
Go to the forum https://vanilla.topcoder-dev.com/discussion/1633/review-time-extends#latest
Click Quote on the first post
Click Post comment button

**Actual result**
Error "Body is 3428 characters too long." is thrown

Note- But it is possible to add some more text to the original post by editing it

![image](https://user-images.githubusercontent.com/4592712/98626401-ae565900-2337-11eb-

[2020-11-10 04:15] sdgun opened #147 "User can post comments without adding any messages"
**Steps**
Go to the forum https://vanilla.topcoder-dev.com
On any thread add a comment without any text

**Actual result**
Allowed

![image](https://user-images.githubusercontent.com/4592712/98627118-70f2cb00-2339-11eb-896d-fa5b7e880e67.png)

[2020-11-10 04:55] sdgun commented on #99
Verified on all 4 work types, the forums are generated now.

[2020-11-10 05:38] sdgun commented on #120
This issue can be seen again in the newly created challenge forums

https://vanilla.topcoder-dev.com/discussion/1665/challenge-overview#latest
https://vanilla.topcoder-dev.com/discussion/1655/challenge-overview#latest

![image](https://user-images.githubusercontent.com/4592712/98632073-bbc61000-2344-11eb-9c39-69aa50d5c871.png)

[2020-11-10 05:53] sdgun opened #148 "Challenge overview has two links to the challenge details page"
**Steps**
Go to a challenge overview - ex-https://vanilla.topcoder-dev.com/discussion/1655/challenge-overview#latest
Click the two links

Both navigate back to the challenge page, the first link previously used to navigate back to the forum

![image](https://user-images.githubusercontent.com/4592712/98633213-fcbf2400-2346-11eb-997a-ec996d94b5c4.png)

[2020-11-10 06:06] sdgun opened #149 "[$40] Notifications are sent when the user is not following a forum"
**Steps**
Go to challenge as a normal user https://vanilla.topcoder-dev.com/discussion/comment/148#Comment_148
Unfollow the forum and categories
Log in as copilot to the same forum
Create a post or comment on an existing one
Check the normal user's email

Email notifications are received

[Follow forum.zip](https://github.com/topcoder-platform/forums/files/5515173/Follow.forum.zip)

[2020-11-10 06:39] jmgasper commented on #140
@sandhiyakavi - It's because TcConnCopilot is a copilot.  *All* copilots can attach files, regardless of their role in *other* challenges.

@rootelement - Do we need to restrict this per-challenge?  ☝️

Right now we configure permissions based on JWT roles, not roles from the resources API per-challenge.

[2020-11-10 06:39] #140 closed

[2020-11-10 06:41] jmgasper commented on #141
Contest https://www.topcoder.com/challenges/30149965 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 06:43] jmgasper commented on #141
Contest https://www.topcoder.com/challenges/30149965 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 06:48] atelomycterus commented on #135
@jmgasper Done. Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/20. Thanks!

With the nav:
![image](https://user-images.githubusercontent.com/10196632/98637567-98e22e80-2339-11eb-9ae4-aaee8f6bd995.png)

![image](https://user-images.githubusercontent.com/10196632/98637685-cc24bd80-2339-11eb-973b-c7efec7910a7.png)

[2020-11-10 06:58] jmgasper commented on #92
@sdgun - I enabled this in dev.  Can you have a look please?

[2020-11-10 07:01] jmgasper commented on #123
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149188<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 07:01] #134 closed

[2020-11-10 07:02] jmgasper commented on #134
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149669<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 07:09] #139 closed

[2020-11-10 07:09] jmgasper commented on #139
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149839<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 07:14] sdgun opened #152 "[$15] Clicking Reply doesn't navigate to the editor"
**Steps**
Log into forums as any user ex- https://vanilla.topcoder-dev.com/
Access any forum available to the user
Go to a challenge overview
Select any view(flat/thread/tree)
Select Reply in any post/comment

When click Reply  doesn't navigate to the editor

[Reply issue.zip](https://github.com/topcoder-platform/forums/files/5515454/Reply.issue.zip)

[2020-11-10 07:21] sdgun opened #153 "Inserting an invalid url in the post shows the red error ribbon in the editor"
**Steps**
Log into forums as any user ex- https://vanilla.topcoder-dev.com/
Access any forum available to the user
Go to add comment
Click 'Embed'
Enter an invalid url
Click insert

Shows the red error ribbon in the editor

[Reply - invalid url.zip](https://github.com/topcoder-platform/forums/files/5515492/Reply.-.invalid.url.zip)

[2020-11-10 07:27] sdgun opened #154 "No cancel button when adding a post comment"
**Steps**
Log into forums as any user ex- https://vanilla.topcoder-dev.com/
Access any forum available to the user
Go to add comment
Add a comment

No cancel button when adding a post comment, better to have a cancel button

![image](https://user-images.githubusercontent.com/4592712/98642968-50843a00-2354-11eb-8952-9f30ca70269b.png)

[2020-11-10 07:56] sdgun opened #155 "txt file attachments cannot be downloaded or opened"
**Steps**
Log into forums as any user https://vanilla.topcoder-dev.com/discussion/1639/welcome?view=threaded
Click on the txt file attachment in the comments

File is not opened or not downloaded, it opens up a separate web page

[Screencast 2020-11-10.zip](https://github.com/topcoder-platform/forums/files/5515650/Screencast.2020-11-10.zip)

[2020-11-10 07:59] sdgun opened #156 "[$25] The selected view is not highlighted clearly"
**Steps**
Log into forums as any user https://vanilla.topcoder-dev.com/discussion/1639/welcome?view=threaded
Click on some view( Flat  |  Threaded  |  Tree)

The selected view is not clearly shown to the user

![image](https://user-images.githubusercontent.com/4592712/98645978-b7a3ed80-2358-11eb-87d2-3e821d30f2bc.png)

[2020-11-10 08:07] #132 closed

[2020-11-10 08:07] jmgasper commented on #132
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149665<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:08] jmgasper commented on #144
Contest https://www.topcoder.com/challenges/30149975 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:09] jmgasper commented on #102
@atelomycterus - I have set this, but it seems to revert on a deploy from CI/CD.  Is this value stored outside the database?

![Screen Shot 2020-11-10 at 18 08 49](https://user-images.githubusercontent.com/21790/98646939-3b290300-2388-11eb-87cc-0f9610fbe5eb.png)

[2020-11-10 08:09] jmgasper commented on #102
Contest https://www.topcoder.com/challenges/30149976 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:09] jmgasper commented on #102
Contest https://www.topcoder.com/challenges/30149976 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:10] jmgasper commented on #144
Contest https://www.topcoder.com/challenges/30149975 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:10] #77 closed

[2020-11-10 08:11] jmgasper commented on #77
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148405<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:12] jmgasper commented on #145
Contest https://www.topcoder.com/challenges/30149977 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:13] jmgasper commented on #145
@sdgun - I can't reproduce this.  Can you provide more details please?

![Screen Shot 2020-11-10 at 19 13 11](https://user-images.githubusercontent.com/21790/98647304-c73b2a80-2388-11eb-84eb-2fd4dd8f2273.png)

[2020-11-10 08:13] sdgun opened #157 "[$25] Cancel reply is not clearing the entered content in the editor"
**Steps**
Log into forums as any user https://vanilla.topcoder-dev.com/discussion/1639/welcome?view=threaded
Click Reply on any user's comment
Enter some text in the editor
Click Cancel reply

Cancel reply is not clearing the entered content in the editor

[Cancel reply.zip](https://github.com/topcoder-platform/forums/files/5515758/Cancel.reply.zip)

[2020-11-10 08:14] jmgasper commented on #146
Max comment length is now 16000 characters

[2020-11-10 08:15] jmgasper commented on #147
Updated the minimum comment length to 1

[2020-11-10 08:15] #147 closed

[2020-11-10 08:18] jmgasper commented on #120
@sdgun - Redeploying now.  The change was originally only made for development challenges.  I have now applied it to QA, Design, and Data Science.

[2020-11-10 08:18] #120 closed

[2020-11-10 08:25] jmgasper commented on #148
Yeah, this change was requested by Topcoder.  The second link should be `Back to Challenge Details page`, and the first will show in threads underneath the challenge group.

[2020-11-10 08:25] #148 closed

[2020-11-10 08:25] jmgasper commented on #149
@sdgun - Which users were you testing with?

[2020-11-10 08:25] sdgun commented on #92
Verified, the three views are available and the users can switch between them.

[2020-11-10 08:26] jmgasper commented on #152
Contest https://www.topcoder.com/challenges/30149980 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:26] #92 closed

[2020-11-10 08:26] jmgasper commented on #92
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148637<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:27] jmgasper commented on #153
I think this is fine.  We'll table it for now.

[2020-11-10 08:28] jmgasper commented on #152
Contest https://www.topcoder.com/challenges/30149980 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:29] jmgasper commented on #135
@atelomycterus - I'm not seeing the left menu on `/groups` or `/groups/mine`.  We essentially want to *always* see the left nav.

![Screen Shot 2020-11-10 at 19 28 51](https://user-images.githubusercontent.com/21790/98648878-f783c880-238a-11eb-8fe9-bddb27e79453.png)

[2020-11-10 08:33] jmgasper commented on #157
Contest https://www.topcoder.com/challenges/30149983 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:33] jmgasper commented on #157
Contest https://www.topcoder.com/challenges/30149983 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:41] #91 closed

[2020-11-10 08:41] jmgasper commented on #91
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148090<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:48] sdgun commented on #149
@jmgasper
normal user - sdguntcqa
copilot user - TCConnCopilot

[2020-11-10 08:49] jmgasper commented on #149
Contest https://www.topcoder.com/challenges/30149985 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:51] jmgasper commented on #149
Contest https://www.topcoder.com/challenges/30149985 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 08:52] sdgun commented on #145
@jmgasper Please check this video

[Handles.zip](https://github.com/topcoder-platform/forums/files/5516005/Handles.zip)

[2020-11-10 09:05] jmgasper commented on #145
@sdgun - Can you try logging in with TonyJ please?  I'm interested to see if that makes a difference.  Your example renders alright for me:

![Screen Shot 2020-11-10 at 20 04 25](https://user-images.githubusercontent.com/21790/98652644-10db4380-2390-11eb-8855-e167e2c1fde9.png)

[2020-11-10 09:33] atelomycterus commented on #135
@jmgasper I can see it. Please clear browser cache.
![image](https://user-images.githubusercontent.com/10196632/98655377-6f80cd00-2350-11eb-9a79-ab963516c89a.png)

![image](https://user-images.githubusercontent.com/10196632/98655739-df8f5300-2350-11eb-8ccf-2f4f246cd37a.png)

[2020-11-10 09:34] sdgun commented on #145
@jmgasper I still see the same behavior

[Handles from tonyj.zip](https://github.com/topcoder-platform/forums/files/5516227/Handles.from.tonyj.zip)

[2020-11-10 09:35] jmgasper commented on #135
@atelomycterus - Yup, just a cache issue.  Sorry about that.

[2020-11-10 09:35] #135 closed

[2020-11-10 09:35] jmgasper commented on #135
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149670<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 09:36] jmgasper commented on #145
@sdgun - What browser?

[2020-11-10 09:39] sdgun commented on #145
Chrome Version 86.0.4240.183, but I see this behavior in Firefox too

[2020-11-10 09:44] atelomycterus commented on #149
@jmgasper Vanillla has 'follow/unfollow' a category and watch/unwatch a category.

_Follow/unfollow_ : User can see following categories in  Vanilla:
![image](https://user-images.githubusercontent.com/10196632/98656834-3184a880-2352-11eb-820b-ce3d4cc5cdc5.png)

_Watch a category_ :  User 'll receive email/popup notification.

The challenge forum processor :
 - adds  follow+watch all group categori

[2020-11-10 10:20] atelomycterus commented on #102
@jmgasper  Added in config/bootstrap.early.php. Garden.EditContentTimeout is equal to -1.
PR-https://github.com/topcoder-platform/forums/pull/158. Thanks!

Let me know if you want to change any Posting Settings.

Posting Settings view from Vanilla sources:
[code]

[2020-11-10 10:43] atelomycterus commented on #157
@jmgasper Vanilla provides autosave functionality for comment & discussion drafts.
In @sdgun's video, you can see 'Post Comment' is disabled automatically and notification with 'Draft saved' message dispalyed.
During auto saving, the button is disabled:
![image](https://user-images.githubusercontent.com/10196632/98663595-5a10a080-235a-11eb-8968-d4b1e8affe97.png)
The notification:
![image](https://

[2020-11-10 11:27] atelomycterus commented on #152
@jmgasper Fixed. Please clear browser cache before testing.

PR - https://github.com/topcoder-platform/forums-plugins/pull/40. Thanks!

[2020-11-10 11:38] atelomycterus commented on #144
@jmgasper ChallengeId is stored in Group table. There are 2 options:
Option 1:  get Challenge Name from REST API /v5/challenges/challengeId for each a records
Option 2: challenge forum processor create a group with challenge name and update it (topic:challenge.notification.update, ). So the group name can be used.

[2020-11-10 12:10] atelomycterus commented on #108
Guests has more permissions.
![image](https://user-images.githubusercontent.com/10196632/98671473-5fbfb380-2365-11eb-9fb9-362268d0eb5b.png)

Permissions  for guests from Rest API and UI - correct.
TODO: it looks like an issue in Vanilla UserModel loadPermissions. I'll fix it.

https://vanilla.topcoder-dev.com/api/v2/roles/2?expand=all:
[code]

[2020-11-10 18:39] atelomycterus commented on #141
@jmgasper Please apply PRs: https://github.com/topcoder-platform/forums/pull/158
https://github.com/topcoder-platform/forums-plugins/pull/40. Thanks!

The breadcrumb link is added:
![image](https://user-images.githubusercontent.com/10196632/98715107-bf848180-239a-11eb-9e90-0743eb7388eb.png)

### Vanilla search

Before displaying result  a comment/discussion is formatted to the original format (Mar

[2020-11-10 19:25] atelomycterus commented on #110
@jmgasper It happens due to full-text searching. MySQL performs boolean full-text searches using the IN BOOLEAN MODE modifier.  'sandy_forum_2' is one word.  Since MySQL considers underscores as part of a word,  'sandy' will never be matched in the search, unless the user types the exact title including underscores.

### How to fix it
1. Character Set Modifications

Documentation :  https://dev.my

[2020-11-10 21:48] #102 closed

[2020-11-10 21:49] jmgasper commented on #102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149976<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 21:49] jmgasper commented on #157
@sdgun - Does this make sense? ☝️

[2020-11-10 21:56] #152 closed

[2020-11-10 21:56] jmgasper commented on #152
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149980<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 21:57] jmgasper commented on #144
Let's go with option 2 - I think that will be the easiest.

[2020-11-10 21:58] #141 closed

[2020-11-10 21:58] jmgasper commented on #141
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149965<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 21:59] jmgasper commented on #110
@atelomycterus - Let's just table this for now, thanks.  I don't want to make any large DB level changes right now.

[2020-11-10 22:00] jmgasper commented on #145
Contest https://www.topcoder.com/challenges/30149977 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 22:00] jmgasper commented on #145
@atelomycterus - I can't seem to reproduce this.  Any thoughts on your side?

[2020-11-10 22:01] jmgasper commented on #149
@atelomycterus - Yeah, we'll need that option too.

[2020-11-11 04:06] sdgun commented on #123
@atelomycterus @jmgasper This issue is not fixed.

1. When a copilot user adds a discussion in the recent list, it will reflect on all the users recent discussions list(even for users not registered to the challenge)
2. Once a discussion is added to the recent list, it will only disappear if the copilot user edit the discussion and remove it from recent. So the list will have everything a copilot

[2020-11-11 04:13] sdgun commented on #139
Verified, this issue is fixed now.

[2020-11-11 04:16] sdgun opened #159 "[$20] Click Follow in a category throws an error"
**Steps**
Go to a category https://vanilla.topcoder-dev.com/categories/2e3a7dfe-8d28-40c0-a1d5-3cb0f03b364e-questions
Click Follow

**Actual result**
Throws error "The "TopcoderPlugin" object does not have a "xfetchViewLocation" method."

[Follow issue.zip](https://github.com/topcoder-platform/forums/files/5521709/Follow.issue.zip)

![image](https://user-images.githubusercontent.com/4592712/987648

[2020-11-11 04:20] jmgasper commented on #159
Contest https://www.topcoder.com/challenges/30150121 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 04:21] sdgun commented on #146
@jmgasper It doesn't seem like an issue related to exceeding the length, please check the below. We still have the issue

[Quote issue.zip](https://github.com/topcoder-platform/forums/files/5521722/Quote.issue.zip)

[2020-11-11 04:22] jmgasper commented on #159
Contest https://www.topcoder.com/challenges/30150121 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 04:22] sdgun commented on #147
Verified.

[2020-11-11 05:23] sdgun opened #160 "The challenge forums are not created for the newly created challenges"
**Steps**
Created a few new challenges
https://www.topcoder-dev.com/challenges/88485971-c6e1-4203-9246-6858f6b3870c
https://qa-community-app.topcoder-dev.com/challenges/981d8564-7ceb-4de5-990d-e8ff1495abcf
https://qa-community-app.topcoder-dev.com/challenges/aa6f477b-599c-464a-b7d2-d959826c6474

Search for those challenges in the forums but they are not available(we cannot open the challenge forum

[2020-11-11 05:39] sdgun commented on #120
To be verified after fixing - https://github.com/topcoder-platform/forums/issues/160

[2020-11-11 06:02] sdgun commented on #135
@jmgasper Left nav is not available in search page and new discussion pages

![image](https://user-images.githubusercontent.com/4592712/98774585-4d9b4f00-2411-11eb-92de-14b31b940557.png)

![image](https://user-images.githubusercontent.com/4592712/98774631-699ef080-2411-11eb-9d30-7542a27a0734.png)

[2020-11-11 06:12] sdgun commented on #141
Verified, it shows the challenge name now.

[2020-11-11 06:22] sandhiyakavi opened #161 "Discussion created is displaying under both General as well as challenge Forum."
Description:
New Discussion created under General topic using the New discussion button in a challenge Forum is displayed in both General as well as under the challenge forum.

Steps to Reproduce:

1. Open a challenge Forum.(https://vanilla.topcoder-dev.com/group/159)
2. Click New discussion button.
3. Choose the General TopCoder Cookbook Discussion under Topcoder CookBook general topic.
4. Create

[2020-11-11 06:29] atelomycterus commented on #159
@jmgasper Fixed. My fault, sorry about that. PR-https://github.com/topcoder-platform/forums-plugins/pull/41. Thanks!

[2020-11-11 06:41] jmgasper commented on #159
@sdgun - Fix is now deployed

[2020-11-11 06:42] jmgasper opened #162 "[$30] Nav consistency"
@atelomycterus  Left nav is not available in search page and new discussion pages

![image](https://user-images.githubusercontent.com/4592712/98774585-4d9b4f00-2411-11eb-92de-14b31b940557.png)

![image](https://user-images.githubusercontent.com/4592712/98774631-699ef080-2411-11eb-9d30-7542a27a0734.png)

[2020-11-11 06:42] jmgasper commented on #162
Contest https://www.topcoder.com/challenges/30150274 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 06:44] jmgasper commented on #162
Contest https://www.topcoder.com/challenges/30150274 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 06:45] sdgun commented on #152
Verified, reply is taking the user to the editor

[2020-11-11 06:45] atelomycterus commented on #145
@jmgasper

I can't reproduce it.

@sdgun Please clear browser cache.  `chrome://settings/clearBrowserData`
![image](https://user-images.githubusercontent.com/10196632/98777361-a06d0a80-2401-11eb-8366-9acfb03f6961.png)

Chrome:
![image](https://user-images.githubusercontent.com/10196632/98777727-4fa9e180-2402-11eb-99b5-38e53a537bb3.png)

![image](https://user-images.githubusercontent.com/10196632/9

[2020-11-11 06:51] sdgun opened #163 "[$30] When opening a post, navigates to the editor"
**Steps**
Log into forums as any user and go to a category ex - https://vanilla.topcoder-dev.com/categories/b1e80738-07c1-4cf0-916c-aa390a4b99bc-documents
Click on a discussion which has comments

Navigates to the editor, but user might need to read the posts before commenting

[Screencast 2020-11-11.zip](https://github.com/topcoder-platform/forums/files/5522270/Screencast.2020-11-11.zip)

[2020-11-11 07:05] sdgun commented on #145
@jmgasper Worked after clearing cache

[2020-11-11 07:10] drasticdpk commented on #114
Verified it is working as expected and closing it. cc @sdgun
Reference :
![image](https://user-images.githubusercontent.com/25297859/98780346-ba681680-241c-11eb-8f0c-737bd582afa1.png)
![image](https://user-images.githubusercontent.com/25297859/98780576-17fc6300-241d-11eb-9fc1-e4f6674eecbf.png)

[2020-11-11 07:10] #114 closed

[2020-11-11 07:17] drasticdpk commented on #159
Verified.
Reference:
![image](https://user-images.githubusercontent.com/25297859/98781158-08c9e500-241e-11eb-92f2-10b42b526448.png)

[2020-11-11 07:17] #159 closed

[2020-11-11 07:17] jmgasper commented on #159
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150121<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 07:38] sdgun opened #164 "Challenge forum categories are not displayed for some registered normal user"
**Steps**
Log in as normal user sdgunvfor and go to https://qa-community-app.topcoder-dev.com/challenges/69cb5726-8bcc-4b56-b45a-a9b85e91e4ed
Click on the CHALLENGE DISCUSSION link

No categories shown to this registered user, but when log in as normal user sdguntcqa and copilot user TCConnCopilot, the categories are available in the forum

[Screencast 2020-11-11.zip](https://github.com/topcoder-p

[2020-11-11 07:38] sandhiyakavi opened #165 "[$20] New discussion button not displayed in a Forum page"
Description:

New Discussion button is not available in a particular Forum page for creating new discussions. It can only be created by moving to the Home screen.

![image](https://user-images.githubusercontent.com/55895538/98782881-142c0900-243c-11eb-9600-6947bd41b564.png)

[2020-11-11 07:40] drasticdpk opened #166 "Unable to post comment by Admin"
**Steps**
1. Go to given URL https://vanilla.topcoder-dev.com/discussion/1680/b1
2. Try to post comment.

**User** : TCConAdmin

**Reference**
![image](https://user-images.githubusercontent.com/25297859/98783180-3fedc580-2421-11eb-96b5-8c10d56d74bd.png)

[2020-11-11 07:47] sdgun commented on #159
This issue is fixed now.

[2020-11-11 08:09] sandhiyakavi opened #167 "[$10] Alignment issue in Edit Discussion screen."
Description:

The cancel button is misaligned and displayed at the bottom of the in Edit Discussion page.

![image](https://user-images.githubusercontent.com/55895538/98785739-696a1980-2440-11eb-92f4-611c08b2bee1.png)

[2020-11-11 08:14] sdgun commented on #157
@jmgasper Looks like this feature is not working properly

[Screencast 2020-11-11.zip](https://github.com/topcoder-platform/forums/files/5522734/Screencast.2020-11-11.zip)

[2020-11-11 08:20] sdgun commented on #102
Verified, comments can be edited without time restrictions

[2020-11-11 08:22] sdgun commented on #138
Closing since this issue was not observed again

[2020-11-11 08:22] #138 closed

[2020-11-11 08:44] sandhiyakavi opened #168 "[$40] More than one "new" tag is getting displayed for a particular forum discussion."
Description:

"new" tag is getting displayed more than once for a particular forum discussion.

![image](https://user-images.githubusercontent.com/55895538/98789160-455d0700-2445-11eb-8c14-135d7db78eb9.png)

In system:

![image](https://user-images.githubusercontent.com/55895538/98789282-70475b00-2445-11eb-9e77-df0d515d9a82.png)

[2020-11-11 09:14] sandhiyakavi opened #169 "[$25] Unnecessary Bracket appears in the Insert Media pop up."
Description:

Unnecessary Bracket appears in the Insert Media pop up of Post comment section.

![image](https://user-images.githubusercontent.com/55895538/98792324-a8e93380-2449-11eb-82ce-7dac9617a9c9.png)

[2020-11-11 09:30] sandhiyakavi commented on #117
Verified. Move discussion functionality removed.

![image](https://user-images.githubusercontent.com/55895538/98794048-f36baf80-244b-11eb-9c1e-8a4ade7d66b6.png)

[2020-11-11 14:41] atelomycterus commented on #162
@jmgasper
Please apply PR: https://github.com/topcoder-platform/forums-theme/pull/12
Updated theme + fixed controllers. I pushed code  accidentally without creating PR in develop ('https://github.com/topcoder-platform/forums/commit/75f2793bd5669fafb410f1fe9578a162bfa994b0').

### Changes
Please clear browser cache before testing:
Create/Edit a discussion -  fixed
Create a discussion:
![image](http

[2020-11-11 17:13] rootelement opened #170 "Topcoder Roles to Administer Vanilla"
A user logged in through topcoder Auth0 should be able to manage the vanilla instance based on their roles.

For example, my user `jcori` has the roles on v3jwt:
[code]

Any user with a role of `administrator` or `Connect Admin` should be able to manage vanilla settings, plugins, and moderation.

Please also document how we add more roles in the future.

[2020-11-11 17:13] rootelement opened #171 "[$50] Vanilla Forums Topcoder Roles"
Includes help with prod deployment support.

A user logged in through topcoder Auth0 should be able to manage the vanilla instance based on their roles.

For example, my user `jcori` has the roles on v3jwt:
[code]

Any user with a role of `administrator` or `Connect Admin` should be able to manage vanilla settings, plugins, and moderation.

Please also document how we add more roles in the future.

[2020-11-11 19:16] jmgasper commented on #171
Contest https://www.topcoder.com/challenges/30150648 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 19:16] jmgasper commented on #171
Contest https://www.topcoder.com/challenges/30150648 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 19:32] jmgasper commented on #171
@atelomycterus - Is there any way to add default permissions for the `administrator` group?  So, if @rootelement logs in with an `administrator` role, we automatically create that role, but *also* add all permissions to it?  We would only do it for that one role.

[2020-11-11 19:47] atelomycterus commented on #171
I've almost implemented, I am testing it.   We've implemented sync roles with Topcoders several weeks ago.
So if the role names are     "administrator" or    "Connect Admin"  then  all global permissions + default category permissions will be added automatically when the role is added.

The topcoder roles can be configred as well in Topocder plugin:

[code]

[2020-11-11 20:21] atelomycterus commented on #171
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/42

After deploying you can delete 'administrator' (type=Topcoder) / 'Connect Admin', it'll be synced automatically.
All chechkboxes should be selected:
![image](https://user-images.githubusercontent.com/10196632/98860375-9a644180-2474-11eb-990c-14313d2739a9.png)

[2020-11-12 04:33] sandhiyakavi opened #172 "[$25] Overlapping of text occurs in search result if the Forum name is long."
Description:
Overlapping of text occurs in search result if the Forum name is long.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/98896067-84459800-24eb-11eb-8000-f16b3634b3b6.png)

[2020-11-12 05:26] sandhiyakavi opened #173 "[$60] Not able to delete the uploaded file in Post."
Description:
Not able to delete the uploaded file in Post.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/98899466-f2418d80-24f2-11eb-8dc9-e3e8f221bceb.png)

[2020-11-12 06:05] #171 closed

[2020-11-12 06:05] jmgasper commented on #171
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150648<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:27] jmgasper commented on #171
@rootelement - All the roles should now be sync'd from the roles API into Vanilla, and any time a user logs in with a new role, it should be read from the JWT and added to Vanilla so we can administer it.

[2020-11-12 06:27] #170 closed

[2020-11-12 06:38] #145 closed

[2020-11-12 06:38] jmgasper commented on #145
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149977<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:39] jmgasper commented on #165
Can you let me know what page this is please?  And what mobile OS and browser is being tested?

[2020-11-12 06:42] jmgasper commented on #166
Permission issue - should be fixed now

[2020-11-12 06:42] #166 closed

[2020-11-12 06:44] jmgasper commented on #167
Contest https://www.topcoder.com/challenges/30150680 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:44] jmgasper commented on #167
Contest https://www.topcoder.com/challenges/30150680 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:44] jmgasper commented on #167
@atelomycterus - Are you OK taking this one?

[2020-11-12 06:45] jmgasper commented on #157
@atelomycterus ☝️

[2020-11-12 06:46] jmgasper commented on #168
Contest https://www.topcoder.com/challenges/30150682 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:46] jmgasper commented on #168
Contest https://www.topcoder.com/challenges/30150682 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:46] jmgasper commented on #169
Contest https://www.topcoder.com/challenges/30150683 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:46] jmgasper commented on #169
Contest https://www.topcoder.com/challenges/30150683 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:49] #162 closed

[2020-11-12 06:49] jmgasper commented on #162
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150274<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:49] jmgasper opened #175 "[$60] Update theme boilerplate"
As mentioned in a recent ticket:

Theme-boilerpate

We use the version 1.4. Vanilla Team updated theme-boilerpate 5 month ago.
https://www.npmjs.com/package/@vanillaforums/theme-boilerplate
Perhaps it makes sense to upgrade before going into production and while we are at the beginning of testing.

[2020-11-12 06:49] jmgasper commented on #175
Contest https://www.topcoder.com/challenges/30150684 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:49] jmgasper commented on #175
Contest https://www.topcoder.com/challenges/30150684 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:49] jmgasper commented on #172
Contest https://www.topcoder.com/challenges/30150685 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:49] jmgasper commented on #172
Contest https://www.topcoder.com/challenges/30150685 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 06:50] sdgun opened #176 "[$20] Handle colors are incorrect in mentions"
**Steps**
Go to the forums as TCConnCopilot link: https://vanilla.topcoder-dev.com/
Click Notifications

Handle colors are incorrect in mentions(checked by clearing cache)

![image](https://user-images.githubusercontent.com/4592712/98905071-ccab8880-24e0-11eb-8f8e-3ec8c0031b82.png)

[2020-11-12 06:50] jmgasper commented on #173
@sandhiyakavi - What device, OS, and browser are you testing?

[2020-11-12 06:57] sdgun commented on #144
@jmgasper @atelomycterus Please note even My Bookmarks list has this issue

[2020-11-12 07:26] sandhiyakavi commented on #173
@jmgasper  I am using

Device: iPhone 7
OS version: 12.2
Browser: Safari

[2020-11-12 07:31] sdgun opened #177 "[$50] The general categories show the 'following' discussions"
**Steps**
Go to the forum from TCConnCopilot user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com)
Click on a category like HIGH SCHOOL MATCHES or NASA TOURNAMENT LAB from left navigation

**Actual result**
 'following' discussions are listed down

![image](https://user-images.githubusercontent.com/4592712/98908897-19925d80-24e7-11eb-94d1-ce72d350d65e.png)

[2020-11-12 07:34] sandhiyakavi commented on #165
@jmgasper  This New discussion button is not available in Challenge forum page as well as General forum.

Device info:
Device: iPhone 7
OS version: 12.2
Browser: Safari

[2020-11-12 08:24] sdgun opened #178 "[$150] Challenge discussions are accessible to the user even after unregister from the challenge"
**Steps**
Log in as TopConnCustomer and check the bookmarks (should have a discussion book marked from an existing forum)
Unregister from the challenge and check the book marks again

Actual result
Book marks list still show the unregistered challenge's bookmarked discussion and the user can continue creating new discussions and adding comment etc on the same challenge forum

[Bookmark after unreg

[2020-11-12 08:39] jmgasper opened #179 "[$20] Suppress errors in forum processor"
@atelomycterus - We're seeing a lot of logs like this.  Can we suppress them?

[code]

[2020-11-12 08:39] jmgasper commented on #179
Contest https://www.topcoder.com/challenges/30150740 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 08:39] jmgasper commented on #179
Contest https://www.topcoder.com/challenges/30150740 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 09:47] sandhiyakavi opened #180 "Email notification doesn't have much information"
Description:

The Email notification sent to the members doesn't contain below information
1. It doesn't contain the challenge name to which the thread belongs.
2. The post is not getting displayed in the mail. The user has to login to vanilla Forum to view the post.
3. The recipient username is not addressed in the mail.

Screenshot:

![image](https://user-images.githubusercontent.com/55895538/98

[2020-11-12 11:25] jmgasper opened #181 "[$400] Prod deploy help"
As discussed in Slack.

[2020-11-12 11:25] jmgasper commented on #181
Contest https://www.topcoder.com/challenges/30150795 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 11:25] jmgasper commented on #181
Contest https://www.topcoder.com/challenges/30150795 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 11:29] drasticdpk opened #182 "Verification TC UI KIT over Forums App"
**Task Desc**  :
- Verify All the Pages have valid brand and design based on TC's branding kits.

**Branding Kits**
https://marvelapp.com/prototype/4f8i35i/screens

**Sample Reference  Issue**

1. (Typography) H1 > CSS Mismatch https://snipboard.io/OoyanP.jpg
2. (Typography)Body > https://snipboard.io/rcEDh0.jpg
3. (Core Elements) Button > Hover https://snipboard.io/5qWYfr.jpg
4. (Forms)Text box h

[2020-11-12 12:32] jmgasper commented on #176
Contest https://www.topcoder.com/challenges/30150810 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 12:33] jmgasper commented on #165
Contest https://www.topcoder.com/challenges/30150811 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 12:33] jmgasper commented on #165
Contest https://www.topcoder.com/challenges/30150811 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 12:34] jmgasper commented on #176
Contest https://www.topcoder.com/challenges/30150810 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 12:34] jmgasper commented on #178
TopConnCustomer isn't a normal user, are they?  They may have multiple roles on a challenge, so even if they unregister, they could still be part of the challenge under and Observer role.

[2020-11-12 12:34] jmgasper commented on #180
Duplicates (more or less):  https://github.com/topcoder-platform/forums/issues/70

[2020-11-12 12:34] #180 closed

[2020-11-12 12:56] sdgun commented on #178
@jmgasper This user is not in connect project or in OR. I also checked from normal user 'sdguntcqa'. However I am not sure why we are showing Roles=Member, Topcoder User in forum profile page

![image](https://user-images.githubusercontent.com/4592712/98942043-6ab84680-2513-11eb-8e44-949c8e8b05a4.png)

![image](https://user-images.githubusercontent.com/4592712/98942273-c8e52980-2513-11eb-8a74-99af

[2020-11-12 13:08] jmgasper commented on #178
Contest https://www.topcoder.com/challenges/30150820 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-12 13:08] jmgasper commented on #178
Contest https://www.topcoder.com/challenges/30150820 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 06:28] sdgun opened #185 "[$30] Remove the unnecessary options in the Preferences"
**Steps**
Go to vanilla forums
Click on profile avatar
Select Preferences

There are some unnecessary options that are not related to existing functionalities

![image](https://user-images.githubusercontent.com/4592712/99036170-29717680-25a7-11eb-84b1-b358e7792a13.png)

[2020-11-13 07:15] sdgun commented on #77
@jmgasper This issue can be seen again in Dev, should we fix this?

[2020-11-13 07:17] sdgun commented on #109
@jmgasper This issue can be seen again in Dev, the handle name is linked to Production profile page. The handle colors do not match with production handle color or Dev colors.

![image](https://user-images.githubusercontent.com/4592712/99040039-6d1bae80-25ae-11eb-8c63-6e223dec06a0.png)

[2020-11-13 08:10] jmgasper commented on #160
Ok - for the ones above, the processor didn't add the URL properly.  We had issues with that for a short time, but it is working again.  I just validated it with `de578523-bede-4cce-8434-350a8c6e392c`

[2020-11-13 08:11] jmgasper commented on #160
https://qa-community-app.topcoder-dev.com/challenges/de578523-bede-4cce-8434-350a8c6e392c

[2020-11-13 08:12] #160 closed

[2020-11-13 08:13] jmgasper commented on #185
Contest https://www.topcoder.com/challenges/30150884 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 08:13] jmgasper commented on #185
Contest https://www.topcoder.com/challenges/30150884 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 09:22] jmgasper opened #188 "[$25] Don't log Vanilla API token in challenge forum processor output"
Since the API token can be used to elevate privileges, we shouldn't log this, just in case someone gets access to our prod logs.

[2020-11-13 09:22] jmgasper commented on #188
Contest https://www.topcoder.com/challenges/30150889 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 09:22] jmgasper commented on #188
Contest https://www.topcoder.com/challenges/30150889 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 12:57] atelomycterus commented on #188
@jmgasper Please apply PR- https://github.com/topcoder-platform/challenge-forum-processor/pull/41. Thanks!

[2020-11-13 13:27] atelomycterus commented on #179
@jmgasper Please apply PR - https://github.com/topcoder-platform/challenge-forum-processor/pull/41. Thanks!

[2020-11-13 23:15] jmgasper commented on #77
@sdgun - Sorry about that - we made some changes for prod and they got deployed in dev.  Fixed now.

[2020-11-13 23:15] jmgasper commented on #109
@atelomycterus - Did we break something here?  I don't see anything obvious in the latest changes.

[2020-11-13 23:16] #188 closed

[2020-11-13 23:16] jmgasper commented on #188
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150889<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 23:18] #179 closed

[2020-11-13 23:18] jmgasper commented on #179
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150740<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 23:19] jmgasper commented on #123
Gonna move this to a new ticket.

[2020-11-13 23:19] #123 closed

[2020-11-13 23:19] jmgasper opened #190 "[$40] Issues with permissions"
@atelomycterus @jmgasper This issue (#123) is not fixed.

1. When a copilot user adds a discussion in the recent list, it will reflect on all the users recent discussions list(even for users not registered to the challenge)
2. Once a discussion is added to the recent list, it will only disappear if the copilot user edit the discussion and remove it from recent. So the list will have everything a c

[2020-11-13 23:19] jmgasper commented on #190
Contest https://www.topcoder.com/challenges/30150913 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 23:19] jmgasper commented on #190
Contest https://www.topcoder.com/challenges/30150913 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-14 11:28] atelomycterus commented on #109
@jmgasper I see the error:
![image](https://user-images.githubusercontent.com/10196632/99145887-92c6b780-2683-11eb-8fdb-9555a44eaff3.png)

We use Topcoder Roles API to check admin roles. It was implemented before synchronization of Topcoder Roles
I've already checked all values. One parameter (`AUTH0_AUDIENCE`) has been changed. I think the current value is for prod, not dev. The previous value wa

[2020-11-14 12:37] atelomycterus commented on #149
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/191
https://github.com/topcoder-platform/forums-groups-plugin/compare/issues-149

### Questions
Not implemented:  A new group has been created for a challenge by a challenge forum processor. So user watches all group categories. A new category is added to a group. Should this user automatically watch this new category?

#

[2020-11-14 12:44] atelomycterus commented on #181
### Vanilla Installation
1. Set `$Configuration['Garden']['Installed'] = false;` config/vanilla/config.php:
2. Create a user with Topcoder administrator role, then sign in and create a token for a challenge forum processor
3. Go to Topocder plugin settings, check 'IsDefault'  and save. Topocder Auth0 will be used as a default Auth provider. You should be able to sign in with Topcoder handle.
4. Se

[2020-11-14 20:46] #181 closed

[2020-11-14 20:47] jmgasper commented on #181
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150795<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-14 20:51] jmgasper commented on #109
@rootelement - Can you check the config on dev please?  ☝️

[2020-11-14 21:08] atelomycterus commented on #178
Fixed.

I'll create PR after fixing other issues with permissions. I've made a lot of changes.

Notes for testers
Count of Bookmarks in the nav should be correct after unregistering from the challenges,

[2020-11-14 21:25] atelomycterus commented on #178
@jmgasper If User creates a discussion in a group and  leaves the group.
Should the discussion be displayed in http://127.0.0.1/discussions/mine after leaving a group?

Need to display the correct count of 'My Discussions'

![image](https://user-images.githubusercontent.com/10196632/99157340-f6c79b00-26d8-11eb-8291-0083f0ef586e.png)

[2020-11-14 23:14] jmgasper commented on #178
@atelomycterus - No, I think we can leave that as-is for now.

[2020-11-15 02:09] jmgasper commented on #149
[code]

No, we'll leave it as-is for now.  We can revisit that in the future.

[2020-11-15 02:09] jmgasper commented on #149
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149985<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-15 18:51] atelomycterus commented on #178
@jmgasper Please apply PRs:
PRs:
https://github.com/topcoder-platform/forums-plugins/pull/45
https://github.com/topcoder-platform/forums/pull/192
https://github.com/topcoder-platform/forums-groups-plugin/pull/24
https://github.com/topcoder-platform/challenge-forum-processor/pull/42

I added a new column to Category table. So it affects the plugins and the processor. The data will be updated automa

[2020-11-15 20:28] atelomycterus commented on #144
@jmgasper Please apply PRs. Thanks!

The challenge name should be displayed in MyBookmarks/MyDiscussions/RecentDiscussions:
![image](https://user-images.githubusercontent.com/10196632/99195708-60f34500-2798-11eb-83bc-c6b93b45b0c8.png)

![image](https://user-images.githubusercontent.com/10196632/99195885-a7956f00-2799-11eb-9070-fe5b70ee214a.png)

![image](https://user-images.githubusercontent.com/1

[2020-11-15 20:30] atelomycterus commented on #96
@sdgun Please re-check after deploying. It should  be fixed with https://github.com/topcoder-platform/forums/issues/178. Thanks!

[2020-11-15 20:45] atelomycterus commented on #190
1. Fixed with PRs - https://github.com/topcoder-platform/forums/issues/178.

[2020-11-15 21:12] #190 closed

[2020-11-15 21:12] jmgasper commented on #190
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150913<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-15 21:16] jmgasper commented on #96
@atelomycterus - I still see this as an issue

![Screen_Shot_2020-11-16_at_08_14_42](https://user-images.githubusercontent.com/21790/99197041-fcf66e00-27e3-11eb-8393-dd532e179132.png)

![Screen Shot 2020-11-16 at 08 14 40](https://user-images.githubusercontent.com/21790/99197044-041d7c00-27e4-11eb-9252-157a9bef1c4c.png)

[2020-11-15 21:17] jmgasper commented on #96
@atelomycterus - Ignore - I misunderstood the clarification in #178 that this only works with *new* challenges

[2020-11-15 21:18] jmgasper commented on #178
@sdgun - We can test this, but note hit will only apply to newly created challenges

[2020-11-15 21:18] #178 closed

[2020-11-15 21:18] jmgasper commented on #96
@sdgun - We can test this, but note hit will only apply to newly created challenges

[2020-11-15 21:18] #96 closed

[2020-11-15 21:18] jmgasper commented on #178
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150820<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-15 21:18] jmgasper commented on #96
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148409<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-15 21:20] #144 closed

[2020-11-15 21:20] jmgasper commented on #144
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149975<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-16 05:19] sandhiyakavi opened #193 "The Challenge Discussion tab with irrelevant discussions are displayed for the Unregistered user."
Description:

The challenge Discussion tab is available for the unregistered user who is also not a member of the challenge. Also on clicking the Challenge discussion tab, the discussions displayed under the challenge forum belongs to various other Challenges.

Note: Correct discussions are displayed once user registers to the challenge.

 unregistered user : TopConnCustomer
Challenge link:  https

[2020-11-16 05:53] sandhiyakavi opened #194 "[$40] Copilot is able to access only Code Documents in Challenge Forum"
Description:
Copilot is able to access only Code Documents in Challenge Forum. Code Questions is not displayed.

Copilot user: TCConnCopilot
Challenge link: https://qa-community-app.topcoder-dev.com/challenges/c568d386-05c7-4885-a60a-975f8821c8f7

![image](https://user-images.githubusercontent.com/55895538/99217567-a86ee500-281b-11eb-9019-5ae50a126e54.png)

[2020-11-16 06:02] sandhiyakavi commented on #149
@jmgasper Do Watch Forum will be default only for registered users or for all the members (Copilot/Manager/Observer/Admin) of the challenge?

[2020-11-16 06:05] jmgasper commented on #149
I think it should be for all members

[2020-11-16 06:33] sdgun commented on #178
Verified, this issue is fixed

[2020-11-16 07:19] sdgun commented on #160
@jmgasper created the below challenges today, but none of them are available in vanilla forum when search by the name, in the challenge details page we see the link CHALLENGE FORUM which leads to 502 error.

https://qa-community-app.topcoder-dev.com/challenges/381a079f-a4cd-4f97-941a-bf25720a313d
https://qa-community-app.topcoder-dev.com/challenges/4ef64187-aae1-4f93-9ec2-805f09e82dbe
https://qa-c

[2020-11-16 07:39] sdgun commented on #120
This issue is fixed.

[2020-11-16 07:44] sdgun commented on #77
@jmgasper Still see this in dev

[2020-11-16 07:51] sandhiyakavi opened #195 "Watch/Follow is not set by default for the members of the Challenge"
Description:

Watch and Follow forum is not set by default for the members of the challenge (Manager/Admin)

Admin - Both Code Documents and Code Questions are not in Watch/Follow status.
Manager - Code Documents are in Watching/Following status and Code Questions are not in Watch/Follow status.

screenshot:

Admin
![image](https://user-images.githubusercontent.com/55895538/99225526-89784f00-282b-

[2020-11-16 08:06] sandhiyakavi commented on #144
Verified .Challenge name is displayed now.

![image](https://user-images.githubusercontent.com/55895538/99226989-fd1b5b80-282d-11eb-8f96-d74f8740ce3f.png)
![image](https://user-images.githubusercontent.com/55895538/99227018-09071d80-282e-11eb-8712-bce75a074223.png)

[2020-11-16 09:25] sandhiyakavi commented on #96
Verified. Working as expected now.

[2020-11-16 12:18] atelomycterus commented on #70
@jmgasper Keep you updated

TODO:
Add required fields for new  discussions.
Need to understand how to add the required fields.

DONE:
Added new params in config.php email:

$Configuration['Garden']['EmailTemplate']['Image'] - You can set a logo url directly. It's better to upload it from Vanilla for the first time and save an filestack image url in the config.php for next deploying.

Example:
$Con

[2020-11-16 16:58] atelomycterus commented on #70
@jmgasper See my previous comment about email template configuration.

### New discussion posted

Please apply PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/25
https://github.com/topcoder-platform/forums/pull/196

Thanks!

### Notes
There is one limitation  here for activity notifications like a new discussion posted, a comment added and so on.
Vanilla uses one field for an e

[2020-11-16 17:50] atelomycterus commented on #77
@jmgasper Please update the env param ('TOPCODER_PLUGIN_MEMBER_PROFILE_URL'). The current value is for prod.
![image](https://user-images.githubusercontent.com/10196632/99288755-24355580-284d-11eb-9694-ca5690fd118f.png)

[2020-11-16 17:59] atelomycterus commented on #176
@jmgasper  the same issue with settings -  https://github.com/topcoder-platform/forums/issues/109#issuecomment-727192109.

![image](https://user-images.githubusercontent.com/10196632/99289729-64490800-284e-11eb-9757-3364fb91938d.png)

With the prev DEV settings on my local env:
![image](https://user-images.githubusercontent.com/10196632/99289841-8b073e80-284e-11eb-8b45-6f9546017f62.png)

[2020-11-16 18:25] rootelement opened #197 "[$25] Segment.io Snippet"
Please drop this in the best place to add tracking to every page. The snippet should ignore non-prod url requests, so don't worry about local dev or development sites.

[code]

[2020-11-16 20:06] jmgasper commented on #197
@atelomycterus - Would this make sense as part of the theme, or in a pocket?

[2020-11-16 20:06] jmgasper commented on #197
Contest https://www.topcoder.com/challenges/30151486 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-16 20:06] jmgasper commented on #197
Contest https://www.topcoder.com/challenges/30151486 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-16 20:20] jmgasper commented on #77
@rootelement ☝️ Can you check this in dev please?

[2020-11-16 20:37] jmgasper commented on #70
@atelomycterus - What do I need to do to get the content of a reply to show up in the email?

Here's what I'm seeing (still need to tweak the template, but I would expect to see the post content, in addition to the `Check it out` link)

![Screen Shot 2020-11-17 at 07 35 49](https://user-images.githubusercontent.com/21790/99305299-b2d6c080-28a7-11eb-8cfb-0ddbacfa1c19.png)

[2020-11-16 20:41] atelomycterus commented on #197
@jmgasper  I added in head tag.

https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/quickstart/.

Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/13.

Thanks!

[2020-11-16 20:47] atelomycterus commented on #70
@jmgasper I see. Need to fix it for all activities. I implemented only for a new discussion posted. Let me know which ones you need:
![image](https://user-images.githubusercontent.com/10196632/99306310-150ed180-2866-11eb-972a-8387fb440da5.png)

[2020-11-16 22:52] jmgasper commented on #70
@atelomycterus - We definitely need DiscussionComment and DiscussionMessage.

[2020-11-17 06:41] sandhiyakavi commented on #87
Verified.Working now

[Admin_access.zip](https://github.com/topcoder-platform/forums/files/5551695/Admin_access.zip)

[2020-11-17 06:53] sandhiyakavi commented on #91
verified.User is able to follow/unfollow forum and thread

[2020-11-17 07:03] sdgun opened #198 "For the copilot/admin users and normal user who registers to a challenge, all the discussions in that challenge forum are listed in Recent Discussions page"
**Steps**
Register to a challenge as a normal user(sdgunvfor) (challenge registered - https://qa-community-app.topcoder-dev.com/challenges/af9a78f4-806c-4ec9-94b6-72a2db2d3d76)
Go to the forums
Click Recent Discussions

For the registered user all the discussions in that challenge forum are listed in Recent Discussions page
For copilot and admin also these newly created challenge's all discussions

[2020-11-17 07:06] jmgasper commented on #198
@sdgun - I *think* what we have now is fine.  Do you think this will be confusing to the user?

[2020-11-17 07:14] sandhiyakavi opened #199 "The Enabled/disabled discussions are displayed in same colour in the category dropdown of New Discussion page"
Description:

The Enabled/disabled discussions are displayed in same colour in the category dropdown of New Discussion page.

Steps to Reproduce:

1. Open Vanilla Forum in Firefox browser.
2. Click New Discussion button in Home page.
3. Click the category dropdown and Observe the list displayed.

Screenshot:
Firefox browser:
![image](https://user-images.githubusercontent.com/55895538/99357332-13d5

[2020-11-17 07:30] sdgun commented on #198
@jmgasper I felt so, just raised the question in the forum to get the feedback from Oanh

[2020-11-17 07:48] sdgun commented on #190
@jmgasper Are we ok to keep the 2nd and 3rd issues? Looks like only the 1st issue has been fixed.

[2020-11-17 08:00] sdgun opened #200 "Link to Gig work in the forum notification email needs to be corrected"
**Steps**
Go to a notification received to an email
Click the link Gig work

It's opening https://www.topcoder.com/community/taas

![image](https://user-images.githubusercontent.com/4592712/99361841-ba628d80-28d8-11eb-99aa-3804e588c82d.png)

![image](https://user-images.githubusercontent.com/4592712/99361919-d23a1180-28d8-11eb-9469-e694afbadbe3.png)

[2020-11-17 09:01] jmgasper commented on #200
Fix deploying now.  Give it 10 minutes for a retest.

[2020-11-17 09:01] #200 closed

[2020-11-17 09:02] jmgasper commented on #190
Yes, that should be fine.

[2020-11-17 09:03] #197 closed

[2020-11-17 09:04] jmgasper commented on #197
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151486<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-17 09:11] atelomycterus commented on #198
@jmgasper @sdgun Vanilla algorithm in Recent Discussions page:
Our Vanilla configuration uses 'following a category' feature.

Recent Discussion '/discussions'":

1. Check  user preferences.  User can view all categories or following
2.a. if view='All':
Get a list of categories that a user has permission to view.
2.b if View='Following'
Get a list of categories followed  by user

3. Search Announc

[2020-11-17 09:28] atelomycterus commented on #70
@jmgasper
I'll implement it.

### Vanilla Placeholders in Activity Templates
///  %1 = ActivityName
///  %2 = ActivityName Possessive: Username
///  %3 = RegardingName
///  %4 = RegardingName Possessive: Username, his, her, your
///  %5 = Link to RegardingName's Wall
///  %6 = his/her
///  %7 = he/she
///  %8 = RouteCode & Route

[2020-11-17 12:28] atelomycterus commented on #198
@jmgasper I have already found a solution not to show group posts in recent discussions. The Category settings has 'Hide from the recent discussions page.':
![image](https://user-images.githubusercontent.com/10196632/99387639-67db9e00-28e5-11eb-9435-3db2c2e1e55f.png)

I created the category Demo with the nested category 'News'. The same settings is used for group categories created by a challenge

[2020-11-17 20:58] atelomycterus commented on #126
@jmgasper  the comment/post were not formatted to html before sending. The format of discussion/document Body is rich by default.   It should work after deploying https://github.com/topcoder-platform/forums/issues/70.

Discussions:
![image](https://user-images.githubusercontent.com/10196632/99446137-a9913680-292f-11eb-901a-c939c5c9daf8.png)

Comments:
![image](https://user-images.githubusercontent

[2020-11-17 21:21] atelomycterus commented on #124
@jmgasper
Three options are different:
'In the category' - Discussion  is created in the selected category only.
Announce is a discussion. User can create an announce  in one step. User can create a  discussion in the category and announce it later :
![image](https://user-images.githubusercontent.com/10196632/99450780-49e85a80-2932-11eb-9aa4-a2b2104a2fec.png)

 Announcements are displayed with a t

[2020-11-17 22:54] jmgasper commented on #198
@atelomycterus - Ok, thanks for that.  I'll let you know what we decide.

[2020-11-17 22:56] jmgasper commented on #124
@atelomycterus - I'll let you know, thanks.

[2020-11-18 05:18] sdgun commented on #200
Verified, it's redirecting to https://www.topcoder-dev.com/gigs

[2020-11-18 06:23] sdgun opened #202 "[$50] My bookmarks and drafts links appear only after a page refresh after adding a bookmark or saving a draft"
**Steps**
My bookmarks and drafts links appear in the left navigation only when there are bookmarks and saved drafts. A user who logs in first time doesn't have any of those, but after adding a book mark or saving a draft, the user has to reload the page to see the My bookmarks and drafts links

![image](https://user-images.githubusercontent.com/4592712/99492929-661ce380-2994-11eb-9885-7d3c666f051

[2020-11-18 06:48] sdgun commented on #144
@atelomycterus Still the new discussions/announcements added by the user do not show the challenge name in any of the sections

![image](https://user-images.githubusercontent.com/4592712/99495053-09232c80-2998-11eb-8901-93382a3e9a83.png)

![image](https://user-images.githubusercontent.com/4592712/99495097-1b9d6600-2998-11eb-9183-e110e453e82b.png)

[2020-11-18 07:16] sdgun opened #203 "[$40] Breadcrumb shows a wrong challenge discussion link"
**Steps**
Log in as TCConnCopilot
Go to My Bookmarks
Click the 'Coding structure' category of challenge 'forum testing dev 5'
Click Coding structure

Breadcrumb shows a wrong challenge discussion link
Note: not happening with all

[Screencast 2020-11-18.zip](https://github.com/topcoder-platform/forums/files/5558364/Screencast.2020-11-18.zip)

[2020-11-18 07:18] sdgun commented on #198
@atelomycterus do you know the behavior of 'Sink'?

![image](https://user-images.githubusercontent.com/4592712/99497731-543f3e80-299c-11eb-8186-b01e165a2e8f.png)

[2020-11-18 09:54] atelomycterus commented on #198
@sdgun @jmgasper - Sunk discussions do not move to the top of the discussion list when a new comment is added.
Let me know if you have any questions.

[2020-11-18 10:33] atelomycterus commented on #144
@sdgun Thanks! Please create a new ticket.  I've analyzed several discussions from recent discussions page. After some actions GroupID was gone from a discussion or was not set.  These discussions were created by users , not a challenge forum processor. I'll try to reproduce it.  Need to verify creating a discussion from different pages (Home, a group and so on)
![image](https://user-images.github

[2020-11-18 10:55] sdgun opened #204 "[$50] New discussions/announcements added by the user do not show the challenge name in any of the sections"
**Steps**
Log into forums
Click on a discussion from the recent list
Click New Discussion
Post the discussion by adding a title and message
Go back to Recent discussions
Check the challenge name in the newly created discussion in the recent list(also bookmark it and see it in bookmarks list and check in the My discussions list)

New discussions/announcements added by the user do not show the chall

[2020-11-18 10:56] sdgun commented on #144
@atelomycterus created https://github.com/topcoder-platform/forums/issues/204

[2020-11-18 16:21] rootelement commented on #77
Fixed. Triggering redeploy in dev now.

[2020-11-18 20:54] atelomycterus commented on #133
@jmgasper

### Changes (I've implemented ):
- Added an enum column (values:'challenge', 'regular') in Group  table.
- Existing data will be updated after altering the table. If a group has ChallengeID => a challenge group.
- Updated a challenge processor + template.json
- Updated Vanilla REST API

TODO:
 - Update add/edit group page
 - Testing

 I'm going to push it tomorrow, including 'Add abilit

[2020-11-18 21:35] jmgasper commented on #204
Contest https://www.topcoder.com/challenges/30151934 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 21:37] jmgasper commented on #204
Contest https://www.topcoder.com/challenges/30151934 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 21:40] jmgasper commented on #70
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 21:40] jmgasper commented on #126
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 23:14] jmgasper commented on #203
Contest https://www.topcoder.com/challenges/30151940 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 23:16] jmgasper commented on #203
Contest https://www.topcoder.com/challenges/30151940 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 04:14] sdgun commented on #198
@jmgasper Oanh has confirmed this behavior is ok in the forum slack group, can I close this?

[2020-11-19 04:17] jmgasper commented on #198
@sdgun - Sure, go ahead, thanks

[2020-11-19 05:16] #198 closed

[2020-11-19 05:30] sdgun opened #205 "[$40] Normal users can edit/delete the discussions added by others"
**Steps**
Log in to forums as a normal user (sdguntcqa)
Go to any available challenge forum discussion added by another user (https://vanilla.topcoder-dev.com/discussion/1736/follow-test#latest)
Click on ellipsis

This user can see all options in the dropdown and perform them too

![image](https://user-images.githubusercontent.com/4592712/99625272-e2c3c680-2a55-11eb-9702-9053a82390fd.png)

[2020-11-19 05:46] sdgun opened #206 "Copilot doesn't have an option to upload attachments in the new editor"
**Steps**
Log in to forums as a copilot user (TCConnCopilot)
Go to any available challenge forum discussion
Click New Discussion
Check the editor

The editor doesn't have an option to upload an attachment for the copilot

![image](https://user-images.githubusercontent.com/4592712/99626044-6500ba80-2a57-11eb-8b80-0be309ae1048.png)

[2020-11-19 06:02] jmgasper commented on #205
@atelomycterus - Any idea why this might be?  The permissions seem to be correct in the admin settings - no `Delete` option on either `Topcoder User` or `Vanilla Member`

[2020-11-19 06:03] jmgasper commented on #205
Contest https://www.topcoder.com/challenges/30151958 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 06:03] jmgasper commented on #205
Contest https://www.topcoder.com/challenges/30151958 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 06:04] sdgun opened #207 "[$100] The URLs in the discussion/comment are opening them in the same tab"
**Steps**
Go to any discussion which has a link (https://vanilla.topcoder-dev.com/discussion/1737/test-123/p1?new=1)
Click on the link or the image

It's opening it in the same tab, it will be useful if we can open them in a separate tab

[2020-11-19 06:05] jmgasper commented on #206
@sdgun - Drag and drop works.  I think that's fine for now.

![Screen Shot 2020-11-19 at 17 04 57](https://user-images.githubusercontent.com/21790/99627957-5af7af80-2a89-11eb-9d85-d8f9387badb3.png)

[2020-11-19 06:05] #206 closed

[2020-11-19 06:24] sdgun commented on #206
@jmgasper For admin drag & drop works but for copilot it doesn't work. For admin there is also a Browse button which is missing for copilot user.

[Attachments.zip](https://github.com/topcoder-platform/forums/files/5564762/Attachments.zip)

Admin:
![image](https://user-images.githubusercontent.com/4592712/99629370-e6f3e200-2a5d-11eb-8e72-f7f5b47e7caa.png)

[2020-11-19 06:31] jmgasper commented on #206
@sdgun - Ok, I tweaked some permissions.  SHould be fixed now, thanks.

[2020-11-19 06:39] sdgun opened #208 "Cancel button in Add url pop up is not working"
**Steps**
Log in as any user to forums
Click New discussion
Click on the Add url in the editor
Click cancel

Cancel button in Add url pop up is not working

![image](https://user-images.githubusercontent.com/4592712/99630486-025fec80-2a60-11eb-9b59-9bd00ed64a8a.png)

[2020-11-19 06:42] sdgun commented on #206
Thanks, it is available for the copilot now

[2020-11-19 09:18] sdgun commented on #194
Another issue related to the same issue, in some challenge forums for the normal user none of the categories are displayed,
Ex- https://vanilla.topcoder-dev.com/categories/2e3a7dfe-8d28-40c0-a1d5-3cb0f03b364e user - sdguntcqa

[Screencast 2020-11-19.zip](https://github.com/topcoder-platform/forums/files/5565697/Screencast.2020-11-19.zip)

[2020-11-19 09:36] jmgasper commented on #194
Contest https://www.topcoder.com/challenges/30152016 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 09:37] jmgasper commented on #194
Contest https://www.topcoder.com/challenges/30152016 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 09:43] jmgasper opened #209 "[$40] PROD - missing member role"
@atelomycterus - We came across a missing role - see `Schpotsky` on the right.  There is nothing in parentheses after the handle to indicate their role in the challenge.  Can you think of any reason that may be?  It seems to be working fine for others.

<img width="2275" alt="Screenshot 2020-11-19 at 11 40 57 AM" src="https://user-images.githubusercontent.com/21790/99649136-eda74700-2aa7-11eb-8bfe

[2020-11-19 09:44] jmgasper commented on #209
Contest https://www.topcoder.com/challenges/30152025 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 10:01] sdgun opened #210 "Topcoder logo is a broken image in the notification email"
**Steps**
Verify an email notification received on a forum discussion/comment

Topcoder logo is a broken image in the notification email

![image](https://user-images.githubusercontent.com/4592712/99651032-1f0a1d80-2a7c-11eb-8565-f0642c937b13.png)

[2020-11-19 10:11] sdgun commented on #70
@jmgasper In this email template we haven't included the challenge name, is it not required?

![image](https://user-images.githubusercontent.com/4592712/99652274-a1471180-2a7d-11eb-9d5c-da35f27f223d.png)

[2020-11-19 10:12] sdgun commented on #126
@atelomycterus Still the attachments(documents except images) are not displayed in the notification email

[2020-11-19 10:27] jmgasper commented on #126
@sdgun - I tested this earlier today and it was working.  Can you provide more details on the file you attached please?

[2020-11-19 10:55] jmgasper commented on #209
Contest https://www.topcoder.com/challenges/30152025 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 11:01] atelomycterus commented on #209
@jmgasper I see. The related issue (https://github.com/topcoder-platform/forums/issues/204) which was found yesterday.
 The roles  are not displayed if a discussion is created by users.
 The roles are displayed if a discussion is created by a challenge processor.

I am going to fix it today.

![image](https://user-images.githubusercontent.com/10196632/99657211-ef084d80-2a6e-11eb-9755-ada135ace7b9.

[2020-11-19 11:13] sdgun commented on #126
@jmgasper I checked with .txt, .docx and pdf files

[Screencast 2020-11-19.zip](https://github.com/topcoder-platform/forums/files/5566355/Screencast.2020-11-19.zip)

[2020-11-19 16:18] sdgun opened #211 "[$25] When click unfollow, the category is removed"
**Steps**
Go to a development challenge forum as any user
Click Unfollow on any available category

The category is removed. But we have to keep the category and only remove it from the 'following' categories list

[Screencast 2020-11-19.zip](https://github.com/topcoder-platform/forums/files/5568163/Screencast.2020-11-19.zip)

[2020-11-19 16:32] sdgun commented on #149
This issue is not fixed, because even though the user unfollow the discussion, he has not unwatch it. So the emails will still be received

[2020-11-19 16:42] sdgun commented on #209
@atelomycterus In QA even for the discussions created by a challenge processor, the roles are not displayed.

![image](https://user-images.githubusercontent.com/4592712/99695997-382ec080-2ab4-11eb-8766-89b5e83b9991.png)

[2020-11-19 18:31] atelomycterus commented on #133
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/27
https://github.com/topcoder-platform/forums/pull/212
https://github.com/topcoder-platform/challenge-forum-processor/pull/43

Thanks!

[2020-11-19 18:43] atelomycterus commented on #136
@jmgasper Please apply PRs from - https://github.com/topcoder-platform/forums/issues/133. Thanks.

Added  Archive permissions in Groups section:
![image](https://user-images.githubusercontent.com/10196632/99708545-023b0d80-2aaf-11eb-99f4-8ba6c7b5d65c.png)

Rest API: '/groups/{id}/archive'

[2020-11-19 18:45] atelomycterus commented on #209
@sdgun In dev, m2m token is not configured. We use Topcoder API to get a list of roles.

[2020-11-19 20:01] atelomycterus commented on #205
@jmgasper Fixed.  Please apply PR -https://github.com/topcoder-platform/forums-groups-plugin/pull/27. Thanks!

[2020-11-19 20:04] atelomycterus commented on #204
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/27. Thanks!

[2020-11-19 21:00] atelomycterus commented on #209
@jmgasper I couldn't reproduce it locally with the last changes. But I can't check it in dev end due to m2m token is not configured.

So i used the payload locally  and tested with a discussion created by user.
![image](https://user-images.githubusercontent.com/10196632/99723295-0a04ad00-2ac3-11eb-9908-6045858eb54a.png)

![image](https://user-images.githubusercontent.com/10196632/99723431-3a4c4b80

[2020-11-19 21:13] atelomycterus commented on #194
@jmgasper @sdgun  Could you provide passwords for  TCConnCopilot / sdguntcqa from dev env?  I'll be able to test and see debugging info in a console.

[2020-11-19 21:20] atelomycterus commented on #144
@sdgun Fixed
![image](https://user-images.githubusercontent.com/10196632/99725321-ff97e280-2ac5-11eb-935a-e71b100458c1.png)

![image](https://user-images.githubusercontent.com/10196632/99725455-38d05280-2ac6-11eb-9b10-01fe06c8609f.png)

[2020-11-19 21:50] jmgasper commented on #126
@sdgun - Ok, I only tested with images.  We may have to handle those file types separately.

[2020-11-19 21:51] jmgasper opened #213 "[$300] Notification email template and documents"
@atelomycterus - The notification email handles image attachment alright, but we need to expand and test documents, like .txt, .doc, and .pdf.  Can those be tested / added as well please?

[2020-11-19 21:51] jmgasper commented on #213
Contest https://www.topcoder.com/challenges/30152312 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 21:51] jmgasper commented on #213
Contest https://www.topcoder.com/challenges/30152312 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 21:55] jmgasper commented on #133
@atelomycterus - This looks good, but one issue - see below.

@sdgun - Please be aware of this change, thanks.  I think it will make navigation easier on members, especially when we get to housing more stuff than just challenges (roundtables, etc...)

@atelomycterus - One problem is that the breadcrumb isn't showing `Groups` vs. `Challenges`.  It seems to always be `Challenges`:

![Screen_Shot_202

[2020-11-19 22:24] jmgasper commented on #70
@sdgun - Good catch.  I'll log something for that, to add it.

[2020-11-19 22:25] jmgasper opened #214 "[$40] Add challenge name to email template"
For notification emails sent about content in a challenge group, we should include the challenge name in both the subject and the email body, if possible.

![image](https://user-images.githubusercontent.com/4592712/99652274-a1471180-2a7d-11eb-9d5c-da35f27f223d.png)

[2020-11-19 22:25] jmgasper commented on #214
Contest https://www.topcoder.com/challenges/30152321 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 22:25] jmgasper commented on #214
Contest https://www.topcoder.com/challenges/30152321 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 22:26] jmgasper commented on #136
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 22:49] jmgasper commented on #211
Contest https://www.topcoder.com/challenges/30152326 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 22:49] jmgasper commented on #211
Contest https://www.topcoder.com/challenges/30152326 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-19 22:49] jmgasper commented on #149
@atelomycterus ☝️

[2020-11-19 22:50] jmgasper commented on #194
@atelomycterus - `appirio123`

[2020-11-19 22:58] jmgasper commented on #210
Fixed

[2020-11-19 22:58] #210 closed

[2020-11-20 04:08] sdgun commented on #210
Verified this issue is fixed now.

![image](https://user-images.githubusercontent.com/4592712/99756857-1107db80-2b14-11eb-963d-c4830df70dff.png)

[2020-11-20 04:09] sdgun commented on #194
@atelomycterus sdguntcqa - T0pc0der@123

[2020-11-20 04:48] sdgun opened #215 "[$30] Challenge name is not displayed in Categories section"
**Steps**
Log into forums as any user - https://vanilla.topcoder-dev.com/
Click on categories from the left nav
Check the lists under All and Following drop downs

Challenge name is not displayed in any of those

![image](https://user-images.githubusercontent.com/4592712/99760379-980b8280-2b19-11eb-8cb7-d46d3cfc7eca.png)

![image](https://user-images.githubusercontent.com/4592712/99760394-a3f74480

[2020-11-20 04:58] sdgun opened #216 "[$40] Unable to bookmark discussions/post discussions or post comments, error in console"
**Steps**
Go to a newly created challenge forum ex-https://vanilla.topcoder-dev.com/categories/bf6d0efd-b4f8-4846-a7df-82227d4248ff-documents - user -TCConnCopilot or any
Click bookmark icon

Bookmarking is not working, below error in console

[Bookmark issue.zip](https://github.com/topcoder-platform/forums/files/5571321/Bookmark.issue.zip)

![image](https://user-images.githubusercontent.com/45927

[2020-11-20 05:11] atelomycterus commented on #194
@sdgun @jmgasper Thanks! I've seen it twice in dev. It looks like a bug in Vanilla Categories Controller.  I was switching between  categories only. CategoryTree was empty after some actions.   I'm working on it.

[2020-11-20 05:23] sdgun commented on #216
This error is thrown when posting new discussions too

![image](https://user-images.githubusercontent.com/4592712/99762463-93959880-2b1e-11eb-8505-9e6072d2851e.png)

[2020-11-20 05:24] atelomycterus commented on #149
@sdgun @jmgasper Please let me know user/group/challenge.  There is still a lot of Vanilla logic here when a user will receive notifications even if he/she unwatches a category. For example, participated in /mentioned / bookmarked a discussion/comment.  I'll check User preferences and other things.

[2020-11-20 05:24] sdgun commented on #144
Verified the issue is fixed in mentioned sections, however I have missed to add Categories in this issue and the same issue exists in that section too. Reported https://github.com/topcoder-platform/forums/issues/215.

[2020-11-20 05:40] atelomycterus commented on #211
The same issue - CategoryTree is empty. Related issues - https://github.com/topcoder-platform/forums/issues/194

[2020-11-20 05:41] sdgun commented on #149
@atelomycterus
User - sdguntcqa(pw - T0pc0der@123)
Challenge forum - https://vanilla.topcoder-dev.com/categories/c568d386-05c7-4885-a60a-975f8821c8f7

[2020-11-20 05:50] jmgasper commented on #216
Contest https://www.topcoder.com/challenges/30152363 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 05:50] jmgasper commented on #216
@atelomycterus - Any thoughts on why this might be failing?

[2020-11-20 05:50] jmgasper commented on #215
Contest https://www.topcoder.com/challenges/30152364 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 05:50] jmgasper commented on #215
Contest https://www.topcoder.com/challenges/30152364 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 05:52] jmgasper commented on #216
Contest https://www.topcoder.com/challenges/30152363 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 05:56] sdgun opened #217 "[$30] Normal users can edit/delete the comments added by others"
**Steps**
Log in to forums as a normal user (sdguntcqa)
Go to any available challenge forum discussion added by another user (https://vanilla.topcoder-dev.com/discussion/1751/baze-my-discussion#latest)
Click on ellipsis of a comment from another user

This user can perform edit/delete on it

![image](https://user-images.githubusercontent.com/4592712/99764505-3cde8d80-2b23-11eb-8413-a95c22c33fb6.pn

[2020-11-20 05:57] sdgun commented on #205
This issue is fixed, however the normal users can edit/delete the comments. Created https://github.com/topcoder-platform/forums/issues/217

[2020-11-20 05:57] atelomycterus commented on #216
@jmgasper These issues are due to a debug bar. I was using it to view a debug info and @sdgun was testing.
I usually enable it when I can't reproduce a bug in my local env. After 2-5 mins I disable it again.
@sdgun please let me know your working hours. I will try to turn it on only when it does not fall within your working hours

[2020-11-20 06:02] sdgun commented on #216
@atelomycterus I am usually working IST 9.30am-1.30pm

[2020-11-20 06:07] sdgun commented on #107
Closing since this was not observed again

[2020-11-20 06:07] #107 closed

[2020-11-20 06:37] sdgun commented on #104
Note: The same issue with files sent in the email notifications

[2020-11-20 07:42] sdgun opened #218 "[$30] Unable to create discussions/announcements on the New challenges created by Admin"
**Steps**
Log in as Tonyj
Go to https://vanilla.topcoder-dev.com/groups?filter=challenge
Click Challenge button
Create a new challenge
As the same user or as a normal user log into forum >> access above created challenge
In the newly created challenge click New Announcement or New Discussion buttons

Issue 1
The Discussion/Announcement creation is opened with the category drop down, so the user ha

[2020-11-20 07:47] sdgun opened #219 "[$25] Category drop down shows blank rows in the challenges created from Vanilla"
**Steps**
Log in as Tonyj
Go to https://vanilla.topcoder-dev.com/groups?filter=challenge
Click Challenge button
Create a new challenge
As the same user or as a normal user log into forum >> access above created challenge
In the newly created challenge click New Announcement or New Discussion buttons
Click category drop down >> close it and click it again

Category drop down shows blank rows

Ex ch

[2020-11-20 07:51] sdgun commented on #133
@atelomycterus In your above comment you have the below screen shot, how can we access this page?

![image](https://user-images.githubusercontent.com/4592712/99773941-2a6c5000-2b33-11eb-9074-bdf80a56cf95.png)

[2020-11-20 07:56] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30152439 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 07:56] jmgasper commented on #218
Contest https://www.topcoder.com/challenges/30152439 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 09:41] atelomycterus commented on #133
@sdgun The direct link is  https://vanilla.topcoder-dev.com/groups/mine.  What do you think maybe add the link to the left menu?

[2020-11-20 09:52] atelomycterus commented on #218
@jmgasper Need to clarify the requirements for Issue-2. Let me know what categories should be created for a regular group/a challenge  from UI?
Should we use template.json from a challenge forum processor to create categories for a challenge?

[2020-11-20 11:26] sdgun commented on #133
@jmgasper I am not sure about it, but otherwise users do not have a way to access this

[2020-11-20 11:51] atelomycterus commented on #149
@sdgun What emails did you receive after unregistering?

[2020-11-20 16:42] atelomycterus commented on #211
@sdgun @jmgasper I've looked through Vanilla code.
User can't see categories due to 'Followed' (true) flag.  By default the filter view is always displayed in Recent Discussions page or '/categories' (no category selected).   After setting 'following' Vanilla saves user preferences and doesn't display the view filter for a category page and shows only following categories.  So if the category has

[2020-11-20 17:52] atelomycterus commented on #203
@jmgasper I'll verify it after deploying PRs :
https://github.com/topcoder-platform/forums/pull/220
https://github.com/topcoder-platform/forums-groups-plugin/pull/28

[2020-11-20 17:54] atelomycterus commented on #194
@jmgasper Duplicate issue - https://github.com/topcoder-platform/forums/issues/211

[2020-11-20 17:56] atelomycterus commented on #164
@jmgasper Duplicate issue - #211

[2020-11-20 18:00] atelomycterus commented on #133
@jmgasper  Thanks for your feedback ! Fixed.  Please apply PRs:
https://github.com/topcoder-platform/forums/pull/220
https://github.com/topcoder-platform/forums-groups-plugin/pull/28

@sdgun Please test it after deploying PRs.

[2020-11-20 19:50] atelomycterus commented on #215
@jmgasper  Please apply PRs:
https://github.com/topcoder-platform/forums/pull/220
https://github.com/topcoder-platform/forums-groups-plugin/pull/28

 Thanks!

Fixed for category pages:
For groups:
![image](https://user-images.githubusercontent.com/10196632/99842016-23b7fa00-2b80-11eb-9097-3a0cbc19940d.png)

For challenge:
![image](https://user-images.githubusercontent.com/10196632/99842128-5530c58

[2020-11-20 21:04] atelomycterus commented on #214
@jmgasper Done. Please apply PR: https://github.com/topcoder-platform/forums-groups-plugin/pull/28. Thanks!

Added name/link:

![image](https://user-images.githubusercontent.com/10196632/99849489-b9f21d00-2b8c-11eb-9d9c-d57ade30ed63.png)

![image](https://user-images.githubusercontent.com/10196632/99849423-9b8c2180-2b8c-11eb-9b4d-35672a516eda.png)

[2020-11-21 05:59] jmgasper commented on #218
@atelomycterus - Sorry, I think I misread the logged issue.  All we should do is disable the user from accessing `create challenge`.  Those should all come from the forum processor, not created manually.

[2020-11-21 06:15] #211 closed

[2020-11-21 06:16] jmgasper commented on #211
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152326<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 06:16] #205 closed

[2020-11-21 06:16] #70 closed

[2020-11-21 06:16] jmgasper commented on #205
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151958<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 06:16] jmgasper commented on #70
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147024<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 06:16] #216 closed

[2020-11-21 06:16] jmgasper commented on #216
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 06:17] #209 closed

[2020-11-21 06:17] jmgasper commented on #209
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152025<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 06:19] #126 closed

[2020-11-21 06:20] jmgasper commented on #126
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149318<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 06:20] #204 closed

[2020-11-21 06:20] jmgasper commented on #204
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151934<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 10:56] atelomycterus commented on #218
@jmgasper what about a regular group? Now a regular group is created and it doesn't have any category. User can create a category using 'Add Category'. The regular category will be created under a root. So it'll be displayed in the left nav.
User can enter any group name.
![image](https://user-images.githubusercontent.com/10196632/99875294-6f5db880-2bff-11eb-9f05-2b3ea10a75c7.png)

It seems to me

[2020-11-21 11:27] atelomycterus commented on #203
@jmgasper I verified it in dev. Fixed.
@sdgun From your video:
Group - https://vanilla.topcoder-dev.com/group/141.
Notice - one discussion was moved from another challenge.
![image](https://user-images.githubusercontent.com/10196632/99875820-89999580-2c03-11eb-99d8-7f04c3dea753.png)

https://vanilla.topcoder-dev.com/discussion/1543/moved-coding-structure#latest will send you to the original discus

[2020-11-21 11:58] atelomycterus commented on #185
@jmgasper Please apply PR -https://github.com/topcoder-platform/forums/pull/221. Thanks!

Added the param in config.php:

![image](https://user-images.githubusercontent.com/10196632/99876707-75f12d80-2c09-11eb-87e4-e799fa6b9475.png)

the options are hidden:
![image](https://user-images.githubusercontent.com/10196632/99876666-47735280-2c09-11eb-94e5-4d2100404c72.png)

[2020-11-21 16:35] atelomycterus commented on #108
@jmgasper Please apply PRs: https://github.com/topcoder-platform/forums-plugins/pull/47 ,
https://github.com/topcoder-platform/forums/pull/221

I'll test it in the dev because I can't reproduce it  in my local env. If it's fixed, I'll change the ticket status.

[2020-11-21 21:27] jmgasper opened #222 "[$40] Profile pics not coming through in prod"
@atelomycterus - In production, I'm not seeing profile pics coming over from Topcoder:

![Screen Shot 2020-11-22 at 08 26 53](https://user-images.githubusercontent.com/21790/99887928-8f8f8500-2c9c-11eb-86a3-b49e14a3e810.png)

[2020-11-21 21:27] jmgasper commented on #222
Contest https://www.topcoder.com/challenges/30152834 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-21 21:27] jmgasper commented on #222
Contest https://www.topcoder.com/challenges/30152834 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 08:11] atelomycterus commented on #222
@jmgasper Could check your avatar in your Topcoder profile?
I noticed a few months ago my avatar disappeared from my profile. I remember that it happened when the new profile design enabled.  I uploaded a pics in my profile. This pic is displayed:

![image](https://user-images.githubusercontent.com/10196632/99898410-7f82a000-2cb2-11eb-9007-1b451373eb2e.png)

In the user box:
![image](https://user-

[2020-11-22 12:41] atelomycterus commented on #108
@jmgasper Keep you updated it:

Please apply PR- https://github.com/topcoder-platform/forums/pull/223
https://github.com/topcoder-platform/forums-plugins/pull/48

Thanks!

 UserModel.loadPermissions loads a list of permissions from cache. UserID=0 is reserved for Guest in Vanilla. If the cache is enabled, Vanilla caches 'User.0'/'User.0.permissions/User.0.roles' once and don't clear it.

I've trie

[2020-11-22 20:56] atelomycterus commented on #95
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/224
https://github.com/topcoder-platform/forums-groups-plugin/pull/29

Thanks!

The old foums has  'table' layout for categories. Mimics more traditional forum category layout. I added  a sort dropdown. Sorting is done by last date inserted (comment or post) in a category. The same is implemented in the old forum.

Added

[2020-11-22 23:28] jmgasper commented on #222
OK, thanks.

[2020-11-22 23:28] #222 closed

[2020-11-22 23:28] jmgasper commented on #222
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:32] #95 closed

[2020-11-22 23:32] jmgasper commented on #95
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149111<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:32] #194 closed

[2020-11-22 23:32] jmgasper commented on #194
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:33] #164 closed

[2020-11-22 23:33] #133 closed

[2020-11-22 23:33] jmgasper commented on #133
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149668<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:36] #215 closed

[2020-11-22 23:36] jmgasper commented on #215
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152364<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:37] #214 closed

[2020-11-22 23:37] jmgasper commented on #214
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152321<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:40] jmgasper commented on #218
I'm fine with that recommendation.

[2020-11-22 23:40] #203 closed

[2020-11-22 23:40] jmgasper commented on #203
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151940<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:41] #185 closed

[2020-11-22 23:41] jmgasper commented on #185
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150884<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-22 23:42] jmgasper commented on #108
@atelomycterus - I deployed and still see the issue.  Can we hide `New Discussion` for users not logged in?

[2020-11-22 23:43] #149 closed

[2020-11-22 23:43] #136 closed

[2020-11-22 23:43] jmgasper commented on #136
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149671<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-23 04:36] sdgun opened #225 "Unable to create new discussions/comments/reply to existing comments"
**Steps**
Log in as  TCConnCopilot to https://vanilla.topcoder-dev.com/post/discussion/bf6d0efd-b4f8-4846-a7df-82227d4248ff-documents
Create a new discussion/comments/reply

Get the below error
![image](https://user-images.githubusercontent.com/4592712/99929430-39414580-2d73-11eb-861c-181abbe3191c.png)

The editor is not the MD editor

[2020-11-23 04:40] sdgun commented on #149
@atelomycterus I got the email notification when commenting/replying/creating new discussions

[2020-11-23 05:02] sdgun commented on #214
To be verified after fixing https://github.com/topcoder-platform/forums/issues/225, since discussions, comments cannot be added to test this now due to this issue

[2020-11-23 05:06] sdgun commented on #215
Verified with the existing categories

[2020-11-23 05:26] sdgun commented on #133
Verified, the breadcrumbs show the challenges and groups and left nav has Challenges and Groups

[2020-11-23 06:06] sdgun commented on #194
Verified, the copilot see all the categories now.

[2020-11-23 06:07] atelomycterus commented on #108
@jmgasper I see. It's displayed due to 'Discussion.Add' permission.  I'll hide it.
I've added an user with Guest role in the dev, the permissions are loaded correctly.
Could you create a dump of DB from the dev? I'll debug it locally. The same issue exists in the prod.

[2020-11-23 06:35] atelomycterus commented on #225
@sdgun The issue with parsing data in Vanilla. The post format has been changed.
@jmgasper The prev post format was rich. Now RichEditor pligun is disabled in the dev. The post format is 'Text'.
Let me know which editor will be used and which format will be by default.
![image](https://user-images.githubusercontent.com/10196632/99934312-b8804a80-2d6e-11eb-9a33-2989fcd987c0.png)

[2020-11-23 06:38] sdgun opened #226 "[$25] 'Page not found' error when selecting some drop down options in the challenge forum categories"
**Steps**
1. Log into https://www.topcoder-dev.com/challenges/91b26ce5-c10c-4f66-8b3f-6827e4f98dba as a normal user and register
2. Click Challenge discussions
3. OR access https://vanilla.topcoder-dev.com/categories/91b26ce5-c10c-4f66-8b3f-6827e4f98dba as sdguntcqa/T0pc0der@123
4. The default options in the drop downs for copilot and normal user are different(copilot sees View:All and Sort:Old, n

[2020-11-23 06:48] sdgun commented on #211
@jmgasper When copilot clicks on 'Following' from view drop down it is redirecting to ALL CATEGORIES as @atelomycterus has mentioned  in his comment above. But then if the user clicks browser back button or access the challenge discussion from challenge details page it is not showing any categories to the user

[Copilot.zip](https://github.com/topcoder-platform/forums/files/5581362/Copilot.zip)

[2020-11-23 06:53] jmgasper commented on #225
@atelomycterus - We're going to use the Advanced Editor.  For some reason, after the deploy I have to flip the `Rich Editor` on and then off before the proper editor shows up.

@sdgun - Should be fixed for now.

[2020-11-23 06:55] atelomycterus commented on #211
@sdgun @jmgasper The duplicate issue https://github.com/topcoder-platform/forums/issues/226 . The bug in 'FollowingCategoryModule', I see in the your video a wrong url generated

[2020-11-23 07:06] sdgun commented on #214
Verified, the challenge name is available in the notification title and body

[2020-11-23 07:15] sdgun commented on #225
@jmgasper Thanks, it is fixed now

[2020-11-23 07:38] sdgun commented on #204
Verified, the discussions and announcements now have the challenge name

[2020-11-23 07:45] sdgun commented on #126
@jmgasper Do you want me to create an issue for the other file types?

[2020-11-23 08:17] sdgun opened #227 "[$150] Sorting is not working properly"
**Steps**
Go to https://vanilla.topcoder-dev.com/categories/c5fb87f6-a0ad-46da-9cdd-0a3583dbfb58 log in as TCConnCopilot
Click on a category
Sort by old and new - Old is not sorting correctly
Add a comment on a category post
Come back to the categories and try sorting by old and new

Sorting is not working based on the latest change(comment). When we say New shouldn't we except the newest categori

[2020-11-23 08:18] sdgun commented on #95
Verified, reported the issue https://github.com/topcoder-platform/forums/issues/227

[2020-11-23 09:35] jmgasper commented on #126
@sdgun - https://github.com/topcoder-platform/forums/issues/213

[2020-11-23 09:46] #225 closed

[2020-11-23 09:47] jmgasper commented on #226
Contest https://www.topcoder.com/challenges/30153078 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-23 09:47] jmgasper commented on #226
Contest https://www.topcoder.com/challenges/30153078 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-23 14:48] atelomycterus commented on #213
@jmgasper Need more fixes with this plugin.
The editor plugin stores media data (filename, file path and so on) in Media table.
The previous plugin stores it as a part of its body. So the discussion body is formatted from Rich to Html and attachments are displayed in emails.
![image](https://user-images.githubusercontent.com/10196632/99975640-91983780-2db3-11eb-9e9f-ea6dfdb69feb.png)

### What iss

[2020-11-23 20:15] atelomycterus commented on #226
@jmgasper Please apply PR -https://github.com/topcoder-platform/forums/pull/228. Thanks!

I removed 'All' from the sort dropdown because data is order by 'DateInserted desc' by default.
There were no changes if the user clicks on 'All' or 'New'. Both options had the same results.

![image](https://user-images.githubusercontent.com/10196632/100010547-78a67b00-2de1-11eb-9b7d-fb020259f7dc.png)

[2020-11-23 20:16] jmgasper opened #229 "[$40] Don't auto-follow for anything other than members / copilots"
@atelomycterus - In prod I'm receiving complaints that managers / observers are getting too many notification emails by default.  Topcoder would like the auto-follow of challenge forums to only apply to registered members and copilots, not all the other roles.

[2020-11-23 20:16] jmgasper commented on #229
Contest https://www.topcoder.com/challenges/30153347 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-23 20:16] jmgasper commented on #229
Contest https://www.topcoder.com/challenges/30153347 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-23 21:21] atelomycterus commented on #229
@jmgasper Done. Please apply PRs:  https://github.com/topcoder-platform/challenge-forum-processor/pull/44
https://github.com/topcoder-platform/forums-groups-plugin/pull/30. Thanks!

[2020-11-23 22:33] jmgasper commented on #108
@atelomycterus - I've asked for a DB dump.  Still waiting on that.

[2020-11-23 22:34] jmgasper commented on #213
@atelomycterus - Ok, this should be relatively high priority.  I'll bump the payment.

[2020-11-23 22:34] #226 closed

[2020-11-23 22:35] jmgasper commented on #226
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153078<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-23 22:35] #229 closed

[2020-11-23 22:35] jmgasper commented on #229
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153347<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 04:21] callmekatootie opened #230 "Observers should not automatically be subscribed to forums"
Example - for this contest - https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153349 I am an observer.

However, it appears that I am subscribed to the forum - I am receiving email notifications.

Previously, Observers would not be subscribed.

[2020-11-24 05:27] sdgun opened #231 "[$30] The view drop down is reset when selecting a sorting option"
**Steps**
Access https://vanilla.topcoder-dev.com/categories/91b26ce5-c10c-4f66-8b3f-6827e4f98dba as TCConnCopilot
Click View drop down and select 'Following'
Click Sort drop down and select any option

The View drop down value is reset to Following

[Screencast 2020-11-24.zip](https://github.com/topcoder-platform/forums/files/5587575/Screencast.2020-11-24.zip)

[2020-11-24 05:27] sdgun commented on #226
Verified, this issue is fixed now.

[2020-11-24 06:11] sdgun commented on #136
@jmgasper Should we test this behavior? I don't see Archive option on existing challenge groups or groups when I log in as admin user or TonyJ

[2020-11-24 07:06] sdgun opened #232 "Notifications are sent when users are not watching/following forums"
**Steps**
1. User sdguntcqa(pw-T0pc0der@123) is registered to challenge 'DS F2f 11 23 2020'
2. Forum is https://vanilla.topcoder-dev.com/categories/91b26ce5-c10c-4f66-8b3f-6827e4f98dba-questions
3. Unfollow and unwatch all categories for the user
4. Add a discussion/comment on the same forum by logging in as copilot

The email notifications are still sent

[Screencast 2020-11-24.zip](https://githu

[2020-11-24 08:36] jmgasper commented on #136
@sdgun - For now, this is API only.  You can assume its working as designed.

[2020-11-24 08:55] jmgasper commented on #230
@callmekatootie - Caught and fixed already:  https://github.com/topcoder-platform/forums/issues/229

[2020-11-24 08:55] #230 closed

[2020-11-24 12:07] atelomycterus commented on #108
@jmgasper Thanks! Without the dump, it would be impossible to understand what the problem was.

PRs: https://github.com/topcoder-platform/forums/pull/233
https://github.com/topcoder-platform/forums-plugins/pull/49

### Issue
There were 2 records with UserID=0 in UserRole. There are no user with UserID=0 in User table.  After removing these records, everything works as expected.
![image](https://us

[2020-11-24 12:37] atelomycterus commented on #227
@sdgun @jmgasper

### Sorting after adding comments
I've checked how it works in the old forum. You are right, the posts sorted by last added comments.
Moreover, any edit changes also affect the sort. I'll fix it.

### Sorting after adding new discussions
 Announcements are always displayed before discussions. The same feature is implemented in the old forum. One difference is that announcements a

[2020-11-24 19:50] jmgasper opened #234 "[$50] High priority - Role check on direct URL"
@atelomycterus - We noticed that we can see things like this, even in incognito mode / not logged in:

https://discussions.topcoder.com/discussion/comment/172#Comment_172

No one should be able to see anything in a challenge forum if they aren't part of the challenge, and especially not if they're not logged in, thanks.

[2020-11-24 19:50] jmgasper commented on #234
Contest https://www.topcoder.com/challenges/30153683 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 19:50] jmgasper commented on #234
Contest https://www.topcoder.com/challenges/30153683 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 19:55] atelomycterus commented on #234
@jmgasper It'll be fixed with PRs: https://github.com/topcoder-platform/forums/issues/108. Guest had more permissions. See my comments https://github.com/topcoder-platform/forums/issues/108#issuecomment-732926134

[2020-11-24 19:58] atelomycterus commented on #234
@jmgasper Quick workaround for PROD: without deploying if you have access to PROD DB, just remove records with UserID=0 in UserRole table.

[2020-11-24 21:18] atelomycterus commented on #213
@jmgasper Keep you updated.
I'll test and push it tomorrow.

Discussions:
![image](https://user-images.githubusercontent.com/10196632/100151873-de166c80-2eb2-11eb-8342-1cfb5f1a85fd.png)

Comments.
![image](https://user-images.githubusercontent.com/10196632/100152362-a3610400-2eb3-11eb-9524-5668e78f676d.png)

[2020-11-24 21:56] jmgasper opened #235 "[$30] New line size"
@atelomycterus - Reported by someone in prod.  I'm getting more details, but if there's anything we can tweak in the theme, let me know.

[2020-11-24 21:56] jmgasper commented on #235
Contest https://www.topcoder.com/challenges/30153690 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 21:56] jmgasper commented on #235
Contest https://www.topcoder.com/challenges/30153690 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 22:02] jmgasper commented on #227
Contest https://www.topcoder.com/challenges/30153691 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 22:02] jmgasper commented on #227
Contest https://www.topcoder.com/challenges/30153691 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 22:02] #108 closed

[2020-11-24 22:02] jmgasper commented on #108
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149001<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 22:32] jmgasper opened #236 "[$25] Investigate deploy issue"
@atelomycterus - When deploying, after we switched to using the advanced editor, I have to go in and turn the rich text editor on / off before the advanced editor starts working.  Any idea why that may be?

[2020-11-24 22:32] jmgasper commented on #236
Contest https://www.topcoder.com/challenges/30153693 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 22:32] jmgasper commented on #236
Contest https://www.topcoder.com/challenges/30153693 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-25 04:20] sdgun commented on #108
Verified, the New Discussion button is not available before logging in.

[2020-11-25 04:28] sdgun opened #237 "[$75] Slowness in Posting discussions"
**Steps**
Log into forums as any user
Click New Discussion
Select a category and add some text
Click Post Discussion

The Post  Discussion button is getting enabled but the post is not being added for a few seconds, if user clicks the Post Discussion again it shows an error message

[Screencast 2020-11-25.zip](https://github.com/topcoder-platform/forums/files/5594414/Screencast.2020-11-25.zip)

[2020-11-25 11:59] atelomycterus commented on #213
@jmgasper Ready for the review. Need to test the editor before using it in Prod. See found issues. Please apply PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/31
https://github.com/topcoder-platform/forums/pull/238
https://github.com/topcoder-platform/forums-plugins/pull/50

### Attachments
![image](https://user-images.githubusercontent.com/10196632/100224690-36d71b00-2f2e-11e

[2020-11-25 16:40] atelomycterus commented on #236
@jmgasper Updated InputFormats in config.php.   Please check it after deploying.  PR- https://github.com/topcoder-platform/forums/pull/238. Thanks!

[2020-11-25 16:54] atelomycterus commented on #234
@jmgasper Ready for your review. After deploying PRs for https://github.com/topcoder-platform/forums/issues/108 , Guest should be redirected to sign-in URL or  see Permission problem page.

[2020-11-25 20:34] #234 closed

[2020-11-25 20:34] jmgasper commented on #234
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153683<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-25 20:56] atelomycterus commented on #104
@jmgapser I've looked at the challenge-api project. This project uses AWS S3 directly to upload/download attachments. No issues  because AWS S3 uses a file name with extension as a key.
![image](https://user-images.githubusercontent.com/10196632/100278044-40d03c80-2f75-11eb-800f-945c6a23fa41.png)

By default, Filestack stores uploaded files to an internally managed S3 bucket. Filestack generates u

[2020-11-25 23:12] #236 closed

[2020-11-25 23:13] jmgasper commented on #236
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153693<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-25 23:41] jmgasper commented on #104
@atelomycterus - I've asked a couple admins to chime in.

[2020-11-25 23:42] jmgasper commented on #213
@sdgun - This one's ready for some additional testing, thanks.

[2020-11-25 23:43] jmgasper opened #239 "[$150] Editor issues"
As reported when testing the markdown stuff (and by at least one person in prod):

Issues found during testing attachments

I've tried to use Markdown.

- insert images - quotes added incorrectly
- couldn't upload the same file as attachment and an image
- adding Url: cancel button is not working
- big spaces, formatting should be better
- smiles doesn't work in email template
- smiles is displaye

[2020-11-25 23:43] jmgasper commented on #239
Contest https://www.topcoder.com/challenges/30153863 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-25 23:43] jmgasper commented on #239
Contest https://www.topcoder.com/challenges/30153863 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-26 09:00] sdgun commented on #213
@atelomycterus @jmgasper Found the below issues:
1. When drag and drop multiple files, all of them are not attached
2. When insert a url after toggling full page, user is redirected to normal editor view with the drop down open(same issue when cancel the drop down)
3. Removed files are shown as undefined in comments but in reply when hover over them, the tool tip 'Click to re-attach' is available

[2020-11-26 11:39] atelomycterus commented on #213
@sdgun  Thanks! What about the display of attachments in the email?

@jmgasper I was curious why the Advanced editor has so many bugs. I decided to look at the activity history in the repository. I already checked the repository for new editor releases. Unfortunately, there are no new releases. This plugin was developed for Vanilla 2.2. So it is outdated and will not be supported by Vanilla commun

[2020-11-26 17:49] sdgun commented on #213
@atelomycterus There was no issue in displaying/downloading the attachments in the emails other than the already reported/known issues, however the attachments are displayed separated out by one space and looks a bit cluttered

![image](https://user-images.githubusercontent.com/4592712/100380799-8fe1a480-303d-11eb-88e5-46758cac2600.png)

[2020-11-26 20:39] atelomycterus commented on #227
@jmgasper I am working on it. This task takes longer than expected to fulfill the first requirement.
All Vanilla Entities have DateInserted/DateUpdated columns, but Date Updated is used only in one case to indicate that a record has been edited. These fields are not used in any calculations/aggregations. The main select queries uses DateInserted.
![image](https://user-images.githubusercontent.com/

[2020-11-27 23:22] #213 closed

[2020-11-27 23:22] jmgasper commented on #213
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152312<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-27 23:23] jmgasper opened #240 "[$25] Tweak file display on attachment emails"
From the ticket related to attachments:

@atelomycterus There was no issue in displaying/downloading the attachments in the emails other than the already reported/known issues, however the attachments are displayed separated out by one space and looks a bit cluttered

![image](https://user-images.githubusercontent.com/4592712/100380799-8fe1a480-303d-11eb-88e5-46758cac2600.png)

[2020-11-27 23:23] jmgasper commented on #240
Contest https://www.topcoder.com/challenges/30154419 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-27 23:23] jmgasper commented on #240
Contest https://www.topcoder.com/challenges/30154419 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-28 11:10] atelomycterus commented on #231
@jmgasper @sdgun Thanks! I've fixed it. Please verify it after deploying.

### Developer Notes
Vanilla paramPreference() resets User preferences if there are several dropdowns(sorts/filters) used in a page.

[2020-11-28 14:04] atelomycterus commented on #227
@jmgasper @sdgun Ready for your review.
Pleas apply PR - https://github.com/topcoder-platform/forums/pull/241/. Thanks!

**Before my changes**: By default Vanilla uses only DateInserted in select queries So the last date is always DateInserted (discussion or comment). DateUpdated is only displayed if the record has been edited by someone.

Now the last date can be any of InsertedDate(discussion),

[2020-11-28 14:09] atelomycterus commented on #239
@jmgasper Please confirm if we are going to use the outdated Advanced Editor. My comment about editors -https://github.com/topcoder-platform/forums/issues/213#issuecomment-734248998

[2020-11-28 18:43] atelomycterus commented on #240
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/32. Thanks.

In addition, I added file size for each attachment. I placed the text next to it, because it looks more readable than when the file size is part of the link. Each attachment provides information about the document ( name and file size). This gives users a good idea of what to expect if they follow

[2020-11-29 02:04] jmgasper commented on #240
Looks good, thanks!

[2020-11-29 02:04] #240 closed

[2020-11-29 02:04] jmgasper commented on #240
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154419<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:06] jmgasper commented on #231
Contest https://www.topcoder.com/challenges/30154453 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:06] #227 closed

[2020-11-29 02:06] jmgasper commented on #227
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153691<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:06] jmgasper commented on #231
Contest https://www.topcoder.com/challenges/30154453 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:06] #231 closed

[2020-11-29 02:11] jmgasper commented on #231
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154453<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:13] jmgasper commented on #219
Contest https://www.topcoder.com/challenges/30154454 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:15] jmgasper commented on #219
Contest https://www.topcoder.com/challenges/30154454 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:19] jmgasper commented on #239
@atelomycterus - We're going to test the Rich editor.  Sorry for the confusion.

[2020-11-29 02:19] #239 closed

[2020-11-29 02:19] jmgasper commented on #239
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:19] jmgasper commented on #237
Contest https://www.topcoder.com/challenges/30154455 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:19] jmgasper commented on #237
Contest https://www.topcoder.com/challenges/30154455 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:19] jmgasper commented on #237
@atelomycterus - Any thoughts on what we might be able to do to speed this up?

[2020-11-29 02:21] #208 closed

[2020-11-29 02:27] jmgasper commented on #217
@sdgun - I can't reproduce this.  Can you try again please?

[2020-11-29 02:28] jmgasper commented on #207
Contest https://www.topcoder.com/challenges/30154457 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:28] jmgasper commented on #207
Contest https://www.topcoder.com/challenges/30154457 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:29] jmgasper commented on #173
Should be fixed with the rich editor

[2020-11-29 02:30] jmgasper commented on #177
This looks to be fixed

[2020-11-29 02:31] jmgasper commented on #202
Contest https://www.topcoder.com/challenges/30154458 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:31] jmgasper commented on #202
Contest https://www.topcoder.com/challenges/30154458 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:31] jmgasper commented on #195
We don't want to watch / follow by default for admin / observers.  We'll only do this for copilots and members.

[2020-11-29 02:31] #195 closed

[2020-11-29 02:33] jmgasper commented on #156
Contest https://www.topcoder.com/challenges/30154459 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 02:33] jmgasper commented on #156
Contest https://www.topcoder.com/challenges/30154459 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 18:35] atelomycterus commented on #218
@jmgasper

### ISSUE 1 - FEEDBACK

Precodition: The current page is a group page. Group Type = Challenge.
User clicks on 'New Discusison'/ 'New Announcemnt' in a group page. Vanilla displays a default page with the category dropdown. This happens because there is no category selected.  Challenge has several discussion categories (Code Documents, Code Questions..).  Which category should be used by

[2020-11-29 19:23] atelomycterus commented on #237
@jmgasper In sdgun's video the Advanced editor is used. I've also noticed it works slowly.

Whatever editor we use vanilla does :
- save a draft every minute in a background (autosave feature); save/remove a draft for preview only

if User presses Save,
-  remove  a draft
-  validate a post. The Discussion model fires several events (BeforeSaveDiscussion and so on). Some plugins can also perform d

[2020-11-29 21:02] atelomycterus commented on #235
@jmgasper Legacy rich editor css style from Vanilla dashboard package. Please clear browser cache before testing.
let me know If you need even less.
PR-https://github.com/topcoder-platform/forums/pull/243/. Thanks!

![image](https://user-images.githubusercontent.com/10196632/100553459-0df0b600-329f-11eb-93a8-2f8ced431566.png)

[2020-11-29 23:55] jmgasper commented on #218
1.  Let's do `Code Questions` as the default.

[2020-11-29 23:57] #235 closed

[2020-11-29 23:58] jmgasper commented on #235
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30153690<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-29 23:58] jmgasper commented on #237
@sdgun - Can you retest with the latest updates please?

[2020-11-29 23:58] #237 closed

[2020-11-29 23:58] jmgasper commented on #237
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154455<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 03:20] sdgun opened #244 "[$150] Quoted comments are not displayed properly in the notifications"
**Steps**
Log in as any user and go to any discussion
Quote a comment added by a user and post a comment on it
Check the email notification

Quoted comment is not displayed properly in the notifications

![image](https://user-images.githubusercontent.com/4592712/100565139-e32b4f80-32e8-11eb-9b27-2804a5df7eaf.png)

[2020-11-30 03:22] sdgun opened #245 "[$25] Smiles are always shown in a new line in the notification"
**Steps**
Log in as any user and go to any discussion
Add a comment/reply or a new discussion with some smileys
Check the email notification by logging in from another user who is watching the discussion

Smiles are always shown in a new line in the notification

Forum:
![image](https://user-images.githubusercontent.com/4592712/100565328-546b0280-32e9-11eb-8d74-81136381e11e.png)

Email:
![image](h

[2020-11-30 03:26] sdgun opened #246 "Attachments in the notification are prompted to download in a new empty tab"
**Steps**
Log in as any user and go to any discussion
Add a comment/reply or a new discussion with some word, excel file attachments
Check the email notification by logging in from another user who is watching the discussion
Click on the attachment links

Attachments in the notification are prompted to download in a new empty tab

![image](https://user-images.githubusercontent.com/4592712/10056555

[2020-11-30 04:03] sdgun commented on #237
@jmgasper I can still see this slowness with the new editor too, specially when adding new discussions.

[Screencast 2020-11-30.zip](https://github.com/topcoder-platform/forums/files/5613740/Screencast.2020-11-30.zip)

[2020-11-30 05:02] sdgun commented on #177
@jmgasper We still have this issue

![image](https://user-images.githubusercontent.com/4592712/100570665-4a500080-32f7-11eb-9ada-083bf6daaa59.png)

[2020-11-30 05:17] jmgasper commented on #244
Contest https://www.topcoder.com/challenges/30154493 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 05:17] jmgasper commented on #244
Contest https://www.topcoder.com/challenges/30154493 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 05:18] jmgasper commented on #245
Contest https://www.topcoder.com/challenges/30154494 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 05:18] jmgasper commented on #245
Contest https://www.topcoder.com/challenges/30154494 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 05:18] jmgasper commented on #246
I think this is fine.  This is also likely a side effect of how Gmail handles things.

[2020-11-30 05:18] #246 closed

[2020-11-30 05:22] jmgasper commented on #177
Contest https://www.topcoder.com/challenges/30154496 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 05:22] jmgasper commented on #177
Contest https://www.topcoder.com/challenges/30154496 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 06:39] sdgun commented on #173
@jmgasper This issue is still happens with the new editor too.

[2020-11-30 06:43] jmgasper commented on #173
@sdgun  - Even using the backspace key on the keyboard?

[2020-11-30 06:57] sdgun commented on #173
@jmgasper When clicking backspace it is not deleted, and the keypad gets hidden

[SESV0314.zip](https://github.com/topcoder-platform/forums/files/5614201/SESV0314.zip)

[2020-11-30 07:05] sdgun commented on #217
@jmgasper This can be reproduced, checked by creating a post from TCConnCopilot in https://vanilla.topcoder-dev.com/discussion/1777/3rd and then log in as user sdguntcqa(pw-T0pc0der@123)

[Delete comments issue.zip](https://github.com/topcoder-platform/forums/files/5614258/Delete.comments.issue.zip)

[2020-11-30 10:26] sdgun commented on #240
@jmgasper @atelomycterus The format mentioned in atelomycterus's above comment(file size and the label 'Attachments:') is not reflected in the notification email, and the spacing seems to be bigger between the attachments

![image](https://user-images.githubusercontent.com/4592712/100598236-7766d800-3324-11eb-8a54-81d86142e330.png)

[2020-11-30 10:29] atelomycterus commented on #245
@jmgasper @sdgun Couldn't reproduce it. Tested with 2 different web clients and mobile.
@sdgun What mail client do you use? Could you forward me (o_bogdanova@inbox.ru) your email? I'll have a look at view source.

Testing:
https://vanilla.topcoder-dev.com/discussion/1869/tco-2020-test-with-smiles
https://vanilla.topcoder-dev.com/discussion/1740/tests-handles#latest

![image](https://user-images.gi

[2020-11-30 10:34] atelomycterus commented on #240
@sdgun Could you provide a link to the discussion? Thanks!

[2020-11-30 10:41] sdgun commented on #240
@atelomycterus https://vanilla.topcoder-dev.com/discussion/1777/3rd#latest

[2020-11-30 10:50] sdgun commented on #245
@atelomycterus Attachments for your reference, please let me know if you need any more information

[Smiley issue 2.zip](https://github.com/topcoder-platform/forums/files/5615480/Smiley.issue.2.zip)
[Smiley issue.zip](https://github.com/topcoder-platform/forums/files/5615481/Smiley.issue.zip)

[2020-11-30 11:12] atelomycterus commented on #240
@jmgasper @sdgun The ticket https://github.com/topcoder-platform/forums/issues/213 was created for Advanced Editor.
Now we are using Rich Editor. Each editor has different format.

Advanced Editor uses markdown format. User could't see attached files in notification emails if a post with attached files was created using Advanced Editor.  https://github.com/topcoder-platform/forums/issues/213  fixe

[2020-11-30 14:44] atelomycterus commented on #244
@jmgasper Need  more work to handle embedded content (quotes, spoilers  and so on) in emails. Vanilla Formatter (Rich to Html) renders imbedded content as

![image](https://user-images.githubusercontent.com/10196632/100623397-290d0580-3333-11eb-90d0-f58ecfe75f76.png)

Rich editor is built on top of content editable using Quill.js, Quill's document model parchment and React.
This output is rendered

[2020-11-30 15:29] atelomycterus commented on #245
@sdgun Thanks!
@jmgasper Let me know what should be fixed/implemented.

1) To support text emoticons  (`:)` , and so on) - need to write a custom blot (aka extension for Rich Editor)

2) Tested with Gmail. It replaces smiles with own images.
![image](https://user-images.githubusercontent.com/10196632/100629039-e8fd5100-3339-11eb-82c2-5d6021c48e57.png)

![image](https://user-images.githubuserconten

[2020-11-30 17:10] rootelement opened #247 "[$300] Initial Page Load"
Looks like when you go to https://discussions.topcoder.com, it takes ~9seconds for the page to load. After a couple page loads, i sorted the load time descending and see this:
<img width="1575" alt="Screen Shot 2020-11-30 at 10 33 51 AM" src="https://user-images.githubusercontent.com/5400156/100641032-fd732680-3304-11eb-90e6-23104e77122b.png">
<img width="1589" alt="Screen Shot 2020-11-30 at 10 32

[2020-11-30 18:05] atelomycterus commented on #218
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/34. Thanks!

**Regular Group**
- a regular group  - the default category is selected by default
![image](https://user-images.githubusercontent.com/10196632/100646774-844cf100-334f-11eb-9dfb-e5ab3ef69684.png)

**Challenges**
Challenges have different categories.
_Development/Data Science/QA_  -  'Code Questio

[2020-11-30 18:23] atelomycterus commented on #219
@sdgun
1. Challenge only can be created by a challenge forum processor.  'Challenge' button has been hidden (issue - https://github.com/topcoder-platform/forums/issues/218)

2. I see you tested with Firefox.  I couldn't reproduce it. I've tested it using Chrome/Opera/Firefox.
What version of Firefox?  Could you record a video? Thanks!
Firefox:
![image](https://user-images.githubusercontent.com/101

[2020-11-30 20:32] jmgasper commented on #173
Contest https://www.topcoder.com/challenges/30154850 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 20:33] jmgasper commented on #247
Contest https://www.topcoder.com/challenges/30154851 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 20:33] jmgasper commented on #247
Contest https://www.topcoder.com/challenges/30154851 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 20:33] jmgasper commented on #247
@atelomycterus - Can we make speeding this up top priority please?

[2020-11-30 20:37] atelomycterus commented on #207
@jmgasper Keep you updated:
Rich Editor is written using React and a part of core Vanilla library. The downloaded Vanilla distr is prebuild.
To fix this ticket:
 - install dependencies locally and build updated frontend.

So I am trying to build it locally from Vanilla src  but it has issue with bower. Bower is installed locally.
![image](https://user-images.githubusercontent.com/10196632/10066164

[2020-11-30 20:37] atelomycterus commented on #247
@jmgasper Yes, sure

[2020-11-30 20:38] jmgasper commented on #217
Contest https://www.topcoder.com/challenges/30154852 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 20:39] jmgasper commented on #217
@atelomycterus - I checked this in the permissions.  `sdguntcqa` has roles Vanilla Member and Topcoder User, but neither seem to have rights to edit comments / discussions - only add / view.

[2020-11-30 20:40] jmgasper commented on #217
Contest https://www.topcoder.com/challenges/30154852 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 20:40] jmgasper commented on #240
@atelomycterus - Sorry for the confusion about the editor.  I think what we have is fine for now - as long as the links are there, it shouldn't be a problem in the short term.  We can revisit the formatting later.

[2020-11-30 20:42] jmgasper commented on #245
@atelomycterus - I don't think we want to do a bunch of custom work for this.  I'm going to close this for now and we can revisit it way in the future if it's still an issue.

[2020-11-30 20:42] #245 closed

[2020-11-30 20:42] jmgasper commented on #245
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154494<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 21:11] atelomycterus commented on #217
@jmgasper yes, you are right. User doesn't have permisisons. I've checked what permisisons loaded:
![image](https://user-images.githubusercontent.com/10196632/100666008-62f8fe80-3369-11eb-812a-61541b11a3aa.png)

 I've found a bug in Vanilla CommentModel canEdit().

[2020-12-01 04:29] sdgun commented on #219
@atelomycterus This issue only occurred for manually created challenges which is now removed in [#218 ](https://github.com/topcoder-platform/forums/issues/218)

[2020-12-01 04:56] #219 closed

[2020-12-01 04:56] jmgasper commented on #219
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154454<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 06:41] sdgun commented on #231
Verified, the view drop down is not getting reset now.

[2020-12-01 06:49] sdgun opened #248 "[$40] Inside categories, 'Following' filter is showing discussions which are not being followed"
**Steps**

1. Access https://vanilla.topcoder-dev.com/categories/91b26ce5-c10c-4f66-8b3f-6827e4f98dba?followed=0&save=1&TransientKey=SkfXl6eF0tFCkCwm  as sdguntcqa(T0pc0der@123)
2. Click View drop down and select 'All'
3. Click Code Questions to go into the category
4. Click view >> Following

Since the user has unfollowed this category, none of the discussions in that are followed, but after step

[2020-12-01 07:46] sdgun commented on #227
Verified sorting by adding comments/editing comments/adding new discussions/editing discussions/replying, sorting works as expected.

[2020-12-01 12:59] atelomycterus commented on #217
@jmgasper Fixed. please apply PRs:
https://github.com/topcoder-platform/forums/pull/249
https://github.com/topcoder-platform/forums-plugins/pull/51/
https://github.com/topcoder-platform/forums-groups-plugin/pull/35
Thanks!

### Testing
Don't use TonyJ account for testing because this account has several admin roles with Comments.Edit/Comments.Delete permissions. Please test with group members (cop

[2020-12-01 18:52] atelomycterus commented on #247
@jmgasper There are 2 main issues.

### Screens
Recent discussion page with a topcoder DB dump from my local env.
I've made the screens from DEV for statistics. We can compare performance after deploying.

Before any changes :
![image](https://user-images.githubusercontent.com/10196632/100782583-b036a800-341d-11eb-8fa3-e3e1c94e24fe.png)

![image](https://user-images.githubusercontent.com/10196632/

[2020-12-01 20:25] atelomycterus commented on #247
@jmgasper  I'm implementing cache in Topcoder plugin. Vanilla provides a cache layer.

[2020-12-01 20:59] jmgasper commented on #248
Contest https://www.topcoder.com/challenges/30155212 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 20:59] jmgasper commented on #248
Contest https://www.topcoder.com/challenges/30155212 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:17] #217 closed

[2020-12-01 22:17] jmgasper commented on #217
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154852<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:18] jmgasper commented on #244
@atelomycterus - I'm fine with the changes described above, and I've bumped the payment on this ticket to account for the additional work, thanks.  If you need anything else, or if the payment should be higher, just let me know!

[2020-12-01 22:18] #218 closed

[2020-12-01 22:18] jmgasper commented on #218
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30152439<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:20] #176 closed

[2020-12-01 22:20] jmgasper commented on #176
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150810<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:21] jmgasper commented on #124
@atelomycterus - Let's do this, if possible:

* Remove the checkmarks
* Default to just `in the category`

If the user later wants to make it an announcement, they can "promote" the comment via the UI.

[2020-12-01 22:22] jmgasper commented on #103
@atelomycterus - If you need anything else here, let me know, thanks!

[2020-12-02 04:48] sdgun commented on #176
Verified, the colors appear correct in the Notifications

![image](https://user-images.githubusercontent.com/4592712/100829585-b497ab00-3487-11eb-9bf7-99f9aec48dbc.png)

[2020-12-02 05:17] sdgun opened #250 "[$40] When replying to comments, the original comment's author is shown incorrect in the notification"
**Steps**
Log in as a normal user and reply to a comment added by any other user
Check the email notification of the original comment's author

The notification sends out the original comment in the notification but it says that comment is by the user who replied the comment

![image](https://user-images.githubusercontent.com/4592712/100831388-b5cad700-348b-11eb-8391-86b716aefd81.png)

[Reply comm

[2020-12-02 06:13] sdgun commented on #217
Verified from normal user, copilot, con admin and manager.
normal user(sdguntcqa)/manager(TCConManager) - can reply anyone's comments and edit his comments
copilot(TCConnCopilot) - can reply/delete anyone's comments and edit/reply/delete his comments
con admin(TCConAdmin) - can edit/reply/delete anyone's comments and his comments

[2020-12-02 09:02] sdgun commented on #218
Verified, issue 2 is fixed.

[2020-12-02 10:33] jmgasper commented on #250
Contest https://www.topcoder.com/challenges/30155330 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 10:33] jmgasper commented on #250
Contest https://www.topcoder.com/challenges/30155330 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 15:18] atelomycterus commented on #247
@jmgasper Keep you updated. I've implemented caching Topcoder User Details in Topcoder plugin. I started testing and enabled cache locally.  Vanilla is full of surprises. After enabling cache, Topcoder auth  isn't working because getByUserName returns always empty. It uses cache data and user wasn't found. I've fixed it. Then the same issues with permissions and roles. Vanilla couldn't start a new

[2020-12-02 19:14] atelomycterus commented on #247
@jmgasper Ready for your review.
PRs:
https://github.com/topcoder-platform/forums/pull/251
https://github.com/topcoder-platform/forums-plugins/pull/52
https://github.com/topcoder-platform/forums-groups-plugin/pull/36

### Configuration
Please check 'getenv('CACHE_ENABLED')', `getenv('CACHE_METHOD')` for Dev env. See my prev comment, these params looks like empty.

Example config with working memca

[2020-12-02 20:08] atelomycterus commented on #247
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/252. Thanks!

$Configuration['Cache']['Enabled'] must be boolean,  getenv('CACHE_ENABLED') returns string value. I fixed it.
[code]
Sorry about that.

[2020-12-02 20:25] atelomycterus commented on #250
@jmgasper Fixed. PR- https://github.com/topcoder-platform/forums-groups-plugin/pull/37. Thanks!

![image](https://user-images.githubusercontent.com/10196632/100927220-a54f4680-34f5-11eb-8607-9fd3da4a9bfc.png)

[2020-12-02 20:43] atelomycterus commented on #248
@jmgasper @sdgun 'Following' filter/'Following' feature is applied for categories only, not discussions.
This category page displays discussions. User can't follow a discussion, but User can bookmark a discussion.
We can hide it for this page.
![image](https://user-images.githubusercontent.com/10196632/100928789-b8fbac80-34f7-11eb-8efb-3a1901b41804.png)

[2020-12-02 20:50] atelomycterus commented on #248
@jmgasper let me know if you are ok with ☝️

[2020-12-02 20:51] jmgasper commented on #247
@atelomycterus - We set those config values in dev:

[code]

I'm redeploying now, thanks.

[2020-12-02 21:20] jmgasper commented on #248
@atelomycterus - That's fine, thanks.

[2020-12-02 21:21] #250 closed

[2020-12-02 21:21] jmgasper commented on #250
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155330<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 22:46] jmgasper commented on #247
@atelomycterus - Still seems a bit slow in dev - anything I can do to help debug what's still going on?  Thanks!

[2020-12-02 23:24] jmgasper commented on #247
@atelomycterus - One other thing - is there a key or keys we can check in the memcache to make sure that the caching is working?  Thanks!

[2020-12-03 04:56] sdgun commented on #250
Verified, the correct user id is displayed for the original comment

[2020-12-03 05:03] atelomycterus commented on #247
@jmgasper I've checked DEV.
### Memcached
The Vanilla cache is enabled and works.
![image](https://user-images.githubusercontent.com/10196632/100965984-f171a980-353c-11eb-8af8-bbf3a82f58c9.png)

### Results in DEV
I've checked page rendering  (https://github.com/topcoder-platform/forums/issues/247#issuecomment-736748965):
![image](https://user-images.githubusercontent.com/10196632/100966247-811758

[2020-12-03 05:26] atelomycterus commented on #247
You can connect to memcached with telnet and use 'stats' or 'get' ('get YOUR_KEY').
I used `php -r '$c = new Memcached(); $c->addServer("memcached-local", 11211); var_dump( $c->getAllKeys() );'`
This command should be run at Vanilla server because it uses php.

Displayed all keys:
![image](https://user-images.githubusercontent.com/10196632/100967029-4dd5c880-353f-11eb-8485-ea9490df3c2e.png)

[2020-12-03 05:32] callmekatootie opened #253 "What is the difference between announcements and discussions"
I no longer see Code Documents v/s Code Questions but instead see Announcements and Discussions.

What's the difference between the two?

[2020-12-03 05:35] sdgun opened #254 "[$30] When new page is created in a discussion, the view is reset to Flat"
**Steps**
Log in as copilot user and go to any discussion(ex- https://vanilla.topcoder-dev.com/discussion/1889/code-docs-inside/p1) - delete the comment in the 2nd page to easily recreate this
Select Tree view or Threaded view
Keep creating comments/replies until second page is created
Once page 2 is created,
Click either 'Previous' or page 1 to go back to page 1
Check the view

The view is reset

[2020-12-03 05:35] callmekatootie opened #255 "Cannot attach json file"
The file explorer does not show json files.

Attaching json files gives the message - File format not supported.

the UI element that I am using to attach files:

![image](https://user-images.githubusercontent.com/2317133/100968517-7a95da00-3557-11eb-8272-cddf27cb8d86.png)

[2020-12-03 05:38] sdgun opened #256 "[$60] When there are comments across multiple pages, when user selects a view from 1st page, it's opening the page 2"
**Steps**
Log in as copilot user and go to any discussion(ex- https://vanilla.topcoder-dev.com/discussion/1889/code-docs-inside/p1)
Select Tree view or Threaded view

Navigates to page 2

[Screencast 2020-12-03.zip](https://github.com/topcoder-platform/forums/files/5633863/Screencast.2020-12-03.zip)

[2020-12-03 05:43] callmekatootie opened #257 "What is select a category when creating a new discussion"
![image](https://user-images.githubusercontent.com/2317133/100968609-a4e79780-3557-11eb-82b0-03049f941390.png)

What should go into this field - I can see my contest in there, and underneath it I see Code Documents and Code Questions.

I selected Code Documents - and created the discussion... But in the main forums, I see the thread under Discussions only...

And then I saw the breadcrumbs above -

[2020-12-03 06:11] sdgun opened #258 "[$30] The default created Announcement in the code documents is not shown in the Announcements section until another discussion is announced"
**Steps**

1. Log in as copilot user and go to a newly created challenge forum and check the announcements(no announcements even though there is an announcement which is created by default in the code documents) ex- https://vanilla.topcoder-dev.com/group/230
2. Now create a new discussion and announce it
3. Check the announcements section now

The newly announced discussion and default discussion

[2020-12-03 07:24] sdgun opened #259 "Search results text overlap in mobile when the discussion has a long name"
**Steps**
Log into forums from a mobile device
Do a search by keyword 'Forum'
See the results

Devices :IOS/Android

![IMG_6519](https://user-images.githubusercontent.com/4592712/100977214-ae2c3080-3566-11eb-8878-a0b31395d7f7.jpg)

[2020-12-03 09:06] jmgasper commented on #253
@callmekatootie - Can you post a screenshot please?

[2020-12-03 09:06] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30155618 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 09:07] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30155619 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 09:07] jmgasper commented on #256
Contest https://www.topcoder.com/challenges/30155619 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 09:08] jmgasper commented on #258
Contest https://www.topcoder.com/challenges/30155620 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 09:08] jmgasper commented on #258
Contest https://www.topcoder.com/challenges/30155620 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 09:08] jmgasper commented on #254
Contest https://www.topcoder.com/challenges/30155618 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 09:10] callmekatootie commented on #253
Screenshot:

![image](https://user-images.githubusercontent.com/2317133/100988132-62cd4e80-3575-11eb-9f78-fc1b92ed8951.png)

[2020-12-03 11:36] callmekatootie commented on #255
Cannot attach adobe xd design file

[2020-12-03 11:37] callmekatootie commented on #253
So - Clicking on the link in the email (when the contest is first launched) gives the above.

Clicking on the link in the challenge details page shows me the Code Questions / Code Documents page... If that helps

[2020-12-03 11:46] callmekatootie opened #260 "tabindex for the fnew discussion form"
Would be nice to have the Discussion Title focused on page load.

On pressing tab in the discussion title, would be nice for the cursor to move to the message box

[2020-12-03 11:47] callmekatootie opened #261 "Ctrl + Enter to create the new discussion"
Would be nice to hit Ctrl + Enter after entering the values in the New Discussion form and for the form to submit and the post to get created.

(Try it in github's own box - expecting same feature for our new forums)

[2020-12-03 11:48] atelomycterus commented on #258
@jmgasper @sdgun I've noticed missing announcements. Group page doesn't display announcements until new ones are created in a category. It happens due to cache. Vanilla caches  announcement IDs by a category.
I already found where the problem is happening. I'fix it.
[code]

Until today, Vanilla has not been configured with memcached. Data was always read from Database. Now Vanilla uses memcached i

[2020-12-03 12:01] atelomycterus commented on #258
@jmgasper Fixed.  Please apply PR-https://github.com/topcoder-platform/forums/pull/262.

### Testing
The default created Announcement in the code documents should be displayed:
![image](https://user-images.githubusercontent.com/10196632/101015365-57c7ed80-3578-11eb-90f5-fb1c2c16f15c.png)

[2020-12-03 12:13] atelomycterus commented on #248
@jmgasper Fixed. Please apply PR-  https://github.com/topcoder-platform/forums/pull/262. Thanks!

### Testing
Category with discussions: the following filter is not displayed.
![image](https://user-images.githubusercontent.com/10196632/101016005-3fa49e00-3579-11eb-9f7b-0a729b72a866.png)

Pages: Recent Discussions and Categories with nested categories should display the following filter:
![image](h

[2020-12-03 12:30] atelomycterus commented on #256
@jmgasper I've looked at the old forums. Flat view supports paging. Tree View/ Threaded View doesn't support paging and  all comments are displayed on one page. The number of comments is 3-20 per a discussion.

Let me know if you are ok if Tree View/Threaded View doesn't support paging.

Example an old forum with 50+ comments:
![image](https://user-images.githubusercontent.com/10196632/101017858-b

[2020-12-03 17:36] atelomycterus commented on #124
@jmgasper Done. Please apply PR-https://github.com/topcoder-platform/forums/pull/262.

Discussion will be created in the category:
![image](https://user-images.githubusercontent.com/10196632/101065979-e0f61900-35a6-11eb-87c8-c216bc3b7dd4.png).

More info about how Recent pages displays data:

![image](https://user-images.githubusercontent.com/10196632/101066124-0edb5d80-35a7-11eb-916f-0da61c372080

[2020-12-03 18:30] atelomycterus commented on #157
@jmgasper @sdgun
The text is saved once a minute, JScript is executed asynchronously.  'Cancel Reply'  doesn't affect saving a draft.
To test autosaving-feature:
 - edit a comment
 - wait about 1 min. You should see a 'Draft saved'.
 - edit text again and after 1 min the draft  is saved.
Not sure if autosave will work if user closes a browser, etc. Need to check code.
Background  requests:
![image

[2020-12-03 19:54] atelomycterus commented on #177
@jmgasper Fixed. Vanilla  bug -  a category (type=nested) without children displays all followed categories. Please apply PR
https://github.com/topcoder-platform/forums/pull/262. Thanks!

### Testing
Categories without children should display 'no categories'
![image](https://user-images.githubusercontent.com/10196632/101080626-135d4180-35ba-11eb-9704-62820352b0a7.png)

[2020-12-03 19:57] atelomycterus commented on #254
@jmgasper Related Issue- https://github.com/topcoder-platform/forums/issues/256. Need your feedback with tree/threaded view+ paging.

[2020-12-03 21:17] #247 closed

[2020-12-03 21:17] jmgasper commented on #247
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154851<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 21:28] #258 closed

[2020-12-03 21:29] jmgasper commented on #258
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155620<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 21:33] #248 closed

[2020-12-03 21:33] jmgasper commented on #248
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155212<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 21:40] jmgasper commented on #256
Yeah, that's fine.  If we're consistent with the old forums, people should be happy with that, thanks.

[2020-12-03 21:41] jmgasper commented on #175
@atelomycterus - Yep, that's no problem.

[2020-12-03 21:42] #124 closed

[2020-12-03 21:42] jmgasper commented on #124
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149311<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-03 21:42] #177 closed

[2020-12-03 21:42] jmgasper commented on #177
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154496<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 04:33] sdgun commented on #177
Verified.

[2020-12-04 04:33] callmekatootie opened #263 "Feature Request: Polls"
Feature Request - Ability to conduct polls.

On occasion, I've had to check with the participants if they are ok with an extension. Would like to conduct a poll in this scenario instead of members having to respond in the thread.

[2020-12-04 04:51] sdgun commented on #124
Verified, the three options have been removed.

[2020-12-04 05:22] sdgun commented on #219
@atelomycterus @jmgasper Looks like my above comment is incorrect, I can see this happening in Firefox again, version is 83.0.

**Steps**
Go to https://vanilla.topcoder-dev.com
Click New Discussion
Click Category drop down(Even the challenge names and categories have no visual difference)
Select any category
Click Category drop down again

[Screencast 2020-12-04.zip](https://github.com/topcoder-pl

[2020-12-04 05:33] sdgun commented on #248
Verified, this filter is hidden for the discussions now.

[2020-12-04 05:54] sdgun commented on #258
Verified, the announcement appears by default.

[2020-12-04 06:37] atelomycterus commented on #103
@jmgasper I wanted to reproduce this issue in DEV but I noticed that posting format is text. Rich Editor has a simple view in DEV. If post format is text then user can't upload images/attachments. Let me know if we are going to use Rich format. I'll update FormatInput in config.php.

![image](https://user-images.githubusercontent.com/10196632/101129865-73cc9d00-3613-11eb-8387-87c6e2796c5b.png)

![

[2020-12-04 07:36] sdgun commented on #229
@atelomycterus Are we not setting auto follow to copilot and normal users too now? I can see in the new challenges we create, Copilot is not auto-following or auto-watching and for the normal user, auto-follow is not set but auto-watch is set

Ex- https://vanilla.topcoder-dev.com/categories/0cd6ea23-7167-4794-8fb0-d9078d40f22d
normal user - sdguntcqa
copilot user - TCConnCopilot

[2020-12-04 08:51] atelomycterus commented on #229
@sdgun Copilot and members should auto-follow+auto-watch.  Maybe not all rest api methods are updating/rebuild cache for a user. I I'll check it.

[2020-12-04 10:16] atelomycterus commented on #229
@jmgasper If you don't mind, I will make a plugin that allows only SQL select to execute on DB. It will allow me to fix errors faster, especially in cases where it is impossible to reproduce locally. I will do it as a plugin so that you can safely not deploy it PROD for security reasons.

@sdgun I've checked challenge forum processor's logs from DEV , no errors
![image](https://user-images.githubu

[2020-12-04 10:57] jmgasper commented on #103
@atelomycterus - Not sure what happened there.  I just turned the rich editor off and on again and it appears to be working now.

[2020-12-04 11:03] jmgasper commented on #229
@atelomycterus - Yeah, if there's anything we can build to help debugging in the future in dev, that's fine.

[2020-12-04 11:33] mark-nakachon commented on #261
asdas

[2020-12-04 15:25] atelomycterus commented on #156
@jmgasper Fixed. Please apply PR:https://github.com/topcoder-platform/forums-plugins/pull/53. Thanks!
![image](https://user-images.githubusercontent.com/10196632/101181201-a8fddd00-365d-11eb-89d1-1ad487d0adc3.png)

[2020-12-04 15:58] atelomycterus commented on #256
@jmgasper Done. Please apply PRs: https://github.com/topcoder-platform/forums-plugins/pull/53,
https://github.com/topcoder-platform/forums/pull/264.
The new  Vanilla feature (CommentsAutoOffset) is discovered by sdgun. It's enabled by default. Read more  in 'CommentsAutoOffset'.

### Views
Flat View is set by default and supports 'CommentsAutoOffset'.
Tree/Threaded View doesn't support it because

[2020-12-04 16:01] atelomycterus commented on #254
@jmgasper. Fixed with  #256.

[2020-12-04 20:50] #156 closed

[2020-12-04 20:50] jmgasper commented on #156
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154459<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 20:51] #256 closed

[2020-12-04 20:51] jmgasper commented on #256
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155619<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 20:51] #254 closed

[2020-12-04 20:51] jmgasper commented on #254
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155618<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 20:52] jmgasper commented on #103
@atelomycterus - Yeah, I think if we can just say something like `You don't have permission to upload files`, that would be good.  Sorry about the format problem - that was my fault.  Thanks for fixing that.

[2020-12-04 21:33] atelomycterus commented on #229
@jmgasper Please apply PR- https://github.com/topcoder-platform/forums-plugins/pull/54.
Sql Plugin has one method  only. Disabled by default. Required 'Garden.Settings.Manage' permission. Only 'select' query.

TODO (atelomycterus):
After deploying check data: for
 - normal user - sdguntcqa
 - copilot user - TCConnCopilot

-- check watching categories
select um.* from GDN_UserMeta um left join GDN_

[2020-12-04 21:36] jmgasper commented on #229
@atelomycterus - Deploying now.  Should be available in dev in 10 minutes or so.

[2020-12-04 21:36] jmgasper opened #265 "[$100] Build debugging plugin to help with bug investigation"
As discussed - dev only, off by default.

[2020-12-04 21:36] jmgasper commented on #265
Contest https://www.topcoder.com/challenges/30155958 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 21:36] jmgasper commented on #265
Contest https://www.topcoder.com/challenges/30155958 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 21:53] atelomycterus commented on #103
@jmgasper PR-https://github.com/topcoder-platform/forums/pull/266 - update a message in the Rest API. Unfortunately, need to fix and rebuild frontend because the editor displays  the hard-coded error message.  We have several frontend issues. I'm going to fix them  tomorrow.
![image](https://user-images.githubusercontent.com/10196632/101218224-bf269000-3693-11eb-9310-4ec0edc307b2.png)

![image](ht

[2020-12-05 03:55] callmekatootie opened #267 "Feature Request: Push Notifications"
OMG! The new forums show notifications!

< insert jonah hill excited giphy here >

Was on the new forums page, and observed a notification at the bottom left of a new discussion that was just created! Totally impressed. :heart: it.

Is it possible to use the browser's push notifications here - member can give permissions for it and every time there is a new discussion, the browser notifies the use

[2020-12-05 13:31] callmekatootie opened #268 "Unable to download challenge assets"
Hello,

Please check this discussion out: https://discussions.topcoder.com/discussion/415/designs

I had uploaded the design assets as a zip file. However, when I try to download, it gives a file named `phpwMm9oR` - gibberish by the looks of it.

[2020-12-05 16:22] atelomycterus commented on #103
@jmgasper Ready for review. Please apply PR-https://github.com/topcoder-platform/forums/pull/269. Thanks!

### Testing
Clear browser cache before testing.

![image](https://user-images.githubusercontent.com/10196632/101250078-84be0100-372e-11eb-9a5c-615113024dfd.png)

[2020-12-05 16:58] atelomycterus commented on #207
Added steps how build Vanilla assets - https://github.com/topcoder-platform/forums/blob/issues-103/docs/BuildVanillaForums.md

[2020-12-05 20:06] atelomycterus commented on #207
@jmgasper Please apply PR -https://github.com/topcoder-platform/forums/pull/269. Thanks!
Added steps how build Vanilla assets - https://github.com/topcoder-platform/forums/blob/73f605629bdf69b5a83ec0972a808a93378e1b20/docs/BuildVanillaForums.md

### Testing
Embedded resources (Image, URL, File) and html links (`<a href='site'>go to</a>`) should be opened in a new tab.

![image](https://user-images

[2020-12-05 21:10] #207 closed

[2020-12-05 21:10] #103 closed

[2020-12-05 21:10] jmgasper commented on #207
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154457<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-05 21:10] jmgasper commented on #103
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148426<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-06 03:25] callmekatootie opened #270 "I am able to edit other people's posts"
I see that I am able to edit other user's posts - my role is a copilot in the contest.

[2020-12-06 06:59] callmekatootie opened #271 "Different b/w unfollow and unwatch?"
![image](https://user-images.githubusercontent.com/2317133/101273799-a36bd880-37be-11eb-8cc5-405b3ac28647.png)

What is the difference b/w unfollow and unwatch

[2020-12-06 18:13] atelomycterus commented on #244
@jmgasper Please apply PRs: https://github.com/topcoder-platform/forums-groups-plugin/pull/38
https://github.com/topcoder-platform/forums/pull/272 . Thanks!

Embedded content (quote, link, image and so on) is rendered  as a html link. Each embedded content type has its own attributes.
These attributes are stored as a part of body.  For example, a discussion  quote has a discussion name + Discussio

[2020-12-06 19:27] atelomycterus commented on #265
@jmgasper I updated config.yml. ENV param is used in dockerfile. SqlPlugin is removed if ENV is 'prod'.
PR-https://github.com/topcoder-platform/forums/pull/272. Thanks!

![image](https://user-images.githubusercontent.com/10196632/101290252-0c307080-3812-11eb-9072-f75ff838e839.png)

[2020-12-06 21:03] atelomycterus commented on #229
@jmgasper @sdgun I've checked data in DB for 'sdguntcqa'. Data for sdguntcqa  (UserID=52) in DB is correct.
But  'Follow' is not correct. Both categories are followed by the user. It should be 'Unfollow'.
![image](https://user-images.githubusercontent.com/10196632/101290669-d640bb80-3814-11eb-898f-48ac16236f8e.png)

I reproduce it. This issue happens for any new registered user. I'll fix it tomorr

[2020-12-06 21:18] #265 closed

[2020-12-06 21:19] jmgasper commented on #265
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155958<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-06 21:20] #244 closed

[2020-12-06 21:20] jmgasper commented on #244
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154493<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-07 04:01] sdgun opened #273 "When accessing a discussion with more than one page of comments, the last page is opened to the user"
**Steps**

1. Go to https://vanilla.topcoder-dev.com/categories/c5fb87f6-a0ad-46da-9cdd-0a3583dbfb58-documents as a copilot user
2. Click on the discussion 'code docs inside'

This discussion has more than one page of comments, when user opens it, the last page is opened

[Screencast 2020-12-07.zip](https://github.com/topcoder-platform/forums/files/5650352/Screencast.2020-12-07.zip)

[2020-12-07 04:13] sdgun opened #274 "The cursor is moving to the beginning of the block when typing in a code block"
**Steps**
Go to the editor
Click on the paragraph icon and select code block
Type some code or copy paste some code

When stop typing or after pasting and even when typing, the cursor is moving to the beginning of the block

[Screencast 2020-12-07.zip](https://github.com/topcoder-platform/forums/files/5650382/Screencast.2020-12-07.zip)

[2020-12-07 05:02] atelomycterus commented on #273
@sdgun @jmgasper It happens due to  Vanilla Comments Offset. This feature is enabled by default. Please see my comment https://github.com/topcoder-platform/forums/issues/256#issuecomment-738862904. Let me know if this feature should be disabled.

[2020-12-07 05:55] sdgun commented on #244
Verified, a link to the quoted text is provided in the email.

[2020-12-07 06:17] sdgun opened #275 "[$40] Attached file names are not displayed in the notification email"
**Steps**
Add a comment by adding some files
Check the notification email

![image](https://user-images.githubusercontent.com/4592712/101316091-d62ad500-3881-11eb-9795-33a25e4dac49.png)

[2020-12-07 06:34] sdgun commented on #229
@atelomycterus The latest challenge I created doesn't have default follow/watch for copilot user(TCConnCopilot), if that's what you mentioned which you couldn't reproduce

https://vanilla.topcoder-dev.com/categories/1792e63b-60d0-424b-8860-683e1b7f1d5e

[2020-12-07 07:20] sdgun commented on #103
Verified. After clearing cache, the given message is shown when drag and drop files. Pasting is disabled. However it seems like the file is being attached first and then the error is displayed.

[Screencast 2020-12-07.zip](https://github.com/topcoder-platform/forums/files/5651023/Screencast.2020-12-07.zip)

[2020-12-07 07:48] sdgun commented on #207
Verified, Image, URL, and html links are opened in a new tab, but pdf files are still opening in the same tab.

[2020-12-07 15:36] atelomycterus commented on #175
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/14
https://github.com/topcoder-platform/forums/pull/276
Thanks!

### Testing
Please clear browser cache before testing.

Theme-Boilerplate was upgraded from 1.4. to 3.1.1.
![image](https://user-images.githubusercontent.com/10196632/101369556-8536d300-38b9-11eb-90ac-b637ba66eba7.png)

### Fixed issues with the theme

[2020-12-07 19:50] jmgasper commented on #275
Contest https://www.topcoder.com/challenges/30156264 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-07 19:50] jmgasper commented on #275
Contest https://www.topcoder.com/challenges/30156264 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 01:21] #175 closed

[2020-12-08 01:21] jmgasper commented on #175
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150684<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 01:23] jmgasper opened #277 "[$100] Duplicate accounts created on prod"
@atelomycterus - We had some duplicate accounts created on prod, with the same email and username.  Any reason why this would happen?  Is there any way to detect them and fix them?  These seem to cause problems with the challenge forum processor when adding folks to the groups when they register for a challenge.

<img width="1042" alt="Screen_Shot_2020-12-08_at_7_32_36_am" src="https://user-images

[2020-12-08 01:23] jmgasper commented on #277
Contest https://www.topcoder.com/challenges/30156326 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 01:23] jmgasper commented on #277
Contest https://www.topcoder.com/challenges/30156326 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 05:05] sdgun commented on #156
Verified in all browsers and mobile devices.

[2020-12-08 06:23] sdgun commented on #254
Verified, this issue is fixed. The Threaded and Tree views do not use pagination now.

[2020-12-08 07:23] atelomycterus commented on #277
@jmgasper Is PROD configured with Memcached? What branch is deployed on PROD?

There can be one account created by a challenge processor and the other by Topcoder plugin. But I'm not sure.
Checks 'if $username and $email are already in use by another member' is done in UserModel only.
I've checked User table, there are no unique constraints in DB.

1. How many duplicate accounts created on prod?
`

[2020-12-08 08:37] sdgun commented on #256
Verified, the pagination for threaded and tree views are removed.

[2020-12-08 09:14] sdgun opened #278 "[$30] Selecting Threaded/Tree views hides the original discussion description when there are no comments on the description"
**Steps**
1. Go to a discussion which doesn't have any comments yet(ex-https://vanilla.topcoder-dev.com/discussion/2068/please-give-us-feedback-on-this-challenge#latest)
2. Click on Threaded or Tree view

Hides the original discussion description

![image](https://user-images.githubusercontent.com/4592712/101463698-c5eb2680-3963-11eb-8cb4-75c169c8cca1.png)

[2020-12-08 11:34] atelomycterus commented on #275
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/279. Thanks!

### Testing
The original file name and size should be displayed.
![image](https://user-images.githubusercontent.com/10196632/101478810-4dd03100-3962-11eb-992d-81751fcf83a1.png)

[2020-12-08 12:21] atelomycterus commented on #278
@jmgasper Sorry about that. I fixed it in https://github.com/topcoder-platform/forums-plugins/pull/55, https://github.com/topcoder-platform/forums/pull/279. Thanks!

[2020-12-08 18:41] atelomycterus commented on #229
@sdgun @jmgasper Keep you updated.  I've fixed clearing User cache when user is added/removed to/from a group in Vanilla.
I've implemented two method to retrieve a key's value from cache +  flush cache in Debug Plugin.  After deploying I'll check data.

![image](https://user-images.githubusercontent.com/10196632/101526536-cdc7bc80-399d-11eb-9a72-c4aa11946365.png)
![image](https://user-images.githu

[2020-12-08 21:01] atelomycterus commented on #125
@jmgasper I've turned on it locally. The category labels display total count of discussions ( $Category->CountAllDiscussions).
Does it make sense to display total count in the left nav?
![image](https://user-images.githubusercontent.com/10196632/101532877-3155e800-39a6-11eb-8cfd-3439e1fc16e4.png)

### New posts/comments
I've checked Vanilla source code, Unfortunately, no labels how many new posts/

[2020-12-08 21:45] jmgasper commented on #277
@atelomycterus - Prod is *not* currently using memcached (we haven't deployed that update yet), and it's running the `master` branch of the forums.  It hasn't been deployed in a couple weeks.

I'm working on running the SQL, thanks.

[2020-12-08 21:49] #275 closed

[2020-12-08 21:49] jmgasper commented on #275
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156264<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 21:50] jmgasper commented on #278
Contest https://www.topcoder.com/challenges/30156599 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 21:50] jmgasper commented on #229
@atelomycterus - Deploying now to dev.

[2020-12-08 21:50] #278 closed

[2020-12-08 21:52] jmgasper commented on #125
@atelomycterus - New posts were generally listed in bold in the old forums.  Can we just remove `Mark Read` for now while we discuss how to show unread posts?

[2020-12-08 21:52] jmgasper commented on #278
Contest https://www.topcoder.com/challenges/30156599 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 21:54] jmgasper commented on #278
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156599<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 22:09] jmgasper commented on #277
@atelomycterus:

1.  `select count(*) c, u.Email from GDN_User u group by u.Email having c > 1 order by u.Email`
[code]

2.  `select count(*) c, u.Name from GDN_User u group by u.Name having c > 1 order by u.Name`
[code]

3.  `select ug.GroupID, g.Name, u.UserID, u.Name from GDN_UserGroup ug left join GDN_Group g on ug.GroupID = g.GroupID left join GDN_User u on ug.UserID = u.UserID where u.Name =

[2020-12-09 04:08] sdgun commented on #278
Verified, this issue is fixed.

[2020-12-09 04:53] sdgun commented on #275
Verified, this issue still happens with the image attachments.

![image](https://user-images.githubusercontent.com/4592712/101586750-9e01ce80-3a08-11eb-91d4-07b75ae32781.png)

![image](https://user-images.githubusercontent.com/4592712/101586673-6e52c680-3a08-11eb-86a2-1224a8b39ac2.png)

[2020-12-09 05:18] sdgun opened #280 "The replies added to a discussion with many comments is not showing the reply under the correct comment"
**Steps**
Go to https://vanilla.topcoder-dev.com/discussion/1889/code-docs-inside?view=threaded as copilot
Reply to a comment
Check if the reply is shown under that comment

Reply is not displayed under the correct comment

[Screencast 2020-12-09.zip](https://github.com/topcoder-platform/forums/files/5663638/Screencast.2020-12-09.zip)

[2020-12-09 05:34] sdgun commented on #259
Closing since this duplicates with https://github.com/topcoder-platform/forums/issues/172

[2020-12-09 05:34] #259 closed

[2020-12-09 06:22] sdgun opened #281 "[$40] The new discussions added by any user is added to book marks list of all users"
**Steps**
Log in as a normal user
Create a new discussion
Check the book marks

The new discussion is in the book mark list of this user and all other users who have access to the challenge discussion

[Screencast 2020-12-09.zip](https://github.com/topcoder-platform/forums/files/5663867/Screencast.2020-12-09.zip)

[2020-12-09 06:52] sdgun opened #282 "Discussions are not removed from Drafts"
**Steps**

1. Create a new discussion
2. Check drafts

[Screencast 2020-12-09.zip](https://github.com/topcoder-platform/forums/files/5663997/Screencast.2020-12-09.zip)

[2020-12-09 10:39] atelomycterus commented on #125
@jmgasper Fixed. Mark Read  is removed from the menu. Please apply PR: https://github.com/topcoder-platform/forums-groups-plugin/pull/40. Thanks!

Yes, you are right. New posts are listed in bold in the old forums:
![image](https://user-images.githubusercontent.com/10196632/101617764-188b1800-3a22-11eb-8f7e-4f202ea91503.png)

In Vanilla Discussion list css classes are  New, Read, Unread, Mine, Clo

[2020-12-09 10:39] #125 closed

[2020-12-09 10:40] jmgasper commented on #125
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149315<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 11:22] atelomycterus commented on #275
@sdgun Thanks! If images are added using 'Image' then they must be rendered. These files are a part of body.
The first image is added as an image, the second one is added as an attachment.
It works with Filestack because browsers can recognize image file type.

Example:
![image](https://user-images.githubusercontent.com/10196632/101623332-593a5f80-3a29-11eb-981c-7888719318a6.png)

@jmgasper Fixed.

[2020-12-09 11:23] atelomycterus commented on #104
@jmgasper Are there any news from Topcoder?

[2020-12-09 19:59] atelomycterus commented on #277
@jmgasper I've reviewed code + tested different cases, but I can't reproduce it.
If an issue still exists, in order to avoid duplicate accounts, we need to add unique constraints to email and name on User table.
But first we need to decide how to fix the already existing duplicates.
### Option 1. Using Vanilla 'Delete User'
Click on 'Delete'. There are 3 options.
![image](https://user-images.githu

[2020-12-09 20:20] jmgasper commented on #277
@atelomycterus - Ok, thanks.  I'll go through and clean this up.  It only happened twice, so we'll keep an eye on it and try to see if it happens again, otherwise I'll just chalk it up to a fluke.

[2020-12-09 20:20] #277 closed

[2020-12-09 20:20] jmgasper commented on #277
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156326<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 04:57] sdgun commented on #275
Verified, images are rendered now.

[2020-12-10 05:25] sdgun commented on #125
Verified.

[2020-12-10 05:29] callmekatootie opened #284 "Feature Request"
Should have the ability to respond to posts through images - at least the basic ones.

For example, sometimes, submitters will post messages that only need to be acknowledged. In such cases, responding with the :+1: emoji would be better than typing `ok`...

[2020-12-10 06:02] sdgun commented on #229
@atelomycterus I checked this today and see 'code questions' category is not auto followed/watched for copilots still. Also for 'TCConManager' user, 'code questions' category is not auto followed/watched but code documents category is auto followed/watched.  We should not auto follow/watch anything for 'TCConManager' right?

Sample challenge discussion - https://vanilla.topcoder-dev.com/categories

[2020-12-10 08:49] jmgasper commented on #284
@callmekatootie - I think emojis should work - are they not for you?

[2020-12-10 09:20] callmekatootie commented on #284
I mean in that same post - like I just did for yours above...

[2020-12-10 09:29] jmgasper commented on #284
Ah, got it, thanks.

[2020-12-10 10:59] atelomycterus commented on #229
@sdgun Thanks! I tested yesterday, the issue still exists, Now user cache is fine. I' m going to work on it today. After deploying, I'll test. Keep you updated.

The full list of  Topcoder Project roles =
[code]

  auto-watch -  Only members and copilots
  auto-follow - Only copilot/customer/manager

TCConManager - manager
From https://api.topcoder-dev.com/v5/projects/16665
[code]

[2020-12-10 16:51] atelomycterus commented on #229
@jmgasper Please apply PRs-https://github.com/topcoder-platform/forums-groups-plugin/pull/41.
https://github.com/topcoder-platform/forums/pull/285. Thanks! I'll test it after deploying.

[2020-12-10 18:43] atelomycterus commented on #168
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/285.  Thanks!

### Testing

![image](https://user-images.githubusercontent.com/10196632/101815286-6130f700-3b30-11eb-8bb2-dbfe36431737.png)

[2020-12-10 18:58] atelomycterus commented on #172
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/15. Thanks!

Long Title should be rendered correctly.
![image](https://user-images.githubusercontent.com/10196632/101816765-7ad33e00-3b32-11eb-8d4a-2e266bb291e2.png)

[2020-12-10 19:54] atelomycterus commented on #169
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/285. Thanks!

Please clear browser cache before testing.

![image](https://user-images.githubusercontent.com/10196632/101821904-aa397900-3b39-11eb-8dc5-d2a23aba91cd.png)

[2020-12-10 20:04] atelomycterus commented on #167
@jmgasper This page has been changed. We removed 3 checkmarks + updated the theme.  Are you ok with this layout?

The Edit discussion page:
![image](https://user-images.githubusercontent.com/10196632/101822973-2e403080-3b3b-11eb-8d68-c12ec482780a.png)

The New discussion page:
![image](https://user-images.githubusercontent.com/10196632/101823180-72cbcc00-3b3b-11eb-8158-3c8946fc57ad.png)

[2020-12-10 21:39] jmgasper opened #286 "[$75] Investigate file name"
@atelomycterus - We've been looking at the Filestack stuff for download, to see if we can get proper filenames working (instead of random names without extensions).  One quick thing to check:  do we send the filename in the metadata to Filestack when we upload?   Seems like that could be an easy fix:

[code]

[2020-12-10 21:39] jmgasper commented on #286
Contest https://www.topcoder.com/challenges/30157326 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 21:39] jmgasper commented on #286
Contest https://www.topcoder.com/challenges/30157326 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 21:57] jmgasper commented on #229
@atelomycterus - Deploying to dev now.

[2020-12-10 21:59] jmgasper commented on #167
@atelomycterus - Yep, that's fine, thanks.

[2020-12-10 22:04] jmgasper commented on #172
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 22:04] jmgasper commented on #168
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 22:14] jmgasper commented on #169
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-11 03:57] sdgun commented on #168
Verified in IOS and Android.

[2020-12-11 04:02] sdgun commented on #169
Verified in IOS and Android.

[2020-12-11 04:22] sdgun opened #287 "[Android] Bookmark icon and ellipsis are overlapping with the discussion name"
**Steps**
1. Open forums from an Android phone
2. Go to Recent Discussions (or any section)
3. Check the available discussions

Bookmark icon and ellipsis are overlapping with the discussion name

![image](https://user-images.githubusercontent.com/4592712/101861636-83f5f680-3b96-11eb-9f7a-a8f5aa406aae.png)

Device: Pixel XL
OS: Android 10
Browser: Chrome

[2020-12-11 04:29] jmgasper commented on #287
@sdgun - What device, OS, and browser?

[2020-12-11 04:35] sdgun commented on #287
@jmgasper Sorry, updated the description with the details

[2020-12-11 04:39] sdgun opened #288 "Issue in showing Following and Watching icons in discussions"
**Steps**
From a mobile device go to - https://vanilla.topcoder-dev.com/categories/e83cf95d-f841-4b5b-81cd-8bbb4e02e7a1 as copilot user or any user who has access
Check the Following and Watching icons

They are not displayed in the same line

![image](https://user-images.githubusercontent.com/4592712/101862764-02539800-3b99-11eb-8eb6-66c4f4df1136.png)

![image](https://user-images.githubuserconte