[2020-12-11 04:51] sdgun opened #289 "[IOS] The font size of some challenge names is bigger"
**Steps**
Log into forums from IOS device from copilot user
Go to my discussions
Check the font size of the challenge name in below challenge

The font size of some challenge names is bigger

![image](https://user-images.githubusercontent.com/4592712/101864667-5743de00-3b9a-11eb-8a4c-c1e17ae5b359.png)

Device: iPhone 6S
OS: 13.7
Browser: Safari

[2020-12-11 05:03] sdgun opened #290 "Descriptions in the summary are not displayed fully"
**Steps**
Log into forum as any user and see the summary of discussions in Recent Discussions or any section

Descriptions in the summary are not displayed fully

![image](https://user-images.githubusercontent.com/4592712/101865437-47c59480-3b9c-11eb-8232-c5614ed65384.png)

![image](https://user-images.githubusercontent.com/4592712/101865470-5b70fb00-3b9c-11eb-9c9d-d4f4ce53a75f.png)

Device: iPhon

[2020-12-11 05:19] sdgun opened #291 "Unnecessary line in some places of search results pages"
**Steps**
Go to forums from IOS or Android
Do a search by keyword 'Forums'
Scroll down

There is a unnecessary yellow color line in some places(visible in IOS but barely visible in Android)

![image](https://user-images.githubusercontent.com/4592712/101866228-4bf2b180-3b9e-11eb-912e-3bdac8c9b560.png)

![image](https://user-images.githubusercontent.com/4592712/101866289-70e72480-3b9e-11eb-91e7-b64f

[2020-12-11 05:32] sdgun commented on #162
@atelomycterus In search results page, left nav is not available again

![image](https://user-images.githubusercontent.com/4592712/101867036-4ac28400-3ba0-11eb-834a-d7f1b60c8bc2.png)

Also in Mobile(Android and iPhone, both search and New discussion pages do not have the left nav)

[2020-12-11 06:26] sdgun commented on #172
Verified in both Android and IOS

[2020-12-11 09:42] atelomycterus commented on #229
@jmgasper The issue with 'challenge.notification.create' and 'resource.create' events.
In short, users are added to a group before all group categories are created.
As a result, copilots follow/watch one category or several categories or none.
It depends on how a challenge forum processor handles events.
When a new user registers for a challenge, then all group categories have already been created

[2020-12-11 15:42] atelomycterus commented on #229
@jmgasper Fixed Groups plugin. PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/42.

We always assumed that Topcoder project members are added when a group is created.
I saw a list of challenge.action.resource.create messages in a challenge forum processor logs.

- After creating challenge , a challenge forum processor receives a list of  'challenge.action.resource.create' messa

[2020-12-11 18:16] atelomycterus commented on #162
@sdgun Sorry about that. I updated the theme boilerplate (https://github.com/topcoder-platform/forums/issues/175) several days ago. Fixed it. If you notice anything else, do not hesitate to ask/clarify. Thanks!

@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/16/. Thanks!

### Testing
Please clear browser cache before testing.
![image](https://user-images.githubuse

[2020-12-11 19:38] atelomycterus commented on #286
@jmgasper Thanks for help! The problem is actually on Vanilla's side.
Vanilla creates a temporary file without any extension and then this file source  is uploaded. So filename ="phpRqw309". Discussions/Comments uses BeforeSave event to save the original file names.
[code]
I made a simple test. It works if the file has an extension.  I'll fix Filestack plugin and Vanilla upload class. The file nam

[2020-12-11 20:37] atelomycterus commented on #104
@jmgasper Fixed. Please apply PRs:
https://github.com/topcoder-platform/forums-filestack-plugin/pull/3
https://github.com/topcoder-platform/forums/pull/292

Thanks!

### Testing
It should works with Rich Editor and new uploaded files.
![image](https://user-images.githubusercontent.com/10196632/101952432-b4c34380-3c09-11eb-9d4f-a47bb11a52be.png)

[2020-12-11 20:41] atelomycterus commented on #155
@jmgasper Duplicate issue -https://github.com/topcoder-platform/forums/issues/104.

[2020-12-11 20:45] atelomycterus commented on #286
@jmgasper Fixed - https://github.com/topcoder-platform/forums/issues/104.

[2020-12-12 00:00] #155 closed

[2020-12-12 00:01] jmgasper opened #293 "[$100] Updates for event handling"
From #229

@jmgasper Fixed Groups plugin. PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/42.

We always assumed that Topcoder project members are added when a group is created.
I saw a list of challenge.action.resource.create messages in a challenge forum processor logs.

- After creating challenge , a challenge forum processor receives a list of  'challenge.action.resource.cr

[2020-12-12 00:01] jmgasper commented on #293
Contest https://www.topcoder.com/challenges/30157532 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 00:02] jmgasper commented on #293
Contest https://www.topcoder.com/challenges/30157532 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 00:02] #293 closed

[2020-12-12 00:06] jmgasper commented on #293
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157532<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 06:44] jmgasper commented on #169
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 06:44] jmgasper commented on #286
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 06:44] jmgasper commented on #167
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 06:44] jmgasper commented on #104
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-12 21:16] atelomycterus commented on #293
@jmgasper You closed and paid me for this ticket before I pushed challenge forum processor changes. Please apply PR-https://github.com/topcoder-platform/challenge-forum-processor/pull/46.
https://github.com/topcoder-platform/forums-groups-plugin/pull/42  hasn't been merged yesterday.
Thanks!

### Changes
For `challenge.action.resource.create`
 - check a project role and set auto-watch/auto-follow

[2020-12-13 17:20] atelomycterus commented on #173
@jmgasper This is a known issue in Vanilla 3.3.  Actually users can't delete any rich embed content in a post/comment on mobile. There is no way to get a native keyboard to stay up properly consistently across browsers.
The native keyboard appears when  an input field is focused. Long pressure triggers another native actions while holding.
For example, long pressure on an image in the editor on IO

[2020-12-13 19:55] atelomycterus commented on #165
@jmgasper  Please apply PRs:https://github.com/topcoder-platform/forums-groups-plugin/pull/42
https://github.com/topcoder-platform/forums-theme/pull/17

Thanks!

### Testing
Please clear browser cache before testing.

The button should be displayed on a category page.
![image](https://user-images.githubusercontent.com/10196632/102022091-84a8ab80-3d95-11eb-8b76-e7fe67acacd1.png)
![image](https://us

[2020-12-13 22:25] jmgasper commented on #173
@atelomycterus - We're going to build our own editor, I think, so we can table this for now.

[2020-12-14 04:55] sdgun opened #294 "[$30] 'General' group discussion cannot be set to not watching"
**Steps**
Go to General group https://vanilla.topcoder-dev.com/categories/general
Click watching

'General' forum discussion cannot be set to not watching

![image](https://user-images.githubusercontent.com/4592712/102041969-bbfb7480-3df6-11eb-9c0a-80fc539f0e7a.png)

[2020-12-14 05:16] sdgun commented on #165
Verified in iPhone and Android.

[2020-12-14 05:27] jmgasper commented on #294
Contest https://www.topcoder.com/challenges/30157719 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 05:27] jmgasper commented on #294
Contest https://www.topcoder.com/challenges/30157719 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 05:44] sdgun opened #295 "[$20] The Following and watching links font color changes"
**Steps**
Log into forums from iPhone device
Go to a category - ex- https://vanilla.topcoder-dev.com/categories/b6d18b6a-fc2c-41d8-be21-a01ec5dc3b8a-documents
Tap on Watch and follow

When select Follow, the font color changes to pink, then if you click on watch the pink color disappears and 'watch' font color becomes green

![image](https://user-images.githubusercontent.com/4592712/102044727-77bf

[2020-12-14 05:52] jmgasper commented on #295
Contest https://www.topcoder.com/challenges/30157727 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 05:52] jmgasper commented on #295
Contest https://www.topcoder.com/challenges/30157727 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 07:04] sdgun commented on #167
In the Edit discussion page this issue still exists:

![image](https://user-images.githubusercontent.com/4592712/102050333-a5f6af80-3e08-11eb-816f-b4d47b771c65.png)

[2020-12-14 07:34] sdgun commented on #104
Verified, txt file attachment related issue is still there:

Log into forums as any user https://vanilla.topcoder-dev.com/discussion/1777/3rd#latest
Click on the txt file attachment in the comments

[Screencast 2020-12-14.zip](https://github.com/topcoder-platform/forums/files/5687127/Screencast.2020-12-14.zip)

[2020-12-14 07:41] sdgun commented on #162
Verified.

[2020-12-14 10:25] atelomycterus commented on #167
@sdgun yes, you are right.  My fault, I didn't notice that I tested this issue with posts created with outdated Advanced Editor.  Post format is rich - 2 buttons, Post format  is not rich (markdown, text or others) - 3 buttons on web/mobile.
![image](https://user-images.githubusercontent.com/10196632/102068754-e6a4f780-3e0d-11eb-8d33-d54a8bccb1ac.png)

@jmgasper Please apply PR-https://github.com/

[2020-12-14 16:01] atelomycterus commented on #104
@jmgasper Please apply PRs: https://github.com/topcoder-platform/forums-filestack-plugin/pull/4, ttps://github.com/topcoder-platform/forums/pull/296. Thanks!

I added Filestack params to force browsers to download files.  It should work for any attached files (including txt, images).
Before a browser may choose to open a file itself or download it, depending on its default settings.

### Testing
!

[2020-12-14 16:10] atelomycterus commented on #173
@jmgasper I've checked Vanilla releases. Vanilla team has fixed this issue (Fix selecting embeds dismissing keyboard on mobile in Rich Editor #9767 - https://github.com/vanilla/vanilla/pull/9767).
So new editor development and integration will take some time. We can add this fix in rich editor if needed.

[2020-12-14 17:03] atelomycterus commented on #294
@jmgasper Please apply PRs - https://github.com/topcoder-platform/forums-groups-plugin/compare/issues-294. Thanks!

[2020-12-14 18:11] atelomycterus commented on #295
@sdgun Our Topcoder theme had missing css style for a.TextColor. Fixed. It should be green, not pink. If you see other colors, let me know.
@jmgasper Please apply PR- https://github.com/topcoder-platform/forums-theme/pull/19/.

### Testing
Please clear browser cache on mobile before testing.
IOS: Go to 'Settings', 'Safari' -> 'Clear History and Website Data' , Chrome - use '...' in the browser pan

[2020-12-14 18:29] atelomycterus commented on #229
@sdgun It should work.
[code]

[2020-12-14 19:49] jmgasper commented on #173
Ok, thanks.  I think we'll be fine for now.

[2020-12-14 19:54] jmgasper commented on #295
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 23:13] #295 closed

[2020-12-14 23:13] jmgasper commented on #295
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157727<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:25] #294 closed

[2020-12-15 00:25] jmgasper commented on #294
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157719<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:25] #286 closed

[2020-12-15 00:26] jmgasper commented on #286
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157326<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:26] #172 closed

[2020-12-15 00:26] #169 closed

[2020-12-15 00:26] #168 closed

[2020-12-15 00:26] jmgasper commented on #172
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150685<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:26] jmgasper commented on #169
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150683<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:26] jmgasper commented on #168
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150682<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:26] #167 closed

[2020-12-15 00:26] jmgasper commented on #167
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150680<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:26] #165 closed

[2020-12-15 00:26] #104 closed

[2020-12-15 00:26] jmgasper commented on #165
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150811<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:26] jmgasper commented on #104
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148429<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:27] jmgasper commented on #157
@atelomycterus - Thanks for the docs.  We'll just leave this as-is for now.

[2020-12-15 00:27] #157 closed

[2020-12-15 00:28] #173 closed

[2020-12-15 00:28] jmgasper commented on #173
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:28] jmgasper commented on #157
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30149983<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:29] jmgasper commented on #193
I think this has been cleaned up, at least on the forums side.

[2020-12-15 00:29] #193 closed

[2020-12-15 00:29] jmgasper commented on #111
This is just for testing - it won't be the same in prod, so I think we're fine here.

[2020-12-15 00:29] #111 closed

[2020-12-15 00:30] jmgasper commented on #146
Contest https://www.topcoder.com/challenges/30158034 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:30] jmgasper commented on #146
Contest https://www.topcoder.com/challenges/30158034 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:30] jmgasper commented on #161
I think this has been fixed.

[2020-12-15 00:30] #161 closed

[2020-12-15 00:30] jmgasper commented on #163
Contest https://www.topcoder.com/challenges/30158035 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:30] jmgasper commented on #163
Contest https://www.topcoder.com/challenges/30158035 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:30] #232 closed

[2020-12-15 00:31] jmgasper commented on #281
Contest https://www.topcoder.com/challenges/30158039 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 00:31] jmgasper commented on #281
Contest https://www.topcoder.com/challenges/30158039 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 04:34] sdgun commented on #161
Verified, this is fixed.

[2020-12-15 05:23] sdgun commented on #104
Verified, files are downloaded now.

[2020-12-15 05:43] sdgun commented on #167
Verified.

[2020-12-15 06:12] sdgun commented on #294
Verified, the general forum can be watched now.

[2020-12-15 06:18] sdgun commented on #295
Verified, the color is set to green now.

[2020-12-15 07:28] sdgun commented on #229
@atelomycterus Verified by creating new challenge https://vanilla.topcoder-dev.com/categories/f65f8ffa-d698-4348-8213-61d5ebe8ac63?followed=1&save=1&TransientKey=1X49mvmF0Dt8Q6MC

Copilot(TCConnCopilot)/Manager(TCConManager) - auto watch enabled but auto follow not enabled
Member(sdguntcqa) - Both auto watch and auto follow are not enabled

[2020-12-15 15:45] atelomycterus commented on #281
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums/pull/297. Thanks!

### Testing
Fixed - Missing where condition in get discussion method.
The list of records  + count of records should be correct on  `/discussions/bookmarked` and  `/discussions/mine`  pages.

![image](https://user-images.githubusercontent.com/10196632/102237247-85f8e600-3f05-11eb-848a-cc3c8011eb21.png)

![im

[2020-12-15 16:35] atelomycterus commented on #163
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/297. Thanks!

### Testing
Fixed opening a post + $Configuration['Vanilla']['Comments']['AutoOffset'] = false;

[2020-12-15 18:40] atelomycterus commented on #146
@jmgasper

### Updated Config.php
Max Length was 8000 by default. I updated it to 16000  in config.php (see https://github.com/topcoder-platform/forums/issues/146#issuecomment-724539090, after deploying it was reset to a default value).
Min Length wasn't set and users was able to post empty comments.
![image](https://user-images.githubusercontent.com/10196632/102255386-17bf1e00-3f1b-11eb-8544-863d

[2020-12-15 21:11] #163 closed

[2020-12-15 21:12] jmgasper commented on #163
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158035<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 21:12] #281 closed

[2020-12-15 21:12] jmgasper commented on #281
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158039<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-15 21:13] jmgasper commented on #146
@atelomycterus - I'm going to share my thoughts on a new editor today.

[2020-12-15 21:13] #146 closed

[2020-12-15 21:13] jmgasper commented on #146
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158034<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-16 00:28] jmgasper opened #298 "[$400] Updated editor documentation"
@rootelement / @atelomycterus - I'd like to get some thoughts on an updated editor.  Here's where I think we could improve things, at least from a user perspective.  If you have ideas of things that could work better from a code / maintenance perspective, I'd also like to get those logged.  If you have thoughts on how we may be able to implement some of this, please let me know.

Essentially, what

[2020-12-16 00:37] jmgasper commented on #298
Contest https://www.topcoder.com/challenges/30158306 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-16 00:37] jmgasper commented on #298
Contest https://www.topcoder.com/challenges/30158306 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-16 04:05] sdgun commented on #281
Verified, the issue is fixed, however the counts do not mismatch, will open a new issue on that

[2020-12-16 04:20] sdgun opened #299 "[$40] 'My book marks' count and the available book marks do not tally"
**Steps**
Log into forums as sdguntcqa(T0pc0der@123) or TopConnCustomer(appirio123)
Check the count and the actual number of book marks in the Bookmarks section (https://vanilla.topcoder-dev.com/discussions/bookmarked)

The count and list do not tally

![image](https://user-images.githubusercontent.com/4592712/102304674-08c08600-3f84-11eb-80fc-25665f88a0ce.png)

![image](https://user-images.github

[2020-12-16 04:26] jmgasper commented on #299
Contest https://www.topcoder.com/challenges/30158354 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-16 04:26] jmgasper commented on #299
Contest https://www.topcoder.com/challenges/30158354 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-16 04:32] sdgun commented on #163
Verified

[2020-12-16 05:01] sdgun opened #300 "Better to change the message displayed when user tries to post a comment/reply with less than 2 characters"
**Steps**
Try to create a comment without adding any text
The message we show when user tries to post a comment or reply without body is: "Body is 2 characters too short."

![image](https://user-images.githubusercontent.com/4592712/102306657-be8dd380-3f88-11eb-9dc0-5668b1de5188.png)

Better to change this message to a meaningful message.

Also earlier we allowed 1 character (https://github.com/top

[2020-12-16 13:05] atelomycterus commented on #299
@jmgasper Please apply PR: https://github.com/topcoder-platform/forums-groups-plugin/pull/45. Thanks!

### DEV
_User 'TopConnCustomer'_
3 discussions are not displayed because the user doesn't have permission to these discussions,  not a member of the groups:
https://vanilla.topcoder-dev.com/discussion/1676 , not a member of https://vanilla.topcoder-dev.com/group/159
https://vanilla.topcoder-dev.c

[2020-12-16 13:27] atelomycterus commented on #229
@sdgun Ready for your review.
'TCConnCopilot'
![image](https://user-images.githubusercontent.com/10196632/102353989-f877cd80-3fba-11eb-9f7c-b5f049168e6d.png)
![image](https://user-images.githubusercontent.com/10196632/102354067-1c3b1380-3fbb-11eb-95c9-9048773a27d7.png)
![image](https://user-images.githubusercontent.com/10196632/102354109-2826d580-3fbb-11eb-8ada-fc118e3dbe7d.png)

TCConManager:
![i

[2020-12-16 18:18] atelomycterus commented on #298
@jmgasper @rootelement

### Editor Programming API
We also need to take into account editor Programming API.
Need to check whether an editor can be expanded, not only add a simple new button in a toolbar,
but the ability write a custom parser, handle events  and so on.
This would add Latex support, @mention, uploading links and others.

### Supporting Latex
Stackedit renders Latex using KaTex ( ht

[2020-12-16 21:17] jmgasper commented on #298
@atelomycterus - Ok, cool, thanks.  SimpleMDE was my thought as well, plus it's still actively developed.

[2020-12-16 21:23] #299 closed

[2020-12-16 21:23] jmgasper commented on #299
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158354<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-16 21:23] jmgasper commented on #298
@atelomycterus - Do you think it would be possible to integrate in Latex processing into SimpleMDE?

[2020-12-17 04:50] sdgun opened #301 "[$30] 'My Discussions' is not showing the correct count once a user unregisters from a challenge"
**Steps**

- The user had 3 discussions in the My discussions(User - sdgunvfor(pw-T0pc0der@123)
- Registered to a new challenge(https://www.topcoder-dev.com/challenges/f65f8ffa-d698-4348-8213-61d5ebe8ac63)
- Created a new discussion
- So the count in My Discussions became 4
- Unregistered from the challenge

The My discussions count is still 4 but inside there are only 3 discussions

[Screencast 2

[2020-12-17 04:51] sdgun commented on #299
My Bookmarks count calculated correct after unregistering from challenges, however there is an issue with My Discussions. Reported https://github.com/topcoder-platform/forums/issues/301

[2020-12-17 05:10] jmgasper commented on #301
Contest https://www.topcoder.com/challenges/30158655 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-17 05:12] jmgasper commented on #301
Contest https://www.topcoder.com/challenges/30158655 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-17 05:42] sdgun commented on #229
Verified, working as expected.

[2020-12-17 07:06] atelomycterus commented on #301
@jmgasper Need your help with this issue. My discussions page displays all discussions created by User.
On the one hand, if User has left the group, then there is no access to discussions.
On the other hand, User is the author and must see everything he\she has created.
In the old forum User can see  post history:
![image](https://user-images.githubusercontent.com/10196632/102454098-7d5ff700-404e-

[2020-12-17 10:09] atelomycterus commented on #298
@jmgasper

### Additional notes

1. html (preview) rendering speed. It would be nice to check how the editor works with a large post. Use as much markup as possible.  Benchmark: compare the speed of work in preview mode/html mode.

Is there a requirement for this part?

2. With a large post, autosaving is an important feature.

3. Ability to perform async calls from an editor (e.g. find by Topcode

[2020-12-17 12:57] atelomycterus commented on #202
@jmgasper Please apply PR:  https://github.com/topcoder-platform/forums/pull/302. Thanks!

### Testing
_Add New Discussion_
New Discussion  page renders  3 buttons (draft, cancel + post). User can save a draft manually or a draft is created automatically.
Auto saving runs every minute. 'My drafts' menu item is updated when a draft is added.
User clicks on Post Discussion =>  If a draft exists, it

[2020-12-17 15:54] atelomycterus commented on #83
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/302. Thanks!

[2020-12-17 21:16] #202 closed

[2020-12-17 21:16] jmgasper commented on #202
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154458<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-17 21:32] jmgasper commented on #298
@atelomycterus - Great, thanks for that!

_Is there a requirement for this part?_
_With a large post, autosaving is an important feature._

**I think we should have auto-saving, yes, but that's not high priority to start.  Something to think about though**

_Ability to perform async calls from an editor (e.g. find by Topcoder handle)_

**Yeah, we definitely want to make things "snappy" from a perf

[2020-12-17 21:33] jmgasper commented on #298
@rootelement: any thoughts?  ☝️

[2020-12-17 21:42] #298 closed

[2020-12-17 21:43] jmgasper commented on #298
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158306<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-17 21:51] jmgasper opened #303 "[$600] Initial editor plugin"
This ticket will track standing up a new editor plugin, as initially discussed here:  #298

Initial requirements will be:

1. Use SimpleMDE for the editor
2. Save to the DB in MD format
3. Show some integration with Topcoder by allowing us to tag members with `@` and have their names displayed in the correct rank colour.

We have a new repo for the plugin here: https://github.com/topcoder-platform

[2020-12-17 21:51] jmgasper commented on #303
Contest https://www.topcoder.com/challenges/30158989 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-17 21:51] jmgasper commented on #303
Contest https://www.topcoder.com/challenges/30158989 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-18 03:58] sdgun commented on #202
Verified. Drafts and bookmarks links appear dynamically, however we have an open issue on the:

https://github.com/topcoder-platform/forums/issues/282

[2020-12-18 11:59] atelomycterus commented on #298
@jmgasper Additional important notes.

 - Support mobile devices
 - (PROD) When the new editor becomes the main one, we need to leave the ability to edit existing discussions/comments
created with RichEditor. There are 2 options how it can be done. We need to come back to it later. I wrote so as not to miss.
    1. If a discussion/commen has 'Rich' format in DB then RichEditor should be used.

[2020-12-18 12:01] atelomycterus commented on #303
@jmgasper Please read my https://github.com/topcoder-platform/forums/issues/298#issuecomment-748047639 about mobile issues in SimpleMDE. Let's use EasyMDE.

[2020-12-18 21:02] atelomycterus commented on #303
@jmgasper What about css styles? Should we use the topcoder theme style in preview/edit modes?
Or put it off for now and let's do saving in DB  + showing some integration with Topcoder?

https://github.com/topcoder-platform/admin-app/blob/dev/README.md is used.

Edit vs View
![image](https://user-images.githubusercontent.com/10196632/102660478-25c7a580-418c-11eb-8151-007be7213e5a.png)

Preview vs

[2020-12-19 01:38] jmgasper commented on #303
1.  EasyMDE is alright
2. If we can handle the CSS **easily**, then let's do that, but if it's going to be annoying, we can put it off.

[2020-12-20 21:29] atelomycterus commented on #303
@jmgasper Plan to push code tomorrow.

###  Searching by Topcoder handles
I'm using '/members/autocomplete' (Members API v5, https://github.com/topcoder-platform/member-api/blob/develop/docs/swagger.yaml). This services is best used for autocomplete features, where response payload is light and fast in searching through members.

Is it deployed in PROD?

I've tried to use https://api.topcoder-dev.

[2020-12-20 21:39] jmgasper commented on #303
@rootelement - Any idea on the autocomplete in prod?  ☝️

@atelomycterus - This all looks good, thanks!

[2020-12-21 05:37] jmgasper opened #304 "[$200] Priority - performance on prod"
@atelomycterus - We just deployed to prod, and performance still seems to be a bit weak.  I'm seeing 15+ seconds to load the main page.  This should have caching enabled now, so I'm not sure what else could be the delay.

What can we provide you to help debug this?

[2020-12-21 05:37] jmgasper commented on #304
Contest https://www.topcoder.com/challenges/30159433 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-21 05:39] jmgasper commented on #304
Contest https://www.topcoder.com/challenges/30159433 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-21 09:52] atelomycterus commented on #304
@jmgasper let's check cache. Admin role required. Go to Plugins (/dashboard/settings/plugins). Enable  Debug Bar. Debug Bar has a Debugger View Permission. Only Admin can see it.

### Step 1. Check  active cache
Go to `Messages` tab  and click on `topcoder_plugin: Cache`.
What is the value of 'Active Cache'? if it is not 'memcacned' => check PROD env  parameters.
![image](https://user-images.githu

[2020-12-21 14:47] rootelement commented on #304
Hi @atelomycterus !

Thanks again for all your work on the forums, great feedback from the community so far!

# Step 1
<img width="416" alt="Screen Shot 2020-12-21 at 9 43 43 AM" src="https://user-images.githubusercontent.com/5400156/102788695-0ccc1980-4371-11eb-952a-42b3c9c6422a.png">

Values of the config.php from the actual live server:
[code]

# Step 2
It seems like that type is correct

# Ste

[2020-12-21 17:22] atelomycterus commented on #304
@jmgasper @rootelement

Thanks! You're welcome!

Controller -  4+secs  => It looks like categories/roles are not cached.
Render - 12+ secs => The main page shows up to 60 records.  60 records on a Recent Discussion page => It takes 0,2-0,4 sec to render one discussion due to Topcoder API requests.

Timeline in PROD is very close to what we had in DEV before using memcached + caching Topcoder data

[2020-12-21 17:38] atelomycterus commented on #304
@jmgasper @rootelement  Quick fix to deploy Debug Plugin to PROD  PR-https://github.com/topcoder-platform/forums/pull/305/.

[2020-12-21 20:24] jmgasper commented on #304
@atelomycterus - Deploying now.  I'll pull that information above later today.

[2020-12-21 20:59] atelomycterus commented on #303
@jmgasper I've updated config.php. Rich Editor will be disabled after deploying. Topcoder Editor will be the main  editor.
Let me know your feedback. The toolbar can be customized, if you need to remove or add any buttons, no problems with that.

PRs: https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/1
https://github.com/topcoder-platform/forums-plugins/pull/56
https://github

[2020-12-21 21:45] atelomycterus commented on #301
@jmgasper Maybe you missed my question:

[2020-12-21 23:11] jmgasper commented on #301
Let's do this:

`taking into account group permissions, the list of discussions is correct = > fix count of discussions`

[2020-12-22 00:48] #304 closed

[2020-12-22 00:48] jmgasper commented on #304
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159433<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-22 00:49] jmgasper commented on #304
Fixed up a few broken config items based on your documentation above, thanks.

[2020-12-22 00:59] #83 closed

[2020-12-22 00:59] jmgasper commented on #83
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148094<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-22 01:12] jmgasper commented on #303
@atelomycterus - Deployed in dev, but it's not saving comments.  Maybe I'm missing a config step somewhere?

<img width="713" alt="Screen Shot 2020-12-22 at 12 11 49 pm" src="https://user-images.githubusercontent.com/21790/102837011-feecc600-444e-11eb-9c2b-3355bab1b266.png">

[2020-12-22 04:49] sdgun commented on #303
@atelomycterus Some feedback:

- '@' is not displayed when pressing it from the keyboard so users cannot use '@' in the text
- Huge white spaces in the notification email
![image](https://user-images.githubusercontent.com/4592712/102848939-0787d100-443c-11eb-9f82-ec6109ae7372.png)
- Emojis are displayed in a new line in the email
![image](https://user-images.githubusercontent.com/4592712/102848181

[2020-12-22 10:42] dedywahyudi opened #307 "Email notification need send if member edit their comments"
### Expected behavior
Email notification need send if member edit their comments

### Actual behavior
There's no email notification when member edit their comments

### Steps to reproduce the problem
- After post comment, edit the comment.

### Screenshots
![Screen Shot 2020-12-22 at 17 37 37](https://user-images.githubusercontent.com/4476442/102879531-784edd80-447c-11eb-9dc6-fd723d8d9ff6.png)

[2020-12-22 21:30] jmgasper commented on #303
@atelomycterus / @sdgun - Latest is deployed.

[2020-12-22 21:34] jmgasper commented on #303
@atelomycterus - I'm still seeing issues with posting.  I'm logged in as `TonyJ`, and I've tried incognito windows to avoid caching problems, in both Safari and Chrome.

<img width="807" alt="Screen Shot 2020-12-23 at 8 33 20 am" src="https://user-images.githubusercontent.com/21790/102935107-973f8500-44f9-11eb-913f-540a8c94ec29.png">

[2020-12-22 21:34] jmgasper commented on #303
Could it be because the thread is long and has posts made with the previous editor?  I'm testing the `Welcome to Awesome` discussion in dev.

[2020-12-22 21:41] atelomycterus commented on #303
@jmgasper @sdgun PR- https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/2.

### Changes

Fixed.

 From source code of EasyMDE:
![image](https://user-images.githubusercontent.com/10196632/102935227-c8e32c80-44b6-11eb-8f45-9bc88e885d20.png)

[2020-12-22 22:00] atelomycterus commented on #303
@jmgasper yes, your comment has a draft. The comment  format is Rich. Vanilla 'Garden.ForceInputFormatter' param is false. It means the initial format of comment/discussion can't be changed.
![image](https://user-images.githubusercontent.com/10196632/102936060-73a81a80-44b8-11eb-8a40-d83fc55ab41d.png)

 Could you try to create a new  discussion/comment?
I created a comment:
![image](https://user-i

[2020-12-23 03:30] jmgasper commented on #303
@atelomycterus - Thanks, this looks good.  I'll log a separate ticket for future bugs / features.

[2020-12-23 03:30] #303 closed

[2020-12-23 03:30] jmgasper commented on #303
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158989<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 03:31] jmgasper opened #308 "[$200] Editor - supporting old and new formats"
* Rich content is not displayed properly if it is converted from rich to html and from html to markdown.
* Rich content is stored in Quill format. So Quill can be converted to Markdown but it's necessary to implement a formatter.
* Only plain text formatter and html formatter are implemented in Vanilla.

The solution would be enabling Rich Editor to support existing discussion/comment created prev

[2020-12-23 03:31] jmgasper commented on #308
Contest https://www.topcoder.com/challenges/30159993 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 03:31] jmgasper commented on #308
Contest https://www.topcoder.com/challenges/30159993 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 03:33] jmgasper opened #309 "[$300] Attachment support for new editor"
@atelomycterus - I'd like to have drag-and-drop attachment support for the new editor, with requirements of:

* Some sort of upload indicator - even if that's just like what Github / Gitlab do
* Allow for role-based control of uploading (only copilots / admins for now)
* Uploads show properly in the notification emails, similar to what we implemented for the rich editor

[2020-12-23 03:33] jmgasper commented on #309
Contest https://www.topcoder.com/challenges/30159994 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 03:33] jmgasper commented on #309
Contest https://www.topcoder.com/challenges/30159994 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 03:37] jmgasper opened #310 "[$500] Editor Latex support"
@atelomycterus - As discussed, we need to support Latex in the new editor.  I'm open to suggestions on how we do that.

[2020-12-23 03:37] jmgasper commented on #310
Contest https://www.topcoder.com/challenges/30159995 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 03:37] jmgasper commented on #310
Contest https://www.topcoder.com/challenges/30159995 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 06:52] atelomycterus commented on #303
@jmgasper  Thanks! Before deploying the new editor to PROD, get confirmation that  '/members/autocomplete'  (Member API v5) is already deployed in PROD.

[2020-12-23 10:00] callmekatootie opened #311 "[$40] Most recent shows incorrect user"
I arrived at the forums by first listing out all the challenges (in the forum sidebar) and then clicking on my challenge's forum.

Here, I see the most recent message was by me:

![image](https://user-images.githubusercontent.com/2317133/102984290-62502400-4533-11eb-9205-ec86b5f93039.png)

But when I open that post, I see that there is another user that has posted:

![image](https://user-images.gi

[2020-12-23 10:03] callmekatootie opened #312 "New editor issue"
I am facing an issue with the new editor when I try to quote the user. See gif below:

Here, I am trying to quote the user. I have copied the text and I type ">" which brings the quote format but when I paste the text, it does not work.

![new_editor](https://user-images.githubusercontent.com/2317133/102984797-29fd1580-4534-11eb-8fbd-507fc51acff4.gif)

I then try to prefix the previous text with "

[2020-12-23 11:16] jmgasper opened #313 "[$100] Priority - Groups API add endpoint to pull all members for a group"
@atelomycterus - Would it be possible to quickly add an endpoint to GET all members for a given group please?  We're building out some admin tools for Topcoder support that could use that, thanks.

[2020-12-23 11:16] jmgasper commented on #313
Contest https://www.topcoder.com/challenges/30160080 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 11:16] jmgasper commented on #313
Contest https://www.topcoder.com/challenges/30160080 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 11:24] jmgasper commented on #311
Contest https://www.topcoder.com/challenges/30160084 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 11:24] jmgasper commented on #311
Contest https://www.topcoder.com/challenges/30160084 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 11:38] atelomycterus commented on #313
@jmgasper  Yes, I can implement it today.

It'll return a list of Vanilla names (Topcoder handles). Do you need other details?
Need to use groupID to get a list of members.

`/groups` , with the query param 'ChallengID', e.g.'http://127.0.0.1/api/v2/groups?challengeID=f12611a5-6037-4176-9c34-2cc538c7d609'  returns a group with groupId
![image](https://user-images.githubusercontent.com/10196632/102

[2020-12-23 12:00] atelomycterus commented on #311
@callmekatootie Thanks! Could you provide a challenge link? I'll register for a challenge and have look at it.

Most recent by 'XXXX' is read from a calculated Vanilla column. The column should be updated after adding/editing comment/discussion. Previously, `Most recent by` displayed data when new records were only added.

[2020-12-23 12:06] callmekatootie commented on #311
This challenge - https://www.topcoder.com/challenges/bbbaae17-20ae-424f-ad8f-bec887b9a297

I have however added my response to that post - so you may not get to see what you are after... but feel free to play around. I will ignore your posts but do let me know if you are indeed participating and if it's a genuine question and I'll response :)

[2020-12-23 13:12] atelomycterus commented on #313
@jmgasper Implemented. PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/46. Thanks!

### Changes
- Added '/groups/{id}/members`. Paging is supported. {id} - Vanilla GroupID.
Example,
![image](https://user-images.githubusercontent.com/10196632/102998888-215b0e00-4539-11eb-9ea4-56e1d4206b07.png)

Response , link for paging in the header:
![image](https://user-images.githubuserconten

[2020-12-23 14:38] atelomycterus commented on #311
@callmekatootie @jmgasper The issue only at Category page. 'Most recent by' +data time is not correct  if a discussion has comments before deploying new version in PROD.

First I'll try to test it in DEV. If I can't reproduce it, need your help to execute several sql queries in PROD.
Keep you updated.

# Discussion with comments
### Issue 1
I added a  comment.  Data time + most recent by - correct

[2020-12-23 15:39] callmekatootie commented on #311
Thank you for looking into this. Let me know if you need any more info from me.

[2020-12-23 20:43] atelomycterus commented on #308
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/314
https://github.com/topcoder-platform/challenge-forum-processor/pull/48
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/3/

Thanks!

### Vanilla site
'Markdown' is used by default.
'Rich' format - Rich editor is used for existing discussions/comments created previously using Rich Editor.
'wysiwy

[2020-12-23 20:52] atelomycterus commented on #312
@callmekatootie @jmgasper

Use 'Quotes' :
![image](https://user-images.githubusercontent.com/10196632/103036056-d9101000-4579-11eb-8978-a890d419a8d6.png)

See my video:
https://user-images.githubusercontent.com/10196632/103035988-abc36200-4579-11eb-9043-4b833111e37f.mp4

[2020-12-23 22:24] jmgasper commented on #313
@atelomycterus - Thanks.  I think this'll be good to start - I'll get and collect more feedback from devs as they integrate with the admin app, thanks.

[2020-12-23 22:26] #308 closed

[2020-12-23 22:26] jmgasper commented on #308
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159993<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 22:31] jmgasper opened #315 "[$300] Performance investigation"
@atelomycterus - We're still seeing a 6 second-ish delay in prod when loading any page, after which the page loads quickly.

It seems like a lot of this may be related to the groups checking in the plugin and the many, many MySQL queries generated.  When you have time, can you look into this a bit please?

Here's some internal discussions:

![Screenshot_20201223-003631](https://user-images.githubu

[2020-12-23 22:31] jmgasper commented on #315
Contest https://www.topcoder.com/challenges/30160167 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-23 22:31] jmgasper commented on #315
Contest https://www.topcoder.com/challenges/30160167 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 01:35] sdgun opened #316 "[$25] Getting timeouts when quoting comments/discussions created from old editor"
**Steps**
Go to a discussion created from old editor (ex- https://vanilla.topcoder-dev.com/discussion/2113/demo-1)
Quote the discussion description
Post it

Getting timeout

[Screencast 2020-12-24.zip](https://github.com/topcoder-platform/forums/files/5737699/Screencast.2020-12-24.zip)

[2020-12-24 01:47] sdgun opened #317 "Showing the F_name and L_name inside brackets when mentioning the users"
**Steps**
Open editor
Type @ and enter a handle of a user

The suggestions show the list with F_name and L_name inside brackets

![image](https://user-images.githubusercontent.com/4592712/103049510-efd55780-45b7-11eb-9fde-bbb216923945.png)

[2020-12-24 02:17] #313 closed

[2020-12-24 02:17] jmgasper commented on #313
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160080<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 02:18] jmgasper opened #318 "[$125] Additional API calls for setting watches"
@atelomycterus - Another request for the admin app and the API required:

* Get the watch status of a user in a particular group
* Set the watch status of a user in a particular group

[2020-12-24 02:18] jmgasper commented on #318
Contest https://www.topcoder.com/challenges/30160179 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 02:18] jmgasper commented on #318
Contest https://www.topcoder.com/challenges/30160179 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 02:21] sdgun opened #319 "Extra spaces added when inserting horizontal line and table"
**Steps**
Open the editor
Insert a horizontal line and table

Extra spaces are inserted

[Extra spaces.zip](https://github.com/topcoder-platform/forums/files/5737809/Extra.spaces.zip)

[2020-12-24 02:52] sdgun opened #320 "[$30] Email notification has a lot of extra spaces for comments added with new editor"
**Steps**
Create comment with the below
Table/Headings

Table:
![image](https://user-images.githubusercontent.com/4592712/103051491-fdd9a700-45bc-11eb-947a-9315bd191785.png)

Headings:
![image](https://user-images.githubusercontent.com/4592712/103055766-2368af80-45c1-11eb-9a0a-ffab73576177.png)

![Spaces](https://user-images.githubusercontent.com/4592712/103059581-82cbbd00-45cb-11eb-8304-1edbf174b

[2020-12-24 02:56] sdgun opened #321 "Big heading appears like a small heading in the email notification"
**Steps**

- Create a comment with all heading types
- Post the comment
- Check the email notification

![image](https://user-images.githubusercontent.com/4592712/103055977-aee24080-45c1-11eb-8141-a790e9db6ca2.png)

[2020-12-24 02:57] sdgun opened #322 "Strikethrough text is not Strikethrough in the notification email"
**Steps**

- Create a comment with a strikethrough text
- Post the comment
- Check the email notification

Strikethrough text is not Strikethrough

![image](https://user-images.githubusercontent.com/4592712/103056039-e05b0c00-45c1-11eb-81a2-4c604f05372b.png)

[2020-12-24 03:52] sdgun opened #323 "Table column headings are not bold in the comments"
**Steps**
Create a comment with a table

In the email notification column headings are bold, but in the comment they are not.

![image](https://user-images.githubusercontent.com/4592712/103058899-76defb80-45c9-11eb-8b99-5c5760001016.png)

[2020-12-24 04:01] sdgun opened #324 "[$25] Sporadically an error is thrown when posting comments"
**Steps**
While posting comments the below error occurs time to time and the comment is not getting posted

![image](https://user-images.githubusercontent.com/4592712/103060578-9c223880-45ce-11eb-9fe7-9fda91f9436d.png)

![image](https://user-images.githubusercontent.com/4592712/103059299-b4905400-45ca-11eb-862e-6c75cd83d92c.png)

[2020-12-24 04:53] sdgun opened #325 "'Cancel Reply' is not resetting comment form to initial state"
**Steps**

1. Go to a discussion
2. Click on any comment and click reply
3. Enter some text in the editor
4. Click Cancel reply button

Cancel Reply button disappears but 'Cancel Reply' is not resetting comment form to initial state

https://user-images.githubusercontent.com/4592712/103061652-07b9d500-45d2-11eb-888f-a133ef112be2.mp4

[2020-12-24 05:14] callmekatootie commented on #311
@atelomycterus If you need more data, register for this contest - https://www.topcoder.com/challenges/aaf99333-62e1-4723-830d-66e9291ce441.

Here, check out the post titled `Clarification on Spark requirement`.

![image](https://user-images.githubusercontent.com/2317133/103062691-f32b0c00-45d4-11eb-91db-b45c0ba8db91.png)

It says cagdas001 was the recent user but if you go in the thread, I am the

[2020-12-24 05:16] callmekatootie commented on #312
https://user-images.githubusercontent.com/2317133/103062764-4309d300-45d5-11eb-99c0-11b343f1b29d.mp4

Managed to do it in the second attempt... But the first time it fails...

[2020-12-24 11:11] atelomycterus commented on #315
@jmgasper I see. Vanilla is trying to build a category tree for an user. In particular, in this case, each category has a list of permissions  and almost every category is linked by a group which results in such a number of requests.

Anyway, there is a room for improvement.
Here we can consider different options,
- sql query cache
- rewrite some code in GroupPlugin. For example, in some cases, ab

[2020-12-24 18:12] atelomycterus commented on #315
@jmgasper Fixed. Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/47.
Added UserGroup cache.  Cache Key - 'UserGroup_{userID}'.  The cache will be cleared when user is added/removed from a group.

[2020-12-24 18:20] atelomycterus commented on #311
@callmekatootie I see the same issue in DEV. Thanks a lot for your help!

[2020-12-24 20:32] atelomycterus commented on #311
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/327. Thanks!

I'll test after deploying in DEV:

https://vanilla.topcoder-dev.com/categories/1b0c3322-a76f-4e8c-a821-efb1ad22a6d6
https://vanilla.topcoder-dev.com/categories/5eaf0e74-8ccc-40d1-9cc6-88b216c7b60b
https://vanilla.topcoder-dev.com/discussion/1521

- date time  should be correct
- add new comment  => user should

[2020-12-24 21:55] jmgasper commented on #315
@rootelement ☝️ Testing this in dev.  If it looks alright, can we plan to push to prod next week?  Not sure if there's a pause on deployments over the holidays.

[2020-12-24 22:06] #311 closed

[2020-12-24 22:07] jmgasper commented on #311
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160084<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 23:10] jmgasper commented on #315
@atelomycterus - Deployed in dev, if you wanna check it out.

[2020-12-25 04:53] sdgun commented on #311
@atelomycterus I still see the last commented user incorrect, you can check in the below.

Discussion: https://vanilla.topcoder-dev.com/discussion/1718/home-challenges-forum-development-forums-helis-web-1-code-documents-new-discussion

Category: https://vanilla.topcoder-dev.com/categories/c14c541f-c61f-4bca-ac7e-4d199f157913-documents

![image](https://user-images.githubusercontent.com/4592712/103

[2020-12-25 08:08] atelomycterus commented on #315
@jmgasper The most interesting part is the number of sql queries and the number of rows that were fetched from the database.
Unfortunately, Vanilla DB account doesn't have permission to system views in DEV.
![image](https://user-images.githubusercontent.com/10196632/103123539-becb5480-4695-11eb-8819-84b6ab7e19bc.png)

I can see that with caching UserGroup, Controller runtime also decreased in DEV.

[2020-12-25 16:53] atelomycterus commented on #311
@sdgun Thanks!  I've fixed it in PR-https://github.com/topcoder-platform/forums/pull/328.

[2020-12-25 20:18] atelomycterus commented on #318
@jmgasper Please PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/48
https://github.com/topcoder-platform/challenge-forum-processor/pull/49
Thanks!

### Changes
I added follow status as well.

Follow/Watch is true if a member follows/watches at least one category linked by a group.

GET `/api/v2/groups/{groupID}/member/{userID}` :
![image](https://user-images.githubusercontent.c

[2020-12-26 04:00] #318 closed

[2020-12-26 04:00] jmgasper commented on #318
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160179<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-26 04:00] #315 closed

[2020-12-26 04:01] jmgasper commented on #315
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160167<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-27 02:59] adroc-tc opened #329 "[$20] Email Footer: Gig Work is going to topcoder-dev.com"
In the Forums email footer - the link for Gig Work is linking to https://www.topcoder-dev.com/gigs

it should not link to Dev - it should link to https://www.topcoder.com/gigs

<img width="104" alt="Screen Shot 2020-12-26 at 9 53 47 PM" src="https://user-images.githubusercontent.com/15901238/103162958-81fe7b00-47c5-11eb-9aa9-c20bc4504ff5.png">
<img width="401" alt="Screen Shot 2020-12-26 at 9 58 4

[2020-12-27 21:01] atelomycterus commented on #309
@jmgasper I'm going to test  it and push code tomorrow.

[2020-12-28 20:03] atelomycterus commented on #309
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/330
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/4

### Editor
File size, allowed file extensions are checked on client/server side using Vanilla File handling:
[code]

If user is not allowed to upload, the image is displayed in the toolbar.  Drag and drop is not allowed.
![image](https://user-i

[2020-12-29 15:51] atelomycterus commented on #309
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/331.

- links/images will be opened in a new tab.
- fixed filestack links to force download files in a browser

Vanilla formats markdown to html before displaying view or sending email. So  view/email will have the same html markup, only css styles might be will differ slightly. So we can  fix it/manage it.

We display atta

[2020-12-29 23:26] jmgasper commented on #309
@atelomycterus - I think this will be fine thanks.  I like the approach you've chosen, and we can work through any issues that come up as they arise, thanks.

[2020-12-29 23:26] #309 closed

[2020-12-29 23:26] jmgasper commented on #309
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159994<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-30 06:11] sdgun opened #332 "Copilot can't edit their own post"
**Steps**
1. Launch the application and login as copilot
2. Create a post and post it
3. Try to edit the post

- Copilot can't edit their own post

![1](https://user-images.githubusercontent.com/4592712/103333377-c888f980-4a93-11eb-8e3a-1f4fe75c0249.jpg)

[2020-12-30 06:12] sdgun opened #333 "Copilot can comment even after the discussion is closed"
**Steps**

1. Launch the application and login as copilot
2. Open a thread that is already closed
3. Add a comment

- Copilot can comment even after the discussion is closed

@jmgasper Should we allow this?

![2](https://user-images.githubusercontent.com/4592712/103333486-1b62b100-4a94-11eb-9607-01192dc019c8.jpg)

[2020-12-30 06:14] jmgasper opened #334 "[$30] Time shown on threads"
Reported against prod:

It shows current time for each threads,instead of lastest posted time of them, really hard to follow when the new posted thread in the forum

[2020-12-30 06:15] jmgasper commented on #334
Contest https://www.topcoder.com/challenges/30160873 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-30 06:15] sdgun opened #335 "[$100] User can't upload BMP/PSD/TIFF/LOG files"
**Steps**

1. Launch the application and login as copilot
2. create new discussion and click on the file upload link
3. Attach a BPM/PSD/TIFF/LOG format files

[code]

**Actual behavior**
- User can't upload BMP/PSD

**Expected behavior**
- Should be able to upload BMP/PSD

https://user-images.githubusercontent.com/4592712/103334128-4c43e580-4a96-11eb-9d97-756c87bb98b3.mp4

![image](https://user-i

[2020-12-30 06:17] jmgasper commented on #334
Contest https://www.topcoder.com/challenges/30160873 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-30 06:34] sdgun opened #336 "[$60] Previously uploaded file can't be uploaded again"
**Steps**
1. Launch the application and login as copilot
2. Open a new discussion and click on the file upload link
3. Attach a text file with the name 'sdgun.txt'
4. Delete the file
5. Attach the same text file with the name 'sdgun.txt'

 **Actual Result**
- Previously uploaded file can't re-upload again

**Expected Result**
- Should be able to re-upload

https://user-images.githubusercontent.com

[2020-12-30 06:40] sdgun opened #337 "The Category drop down is opening upward in Chrome"
**Steps**
1. Launch the application and login as copilot
2. Open a new discussion and click on the category

 **Actual Result**
- The Category drop down is opening upward

![image](https://user-images.githubusercontent.com/4592712/103334580-f07a5c00-4a97-11eb-8b90-80e1cd13becb.png)

Environment
**- OS:** 10
**- Device (w/version):** Laptop, Windows 10
**- Browser**  Chrome 87.0.4280.88

[2020-12-30 06:54] sdgun opened #338 "[$50] For the normal users 'Attach files by dragging & dropping, selecting or pasting them.' message is shown below the editor and when they drop attachments an error is displayed"
**Steps**
1. Launch the application and login as a normal user
2. Open a new discussion and see below the editor
3. Drag and drop some valid files

- We shouldn't show the message 'Attach files by dragging & dropping, selecting or pasting them.' to the normal user
- Better to show some meaningful message

https://user-images.githubusercontent.com/4592712/103335098-ef4a2e80-4a99-11eb-83d8-b83892c43

[2020-12-30 07:52] sdgun opened #339 "Issues when user post the comment/discussion while the attachment is being uploaded"
**Steps**
1. Launch the application and login as a copilot user
2. Open a new discussion and attach some files
3. While the attachments are being uploaded, post the discussion

**Result**
- the attachment name is showing as 'Uploading' and clicking it will open the same discussion
- the editor will show the attachments again after the file upload completes

[Screencast 2020-12-30.zip](https://gith

[2020-12-30 08:00] #332 closed

[2020-12-30 08:00] sdgun commented on #332
Pls ignore

[2020-12-30 08:23] sdgun opened #340 "Better to have a close button in the error messages"
**Steps**
Log into forums as copilot
Open a new discussion or go to a new comment
Upload a file > 5MB

The error ribbon cannot be closed since there is no close button

![image](https://user-images.githubusercontent.com/4592712/103339068-6a194680-4aa6-11eb-8611-a770043627c0.png)

[2020-12-30 08:30] atelomycterus commented on #334
@jmgasper I found this bug during testing  https://github.com/topcoder-platform/forums/issues/311. See my comment https://github.com/topcoder-platform/forums/issues/311#issuecomment-750997270. I've fixed it.

[2020-12-30 08:31] atelomycterus commented on #311
@sdgun I've tested it.
Updating existing comment:
![image](https://user-images.githubusercontent.com/10196632/103339446-772c3a80-4a92-11eb-83fa-34ec73e8e34f.png)

Adding new comment:
![image](https://user-images.githubusercontent.com/10196632/103339485-8a3f0a80-4a92-11eb-9d5e-d7769c30d730.png)

[2020-12-30 09:15] sdgun commented on #311
@atelomycterus When a user edits someone else's comments we show the last comment by 'comment edited user' but the last comment inside the discussion is by someone else

Ex-
![image](https://user-images.githubusercontent.com/4592712/103341024-ad29e880-4aab-11eb-8a01-ad4ef467422d.png)

https://vanilla.topcoder-dev.com/discussion/2200/dilhani-gunawardhana

[2020-12-30 09:33] atelomycterus commented on #311
@sdgun User is correct but you will see the name only after mouse hover.  I'll check Vanilla render functions.

![image](https://user-images.githubusercontent.com/10196632/103342377-6b447680-4a9a-11eb-90c3-e3739365d625.png)

![image](https://user-images.githubusercontent.com/10196632/103342395-74cdde80-4a9a-11eb-9b9e-b2988a380d79.png)

![image](https://user-images.githubusercontent.com/10196632/10

[2020-12-30 09:48] sdgun commented on #311
@atelomycterus Got it, thanks

[2020-12-30 10:00] jmgasper commented on #334
@atelomycterus - Ah, sorry, I missed that.  Thanks!

[2020-12-30 10:00] #334 closed

[2020-12-30 10:00] jmgasper commented on #334
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-30 10:38] atelomycterus commented on #311
@jmgasper @sdgun I remember an username showed up after editing, but it could have been done via hooks in previous editors. I've added `by <username>` to the base Vanilla method. It needs to be displayed, not every user will hover over the phrase.

After PR-https://github.com/topcoder-platform/forums/pull/341:
![image](https://user-images.githubusercontent.com/10196632/103345314-202e6180-4aa2-11eb

[2020-12-30 10:53] atelomycterus opened #342 "[$40] Date/Time in postings"
Another thing I don't like as a user is  how Vanilla displays date.
Vanilla displays the time if the post was created today and the date for more posts created earlier.
You need to hover the mouse to understand when the last updates were.

![image](https://user-images.githubusercontent.com/10196632/103346764-07c04600-4aa6-11eb-8399-a867ea12d835.png)

![image](https://user-images.githubusercontent.

[2020-12-30 21:26] jmgasper commented on #342
Contest https://www.topcoder.com/challenges/30160950 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-30 21:26] jmgasper commented on #342
Contest https://www.topcoder.com/challenges/30160950 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-31 06:13] sdgun commented on #308
Verified

[2020-12-31 18:39] atelomycterus commented on #301
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/343.
- https://github.com/topcoder-platform/forums-groups-plugin/pull/49
Thanks!

### Testing
- Register for a challenge and create discussions.
- Unregister from the challenge. My Discussions Count should be updated. All previously created discussions shouldn't be displayed in My discussions.
- Register again for the c

[2020-12-31 19:06] atelomycterus commented on #342
@jmgasper Please apply https://github.com/topcoder-platform/forums/pull/343.

Using default full DateTime format:
Vanilla Date config. '%c' - Preferred date and time stamp based on locale.
![image](https://user-images.githubusercontent.com/10196632/103422762-0e3ce380-4bb4-11eb-8fe4-d9c9e070baa6.png)

### Changes
The list of categories:
![image](https://user-images.githubusercontent.com/10196632/10

[2020-12-31 21:59] atelomycterus commented on #310
@jmgasper Keep you updated:
I am using [MathJax](https://www.mathjax.org) is an open-source JavaScript display engine for LaTeX, MathML,
and AsciiMath notation that works in all modern browsers.

Example
![image](https://user-images.githubusercontent.com/10196632/103426677-3afcf500-4bcc-11eb-9829-84600e227ad9.png)

Source code
![image](https://user-images.githubusercontent.com/10196632/103426688-4

[2021-01-01 00:31] jmgasper commented on #310
@atelomycterus - Looks great, thanks!  I've bumped the payment for all the various integrations.

[2021-01-01 00:31] #301 closed

[2021-01-01 00:31] #342 closed

[2021-01-01 00:31] jmgasper commented on #301
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158655<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-01 00:31] jmgasper commented on #342
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160950<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-01 21:17] atelomycterus commented on #310
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/6.

Preview mode =>math is rendered
After ajax request (e.g. add/edit comment)  => math is rendered.

### TeX and LaTeX Support
MathJax 3 is used. [TeX and LaTeX Support](https://docs.mathjax.org/en/latest/input/tex/index.html)

### Math delimiters in Topcoder editor
Use `$$ ... $$` to display math fo

[2021-01-01 23:41] jmgasper commented on #310
@atelomycterus - I would say, for now, we can just ignore how the emails render the SVG.  We can see what the uptake is on Latex, and I think it would be fine if we leave that as a known issue for the time being, thanks.

[2021-01-01 23:45] jmgasper commented on #310
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-02 05:48] jmgasper opened #344 "[$150] Review bugs"
Noted during review.

The code has been checked into Github here:  https://github.com/topcoder-platform/admin-app/tree/forums-integration

Please make a PR against that branch

### Issue 1

When clicking "Remove Member", an error saying 'Cannot read property 'groupID' of undefined' is shown.
https://gyazo.com/213d0fe761b05b267f9ef8e0734401c9

### Issue 2

Can't find "Unarchiving a group" and it's

[2021-01-02 05:48] jmgasper commented on #344
Contest https://www.topcoder.com/challenges/30161044 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-02 05:48] jmgasper commented on #344
Contest https://www.topcoder.com/challenges/30161044 has been updated - it has been assigned to nowshad.bappy.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-02 07:23] dashu-baba commented on #344
Issue 2:

There is no such API that mark an group to unarchived. Can I have one? Or skip this question.

Please check the related conversation regarding this https://monosnap.com/file/oQ4mbVEPy7YBomOvfmqVwHGNp97J6S

[2021-01-02 09:58] jmgasper commented on #344
@dashu-baba - We can skip that for now, thanks.

[2021-01-02 10:14] dashu-baba commented on #344
@jmgasper , fix provided at https://github.com/topcoder-platform/admin-app/pull/187

[2021-01-03 00:35] jmgasper commented on #344
@dashu-baba - Thanks!

[2021-01-03 00:39] jmgasper commented on #344
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 06:52] dashu-baba commented on #344
@jmgasper,

Is it done? Its reopened again

[2021-01-03 06:54] jmgasper commented on #344
@dashu-baba - Yeah, sorry about that.  The new year broke the billing code.  I'm working with Topcoder to fix it, so it may be delayed by a day.  Nothing you need to do though.

[2021-01-03 06:59] dashu-baba commented on #344
Oh, okay. Thanks

[2021-01-04 19:37] atelomycterus commented on #310
@jmgasper  Additional note:  Another option is how to generate images from math equations.  Folks use online services to render formulas to images  (e.g. https://latex.codecogs.com/). The services generate on-the-fly images.
It was interesting to find out how they do it.  They use TexLive which is the default TeX distribution for several Linux distributions (Ubuntu and so on). It  includes major T

[2021-01-04 22:16] jmgasper commented on #310
@atelomycterus - Ok, that may work.  I'll keep that in mind, thanks.

[2021-01-05 20:22] #310 closed

[2021-01-05 20:23] jmgasper commented on #310
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159995<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 20:23] #344 closed

[2021-01-05 20:23] jmgasper commented on #344
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161044<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:29] #65 closed

[2021-01-05 21:37] jmgasper commented on #335
Contest https://www.topcoder.com/challenges/30161331 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:37] jmgasper commented on #335
Contest https://www.topcoder.com/challenges/30161331 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:37] jmgasper commented on #335
@atelomycterus - Can we look at this please?

[2021-01-05 21:38] jmgasper commented on #338
Contest https://www.topcoder.com/challenges/30161332 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:38] jmgasper commented on #338
Contest https://www.topcoder.com/challenges/30161332 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:39] jmgasper commented on #316
Contest https://www.topcoder.com/challenges/30161333 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:39] jmgasper commented on #316
Contest https://www.topcoder.com/challenges/30161333 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:39] jmgasper commented on #320
Contest https://www.topcoder.com/challenges/30161334 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:39] jmgasper commented on #320
Contest https://www.topcoder.com/challenges/30161334 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:39] jmgasper commented on #324
Contest https://www.topcoder.com/challenges/30161335 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:39] jmgasper commented on #324
Contest https://www.topcoder.com/challenges/30161335 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:40] jmgasper commented on #336
Contest https://www.topcoder.com/challenges/30161336 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-05 21:40] jmgasper commented on #336
Contest https://www.topcoder.com/challenges/30161336 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-06 12:07] atelomycterus commented on #335
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/7
https://github.com/topcoder-platform/forums/pull/345

Thanks!

Fixed 'Something wrong...'. Vanila recognizes image format. It tried to prepare image before saving based on EXIF data (Exchangeable image file format). This includes optional resizing and re-orienting. So it thrown an exception becaus

[2021-01-06 12:33] atelomycterus commented on #338
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/7.

### Testing
Fixed. Vanilla message is displayed, not the default EasyMDE message ('Someting wrong..')
![image](https://user-images.githubusercontent.com/10196632/103768665-f9d56c80-5033-11eb-9c62-f125a434c916.png)

Fixed. User without Upload file permissions is not allowed to drag&drop files. The

[2021-01-06 18:15] atelomycterus commented on #336
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/7. Thanks!

[2021-01-06 20:14] #335 closed

[2021-01-06 20:15] jmgasper commented on #335
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161331<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-06 20:15] #338 closed

[2021-01-06 20:15] jmgasper commented on #338
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161332<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-06 20:15] #336 closed

[2021-01-06 20:15] jmgasper commented on #336
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161336<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-06 21:03] atelomycterus commented on #316
@jmgasper There was 504 Gateway Timeout in sdgun's video:
![image](https://user-images.githubusercontent.com/10196632/103819306-35475980-507b-11eb-8e46-2cbde3e7f471.png)

In general, the error is not related to the comments on the old post. I've checked  logs since 21 December (`cw -p topcoder-dev -r us-east-1 tail -f /aws/ecs/tc-forums:DEV/vanilla-forums -b20d`) but there are no logs  from 22 Dec

[2021-01-06 21:14] atelomycterus commented on #324
@jmgasper @sdgun Please let me know when the error occurs again. Both issues happened 24 Dec (#316, #324). Ajax requests were failed:
![image](https://user-images.githubusercontent.com/10196632/103820034-9f143300-507c-11eb-9b77-86064f06fe79.png)

From sdgun's screens:
![image](https://user-images.githubusercontent.com/10196632/103820152-dd115700-507c-11eb-9b81-db4a91bf0dba.png)

[2021-01-07 06:46] jmgasper commented on #316
@sdgun - Have you seen this since?

[2021-01-07 07:01] sdgun commented on #324
@atelomycterus This issue is not happening anymore

[2021-01-07 07:02] sdgun commented on #316
@jmgasper @atelomycterus  This issue is not happening anymore

[2021-01-07 08:15] #324 closed

[2021-01-07 08:16] jmgasper commented on #324
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161335<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-07 08:22] sdgun commented on #336
Verified.

[2021-01-07 08:24] sdgun commented on #338
Verified

[2021-01-07 08:40] #316 closed

[2021-01-07 08:41] jmgasper commented on #316
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161333<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-07 08:52] sdgun commented on #335
Verified.

[2021-01-07 20:11] atelomycterus commented on #320
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/346,
https://github.com/topcoder-platform/forums-groups-plugin/pull/50/. Thanks!

### Changes
- Fixed extra spaces. Vanilla Email sender converted all 'CR LF'  to <br>.
- Fixed a gig work link (#329).
- Minor changes with styles.

Tested with Gmail client (web), Yandex client (web), and Mail (including mobile).

![image](ht

[2021-01-07 20:13] atelomycterus commented on #329
@jmgasper Fixed in https://github.com/topcoder-platform/forums/pull/346.

[2021-01-07 20:13] atelomycterus commented on #329
@adroc-tc Thanks!

[2021-01-08 10:55] sdgun opened #347 "[$30] When click Cancel button in a discussion which is in Drafts, display a page with message 'Discussion not found'"
**Steps**
Log into Forums
Click New discussion
Enter discussion title and other required data
Click Save draft
Go to drafts page
Open the above created draft
Click Cancel button

**Expected result**
Go back to Drafts page

**Actual result**
Show the below page

![image](https://user-images.githubusercontent.com/4592712/104007475-0097e700-51ce-11eb-9c69-ec1a75aec545.png)

[2021-01-08 12:04] sdgun commented on #301
Verified.

Unregistering from the challenge is updating the My Discussions Count and previously created discussions are not displayed in My discussions. Register again updates the My Discussions count and all previously created discussions are displayed in My discussions.

[2021-01-08 12:25] sdgun opened #348 "Proper error message is not displayed when trying to post a comment/discussion after unregistering from the challenge"
**Steps**
Open a saved discussion from the draft
Unregister from the challenge
Post the discussion

Display the below, better to show a proper error message

![image](https://user-images.githubusercontent.com/4592712/104015435-a4878f80-51da-11eb-8cf1-44720ba9af7f.png)

[2021-01-08 14:24] sdgun opened #349 "The text in some discussions go out of the section"
**Steps**
Go to a challenge forum(log in as an admin user)
Scroll down the RECENT DISCUSSIONS list

The text in some discussions go out of the section

![image](https://user-images.githubusercontent.com/4592712/104024864-c63c4300-51e9-11eb-9d07-8eb2c92216e9.png)

[2021-01-08 17:35] atelomycterus opened #350 "[$150] Performance: Group Page , Discussion Page"
Execution time is worse for pages that have a challenge group because  member roles are displayed for a challenge.
![image](https://user-images.githubusercontent.com/10196632/104046237-d277ce80-51f0-11eb-851c-c2fcaf0cd315.png)

## Group page

Group page takes about 2,5- 4,5 seconds.

![image](https://user-images.githubusercontent.com/10196632/104043440-e0c3eb80-51ec-11eb-9b1a-0e9c9158e013.png)

Fo

[2021-01-08 19:38] atelomycterus commented on #350
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/57. Thanks!

I see the list of errors in DEV. As a result, member roles are not displayed at group pages/ discussion pages.
![image](https://user-images.githubusercontent.com/10196632/104055165-55a02100-51ff-11eb-8db1-56c01ed65a05.png)

I have compared all M2M parameters. In my environment, I have only one parameter

[2021-01-09 03:17] jmgasper commented on #350
Contest https://www.topcoder.com/challenges/30161722 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-09 03:17] jmgasper commented on #350
Contest https://www.topcoder.com/challenges/30161722 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-10 06:33] jmgasper commented on #350
Seems much betters thanks.

[2021-01-10 06:33] #350 closed

[2021-01-10 06:33] jmgasper commented on #350
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161722<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-10 06:56] jmgasper commented on #347
Contest https://www.topcoder.com/challenges/30161753 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-10 06:58] jmgasper commented on #347
Contest https://www.topcoder.com/challenges/30161753 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-10 17:12] atelomycterus commented on #347
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums/pull/351.

### Testing
if User edits a discussion draft (DiscussionID is undefined) and clicks on Cancel, User should go to '/drafts'.

[2021-01-10 20:51] #347 closed

[2021-01-10 20:51] jmgasper commented on #347
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161753<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-11 05:51] sdgun commented on #347
Verified, the user is redirected to the Drafts page upon cancelling.

[2021-01-11 09:09] sdgun commented on #318
This will be verified while testing admin app changes.

[2021-01-12 06:43] jmgasper opened #352 "[$50] Redirect at login"
@atelomycterus - We're seeing in prod a redirect issue:

1.  If a user is logged out (or has timed out and has to re-authenticate), we send them to the login page
2. Currently, we have configured the user to just be redirected back to the recent discussions after login

The problem with the above flow is that if the user clicks `Check it out` from an email and goes through the login flow, they get

[2021-01-12 06:43] jmgasper commented on #352
Contest https://www.topcoder.com/challenges/30161956 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-12 06:45] jmgasper commented on #352
Contest https://www.topcoder.com/challenges/30161956 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-12 07:00] sdgun commented on #350
Verified in Groups page, Discussion page, and with 3 pages of comments. All calls completed below 1 second

![image](https://user-images.githubusercontent.com/4592712/104279962-2b858200-54d1-11eb-9cb7-b7d7c8d1a2d6.png)

![image](https://user-images.githubusercontent.com/4592712/104279990-35a78080-54d1-11eb-8cbc-69b6829e2fdf.png)

[2021-01-12 07:13] sdgun commented on #309
@atelomycterus When the normal user drag and drop a text file into the editor, the text in the file is copied to the editor. Is this intentional?

[2021-01-12 07:20] atelomycterus commented on #309
@sdgun I also noticed this for text files. This is the functionality of the CodeMirror editor that underlies the EasyMDE editor.

[2021-01-12 08:18] jmgasper commented on #309
@sdgun - I *think* that'll be fine for now.

[2021-01-12 08:41] sdgun commented on #309
Verified file uploads by authorized users and unauthorized users.

[2021-01-12 08:47] sdgun commented on #342
Verified.

[2021-01-12 08:52] sdgun commented on #310
Verified. https://vanilla.topcoder-dev.com/discussion/2560/latex/p1

[2021-01-12 09:56] sdgun commented on #320
Verified, the extra spaces are not present in the notifications now.

![image](https://user-images.githubusercontent.com/4592712/104298833-73fd6980-54ea-11eb-8021-ac2145cf2b6e.png)

![image](https://user-images.githubusercontent.com/4592712/104298880-82e41c00-54ea-11eb-8c15-dff1b35fa135.png)

[2021-01-12 12:52] atelomycterus commented on #352
@jmgasper Please apply PRs - https://github.com/topcoder-platform/forums/pull/353
https://github.com/topcoder-platform/forums-plugins/pull/58

Thanks!

### Topcoder plugin Settings
1. Deploy  code.
2. Go to Topcoder Plugin Settings.  Update `retUrl` query param of SignInUrl. It should be  equal to `{target}`. Click on Save.
![image](https://user-images.githubusercontent.com/10196632/104313205-bd4c

[2021-01-12 20:52] #352 closed

[2021-01-12 20:52] jmgasper commented on #352
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161956<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-14 03:50] sdgun commented on #352
Verified, the user is redirected to the correct discussion after login.

[2021-01-14 04:01] sdgun opened #354 "[$30] Handle drop down is not displayed when user type @ from the keyboard in mobile device"
**Steps**
Go to forums from a mobile device
Open a new discussion/comment
Type @ from keyboard
Start typing a user handle

The user list context menu is not displayed

Device: Pixel XL
OS: Android 10
Browser: Chrome

[2021-01-14 06:07] jmgasper commented on #354
Contest https://www.topcoder.com/challenges/30162270 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-14 06:07] jmgasper commented on #354
Contest https://www.topcoder.com/challenges/30162270 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-14 06:08] jmgasper opened #355 "[$75] New editor cleanup"
@atelomycterus - We're getting ready to deploy the latest updates, and the new editor, to prod.  Can you do whatever little cleanup we need to do, like remove any debug text from the handle popup, please?  If there are larger issues that still need to be addressed, let me know and I'll create tickets for those as well, thanks!

[2021-01-14 06:08] jmgasper commented on #355
Contest https://www.topcoder.com/challenges/30162271 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-14 06:08] jmgasper commented on #355
Contest https://www.topcoder.com/challenges/30162271 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-14 12:37] atelomycterus commented on #354
@sdgun @jmgasper

The user list is loaded asynchronously. If 'completionActive' mode (in other words, entered or pressed `@`), then track
user actions (keystrokes) every 500ms . If for some reason a server does not respond within the specified time, the list will not be displayed.

![image](https://user-images.githubusercontent.com/10196632/104591744-2e71a580-567e-11eb-8a22-051261ce0f96.png)

[2021-01-14 15:33] atelomycterus commented on #355
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/8.  Thanks!

- Fixed and removed unused code.
- These lines are displayed due to Chrome settings. They can be hidden.
![image](https://user-images.githubusercontent.com/10196632/104610578-4d2f6680-5695-11eb-9d52-10847e9a1669.png)
![image](https://user-images.githubusercontent.com/10196632/104610439-

[2021-01-14 17:04] atelomycterus commented on #354
@jmgasper Fixed. Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/8. Thanks!

@sdgun Fixed this issue on Android chrome : https://monosnap.com/file/zSTCqxOXutyaNiT2vDzmvcAZqzpYRg.

[2021-01-14 19:36] #354 closed

[2021-01-14 19:37] jmgasper commented on #354
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162270<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-15 07:17] sdgun commented on #354
Verified, the context menu appears in both scenarios now.

[2021-01-16 01:21] #355 closed

[2021-01-16 01:21] jmgasper commented on #355
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162271<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-18 20:47] jmgasper opened #356 "[$50] Memcache review"
Hi @atelomycterus - See below.  Can you confirm how this was implemented please?  We just want to make sure we're being as efficient as possible.  This should be the last hurdle before we deploy to production.

![Screen Shot 2021-01-12 at 11 04 32 AM](https://user-images.githubusercontent.com/21790/104961536-9e8b7d00-5a2a-11eb-882a-7fac32ce9961.png)

[2021-01-18 20:48] jmgasper commented on #356
Contest https://www.topcoder.com/challenges/30162738 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-18 20:48] jmgasper commented on #356
Contest https://www.topcoder.com/challenges/30162738 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-19 05:28] atelomycterus commented on #356
@jmgasper  In #315 , I added UserGroupCache.

Could you provide sql statistics from DB? What sql queries executed?

### UserGroupCache
Testing after adding UserGroupCache - https://github.com/topcoder-platform/forums/issues/315#issuecomment-751204042
Memcached key is  'UserGroup_$userID', $userID = Vanilla UserID
SQL query:
```select ug.Role as Role, ug.GroupID as GroupID from GDN_UserGroup ug whe

[2021-01-19 05:29] jmgasper commented on #356
@atelomycterus - I think the concern is that we're turning from hitting the SQL server hard to hitting the memcache server hard.  We want to make sure we limit the amount of requests, if possible.

[2021-01-19 21:30] jmgasper commented on #356
@atelomycterus - Any update?  ☝️

[2021-01-20 08:17] atelomycterus commented on #356
@jmgasper Sorry for the delayed response. I've checked that there were no thousand requests to memchahed. Memcached stats after viewing some pages:
![image](https://user-images.githubusercontent.com/10196632/105143505-ff8b8180-5b0c-11eb-8c8f-8c7c7e939984.png)

There are different monitoring tools, which can visualize, monitor and get alerted on important metrics.
Need to look at performance monito

[2021-01-20 09:21] jmgasper commented on #356
@rootelement - This look OK?  ☝️

[2021-01-21 02:05] jmgasper commented on #356
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 01:06] jmgasper opened #357 "[$40] Priority - remove first name / last name"
@atelomycterus - I'm seeing first name and last name on prod.  Can that be removed please?  We just want the handle list.

<img width="283" alt="Screen Shot 2021-01-22 at 12 05 38 pm" src="https://user-images.githubusercontent.com/21790/105431716-45318100-5caa-11eb-868a-fc9cb8b9641e.png">

[2021-01-22 01:10] jmgasper commented on #357
[400]: Failed to create challenge. Detail: User with handle: TopcoderService doesn't exist<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:58] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/b053c49a-2169-476a-82ba-28d39a29fc1f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:58] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/5876b2c4-21ce-4a43-9dd9-af62c32256a8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:58] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/5876b2c4-21ce-4a43-9dd9-af62c32256a8 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:58] jmgasper commented on #329
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:58] jmgasper commented on #356
Challenge https://www.topcoder.com/challenges/0454e5c7-42b6-4331-b657-93a91ed23fa9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 04:58] jmgasper commented on #356
Challenge https://www.topcoder.com/challenges/0454e5c7-42b6-4331-b657-93a91ed23fa9 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 05:00] jmgasper commented on #356
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 05:00] jmgasper commented on #320
Payment failed: [400]: Failed to get challenge details by Id Detail: "id" must be a valid GUID<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 05:01] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/5876b2c4-21ce-4a43-9dd9-af62c32256a8 obog has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 05:02] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/5876b2c4-21ce-4a43-9dd9-af62c32256a8 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 05:02] jmgasper commented on #329
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 06:08] sdgun commented on #335
Verified in production. Example forum post: https://discussions.topcoder.com/discussion/1909/welcome

[2021-01-22 06:34] atelomycterus commented on #357
@jmgasper Fixed. Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/9.

### Testing
Please  clear browser cache before testing.

![image](https://user-images.githubusercontent.com/10196632/105455660-ec0b2280-5c94-11eb-95ff-e4f022e1a783.png)

[2021-01-22 06:34] jmgasper commented on #357
Challenge https://www.topcoder.com/challenges/895a434b-a45b-41f8-8b1d-da1fcfec07ab has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 06:34] jmgasper commented on #357
Challenge https://www.topcoder.com/challenges/895a434b-a45b-41f8-8b1d-da1fcfec07ab has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 06:34] sdgun commented on #83
Verified in production.

[2021-01-22 06:41] sdgun commented on #310
Verified in production.

https://discussions.topcoder.com/discussion/1966/test-new-discussion

[2021-01-22 06:42] sdgun commented on #347
Verified in production

[2021-01-22 06:47] jmgasper commented on #357
@atelomycterus - Looks good, thanks!

[2021-01-22 07:04] sdgun opened #358 "Normal users can upload files in production"
**Steps**
Created a new challenge in production - Forum: https://discussions.topcoder.com/categories/ac34bef7-a634-4d2f-b5e4-c83f68d908a5
Log in as a normal user('CustomerUser') by registering to the challenge
Go to create a new comment/discussion

The upload button is available to the user and this user can upload files

Even after unregistering from the challenge this user can see the forum. I a

[2021-01-22 07:06] sdgun commented on #338
Failing this in production due to issue - https://github.com/topcoder-platform/forums/issues/358

[2021-01-22 07:08] sdgun commented on #336
Verified in production

[2021-01-22 07:40] jmgasper commented on #358
@sdgun - Looks like the permission was changed.  Can you try again please?

[2021-01-22 07:46] sdgun commented on #308
Unable to completely verify this in production, but tested quoting of the old comments and they worked fine.

[2021-01-22 08:07] sdgun commented on #358
@jmgasper I checked this again, but I can still see this user can access forums even without registering to the challenges.

[2021-01-22 08:19] sdgun commented on #311
Verified in production

https://discussions.topcoder.com/categories/ac34bef7-a634-4d2f-b5e4-c83f68d908a5-questions

[2021-01-22 08:29] sdgun commented on #358
@jmgasper Now I cannot see the upload option even for copilot users in production. I am trying from my account on the same discussion I used before

[2021-01-22 08:35] jmgasper commented on #358
@sdgun - I fixed the upload permissions for copilots.

[2021-01-22 08:37] sdgun commented on #350
Verified in production

![image](https://user-images.githubusercontent.com/4592712/105467041-2091d500-5cbb-11eb-8a7f-bc13d428a95b.png)

[2021-01-22 08:55] sdgun opened #359 "[$50] The uploaded files are not downloaded in the notification email in production"
**Steps**
In production, in the notification email, the file attachments cannot be downloaded. When click on attachments(except .txt files), nothing happens. when inspect and get the url, the files are being downloaded.

Note: This issue is only there in production

https://user-images.githubusercontent.com/4592712/105469001-a3b42a80-5cbd-11eb-8cb4-cafc1c84bded.mp4

[2021-01-22 08:56] sdgun commented on #358
@jmgasper Verified, Copilots can upload files now.

[2021-01-22 14:38] callmekatootie opened #360 "[$50] Recent Discussions does not show the most recent first"
![image](https://user-images.githubusercontent.com/2317133/105504158-6e273580-5ced-11eb-8690-4c0473416af7.png)

Current: The most recent discussion was today, 22 Jan. However, this is appearing as item number 3 in the recent discussions list.

Expected: The most recent discussion should appear first. The ordering should be descending by date and time.

[2021-01-22 18:17] jmgasper commented on #359
Challenge https://www.topcoder.com/challenges/617851a0-9a0b-40e3-9bd6-82cda71d8557 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 18:17] jmgasper commented on #359
Challenge https://www.topcoder.com/challenges/617851a0-9a0b-40e3-9bd6-82cda71d8557 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 18:17] jmgasper commented on #359
@atelomycterus - Can you have a look please?

[2021-01-22 18:22] jmgasper commented on #360
Challenge https://www.topcoder.com/challenges/3f943969-35f8-4712-9a22-4fb2eb767525 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 18:22] jmgasper commented on #360
Challenge https://www.topcoder.com/challenges/3f943969-35f8-4712-9a22-4fb2eb767525 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 18:22] jmgasper commented on #360
@atelomycterus - Can you check this please?

[2021-01-22 18:39] atelomycterus commented on #360
@jmgasper  The first two discussions are announcements. See more details https://github.com/topcoder-platform/forums/issues/124#issuecomment-738167173.
![image](https://user-images.githubusercontent.com/10196632/105530766-4fc73700-5cf9-11eb-857e-d5f06ec86ade.png)

[2021-01-22 20:23] atelomycterus commented on #359
@jmgasper Each link is wrapped with `http://link.topocder.com/ls/click?upn=<encoded original url>` in an email.
The site at 'https://www.google.com/url?q=http://link.topcoder.com/ls/...' was loaded over a secure connection, but the file at 'https://cdn.filestackcontent.com/Cr0OoitR7u0jqKpnQ2Dz?dl=true' was redirected through an insecure connection. So files are blocked due to mixed content.  Pleas

[2021-01-22 23:06] jmgasper commented on #359
@atelomycterus - Do we do the `link.topcoder.com` wrapping or does the system do that?  Could we use `https://link.topcoder.com`?

[2021-01-22 23:16] jmgasper commented on #360
@callmekatootie ☝️ Does that clarification make sense?  We prioritise announcements in sorting.

[2021-01-23 02:37] callmekatootie commented on #360
It does make sense.

Does this imply that I am now forever stuck with the two announcements always listing at the top...?

[2021-01-23 02:39] jmgasper commented on #360
@callmekatootie - No, I'm just saying that's what we're doing.  Do you think it makes sense to order in a different way, maybe handle announcements differently?

[2021-01-23 03:00] dedywahyudi opened #361 "[$40] Username tag not linking if have dot inside it"
- Check screenshots below:
- test with @d.fachri (with dot)
- After posted the comments, it should allowed user to click the link to the related user profile page

![Screen Shot 2021-01-23 at 09 57 10](https://user-images.githubusercontent.com/4476442/105566975-9b153000-5d61-11eb-8166-52e7e8cf3fb0.png)

![Screen Shot 2021-01-23 at 09 57 17](https://user-images.githubusercontent.com/4476442/1055669

[2021-01-23 03:04] jmgasper commented on #361
Challenge https://www.topcoder.com/challenges/d81a1932-f124-4358-a1dc-40125f1a868e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 03:04] jmgasper commented on #361
Challenge https://www.topcoder.com/challenges/d81a1932-f124-4358-a1dc-40125f1a868e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 09:53] atelomycterus commented on #359
@jmgasper SendGrid wraps all links for analytics, not Vanilla.

From https://sendgrid.com/docs/ui/account-and-settings/tracking/:

Enabling Click Tracking causes all the links and URLs in your emails to be overwritten and pointed to either SendGrid’s servers or the domain you branded your link with so that any time a customer clicks a link, SendGrid can track those clicks. SendGrid can track up to

[2021-01-23 11:31] atelomycterus commented on #360
@jmgasper @callmekatootie

Vanilla has 'Dismiss' option for announcements.
'Dismiss' - Marks the specified announcement as dismissed by the **specified** user. We've removed this option from the dropdown.  Let me know if you are ok with that and I'll fix it:

'Dismiss' option:
![image](https://user-images.githubusercontent.com/10196632/105576868-de35ca00-5d86-11eb-875b-4c3fd7ceb9c1.png)

![image](

[2021-01-23 12:46] callmekatootie commented on #360
So, I would expect recent discussions to show, well, recent discussions.

Not sure if announcements need to be treated special here (I would say no).

Ability to dismiss announcements - probably good. But I still don't see why recent discussions should have that option...

[2021-01-23 16:04] atelomycterus commented on #361
@jmgasper @dedywahyudi Please use double-quotes if username includes special characters.
Without double-quotes, a mentioned username is terminated by any of the following characters:  whitespace , ' . ' ',' ';', '?', '!', '|'.
![image](https://user-images.githubusercontent.com/10196632/105606781-5793e380-5dac-11eb-8c3f-52aa2750c42f.png)

@jmgasper Please apply PR-https://github.com/topcoder-platfo

[2021-01-23 23:12] #361 closed

[2021-01-23 23:12] jmgasper commented on #361
Payment task has been updated: https://www.topcoder.com/challenges/d81a1932-f124-4358-a1dc-40125f1a868e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d81a1932-f124-4358-a1dc-40125f1a868e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-24 02:14] jmgasper commented on #359
@rootelement - Can we get some help on this one please?

[2021-01-25 03:28] m-yadav opened #362 "Unable to identify code and comment area"
The code area's background color is very close to the post background color. making it difficult for user to distinguish between the two. Ideally the user should be able to identify both of them without much effort making the user experience more flawless.

Please refer below snippet from the link  https://discussions.topcoder.com/discussion/1888/document

![image](https://user-images.githubuserco

[2021-01-25 03:32] jmgasper commented on #362
@m-yadav - Thanks for that rest.  What browser / OS are you using?

[2021-01-25 03:41] m-yadav commented on #362
@jmgasper  i am using Chrome V87 / Windows 10

[2021-01-25 04:35] sdgun commented on #361
Verified in Dev

[2021-01-25 05:20] sdgun commented on #357
Verified in production

[2021-01-25 05:36] sdgun commented on #342
Verified in production

![image](https://user-images.githubusercontent.com/4592712/105665551-532b1000-5efd-11eb-9ca2-63142faba11a.png)

[2021-01-25 05:37] sdgun commented on #338
Verified after the fix to https://github.com/topcoder-platform/forums/issues/358, this issue is fixed in production now.

[2021-01-25 05:45] sdgun commented on #309
Verified in production

[2021-01-25 05:48] sdgun commented on #301
Unable to verify in production due to https://github.com/topcoder-platform/forums/issues/358#issuecomment-765219618

[2021-01-25 07:37] sdgun commented on #358
@jmgasper I checked the 'CustomerUser' in production and this user does not see the challenge discussion link on the challenge details page but he can access the discussion groups.

[2021-01-25 08:52] staticfire commented on #362
@m-yadav  Same issue. I am using Chrome V88 / macOS 10.15.7

[2021-01-26 04:52] sdgun commented on #208
Comment for QA reference: This issue is invalid after implementing the new editor

[2021-01-26 06:30] jmgasper commented on #208
Challenge https://www.topcoder.com/challenges/6e425851-2671-4092-8337-89f430744ea5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 06:30] jmgasper commented on #208
Challenge https://www.topcoder.com/challenges/6e425851-2671-4092-8337-89f430744ea5 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 12:11] atelomycterus commented on #208
@jmgasper  The Topcoder editor doesn't have url pop-up.  This issue happens in the outdated Advanced Editor, not  the current Topcoder Editor.
![image](https://user-images.githubusercontent.com/10196632/105843322-98783c00-5fe8-11eb-8c06-4b5dd5afbe4d.png)

I think you missed sdgun's comment:

[2021-01-26 20:45] #357 closed

[2021-01-26 20:45] jmgasper commented on #357
Payment task has been updated: https://www.topcoder.com/challenges/895a434b-a45b-41f8-8b1d-da1fcfec07ab
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `895a434b-a45b-41f8-8b1d-da1fcfec07ab` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 20:46] jmgasper commented on #356
Challenge https://www.topcoder.com/challenges/ae9c542e-628d-450e-987a-25b8201af9a8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 20:46] jmgasper commented on #356
Challenge https://www.topcoder.com/challenges/ae9c542e-628d-450e-987a-25b8201af9a8 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 20:47] jmgasper commented on #356
Payment task has been updated: https://www.topcoder.com/challenges/ae9c542e-628d-450e-987a-25b8201af9a8
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ae9c542e-628d-450e-987a-25b8201af9a8` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 20:49] jmgasper commented on #356
Challenge https://www.topcoder.com/challenges/512fcf92-9846-4d77-9092-88894c6e6bf3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 20:49] jmgasper commented on #356
Challenge https://www.topcoder.com/challenges/512fcf92-9846-4d77-9092-88894c6e6bf3 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 21:15] jmgasper commented on #208
@atelomycterus - Ah, sorry about that.

[2021-01-26 22:02] jmgasper commented on #356
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:02] #356 closed

[2021-01-26 22:03] jmgasper commented on #356
Payment task has been updated: https://www.topcoder.com/challenges/512fcf92-9846-4d77-9092-88894c6e6bf3
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `512fcf92-9846-4d77-9092-88894c6e6bf3` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:03] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/a17dae2a-13c5-4679-a695-c68236ed66db has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:03] jmgasper commented on #329
Challenge https://www.topcoder.com/challenges/a17dae2a-13c5-4679-a695-c68236ed66db has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:03] #329 closed

[2021-01-26 22:04] jmgasper commented on #329
Payment task has been updated: https://www.topcoder.com/challenges/a17dae2a-13c5-4679-a695-c68236ed66db
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a17dae2a-13c5-4679-a695-c68236ed66db` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:04] jmgasper commented on #320
Challenge https://www.topcoder.com/challenges/b896b391-eb57-4403-ae71-5cab03db9aad has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:04] jmgasper commented on #320
Challenge https://www.topcoder.com/challenges/b896b391-eb57-4403-ae71-5cab03db9aad has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:07] #320 closed

[2021-01-26 22:07] jmgasper commented on #320
Payment task has been updated: https://www.topcoder.com/challenges/b896b391-eb57-4403-ae71-5cab03db9aad
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b896b391-eb57-4403-ae71-5cab03db9aad` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 02:38] jmgasper opened #363 "[$100] Check group role / rights"
@atelomycterus - We're getting reports of folks who are *not* registered for a challenge able to access the challenge forum.

Can you investigate ASAP please?

#### Sample:

- https://www.topcoder.com/challenges/ac34bef7-a634-4d2f-b5e4-c83f68d908a5
- https://discussions.topcoder.com/categories/ac34bef7-a634-4d2f-b5e4-c83f68d908a5

#### Login:

CustomerUser/appirio123

[2021-01-27 02:38] jmgasper commented on #363
Challenge https://www.topcoder.com/challenges/bfd2e64b-f65c-4a51-8ab9-d8b74ccd3d8e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 02:38] jmgasper commented on #363
Challenge https://www.topcoder.com/challenges/bfd2e64b-f65c-4a51-8ab9-d8b74ccd3d8e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-27 06:56] atelomycterus commented on #363
@jmgasper CustomerUser is a member of the group. The user  joined `TEST CHALLENGE FORUM RELEASE 1/22/2021` at 2021-01-22 06:45:23.

Go to 'All members' of the `TEST CHALLENGE FORUM RELEASE 1/22/2021`:
![image](https://user-images.githubusercontent.com/10196632/105951958-e8571180-6081-11eb-9e54-f0072fef5d84.png)

I would check  some more users 'who are not registered for a challenge able to access

[2021-01-27 06:59] jmgasper commented on #363
@sdgun ☝️ Can you validate please?

[2021-01-27 08:48] sdgun commented on #363
@atelomycterus This user unregisters from the challenges, but it doesn't remove him from the groups.

![image](https://user-images.githubusercontent.com/4592712/105966051-249e6800-60aa-11eb-8b63-aa048f53f4cb.png)

[2021-01-27 12:30] atelomycterus commented on #363
@jmgasper  I registered for a challenge (https://www.topcoder.com/challenges/c8395d32-970e-4c77-8c63-4969a29a031f) using my account and unregistered from it but I wasn't removed from a Vanilla group.

I see that challenge-forum-processor (**master**) doesn't include several commits  after 21 Dec.  The user is not removed from a group due to a missing commit ( `780ca615008b76802bca2d5aab16c0cafaa9f

[2021-01-27 20:23] jmgasper commented on #363
@atelomycterus - Ah, good catch, thanks.  Fixing / redeploying now.

[2021-01-28 04:48] sdgun commented on #363
Verified, unregistering removed the user from the group. Also verified email notifications after unregistering and user is not getting any notification after that. This issue can be closed @jmgasper

[2021-01-28 04:48] atelomycterus commented on #363
@jmgasper It works as expected. I've tested with my account. After unregistering from a challenge, Permission Problem page is displayed.
@sdgun Please validate it. Let me know if you find something wrong.

[2021-01-28 04:52] sdgun commented on #358
This issue was fixed in https://github.com/topcoder-platform/forums/issues/363

[2021-01-28 04:52] #358 closed

[2021-01-28 04:53] sdgun commented on #301
Verified in production, the counts are adjusted after the user unregisters.

[2021-01-28 05:02] jmgasper commented on #363
Challenge https://www.topcoder.com/challenges/153518f7-acf8-4df3-a000-86771046d807 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-28 05:02] jmgasper commented on #363
Challenge https://www.topcoder.com/challenges/153518f7-acf8-4df3-a000-86771046d807 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-28 05:02] #363 closed

[2021-01-28 05:03] jmgasper commented on #363
Payment task has been updated: https://www.topcoder.com/challenges/153518f7-acf8-4df3-a000-86771046d807
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `153518f7-acf8-4df3-a000-86771046d807` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-29 05:30] callmekatootie opened #364 "Weird behaviour when I press the END key"
LOW Priority - not that important but raising it nevertheless since I find it mildly annoying.

In the video below, see the initial position of the cursor - I then press the END key on my keyboard.

Expected - it should go to the end of THAT line / row.
Actual - It goes to the end of that statement.

https://user-images.githubusercontent.com/2317133/106235568-f1321980-6220-11eb-8dcf-0e70ef25ccf1.m

[2021-02-01 04:11] sdgun opened #365 "[$40] The left nav doesn't show up when user is in the roundtables"
**Steps**
Go to https://vanilla.topcoder-dev.com/ (log in or without log in)
Click on an roundtable
Check the left nav

Roundtable topics are not displayed now in the left nav

Not logged in:
![image](https://user-images.githubusercontent.com/4592712/106413955-6b58dd00-6471-11eb-8ef2-76c0def83e71.png)

Logged in:
![image](https://user-images.githubusercontent.com/4592712/106413972-79a6f900-6471-11

[2021-02-01 04:16] sdgun opened #366 "[$40] The sort and view options are not available when not logged in"
**Steps**
Go to https://vanilla.topcoder-dev.com/ (without log in)
Click on an roundtable

When logged in, the user can see the sort and view options but they are not available when not logged in.

Logged in:
![image](https://user-images.githubusercontent.com/4592712/106414244-24b7b280-6472-11eb-8a41-a859d251caad.png)

Not logged in:
![image](https://user-images.githubusercontent.com/4592712/10641

[2021-02-01 05:06] sdgun opened #367 "[$40] Normal user/Manager user doesn't have view permissions to discussions"
**Steps**
Go to https://vanilla.topcoder-dev.com/ (Log in as a normal user or Manager user)
Click on any roundtable
Click New Discussion
Select a Roundtable, Enter details and create it(user can create it)

After creating it shows Permission problem, but the discussion is created

![image](https://user-images.githubusercontent.com/4592712/106417149-4b2d1c00-6479-11eb-9797-3dbf3fef2ebf.png)

[2021-02-01 05:16] sdgun opened #368 "[$50] Not logged in users doesn't have permission to see the discussions"
**Steps**
Go to https://vanilla.topcoder-dev.com/ (without logging in)
Click on any roundtable which has discussions in it
Click on the relevant category >> click on the discussion

Permission Problem, You don't have permission to do that.

https://user-images.githubusercontent.com/4592712/106417687-a7447000-647a-11eb-806f-98bea3402bee.mp4

[2021-02-01 09:59] sdgun opened #369 "[$30] Copilot user can attach/drag&drop files, edit/delete other's roundtable discussions"
**Steps**
Go to https://vanilla.topcoder-dev.com/ (Log in as a copilot user)
Click on any roundtable which has discussions in it, created by other users
Check editing/deleting them and also check adding attachments

Copilot user can attach files, edit/delete other's discussions, but in Roundtables only the admin user should be able to do those actions

![image](https://user-images.githubuserconten

[2021-02-01 16:48] rootelement commented on #359
This is a @sachin-maheshwari question. Sachin how do we fix this so the link.topcoder.com links are using https?

[2021-02-01 16:57] sachin-maheshwari commented on #359
@Gunasekar-K looks like it is redirecting from nginx-supply. Let's fix this "https" issue from there tomorrow.
<img width="1679" alt="Screenshot 2021-02-01 at 10 24 55 PM" src="https://user-images.githubusercontent.com/6467888/106490973-62e9bc00-64dc-11eb-9e5a-4a6bbc1082b3.png">

[2021-02-01 21:07] jmgasper commented on #369
Checking with Topcoder here on what they'd like to do.

[2021-02-01 21:10] jmgasper commented on #359
Challenge https://www.topcoder.com/challenges/617851a0-9a0b-40e3-9bd6-82cda71d8557 obog has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:10] jmgasper commented on #359
@sachin-maheshwari, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:34] jmgasper commented on #368
Challenge https://www.topcoder.com/challenges/7034b761-e281-49ed-b4a0-e1ee18ef6452 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:34] jmgasper commented on #368
Challenge https://www.topcoder.com/challenges/7034b761-e281-49ed-b4a0-e1ee18ef6452 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:36] jmgasper commented on #365
Challenge https://www.topcoder.com/challenges/7f209f13-482d-4d1f-bb30-7f8b38e45b2e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:36] jmgasper commented on #365
Challenge https://www.topcoder.com/challenges/7f209f13-482d-4d1f-bb30-7f8b38e45b2e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:36] jmgasper commented on #366
Challenge https://www.topcoder.com/challenges/62862bbd-2c4d-42e0-9515-4cab1d5d8967 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:36] jmgasper commented on #366
Challenge https://www.topcoder.com/challenges/62862bbd-2c4d-42e0-9515-4cab1d5d8967 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:36] jmgasper commented on #367
Challenge https://www.topcoder.com/challenges/b1de002f-8fa2-4b87-bd74-44bbcf87ff4c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-01 21:36] jmgasper commented on #367
Challenge https://www.topcoder.com/challenges/b1de002f-8fa2-4b87-bd74-44bbcf87ff4c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-02 04:22] sachin-maheshwari commented on #359
@jmgasper/ @rootelement  Please assign to @Gunasekar-K, its need infra changes. CC: @Gunasekar-K

[2021-02-02 04:26] jmgasper commented on #359
@Gunasekar-K, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-02 07:12] Gunasekar-K commented on #359
@jmgasper As per the above conversation, we need to enable https for link.topcoder.com..Please confirm

[2021-02-02 08:56] jmgasper commented on #359
@Gunasekar-K

1.  The emails have been implemented in the dev environment for the forums, yes.  I'm not sure if the https:// links have been implemented for link.topcoder-dev.com
2. I'm not sure on that - I don't know what other services use link.topcoder.com.  I'm purely focused on the forums.

[2021-02-02 12:16] atelomycterus commented on #368
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/51.  Thanks!

No changes in Vanilla Settings.

### Testing
After deploying Guests should view discussions  that are tied to any categories except 'Challeges Forum'/'Groups' and others with custom permissions.

The default discussion footer is displayed. Let me know if you want to hide or change it.
![image](

[2021-02-02 12:26] atelomycterus commented on #367
@jmgasper Fixed. Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/51. Thanks!

[2021-02-02 16:46] atelomycterus commented on #365
@jmgasper Please apply PR https://github.com/topcoder-platform/forums/pull/370. Thanks!

### Changes
- Added CategoriesModule for 'all' view.  The categories  should be displayed in the left nav:
![image](https://user-images.githubusercontent.com/10196632/106632928-54101180-658f-11eb-992c-0c89a18eef4e.png)

[2021-02-02 17:14] atelomycterus commented on #366
@jmgasper The dropdowns are hidden for Guests because 'Sort' and `View' are UserPreferences attributes.
The attributes are stored in User table.

The default values are used for Guests:
  -  'Sort' is 'New'.
  -  'View' is 'All'.

'View' is 'All' because Guests can't follow categories. User must sign in first. If user follows a category then UserID+CategoryID is added in GDN_UserCategory table.

L

[2021-02-02 23:45] #368 closed

[2021-02-02 23:46] jmgasper commented on #368
Payment task has been updated: https://www.topcoder.com/challenges/7034b761-e281-49ed-b4a0-e1ee18ef6452
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7034b761-e281-49ed-b4a0-e1ee18ef6452` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-02 23:47] #367 closed

[2021-02-02 23:47] #365 closed

[2021-02-02 23:47] jmgasper commented on #367
Payment task has been updated: https://www.topcoder.com/challenges/b1de002f-8fa2-4b87-bd74-44bbcf87ff4c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b1de002f-8fa2-4b87-bd74-44bbcf87ff4c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-02 23:48] jmgasper commented on #366
@sdgun - I think we're OK to leave this off for guests for now.

[2021-02-02 23:48] #366 closed

[2021-02-02 23:48] jmgasper commented on #366
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-02 23:48] jmgasper commented on #365
Payment task has been updated: https://www.topcoder.com/challenges/7f209f13-482d-4d1f-bb30-7f8b38e45b2e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7f209f13-482d-4d1f-bb30-7f8b38e45b2e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-03 05:09] sdgun commented on #365
Verified in Dev, this issue is fixed.

[2021-02-03 05:47] sdgun commented on #368
Verified in Dev, the anonymous users can access the discussions now.

[2021-02-03 06:06] sdgun commented on #367
Verified, the mentioned users can view the discussions and add comments now.

[2021-02-03 08:31] Gunasekar-K commented on #359
@jmgasper validated. it was not present in dev

[2021-02-04 06:22] sdgun commented on #369
Also copilot has the ability to make announcements

[2021-02-04 07:07] sdgun opened #371 "Category selection is slow in Android and the app crashes while selecting categories"
**Steps**
Go to forums from Android
Click New Discussion
Select a category and change it(keep selecting)

Category selection is very slow in Android and the app crashes while selecting categories

Device: Pixel XL
OS: Android 10
Browser: Chrome

[crash logs.txt](https://github.com/topcoder-platform/forums/files/5923823/crash.logs.txt)

[Pixel XL_Recording_20210204_1.zip](https://github.com/topcode

[2021-02-04 09:22] jmgasper commented on #371
@sdgun - What app crashes?  Chrome?

[2021-02-04 09:23] jmgasper commented on #369
@atelomycterus - I'm assuming we can just set permissions accordingly.  Can you investigate please?  Just need to make sure we don't affect the challenge forums in any way.

[2021-02-04 09:29] sdgun commented on #371
@jmgasper Yes

[2021-02-04 13:28] atelomycterus commented on #369
@jmgasper

### Configure Category permissions
Go to a category (e.g. General) and click on 'Edit':
![image](https://user-images.githubusercontent.com/10196632/106892021-8c812e00-66fc-11eb-8ceb-df3a4de491ae.png)

Enable 'This category has custom permissions' and configure permissions for roles:
![image](https://user-images.githubusercontent.com/10196632/106892110-ac185680-66fc-11eb-8cba-634bb526584

[2021-02-04 13:29] jmgasper commented on #369
Challenge https://www.topcoder.com/challenges/313069fd-9cab-45bb-a193-738de333ab4a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 13:29] jmgasper commented on #369
Challenge https://www.topcoder.com/challenges/313069fd-9cab-45bb-a193-738de333ab4a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 21:29] jmgasper opened #372 "[$80] Remove `Follow` functionality"
@atelomycterus - We're going to remove `Follow`, sticking only with the `Watch` functionality where users are notified by email.  There's been confusion on the differences between the two, and we're going to be updating the nav to remove `My Discussions` from the left anyways.

Please let me know if you have concerns - we can just hide both the `Follow` button and `My Discussions` for now.

[2021-02-04 21:29] jmgasper commented on #372
Challenge https://www.topcoder.com/challenges/e43be9b8-cb71-4b58-a9ba-598e3c6e2697 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 21:29] jmgasper commented on #372
Challenge https://www.topcoder.com/challenges/e43be9b8-cb71-4b58-a9ba-598e3c6e2697 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 22:05] jmgasper commented on #369
@atelomycterus - Ok, that makes sense.  We do have some nested categories - if I apply the permissions on the parent category will it populate down to the children?

We can do option 1 - I'll log that.

[2021-02-04 22:06] jmgasper opened #373 "[$400] Custom upload permissions"
@atelomycterus - Let me know if the payment here is too low and I'll adjust.

Related to the discussion in #369 , we would like to have fine-grained role control over uploads available to users.

[2021-02-04 22:06] jmgasper commented on #373
Challenge https://www.topcoder.com/challenges/ad83ec05-36c4-4e11-83f2-5e66454c28a3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-04 22:06] jmgasper commented on #373
Challenge https://www.topcoder.com/challenges/ad83ec05-36c4-4e11-83f2-5e66454c28a3 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-05 03:50] sdgun commented on #372
@jmgasper Recent discussions and roundtables have the View option which will not make sense once follow option is removed

![image](https://user-images.githubusercontent.com/4592712/106987185-eb918200-6792-11eb-9f86-d214a9414b9a.png)

![image](https://user-images.githubusercontent.com/4592712/106987420-6bb7e780-6793-11eb-88c3-32ebd6a6be34.png)

[2021-02-05 04:17] jmgasper commented on #372
@sdgun - Good point, thanks.  @atelomycterus - We can remove that View dropdown as well.

[2021-02-05 12:14] atelomycterus commented on #369
@jmgasper

Correct.

You can configure any category (nested/discussions).

**Example 1**
'Nested level 1' has custom permissions for Copilot. 'Nested level 1' is a nested category:
![image](https://user-images.githubusercontent.com/10196632/107027497-44761000-67bd-11eb-8512-40a4e646f727.png)

![image](https://user-images.githubusercontent.com/10196632/107027469-3922e480-67bd-11eb-90bc-35a5e2e53fb6

[2021-02-05 12:30] atelomycterus commented on #372
@jmgasper  What about REST API?  Should I remove it from REST API?
'/groups/{id}/member/{userid}' - Get a member details (watch status/follow status)
'/groups/{id}/member/{userid} - Update watch status and/or follow status for a member.'

[2021-02-05 13:45] atelomycterus commented on #372
@jmgasper

### Changes
Please apply PR- https://github.com/topcoder-platform/forums/pull/374. Thanks!

1. Status: Fixed. Show/Hide 'My Discussions' in the left nav in config.php:
[code]

2. Status: Fixed.  I've fixed Vanilla controllers. Now we can enable/disable this feature using Vanilla EnableCategoryFollowing key.
[code]

[2021-02-05 21:05] atelomycterus commented on #373
@jmgasper Thanks! I am working on it.

[2021-02-06 22:05] atelomycterus commented on #373
@jmgasper
Each category has 'Discussion.Uploads' permission and 'Comment.Uploads'.  User clicks on 'New discussion' button.
The category is not selected by default:
![image](https://user-images.githubusercontent.com/10196632/107129567-3d432500-68d7-11eb-8561-5f6ca61cee85.png)

User selects a category and uploads files. After uploading files, he changes the category to another but he isn't allowed

[2021-02-06 23:36] jmgasper commented on #373
@atelomycterus - Whatever's easiest for now is fine, to be honest.  If we show a warning at an odd time - I'm OK with that for now because this won't be hit very often in production.

[2021-02-07 02:34] jmgasper commented on #372
@atelomycterus - We can remove this from the REST API as well, but that's lower priority.

[2021-02-07 18:52] atelomycterus commented on #373
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/375
- https://github.com/topcoder-platform/forums-topcoder-editor-plugin/compare/issues-373
Thanks!

### Configure roles
After deploying, you should see new permissions for each category:
![image](https://user-images.githubusercontent.com/10196632/107154733-abdebc00-6985-11eb-9881-f769f69afb77.png)

-  Go to 'Manage Rol

[2021-02-07 20:10] atelomycterus commented on #372
@jmgasper Please apply PRs:
 - https://github.com/topcoder-platform/challenge-forum-processor/pull/50
 - https://github.com/topcoder-platform/forums-groups-plugin/pull/53
 Thanks!

Fixed. Challenge forum processor was updated.

[2021-02-07 20:14] atelomycterus commented on #369
@jmgasper #373 - Implemented. Please configure roles and categories.  Let me know if you have any questions.

[2021-02-08 01:14] #372 closed

[2021-02-08 01:15] jmgasper commented on #372
Payment task has been updated: https://www.topcoder.com/challenges/e43be9b8-cb71-4b58-a9ba-598e3c6e2697
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `e43be9b8-cb71-4b58-a9ba-598e3c6e2697` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 01:16] #373 closed

[2021-02-08 01:17] jmgasper commented on #373
Payment task has been updated: https://www.topcoder.com/challenges/ad83ec05-36c4-4e11-83f2-5e66454c28a3
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ad83ec05-36c4-4e11-83f2-5e66454c28a3` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 01:20] #369 closed

[2021-02-08 01:21] jmgasper commented on #369
Payment task has been updated: https://www.topcoder.com/challenges/313069fd-9cab-45bb-a193-738de333ab4a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `313069fd-9cab-45bb-a193-738de333ab4a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 05:54] jmgasper opened #376 "[$400] Apply latest design tweaks for roundtables"
@atelomycterus - This is the design for the round tables:

https://marvelapp.com/prototype/c06bg41/screens

We need to apply this as best we can.  Things that I see:

1.  General navigation is way simplified, especially before login (only the `Roundtable` option shown)
2. The `New` flag is showing - can we implement that?  That would be per-user, so that they know if there's a new post to a thread

[2021-02-08 05:54] jmgasper commented on #376
Challenge https://www.topcoder.com/challenges/1dc97f47-83e5-4102-94fe-9a72d32a9bd4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 05:54] jmgasper commented on #376
Challenge https://www.topcoder.com/challenges/1dc97f47-83e5-4102-94fe-9a72d32a9bd4 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 05:55] jmgasper opened #377 "[$250] Apply challenge description updates"
@atelomycterus - The challenge / group landing page has been updated:

https://marvelapp.com/prototype/c06bg41/screen/76613750

Can we update to match this design please?

[2021-02-08 05:55] jmgasper commented on #377
Challenge https://www.topcoder.com/challenges/c62867fa-4982-4e89-84e8-d47949052d89 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 05:55] jmgasper commented on #360
@atelomycterus - Let's do as @callmekatootie recommends above, thanks.  I think that will be easiest for everyone, since knowing the most recent posts is a key use case.

[2021-02-08 06:55] sdgun commented on #369
@jmgasper Copilot user can still attach the files

[2021-02-08 07:25] jmgasper commented on #359
@sdgun - Can we test this in prod please?

[2021-02-08 07:29] jmgasper commented on #369
@sdgun - Which forum / category are you testing?

[2021-02-08 07:35] sdgun commented on #369
@jmgasper

Challenge forum: https://vanilla.topcoder-dev.com/discussion/3163/test?view=tree

![image](https://user-images.githubusercontent.com/4592712/107188687-1c312000-6a0e-11eb-9679-b1f1f19a262a.png)

Roundtable: https://vanilla.topcoder-dev.com/discussion/3161/test-coped

![image](https://user-images.githubusercontent.com/4592712/107188775-4387ed00-6a0e-11eb-8e61-ebca5d74a5b6.png)

[2021-02-08 07:40] jmgasper commented on #369
@atelomycterus ☝️ Can you check this please?  I feel like the settings are appropriate for the custom permissions....

[2021-02-08 09:18] sdgun commented on #359
@jmgasper Checked in production. It's not working yet, now even the txt files are not getting downloaded, when click on the links, it opens up a new tab but throws 403.

Challenge: http://www.topcoder.com/challenges/a3dc0fe0-e722-4faa-a048-ede022cbb805
Discussion: https://discussions.topcoder.com/discussion/2533/welcome

[2021-02-08 09:47] jmgasper commented on #359
@sdgun - Yeah, we're trying to figure out where port 403 is coming from in the links.topcoder.com stuff.  It should be port 443.

[2021-02-08 10:02] sdgun commented on #372
Verified in roundtables and challenge forums, the follow option and the view drop down are not available.

[2021-02-08 11:22] atelomycterus commented on #369
@jmgasper Fixed `copilot` role and `Connect Copilot` role in DEV.

### Changes
#### Copilot role
- removed 'Garden.Vanilla.Uploads' because this is a global permission.
![image](https://user-images.githubusercontent.com/10196632/107210474-3d493f00-6a15-11eb-9add-ffb005ac0276.png)

- 'Challenges Forum' has custom permissions. I checked the same permissions that were for the default category before:

[2021-02-08 11:24] atelomycterus commented on #369
@sdgun Ready for your review. Please see my comment ☝️.

[2021-02-08 12:41] atelomycterus commented on #360
@jmgasper Fixed. Please apply PR-https://github.com/topcoder-platform/forums/pull/378. Thanks!

### Testing

![image](https://user-images.githubusercontent.com/10196632/107220863-e860f500-6a23-11eb-8f29-6070d8731c17.png)

[2021-02-08 12:42] jmgasper commented on #377
Challenge https://www.topcoder.com/challenges/c62867fa-4982-4e89-84e8-d47949052d89 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 19:29] atelomycterus commented on #376
@jmgasper  A few questions about the changes.

1. I'm trying to figure out where to make changes: fix View, or update the category name in Vanilla.
'General' category will be renamed to 'Roundtable' in DEV/PROD. Please correct me if I am wrong.
![image](https://user-images.githubusercontent.com/10196632/107262309-70a9bf00-6a51-11eb-9e63-725e9517afb2.png)

2.  'Challenges Forums' will be renamed to

[2021-02-08 19:44] atelomycterus commented on #376
@jmgasper

 'New' has been implemented in Vanilla. Need to apply design only.
![image](https://user-images.githubusercontent.com/10196632/107271842-d69c4380-6a5d-11eb-87e8-3992c32843b9.png)

[2021-02-08 20:26] jmgasper opened #379 "[$15] Copy update"
@atelomycterus - A (hopefully simple) request from Topcoder:

<img width="318" alt="Screen Shot 2021-02-09 at 7 25 57 am" src="https://user-images.githubusercontent.com/21790/107277163-27d12500-6aa8-11eb-9d71-f3046695d186.png">

[2021-02-08 20:26] jmgasper commented on #379
Challenge https://www.topcoder.com/challenges/dfce3b55-91dd-40de-9df6-7ce63c1b8134 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 20:36] #360 closed

[2021-02-08 20:37] jmgasper commented on #360
Payment task has been updated: https://www.topcoder.com/challenges/3f943969-35f8-4712-9a22-4fb2eb767525
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `3f943969-35f8-4712-9a22-4fb2eb767525` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-08 20:39] jmgasper commented on #376
1.  Yes, that's fine.  We'll likely have more navigational tweaks that need to happen, so the expectation is that we'll have to move stuff around.
2.  Yes, we're going to start using `Discussion` instead of `Forum`
3. Yes, we'll default to `Roundtable` and remove `Recent Discussions`
4. `Register` can be removed, yes
5. If the user is inside a category, they'll see `New Discussion`.  If it's diffi

[2021-02-08 20:43] atelomycterus commented on #379
@jmgasper  Please confirm if 'Welcome to Topcoder' should be duplicated in the text.

![image](https://user-images.githubusercontent.com/10196632/107278639-19164e00-6a67-11eb-8422-ec0354c8cf4e.png)

[2021-02-08 20:50] rootelement commented on #359
I believe this is fixed, correct @sachin-maheshwari @Gunasekar-K ?

[2021-02-08 20:51] jmgasper commented on #359
@rootelement - Testing now, thanks.

[2021-02-08 20:53] jmgasper commented on #359
@rootelement / @sdgun - This appears to be fixed in prod.

[2021-02-08 21:19] jmgasper commented on #379
@atelomycterus - We'll remove the _second_ `Welcome to Topcoder!`, thanks.  Just confirmed that with Topcoder.

[2021-02-09 04:00] sdgun commented on #359
@jmgasper The images are opening in new tab and the links in the email are working. But the attachments links are not still working. They open a new tab for a second and it gets closed but the attachment is not downloading.

https://user-images.githubusercontent.com/4592712/107313847-63c0b600-6ab9-11eb-8076-3ee9a2daebce.mp4

[2021-02-09 04:47] jmgasper commented on #359
@sdgun - Can you forward me that email please?  `jmgasper@gmail.com`, thanks!

[2021-02-09 04:49] sdgun commented on #369
@atelomycterus
Normal user sees the upload button in new discussions of roundtables and challenge discussions(Log in from sdguntcqa >> Click New Discussion = Upload button is available). But uploading is not allowed.

![image](https://user-images.githubusercontent.com/4592712/107317169-1e53b700-6ac0-11eb-9928-5f884952ee46.png)

[2021-02-09 06:25] sdgun commented on #359
@jmgasper No problem, forwarded. pls note it is from topcoderconnect@gmail.com

[2021-02-09 06:30] jmgasper commented on #359
@sdgun - Thanks.  All the attachments downloaded appropriately for me?

[2021-02-09 06:48] atelomycterus commented on #369
@sdgun
1. Bug. I'll fix it.
2. I've updated permissions for 'Connect Admin' role. I'll test it. Please let me know TCConAdmin's password.

Thanks!

[2021-02-09 06:54] sdgun commented on #359
@jmgasper They are not downloading in Chrome(88.0.4324.146), but I checked in Firefox and it works fine for me too.

[2021-02-09 07:23] sdgun commented on #360
Verified in Dev. Discussions are listed based on the date/time.

[2021-02-09 10:01] atelomycterus commented on #369
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/12/. This PR will fix the issue 1. Thanks!

[2021-02-09 10:21] jmgasper commented on #369
@sdgun - Deploying fix above now in dev.  10-15 minutes and it should be available.

[2021-02-09 11:06] sdgun commented on #369
Verified the issue 1 from Normal user/copilot and Manager, the issue 1 is fixed.

[2021-02-09 12:57] atelomycterus opened #380 "[$40] PROD/DEV: Search button is not working in the top nav"
@jmgasper The search button is not working in PROD/DEV.  The search button is an image icon, not a link.
It should redirect to a search page  `/search`.
![image](https://user-images.githubusercontent.com/10196632/107365785-583bb200-6aee-11eb-9c39-ee234cb4b090.png)

[2021-02-09 16:35] sdgun opened #381 "[$1200] Creating comments and discussions seems to be taking more time than it used to be"
**Steps**
Create a comment/discussion in challenge forum or roundtables and monitor the time it takes

Noticed these actions are taking more time as shown in the below screen shots:

Discussion Prod:

![Discussion Prod](https://user-images.githubusercontent.com/4592712/107395503-e467cc80-6b22-11eb-88b6-fa9818362bc1.PNG)

Discussion Dev:

![Discussion Dev](https://user-images.githubusercontent.com/

[2021-02-09 16:54] sdgun opened #382 "[$20] Two close buttons are displayed on the discussion after closing it"
**Steps**
Log in as admin user and go to https://vanilla.topcoder-dev.com/discussions
Close a discussion

Two close buttons appear on the discussion

![image](https://user-images.githubusercontent.com/4592712/107398308-81c40000-6b25-11eb-8b00-b541c2eaf618.png)

[2021-02-09 16:59] sdgun commented on #369
Verified the issue 2, it is fixed.

[2021-02-09 17:14] sdgun opened #383 "The copilot users can upload the files on roundtable discussions by switching from challenge forums to roundtables"
**Steps**
Log into forums as copilot user
Click New Discussion
Select a challenge forum category from category drop down
Upload files
Now select a roundtable category from the category drop down
Post the discussion

The discussion is posted with the uploaded files.

https://user-images.githubusercontent.com/4592712/107400877-437c1000-6b28-11eb-9680-005a3d1374f6.mp4

[2021-02-09 20:58] atelomycterus commented on #376
@jmgasper The current status:
### TODO
- fix breadcrumbs. Remove 'Home'
- fix the left nav. It should display a list of categories (the first level only).
- fix all controllers to hide Categories module.
- fix 'New discussion' button (If the user is inside a category, they'll see New Discussion. If it's difficult to control that, we can just show it on all pages)
- fix 'new tag''s styles
- configu

[2021-02-09 21:04] atelomycterus commented on #383
@sdgun yes, I wrote about it (https://github.com/topcoder-platform/forums/issues/373#issuecomment-774732377).
To prevent the user from doing this, it would be correct to upload to the Filestack only after clicking 'Post Discussion'. This has its pros and cons.

[2021-02-09 21:09] jmgasper commented on #380
Challenge https://www.topcoder.com/challenges/1f13a57e-d9c5-4a4a-a216-ddb3e691d6e7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-09 21:09] jmgasper commented on #380
Challenge https://www.topcoder.com/challenges/1f13a57e-d9c5-4a4a-a216-ddb3e691d6e7 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-09 21:09] jmgasper commented on #381
Challenge https://www.topcoder.com/challenges/2d61ee7a-b52f-4fb2-94af-c917614755d4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-09 21:09] jmgasper commented on #381
Challenge https://www.topcoder.com/challenges/2d61ee7a-b52f-4fb2-94af-c917614755d4 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-09 21:18] jmgasper commented on #382
Challenge https://www.topcoder.com/challenges/c52fe88e-42d8-481b-be61-698929da73ac has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-09 21:18] jmgasper commented on #382
Challenge https://www.topcoder.com/challenges/c52fe88e-42d8-481b-be61-698929da73ac has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-09 21:21] jmgasper commented on #376
Great, thanks for the update.

[2021-02-10 02:59] jmgasper opened #384 "[$50] Re-enable "Move""
@atelomycterus - I ran into a situation where we may need to move some discussion around.  We had originally just disabled it here:  https://github.com/topcoder-platform/forums/issues/117

Can we re-enable and just fix up that popup so it looks a little better please?  My bad for not thinking further ahead, thanks.

[2021-02-10 02:59] jmgasper commented on #384
Challenge https://www.topcoder.com/challenges/1643d90a-ef6c-4d98-9aeb-6adee4194049 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-10 02:59] jmgasper commented on #384
Challenge https://www.topcoder.com/challenges/1643d90a-ef6c-4d98-9aeb-6adee4194049 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-10 03:47] jmgasper commented on #376
@atelomycterus - From Topcoder:

https://marvelapp.com/prototype/c06bg41/screen/76613745

[2021-02-10 13:14] atelomycterus commented on #384
@jmgasper Wrote notes about Moving Discussions and re-enabled 'Move'. Please apply PRs:
- https://github.com/topcoder-platform/forums-groups-plugin/pull/54
- https://github.com/topcoder-platform/forums-theme/pull/20
- https://github.com/topcoder-platform/forums/pull/385
Thanks!

### UI
Added 'Cancel' button for consistency with other popups (Add Category/Invite user and so on)
![image](https://use

[2021-02-10 13:34] atelomycterus commented on #382
@jmgasper Fixed. Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/54/. Thanks!

[2021-02-10 21:35] atelomycterus commented on #376
@jmgasper  I'm going to test and push code tomorrow.

###  Questions

1. Should I fix minor inconsistencies between the prototype and the topcoder theme? For example:
  - font size 11/13 is used in the prototype but font size 12/14 is used  in the topcoder theme
  - spaces (differences by 1-3 pixels ) and so on

2. The old editor is used in the prototype. Are there any requirements for a view page

[2021-02-10 21:52] jmgasper commented on #376
Thanks for the update!

1.  If you run across any inconsistencies, if you want to log those in a new Github issue, I'll take a look, assign payment, and get that assigned out to you
2.  We can ignore any differences in the editor
3. Yeah, this can go back to number 1 - if you just want to log that, I'll assign payment.

[2021-02-11 04:45] sdgun commented on #382
Verified in Dev, this issue is fixed now.

[2021-02-11 05:10] jmgasper commented on #381
@atelomycterus - This is becoming more of a concern.  Is there anything I can do in prod to help you debug this?

[2021-02-11 06:08] sdgun opened #386 "[$40] Comment count is wrong in the roundtables"
**Steps**
Go to https://vanilla.topcoder-dev.com/categories/general
The comment count in General Discussion is 3.8k
Click General Discussion and check the comments in the discussions there
The discussion 'Perf Test only has 4.2k comments

![image](https://user-images.githubusercontent.com/4592712/107606887-8986c000-6c5d-11eb-9a32-c123696df93f.png)

![image](https://user-images.githubusercontent.co

[2021-02-11 07:48] atelomycterus commented on #381
@jmgasper I'm going to work on it after #376, #377. The screens show that there are delays on both envs. I'll add php-xdebug and enable a profiler in a dockerfile. It helps to investigate performance issues.

You may need to copy dump files. I'll analyze them.

Also, the flood settings can increase the posting time. The flood control settings - https://vanilla.topcoder-dev.com/vanilla/settings/flo

[2021-02-11 08:27] jmgasper commented on #381
@atelomycterus - Thanks.  I've bumped up the flood control settings in prod so I'll keep an eye on it to see if that makes a difference.

[2021-02-11 12:19] sdgun opened #387 "UI issue in the Move discussion pop up"
**Issue**
Log in as copilot to forums from Firefox and go to a group discussion
Click on ellipsis >> select Move

The pop up has an alignment issue

![image](https://user-images.githubusercontent.com/4592712/107635399-172fd300-6c91-11eb-95d3-47bab6d3da24.png)

This issue is also present in Android/IOS

[2021-02-11 14:51] atelomycterus commented on #387
@sdgun Please clear browser cache. The same issue is mentioned in #117 #384. Let me know if it still exists.
Mobile:
![image](https://user-images.githubusercontent.com/10196632/107652181-5c540500-6c91-11eb-95b1-d8c9dd669af9.png)

Desktop:
![image](https://user-images.githubusercontent.com/10196632/107652242-6c6be480-6c91-11eb-8650-db4b471f8a82.png)

Firefox:
![image](https://user-images.githubuser

[2021-02-11 14:55] sdgun commented on #387
@atelomycterus Works fine after clearing cache, closing the issue.

[2021-02-11 14:55] #387 closed

[2021-02-11 18:12] atelomycterus opened #389 "[$40] Prototype: Navigation issue on mobile"
@jmgasper In the prototype 'Home' was removed from the breadcrumbs. The left nav is always displayed on desktop, but it's hidden everywhere except the default page on mobile. Before applying design tweaks User can go back to the default page from the breadcrumbs and choose another menu item (My bookmars/My Drafts and so on) . After applying design tweaks,  User can't return to the menu/the default

[2021-02-11 18:14] atelomycterus commented on #376
@jmgasper Ready for your review.
Please apply PRs:

https://github.com/topcoder-platform/forums/pull/388
https://github.com/topcoder-platform/forums-theme/pull/21
https://github.com/topcoder-platform/forums-plugins/pull/59
https://github.com/topcoder-platform/forums-groups-plugin/pull/55

Thanks!

The view discussion page was recently updated by a designer in the prototype. I've applied design twe

[2021-02-11 18:17] atelomycterus commented on #379
@jmgasper Fixed in #376.

[2021-02-11 18:39] atelomycterus commented on #380
@jmgasper Fixed in PR-https://github.com/topcoder-platform/forums-theme/pull/21.

[2021-02-11 21:04] atelomycterus commented on #377
@jmgasper Challenges page  displays my challenge groups and available challenge groups. Should available challenge groups be removed?
Challenges page - https://vanilla.topcoder-dev.com/groups?filter=challenge
The prototype screen - https://marvelapp.com/prototype/c06bg41/screen/76613746

the first part of the page
![image](https://user-images.githubusercontent.com/10196632/107698327-70195e80-6cc5-

[2021-02-11 21:22] jmgasper commented on #389
@atelomycterus - I'm asking Topcoder and a designer to have a look, thanks.

[2021-02-11 21:24] jmgasper commented on #377
@atelomycterus - Yeah, please remove `Available Challenges`

[2021-02-11 21:28] jmgasper commented on #376
Looks great, thanks.

[2021-02-11 21:38] atelomycterus commented on #376
@jmgasper Thanks!  Need to configure permissions for Guests. Guest is not allowed  to see Challenge Forums.  I've updated custom permissions for Challenge Forums. Let me know if some categories should be hidden for guests.

![image](https://user-images.githubusercontent.com/10196632/107701494-0bacce00-6cca-11eb-9aa4-48c5096f2c81.png)

![image](https://user-images.githubusercontent.com/10196632/107

[2021-02-12 00:58] #379 closed

[2021-02-12 00:58] jmgasper commented on #379
Payment task has been updated: https://www.topcoder.com/challenges/dfce3b55-91dd-40de-9df6-7ce63c1b8134
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `dfce3b55-91dd-40de-9df6-7ce63c1b8134` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 00:59] #380 closed

[2021-02-12 00:59] jmgasper commented on #380
Payment task has been updated: https://www.topcoder.com/challenges/1f13a57e-d9c5-4a4a-a216-ddb3e691d6e7
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `1f13a57e-d9c5-4a4a-a216-ddb3e691d6e7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 01:00] #384 closed

[2021-02-12 01:00] jmgasper commented on #384
Payment task has been updated: https://www.topcoder.com/challenges/1643d90a-ef6c-4d98-9aeb-6adee4194049
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `1643d90a-ef6c-4d98-9aeb-6adee4194049` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 01:01] #376 closed

[2021-02-12 01:01] jmgasper commented on #376
Payment task has been updated: https://www.topcoder.com/challenges/1dc97f47-83e5-4102-94fe-9a72d32a9bd4
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `1dc97f47-83e5-4102-94fe-9a72d32a9bd4` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 06:01] sdgun commented on #376
@jmgasper @atelomycterus Don't we have to implement this?

![image](https://user-images.githubusercontent.com/4592712/107735501-d9c95500-6d25-11eb-8b23-ca81b220f43e.png)

[2021-02-12 06:04] atelomycterus commented on #376
@sdgun yes, Challenge Discussions - https://github.com/topcoder-platform/forums/issues/377. I am working on it.

[2021-02-12 08:12] sdgun commented on #376
@jmgasper @atelomycterus

1. Do you know the purpose of having Groups in 'Roundtables' page? When create New discussions while on Groups page they don't appear in Groups but go to the selected category.

2. We show the 'Private' group to the anonymous users, but when they click on it to see the discussions, nothing is available

![image](https://user-images.githubusercontent.com/4592712/107744108-

[2021-02-12 08:30] jmgasper commented on #376
@sdgun :

1.   We can log this separately
2.  We can log this separately - hopefully easy to fix
3. We can log this separately, thanks.

[2021-02-12 09:49] sdgun opened #390 "Cannot create categories in 'Groups' roundtables"
**Steps**
Go to 'Groups' in 'Roundtables' page (https://vanilla.topcoder-dev.com/categories/groups)
Click New discussions
In the select category, Groups is disabled

Users cannot create any discussions there, and no categories present in Groups

[2021-02-12 09:52] sdgun opened #391 "[$50] Anonymous users see the Private roundtable"
@atelomycterus - Is this just a permission change we can apply at the root category level?

**Steps**
Go to https://vanilla.topcoder-dev.com/

Anonymous users see the Private roundtable but when go inside, they cannot see the discussions.

![image](https://user-images.githubusercontent.com/4592712/107753369-fecdc000-6d45-11eb-8652-e64819be3374.png)

[2021-02-12 09:55] sdgun opened #392 "[$40] Marvel app doesn't have the description below on the General roundtable"
**Steps**
We show a description in the General roundtable which is not present in Marvel app

![image](https://user-images.githubusercontent.com/4592712/107753537-38063000-6d46-11eb-84d8-7830ce2f8d8c.png)

[2021-02-12 09:57] sdgun commented on #376
Reported:

https://github.com/topcoder-platform/forums/issues/392
https://github.com/topcoder-platform/forums/issues/391
https://github.com/topcoder-platform/forums/issues/390

[2021-02-12 10:31] sdgun commented on #380
Verified in dev, clicking search button opens the search page.

[2021-02-12 10:34] sdgun commented on #379
Verified in Dev.

[2021-02-12 12:24] sdgun opened #393 "When moving discussions, the email notification says 'The new discussion has been posted in the <category>' of the original discussion"
Steps
Moved a discussion from a challenge to a roundtable with option 'Leave a redirect link.'

The email mentions "The new discussion has been posted in <original discussion>:

![image](https://user-images.githubusercontent.com/4592712/107767618-3abf5000-6d5b-11eb-982c-b13e7c64e38f.png)

[2021-02-12 19:40] atelomycterus commented on #377
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-groups-plugin/pull/56
- https://github.com/topcoder-platform/forums-theme/pull/22

Thanks!

### Questions
1. Archived attribute.  Should I add the Archived in the list?
![image](https://user-images.githubusercontent.com/10196632/107803470-b0371a80-6d73-11eb-96e8-419da22327d1.png)

2. Group Members page is missing in the prot

[2021-02-12 22:59] jmgasper opened #394 "[$30] Handle colouring"
From Slack:

The color handles only show up when you hover over the handle. can you change it is the color is always showing?

[2021-02-12 23:00] jmgasper commented on #394
I'm not sure I quite follow this - can I get a screenshot please so I know where you're looking?

[2021-02-12 23:01] jmgasper opened #395 "[$30] Tree view option"
3) can you remove "tree" view option and make 'Threaded" the default

[2021-02-12 23:01] jmgasper commented on #395
Note that this was an explicit requirement from the original forum implementation.  I'm fine to remove this, but we need to be clear with the QA team and the folks that worked on the initial implementation (comparing with Jive) that this is going away because it was a view option in Jive.

[2021-02-12 23:19] jmgasper opened #396 "[$60] Save draft missing?"
@atelomycterus - With the new editor, do we have the ability to save drafts anymore?  Topcoder is asking about this.

[2021-02-12 23:19] jmgasper commented on #396
Challenge https://www.topcoder.com/challenges/f7444254-e512-47f1-a988-6cb7202141d9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:19] jmgasper commented on #396
Challenge https://www.topcoder.com/challenges/f7444254-e512-47f1-a988-6cb7202141d9 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:22] jmgasper opened #397 "[$40] Remove New Discussion button"
@atelomycterus - Topcoder has asked that we remove `New Discussion` in both of these screens.  Note that this is before the challenge page changes, so I think we're fine on that one and can leave it as-is for now.

![image (1)](https://user-images.githubusercontent.com/21790/107832728-53744800-6de5-11eb-8063-569d741c4220.png)

![image](https://user-images.githubusercontent.com/21790/107832733-55d6

[2021-02-12 23:22] jmgasper commented on #397
Challenge https://www.topcoder.com/challenges/7d9b177f-31b4-4763-a4a0-fd209cd5b5eb has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:22] jmgasper commented on #397
Challenge https://www.topcoder.com/challenges/7d9b177f-31b4-4763-a4a0-fd209cd5b5eb has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:23] #382 closed

[2021-02-12 23:24] #377 closed

[2021-02-12 23:24] jmgasper commented on #382
Payment task has been updated: https://www.topcoder.com/challenges/c52fe88e-42d8-481b-be61-698929da73ac
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `c52fe88e-42d8-481b-be61-698929da73ac` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:24] jmgasper commented on #377
Payment task has been updated: https://www.topcoder.com/challenges/c62867fa-4982-4e89-84e8-d47949052d89
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `c62867fa-4982-4e89-84e8-d47949052d89` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:25] jmgasper opened #398 "[$50] Challenge page clarifications"
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-groups-plugin/pull/56
- https://github.com/topcoder-platform/forums-theme/pull/22

Thanks!

### Questions
1. Archived attribute.  Should I add the Archived in the list?

**Yes, please add that attribute**
![image](https://user-images.githubusercontent.com/10196632/107803470-b0371a80-6d73-11eb-96e8-419da22327d1.png)

2. Group

[2021-02-12 23:25] jmgasper commented on #398
Challenge https://www.topcoder.com/challenges/4a2ff026-0892-438a-a1c1-6ca0f961dc2f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:25] jmgasper commented on #398
Challenge https://www.topcoder.com/challenges/4a2ff026-0892-438a-a1c1-6ca0f961dc2f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:28] jmgasper commented on #391
Challenge https://www.topcoder.com/challenges/8c8eb82c-cb2c-47df-a9f8-2bc6e183f2a1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:28] jmgasper commented on #392
Challenge https://www.topcoder.com/challenges/d690bb4e-067d-49d3-9a71-af4caa01d2ac has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:28] jmgasper commented on #392
Challenge https://www.topcoder.com/challenges/d690bb4e-067d-49d3-9a71-af4caa01d2ac has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:30] hokienick commented on #394
On the Parent Category Listing and Category Listing the handle colors arent displaying.  I believe this is what @Oanh-and-only-Oanh was referring to.

<img width="1241" alt="Screen Shot 2021-02-12 at 3 28 04 PM" src="https://user-images.githubusercontent.com/1373998/107833055-e90cca80-6d46-11eb-8c70-07b7c8275d73.png">
<img width="1324" alt="Screen Shot 2021-02-12 at 3 28 17 PM" src="https://user-i

[2021-02-12 23:31] jmgasper commented on #394
@hokienick - Perfect, thanks!

[2021-02-12 23:32] jmgasper commented on #394
Challenge https://www.topcoder.com/challenges/1ff940fc-ff4b-4b5c-ad1b-52b6aebff861 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:32] jmgasper commented on #394
Challenge https://www.topcoder.com/challenges/1ff940fc-ff4b-4b5c-ad1b-52b6aebff861 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-12 23:33] hokienick commented on #395
I can discuss with them if needed.  I just don't see the point of this view.  All I see is the below and I cannot click the messages to expand or anything.  Threaded is essentially this but with content, which actually seems helpful and how forums typically read in my experience.

<img width="949" alt="Screen Shot 2021-02-12 at 3 31 34 PM" src="https://user-images.githubusercontent.com/1373998/107

[2021-02-13 03:19] jmgasper commented on #391
Challenge https://www.topcoder.com/challenges/8c8eb82c-cb2c-47df-a9f8-2bc6e183f2a1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-13 09:45] atelomycterus commented on #391
@jmgasper Need to configure permissions. Do you know what the category tree structure will be in PROD? This understanding would help to configure permissions. The main goal is to minimize the number of categories with custom permissions, since it will be harder to maintain.

For example, if Guests can view almost all categories, it is better to configure default category permissions and set custom

[2021-02-13 09:58] atelomycterus commented on #392
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/399. Thanks!

[2021-02-13 11:43] atelomycterus commented on #394
@jmgasper  Sorry about that.  I see the same thing in PROD.
Please apply PR -https://github.com/topcoder-platform/forums-plugins/pull/60. Thanks!

### PROD (before applying design tweaks)
Handle coloring for nested category is not working in PROD:
![image](https://user-images.githubusercontent.com/10196632/107848154-3ef27880-6e02-11eb-8269-9fceef4ea09f.png)

It works for discussion page/ category

[2021-02-13 12:37] atelomycterus commented on #396
@jmgasper Saving Drafts works as it did before. The new editor only adds behavior to a textarea field and does not affect the rest of the code including autosaving.  By default Vanilla automatically submits the form asynchronously every 60 secs.
There are slight differences here for comments and discussions.

### Comments
I typed text but didn't click on 'Post Comment'. You can see an inform messa

[2021-02-13 17:35] atelomycterus commented on #397
@jmgasper  In the prototype 'New discussion' is hidden/displayed depending on which page is active.

1. Challenge Group page ( your screen 1):
There were two 'New discussion' buttons before applying design tweaks. In the prototype 'New Discussion' is hidden from the left nav. So after applying design tweaks it looks better.

2. All Challenge Groups (your screen 2):  In the prototype 'New discussio

[2021-02-13 18:20] atelomycterus commented on #398
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/57.

The challenge group page updated.  yes/no sounds better in this context, please correct me if am wrong.  Thanks!

![image](https://user-images.githubusercontent.com/10196632/107857564-fd80be00-6e3f-11eb-8d69-9939328ab53f.png)

[2021-02-13 21:57] atelomycterus commented on #381
@jmgasper I am working on it.
### Adding comment and updating comment meta-data
Adding a comment takes  about 400-600 ms. The issue with the second ajax request which inserts/updates meta-data about the comment (user activity, count of comments, who added/edited the comment,... ) +  sends notifications. The second ajax requests works too long. 36 Notifications were not sent from 12 Feb in DEV. Thi

[2021-02-14 00:17] #392 closed

[2021-02-14 00:18] jmgasper commented on #392
Payment task has been updated: https://www.topcoder.com/challenges/d690bb4e-067d-49d3-9a71-af4caa01d2ac
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d690bb4e-067d-49d3-9a71-af4caa01d2ac` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-14 00:18] #394 closed

[2021-02-14 00:19] jmgasper commented on #394
Payment task has been updated: https://www.topcoder.com/challenges/1ff940fc-ff4b-4b5c-ad1b-52b6aebff861
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `1ff940fc-ff4b-4b5c-ad1b-52b6aebff861` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-14 00:19] #396 closed

[2021-02-14 00:20] #398 closed

[2021-02-14 00:20] jmgasper commented on #396
Payment task has been updated: https://www.topcoder.com/challenges/f7444254-e512-47f1-a988-6cb7202141d9
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f7444254-e512-47f1-a988-6cb7202141d9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-14 00:20] jmgasper commented on #398
Payment task has been updated: https://www.topcoder.com/challenges/4a2ff026-0892-438a-a1c1-6ca0f961dc2f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `4a2ff026-0892-438a-a1c1-6ca0f961dc2f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-14 00:23] jmgasper commented on #391
@atelomycterus - The tree structure should be nearly what it is now in development, with potential minor tweaks.  We can probably go the route of disallowing guests by default and explicitly *enabling* it.  That'll be safer in the long run, I think.

[2021-02-14 00:26] jmgasper commented on #397
1.  Ok, sounds good
2. Ok
3. Ok
4. Ok - this is currently what Topcoder wants, so I think we're fine.
5. We can leave this as-is for now.  I'll see what Topcoder wants
6. Again, we can leave as-is for now and Topcoder can review.  They haven't given me updated mobile designs.

[2021-02-14 00:26] #397 closed

[2021-02-14 00:26] jmgasper commented on #397
Payment task has been updated: https://www.topcoder.com/challenges/7d9b177f-31b4-4763-a4a0-fd209cd5b5eb
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7d9b177f-31b4-4763-a4a0-fd209cd5b5eb` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-14 20:35] atelomycterus commented on #391
@jmgasper

Yes, agree. I've updated permissions for Guests in DEV, no Discussions.View permission by default.

Guest can see News and Learning only. Let me know if it's correct.
![image](https://user-images.githubusercontent.com/10196632/107888327-9b49bb00-6f1c-11eb-9179-4e735f11a19e.png)

[2021-02-14 22:12] atelomycterus commented on #381
@jmgasper  We've optimized viewing pages, but this issue exists with posting a discussion/comment.

I ran locally with 50+ category, no issues, then I ran with the old Vanilla DB (500+ categories). It  works slower. Both issues are reproduced periodically.

Could you provide DB from DEV (there are 1700+ categories, 6400 comments, 2400 discussion)?

### Adding discussion and the second request

Thi

[2021-02-15 01:18] jmgasper commented on #391
That should be great, thanks.  I'll tweak the permissions a bit to what I think Topcoder wants.

[2021-02-15 01:18] #391 closed

[2021-02-15 01:19] #312 closed

[2021-02-15 01:19] jmgasper commented on #391
Payment task has been updated: https://www.topcoder.com/challenges/8c8eb82c-cb2c-47df-a9f8-2bc6e183f2a1
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `8c8eb82c-cb2c-47df-a9f8-2bc6e183f2a1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 04:29] sdgun commented on #391
@atelomycterus I am seeing all of the below still

![image](https://user-images.githubusercontent.com/4592712/107905204-0c688d00-6f74-11eb-85de-61dbff5a6e4a.png)

[2021-02-15 05:10] sdgun opened #400 "[$150] Getting 504 error when creating discussions and comments"
**Steps**
Log in and create a new discussion/comment

Getting Timeouts

![image](https://user-images.githubusercontent.com/4592712/107907579-11c8d600-6f7a-11eb-8c19-a723abd50448.png)

[2021-02-15 05:18] sdgun commented on #397
@atelomycterus Regarding point 5 in above comments, the New Announcement button is not visible to the Copilot user(TCConnCopilot) eventhough this user has Announcement permission.

[2021-02-15 05:22] sdgun opened #401 "Challenge discussions are not available for the admin user"
**Steps**
Log in as TCConAdmin
Click Challenge discussions from the left nav

Only one discussion is available

![image](https://user-images.githubusercontent.com/4592712/107908315-c0b9e180-6f7b-11eb-8300-960ff0dbde79.png)

[2021-02-15 05:33] sdgun commented on #394
Verified in Dev, handle colors are displayed in correct colors in nested categories and discussions/comments..

![image](https://user-images.githubusercontent.com/4592712/107908982-4c803d80-6f7d-11eb-8c3d-d1b16d7604f8.png)

[2021-02-15 05:48] sdgun commented on #392
Verified in Dev, the description is removed.

![image](https://user-images.githubusercontent.com/4592712/107910045-936f3280-6f7f-11eb-8d34-6d1f70000b5e.png)

[2021-02-15 05:53] jmgasper commented on #391
@sdgun - I tweaked this to show the forums that we want to use as the roundtables to anonymous users.  I'm also clarifying with Topcoder to make sure they're happy with the setup

[2021-02-15 06:13] jmgasper commented on #400
@atelomycterus - anything we can do to debug this?

[2021-02-15 06:13] jmgasper commented on #400
Challenge https://www.topcoder.com/challenges/b9a974d7-3594-4893-ba79-2e79e6df2a37 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 07:07] atelomycterus commented on #400
@jmgasper Duplicate  https://github.com/topcoder-platform/forums/issues/381.The 504 (Gateway Timeout) status code indicates that the server, while acting as a gateway or proxy, did not receive a timely response from an upstream server it needed to access in order to complete the request.

I ran it with the profiler locally with old Vanilla DB (~500+categories) . It generates 900+MB files per a req

[2021-02-15 07:19] atelomycterus commented on #397
@sdgun This button is displayed if the current User has Announce permission + [Owner or Leader Role in the group].
E.g. https://vanilla.topcoder-dev.com/group/50

[2021-02-15 07:26] jmgasper commented on #400
Challenge https://www.topcoder.com/challenges/b9a974d7-3594-4893-ba79-2e79e6df2a37 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 07:40] atelomycterus commented on #401
@sdgun Please clear browser cache:. The Challenge Discussions look like:
![image](https://user-images.githubusercontent.com/10196632/107916743-dcbb8400-6f77-11eb-89be-6a6982e7bd61.png)

@jmgasper The page shows all challenges for which the user has registered. TCConAdmin is not a member of any challenge groups. After applying design tweaks, we removed `Available challenges` https://github.com/topc

[2021-02-15 09:51] jmgasper commented on #400
@atelomycterus - I've asked for a database backup to be provided.  If we had that many challenges, that would be that many categories though, correct, since each challenge will have multiple categories?

[2021-02-15 09:54] jmgasper commented on #401
@atelomycterus - Is the admin user still able to navigate directly to the forums for all challenges?  If they can get to it by just putting in the URL, that's gonna be fine, since the admin tools used by TC link to the forums directly.

[2021-02-15 10:07] atelomycterus commented on #401
@jmgasper yes, the admin user can navigate directly to  the forums for all challenges:
The  `Challenges Forum` category with custom permissions for 'Connect Admin' in DEV:
![image](https://user-images.githubusercontent.com/10196632/107932312-768e2b80-6f8e-11eb-8266-a785eb2ed79c.png)

[2021-02-15 10:07] jmgasper commented on #386
Challenge https://www.topcoder.com/challenges/f2471587-f507-49d2-92cc-847a3a5cd15c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 10:07] jmgasper commented on #386
Challenge https://www.topcoder.com/challenges/f2471587-f507-49d2-92cc-847a3a5cd15c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 10:10] jmgasper commented on #401
@atelomycterus / @sdgun - Ok, I think that's fine then, thanks.  Admins will navigate directly to specific forums through the admin app, challenge manager, or challenge listing.   They shouldn't need to go through the challenges listing in the forums

[2021-02-15 10:40] atelomycterus commented on #400
@jmgasper  Thanks!

3 categories are added for a development challenge:
![image](https://user-images.githubusercontent.com/10196632/107933228-83f7e580-6f8f-11eb-9a1d-afa23eb5a02f.png)

1 category  is added for a design challenge:
![image](https://user-images.githubusercontent.com/10196632/107933608-fff22d80-6f8f-11eb-9245-fd7ece7aa6a2.png)

So I am going to test first with a 2k/5k/10k thousand cat

[2021-02-15 11:08] sdgun commented on #401
Closing as per the above discussion.

[2021-02-15 11:08] #401 closed

[2021-02-15 11:24] atelomycterus commented on #386
@jmgasper I'm going to have a look at after #400 (#381). After adding a comment aggregate count column (CountComments)  is recalculated in two ways.

Source:    vanilla/applications/vanilla/models/class.commentmodel.php

1.    /** Threshold. */
    const COMMENT_THRESHOLD_SMALL = 1000;

    /** Threshold. */
    const COMMENT_THRESHOLD_LARGE = 50000;

    /** Trigger to recalculate counter. */

[2021-02-15 12:45] sdgun commented on #377
Verified in Dev, there is a minor deviation in the description, like in the design they show the challenge name but we are using the challenge type, and also we present it in one row. @jmgasper

![image](https://user-images.githubusercontent.com/4592712/107946951-b9182e00-6fb7-11eb-89f1-5f0d89de8519.png)

[2021-02-15 14:23] sdgun commented on #397
Verified in Dev.

[2021-02-15 14:24] sdgun commented on #398
Verified in Dev.

[2021-02-15 15:54] Oanh-and-only-Oanh commented on #389
@atelomycterus @jmgasper- please keep the HOME in the breadcrumbs.

[2021-02-15 21:08] jmgasper commented on #400
@atelomycterus - Ok, thanks.  The number of challenges will grow as we use it more in more in prod, so if we can address the issue now, that'll be good, thanks.

[2021-02-15 21:10] jmgasper commented on #389
@atelomycterus - Please see clarification from @Oanh-and-only-Oanh above.  We'll keep Home in the breadcrumbs for both mobile and desktop.

[2021-02-15 21:10] jmgasper commented on #389
Challenge https://www.topcoder.com/challenges/62c8f98e-29bc-4f89-8efc-acfee1943fe9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 21:10] jmgasper commented on #389
Challenge https://www.topcoder.com/challenges/62c8f98e-29bc-4f89-8efc-acfee1943fe9 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-15 21:23] atelomycterus commented on #400
@jmgasper Do you know if there was  a restart/re-deploy of any services (ngnix, memcached, DB or so on) in DEV today? When this issue was created,  adding a discussion/comment was very slow and there was 504 error. 1-2 hours ago I posted  9 comments + 7 discussions, no 504/502 errors.

![image](https://user-images.githubusercontent.com/10196632/107993668-09a97e80-6fec-11eb-9365-b5487886c67d.png)

[2021-02-15 21:25] jmgasper commented on #400
@atelomycterus - I don't know, but I've asked Topcoder if they know.  @rootelement ☝️

[2021-02-15 22:28] atelomycterus commented on #381
Adding a comment/discussion re-builds cache only for  a category + all ancestors. Adding a comment/discussion in 'Challenge discussions' category rebuilds cache for 4 categories.  The main performance issue is calculating user permissions for a category in setCache. setCached is called 24 times for 4 categories. As a result, checkPermissions is called more than 80K+.
TODO: When adding a discussion

[2021-02-15 22:38] atelomycterus commented on #381
@jmgasper  ☝️ This also leads to a huge amount of requests to Memcached.
Could Topcoder give us access to monitoring memcached metrics? If we had access, we could quickly notice it.

[2021-02-15 22:39] atelomycterus commented on #381
@jmgasper Only for DEV env.

[2021-02-16 04:20] jmgasper commented on #400
@atelomycterus  -From Topcoder:

[2021-02-16 05:16] sdgun commented on #391
@jmgasper For anonymous users, ![image](https://user-images.githubusercontent.com/4592712/108020907-7308ac00-7043-11eb-8029-0ce01be0d636.png) doesn't show Reviewer Discussions, but everything else is available. Is this intentional?

[2021-02-16 05:17] jmgasper commented on #391
@sdgun - Yeah, reviewer discussions should only be accessible to authorised users

[2021-02-16 05:37] sdgun opened #402 "Discussions count is incorrect in roundtables"
**Steps**
Go to https://vanilla.topcoder-dev.com/categories
The discussions count in General is 84

But when count the discussions inside it, it is 58

![image](https://user-images.githubusercontent.com/4592712/108022646-f7106300-7046-11eb-81a1-95b45ee61472.png)

[2021-02-16 06:27] sdgun commented on #400
@atelomycterus For QA testing I created comments from the UI using a selenium script, but I didn't create any categories. I just simulated the user behavior through UI, didn't execute any sql scripts. Here are the comments I created https://vanilla.topcoder-dev.com/discussion/3130/perf-test. Also I see even though it gives time outs, the discussions are being created.

[2021-02-16 06:40] sdgun opened #403 "The email notifications are not being sent for discussions or comments"
**Steps**

- Watch a roundtable and a challenge forum by log in from a user
- Log in from another user and create new discussion/comments in the above roundtable and challenge forum
- check the email notification

No notifications are being sent

I have seen an email server issue going on but I think it's fixed since I observe other emails are being sent in Dev

[2021-02-16 06:42] atelomycterus commented on #400
@sdgun Thanks for info! A few questions:
- What was the delay between requests?
- How many comments were added before 504 error occurred?

I think that if you create discussions with a selenium script, then the same problem will be.

Could you share this script? Thanks!

[2021-02-16 07:07] sdgun commented on #400
@atelomycterus I have added 5.7K comments and the last comment was added Feb 12 2021 at 04:33 PM. The code is attached. The gap between comments were 6 seconds. But please note all these 5.7k were not added the same day. I started running the test on 6th Feb and ran it time to time till 12th Feb. You can see this in https://vanilla.topcoder-dev.com/discussion/3130/perf-test

[ChallengeForums.zip](

[2021-02-16 08:22] SathyaJayabal opened #404 "[$75] Challenge discussion link not shown for a challenge"
Registration complete but there is no discussions tab.
https://www.topcoder.com/challenges/9ffff72c-ad6a-4c70-b0bf-ac52fd049558?tab=registrants

reported here
https://github.com/topcoder-platform/community-app/issues/5352#issuecomment-779644474

cc @jmgasper @rootelement

[2021-02-16 08:23] rootelement commented on #404
Not sure why. Looks like the challenge discussion wasn't created.
[code]

[2021-02-16 08:25] jmgasper opened #405 "[$75] Forum processor issue"
@atelomycterus - Reported by Topcoder:

I’m seeing this error in the forums-processor in prod

[code]

Is there a call there that’s calling with a legacy id like that? that format won’t work

[code]

[2021-02-16 08:26] jmgasper commented on #405
Challenge https://www.topcoder.com/challenges/fbc24f20-103c-41be-9406-534ceb1edb60 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 08:26] jmgasper commented on #405
@atelomycterus - Related to: https://github.com/topcoder-platform/forums/issues/404

[2021-02-16 08:30] jmgasper commented on #404
Challenge https://www.topcoder.com/challenges/3683c6f2-4a49-45f0-b0be-e982de5514e5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 08:30] jmgasper commented on #404
Challenge https://www.topcoder.com/challenges/3683c6f2-4a49-45f0-b0be-e982de5514e5 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 08:32] atelomycterus commented on #405
@jmgasper Could you provide the payload from a log file?

[code]

[2021-02-16 08:38] atelomycterus commented on #372
@jmgasper One PR has not been applied. Please apply PR - https://github.com/topcoder-platform/challenge-forum-processor/pull/50. Thanks!

[2021-02-16 08:39] jmgasper commented on #405
@atelomycterus - Working on it...

[code]

[2021-02-16 08:40] jmgasper commented on #405
Also this:

[code]

[2021-02-16 08:49] jmgasper commented on #405
[code]

[2021-02-16 09:04] atelomycterus commented on #405
@jmgasper The original issues with challenge ID = `9ffff72c-ad6a-4c70-b0bf-ac52fd049558`. Could you try to search by 'Message from challenge.notification.create: [{"id":"9ffff72c-ad6a-4c70-b0bf-ac52fd049558"'? Thanks for your help!

![image](https://user-images.githubusercontent.com/10196632/108040301-32626000-704e-11eb-8d20-06bbcf82a568.png)

[2021-02-16 10:35] atelomycterus commented on #405
@jmgasper Please remove access_token from urls before posting. I removed it from your comments.

1. I've reviewed the code of challenge processor, only 'challenge.id' is used , the value of challenge.id  not changed. challenge is a payload. If the challenge.id is number, not uuuid =>it throws  404 error.

[code]
Could you try to search by 'Message from challenge.notification.create: [{"id":"9ffff7

[2021-02-16 14:56] Oanh-and-only-Oanh opened #406 "[$30] should not be able to create New Discussion in Challenge Discussions parent category"
When user selects "Challenge Discussions", list of challenges that user has access to should be displayed. However, user should NOT be able to create any New Topics at this page. Remove New Discussion button on this page.

![image](https://user-images.githubusercontent.com/47536078/108079818-15b13280-7024-11eb-9b25-c4bf07383a86.png)

[2021-02-16 17:25] atelomycterus commented on #389
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/23
- https://github.com/topcoder-platform/forums/pull/407
Thanks!

### Testing
'Home' should be displayed in the breadcrumbs :

![image](https://user-images.githubusercontent.com/10196632/108098803-dec73500-7094-11eb-9a9a-446766c7f07b.png)

![image](https://user-images.githubusercontent.com/10196632/108098884-f901

[2021-02-16 20:14] jmgasper commented on #406
Challenge https://www.topcoder.com/challenges/f1ef7d50-cf6d-4b57-84ee-fa6ca786ad31 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 20:14] jmgasper commented on #406
Challenge https://www.topcoder.com/challenges/f1ef7d50-cf6d-4b57-84ee-fa6ca786ad31 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 20:24] jmgasper commented on #405
@atelomycterus - Thanks for cleaning up the access token.  From @rootelement below - please have a look and let me know if it looks OK.  We can start to ignore the old events and focus on *just* the v5 ones.

[2021-02-16 20:45] jmgasper commented on #405
Challenge https://www.topcoder.com/challenges/fbc24f20-103c-41be-9406-534ceb1edb60 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 20:46] #405 closed

[2021-02-16 20:46] jmgasper commented on #405
Payment task has been updated: https://www.topcoder.com/challenges/fbc24f20-103c-41be-9406-534ceb1edb60
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `fbc24f20-103c-41be-9406-534ceb1edb60` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-16 21:48] atelomycterus commented on #381
@jmgasper  I ran adding comments using a selenium script.  I commented our custom code and ran without checking Group permissions. I wanted to check the execution time of the original code.

When a comment is added:
- the first request  -  insert a record in DB (/?discussions=XXX)
- the second request  - adjust the aggregate comment counts for a category + ancestors,  update LastXXX fields in DB a

[2021-02-16 22:07] jmgasper commented on #381
@atelomycterus - Ok, thanks for that.  So, if I understand this right, this is a problem with Vanilla?  Have they released any new versions recently that we could test to see if the problem is resolved?

[2021-02-16 22:20] atelomycterus commented on #381
@jmgasper

yes. Vanilla Team has tried to improve caching functionality https://github.com/vanilla/vanilla/pull/8062. I've seen some issues with memory exhaustion (https://github.com/vanilla/vanilla/pull/7843 and others). Some issues have been fixed, other issues  are still open/hold.

The same issue https://open.vanillaforums.com/discussion/38113/vanilla-forum-take-high-cpu-usage, but no replies.

[2021-02-16 22:24] jmgasper commented on #381
Ok, thanks.

[2021-02-17 06:48] atelomycterus commented on #381
@jmgasper I am going to work on it today.
- why the CPU usage is high
- test our custom Vanilla and profile code using different server configurations (opc, memcached and so on),  the main focus on adding comments / posts.
- do the same with Vanilla 3.3 (no customizations)

Keep you updated.

[2021-02-17 07:34] sdgun commented on #389
Verified in Dev. Home is included in the breadcrumbs.

[2021-02-17 07:36] sdgun opened #408 "[$30] The navigation menu is not displayed in mobile devices when user logs in"
**Steps**
Log in to forums from a mobile device as any user

The navigation menu is not displayed

Tap on the Home from breadcrumb

Now the navigation menu is displayed

![image](https://user-images.githubusercontent.com/4592712/108170699-7de53e80-7120-11eb-9562-de659304dca9.png)

Device: Pixel XL
OS: Android 10
Browser: Chrome

Device: iPhone 6S
OS: 13.7
Browser: Safari

[2021-02-17 08:38] jmgasper commented on #408
Challenge https://www.topcoder.com/challenges/6abdfdb2-e24c-438c-afe1-d60a7ce7de54 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 08:38] jmgasper commented on #408
Challenge https://www.topcoder.com/challenges/6abdfdb2-e24c-438c-afe1-d60a7ce7de54 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 08:48] sdgun opened #409 "[$25] Announcement pop up option two has recent discussions"
**Steps**
Log in as an admin user
Go to a discussion and try to announce it

Option 2 mentions 'recent discussions', but we have removed recent discussions from the left nav

![image](https://user-images.githubusercontent.com/4592712/108178556-935f6600-712a-11eb-9b4d-c3a3721ef5de.png)

[2021-02-17 08:54] jmgasper commented on #409
Challenge https://www.topcoder.com/challenges/771748c9-fa0d-4386-99b6-1f0cc361b242 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 08:54] jmgasper commented on #409
Challenge https://www.topcoder.com/challenges/771748c9-fa0d-4386-99b6-1f0cc361b242 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 12:30] sdgun opened #410 "Post Discussion button text alignment issue when a draft is opened"
**Steps**
Log in to forums from a mobile device as any user
Go to Drafts
click on a draft
check the Post Discussion button

Text is not aligned properly

![image](https://user-images.githubusercontent.com/4592712/108204521-e98fd180-7149-11eb-92a8-a94afd6f799f.png)

Device: Pixel XL
OS: Android 10
Browser: Chrome

Device: iPhone 6S
OS: 13.7
Browser: Safari

[2021-02-17 14:31] sdgun opened #411 "The test below the editor is displayed in multiple lines"
Steps
Log in to forums from a mobile device as a copilot/admin user
Go to a challenge discussion
Check the test below the editor

Text is displayed in multiple lines

![image](https://user-images.githubusercontent.com/4592712/108218663-e7823e80-715a-11eb-8c39-476bfe1558c3.png)

Device: Pixel XL
OS: Android 10
Browser: Chrome

Device: iPhone 6S
OS: 13.7
Browser: Safari

[2021-02-17 15:03] sdgun opened #412 "The challenge name in the challenge description is not fully displayed in mobile, portrait mode"
**Steps**
Log in to forums from a mobile device as any user
Click challenge discussions from nav
Click on a challenge discussion

The challenge name in the challenge description is not fully displayed in mobile, portrait mode

image
![image](https://user-images.githubusercontent.com/4592712/108223041-62e5ef00-715f-11eb-95c8-2fd44d03f1e7.png)

Device: Pixel XL
OS: Android 10
Browser: Chrome

Device

[2021-02-17 15:46] sdgun opened #413 "Issues in mobile, landscape mode"
**Steps**
Log in to forums from a android device as any user
Tap on any roundtable and go to comment level
Change the mode to landscape

Observe the below issues:
Two New discussions buttons available
Left navigation is displayed
(At the comment level) the text goes beyond the section

![image](https://user-images.githubusercontent.com/4592712/108228981-5e243980-7165-11eb-8f25-f14370413a84.png)

D

[2021-02-17 15:59] lakshmiathreya commented on #404
This is not a consistent/general problem for all Challenges - hence setting this Issue to Intermittent.

[2021-02-17 20:37] jmgasper commented on #410
Gonna delay this until after the roundtables are done.

[2021-02-17 20:38] jmgasper commented on #404
@lakshmiathreya - We put in some fixes yesterday.  Have any challenges since yesterday still had the issue?

[2021-02-17 21:04] jmgasper commented on #400
@sdgun - Is it alright if I put those test sources into Git?  I'd like to keep those captured somewhere for reference, thanks.

[2021-02-17 21:24] atelomycterus commented on #381
@jmgasper I've configured [tideways](https://tideways.com/). This is highly integrated PHP Profiling, Monitoring and Exception Tracking solution.
Free Trial - 30-days. Can we configure it in DEV env for at least 30 days?  This has minimal system impact unlike xdebug.
Need to create an account and set the API key in Docker. I've set up it in Docker with Compose.

I've optimized a little our custom.

[2021-02-17 21:27] jmgasper commented on #381
@atelomycterus - Sounds good, thanks!  I'll discuss with Topcoder about configuring tideways in dev.  I'm hoping they'll be willing to pay for it in dev.

[2021-02-17 22:39] #389 closed

[2021-02-17 22:39] jmgasper commented on #359
Challenge https://www.topcoder.com/challenges/617851a0-9a0b-40e3-9bd6-82cda71d8557 obog has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 22:39] jmgasper commented on #359
obog has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 22:39] jmgasper commented on #389
Payment task has been updated: https://www.topcoder.com/challenges/62c8f98e-29bc-4f89-8efc-acfee1943fe9
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `62c8f98e-29bc-4f89-8efc-acfee1943fe9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 22:40] jmgasper commented on #359
Challenge https://www.topcoder.com/challenges/617851a0-9a0b-40e3-9bd6-82cda71d8557 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-17 22:40] #359 closed

[2021-02-17 22:41] jmgasper commented on #359
Payment task has been updated: https://www.topcoder.com/challenges/617851a0-9a0b-40e3-9bd6-82cda71d8557
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `617851a0-9a0b-40e3-9bd6-82cda71d8557` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-18 03:27] sdgun commented on #400
@jmgasper No problem

[2021-02-18 12:47] sdgun commented on #405
@atelomycterus Is there any impact of this fix and you want me to test specifically? OR should I test this one by creating a new challenge in production?

[2021-02-18 12:52] sdgun opened #414 "[$30] Deviation in the discussion description"
**Steps**
Log in as any user
Click CHALLENGE DISCUSSIONS from left nav
Click on any discussion
Check the description

there is a minor deviation in the description, in the design they show the challenge name but we are using the challenge type, and also we present it in one row.

Implementation:
![image](https://user-images.githubusercontent.com/4592712/108359490-114c6b80-7216-11eb-86bd-a4a60a7c67

[2021-02-18 12:56] sushilshinde opened #415 "[$40] Breadcrumb when navigating from a challenge page"
@atelomycterus - Can we fix the breadcrumb below please?  It *only* gets messed up when navigating from a challenge page.  Here's an active challenge for testing:

https://www.topcoder-dev.com/challenges/84999c47-6f76-4706-8f49-9ea79e3f344d

You can login with `jmgasper / Appirio123`, as `jmgasper` is already registered.

### Breadcrumb
When user registers for the challenge and navigates to the ch

[2021-02-18 13:28] atelomycterus commented on #405
@sdgun The issue was caused by the old events (v4).  See https://github.com/topcoder-platform/forums/issues/405#issuecomment-780096116.

There were some changes in the code (https://github.com/topcoder-platform/challenge-forum-processor/commit/3dc65bd1d3fe5905653982281195bb1ab19fa8e6 by @ThomasKranitsas ). I don’t know if testing has already been done or not.

@jmgasper ☝️

[2021-02-18 19:52] jmgasper commented on #415
Challenge https://www.topcoder.com/challenges/3c3482e3-ba34-4fab-a3a8-cfb53d81748e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-18 19:52] jmgasper commented on #415
Challenge https://www.topcoder.com/challenges/3c3482e3-ba34-4fab-a3a8-cfb53d81748e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```