[2020-03-05 21:30] rootelement opened #1 "[$250] Deployment Docker"
Create a docker file to:
1. Pull in the latest LTS minor revision of Vanilla Forums. The best example of format and process would possibly be https://github.com/topcoder-platform/av-scanner-service but don't be limited to this
1. Set up a plugin structure for vanilla in this repo: https://github.com/topcoder-platform/forums-plugins This should be pulled in, installed and configured by docker (for

[2020-03-05 21:41] rootelement opened #2 "Create a Topcoder Theme"

[2020-03-05 21:42] rootelement opened #3 "Fix OAuth Implementation"
1. Get it working 100% in Dev, against Dev OAuth
1. Shut off anything other than Topcoder OAuth login

[2020-03-05 21:43] rootelement commented on #2
Moved: https://github.com/topcoder-platform/forums-plugins/issues/1

[2020-03-05 21:43] #2 closed

[2020-03-05 21:45] jmgasper commented on #3
Done.  For future reference, in Plugins / OAuth2 SSO
<img width="1355" alt="Screen_Shot_2020-03-06_at_08_44_38" src="https://user-images.githubusercontent.com/21790/76028472-cc88df80-5f86-11ea-8080-967949597bb3.png">
:

[2020-03-05 21:45] #3 closed

[2020-03-05 21:49] rootelement opened #4 "Research scalability"
Are there other options for database? AWS Aurora? Dynamo?
Can you do two app servers behind a load balancer easily?
Caching (memcached?, varnish?, redis?)

[2020-03-05 21:51] rootelement opened #5 "Forums -> Email Communication"
Forum/email communication, and can you reply to an email?

[2020-03-06 03:00] jmgasper commented on #4
@rootelement - I think that Aurora should work fine since it's MySQL compatible.

https://aws.amazon.com/rds/aurora/mysql-features/

In terms of load balancing, everything is hosted in Apache, using PHP, which is a pretty standard deploy.  I would assume that setting up something robust, with load balancing, should be relatively straightforward.  That being said, it does also support both nginx an

[2020-03-06 03:04] jmgasper commented on #5
I'm not sure this is possible with the open source version.

There was a plugin for this, but it's defunct.  We may be able to revive it, but there are all sorts of security implications to consider.

https://open.vanillaforums.com/addon/replybyemail-plugin

### Paid

There is a paid feature of the `Enterprise` forums that sounds like it supports this:

https://success.vanillaforums.com/kb/article

[2020-03-08 15:39] rootelement commented on #4
Ok, so we'll go with Aurora and Memcached

[2020-03-08 15:39] #4 closed

[2020-03-08 15:40] rootelement commented on #5
This could be a problem. How hard do you think it'd be to write our own? You need to write an email listener right? That could be too much...

[2020-03-08 21:03] jmgasper commented on #5
Yeah, we could probably find something to start with and then modify to our needs, but I'd be nervous about security / spamming via the email address.  I'm not one to use the email reply much - how is that validated by Jive?

[2020-04-13 08:13] jmgasper opened #6 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-04-13 08:17] jmgasper commented on #1
Contest https://www.topcoder.com/challenges/30122181 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-13 08:37] jmgasper commented on #1
Contest https://www.topcoder.com/challenges/30122181 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-13 09:33] atelomycterus commented on #1
@jmgasper What default plugins should be enabled by default?

![image](https://user-images.githubusercontent.com/10196632/79110313-d1f5f880-7d82-11ea-977b-5213eb1d74ea.png)

[2020-04-13 11:41] jmgasper commented on #1
* Topcoder plugin
* Advanced Editor
* Emoji Sets
* OAuth2 SSO
* Quotes
* reCAPTCHA support
* Rich editor
* Syntax Prettifier

[2020-04-13 11:41] atelomycterus commented on #1
@jmgasper Done. It's ready for your review.  I think I should create a PR , not push it immediately. Sorry about that.

- Let me know about default plugins.
- I attached a default Vanilla config if we need to change some default parameters (disable plugins. or  so on). We can keep our config in the repo and overwrite a default config in a docker.

[config-defaults.php.txt](https://github.com/topco

[2020-04-13 11:56] atelomycterus commented on #1
@jmgasper Oauth2 SSO don't have default settings. Enabling without settings doesn't make sense.
![image](https://user-images.githubusercontent.com/10196632/79118412-8d745800-7d96-11ea-980e-098ceb1f7243.png)

[2020-04-13 14:37] atelomycterus commented on #1
@jmgasper  Implemented. Please apply PR (https://github.com/topcoder-platform/forums/pull/7).
1) All plugins except 'OAuth2 SSO' are enabled successfully. I tried to setup plugin settings with default values but it didn't work.  So Admin/User has to configure  them manually.
![image](https://user-images.githubusercontent.com/10196632/79127091-e8637a80-7da9-11ea-9f34-c69f556d21f8.png)

2) Unfortuna

[2020-04-13 22:26] jmgasper commented on #1
@atelomycterus - For the OAuth SSO, if we provide some details, can we use those details to auto-populate the database directly to try to work around the issue above?

[2020-04-14 04:48] atelomycterus commented on #1
@jmgasper Vanilla Forums Installer generates config.php from config-defaults.php during installation.  All settings (connection db, plugins, and so on)  are saved in config.php.
Some details about [Vanilla configuration files](https://docs.vanillaforums.com/developer/configuration).
I found in docs yesterday that there are hooks in bootstrap.

 A file named `conf/bootstrap.early.php` can be create

[2020-04-14 06:01] atelomycterus commented on #1
@jmgasper bootstrap.early works for any plugins which keep all settings in config.php.
So we can auto-populate with default values some plugins  during initial install. It works for the next plugins:
- Topcoder
- Emoji Sets
- Syntax Prettifier.

**OAuth2 SSO**

All authentication providers are saved some parameters in the table 'UserAuthenticationProvider'.
Enabling OAuth2 SSO alters the table 'Us

[2020-04-14 11:02] atelomycterus commented on #1
@jmgasper  Implemented. Please apply PR.  I couldn't check OAuth2 SSO Topcoder locally  because I got "Callback URL mismatch.The provided redirect_uri is not in the list of allowed callback URLs.".  So I tested with ngrok and configured google OAuth settings

The Vanilla url 'https://<vanilla_host>/entry/oauth2' should be added in Authorised redirect URIs.

What host should be used in /etc/hosts t

[2020-04-14 11:38] jmgasper commented on #1
@atelomycterus - I think vanilla.topcoder-dev.com should work, but if not let me know.

[2020-04-14 12:48] atelomycterus commented on #1
Yes, it works without any issues if it's deployed on vanilla.topcoder-dev.com  and vanilla.topcoder-dev.com is added in Authorized redirect URIs.
But using OAuth 2 SSO with docker locally  has an issue.
After getting a callback it redirects to the vanilla.topcoder-dev.com, not your  docker vanilla host.
if use a localhost or another URL not from a list of Authorized redirect URIs  , then get "Call

[2020-04-14 22:21] jmgasper commented on #1
@atelomycterus - I think that's fine.  Normally, for other Topcoder services, we ask folks to add a local redirect to their hosts file for the targeted URL.

[2020-04-15 01:17] jmgasper commented on #1
@atelomycterus - One question:

Can we move things from the `bootstrap.early.php` file into environmental variables please?

Things like:

* Plugins.Topcoder.BaseApiURL
* Plugins.Topcoder.MemberApiURI
* Plugins.Topcoder.MemberProfileURL
* UserAuthenticationProvider / AssociationSecret
* UserAuthenticationProvider / SignInUrl
* UserAuthenticationProvider / Attributes

The secret and attributes espe

[2020-04-15 05:18] atelomycterus commented on #1
@jmgasper Yes, I've checked Vanilla code, we can implement
[code]
If this is false then only the in-memory config is set.

**Importanta Note**s: After an admin makes a change in the dashboard, Vanilla will rewrite
config.php and put the plaintext version of the env var.

After installation db settings as plaint text in config.php.
I think the additional values should be fixed:
   -  Database.Host

[2020-04-15 05:22] jmgasper commented on #1
@atelomycterus - Yeah, we'll need to tweak those as well, thanks.  I'm not too worried about having them in plaintext on the server, but I don't want them in plaintext in Git.

[2020-04-15 07:52] atelomycterus commented on #1
@jmgasper Fixed. Please apply PR. I'll send mysql.env and vanilla.env with values by email. Thanks!

[2020-04-16 01:47] #1 closed

[2020-04-16 01:47] jmgasper commented on #1
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122181<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-16 01:48] jmgasper opened #11 "[$60] Update to docker flow"
@atelomycterus - One thing with the Docker flow is that, going forward, we are going to target Aurora MySQL in the CI deploy (https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/Aurora.AuroraMySQL.html)

Can we update the docker flow to:

* Optionally install MySQL
* Optionally just accept a MySQL connection to use instead of the local MySQL?

I'm just thinking ahead for what the final in

[2020-04-16 07:31] atelomycterus commented on #11
@jmgasper Done.

**For development**:
- Run `docker-compose build` to build the image
- Run `docker-compose -f docker-compose.yml -f docker-compose.dev.yml up` to run Vanilla Forums + MySQL

**Using existing DB**:
Tested with AWS RDS My Sql, no issues with installation.
You need to know how connect to MySQL Database:
     - **Database Host**
     - **Database Name**
     - **Database User**
     -

[2020-04-17 00:39] jmgasper commented on #11
Contest https://www.topcoder.com/challenges/30122428 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-17 00:40] jmgasper commented on #11
Contest https://www.topcoder.com/challenges/30122428 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-01 03:08] jmgasper opened #15 "[$250] Investigate SSO"
@atelomycterus - One thing we have to think about is how a user can login on the Topcoder site and then access the forums *without* having to re-login on the forums site.

There's a lot of information now available from Vanilla on SSO (seems to have either been added or updated in the last couple weeks):

https://success.vanillaforums.com/kb/categories/8-single-sign-on-sso

Can you investigate a b

[2020-05-01 03:10] jmgasper commented on #15
Contest https://www.topcoder.com/challenges/30123936 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-01 03:10] jmgasper commented on #15
Contest https://www.topcoder.com/challenges/30123936 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-01 11:45] atelomycterus commented on #15
@jmgasper

Users logins on Topcoder site, then  goes to the **existing** Topcoder forum without having to re-login on the forums site because of session cookies (JSESSIONID).
Several applications (topcoder forum, community and others) host on one Tomcat server.
It works because session cookies is shared between domain and subdomains with Tomcat. It can be made a configuration change in Tomcat.
You

[2020-05-01 15:57] suppermancool opened #16 "[$75] Can not deploy docker"
@jmgasper

The `docker-compose -f docker-compose.yml -f docker-compose.dev.yml up` run success

<img width="1117" alt="Screen Shot 2020-05-01 at 22 54 52" src="https://user-images.githubusercontent.com/5815182/80819237-cfa6f180-8bfe-11ea-9213-4f56a022c067.png">

But when i open http://<your_docker_machine_ip> i see nothing:

<img width="1150" alt="Screen Shot 2020-05-01 at 22 46 01" src="https://u

[2020-05-01 16:07] atelomycterus commented on #16
@suppermancool  Try `http://127.0.0.1` . Let me know if you have any issues.

[2020-05-01 16:34] suppermancool commented on #16
@atelomycterus that work thanks. Can you show me how to install https://github.com/topcoder-platform/forums-plugins ?

[2020-05-01 16:37] suppermancool commented on #16
@atelomycterus ah wait let me check https://github.com/topcoder-platform/forums/blob/master/docs/SetupVanillaForums.md first

[2020-05-01 16:37] atelomycterus commented on #16
@suppermancool you don't need to copy it manually. All plugins are copied during building [dockerfile](https://github.com/topcoder-platform/forums/blob/master/Dockerfile).

[2020-05-01 16:47] suppermancool commented on #16
@atelomycterus ah ok it work thanks. Do you know how to add new theme?

[2020-05-01 16:59] atelomycterus commented on #16
@suppermancool  You need to copy your theme into the 'themes' folder.
Copy the theme with docker `docker cp ./<MY_THEME> vanilla-local:/vanillapp/themes`
Have a look at https://success.vanillaforums.com/kb/articles/237-theme-boilerplate-overview
Vanilla has developed a starter kit to create a custom theme.

_The official docs:_
https://success.vanillaforums.com/kb/articles/168-theming-quickstart
h

[2020-05-01 18:10] suppermancool commented on #16
@atelomycterus i follow https://success.vanillaforums.com/kb/articles/237-theme-boilerplate-overview and copy the theme to docker. with these command:
[code]

When i click active theme it throw error:
[code]

Then i change the key in `addon.json` in the themes i created above to : `Topcoder` to match with existing plugin and click active it success. But i can't connect to `http://127.0.0.1/` now s

[2020-05-01 18:45] atelomycterus commented on #16
@suppermancool
1)  re-config the app:
`docker-compose -f docker-compose.yml -f docker-compose.dev.yml down`
`docker-compose -f docker-compose.yml -f docker-compose.dev.yml up --build `
2) Your custom theme should be build with Vanilla CLI.  Have you run the command ` vanilla build`?
if not,  you need to build the theme first.
Vanilla-local docker doesn't have Vanilla CLI installed.  So you need to

[2020-05-02 01:28] suppermancool commented on #16
@atelomycterus yes i already run `vanilla build`, it run success but still get this error when active the theme. This is the theme, can you help to check?

<img width="1016" alt="Screen Shot 2020-05-02 at 08 27 24" src="https://user-images.githubusercontent.com/5815182/80851933-c9d8fc80-8c4e-11ea-8e9b-d67af7e42a35.png">

[Topcoder.zip](https://github.com/topcoder-platform/forums/files/4566858/Topc

[2020-05-02 02:08] suppermancool commented on #16
@atelomycterus ah it work now, the folder name should match with key. no problem now, thanks

[2020-05-02 02:28] suppermancool commented on #16
@atelomycterus another problem :( i can apply the theme now but it show me the error when enter the forums page http://127.0.0.1/index.php?p=

<img width="1406" alt="Screen Shot 2020-05-02 at 09 28 01" src="https://user-images.githubusercontent.com/5815182/80852966-3d7f0780-8c57-11ea-9ed5-bbe58d9fc83c.png">

[topcoder-theme.zip](https://github.com/topcoder-platform/forums/files/4566946/topcoder-th

[2020-05-02 02:29] jmgasper commented on #16
@atelomycterus - Applied payment here for the debugging help, thanks.

[2020-05-02 02:31] jmgasper commented on #16
Contest https://www.topcoder.com/challenges/30124039 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-02 02:31] jmgasper commented on #16
Contest https://www.topcoder.com/challenges/30124039 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-02 02:33] suppermancool commented on #16
@atelomycterus i turn on the debug for theme and see the error and fix it now, no problem now, thanks

[2020-05-02 04:44] atelomycterus commented on #16
@jmgasper  I think we can close this ticket, suppermancool has fixed the issue. So I don't need the payment.

[2020-05-02 04:45] #16 closed

[2020-05-02 04:47] jmgasper commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124039<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-02 04:49] atelomycterus commented on #15
@jmgasper Let me know your feedback to understand the next steps.

[2020-05-02 04:56] atelomycterus commented on #11
@jmgasper Could you check this payment? The fix was accepted 2 weeks ago.  Thanks!

[2020-05-02 05:27] jmgasper commented on #15
@atelomycterus - Thanks - I've asked some Topcoder folks to have a look and offer suggestions.  It may not be til next week.  Sorry for the delay.

[2020-05-02 05:28] #11 closed

[2020-05-02 05:28] jmgasper commented on #11
@atelomycterus - Sorry for the delay.  Should be all set now.

[2020-05-02 05:29] jmgasper commented on #11
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122428<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-05 23:36] jmgasper commented on #15
@atelomycterus - Just an update here - we're investigating this still on the Auth0 side.

[2020-05-08 00:40] jmgasper commented on #15
@atelomycterus - Still waiting on details from Topcoder.  I'm going to close this for now and open up a new one once we know more.

[2020-05-08 00:40] #15 closed

[2020-05-08 00:40] jmgasper commented on #15
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123936<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-08 00:41] jmgasper opened #17 "[$400] Load balancer investigation"
@atelomycterus - Topcoder is asking if we can have multiple Vanilla servers behind a load balancer, set up to target one database.

We already use Amazon RDS for our database in dev, so that shouldn't be a problem, but we need to ensure that we can do multiple Vanilla servers, with proper session handling between the various servers in the cluster.

I'm not really sure where to start with that inv

[2020-05-08 00:43] jmgasper commented on #17
Contest https://www.topcoder.com/challenges/30124704 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-08 00:43] jmgasper commented on #17
Contest https://www.topcoder.com/challenges/30124704 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 12:37] atelomycterus commented on #17
@jmgasper Yes, It works with multiple Vanilla instances.
I found an article, it has been written for a long time, but it includes useful tips (https://open.vanillaforums.com/discussion/17716/how-does-vanilla-scale).

**Running multiple Vanilla instances**
There are two options:
1. Multiple Vanilla instances under the same DB but using a different table prefix for each Vanilla Instance. Each Vanill

[2020-05-11 21:28] jmgasper commented on #17
@atelomycterus - This looks great, thanks.  I've moved this into the wiki for Topcoder devops to have a look at.

[2020-05-11 21:28] #17 closed

[2020-05-11 21:29] jmgasper commented on #17
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124704<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 05:26] atelomycterus commented on #17
@jmgasper a couple of notes about web-servers:
Nginx is popular for VPS hosting, dedicated hosting, or cluster containers.

Just in case Topcoder devops wants to use nginx instead of apache. There are a lot of nginx-vs-apache reviews.The contenders compete well with each other in most situations.
Let me know if nginx configs is required.

[2020-05-12 06:02] jmgasper commented on #17
@atelomycterus - Good note, thanks.  TC is going to be having a call with Vanilla later this week to decide if we're going to self-host this in production, or if they're going to pay for one of Vanilla's hosted services.  Hosted services give us some additional APIs and features we can use, like groups, and reply-via-email.

[2020-05-12 07:49] atelomycterus commented on #17
@jmgasper  Thanks for details.

yes definitely.  More notes:
 - Vanilla open source community is quite small if you compare with other open community projects.  Very few addons/modules/themes are available.
  Maybe no one will answer your difficult questions in the official open community forum.
 - There is very little documentation on the site. In general, I can say that documentation is just cod

[2020-08-14 00:00] jmgasper opened #18 "[$700] Groups investigation"
-- Payment will be applied here shortly.  Just double checking the billing account setup before I create the challenge.

@atelomycterus - We are working with Vanilla to evaluate a hosted solution from them, instead of self hosting.

One thing I'd like to do is update the challenge forum processor to use groups instead of custom roles.

### Branch

Please target the `vanilla-groups` branch for the

[2020-08-14 08:44] atelomycterus commented on #18
@jmgasper, Hi! Ok, I understand the task. I haven't received any emails from you. Please re-send an admin username / password and I'll start working on it.
My email  is o_bogdanova@inbox.ru

[2020-08-14 11:58] atelomycterus commented on #18
@jmgasper Some questions about Topcoder categories.  I have looked through the current code base + API v2. With Group functionality, creating a sub-category with challenge names (which is used as a workaround) underneath Topcoder categories is redundant.

But what about using Topcoder categories? Are there any requirements?
The discussions can be assigned to a group and a category. There are two i

[2020-08-14 20:35] jmgasper commented on #18
1.  I don't think we need to assign the category for now - just the group will be enough.  We can mess with that later, but I'm most concerned right now about making sure we can create the group, assign members, and that the group is properly secured for only those who have rights to it.

[2020-08-14 21:02] atelomycterus commented on #18
@jmgasper  I see.  I have some questions:

### Events

We'll create an event for each phase. Please correct me if I am wrong.

### Adding/removing users to/from a group

Previously, we saved challengeId as a role's urlencode and could easily find the corresponding role.

There are approaches to implement adding/removing users to/from a group:
  1. Challenge name is used as a group's name.  Need to

[2020-08-15 00:39] jmgasper commented on #18
1.   Correct, an event for each phase

2.  For the add / remove users, let's go with option 3, if that's easiest.  We will *not* be able to upload a plugin at this time - that's a sticking point we identified on our call with them yesterday.  We're working with them to figure out a solution.

3.  For the source, we do not have access.  All we have is the API documentation.

[2020-08-15 00:39] jmgasper commented on #18
Contest https://www.topcoder.com/challenges/30137215 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-15 00:41] jmgasper commented on #18
Contest https://www.topcoder.com/challenges/30137215 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-15 13:15] atelomycterus commented on #18
@jmgasper Implemented the task but I can test it fully . I got the same error 'UnknownError' https://github.com/topcoder-platform/challenge-forum-processor/issues/17#issuecomment-618200204.

 Could you provide Topcoder  creds for Auth0?

[code]

[2020-08-15 15:29] atelomycterus commented on #18
Current Status: Need to test it with Topcoder creds. After testing, I'll create PR.
Source Code:  https://github.com/topcoder-platform/challenge-forum-processor/tree/vanilla-groups-issues-18

### Creating Groups and related entities

Using sample-data/challenge.notification.create.json:
1. Creating a group:
![image](https://user-images.githubusercontent.com/10196632/90315356-941d0280-df23-11ea-8ae

[2020-08-15 23:01] jmgasper commented on #18
@atelomycterus - This looks great, thanks!  Which creds do you need exactly?  The M2M ones?

For dev and an admin account, `TonyJ` / `appirio123` should work fine.

[2020-08-16 06:22] atelomycterus commented on #18
@jmgasper I need Topcoder creds (see challenge-forum-processor/config/default.js) to  test user registration/unregistration events ("topic": "challenge.notification.events") .
[code]

I tested  only using sample-data/challenge.action.resource.create.json and sample-data/challenge.action.resource.delete.json.
I created PR https://github.com/topcoder-platform/challenge-forum-processor/pull/25. Pleas

[2020-08-16 23:22] jmgasper commented on #18
@atelomycterus - Thanks for that.  I'm still working with Topcoder to get you the configuration details.  I should have that for you soon.

[2020-08-17 05:45] atelomycterus commented on #18
@jmgasper  I got 403 error (Forbidden)  with new creds:

The request url:  'https://api.topcoder-dev.com/v3/users?filter=id%3D88770043'
[code]

[2020-08-17 06:53] jmgasper commented on #18
@atelomycterus - I see the same in my testing - checking with Topcoder on this...

[2020-08-17 20:57] jmgasper commented on #18
@atelomycterus - Got this updated.  From Topcoder:

That auth0 key only has access to read and write groups.

I’ve added a bunch of read scopes that I think are relevant. If you can’t make other calls, please send me the API calls so I can line up the right scopes:

`"scope": "read:challenges write:groups read:groups read:project read:user_profiles read:project-user read:resources read:terms read:

[2020-08-17 21:10] jmgasper opened #19 "[$300] Investigate applying theme via pockets"
@atelomycterus - Vanilla won't give us access to the hosted site to install our custom theme.  *Instead*, they are asking us to use `Pockets`, which are CSS and JS snippets that can be added at different places on the page, based on the keystone theme.

I'd like to get an idea of what will / won't work with our current theme using pockets.

### Pockets location

Pockets can be found in `Appearance

[2020-08-17 21:10] jmgasper commented on #19
Contest https://www.topcoder.com/challenges/30137544 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-17 21:11] jmgasper commented on #19
Contest https://www.topcoder.com/challenges/30137544 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-18 05:42] atelomycterus commented on #18
@jmgasper  See  the same error. The 'challenge.notification.events' payload contains userId. We need to get the user's handle by given the userId.  https://api.topcoder-dev.com/v3/users is used to get user handle.
[code]

[2020-08-18 13:56] atelomycterus commented on #19
@jmgasper Let me know if you have any questions.

### Custom Theme vs Keystone theme

Our custom Topcoder theme (http://vanilla.topcoder-dev.com/) is based on Boilerplate theme, not Keystone.
[code]
See 'Desktop - Vanilla Topcoder theme' https://github.com/topcoder-platform/forums-plugins/issues/13#issuecomment-622477897

Boilerplate is a SCSS boilerplate for vanilla responsive themes. In addition

[2020-08-18 22:17] jmgasper commented on #18
@atelomycterus - Are you sure that the token is being set properly?  I was able to generate an M2M token and use it in Postman to make this call:

![Screen Shot 2020-08-19 at 08 17 20](https://user-images.githubusercontent.com/21790/90571084-691d0200-e1f4-11ea-9382-40c5bbec6802.png)

[2020-08-19 05:53] atelomycterus commented on #18
@jmgasper Thanks! It was my fault. It works, no changes in code and ready for your review.

![image](https://user-images.githubusercontent.com/10196632/90597167-30cbf280-e1f9-11ea-8a7f-8014b798ed79.png)

[2020-08-19 21:55] #19 closed

[2020-08-19 21:55] #18 closed

[2020-08-19 21:55] jmgasper commented on #19
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137544<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-19 21:55] jmgasper commented on #18
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137215<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-24 20:54] jmgasper opened #20 "[$60] Estimate for groups plugin"
@atelomycterus - One thing we're considering is building our own "groups" plugin, similar to what we have seen on the hosted site:

https://docs.vanillaforums.com/addons/groups/

Can you give me an estimate to say if that's something we can do ourselves, if we *don't* choose to have Vanilla host the site for us please?  We may decide to use some of the funds we would save by self-hosting to implem

[2020-08-24 20:55] jmgasper commented on #20
Contest https://www.topcoder.com/challenges/30138389 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-24 20:55] jmgasper commented on #20
Contest https://www.topcoder.com/challenges/30138389 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-24 21:11] jmgasper opened #21 "[$250] Evaluate pockets for member colouring / theme"
@atelomycterus - We have a meeting with the client, and I'd like to know if we can hack in the member colouring and a bit of the theme into the pockets, now that we have the boilerplate theme applied in our hosted site.

Can you take a quick look at both those items and see what's possible please?  I chatted with Vanilla last week, and they were pretty adamant that we can do everything we need to

[2020-08-24 21:11] jmgasper commented on #21
Contest https://www.topcoder.com/challenges/30138390 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-24 21:11] jmgasper commented on #21
Contest https://www.topcoder.com/challenges/30138390 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-25 09:43] atelomycterus commented on #20
@jmgasper I'm writing a list of tasks which should be in the scope. I'll look through the vanilla code and docs later to understand scope of work and provide estimation. If you have any questions let me know.  I'm working on https://github.com/topcoder-platform/forums/issues/21.

### Groups plugin
**Database**
The plugin adds custom tables:
 - group   -   keep all groups.  Group's fields: name, de

[2020-08-25 11:49] atelomycterus commented on #21
@jmgasper I customized Theme using js +css styles from our forums-theme (https://github.com/topcoder-platform/forums-theme). I fixed several issues in templates +  changed image urls and custom.js to load from http://vanilla.topcoder-dev.com.
Updated files attached ([topcoder_themes.zip](https://github.com/topcoder-platform/forums/files/5123520/topcoder_themes.zip)).

![image](https://user-images.

[2020-08-25 14:32] atelomycterus commented on #21
@jmgasper  Updated files [hosted_themes.zip](https://github.com/topcoder-platform/forums/files/5124293/hosted_themes.zip)

### Member colouring
Pockets aren't used. In short, I rewrite php code to client js code. When loading the page, we make requests to 'https://api.topcoder-dev.com/v3/members/_encodedTopcoderHandle_/stats  for all links which start from '/profile', get the rating and change the

[2020-08-25 15:14] atelomycterus commented on #21
@jmgasper Updated default.tpl to ignore some links ('/profile/notifications','/profile/edit', '/profile/activity', '/profile/picture', '/profile/comments', '/profile/discussions').
[topcoder_theme.zip](https://github.com/topcoder-platform/forums/files/5124578/topcoder_theme.zip)

[2020-08-25 19:52] atelomycterus commented on #20
@jmgasper  Please let me know if you have any questions.

### Estimation

1. implement Groups Model class + add custom tables into DB and add groupId into announcements/discussions tables = 4 days

The class  should extend 'Gdn_Model' and contains functions:
 - create/edit/delete/close operations for a group
 - add/edit/delete operations for a member
 - return all groups
 - get a group by paramete

[2020-08-25 21:02] jmgasper commented on #20
Great - this is what I was looking for, thanks!

[2020-08-25 21:02] #20 closed

[2020-08-25 21:03] jmgasper commented on #20
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138389<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-25 22:46] #21 closed

[2020-08-25 22:46] jmgasper commented on #21
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138390<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-01 03:42] jmgasper opened #22 "[$200] Update CI to install theme and plugin"
@atelomycterus - We have tied the forums deploy for https://vanilla.topcoder-dev.com into CI/CD on the `ci-test` branch

What we need to do is update a few things:

1.  As part of the deployment flow, we need to install the theme and plugin, and activate them, from the repos we have set up for those:

* https://github.com/topcoder-platform/forums-plugins
* https://github.com/topcoder-platform/foru

[2020-09-01 03:42] jmgasper commented on #22
Contest https://www.topcoder.com/challenges/30140019 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-01 03:44] jmgasper commented on #22
Contest https://www.topcoder.com/challenges/30140019 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-01 13:16] atelomycterus commented on #22
@jmgasper

Please provide logs using `docker-compose logs`. This will display the logs from all services in the application defined in the Docker Compose configuration file.

1.  Installing Theme and plugin:
The 'https://github.com/topcoder-platform/forums-theme' repo is private. So we need to use username/password or github token to clone the repo in Dockerfile. It'd be better to make this repo p

[2020-09-01 22:05] jmgasper commented on #22
@atelomycterus - The deploy of the forums theme and plugin are now working, thanks!

I'm still seeing the problem with the setup showing up - it just goes right to https://vanilla.topcoder-dev.com/index.php?p=/dashboard/setup.

Do you know *why* that setup is triggered?  Maybe it can't write a file it needs to?

Here's the main build log:

[build.log](https://github.com/topcoder-platform/forums/fi

[2020-09-01 23:14] jmgasper opened #24 "[$50] Plugin not colouring admin handles in orange"
To get the `role` for a user:

`curl --location --request GET 'http://api.topcoder-dev.com/v3/roles?filter=subjectID%3D23194912' --header 'Authorization: Bearer <token value>'`

where `23194912` is the ID for `nick.castillo`.

The response should contain the roles for a user and we want to show orange for:

* `Admin`
* `admin`
* `administrator`
* `Administrator`

[2020-09-01 23:25] jmgasper opened #25 "[$15] Handle link in plugin"
### Issue 1

When a coloured handle is clicked, the link should go to the profile on the Topcoder site, not the forum profile.  Example:

https://www.topcoder.com/members/Ghostar

[2020-09-01 23:38] jmgasper commented on #25
Contest https://www.topcoder.com/challenges/30140192 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-01 23:40] jmgasper commented on #25
Contest https://www.topcoder.com/challenges/30140192 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-02 05:20] atelomycterus commented on #22
@jmgasper  The 'build log' file includes logging of container building, not container running.
The container build log without error. _'Successfully built 67c40108d828 Successfully tagged vanilla-forums:latest'_ at the end of this file.

I requested logs when the container is running. Could you provide logs?

Container logs:
Option 1: Using the `docker-compose logs` command.  This will display the

[2020-09-02 06:12] jmgasper commented on #24
Contest https://www.topcoder.com/challenges/30140229 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-02 06:14] jmgasper commented on #24
Contest https://www.topcoder.com/challenges/30140229 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-02 11:59] jmgasper commented on #22
@atelomycterus - Here's a log from the instance:

[vanilla_logs.txt](https://github.com/topcoder-platform/forums/files/5162092/vanilla_logs.txt)

To me, this looked like the culprit:

[code]

[2020-09-02 11:59] jmgasper commented on #22
After the restart, I go back to the setup screen.

[2020-09-02 16:18] atelomycterus commented on #24
@jmgasper Implemented  but need to test with m2m Topcoder params.  I've tried to use m2m Topcoder values from challenge forum processor but I get the "The machine user should have the scope as 'read:roles'" error:
`{
"id":"2e2754a9:17434e56c51:78ff",
"result": {"success":true,"status":403,"metadata":null,"content":"The machine user should have the scope as 'read:roles'"
} `

Member API (/user/stat

[2020-09-02 16:38] atelomycterus commented on #25
@jmgasper Implemented. PR - https://github.com/topcoder-platform/forums-plugins/pull/17.   Thanks!

[2020-09-02 21:31] atelomycterus commented on #22
@jmgasper  I think the issues is due to rebuilding container each time:

![image](https://user-images.githubusercontent.com/10196632/92038496-24f53a00-ed7c-11ea-9ab7-21c21bd5e515.png)

![image](https://user-images.githubusercontent.com/10196632/92038554-40604500-ed7c-11ea-98e6-cf9f21e7dfb1.png)

Vanilla doesn't find config.php in the 'conf' folder and display a setup page. We need to copy a config

[2020-09-02 21:36] jmgasper commented on #22
@atelomycterus - Yeah, we tracked this down to something failing with the healthcheck so the server is rebuilding / restarting.  I'm going to close this for now - that's on our end to worry about.  Thanks for looking into this, and I'll open a new ticket if we need further changes.

[2020-09-02 21:36] #22 closed

[2020-09-02 21:36] jmgasper commented on #22
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140019<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-02 22:51] #25 closed

[2020-09-02 22:51] jmgasper commented on #25
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140192<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-02 22:53] jmgasper commented on #24
@atelomycterus - Thanks.  I've requested an M2M key / secret specific to the forums.

[2020-09-03 05:54] jmgasper commented on #24
@atelomycterus - Here are some details and feedback from Topcoder:

1.  Can we remove the `TOPCODER_` prefix?  Just have things like:
[code]

Those above are already injected in the CI/CD build

2.  I'll email the key/secret we can use for testing

[2020-09-03 06:10] jmgasper opened #27 "[$60] CI/CD investigation"
@atelomycterus - Here's what we've figured out with CI/CD.  Comes down to the healthcheck that we add:

Ok. I think I figured it out. When you launch the server, it is “not configured”, meaning it does not have an .htaccess that rewrites. The Health check is set up to check / on the server, which before the .htaccess is in place, returns with a 200.

When you configure the site, enabling the vanil

[2020-09-03 06:10] jmgasper commented on #27
Contest https://www.topcoder.com/challenges/30140383 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-03 06:10] jmgasper commented on #27
Contest https://www.topcoder.com/challenges/30140383 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-03 06:41] jmgasper opened #28 "[$550] Filestack plugin for forums"
@atelomycterus - One additional plugin we'd like to create is a Filestack plugin, for managing attachments, uploaded by copilots and admins.  Interested to know your thoughts on this:

### Currently

Currently, Vanilla just saves uploads to the file system, which is less than ideal, as we'll need to handle many, many large uploads without worrying about running out of space, and we'll also need to

[2020-09-03 06:41] jmgasper commented on #28
Contest https://www.topcoder.com/challenges/30140390 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-03 06:43] jmgasper commented on #28
Contest https://www.topcoder.com/challenges/30140390 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-03 09:20] atelomycterus commented on #24
@jmgasper 1. Yes, sure. I'll fix it.

2. Got the same error 'The machine user should have the scope as 'read:roles'':
![image](https://user-images.githubusercontent.com/10196632/92096232-4fc4aa00-eddf-11ea-87a7-d982719a4f47.png)

Get a new token:
[code]
Get roles:
[code]

[2020-09-03 14:50] atelomycterus commented on #27
@jmgasper Implemented. PR-https://github.com/topcoder-platform/forums/pull/29. Thanks!

1. Added .htaccess. If you need to return a specified response let me know. Now it returns the simple message ("succeess") for /health.php
![image](https://user-images.githubusercontent.com/10196632/92127258-cd051480-ee09-11ea-94e0-e9568c9577da.png)

2. Vanilla checks 'conf/config.php'. If the file doesn't exis

[2020-09-03 20:29] atelomycterus commented on #28
@jmgasper  Filestack provides official PHP SDK. Plan to use it.

I've looked at Vanilla source code. There is no separate Vanilla control for uploading a file out of the box.

**Vanilla Web Site**
Uploading files is implemented with editor plugins(Advanced Editor, Rich Editor) in Vanilla. Both plugins are available in Open Source Community Vanilla by default.

Advanced Editor is an older editor th

[2020-09-03 21:43] jmgasper commented on #24
@atelomycterus - Should be fixed now, sorry about that.

[2020-09-03 22:03] jmgasper commented on #28
1.  Let's target the Rich Editor
2.  If that's easiest, yes, let's do that, thanks.

[2020-09-04 00:29] jmgasper commented on #27
@atelomycterus - Thanks, I've documented this for the Topcoder ops team and we'll test it out and see.

[2020-09-04 05:50] atelomycterus commented on #24
@jmgasper Still not working.

`{"id":"2e2754a9:1744fe78e74:-36c9","result":{"success":true,"status":403,"metadata":null,"content":"The machine user should have the scope as 'read:roles'"},"version":"v3"}`

[2020-09-04 05:51] jmgasper commented on #27
@atelomycterus - This is all deployed, thanks.  It seems to be working better, but we're seeing this in the logs, related to that config file:
[code]

[2020-09-04 06:21] jmgasper commented on #24
@atelomycterus - Sorry about that, checking with Topcoder

[2020-09-04 06:44] atelomycterus commented on #27
@jmgasper Fixed permissions on config.php. It should be 775 for 'application'.  PR-https://github.com/topcoder-platform/forums/pull/30.

From Vanilla code:
[code]

[2020-09-04 07:16] jmgasper commented on #27
Looks good now, thanks.  I'm going to close this out and will open up new ticket(s) if we need further changes.  We're still seeing an issue, but I think it's more a Topcoder setup problem than a problem with Vanilla.

[2020-09-04 07:16] #27 closed

[2020-09-04 07:16] jmgasper commented on #27
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140383<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-04 11:21] atelomycterus commented on #24
@jmgasper I see it's working now. Please apply PR - https://github.com/topcoder-platform/forums-plugins/pull/18 with updated m2m token names. Thanks!

**M2M token params**

AUTH0_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_PROXY_SERVER_URL=
AUTH0_URL=

**Colors**

The orange color is brighter for admins:

![image](https://user-images.githubusercontent.com/10196632/92233733-79520400-eeb9-

[2020-09-05 14:09] atelomycterus commented on #28
@jmgasper Implemented with an editor. Need you feedback.
Unfortantelly, I don't have permissions to push it to 'forums-filestack-plugin'.

### PHP Configuration
PHP file upload size is set to maximum 2MB file on the server by default,
but you can increase or decrease the maximum size of file upload using the PHP configuration file (php.ini)
To increaes file upload size in PHP, you need to modify t

[2020-09-05 20:47] atelomycterus commented on #28
@jmgasper  Keep you updated.

The Advanced editor is very tightly integrated with posts and comments.  The server side 'editorUpload_create' hook is used
to upload files to Filestack.

Keep in mind

So it'd be better to integrate with Javascript Web picker and upload files from a client browser to Filestack.

### Using Javascript Web picker with a custom page

In short, the plugin creates a page (

[2020-09-06 05:07] jmgasper commented on #28
@atelomycterus - Ok, sounds good.

Can we update the CI/CD to install this plugin please?  That way I can test in dev and show it to Topcoder to get feedback, thanks.  I'll bump the payment here for the ask.

[2020-09-06 05:22] atelomycterus commented on #28
@jmgasper  I don't have permissions to "https://github.com/topcoder-platform/forums-filestack-plugin".
I can push the code to 'https://github.com/topcoder-platform/forums-plugins'.  Later we can add it in the forums-filestack-plugin repo.   Are you ok with that?

[2020-09-06 05:23] jmgasper commented on #28
@atelomycterus - Let's wait until we can get the permissions set.  Unfortunately, I don't have the correct permissions to forums-filestack-plugin either 🤦

[2020-09-06 20:53] jmgasper commented on #28
@atelomycterus - Access is now fixed.

[2020-09-06 20:53] #24 closed

[2020-09-06 20:53] jmgasper commented on #24
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140229<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-07 08:37] atelomycterus commented on #28
@jmgasper Yes. Thanks.  So we use a private repo and need to authorize our CI/CD to checkout it.
It can be configured different ways (https://enquizit.com/2019/06/05/how-to-authorize-your-ci-cd-to-checkout-additional-repo/).

Do you want to use a machine token or ssh key pair?

[2020-09-07 09:52] atelomycterus commented on #28
@jmgasper  Created PR-https://github.com/topcoder-platform/forums/pull/31. Need to create a machine token and set the 'CI_DEPLOY_TOKEN' env.  This token will be used to clone a private repo.

1) Enable the Filestack plugin and set APIKEY
2) Use Advanced Editor.  Set 'Wysiwyg' in  Posting page and click on 'Save'. 'Text'/'Rich' is used in Rich Editor.

![image](https://user-images.githubusercontent

[2020-09-07 10:29] jmgasper commented on #28
@atelomycterus - Thanks for that.  I'm asking Topcoder if I can make the plugin repo public.  That'd be the easiest tweak, so hopefully they go for that.

[2020-09-07 10:32] atelomycterus commented on #28
@jmgasper Ok. Let me know if  the repo will be public. I'll remove 'CI_DEPLOY_TOKEN from the code.

[2020-09-07 11:10] jmgasper opened #32 "[$1000] Groups plugin (phase 1)"
## Project Overview

Topcoder is going to be moving from the Jive forum software we've been using for the last 15 years to new forum software from Vanilla.  We are targeting the open source version of the Vanilla codebase, but we need a way to create a secure "group" for each individual challenge.  A group will contain multiple categories, like "Code Documents" and "Code Questions", and will only

[2020-09-07 11:10] jmgasper commented on #32
Contest https://www.topcoder.com/challenges/30140774 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-07 11:10] jmgasper commented on #32
Contest https://www.topcoder.com/challenges/30140774 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-07 15:08] atelomycterus commented on #32
@jmgasper The current status
 - Group Model ( only operations for a group)
 - View groups
 - View a group

In progress: add/edit a group.

![image](https://user-images.githubusercontent.com/10196632/92400283-61d27f80-f134-11ea-964d-482bf1838a2a.png)

![image](https://user-images.githubusercontent.com/10196632/92400409-90505a80-f134-11ea-897e-cf0e1517ba4b.png)

![image](https://user-images.githubus

[2020-09-08 00:22] jmgasper commented on #28
@atelomycterus - Deployed, looks great, thanks!

[2020-09-08 00:22] #28 closed

[2020-09-08 00:22] jmgasper commented on #28
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140390<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-08 06:50] atelomycterus commented on #32
@jmgasper Keep you updated with the progress. I plan to complete the task optimistically tonight. let me know if the tasks ( Permissions / Supporting discussions and so on / REST API) are
high priority. I'll schedule my time and we'll do both before the end of the week.

[2020-09-08 08:51] jmgasper commented on #32
Sounds good, thanks!

[2020-09-08 21:48] atelomycterus commented on #32
@jmgasper Current status: https://monosnap.com/file/srawm7EqpiY7o7pg1bmEbv11ePKuZV

The main functionality has been implemented.
Some issues with fileUploader/imageUploader + css styles in a edit/add group. This control was developed for Dashboard and throws js client errors.
![image](https://user-images.githubusercontent.com/10196632/92530895-eb1dab00-f235-11ea-8f01-e1088b15def4.png)

Plan to fix

[2020-09-08 22:36] jmgasper commented on #32
@atelomycterus - Looks good, thanks for the status update!

[2020-09-09 05:08] jmgasper opened #33 "[$500] Investigate SSO from Topcoder site to Vanilla"
@atelomycterus - We'll need to implement some custom stuff to allow for SSO between the main Topcoder site, and the forums.  We'll also need to support login in the forums and then transfer to the main Topcoder site, but this first ticket will focus on accepting the token *from* Topcoder *to* Vanilla.  Once we get that done, we'll focus on Vanilla --> Topcoder.

The goal is that, if a user is logg

[2020-09-09 05:08] jmgasper commented on #33
Contest https://www.topcoder.com/challenges/30141055 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-09 05:10] jmgasper commented on #33
Contest https://www.topcoder.com/challenges/30141055 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-09 08:15] atelomycterus commented on #32
@jmgasper PR-https://github.com/topcoder-platform/forums-plugins/pull/19. Please review it.
Let me know which task is better to start. Adding Permissions+REST or 'Investigate SSO from Topcoder site to Vanilla-#33?

### Groups
Generally copied functionality, UI and behavior from https://topcoder.vanillacommunity.com/.
Some notes:
1. 'Groups' in the left menu
![image](https://user-images.githubuserc

[2020-09-10 01:20] jmgasper commented on #32
@atelomycterus - Thanks for that.  We'll be moving the code to https://github.com/topcoder-platform/forums-groups-plugin shortly - I'm working on access.

For next steps, let's look at SSO, just so we can push anything onto Topcoder that they need to worry about, thanks!

[2020-09-10 01:54] jmgasper commented on #32
@atelomycterus - Thanks, this is deployed in our dev environment (kind of - load balancer is broken at the moment).

How do I add a discussion / category to a group?

[2020-09-10 05:12] atelomycterus commented on #32
@jmgasper Not implemented because this functionality is related to Phase 2.  That was why asked about what I should do the next.

Let me know I can start on working  on it now  and implement only Category/Discussion view for Groups. Then back to SSO task.

[2020-09-10 05:33] jmgasper commented on #32
@atelomycterus - No worries, let's focus on SSO for now, and we'll come back to it.  I'm thinking the SSO may take awhile on the Topcoder side, thanks.

[2020-09-10 05:50] atelomycterus commented on #32
@jmgasper Thanks.
Sorry for the confusion.

When I divided the functionality into the phases:
- The functionality for managing group and members. This part is clear what should be implemented and how.
- Adding discussions / announcements to a group requires to extend existing Vanilla code.
This task required to see how to expand the functionality of Vanilla and reuse DicussionModel/DiscussionContr

[2020-09-10 15:51] atelomycterus commented on #33
@jmgasper Done. PRs : https://github.com/topcoder-platform/forums-plugins/pull/20 and https://github.com/topcoder-platform/forums/pull/34 . Dockerfile was updated becuase installing dependencies for Topcoder plugin.

### Topcoder plugin
Added 'Use Topcoder Auth Token' in the settings. if it's checked then do the next steps with the requests:
- check Authorization Header
- check a bearer token. if

[2020-09-10 17:41] atelomycterus commented on #33
@jmgasper additional notes: If  access token is verified and there are no user with Topcoder handle  we can create an user from payload data in Vanilla automatically. Let me know if it's required.

[2020-09-11 00:35] #32 closed

[2020-09-11 00:35] jmgasper commented on #32
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140774<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-11 04:03] jmgasper commented on #33
@atelomycterus - This is deployed on `https://vanilla.topcoder-dev.com`, but I'm having a hard time testing.  Can you chec there pleaes?

We will need to create the user from the payload data, but we can create a new ticket for that.

[2020-09-11 04:27] jmgasper commented on #33
@atelomycterus - I think I tracked it down to a bad config.  I'm going to get that fixed on the Topcoder side and I'll let you know what else I find.

[2020-09-11 05:32] atelomycterus commented on #33
@jmgasper My bad, I see a bug.  It must be  $AUTH0_DOMAIN = getenv('AUTH0_DOMAIN'), not getenv('$AUTH0_DOMAIN'),

You have updated source code. Thanks! Sorry about that.

I use the 'debugbar' plugin + set '$Configuration['Vanilla']['SSO']['Debug'] = TRUE;'  in config.php.

If the plugin is enabled you can see errors:
![image](https://user-images.githubusercontent.com/10196632/92866468-40a9b180-f40

[2020-09-11 06:55] jmgasper commented on #33
@atelomycterus - Ok, thanks for the info above.  I got the debugbar plugin installed in dev, and I see this.  What I'm *guessing* is that we are looking for a bearer token in the authorization header, but it looks like the token is actually in an `auth0Jwt` cookie?

![Screen_Shot_2020-09-11_at_16_53_24](https://user-images.githubusercontent.com/21790/92878418-6efeaf80-f44f-11ea-95bd-f602c55e748a.p

[2020-09-11 09:03] atelomycterus commented on #33
@jmgasper PR https://github.com/topcoder-platform/forums-plugins/pull/21  - read  a token from Cookies:

 The  'auth0Jwt' cookie is used.
[code]

I saw Auth header was added  from  topcoder-dev to connect.topcoder-dev.com:
![image](https://user-images.githubusercontent.com/10196632/92898082-60e86900-f426-11ea-8784-8cf2bad5f4b4.png)

[2020-09-11 10:03] jmgasper commented on #33
@atelomycterus - Ok, this is working better.  It's getting the token and failing on the decrypt, which is likely a configuration problem.  I'm working on that now, and I've asked how we need to support the token being passed.

[2020-09-11 10:56] atelomycterus commented on #33
@jmgasper Please apply PR- https://github.com/topcoder-platform/forums-plugins/pull/22. Thanks!
Found several issues using a token from cookies during testing locally.  The alg was 'HS256' , so I found the first issue - incorrect the issuer. It should be $AUTH0_DOMAIN = 'https://topcoder-dev.auth0.com/'; . The value of $AUTH0_DOMAIN  is hard-coded now.

Fixed: Verifying issuer in a code for any al

[2020-09-11 12:22] atelomycterus commented on #33
@jmgasper I wanted to be sure that no issues in code.
I tested locally with generated json signed by my client key and it works. So we need to set a correct value of $CLIENT_SECRET on Vanilla.topcoder-dev.com

 $AUTH0_DOMAIN = 'https://topcoder-dev.auth0.com/'; - value of 'iss;
 $AUTH0_AUDIENCE ='JFDo7HMkf0q2CkVFHojy3zHWafziprhT';  - value  of 'aud'.

![image](https://user-images.githubusercontent

[2020-09-13 01:35] jmgasper commented on #33
@atelomycterus - Thanks for that.  We're still investigating, but I'll close this out now and will reopen as we figure out further changes required.

[2020-09-13 01:35] #33 closed

[2020-09-13 01:35] jmgasper commented on #33
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141055<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-13 03:25] jmgasper opened #35 "[$40] Help with CI/CD settings"
@atelomycterus - One problem I'm having is that between deploys, the settings for plugins don't seem to be persistent.  I have to reconfigure the Topcoder plugin and re-enable things, like the roles path.

Can you help with a bit of documentation on how to set up the config.php so that these changes are more easily saved between deploys please?

[2020-09-13 03:25] jmgasper commented on #35
Contest https://www.topcoder.com/challenges/30141489 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-13 03:27] jmgasper commented on #35
Contest https://www.topcoder.com/challenges/30141489 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-13 09:50] atelomycterus commented on #35
@jmgasper  Please apply PRs - https://github.com/topcoder-platform/forums/pull/36 , https://github.com/topcoder-platform/forums-plugins/pull/23/ . Thanks!

Vanilla checks if 'config.php' exists or not.
If the file is not found, Vanilla runs Vanilla Forums Installer, generates config.php from config-defaults.php during installation.
There are hooks in Vanilla bootstrap which can be used to set sett

[2020-09-14 03:29] #35 closed

[2020-09-14 03:29] jmgasper commented on #35
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141489<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-14 03:32] jmgasper opened #37 "[$1150] Discussions and categories into groups plugin"
As discussed, implement the discussions and categories into the groups plugin, and also handle proper permission handling.

[2020-09-14 03:32] jmgasper commented on #37
Contest https://www.topcoder.com/challenges/30141546 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-14 03:32] jmgasper commented on #37
Contest https://www.topcoder.com/challenges/30141546 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-14 03:48] jmgasper commented on #37
@atelomycterus - For existing groups, and for new groups, I'm getting this error:

![Screen Shot 2020-09-14 at 13 48 28](https://user-images.githubusercontent.com/21790/93041896-043cb680-f691-11ea-8b91-d6e2bb7c9f03.png)

[2020-09-14 03:51] jmgasper commented on #37
@atelomycterus - in terms of permissions, we need to ensure that things that are secret are actually secret.  For instance, both these groups are `secret`, but an anonymous user can see them in the list.  The anonymous user also sees a `New Group` button.

![Screen_Shot_2020-09-14_at_13_50_18](https://user-images.githubusercontent.com/21790/93041990-4ebe3300-f691-11ea-8da8-06f5a77f17d5.png)

[2020-09-14 06:10] atelomycterus commented on #37
@jmgasper  I see why the error is displayed. The GroupID column is missing in the Discussion table.

I've tried to disable Groups plugin in https://vanilla.topcoder-dev.com/. Vanilla displays the 'Groups Disabled. message' but the plugin isn't disabled actually:
- if you refresh Plugins page then you see the Groups plugin is enabled, but it should be disabled
- if the plugin is disabled the all pl

[2020-09-14 06:51] jmgasper commented on #37
@atelomycterus  - I redeployed with `$Configuration['EnabledPlugins']['Groups'] = False`  It didn't seem to help

[2020-09-14 06:51] jmgasper commented on #37
I don't have SSH access to the server and I can't access the database directly.

[2020-09-14 07:04] atelomycterus commented on #37
@jmgasper  Thanks a lot! I see the plugin is enabled after deploying.   There is no way to reset the cache from UI and re-build it
I'll try to clear cache in code. In general, I need to see what is wrong with the environment.
Locally I tried to delete the column from the table, disable and enable the plugin. Everything is working.
So as not to waste your time can I commit  and merge to master bran

[2020-09-14 07:45] jmgasper commented on #37
@atelomycterus - Sure, that'd be fine.  We deploy from the `ci-test` branch.

[2020-09-14 13:16] atelomycterus commented on #37
@jmgasper I commented out the plugin in config.php and bootstrap.early.php and I enabled the plugin. It works now. Please review group screens without permissions.

### Groups
![image](https://user-images.githubusercontent.com/10196632/93088884-2fc89c80-f6a3-11ea-8fa3-ce25dd648e71.png)

![image](https://user-images.githubusercontent.com/10196632/93088940-42db6c80-f6a3-11ea-88ec-76d4445a076c.png)

[2020-09-14 14:04] atelomycterus commented on #37
@jmgasper

I wrote the requirements so that it was clear what permissions and what would be implemented. I started from the article https://success.vanillaforums.com/kb/articles/70-groups-and-events.  Please review it.  The file attached.

[GroupsPlugin-permissions.docx](https://github.com/topcoder-platform/forums/files/5218921/GroupsPlugin-permissions.docx)

[2020-09-14 14:13] atelomycterus commented on #37
@jmgasper  I think it'd better to create a simple form without search to invite to a private/secret group. So we can test the main functionality. Implement an advanced control with searching and selecting registered usernames in the next  task.

[2020-09-14 20:48] atelomycterus commented on #35
@jmgasper Fixed issues enabling/disablingplugins + plugin's settings.

Vanilla Installation
$Configuration['Garden']['Installed'] = false; in config.php

Vanilla with existing DB to skip installation
$Configuration['Garden']['Installed'] = true;

### config.php
Enabled plugins must be included in config.php.

### bootstrap.early.php
Plugins' settings +  initial core sql data (roles, categories and

[2020-09-14 20:49] atelomycterus commented on #37
@jmgasper  Fixed https://github.com/topcoder-platform/forums/issues/35#issuecomment-692305671

[2020-09-15 02:02] jmgasper commented on #37
@atelomycterus - The groups plugin is working better, thanks!

I'll check in on the params for filestack and the role api URI.

One problem I do have now is that settings for the Topcoder plugin aren't saving.  It says it's saving, and I can see the POST complete successfully, but if I open up the settings for the plugin again, the changes aren't visible.

[2020-09-15 02:03] jmgasper commented on #37
I bumped the payment on this ticket to account for the extra setup work.

[2020-09-15 02:13] jmgasper commented on #37
The env variables for FILESTACK_API_KEY and TOPCODER_PLUGIN_ROLE_API_URI are now set.

[2020-09-15 05:25] atelomycterus commented on #37
@jmgasper Thanks!

1. It seems that Vanilla is not working. https://vanilla.topcoder-dev.com/ throws 500 error and I can't see it.
Do you know what happened? What error message is? This may fail if there is an error with the DB connection.
![image](https://user-images.githubusercontent.com/10196632/93167949-6e556a00-f72a-11ea-9b1e-74f4f002714a.png)

2. Groups Permissions: You may have missed this

[2020-09-15 08:04] jmgasper commented on #37
@atelomycterus:

1.  We screwed up the config - has now been fixed, and the forums are back up and running.

2.  I'll review later tonight / tomorrow

3.  Thanks.

[2020-09-15 08:42] atelomycterus commented on #37
@jmgasper
1. Thanks for details.
2.  Thanks!
3. All values are set from our configuration.
3.a Filestack plugin works. All files are uploaded to CDN.
![image](https://user-images.githubusercontent.com/10196632/93186476-5b9d5e00-f747-11ea-8c80-ebfae9fa3114.png)
3.b Topcoder plugin's settings are ok.
![image](https://user-images.githubusercontent.com/10196632/93186947-e41bfe80-f747-11ea-82cc-b2f2fca

[2020-09-15 20:34] atelomycterus commented on #37
@jmgasper  The summary of Groups plugin's permissions:

![image](https://user-images.githubusercontent.com/10196632/93261744-cf715200-f7ab-11ea-8af3-514342b13cb2.png)

![image](https://user-images.githubusercontent.com/10196632/93261764-d730f680-f7ab-11ea-89b3-dadb1d7028c0.png)

![image](https://user-images.githubusercontent.com/10196632/93261797-e31cb880-f7ab-11ea-8de8-e634f2f0b75a.png)

[2020-09-16 07:54] jmgasper opened #38 "[$40] Cookie name and claim configurable"
@atelomycterus - There's been a lot of back-and-forth with Topcoder to get the cookie name and claim mapping set.

Currently, we're using `v3jwt` as the cookie name and the `handle` claim as the username.  Topcoder wants to be able to easily change this in the future, so can we make those two values configurable please?

[2020-09-16 07:54] jmgasper commented on #38
Contest https://www.topcoder.com/challenges/30142010 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-16 07:54] jmgasper commented on #38
Contest https://www.topcoder.com/challenges/30142010 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-16 10:40] atelomycterus commented on #38
@jmgasper Please apply two PRs:  https://github.com/topcoder-platform/forums-plugins/pull/24, https://github.com/topcoder-platform/forums/pull/39.

Implemented the main requirements + added validation rules in Topcoder plugin settings.
if we want to use email instead of handle(username), then we need to write additional code. Let me know if it's required.

![image](https://user-images.githubuserco

[2020-09-16 20:35] atelomycterus commented on #37
@jmgasper Keep you updated. Almost everything is done, it remains to do the following:
 - testing

 - Understand how  to manage with the category'permissions in Vanilla. Private/secret discussions  should be hidden on  some pages (recent discussions and so on) if you don't have permissions to see it:

![image](https://user-images.githubusercontent.com/10196632/93388324-36a60980-f873-11ea-95b4-f5cb

[2020-09-17 05:10] jmgasper opened #40 "[$75] Sign In URL configuration"
@atelomycterus - Another configuration item to add to the Topcoder plugin, with some functionality change.  The current `Sign In` button sends the user through OAuth, but we're going to not do that anymore.  Instead that Sign In button will just be a link that we'll configure in the Topcoder plugin.

From Topcoder:

We need to add any one link (lets make it configurable) either https://accounts.to

[2020-09-17 05:10] jmgasper commented on #40
Contest https://www.topcoder.com/challenges/30142148 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 05:12] jmgasper commented on #40
Contest https://www.topcoder.com/challenges/30142148 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 05:36] jmgasper commented on #37
@atelomycterus - Looks good, thanks for the update.

The permissions look good - the idea of a `Leader` isn't something we really have right now, so if there's a lot of work to implement that, we can probably leave it off for now.

[2020-09-17 05:37] jmgasper commented on #37
One issue I'm currently seeing in dev is the Filestack uploaded files still not showing on groups.  The plugin looks to be configured correctly, with an API key...

![Screen_Shot_2020-09-17_at_15_36_50](https://user-images.githubusercontent.com/21790/93424614-b5468980-f8fb-11ea-9f66-6f93c4c20ee9.png)

[2020-09-17 05:53] atelomycterus commented on #40
@jmgasper if we do not plan to use the oauth2 plugin anymore then we need to write a custom Topcoder authenticator and insert its initial settings in the UserAuthenticationProvider table.

This Topcoder authenticator class will be responsible for SignIn url and other settings.

Shall I remove Oauth2 plugin settings from bootstrap? (https://github.com/topcoder-platform/forums/blob/7a5c5bd64c0e94fb1

[2020-09-17 06:22] jmgasper commented on #40
1.  Ok, is it quite a bit of work to change the authenticator?  Just let me know if we need to increase the payment

2.  Yeah, we can remove the OAuth2 plugin, thanks.

[2020-09-17 06:22] atelomycterus commented on #37
@jmgasper
1.

 Thanks. I agree,  let's make the first working version first, then make further changes.

2.

Filestack Api key wasn't set  when I added Icon/Banner images to a group So  images were saved in the 'uploads' folder.

I re-uploaded images and now they are downloaded from Filestack CDN.
![image](https://user-images.githubusercontent.com/10196632/93426412-aabccd80-f8c4-11ea-9ac3-253fdeda

[2020-09-17 06:26] atelomycterus commented on #40
@jmgasper  I looked at the code. It doesn't look like a lot of work. Keep you updated.

[2020-09-17 22:57] #38 closed

[2020-09-17 22:58] jmgasper commented on #38
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142010<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 22:59] jmgasper opened #41 "[$100] Token refresh handling and configuration"
@atelomycterus - This is the last piece of SSO.  We have done:

* Topcoder --> Forums (https://github.com/topcoder-platform/forums/issues/33)
* Forums --> Topcoder (https://github.com/topcoder-platform/forums/issues/40)

And now we just need to handle the token refresh when it expires (this ticket)

Details are attached for the implementation for both RS256 and HS256.

If RS256 works as expected,

[2020-09-17 22:59] jmgasper commented on #41
Contest https://www.topcoder.com/challenges/30142364 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 22:59] jmgasper commented on #41
Contest https://www.topcoder.com/challenges/30142364 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 23:02] jmgasper opened #42 "[$1000] API integration for groups"
This ticket will cover the API for the groups plugin.  We need to make sure that the API supports what is going to be necessary for challenge creation / management, including:

* Secret group creation
* Adding default categories and discussions to the group when a challenge launches
* Adding members to the group when they register for a challenge
* Removing members from the group when they unregis

[2020-09-17 23:02] jmgasper commented on #42
Contest https://www.topcoder.com/challenges/30142365 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 23:04] jmgasper commented on #42
Contest https://www.topcoder.com/challenges/30142365 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 23:06] jmgasper opened #43 "[$500] Update to challenge forum processor"
This ticket will track updating the challenge forum processor to use the new groups API we're implementing in #42

The goal is that the functionality for challenge event handling will work in our dev environment.  Meaning I should be able to:

* Launch a challenge and have a secret group created with default categories and default discussions
* Register a user to a challenge and have them be able

[2020-09-17 23:06] jmgasper commented on #43
Contest https://www.topcoder.com/challenges/30142366 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-17 23:06] jmgasper commented on #43
Contest https://www.topcoder.com/challenges/30142366 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-18 07:32] atelomycterus commented on #37
@jmgasper A bit stuck with this sub-task:

**Summary**
Discussions and announcements must have a category. CategoryID is not null in the Disscussion table.
So the 'Groups' category has been created for it.

**Managing permissions for the Groups category**

Option 1. The "Groups" category has default settings. 'Discussions.View' = 1 for all users.
 a. All group discussions/announcements are display

[2020-09-18 09:48] jmgasper commented on #37
@atelomycterus - What if we just disabled `Recent Discussions` for now?  Would that get around the issue?

[2020-09-18 11:19] atelomycterus commented on #37
@jmgasper 'Recent Discussions'  is the default page, its's displayed if  we go to  http://127.0.0.1/ ,  http://127.0.0.1/discussions.

Of course we can remove from the menu, create a custom default page. I described what can be done with less efforts and how.

Precondition: The Groups Category has  'Discussions.View' = 1 for all users.

1) 'Recent Discussions'  is the default page, its's displayed

[2020-09-18 13:35] atelomycterus commented on #40
@jmgasper  Done. Please apply 2 PRs:  https://github.com/topcoder-platform/forums-plugins/pull/25 , https://github.com/topcoder-platform/forums/pull/44.

Use the 'TOPCODER_PLUGIN_SIGNIN_URL' param or a default url built. You can change it in Topcoder UI settings:

bootstrap.early.php:

![image](https://user-images.githubusercontent.com/10196632/93601150-6bc47000-f9c9-11ea-8881-73792f1a2846.png)

!

[2020-09-18 19:22] atelomycterus commented on #41
@jmgasper Done. Please apply 2 PRs: topcoder-platform/forums-plugins#25 , #44.
1. RS256 JWT + Topcoder settings:
![image](https://user-images.githubusercontent.com/10196632/93636598-e195ff00-f9fc-11ea-840e-09bfb4db77f9.png)

Iframe is created:
![image](https://user-images.githubusercontent.com/10196632/93636626-eeb2ee00-f9fc-11ea-889b-4b87b55592d7.png)

2. HS256 JWT

What cookie name should be use

[2020-09-19 04:47] jmgasper commented on #41
@atelomycterus - I'm almost 100% sure we're going to stick with RS256, so I'm going to close this out now.  If we need to re-test HS256, I'll let you know and will open up a new ticket, thanks!

[2020-09-19 04:47] #41 closed

[2020-09-19 04:47] jmgasper commented on #41
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142364<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-19 05:03] jmgasper commented on #37
Sure, let's go with that for now, thanks!

[2020-09-19 05:03] jmgasper commented on #40
@atelomycterus - Looks good.  Still testing on the Topcoder side to get it working properly.

[2020-09-19 05:04] #40 closed

[2020-09-19 05:04] jmgasper commented on #40
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142148<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-20 20:42] atelomycterus commented on #37
@jmgasper Please apply  PR:  https://github.com/topcoder-platform/forums-groups-plugin/pull/3. Thanks!

Please disable and enable the Groups plugin. It'll add custom permissions in DB.

Done

Issue: This page executes several queries. GetDiscussions works with the list of GroupIds but  GetAnnouncements method throws an sql query exception. The methods generate several nested sql queries + support

[2020-09-21 06:00] jmgasper commented on #37
@atelomycterus - Looks great, thanks!  What else is pending for this one?

[2020-09-21 06:05] atelomycterus commented on #37
@jmgasper Plan to verify it only with Vanilla installation setup. I think we can deploy and test it on https://vanilla.topcoder-dev.com/.

[2020-09-21 06:16] jmgasper commented on #37
@atelomycterus - Deploying now.

[2020-09-21 07:35] jmgasper commented on #37
@atelomycterus - The latest is deployed

[2020-09-21 15:14] atelomycterus commented on #37
@jmgasper Thanks! Please apply 2PRs. Fixed 2 issues with Vanilla Installation setup:

### Groups plugin
https://github.com/topcoder-platform/forums-groups-plugin/pull/4
Vanilla didn't insert default permissions - Fixed

_Developers notes:_
Installation setup:
- create DB schema
- enable plugins
- Upgrade db (it's done by Vanilla) and  insert data. If there are some permissions or roles then it ski

[2020-09-21 19:57] atelomycterus commented on #37
@jmgasper Included in https://github.com/topcoder-platform/forums-groups-plugin/pull/4:

 - Issue: displaying change role/remove member  buttons in UI for a member. - Fixed.

 - Implemented: public group: User (non-group member ) can see a discussion with comments.  'Leave a comment' form is displayed only for group members

[2020-09-21 21:37] jmgasper commented on #37
@atelomycterus - Thanks.  Redeploying now.

[2020-09-22 01:53] jmgasper commented on #37
@atelomycterus - I think what we have now is fine - I don't want to get too bogged down in details.  If you want to open a new ticket with known issues, we can give that to Topcoder while we focus on the API and challenge forum processor integration, which is the next "big" piece of the puzzle.  I just want to make sure we get that done by the end of the month, thanks!

[2020-09-22 01:54] #37 closed

[2020-09-22 01:54] jmgasper commented on #37
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141546<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-22 04:42] atelomycterus commented on #37
@jmgasper I understood. I'll move on to the next task. Thanks!

[2020-09-22 20:37] atelomycterus commented on #42
@jmgasper The current status:
 - Implemented and tested from Admin Dashboard.
 - Updated the challenge processor (https://github.com/topcoder-platform/forums/issues/43 ) but not tested yet.

Both tickets will be ready for your review tomorrow.

[2020-09-22 22:53] jmgasper commented on #42
Great, thanks for the update!  I've let Topcoder know as well.

[2020-09-23 10:49] atelomycterus commented on #42
@jmgasper  Please apply 3PRs:

https://github.com/topcoder-platform/challenge-forum-processor/pull/27
https://github.com/topcoder-platform/forums-groups-plugin/pull/5
https://github.com/topcoder-platform/forums/pull/45

The Swagger file is located in 'openapi'
https://github.com/topcoder-platform/forums-groups-plugin/tree/issues-42/openapi

Basic testing of API can be done on http://127.0.0.1/sett

[2020-09-23 11:08] jmgasper commented on #42
@atelomycterus - Thanks, deploying now.  I'll be testing this more tomorrow.

[2020-09-23 11:10] atelomycterus commented on #43
@jmgasper After apply 3PRs from https://github.com/topcoder-platform/forums/issues/42 challenge-forum-processor output using  sample-data:

![image](https://user-images.githubusercontent.com/10196632/94003406-d992e200-fda3-11ea-8f3f-b11a1df3bebc.png)

The challenge link is displayed
![image](https://user-images.githubusercontent.com/10196632/94003676-3d1d0f80-fda4-11ea-89ff-d46fc2dc77fc.png)

Test

[2020-09-24 07:12] jmgasper commented on #43
Ok, thanks.  I've deployed and will test either later tonight my time or first thing tomorrow morning.

[2020-09-25 01:21] jmgasper opened #46 "[$150] SSO and plugin issues"
@atelomycterus - I got some further clarification on a few things, and we're testing a bit further:

### Issue 1

The secret for decoding the HS256 JWT is separate from the Auth0 secret, so we added a new `TOPCODER_HS256_SECRET` env variable and should be using that in the plugin.  Unfortunately, it's still not decoding properly for me.  I have currently turned off the JWT verification, just for t

[2020-09-25 01:21] jmgasper commented on #46
Contest https://www.topcoder.com/challenges/30143563 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 04:16] jmgasper commented on #46
Contest https://www.topcoder.com/challenges/30143563 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 04:17] jmgasper opened #47 "[$40] Configurable sign-out URL"
The sign out URL in the menu needs to be configurable in the Topcoder plugin.  The default for dev will be:

https://accounts-auth0.topcoder-dev.com/?logout=true&retUrl=https://vanilla.topcoder-dev.com/

[2020-09-25 04:17] jmgasper commented on #47
Contest https://www.topcoder.com/challenges/30143567 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 04:17] jmgasper commented on #47
Contest https://www.topcoder.com/challenges/30143567 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 05:38] jmgasper commented on #43
@atelomycterus - Just a testing update here - I'm trying to use the Topcoder dev environment, but it's a bit flaky at the moment with challenge creation.  Hopefully it will be fixed so I can test over the weekend.

[2020-09-25 05:40] jmgasper commented on #43
@atelomycterus - One more question - is the config the same as it was previously?  Nothing's changed there?

[2020-09-25 12:30] atelomycterus commented on #43
@jmgasper No changes in any config.php.  The type of challengeID column was changed from int  to varchar(36) in  groups plugin but it was done in the first PR.  I tested Group API now on https://vanilla.topcoder-dev.com/ and a group was created.

No issues with updated table:
![image](https://user-images.githubusercontent.com/10196632/94265623-8ce50d80-ff41-11ea-8a78-4b58767b6316.png)

### Testing

[2020-09-28 03:08] jmgasper commented on #47
@atelomycterus - Any update on this one?  I just want to make sure we close this by the end of the month, thanks.

[2020-09-28 03:08] jmgasper commented on #46
@atelomycterus - Any update on this one?  I just want to make sure we close this by the end of the month, thanks.

[2020-09-28 04:27] jmgasper commented on #43
@atelomycterus - Thanks.  I've been dealing with the Topcoder platform to get everything configured and wired up.  One thing I can't seem to do is generate the token on our dev server - Any idea what I should do to fix this?

![Screen_Shot_2020-09-28_at_14_26_21](https://user-images.githubusercontent.com/21790/94390698-b64aa700-0196-11eb-890c-1e88e29e8afc.png)

[2020-09-28 04:43] atelomycterus commented on #47
@jmgasper Plan to fix it today. Thanks!

[2020-09-28 04:43] atelomycterus commented on #46
@jmgasper Plan to fix it today. Thanks!

[2020-09-28 04:55] atelomycterus commented on #43
@jmgasper I created it, no issues.
![image](https://user-images.githubusercontent.com/10196632/94391682-d1012980-015e-11eb-8a81-8e1d76b7009d.png)

On your screen - 403 error is Forbidden. Could you delete all cookies ( including Vanilla ones) manually and sign in again?

![image](https://user-images.githubusercontent.com/10196632/94391935-8338f100-015f-11eb-868d-bcf771012294.png)

Now if I click

[2020-09-28 05:00] jmgasper opened #48 "[$75] Can't change theme in dev"
Due to the CSRF issue, I'd like to be able to change the theme in dev to test if that helps get around it.  Unfortunately, changing the theme doesn't currently work in dev.  We can press `Apply` to something like the `Keystone` thing, but nothing happens, and the Topcoder Theme remains the selected option.

![Screen Shot 2020-09-28 at 14 59 33](https://user-images.githubusercontent.com/21790/94392

[2020-09-28 05:00] jmgasper commented on #48
Contest https://www.topcoder.com/challenges/30143756 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-28 05:05] jmgasper commented on #48
Contest https://www.topcoder.com/challenges/30143756 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-28 05:05] jmgasper commented on #43
@atelomycterus - Yeah, I tried in an incognito window and saw the same error.

Based on what I found Googling the issue, it seems like it's theme related.  I tried to change the theme and ran into issues there as well.  🤦

Logged new issue:  https://github.com/topcoder-platform/forums/issues/48

[2020-09-28 07:25] atelomycterus commented on #47
@jmgasper Please apply 2PRs:
https://github.com/topcoder-platform/forums-plugins/pull/28
https://github.com/topcoder-platform/forums/pull/49
Thanks!

SignOut Url:
![image](https://user-images.githubusercontent.com/10196632/94402518-d5d0d800-0174-11eb-829b-061cb03b65c2.png)

[2020-09-28 07:41] atelomycterus commented on #48
@jmgasper  Fixed in PR https://github.com/topcoder-platform/forums/pull/49:

Changed to Keystone:
![image](https://user-images.githubusercontent.com/10196632/94403926-d4081400-0176-11eb-8f27-b0ea8fd36c93.png)

Theme updated

![image](https://user-images.githubusercontent.com/10196632/94403954-e2563000-0176-11eb-8b50-4c7f275fa35d.png)

[2020-09-28 07:57] atelomycterus commented on #43
@jmgasper Please check if you can create Token after applying https://github.com/topcoder-platform/forums-plugins/pull/28
Please Log out/Log in. The Vanilla session will be created with setIdentity = true. It means Transient Key will be set:

[code]

#48 - Fixed. It was another issue.  Please create a new ticket if you have any issues with adding Tokens.

[2020-09-28 14:46] atelomycterus opened #50 "[$50] Filestack plugin throws "Fatal Error in PHP.GuzzleHttp\choose_handler();" due to Guzzle Version Conflicts with two composer autoloader"
Topcoder plugin and Filestack plugin depend on guzzleHttp libs.
Filestack plugin throws a fatal error when trying to get an array of keys from the JWKS in Topcoder plugin.
Filestack plugin is disabled now.

[code]
![image](https://user-images.githubusercontent.com/10196632/94446905-e5224680-01b1-11eb-8e57-4886433d9af4.png)

[2020-09-28 14:49] atelomycterus commented on #46
@jmgasper Please apply PRs. Thanks

**Issue 1 - NOT FIXED, no access to the topcoder-dev.com**
I couldn't access to topcoder-dev,com from today . I got the error. I'll write to a support team.
Could send me an example of token ?
![image](https://user-images.githubusercontent.com/10196632/94443007-4eec2180-01ad-11eb-905d-b117ac9274c9.png)

**Issue 2 - FIXED**

a. Found 'VALID_ISSUERS' env param in

[2020-09-28 19:29] atelomycterus commented on #50
@jmgasper Fixed Guzzle Version Conflicts with two composer autoloader.

**Developer Notes**
Filestack doesn't support Guzzle 7.0.
Topcoder plugin and Filestack plugins uses Guzzle ^6.2.

Added cache handler with expiration (24 hours, the same settings in https://github.com/appirio-tech/tc-core-library-js/blob/master/lib/auth/verifier.js#L25-L49).

[2020-09-28 20:51] atelomycterus commented on #46
@jmgasper
**Issue 3**
I see why it happens. Dashboard use ajax to show popup notifications (Enable/disable plugins and other messages).  It send request to https://vanilla.topcoder-dev.com/notifications/inform. It returns 502 because  your session is invalid/doesn't exist. The session  is invalid/doesn't exist  because the bearer token isn't verified ('Invalid Issuer').

![image](https://user-imag

[2020-09-28 21:19] jmgasper commented on #50
Contest https://www.topcoder.com/challenges/30143997 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-28 21:20] jmgasper commented on #50
Contest https://www.topcoder.com/challenges/30143997 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-28 21:21] jmgasper commented on #46
@atelomycterus - Thanks for those reports - I'll dig into this today.  For the token expiration, let's redirect to the signin URL, thanks.

[2020-09-28 21:22] #42 closed

[2020-09-28 21:22] jmgasper commented on #42
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142365<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:11] #50 closed

[2020-09-29 01:11] #47 closed

[2020-09-29 01:11] jmgasper commented on #47
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143567<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:11] jmgasper commented on #50
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143997<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:13] jmgasper commented on #46
@atelomycterus - In dev, you can generate an HS256 token by logging in at `https://challenges.topcoder-dev.com`.  That app still uses the old login flow.

Example v3jwt:

[code]

[2020-09-29 01:14] jmgasper commented on #43
Still need to test a bit further, but closing this so that we get it in before the end of the month.

[2020-09-29 01:14] #43 closed

[2020-09-29 01:14] jmgasper commented on #43
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142366<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:15] jmgasper commented on #46
@atelomycterus - For the 502 gateway error, this seems to be related to the DebugBar?  If I have that turned off, it seems to work better.  If that's your experience as well, we can just ignore it for now.

[2020-09-29 01:15] #48 closed

[2020-09-29 01:16] jmgasper commented on #48
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143756<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:18] jmgasper opened #51 "[$300] Update the challenge object after forum created in processor"
After we've created the group / forum for a challenge, we need to update the challenge object to contain a reference *back* to the forum created:

So you should be able to POST/PUT/PATCH with the challenge object as laid out in this git issue:
https://github.com/topcoder-platform/challenge-api/issues/290

More information on the format is here:  https://github.com/topcoder-platform/challenge-api/i

[2020-09-29 01:18] jmgasper commented on #51
Contest https://www.topcoder.com/challenges/30144037 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:18] jmgasper commented on #51
Contest https://www.topcoder.com/challenges/30144037 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:31] jmgasper opened #52 "[$50] Remove options from profile"
@atelomycterus - We don't need the `Edit Profile` or `Set A Password` options in Vanilla anymore.  Those will be handled on the Topcoder site instead.

![Screen Shot 2020-09-29 at 11 29 41](https://user-images.githubusercontent.com/21790/94502297-32042c80-0247-11eb-81b2-758e95a9ec3a.png)

![Screen Shot 2020-09-29 at 11 29 47](https://user-images.githubusercontent.com/21790/94502305-34668680-0247-1

[2020-09-29 01:31] jmgasper commented on #52
Contest https://www.topcoder.com/challenges/30144040 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 01:31] jmgasper commented on #52
Contest https://www.topcoder.com/challenges/30144040 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 11:00] atelomycterus commented on #46
@jmgasper Thanks! Please apply PRs:
https://github.com/topcoder-platform/forums-plugins/pull/29
https://github.com/topcoder-platform/forums/pull/53

### Issue 1 & Issue 2 - FIXED
It works for HS256/RS256.

**Changes**
_HS256_
[code]

_RS256_
[code]

Username claims are configured in Topcoder settings:
![image](https://user-images.githubusercontent.com/10196632/94547947-a72c2d80-0258-11eb-8811-cae2

[2020-09-29 19:31] atelomycterus commented on #46
@jmgasper  Next changes:

### Issue 3 - FIXED

I implemented a simple error page + handled events (AfterSigIn, BadSigIn with token errors). So now if there are any issues , the page is displayed with a message.

![image](https://user-images.githubusercontent.com/10196632/94605848-53decd00-02a2-11eb-94c8-ea549fc3f948.png)

The page shows messages that are displayed in the debugBar while we are in t

[2020-09-29 22:37] jmgasper opened #54 "[$150] Challenge forum processor debugging"
@atelomycterus - I have got this configured and deployed in dev, and it's finally tied into everything.  I'm seeing a few issues

## Sample challenge create message

[code]

## Issue 1

The group ID isn't coming back properly.  From the logs:

`2020-09-29T22:25:40.223Z [info]: The group with GroupID='undefined' for the challenge 'b842a03b-ab00-4c19-a171-27ac3b74faeb' is created`

## Issue 2

I see

[2020-09-29 22:37] jmgasper commented on #54
Contest https://www.topcoder.com/challenges/30144201 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 22:44] jmgasper commented on #46
@atelomycterus - Thanks, redeploying now for testing.

For the priority, can we please make #54 top priority please?  I just want to make sure I can create a challenge and see the appropriate group / categories created, thanks.

[2020-09-29 22:45] jmgasper commented on #46
I've also messaged TC to see if we can get the access problem figured out.

[2020-09-29 22:51] jmgasper commented on #46
@atelomycterus - Can you access topcoder-dev.com off of your VPN or in an incognito window?

[2020-09-29 22:52] jmgasper commented on #54
Contest https://www.topcoder.com/challenges/30144201 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-29 23:01] jmgasper commented on #46
@atelomycterus - Also, I've been recommend to make sure you're accessing those sites over https://

[2020-09-29 23:12] #46 closed

[2020-09-29 23:12] jmgasper commented on #46
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143563<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-30 04:33] atelomycterus commented on #46
@jmgasper Thanks! I can access to https://topcoder-dev.com.

Yes, sure.

[2020-09-30 08:25] atelomycterus commented on #54
@jmgasper Fixed. Thanks for your email. It helps to understand where the bug was.  Please apply PRs:

https://github.com/topcoder-platform/challenge-forum-processor/pull/29
https://github.com/topcoder-platform/forums-plugins/pull/30
https://github.com/topcoder-platform/forums-groups-plugin/pull/7

### Issue 1 - FIXED

Access token for /api should be validated by Vanilla, not Topcoder plugin.

###

[2020-09-30 13:43] atelomycterus commented on #52
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/11
https://github.com/topcoder-platform/forums-plugins/pull/30

Thanks!

### Changes
Edit Profile - The link was removed from any dropdown profile options, the main menu and the left nav menu.
Set a password/ Change My Password - removed from the left nav menu

Vanilla profile endpoints: /profile/edit, /profile/pass

[2020-10-01 07:54] jmgasper commented on #52
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-01 09:19] jmgasper commented on #54
@atelomycterus - I'm still seeing issues in the dev environment:

`2020-10-01T09:18:03.315Z [debug]: Message from challenge.notification.create: [{"id":"19a0c3cb-02b7-4f0a-a458-d3f202811a97","created":"2020-10-01T09:18:02.989Z","createdBy":"TonyJ","updated":"2020-10-01T09:18:02.989Z","updatedBy":"TonyJ","status":"New","projectId":16604,"name":"Justin Forum Test 10","typeId":"927abff4-7af9-4145-8ba

[2020-10-01 09:19] jmgasper commented on #54
I'm checking with Topcoder as well to make sure the deployment is working properly.

[2020-10-01 10:52] atelomycterus commented on #54
@jmgasper
The group with GroupID='undefined'  because  Vanilla responses with error html page.
I fixed it yesterday (https://github.com/topcoder-platform/forums-plugins/commit/ccf37803eebee96be34d6d641f4d6c75378fdcfb#diff-2e35cd35eec28b023b87f4e9949e45e6).
Topcoder plugin ignores /api endpoints. Vanilla checks access_token for /api.

I'll re-test it on vanilla.topcoder-dev.com

 https://github.com

[2020-10-01 11:35] atelomycterus commented on #54
@jmgasper I see the issue in vanilla.topcoder-dev. com.
[code]
Vanilla returns a list of groups but it should be one group added.

/Api works fine. If not Topcoder token , we can use /api  with Vanilla token:
https://vanilla.topcoder-dev.com/api/v2/groups?access_token=XXXX
![image](https://user-images.githubusercontent.com/10196632/94804064-e8584500-03f2-11eb-90ad-bff3d59574a0.png)

[2020-10-01 13:59] atelomycterus commented on #54
@jmgasper Please check your default.js (challenge-forum-processor/config/default.js). It should be 'https', not 'http'
API_URL: process.env.VANILLA_API_URL || "https://vanilla.topcoder-dev.com/api/v2",

I tested  it and  it works.
![image](https://user-images.githubusercontent.com/10196632/94817908-31fe5b00-0406-11eb-82dc-8bf24e615bab.png)

[2020-10-01 23:53] jmgasper commented on #54
@atelomycterus - Thanks.  I'm working with Topcoder to validate to make sure it's set up correctly in the dev environment.

[2020-10-02 01:15] jmgasper commented on #54
@atelomycterus - That was the issue, thanks!  Updated that and everything's working.

[2020-10-02 01:45] jmgasper opened #56 "[$40] Remove default debug page"
@atelomycterus - We're good to go with SSO now, so we can remove the default debug page for the token we added and go back to the normal "public" list of Vanilla, for a non-logged in user, thanks!

![Screen Shot 2020-10-02 at 11 44 33](https://user-images.githubusercontent.com/21790/94879837-c61eff80-04a4-11eb-94e7-ca0acb18fbd4.png)

[2020-10-02 01:45] jmgasper commented on #56
Contest https://www.topcoder.com/challenges/30144382 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-02 01:45] jmgasper commented on #56
Contest https://www.topcoder.com/challenges/30144382 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-02 01:50] jmgasper opened #57 "[$200] Create vanilla account for any unknown user"
@atelomycterus - One thing we need to add is the ability to create a Vanilla account for any unknown users.  This applies to:

* Challenge forum processor messages for registration with an unknown user
* Login requests for a new user from the Vanilla site
* Any other areas that make sense

![Screen Shot 2020-10-02 at 11 48 53](https://user-images.githubusercontent.com/21790/94880094-6412ca00-04a5-

[2020-10-02 01:50] jmgasper commented on #57
Contest https://www.topcoder.com/challenges/30144383 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-02 01:50] jmgasper commented on #57
Contest https://www.topcoder.com/challenges/30144383 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-02 05:56] atelomycterus commented on #57
@jmgasper What about  the 'register' link? Should we redirect User to the same url which is used for 'Sign in' link?

Now it displays the registration form:
![image](https://user-images.githubusercontent.com/10196632/94892170-a67bdd00-048c-11eb-9be4-4af91edbdc3c.png)

[2020-10-02 06:12] jmgasper commented on #57
@atelomycterus - Can we just redirect to the Topcoder sign up page?  https://www.topcoder-dev.com/user-selection/

[2020-10-02 06:13] atelomycterus commented on #57
@jmgasper Yes, sure.

[2020-10-02 12:25] atelomycterus commented on #51
@jmgasper Not quite everything is clear. Example:
[code]

1. For a discussion with type='challenge':
 We create all vanilla entities (a group and so on.). Need to implement

It's clear, no questions.

 2. Challenge without 'discussions'. 'discussions' is not required in the challenge schema.
 Should we create a group only in Vanilla?
![image](https://user-images.githubusercontent.com/10196632/9492

[2020-10-02 16:06] atelomycterus commented on #51
@jmgasper  Don't have permissions to patch a challenge. Could you please ask Topcoder team to grant permissions?

![image](https://user-images.githubusercontent.com/10196632/94944249-a2c67580-04e1-11eb-8123-cdbc86aeb8a3.png)

[2020-10-02 20:07] atelomycterus commented on #56
@jmgasper Please apply PR: https://github.com/topcoder-platform/forums-plugins/pull/32 . Thanks!

[2020-10-02 20:28] atelomycterus commented on #57
@jmgasper
- Implemented in challenge forum processor, but I'll push the code with https://github.com/topcoder-platform/forums/issues/51 after testing.
- Implemented in Topcoder plugin
https://github.com/topcoder-platform/forums/pull/59
https://github.com/topcoder-platform/forums-plugins/pull/32

### New user
Vanilla User Required fields: email, name, password and roles:
`name` -  Username's claim

[2020-10-03 06:20] jmgasper commented on #51
If we don't get a `discussions` object, we won't do anything.  We don't need to create a group in that case.

Yes, I think that makes sense

I've asked Topcoder

Yep, but if you run into any issues, let me know and I'll log things so we track them, thanks!

[2020-10-03 06:28] jmgasper commented on #57
Thanks - I've deployed this, and it seems fine.

[2020-10-03 20:08] atelomycterus commented on #51
@jmgasper  Please apply PRs: https://github.com/topcoder-platform/challenge-forum-processor/pull/31

### Assumption
Implemented for 'one object with type='challenge' and provider='vanilla'
We will wait for a response from Topcoder team if we need support for multiple objects.
if yes then new questions arise. Should we create one group for all discussion objects or not?

### Testing
I pushed the co

[2020-10-03 20:12] atelomycterus commented on #57
@jmgasper

Implemented in https://github.com/topcoder-platform/challenge-forum-processor/pull/31

[2020-10-03 23:07] jmgasper commented on #51
@atelomycterus - The scopes have been updated to:

`"scope": "all:challenges read:challenges write:challenges write:groups read:groups read:project read:user_profiles read:project-user read:resources read:terms read:project-members read:group",`

[2020-10-04 18:21] atelomycterus commented on #51
@jmgasper It isn't working.  Got 'Not allowed to perfom this action!' for Put/Patch methods.

 Vanilla config:
![image](https://user-images.githubusercontent.com/10196632/95023550-5cf6e200-0686-11eb-8836-272587743b70.png)

I tested with a generated token
![image](https://user-images.githubusercontent.com/10196632/95023732-48671980-0687-11eb-840a-f06ac2ac9657.png)

Postman results with this token:

[2020-10-04 21:20] jmgasper commented on #51
@rootelement ☝️ Any thoughts?

[2020-10-04 21:27] jmgasper commented on #51
@atelomycterus - I'm discussing with TC admins.  Sorry for the trouble.

[2020-10-04 21:51] jmgasper commented on #51
@ThomasKranitsas - Any thoughts on why the PUT might fail?

[2020-10-05 13:38] ThomasKranitsas commented on #51
@jmgasper  The API works fine. Your token is probably invalid (missing scopes). Please check here:
<img width="1109" alt="Screenshot 2020-10-05 at 4 37 30 PM" src="https://user-images.githubusercontent.com/4612921/95086395-1f976080-0729-11eb-8b0e-ee539d443654.png">

[2020-10-05 23:17] jmgasper commented on #51
@atelomycterus - Can you provide a full copy / paste of the payload being sent in the PUT please?

[2020-10-06 05:50] atelomycterus commented on #51
@jmgasper I can send 'Patch'/'Put' requests but I see some issues:

### PUT
My changes:
[code]

The full payload:
[code]
The result:
- Description was updated
- Discussions were missing in the response.
- 'Get' responds with 'discussions' but without my changes.

![image](https://user-images.githubusercontent.com/10196632/95162987-9aa35a00-07af-11eb-8358-b381bc818311.png)

![image](https://user-im

[2020-10-06 06:21] jmgasper commented on #51
@rootelement ☝️

[2020-10-06 10:40] ThomasKranitsas commented on #51
I see the PR for supporting forum/discussions is not yet merged https://github.com/topcoder-platform/challenge-api/pull/309 which means you can't test it yet

[2020-10-06 20:41] #52 closed

[2020-10-06 20:42] jmgasper commented on #52
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144040<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 20:42] #54 closed

[2020-10-06 20:42] jmgasper commented on #54
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144201<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 20:42] #56 closed

[2020-10-06 20:42] jmgasper commented on #56
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144382<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 20:42] #57 closed

[2020-10-06 20:42] jmgasper commented on #57
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144383<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 23:03] jmgasper commented on #51
@atelomycterus - We made some additional tweaks, and this _should_ be working now (at least it did in my testing using the payload above).  Can you validate please?

[2020-10-07 07:37] atelomycterus commented on #51
@jmgasper Thanks! Please apply PR: https://github.com/topcoder-platform/challenge-forum-processor/pull/32.

### Testing
You should see output
![image](https://user-images.githubusercontent.com/10196632/95300952-97c86800-0888-11eb-9e50-218b1704db38.png)

![image](https://user-images.githubusercontent.com/10196632/95301041-b75f9080-0888-11eb-86b1-209ea8b0588a.png)

### Notes
It throws 403 Error if '

[2020-10-07 22:16] #51 closed

[2020-10-07 22:16] jmgasper commented on #51
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144037<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-11 21:02] jmgasper opened #60 "[$300] Roles setup for attachments"
@atelomycterus - One thing we have to check is if we can appropriately handle roles from Topcoder in Vanilla, and have them match up.

For instance, when a user logs in, we should pull their roles from the JWT and ensure those roles are added as available roles in Vanilla, if they aren't already roles in Vanilla.  This way we can easily approach permissions using the roles already set up on the To

[2020-10-11 21:02] jmgasper commented on #60
Contest https://www.topcoder.com/challenges/30145275 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-11 21:02] jmgasper commented on #60
Contest https://www.topcoder.com/challenges/30145275 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-12 16:03] atelomycterus commented on #60
@jmgasper  Some questions:

1. 'Garden.Uploads.Add' permission

Regular members will not be able to attach files to posts
Copilots will be able to attach files to posts

The 'Garden.Uploads.Add' permission - upload images/attachments
![image](https://user-images.githubusercontent.com/10196632/95763148-5801e600-0cb7-11eb-8d66-2ad7086b270d.png)

Role without The 'Garden.Uploads.Add' permission:
![im

[2020-10-12 23:24] jmgasper commented on #60
1.  Ok, that should work.  Just want to make sure we test it with our updated upload plugin.

2.  GET `https://api.topcoder-dev.com/v3/roles`.  Just make sure to set the `Authorization` header with the M2M token.  We need to have scope `read:roles`, but I think our key / secret we're using does.  Let me know if you run into trouble.  The roles are a mess for reasons you've already found.  I've tri

[2020-10-13 05:37] jmgasper opened #61 "[$150] Groups access"
@atelomycterus - We've integrated in the forums link to the community app.  Here's an example challenge listing:

https://qa-community-app.topcoder-dev.com/challenges/818ba2b2-d6c7-4c6b-a1db-63bad8dd457d

The link `Justin Test 31 Discussion` will link to Vanilla.

One thing I notice is that, with a non-logged in session, I can still see the categories and drill into the discussions (but I can't ac

[2020-10-13 05:37] jmgasper commented on #61
Contest https://www.topcoder.com/challenges/30145427 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-13 05:37] jmgasper commented on #61
Contest https://www.topcoder.com/challenges/30145427 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-13 15:27] atelomycterus commented on #60
@jmgasper  Please  apply PRs:
https://github.com/topcoder-platform/forums/pull/62
https://github.com/topcoder-platform/forums-plugins/pull/33

### Notes

I managed it. All Topcoder Roles are synchronized.

Vanilla has several role types (member, administrator, guest and others). Each role has a role type.  I added a new role type named 'topcoder'. All Topcoder roles have 'topcoder' role type.
So w

[2020-10-13 20:44] atelomycterus commented on #60
@jmgasper Please apply PR for a challenge forum processor:
https://github.com/topcoder-platform/challenge-forum-processor/pull/34
- Missing Topcoder roles will be added automatically in Vanilla
- Topcoder roles for an user are synced when user is added to a group /removed from a group

[2020-10-13 20:51] jmgasper commented on #60
@atelomycterus - Looks good from the screenshots, thanks!  I'll be testing this today.

[2020-10-13 21:09] atelomycterus commented on #61
@jmgasper  I see.
Solution: add custom permissions for categories when a group is created.  I configured it manually on my local env and tested it. It works.  I'll update challenge forum processor tomorrow to meet this requirements.
![image](https://user-images.githubusercontent.com/10196632/95915987-ae068480-0db0-11eb-84d4-f7dbaef279a8.png)

[2020-10-13 21:56] jmgasper commented on #61
@atelomycterus - Ok, that should work.

[2020-10-13 22:01] jmgasper commented on #60
@atelomycterus - Deployed in dev, but now login isn't working properly.  We go through the login flow, but the user doesn't appear logged in in the UI.  Any ideas?

[2020-10-13 22:01] jmgasper commented on #60
![Screen Shot 2020-10-14 at 09 01 16](https://user-images.githubusercontent.com/21790/95920798-d23b8300-0dfb-11eb-95ca-99564e1dc195.png)

[2020-10-14 05:00] atelomycterus commented on #60
@jmgasper

topcoder-platform/forums-plugins#33 has not been merged.

[2020-10-14 05:02] jmgasper commented on #60
@atelomycterus - Done now, sorry about that.  🤦

[2020-10-14 05:08] atelomycterus commented on #60
@jmgasper there is a space in a list of issuers. For quick fix you can  update VALID ISSUERS. I'll update a code and remove spaces.
![image](https://user-images.githubusercontent.com/10196632/95945773-e085a100-0df3-11eb-91af-a1ef55cbe66a.png)

[2020-10-14 05:25] atelomycterus commented on #60
@jmgasper Updated. Now spaces are removed automatically. Please apply PR https://github.com/topcoder-platform/forums/pull/63

[2020-10-14 05:32] jmgasper opened #64 "[$40] Debug login issue"
As discussed in #60

[2020-10-14 05:32] jmgasper commented on #64
Contest https://www.topcoder.com/challenges/30145554 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-14 05:32] jmgasper commented on #64
Contest https://www.topcoder.com/challenges/30145554 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-14 05:40] atelomycterus commented on #64
@jmgasper Fixed - https://github.com/topcoder-platform/forums/issues/60#issuecomment-708164707

[2020-10-14 05:52] #64 closed

[2020-10-14 05:53] jmgasper commented on #64
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145554<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-14 05:59] #60 closed

[2020-10-14 05:59] jmgasper commented on #60
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145275<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-14 06:30] atelomycterus commented on #61
@jmgasper Vanilla REST API doesn't support adding a category with custom permissions or patching a category.
The current REST API  has only 'customPermissions' flag but  custom permissions can be configured from UI only.

So we need to do extra work.

Adding a category:
![image](https://user-images.githubusercontent.com/10196632/95951780-ae7a3c00-0dff-11eb-833d-a5fa0a8256c2.png)

Patching a catego

[2020-10-14 06:33] jmgasper commented on #61
@atelomycterus - Will we have to add a category for every new group?  That may be unsustainable due to the sheer number of challenges we'll be launching.

[2020-10-14 08:05] atelomycterus commented on #61
@jmgasper

No extra work, we can patch a role (/roles/{id})  and set no view for guests:
[code]

CategoryID is not null in the Discussion table.  Without using a category, it is not possible to build a hierarchy like 'Challenges Forums//Development Forums//My Challenge Forum Discussion'.

![image](https://user-images.githubusercontent.com/10196632/95952796-6f4cea80-0e01-11eb-8295-1a43a7d31d5c.png)

[2020-10-14 11:00] jmgasper commented on #61
@atelomycterus - Ok, that makes sense, thanks.  I was a bit confused with what we used to do before the groups plugin, but this makes sense.  We're definitely going to test this extensively before prod deployment, but that QA effort is going to start soon (hopefully this week).

[2020-10-14 14:21] atelomycterus commented on #61
@jmgasper I am thinking about performance in Vanilla. I have looked at Vanilla source code and adding custom permissions is also not a good solution, since we need to update some roles (member, administrator..) and add several permissions to a specific category so that guests cannot see categories and their contents.

If there is a large number of challenges, then the number of custom permissions

[2020-10-14 21:20] jmgasper opened #65 "Investigate Latex"
@rootelement  - I heard Latex mentioned in the copilot video.  Do we want to investigate supporting it?  There is an existing plugin, but it's old.  Might be a good starting point though.  The plugin isn't very complex:

https://open.vanillaforums.com/addon/latex-plugin

[2020-10-14 21:21] jmgasper opened #66 "Activity link"
@rootelement  - https://vanilla.topcoder-dev.com/activity doesn't do anything.  Should we remove it?  Add in something that would be useful to members?

[2020-10-14 21:22] jmgasper commented on #66
![Screen_Shot_2020-10-15_at_08_22_36](https://user-images.githubusercontent.com/21790/96046698-9cf86900-0ebf-11eb-9c32-c63afb4603e7.png)

[2020-10-14 22:41] jmgasper opened #67 "[$500] Investigate SumoLogic plugin"
@atelomycterus - Topcoder is asking us to investigate the development of a new plugin for pushing logs to SumoLogic:

https://github.com/SumoLogic/js-sumo-logger

From Topcoder:

We need to explore options to pipe information over to sumologic, including the body of the request, so staff can keep an eye on “nefarious activity”.  They basically want the “apache error and activity logs” piped to sum

[2020-10-14 22:41] jmgasper commented on #67
Contest https://www.topcoder.com/challenges/30145710 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-14 22:41] jmgasper commented on #67
Contest https://www.topcoder.com/challenges/30145710 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-15 01:35] jmgasper commented on #61
@rootelement - Can you take a look above and let me know what you think please?  How much do we want to show / hide guest / anonymous users?

[2020-10-15 15:40] rootelement commented on #61
I'm confused, but let me put a statement here, then I'll continue to work through it.

The vanilla installation that we're working on now is for challenge discussions. Nobody (but admins) should be able to see a challenge forum's contents unless they're registered on a challenge. If that means we have to shut everything off by default, and you don't see anything on the forum unless you're register

[2020-10-15 16:03] rootelement commented on #65
Not for v1 release. But it on the backlog. It was just Sergey asking. Not sure how important this is.

[2020-10-15 20:38] atelomycterus commented on #67
@jmgasper Let me know where I should push Sumo logic plugin code.

### Sumo Logic plugin
Need to create a new Hosted Collector or add a new HTTP source to an existing Hosted Collector in your Sumo Logic account.

**Settings**
 - Http Source Url  - generated Url from your Sumo Logic account
 - Batch Size - sending will be triggered when count of the pending logs (requests) is more or equal to batch

[2020-10-15 20:53] atelomycterus commented on #61
@jmgasper @rootelement Thanks for details!
This can be done with category permissions. I'll configure permissions to meet these requirements.

[2020-10-15 22:40] jmgasper commented on #67
@atelomycterus - Ok, thanks.  This all looks fine - can you attach the code here please?  Once we have that, we'll close this out.  It sounds like Topcoder may want to go in a different direction with this, so we'll grab the SumoLogic code as-is, but we'll likely be working on *another* plugin for something else soon :)

[2020-10-15 23:44] jmgasper commented on #67
@atelomycterus - You should have write access now to https://github.com/topcoder-platform/forums-sumologic-plugin/

[2020-10-16 10:02] atelomycterus commented on #67
@jmgasper Thanks!

Please apply PR - https://github.com/topcoder-platform/forums/pull/68.
This PR adds Sumologic plugin into a docker and enables it.

Please set  a HTTP Source URL in bootsrap.early.php after applying PR:
[code]

### Sumo Logic settings
Follow Readme.md to configure a HTTP Source URL:
https://github.com/topcoder-platform/forums-sumologic-plugin/blob/master/README.MD

Let me know i

[2020-10-16 12:39] atelomycterus commented on #61
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-plugins/pull/34
https://github.com/topcoder-platform/forums-groups-plugin/pull/9

### Testing

Disable/Enable Topcoder plugin after deploying. It'll update permissions for Guest role.

### Changes
**_Topcoder plugin_**
Challenge discussions are not available for guests/anonymous

**_Groups plugin_**
'Groups' - the link is not

[2020-10-16 18:01] #67 closed

[2020-10-16 18:01] jmgasper commented on #67
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145710<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-17 01:14] #61 closed

[2020-10-17 01:14] jmgasper commented on #61
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30145427<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-23 08:16] jmgasper opened #69 "[$75] Add excerpt of post to notification email"
@atelomycterus - No rush on this, but we'd like to add the excerpt of a post to the notification email.  Vanilla seems to imply we can do this as part of a plugin / theme.  Either is fine.

* https://success.vanillaforums.com/kb/articles/259-sending-emails
* https://success.vanillaforums.com/kb/articles/317-email-notifications#appendix-default-verbiage

[2020-10-23 08:16] jmgasper commented on #69
Contest https://www.topcoder.com/challenges/30146754 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-23 08:18] jmgasper commented on #69
Contest https://www.topcoder.com/challenges/30146754 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-24 17:35] atelomycterus commented on #69
@jmgasper
Open Source Vanilla supports:
![image](https://user-images.githubusercontent.com/10196632/97086799-32b59600-162e-11eb-8d26-e7ba1d42d2e4.png)

### Vanilla New post notifications
1. Vanilla notifies all users who has advanced Preferences. The settings is saved in UserMeta table.
The challenge forum processor adds an user to 'watch a category'. In the settings, Vanilla shows only the top le

[2020-10-24 18:44] atelomycterus commented on #69
@jmgasper From my local env:

$Configuration['Vanilla']['Activity']['ShowDiscussionBody']=true;

Discussion:
![image](https://user-images.githubusercontent.com/10196632/97091029-63eb9180-1641-11eb-9f6b-5cab895c59b7.png)

Email without the branded template:
![image](https://user-images.githubusercontent.com/10196632/97091085-ca70af80-1641-11eb-84cd-a99ca833a9f0.png)

Email with the branded template

[2020-10-27 01:40] jmgasper commented on #69
@atelomycterus - Sorry for the delay here.  I've updated the config and deployed it - just working on getting dev set up with some accounts with proper email addresses so I can test more fully.  We'll likely be making a few more changes to the email stuff shortly.

[2020-10-27 01:42] jmgasper opened #70 "[$300] Email template"
@atelomycterus - Can we template out the email stuff a bit more?  Topcoder is asking for something like this:

<img width="706" alt="Screen Shot 2020-10-26 at 6 16 46 PM" src="https://user-images.githubusercontent.com/21790/97246540-b3a0a780-1851-11eb-9c40-727dbca451f2.png">

We'd have:

* Logo (top left)
* Content of the notification / post excerpt
* Date / time of the post
* Handle of the member

[2020-10-27 01:43] jmgasper commented on #70
Contest https://www.topcoder.com/challenges/30147024 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 01:43] jmgasper commented on #70
Contest https://www.topcoder.com/challenges/30147024 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 03:31] jmgasper commented on #69
@atelomycterus - Does this work for everything?  I tested a couple notifications (a "mention" and a "reply") and neither gave me the excerpt.

Here's the change I made to the deployed env:

https://github.com/topcoder-platform/forums/commit/db054bc78247967e24aa29e58d92d0a0cc531b46

And the emails:

![Screen Shot 2020-10-27 at 14 29 00](https://user-images.githubusercontent.com/21790/97253744-0e8dc

[2020-10-27 05:29] jmgasper opened #71 "[$75] Colour of mentions"
@atelomycterus - Can we also apply the member handle colouring to:

### Mentions in a discussion:

![Screen Shot 2020-10-27 at 16 27 51](https://user-images.githubusercontent.com/21790/97260664-5caaca80-1871-11eb-804e-794bbf5df964.png)

### Profile

![Screen_Shot_2020-10-27_at_16_28_13](https://user-images.githubusercontent.com/21790/97260749-8ebc2c80-1871-11eb-91c1-fc3cb26dc2cb.png)

### Notifica

[2020-10-27 05:29] jmgasper commented on #71
Contest https://www.topcoder.com/challenges/30147035 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 05:47] jmgasper opened #72 "[$100] Navigation issues"
@atelomycterus : A couple navigation items in vanilla.topcoder-dev.com that I'm noticing:

All tested with new member accounts.

### Activity

We can remove the Activity link in the side menu that goes nowhere

![Screen_Shot_2020-10-27_at_16_39_27](https://user-images.githubusercontent.com/21790/97261628-53baf880-1873-11eb-8c1c-00fd2b7aa4e9.png)

### Challenges forums

Can we hide the `Challenges

[2020-10-27 05:47] jmgasper commented on #72
Contest https://www.topcoder.com/challenges/30147036 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 05:47] jmgasper commented on #72
Contest https://www.topcoder.com/challenges/30147036 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 05:50] jmgasper opened #73 "[$100] Permissions when starting new discussion"
As a new member (who hasn't registered for any challenges), I am able to create a discussion in a group that I don't have access to.  We need to do a permission check and filter the category in `New discussion` to match user's permissions somehow.

![Screen Shot 2020-10-27 at 16 50 01](https://user-images.githubusercontent.com/21790/97262179-76014600-1874-11eb-9fb3-c38bb6414c4d.png)

[2020-10-27 05:50] jmgasper commented on #73
Contest https://www.topcoder.com/challenges/30147037 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 05:53] jmgasper commented on #73
Contest https://www.topcoder.com/challenges/30147037 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 05:55] #66 closed

[2020-10-27 05:56] #5 closed

[2020-10-27 20:49] jmgasper commented on #73
@atelomycterus - If we can prioritise this one, that would be good, thanks!

[2020-10-27 23:47] atelomycterus commented on #71
@jmgasper Please apply 2 PRs:
https://github.com/topcoder-platform/forums-plugins/pull/35
https://github.com/topcoder-platform/forums/pull/74

Thanks!

1. Mention Links are integrated with Editors. So I managed to apply styles in view mode:

![image](https://user-images.githubusercontent.com/10196632/97371035-6cea9600-18c1-11eb-94b0-62e072de8772.png)

2. Topcoder Link Styles:
- link color depends

[2020-10-27 23:48] atelomycterus commented on #73
@jmgasper Yes, sure. I'll fix it tomorrow.

[2020-10-28 00:29] jmgasper commented on #71
Looks great, thanks!

[2020-10-28 00:29] #71 closed

[2020-10-28 00:29] jmgasper commented on #71
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147035<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-28 20:11] atelomycterus commented on #73
@jmgasper Fixed. Please apply PR https://github.com/topcoder-platform/forums-groups-plugin/pull/10. Thanks!

Example:
Local 'obogtop'

![image](https://user-images.githubusercontent.com/10196632/97490331-bc889a80-1971-11eb-928e-0759a915b315.png)

![image](https://user-images.githubusercontent.com/10196632/97491055-b21ad080-1972-11eb-8142-02e2c828c510.png)

Local 'jmgasper' :
![image](https://user-

[2020-10-28 20:24] atelomycterus commented on #69
@jmgasper It works for new discussions only.

[2020-10-29 05:13] #69 closed

[2020-10-29 05:13] jmgasper commented on #69
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30146754<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-29 05:13] jmgasper commented on #70
@atelomycterus - We'll need to make sure this works and shows the excerpt for *all* notification emails.

[2020-10-29 05:48] jmgasper commented on #73
Looks good, thanks!

[2020-10-29 05:48] #73 closed

[2020-10-29 05:49] jmgasper commented on #73
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147037<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-29 07:52] sdgun opened #75 "[$40] All discussions section is listing the threads of challenges to which the user does not have permission"
**Steps**
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Click on the 'All Discussions' link below the threads
(It is loading a list of threads)
Click on some threads in the list

**Actual result**
User does not have access to some threads

**Expected result**
Should not list threads of challenges to which the user does not have permis

[2020-10-29 07:59] sdgun opened #76 "In All discussion page, the threads are listed, but the challenge name is not shown for the listed threads"
Steps
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Click on the 'All Discussions' link below the threads

Actual result
It is loading a list of threads, the challenge name is not shown for the listed threads so user doesn't know which thread belong to which challenge

Expected result
Better to have the challenge name or list the thre

[2020-10-29 08:25] sdgun opened #77 "[$30] The user handle link is directing to the production member page"
**Steps**
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Click on a user handle

**Actual result**
The user handle link is directing to the production member page

**Expected result**
The user handle link should direct to the dev member page

![image](https://user-images.githubusercontent.com/4592712/97543500-568e2880-19ee-11eb-9676-30

[2020-10-29 08:29] sdgun opened #78 "The comment added/edited time is not the user's current time"
**Steps**
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Add a comment or edit a comment in any thread and check the time

**Actual result**
The time stamp shows a past time

**Expected result**
Should show the comment added/edited time

![image](https://user-images.githubusercontent.com/4592712/97543953-f2b82f80-19ee-11eb-91ef-a134046

[2020-10-29 08:39] sdgun opened #79 "[$50] When click Edit on a comment and cancel the edit window, the edit is not allowed until the page is refreshed"
**Steps**
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Add a comment
Click edit(...) on the comment >> Click Edit
Cancel the edit
Click edit(...) on the comment again

**Actual result**
The Edit option is not shown

**Expected result**
The Edit option should be shown

![image](https://user-images.githubusercontent.com/4592712/9754500

[2020-10-29 22:03] atelomycterus commented on #72
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/80
https://github.com/topcoder-platform/forums-groups-plugin/pull/11

Thanks!

**Activity**
Fixed.

**Challenges Forums**
Fixed.  if User is a member of any group then 'Challenge Forums' is displayed in the menu.
Also I fixed nested sub categories if User doesn't have group permissions.  User participates in   development

[2020-10-30 06:06] sdgun opened #81 "The member profile pictures are not aligned properly"
Steps
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Check the Members section at the bottom of the page

Actual result
The member profile pictures are not aligned properly

Expected result
The member profile pictures should be aligned properly

![image](https://user-images.githubusercontent.com/4592712/97666624-14272300-1aa4-11eb-9a8d

[2020-10-30 07:10] sdgun opened #82 "[$50] The Bookmarks are not listed in the My Bookmarks section"
**Steps**
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Bookmark a discussion
Go to My Bookmarks

**Actual result**
The Bookmarks count is shown in brackets, but bookmarks are not shown

**Expected result**
The Bookmarks should be shown on the page

![image](https://user-images.githubusercontent.com/4592712/97670789-fd38fe80-1aac-11eb

[2020-10-30 07:28] sdgun opened #83 "[$40] When use 'quote', the focus is set on the new comment while quoting and after adding the comment"
**Steps**

1. Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
2. Click on any discussion with comments
3. Click 'Quote'
4. Post the comment

**Actual result**
After click comment(step 3), new comment is opened with the quote, but the focus is not set to the comment
After Posting the comment(step 4), page is automatically scrolling up to

[2020-10-30 07:44] jmgasper commented on #72
@atelomycterus - The first item looks good, thanks.

The `Challenges Forum` category is still a bit wonky.  Even if a user is registered for a challenge, we don't want them to see *everything*.  Can we just hide it?

This is for a fresh user:

![Screen_Shot_2020-10-30_at_18_42_21](https://user-images.githubusercontent.com/21790/97673416-dd6efe00-1adf-11eb-84d3-5af3817e7b31.png)

[2020-10-30 10:27] sdgun opened #84 "[$60] When adding a new discussion from General, the discussion is not created in general and the category drop down is not available"
**Steps**
Go to the forum home page from a normal user(ex user- TopConnCustomer link - https://vanilla.topcoder-dev.com/)
Select General from categories
Click New Discussion button
Post a discussion
Check the General discussions to see the new discussion

**Actual result**
The discussion is not available in General section, but when search for it, it is shown under General in the breadcrumb
Also w

[2020-10-30 11:23] sdgun opened #85 "[$50] When a thread is 'Mark Read', user is redirected to All categories"
**Steps**
Go to a forum from a normal user(ex user- TopConnCustomer / link - https://vanilla.topcoder-dev.com/categories/3d88d45b-6b1c-4da0-a02d-7f73f7642bd2)
Click on ellipsis on any thread
Click Mark Read

**Actual result**
User is redirected to All categories

**Expected result**
Stay on the same page

![image](https://user-images.githubusercontent.com/4592712/97699580-6120ee80-1ad0-11eb-92f7-2

[2020-10-30 11:48] atelomycterus commented on #72
@jmgasper  Sorry about that, fixed.  Please apply PR - https://github.com/topcoder-platform/forums/pull/86. Thanks!

I hide the count of categories because  the value wasn't correct and it's confusing.  By default, Vanilla displays all count of children.  It should be calculated for current user taking into account access to groups.Let me know if it's required.

![image](https://user-images.github

[2020-10-31 01:17] #72 closed

[2020-10-31 01:17] jmgasper commented on #72
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147036<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:21] jmgasper commented on #75
@atelomycterus - Can we just remove the `All Discussions` link?

![Screen_Shot_2020-10-31_at_12_20_22](https://user-images.githubusercontent.com/21790/97767919-8a468b00-1b73-11eb-81bc-a5c71ef84c76.png)

[2020-10-31 01:25] jmgasper commented on #75
Contest https://www.topcoder.com/challenges/30148010 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:25] jmgasper commented on #76
Gonna mark this as a duplicate, since we're going to remove this link / page.

[2020-10-31 01:27] jmgasper commented on #75
Contest https://www.topcoder.com/challenges/30148010 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:31] jmgasper commented on #77
Fixed in the plugin settings.

![Screen_Shot_2020-10-31_at_12_30_16](https://user-images.githubusercontent.com/21790/97768109-db0ab380-1b74-11eb-8aa6-74cb7018bb35.png)

[2020-10-31 01:46] jmgasper commented on #79
@sdgun - I can't reproduce this.  Can you add a video please?

[2020-10-31 01:46] jmgasper commented on #82
Contest https://www.topcoder.com/challenges/30148011 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:47] jmgasper commented on #82
@atelomycterus - Any reason why this wouldn't be working?

[2020-10-31 01:47] jmgasper commented on #82
Contest https://www.topcoder.com/challenges/30148011 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:48] jmgasper commented on #84
Contest https://www.topcoder.com/challenges/30148012 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:48] jmgasper commented on #84
@atelomycterus - Another one that seems odd.

[2020-10-31 01:48] jmgasper commented on #84
Contest https://www.topcoder.com/challenges/30148012 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:51] jmgasper commented on #85
Contest https://www.topcoder.com/challenges/30148013 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 01:51] jmgasper commented on #85
Contest https://www.topcoder.com/challenges/30148013 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 06:44] sdgun commented on #79
@jmgasper Attaching the video

[Edit issue.zip](https://github.com/topcoder-platform/forums/files/5468619/Edit.issue.zip)

[2020-10-31 08:22] sdgun commented on #83
Adding a video, this happens when there are about 4-5 comments in the discussion

[Quote navigation.zip](https://github.com/topcoder-platform/forums/files/5468766/Quote.navigation.zip)

[2020-10-31 13:18] atelomycterus commented on #75
@jmgasper Please apply PR -https://github.com/topcoder-platform/forums-groups-plugin/pull/12.
 Thanks!

Changes:
- Removed the link.
- I had a look at initial issue posted by sdgun.  There was a bug in GroupController. Getting a list of discussions and announcements by GroupId - Fixed. So let me know If we want to return the link back.

[2020-10-31 16:42] atelomycterus commented on #82
@jmgasper Fixed. PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/12

Groups plugin adds a custom where condition with hooks before getting discussions.
The group where condition shouldn't be added  for 'discussions/bookmarked'.

![image](https://user-images.githubusercontent.com/10196632/97784535-56d62180-1bb0-11eb-8058-0bce5b5a1650.png)

[2020-10-31 17:04] sdgun opened #87 "[$40] Admin does not have access to challenge forums"
**Steps**
Log in to Vanilla app as Admin(TCConAdmin) or Copilot(TCConnCopilot)
Search for groups(ex-Forum testing)
Click on discussion in the search results

**Actual result**
No permission for Admin, but if admin register to the challenge, he can see the forum

**Expected result**
Admin should have access to any forum without having to register to the challenge

[Issue 1 - admin access.zip](https

[2020-10-31 17:06] sdgun opened #88 "[$75] Copilot does not have access to challenge forum"
**Steps**
Log in to Vanilla app as Copilot(TCConnCopilot)
Search for a group whish he is copiloting(ex-Forum testing)
Click on discussion in the search results

**Actual result**
No permission for copilot, but if he registers to the challenge, he can see the forum

**Expected result**
Copilot should have access to the challenge forum in which he is the copilot, without having to register to the ch

[2020-10-31 17:59] atelomycterus commented on #85
@jmgasper Fixed. Vanilla redirected to /categories by default.
Please apply PR - https://github.com/topcoder-platform/forums-plugins/pull/36. Thanks!

[2020-10-31 21:48] atelomycterus commented on #84
@jmgasper Fixed. Please apply 2 PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/12
https://github.com/topcoder-platform/forums/pull/89

Tnhanks!

[2020-10-31 22:35] jmgasper commented on #87
Contest https://www.topcoder.com/challenges/30148039 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:35] jmgasper commented on #87
Contest https://www.topcoder.com/challenges/30148039 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:35] jmgasper commented on #87
@atelomycterus - I think this is just a permission update for the groups plugin.

[2020-10-31 22:36] jmgasper commented on #88
@atelomycterus - This should be part of the challenge forum processor - the copilot should be given access to the group.

[2020-10-31 22:36] jmgasper commented on #88
Contest https://www.topcoder.com/challenges/30148040 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:36] jmgasper commented on #88
Contest https://www.topcoder.com/challenges/30148040 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:46] #85 closed

[2020-10-31 22:46] jmgasper commented on #85
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148013<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:48] #84 closed

[2020-10-31 22:48] jmgasper commented on #84
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148012<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:48] #82 closed

[2020-10-31 22:49] jmgasper commented on #82
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148011<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-31 22:49] #75 closed

[2020-10-31 22:49] jmgasper commented on #75
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148010<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-01 15:51] atelomycterus commented on #87
@jmgasper

Yes, correct.

Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/13. Thanks!

### Vanilla roles and Topcoder Roles

Vanilla roles:
'Administrator' have permissions to do anything in Vanilla.

Topcoder roles:
Now 'Connect Admin' has  one permission ('Groups.Moderation.Manage') in Vanilla.

The role with this permission:
 - access to any forum without having

[2020-11-01 17:48] atelomycterus commented on #88
@jmgasper Need your help with that. I guess I should use https://api.topcoder-dev.com/v5/projects/projectId to get a list of copilots.

The list of copilots might be changed in https://connect.topcoder-dev.com/ Should we process a specific event when a copilot is added/removed to/from a project?

Or should we check a list of copilots while processing ‘challenge.notification.create’ and other event

[2020-11-02 02:43] sdgun opened #90 "[$60] Users should not be able to Leave groups"
**Steps**
Go to the forum of a normal user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)

**Actual result**
On the top right hand corner Leave group option is available when click on ellipses

**Expected result**
Users should not be able to Leave groups

![image](https://user-images.githubusercontent.com/4592712/97824887-29d65b80-1ce3-11eb-9f16-f493f1f28c27.png)

[2020-11-02 02:46] sdgun opened #91 "[$100] Users are not able to follow/unfollow a forum or a thread"
**Steps**
Go to the forum of a any user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)

**Actual result**
 There is no option to follow/unfollow a forum or a thread

**Expected result**
Users should be able to follow/unfollow a forum or a thread

[2020-11-02 03:16] sdgun opened #92 "[$300] There is no option for the user to view forum in tree view"
**Steps**
Go to the forum of a any user(ex user- TopConnCustomer group - https://vanilla.topcoder-dev.com/group/128)
Check the user's profile avatar on top right and select Preferences

**Actual result**
There is no option for the user to view forum in tree view in Preferences or on the group page

**Expected result**
User should be able to view forum in tree view(Ref - [Requirement document](http

[2020-11-02 05:29] jmgasper commented on #90
@atelomycterus - We don't want users to be able to leave groups associated with a challenge.  Registering / unregistering from the challenge should be how they gain access / lose access to the group.

[2020-11-02 05:29] jmgasper commented on #90
Contest https://www.topcoder.com/challenges/30148089 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:30] jmgasper commented on #88
@atelomycterus - I think we can just check the list of copilots while processing the `challenge.notification.create` event.

[2020-11-02 05:30] jmgasper commented on #91
Contest https://www.topcoder.com/challenges/30148090 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:30] jmgasper commented on #91
Contest https://www.topcoder.com/challenges/30148090 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:31] jmgasper commented on #90
Contest https://www.topcoder.com/challenges/30148089 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:35] jmgasper commented on #91
@atelomycterus - Can we add an option to the group page to follow *all* discussions in a given group?

[2020-11-02 05:50] jmgasper commented on #78
We don't have a way of pulling the user's timezone from the Topcoder services.  I'm going to mark this for future.

[2020-11-02 05:50] #76 closed

[2020-11-02 05:50] jmgasper commented on #83
Contest https://www.topcoder.com/challenges/30148094 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:50] jmgasper commented on #83
Contest https://www.topcoder.com/challenges/30148094 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:51] jmgasper commented on #87
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148039<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:52] jmgasper commented on #79
Contest https://www.topcoder.com/challenges/30148095 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:52] jmgasper commented on #79
Contest https://www.topcoder.com/challenges/30148095 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:58] jmgasper opened #93 "[$75] Registration of a user and auto-bookmarking"
When a user registers to a challenge, they should have a bookmark set automatically for the group, once we get the bookmarking working here:

https://github.com/topcoder-platform/forums/issues/91

[2020-11-02 05:58] jmgasper commented on #93
Contest https://www.topcoder.com/challenges/30148096 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 05:58] jmgasper commented on #93
Contest https://www.topcoder.com/challenges/30148096 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 06:50] sdgun opened #94 "[$125] When the callenge is renamed, the new name is not synced in the Forum"
**Steps**
Create a challenge and rename the challenge name ex- https://www.topcoder-dev.com/challenges/3d88d45b-6b1c-4da0-a02d-7f73f7642bd2
Log into forums and open that challenge's forum group https://vanilla.topcoder-dev.com/group/128
Check the name

**Actual result**
The new name is not reflected in the forum

**Expected result**
Need to sync the new name to the forum

![image](https://user-ima

[2020-11-02 06:55] jmgasper commented on #94
@rootelement - What do you think about this one?  Is this something we need to handle?

[2020-11-02 06:59] sdgun opened #95 "[$75] Sorting is not available in new forums"
**Steps**
Go to any forum with forum posts
Check the availability of sorting functionality

**Actual result**
Sorting is not available in new forums

**Expected result**
Sorting should be available, so the users can sort the posts

[2020-11-02 07:20] sdgun opened #96 "[$60] Search should only bring up the forums to which user has permission"
**Steps**
Go to https://vanilla.topcoder-dev.com/ (user - TopConnCustomer)
Do a search by 'test'
See the search results

**Actual result**
Search results bring up all matching results irrespective of user permission

**Expected result**
Search results should bring matching forums to which user has permission

![image](https://user-images.githubusercontent.com/4592712/97840417-f22eda00-1d09-11eb-87

[2020-11-02 14:25] rootelement commented on #94
What happens today? I'd say this is a P3

On Mon, Nov 2, 2020 at 1:55 AM Justin Gasper <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter: @Topcoder
<https://twitter.com/topcoder>201 S Capi

[2020-11-02 14:41] atelomycterus commented on #90
@jmgasper Fixed. Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/14. Thanks!

[2020-11-02 16:24] atelomycterus commented on #79
@jmgasper Fixed (Vanilla bugs). PR-https://github.com/topcoder-platform/forums/pull/97. Thanks!

[2020-11-02 19:32] atelomycterus commented on #91
@jmgasper I found the 'Vanilla.EnableCategoryFollowing' config param. This param is false by default and can be configured in Vanilla settings.

With 'Vanilla.EnableCategoryFollowing'  = true: we'll add an option ('follow') to the group page.  So if Users click on the option then they will be follow all categories related to the group. Please let me know if we can use Vanilla.EnableCategoryFollowi

[2020-11-02 20:13] jmgasper commented on #94
Contest https://www.topcoder.com/challenges/30148288 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-02 20:15] jmgasper commented on #94
@atelomycterus - We can handle this through the challenge forum processor, looking at the `challenge.notification.update` Kafka topic.  You'll get the updated challenge information as the payload.  It doesn't show the previous and new value, just the updated challenge, after the update has been applied:

[code]

[2020-11-02 20:15] jmgasper commented on #94
Contest https://www.topcoder.com/challenges/30148288 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 03:15] sdgun opened #98 "The forum link in the challenge is throwing 502 error"
**Steps**
Log in and go to challenge https://www.topcoder-dev.com/challenges/3d88d45b-6b1c-4da0-a02d-7f73f7642bd2
Click Challenge forum link

**Actual result**
Throws 502 error

**Expected result**
Should open the vanilla forum of the challenge

![image](https://user-images.githubusercontent.com/4592712/97946361-3d032d00-1db0-11eb-9e5e-c691e8ad4063.png)

[2020-11-03 03:58] sdgun opened #99 "[$100] Forum groups are not created for any challenge type except Development"
**Steps**
Log into work manager
Launch challenges for Design/Data science/Quality Assurance(Work format: Challenge, First2Finish)
Go to vanilla forums
Search by the above created challenge/First2Finish names(ex-Forum Testing sdgun - Design , Forum testing data science sdgun - 1, Forum testing QA sdgun - 1)

**Actual result**
No forum group created for any of the work formats of those 3 work types

[2020-11-03 04:16] sdgun opened #100 "In vanilla forums there is no 'My Post History'"
Ref - [Requirement document](https://docs.google.com/spreadsheets/d/1k6SblVFkWC0sYRarOqpBOiH5hH1uVAoztvW-bm5Mo3w/edit?disco=AAAAGe7Q65k&ts=5eb1fb10&usp_dm=false&skip_itp2_check=true#gid=0) No 17 'Status' column says 'Available in the profile'

**Steps**
Log into vanilla forums
Click on Avatar icon on top right hand corner
Select Profile

**Actual result**
Below the profile an activity history is a

[2020-11-03 04:39] sdgun opened #101 "[$50] There are no default threads or no way to add a thread in to the common forums"
**Steps**
Go to the forums as Admin (ex user- TCConAdmin link - https://vanilla.topcoder-dev.com/)
Click on any common forum from left side categories list
Click New Discussion button
Click Select category drop down

**Actual result**
None of the common forums except General are enabled for selection

**Expected result**
Users should be able to add threads in the common forums

![image](https://us

[2020-11-03 05:14] sdgun commented on #87
This issue still exists.

[Admin issue.zip](https://github.com/topcoder-platform/forums/files/5479367/Admin.issue.zip)

[2020-11-03 05:24] sdgun commented on #77
This issue still exists

[Member page.zip](https://github.com/topcoder-platform/forums/files/5479389/Member.page.zip)

[2020-11-03 05:39] sdgun opened #102 "[$25] The posts can only be edited within one hour of posting"
**Steps**
Go to the forums as Admin or any user(ex user- TCConAdmin link - https://vanilla.topcoder-dev.com/)
Click on any available forum in which the user has added comments
Go to a discussion added by the user 1 hour ago
Edit the comment

**Actual result**
Edit option is not available after 1 hour of adding a comment

**Expected result**
Edit option should always be available for the users on t

[2020-11-03 06:31] sdgun commented on #87
Looks like there is an issue with the Admin user I am using, when I check with Tonyj user, this issue is not happening.

[2020-11-03 06:31] #87 closed

[2020-11-03 06:36] sdgun opened #103 "[$100] When an image is pasted in the editor window by a normal user, the error ribbon is shown in the editor"
**Steps**
Go to the forums as a normal user (ex user- TopConnCustomer link - https://vanilla.topcoder-dev.com/)
Click New Discussion
Paste an image in the editor

**Actual result**
The error ribbon is shown in the editor

**Expected result**
The error ribbon should not be shown in the editor

[File attach error.zip](https://github.com/topcoder-platform/forums/files/5479570/File.attach.error.zip)

[2020-11-03 06:45] jmgasper commented on #77
Contest https://www.topcoder.com/challenges/30148405 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:46] jmgasper commented on #77
@atelomycterus - Is this somethign that's overwritten on a deploy?  I assumed this was stored in the database.

[2020-11-03 06:46] jmgasper commented on #77
Contest https://www.topcoder.com/challenges/30148405 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:49] jmgasper commented on #96
Contest https://www.topcoder.com/challenges/30148409 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:49] jmgasper commented on #98
@rootelement - Can I push on this with the community app folks?

[2020-11-03 06:50] jmgasper commented on #99
Contest https://www.topcoder.com/challenges/30148411 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:50] jmgasper commented on #99
@atelomycterus - Is there any reason for this in the challenge forum processor?

[2020-11-03 06:50] jmgasper commented on #99
Contest https://www.topcoder.com/challenges/30148411 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:51] jmgasper commented on #96
Contest https://www.topcoder.com/challenges/30148409 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:53] sdgun opened #104 "[$40] Attachments are downloaded as unrecognized files"
**Steps**
Go to the forums as a normal user (ex user- TopConnCustomer link - https://vanilla.topcoder-dev.com/discussion/1492/test-copilot-111/p1?new=1)
Click on an attachment in a post

**Actual result**
Attachments are downloaded as unrecognized files in a different name

**Expected result**
Attachments should be downloaded in the correct format with the correct name

[Attachment file format.zip

[2020-11-03 06:57] jmgasper commented on #101
Contest https://www.topcoder.com/challenges/30148423 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:57] jmgasper commented on #101
Contest https://www.topcoder.com/challenges/30148423 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:57] jmgasper commented on #101
@atelomycterus - The permissions for `Topcoder User` seem correct here, but I can seem to get this to work.  Is there any reason you see?

[2020-11-03 06:57] jmgasper commented on #102
@sdgun - Tweaked this in the config, should be better now.

[2020-11-03 06:58] jmgasper commented on #103
Contest https://www.topcoder.com/challenges/30148426 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:58] jmgasper commented on #103
Contest https://www.topcoder.com/challenges/30148426 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:58] jmgasper commented on #103
@atelomycterus - I'm open to suggestions on this one.

[2020-11-03 06:59] jmgasper commented on #104
Contest https://www.topcoder.com/challenges/30148429 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 06:59] jmgasper commented on #104
Contest https://www.topcoder.com/challenges/30148429 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 15:59] rootelement commented on #98
It looks like the new forum code is deployed in QA only. It works here:
https://qa-community-app.topcoder-dev.com/challenges/3d88d45b-6b1c-4da0-a02d-7f73f7642bd2

[2020-11-03 21:03] jmgasper commented on #92
@atelomycterus - Can you offer a suggestion here on how we can possibly implement something like what's in the current forum please?  I think I misunderstood the original requirement doc from TC:

![Screen Shot 2020-11-04 at 08 00 39](https://user-images.githubusercontent.com/21790/98040338-36d68480-1e74-11eb-8686-af69b7501fbf.png)

[2020-11-03 21:04] jmgasper commented on #92
Contest https://www.topcoder.com/challenges/30148637 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 21:04] jmgasper commented on #92
Contest https://www.topcoder.com/challenges/30148637 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 21:40] jmgasper opened #105 "[$40] Rename Groups to Challenges in navigation"
@atelomycterus - Topcoder is requesting that we rename `Groups` in the navigation on the left (under My Discussions and Categories") to `Challenges`, to make things more clear to competitors who use the forum.
![Screen_Shot_2020-11-04_at_08_40_30](https://user-images.githubusercontent.com/21790/98043504-6e93fb00-1e79-11eb-8cef-a04acef8615b.png)

[2020-11-03 21:41] jmgasper commented on #105
Contest https://www.topcoder.com/challenges/30148638 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 21:41] jmgasper commented on #105
Contest https://www.topcoder.com/challenges/30148638 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-04 01:24] jmgasper commented on #90
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-04 01:24] jmgasper commented on #79
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-04 05:56] atelomycterus commented on #101
@jmgasper Need to configure Vanilla categories for other forums.

'Challenges Forums' has 'Nested' type.  Nested categories and discussions are created by a challenge processor.

![image](https://user-images.githubusercontent.com/10196632/98073110-a484af80-1e78-11eb-8b5a-38c2ac5cbe67.png)

Each forum has nested categories in the old forum:
![image](https://user-images.githubusercontent.com/1019663

[2020-11-04 06:06] atelomycterus commented on #99
@sdgun Could you provide challenge urls? I'll debug a challenge processor with payloads.

[2020-11-04 06:09] atelomycterus commented on #91
@jmgasper Please have a look at my previous comment.

[2020-11-04 06:15] sdgun commented on #99
@atelomycterus
https://qa-community-app.topcoder-dev.com/challenges/a01e7a05-8fe7-4c94-82c6-ac4392a35479
https://qa-community-app.topcoder-dev.com/challenges/e9b13cff-4e9d-4157-a9a2-9f8591def73b
https://qa-community-app.topcoder-dev.com/challenges/1adc0dbf-d002-4718-9733-e48239241b3d
https://qa-community-app.topcoder-dev.com/challenges/a38052d7-149e-457d-8bba-c7fd099c51bf
https://qa-community-app.

[2020-11-04 08:35] atelomycterus commented on #77
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/106.  Thanks!

Vanilla  stores some Authentication Provider parameters in DB only.

[2020-11-04 11:58] atelomycterus commented on #99
@jmgasper @sdgun

template.json was configured for Development track only. I've updated it to support  'Data Science', 'Quality Assurance' and 'Design' tracks. Please apply PR - https://github.com/topcoder-platform/challenge-forum-processor/pull/35. Thanks!

### Changes
Challenge Design Forum  doesn't have nested categories and 'Spec Review Discussion' is created by default in the old forum.
So I

[2020-11-04 14:54] atelomycterus commented on #88
@jmgasper Implemented. All copilots are added to a group.
 Please grant a permission to get a project before testing. With generated M2M token:
![image](https://user-images.githubusercontent.com/10196632/98126213-60b89700-1ec6-11eb-9bb6-cf4924dd80c1.png)

So I tested with a personal TonyJ token:
![image](https://user-images.githubusercontent.com/10196632/98126351-8b0a5480-1ec6-11eb-85fa-e9f1d28909

[2020-11-04 15:17] atelomycterus commented on #93
@jmgasper  Please see my comment https://github.com/topcoder-platform/forums/issues/91#issuecomment-720679622

### Vanilla features
 'watch a category' - Vanilla sends email or show popup notification if a discussion is added in a category watched by User or User is mentioned, eg.
 'follow/unfollow' -  User can follow/unfolllow a category
 'bookmark' - User can create a bookmark for a discussion o

[2020-11-04 15:50] atelomycterus commented on #105
@jmgasper Done. Please apply PR- https://github.com/topcoder-platform/forums-groups-plugin/pull/15. Thanks!

'Groups' page link (/groups) is renamed.

The Groups category link was created while the Groups plugin was being developed. At the moment it is not used at all. I removed this category to avoid confusing users.

![image](https://user-images.githubusercontent.com/10196632/98133178-56020000-1

[2020-11-04 16:53] atelomycterus commented on #103
@jmgasper 'Allow File Uploads' Vanilla permission is used for any files (attachments/images).
Each category has 'Allow File Uploads' and  users are not allowed to upload any files by default.

We've implemented Roles setup for attachments (https://github.com/topcoder-platform/forums/issues/60):

So all files from an editor are uploaded via Vanilla REST API (/v2/media). If user is allowed to upload

[2020-11-04 19:25] atelomycterus commented on #92
@jmgasper The comments are organized into an hierarchy (a tree) in the old forum because it has 'reply' feature.
Users  can reply to a specific comment.  Vanilla doesn't support  'reply'.

'ReplyTo' plugin has been implemented but it not compatible with Vanilla 3.3
https://open.vanillaforums.com/addon/replyto-plugin

To implement 'reply' plugin:
- Add additional columns in DB
- Update CommentModel

[2020-11-04 21:09] atelomycterus commented on #94
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/challenge-forum-processor/pull/35
https://github.com/topcoder-platform/forums-groups-plugin/pull/15

Thanks!
Notes: Updating challenge name is fixed.  In other words, the group name was updated. What about the the discussion category name?
[code]
![image](https://user-images.githubusercontent.com/10196632/98167523-44365200-1efa-11eb-

[2020-11-04 21:12] jmgasper commented on #103
@atelomycterus - Regular members will *not* be allowed to upload images at all, for any category (at least at this current time).

@rootelement ☝️ Correct me if I'm wrong.

[2020-11-04 21:16] jmgasper commented on #101
@atelomycterus - Ok, we'll leave this one for now.  We won't be having these categories in the initial prod deploy, since we're going to start using Vanilla for challenges *only*.

[2020-11-04 21:20] jmgasper commented on #91
@atelomycterus - Yep, that looks good.  I've enabled that in dev, and if we can add that to the groups page, that would meet this requirement, thanks!

[2020-11-04 21:20] jmgasper commented on #101
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-04 21:21] jmgasper commented on #93
Yeah, we want to use the follow/unfollow functionality.  Can we set this up by default for registered users to be following the default categories added for a challenge group please?

[2020-11-04 22:06] jmgasper commented on #94
@atelomycterus - If we can rename everywhere, that would be good.  Is it hard to update the discussion category name?

[2020-11-04 22:44] jmgasper commented on #105
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-04 23:06] jmgasper commented on #92
@atelomycterus - Yeah, let's go ahead and do this as part of the Topcoder plugin, thanks.  I'd like to be able to turn this functionality on / off.

[2020-11-05 04:48] sdgun commented on #98
@jmgasper @rootelement This is not working in QA today

[2020-11-05 05:34] atelomycterus commented on #87
@jmgasper @sdgun TonyJ has permissions to do anything in Vanilla. Please use 'Connect Admin' role for testing.

Groups plugin sets up the 'Connect Admin' role with this permission. I've disabled/enable on https://vanilla.topcoder-dev.com/.  So it should work. See my comment https://github.com/topcoder-platform/forums/issues/87#issuecomment-720109367

[2020-11-05 06:03] sdgun opened #107 "Sporadically throwing 500 Error when logging in, creating posts and other functionality"
**Steps**
Log in to https://vanilla.topcoder-dev.com/ from user sdgun

The below error is displayed after entering un/pw and logged in
Also while opening the discussions and creating discussions and viewing other pages like bookmarks we are seeing the same error

![image](https://user-images.githubusercontent.com/4592712/98203789-b3439300-1f5a-11eb-964c-9ad4ec365836.png)

![image](https://user-ima

[2020-11-05 06:40] sandhiyakavi opened #108 "[$70] Getting Exception while creating new discussion without logging in"
Description:
Getting Exception while creating new discussion without logging in

Screenshot:

![image (13)](https://user-images.githubusercontent.com/55895538/98206394-2827c480-1f7d-11eb-803b-862d6f1946d6.png)

[2020-11-05 06:41] sdgun opened #109 "[$30] Some handle colors are not correct"
**Steps**
Go to the forums as a normal user with below handle colors, add forum posts and check the handle color
- Gray (ex user - sdguntcqa)
- Green (ex user - pvmagacho)
- Orange  (ex user - tonyj)

**Result**
Production - Vanilla forum
Gray - purple(#7a21b5)
Green(#00a95f) -  #00A900
Orange(#ff5100) - #fc9900

Note: We don't have users to check the colors Red, Blue and Black. Please check the u

[2020-11-05 07:00] sdgun opened #110 "[$50] Search is not working on certain search strings"
**Steps**
Go to the forums as Admin(ex user- TCConAdmin link - https://vanilla.topcoder-dev.com/)
Click search
Enter Sandy or SANDY or SANDY_FORUM and search

**Actual result**
No search results

**Expected result**
There is a challenge which is starting with 'Sandy'

[Search issue.zip](https://github.com/topcoder-platform/forums/files/5492498/Search.issue.zip)

[2020-11-05 07:08] sdgun commented on #75
Verified, this issue is fixed.

[2020-11-05 07:10] sandhiyakavi opened #111 "Able to view the post under the General topic even without logging in."
Description:
Able to view the post under the General topic even without logging in.

Screenshot:
![image](https://user-images.githubusercontent.com/55895538/98208822-514a5400-1f81-11eb-94c2-ffb32c70b046.png)

[2020-11-05 08:43] sdgun opened #112 "[$50] The copilot, manager and admin cannot create new categories outside of the code and document questions categories in challenge forums"
**Steps**
Go to the forums as a copilot, manager or admin user (link - https://vanilla.topcoder-dev.com/)
Click New discussion
Check the hierarchy

**Actual result**
These users can only create a category in code questions and document questions, but cannot create a category in the same hierarchy as code question and code documents
In the drop New discussion page, in category drop down, the challe

[2020-11-05 09:34] sandhiyakavi opened #113 "[UX issue] Draft saved message is displayed at the corner of the page and not viewable."
Description:

Draft saved message on clicking Save Draft button is displayed at the corner of the page and not viewable.

![image (14)](https://user-images.githubusercontent.com/55895538/98223478-81035700-1f95-11eb-8864-cd33411329b0.png)

[2020-11-05 09:38] jmgasper commented on #109
Contest https://www.topcoder.com/challenges/30148998 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 09:38] jmgasper commented on #109
@atelomycterus - Can you double check that the colours are consistent with the main site please?

[2020-11-05 09:39] jmgasper commented on #110
Contest https://www.topcoder.com/challenges/30148999 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 09:39] jmgasper commented on #110
Contest https://www.topcoder.com/challenges/30148999 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 09:39] jmgasper commented on #112
Contest https://www.topcoder.com/challenges/30149000 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 09:39] jmgasper commented on #112
Contest https://www.topcoder.com/challenges/30149000 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 09:39] jmgasper commented on #112
@atelomycterus - Do I need to tweak the permissions here?

[2020-11-05 09:40] jmgasper commented on #109
Contest https://www.topcoder.com/challenges/30148998 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 09:50] jmgasper commented on #108
@atelomycterus - Another permission issue - is there a good way to block users from this `New Discussion` page if they aren't logged in?

[2020-11-05 09:50] jmgasper commented on #108
Contest https://www.topcoder.com/challenges/30149001 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 10:00] sandhiyakavi opened #114 "Connect admin role user doesn't have privilege to admin functionalities."
Description:
Connect Admin role user (TCConAdmin) doesn't have privilege for admin functions.

1. Not able to attach files
2. Not able to edit/Delete other users post.

![image](https://user-images.githubusercontent.com/55895538/98226483-70ed7680-1f99-11eb-9eb0-5521ebb04e17.png)

[2020-11-05 10:12] sandhiyakavi commented on #114
Userhandle used TCConAdmin

[2020-11-05 10:15] sandhiyakavi opened #115 "Not able to delete the uploaded file from the post."
Description:

There is no option available to delete the uploaded file or image from the post.

![image](https://user-images.githubusercontent.com/55895538/98227882-3258bb80-1f9b-11eb-8697-efc1e21bb782.png)

[2020-11-05 10:18] sdgun commented on #87
@atelomycterus We have the test user 'TCConAdmin' in 'Connect Admin' role, but seems like this user does not have any admin permissions, because this user cannot do any admin functions like deleting posts, attaching files etc.

[2020-11-05 10:44] sandhiyakavi opened #116 "Able to upload all types of files using the image upload icon."
Description:
Able to upload all types of files using the image upload icon.

![image](https://user-images.githubusercontent.com/55895538/98231019-38509b80-1f9f-11eb-9442-c0fb2e0fb07c.png)
[image_upload.zip](https://github.com/topcoder-platform/forums/files/5493736/image_upload.zip)

[2020-11-05 10:56] sandhiyakavi opened #117 "[$30] Alignment issue in Move discussion popup"
Description:
Alignment issue in Move discussion popup

Steps to reproduce:

1. Login with credentials TonyJ
2. Go to any Challenge forum.
3. Click a particular Discussion.
4. Click the MeatBalls menu and click Move
5. Observe the Move Discussion pop up.

![image](https://user-images.githubusercontent.com/55895538/98326646-068a1400-2035-11eb-9897-3bb3fe1f4c3c.png)

[2020-11-05 12:55] atelomycterus commented on #94
@jmgasper Implemented. Please apply PRs:
https://github.com/topcoder-platform/challenge-forum-processor/pull/37
https://github.com/topcoder-platform/forums/pull/118

Thanks!

![image](https://user-images.githubusercontent.com/10196632/98243388-ef88ea80-1f7e-11eb-87a3-31ac2bab9a7a.png)

[2020-11-05 13:13] atelomycterus commented on #112
@jmgasper Category can be created by Vanilla Administrator in Admin site .
I can add a link ('add a category') to meet this requirement. The link will be visible for the topcoder roles :

We've added 'copilot' in a group (See https://github.com/topcoder-platform/forums/issues/88).
Should we add 'manager' in a group?

By admin user you mean  a user with the 'Connect Admin' role?

[2020-11-05 13:15] jmgasper commented on #108
Contest https://www.topcoder.com/challenges/30149001 has been updated - obog has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 16:04] atelomycterus commented on #87
@jmgasper  Please see the sdgun's comment. Let me know what permissions (deleting any posts/comments and so on) 'Connect Admin' role should have.  Now this role has view discussion/edit discussion/dismiss discussion/announce discussion/add comment/sink discussion/close discussion/move discussion permissions only.

[2020-11-05 16:46] atelomycterus commented on #109
@jmgasper Could you provide a refence to code which deployed in prod? So I can verify rating and all colors.

Topcoder Color plugin uses old colors that are slightly different from prod.

[2020-11-05 20:59] atelomycterus commented on #104
@jmgasper A bit stuck with this task. Filenames work correctly only if the file is loaded from the same host.

The files are now being uploaded to Filestack. Filestack url generates its names and removes extensions.
HTML5 provides the a [download] attribute which lets rename a file. If the file is downloaded from a remote host, then the 'download' attribute is ignored (https://developer.mozilla.or

[2020-11-05 21:08] jmgasper commented on #104
@rootelement - Any thoughts on ☝️ ?

[2020-11-05 21:09] jmgasper commented on #109
@atelomycterus - I've asked Topcoder admins for some help here.

[2020-11-05 21:09] jmgasper commented on #87
@atelomycterus - We can leave this as-is for now.  I don't think `Connect Admin` should have full admin rights.

[2020-11-05 21:10] jmgasper commented on #112
1.  Yes, let's add manager in a group
2.  No, we'll leave `Connect Admin` as-is for now

[2020-11-05 21:11] jmgasper commented on #117
@sandhiyakavi - How did you get to this popup?  What steps and what user?

[2020-11-05 21:20] jmgasper commented on #115
@sandhiyakavi - The file can be highlighted and deleted.

[2020-11-05 21:20] #115 closed

[2020-11-05 21:24] jmgasper commented on #108
Contest https://www.topcoder.com/challenges/30149001 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 21:25] jmgasper commented on #116
I don't think this is a bug.

[2020-11-05 21:25] #116 closed

[2020-11-05 21:26] jmgasper commented on #95
Contest https://www.topcoder.com/challenges/30149111 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 21:26] jmgasper commented on #95
Contest https://www.topcoder.com/challenges/30149111 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-05 22:07] jmgasper commented on #109
@atelomycterus - Stole this out of the arena code:

![Key](https://user-images.githubusercontent.com/21790/98301840-8ac9a080-200f-11eb-8069-c7996cb655ba.jpg)

[code]

[2020-11-05 23:14] rootelement commented on #104
@cwdcwd How is this handled with other uses of filestack? @ThomasKranitsas was this issue mitigated with the challenge api?

[2020-11-06 03:03] sdgun opened #119 "The forum link in the challenge page should open the forum in a separate tab"
**Steps**
Go to a challenge details page ex- https://qa-community-app.topcoder-dev.com/challenges/99ac6731-0c23-42a4-9193-abbde35b8394
Click CHALLENGE DISCUSSION link

**Actual result**
The forum is opened in the same tab

**Expected result**
The forum should be opened in a separate tab

[2020-11-06 03:16] sdgun opened #120 "Rename the link from forum to challenge as ''Back to Challenge Details page""
**Steps**
Go to a challenge overview - ex-https://vanilla.topcoder-dev.com/discussion/1514/challenge-overview/p1
See the link back to challenge page

**Expected result**
Rename to ''Back to Challenge Details page"

![image](https://user-images.githubusercontent.com/4592712/98322031-7fc14100-200c-11eb-9f4f-379dc6c2215b.png)

[2020-11-06 03:36] sdgun opened #121 "[$30] The forum overview shows a link to copilot and admin user, to which they don't have access"
**Steps**
Log into forums as Copilot or connect Admin
Go to a challenge overview - ex-https://vanilla.topcoder-dev.com/discussion/1514/challenge-overview/p1

There is a link which looks like an ip and when click on it shows 'Permission Problem' page. @jmgasper Not sure if we want this here, and the purpose of having it

![image](https://user-images.githubusercontent.com/4592712/98322957-b39d6600-2

[2020-11-06 04:39] sandhiyakavi commented on #117
@jmgasper Edited the issue Description

[2020-11-06 04:51] sdgun opened #122 "Discussion summary only allows 100 characters, the existing forum threads exist with more than 100 characters"
**Steps**
Go to the forum home page from a normal user(ex user- TopConnCustomer link - https://vanilla.topcoder-dev.com/)
Click New Discussion button
Enter more than 100 characters in the discussion title

**Actual result**
Only allows 100 characters

The existing forums allow more than 100 characters and there are already thread titles with > 100 characters(ex-https://apps.topcoder.com/forums/?mo

[2020-11-06 05:14] sdgun opened #123 "[$75] The recent discussions are listing challenges user does not have permission"
**Steps**
Go to a forum from a normal user(ex user- TopConnCustomer / link - https://vanilla.topcoder-dev.com/)
Click on Recent discussions
Click on the available discussions

**Actual result**
For some, the user doesn't have permissions

**Expected result**
Only list the user's recent discussions in this section

[Recent discussions.zip](https://github.com/topcoder-platform/forums/files/5499225/R

[2020-11-06 05:19] sandhiyakavi commented on #88
Verified. Able to access the Challenge Forum without Registration

![image](https://user-images.githubusercontent.com/55895538/98329207-0b51c680-203b-11eb-9f1c-97bf3a51f566.png)

[2020-11-06 05:26] sdgun opened #124 "[$75] The three options given when creating new discussions have the same functionality"
**Steps**
Go to a forum from a normal user or any user(ex user- TopConnCustomer / link - https://vanilla.topcoder-dev.com/)
Click New discussion button
See the three options under the editor
Create 3 discussions by selecting each of these options

![image](https://user-images.githubusercontent.com/4592712/98329240-c5d2d080-201d-11eb-8b12-d6d1e53294d9.png)

**Actual result**
The created discussions

[2020-11-06 05:57] sdgun opened #125 "[$50] There's no indication of new posts/comments so the Mark read functionality doesn't show any difference"
**Steps**
Go to a forum from a normal user which has unread posts/comments added by some other user (ex user- TopConnCustomer / link - https://vanilla.topcoder-dev.com/categories/48fb2a82-2d4b-449d-a7a1-150e735b5eb2)
Check if the unread category or threads under it are shown in bold or any other indicator to show new post/comment
Click on ellipsis on any thread
Click Mark Read

**Actual result**
T

[2020-11-06 05:58] sdgun commented on #85
Verified, stays on the same page after Marking as  read

[2020-11-06 06:20] sandhiyakavi opened #126 "[$75] The Documents uploaded in new discussion are not displayed properly in the notification email"
Description:

The Documents uploaded in new discussion are not displayed properly in the notification email

Steps to Reproduce:

1. Login as Copilot user.
2. Create a new discusssion in a challenge Forum.
3. Attach Images/Documents in the discussion created.
4. Observe the notification mail to the Manager (TCConManager)

Actual result:
The attached documents are not properly displayed in the mail

[2020-11-06 06:44] sdgun opened #127 "[$50] When marking a discussion read, the time is changed in other discussion categories too, and the time is changing to a past time"
**Steps**
1 Go to a forum from a normal user (ex user- TopConnCustomer / link - https://vanilla.topcoder-dev.com/categories/99ac6731-0c23-42a4-9193-abbde35b8394)
2 Observe the time on the two categories
3 Log in from another user to the same thread from a different browser and add a comment to one of the threads
4 Come back to the normal user's page and reload the page and observe the time(changin

[2020-11-06 06:49] sdgun commented on #102
@jmgasper This issue still exists, the user cannot edit comment after 1 hour

[Edit issue.zip](https://github.com/topcoder-platform/forums/files/5499618/Edit.issue.zip)

[2020-11-06 06:50] jmgasper commented on #119
@sdgun - Moved this into the community app:  https://github.com/topcoder-platform/community-app/issues/5169

[2020-11-06 06:50] #119 closed

[2020-11-06 06:51] sdgun commented on #77
Verified in Dev, this issue is fixe.

[2020-11-06 06:53] jmgasper commented on #120
Done, for newly created challenges:
![Screen Shot 2020-11-06 at 17 52 49](https://user-images.githubusercontent.com/21790/98335384-f2f0a480-2058-11eb-9503-c33ba6b72fe0.png)

[2020-11-06 06:53] sdgun commented on #79
Verified, this issue is fixed.

[2020-11-06 06:53] jmgasper commented on #121
Contest https://www.topcoder.com/challenges/30149184 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:53] jmgasper commented on #121
Contest https://www.topcoder.com/challenges/30149184 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:54] jmgasper commented on #121
@atelomycterus - Can we remove that please?

[2020-11-06 06:54] jmgasper commented on #117
Contest https://www.topcoder.com/challenges/30149185 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:54] jmgasper commented on #117
Contest https://www.topcoder.com/challenges/30149185 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:54] jmgasper commented on #117
@atelomycterus - Can we just disable moving in the UI please?

[2020-11-06 06:55] jmgasper commented on #122
@rootelement - Do you think this one needs to be fixed?  This may require Vanilla source code changes.

[2020-11-06 06:55] jmgasper commented on #77
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:55] jmgasper commented on #123
Contest https://www.topcoder.com/challenges/30149188 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:55] jmgasper commented on #123
Contest https://www.topcoder.com/challenges/30149188 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 06:57] jmgasper commented on #79
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:25] jmgasper commented on #124
Contest https://www.topcoder.com/challenges/30149311 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:25] jmgasper commented on #124
Contest https://www.topcoder.com/challenges/30149311 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:25] jmgasper commented on #124
@atelomycterus - I'm open to suggestions here.

[2020-11-06 08:31] jmgasper commented on #125
Contest https://www.topcoder.com/challenges/30149315 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:31] jmgasper commented on #125
Contest https://www.topcoder.com/challenges/30149315 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:31] jmgasper commented on #125
@atelomycterus - Did we turn off this notification because the count was wrong on groups?  Anything we can do to make it more accurate?

[2020-11-06 08:31] atelomycterus commented on #91
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/128
https://github.com/topcoder-platform/forums-groups-plugin/pull/16

Thanks!

### Developer Notes
'EnableCategorygiFollowing' works only with 'Discussions' categories.

### Changes
1. Default settings:
$Configuration['Vanilla']['EnableCategorygiFollowing'] = true;

2. Added a menu link 'Follow Categories' / 'Unfollow Ca

[2020-11-06 08:32] jmgasper commented on #102
@sdgun - Fixed

[2020-11-06 08:33] jmgasper commented on #126
Contest https://www.topcoder.com/challenges/30149318 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:33] jmgasper commented on #126
Contest https://www.topcoder.com/challenges/30149318 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:34] jmgasper commented on #127
Contest https://www.topcoder.com/challenges/30149319 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 08:34] jmgasper commented on #127
Contest https://www.topcoder.com/challenges/30149319 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 09:01] jmgasper opened #129 "[$30] Errors in challenge forum processor log"
@atelomycterus - Low priority, but I'm seeing some errors in the logs in dev:

[code]

[2020-11-06 09:01] jmgasper commented on #129
Contest https://www.topcoder.com/challenges/30149323 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 09:01] jmgasper commented on #129
Contest https://www.topcoder.com/challenges/30149323 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-06 09:45] atelomycterus commented on #93
@jmgasper  Please apply PRs -https://github.com/topcoder-platform/forums/pull/130
https://github.com/topcoder-platform/challenge-forum-processor/pull/38/

Thanks!

### Changes
registered users -> follow all group's categories
unregistered users -> unfollow all group's categories

After user added by a challenge forum processor:
![image](https://user-images.githubusercontent.com/10196632/98348241-8

[2020-11-06 10:41] atelomycterus commented on #129
@jmgasper  The challenge forum processor handles only  "USER_REGISTRATION","USER_UNREGISTRATION" from 'challenge.notification.events'.

[code]

Challenge forum processor:
"challenge.notification.create" - create a group and other Vanilla entities
"challenge.notification.update" - update group's name + root category's name
"challenge.notification.events" - "USER_REGISTRATION","USER_UNREGISTRATION"

[2020-11-06 10:45] atelomycterus commented on #125
@jmgasper Yes, count labels are hidden. It is necessary to count the number of new posts, taking into account the user's rights in  groups.

[2020-11-06 11:24] atelomycterus commented on #112
@jmgasper Fixed PR - https://github.com/topcoder-platform/challenge-forum-processor/pull/38.
All members with 'manager' added by a challenge processor.

[2020-11-06 11:30] sandhiyakavi opened #131 "User able to access challenge though their Copilot role is removed in Connect."
Description:

**TCConnCopilot** able to access challenge (https://qa-community-app.topcoder-dev.com/challenges/c785937b-57dc-461b-8a0a-45ebc3bad0b4) under the Testing 2020 project (https://connect.topcoder-dev.com/projects/16665)  though the user's Copilot role is removed in Connect and not having any role (Observer/reviewer/submitter/Manager) in the challenge.

Challenge detail Page:
![image](htt

[2020-11-06 14:10] rootelement commented on #122
No. This is a fine limitation. There's no need for a title that long.

[2020-11-06 14:12] rootelement commented on #98
@sdgun what's not working. The link I posted above works. Are you saying you created a challenge and it didn't make a forum? Or it did but the community app link isn't taking you to the vanilla instance? What are the steps?

[2020-11-06 14:15] rootelement commented on #103
Correct

[2020-11-06 14:16] sdgun commented on #98
@rootelement It was broken yesterday and luizrrodrigues fixed it https://topcoder.slack.com/archives/CDS7DUUR0/p1604580408271800?thread_ts=1604554177.255900&cid=CDS7DUUR0

[2020-11-06 17:12] atelomycterus commented on #112
@jmgasper Adding a category from Vanilla site:
Please apply PR- https://github.com/topcoder-platform/forums-groups-plugin/pull/17
https://github.com/topcoder-platform/forums/pull/130
Thanks!

### Testing
Disable/Enable Groups plugin to add permissions and update roles in DB

### Questions
We have a lot of roles. It is necessary to clarify the Topcoder roles will be used to check certain permission

[2020-11-06 18:54] atelomycterus commented on #121
@jmgasper Please apply PR https://github.com/topcoder-platform/forums/pull/130. Thanks!

Vanilla has 'Garden.PersonalInfo.View' permission.  IpAddress is personal info.
User without 'Garden.PersonalInfo.View' is allowed to view details.

Removed from discission and comment:
![image](https://user-images.githubusercontent.com/10196632/98403788-91413200-207a-11eb-9a6e-1c44fec2a8f4.png)

[2020-11-06 18:57] atelomycterus commented on #123
@jmgasper  Should project members with 'customer' role be added to a group by a challenge forum processor?

[2020-11-06 19:32] atelomycterus commented on #109
@jmgasper Thanks! Please clear browser cache before testing.

[2020-11-06 20:06] atelomycterus commented on #117
@jmgasper Fixed. Please apply PR https://github.com/topcoder-platform/forums-groups-plugin/pull/17. Thanks!

[2020-11-06 20:12] atelomycterus commented on #95
@jmgasper @sdgun Do you mean sorting by last post in the old forum?

![image](https://user-images.githubusercontent.com/10196632/98410321-8213b180-2085-11eb-90c7-80d5ca17461a.png)

[2020-11-06 20:37] atelomycterus commented on #127
Useful links:
https://open.vanillaforums.com/discussion/23691/incorrect-time-zone-issue
https://www.php.net/manual/en/timezones.php

[2020-11-06 21:12] atelomycterus commented on #108
@jmgasper Couldn't reproduce it my local env but I see it on vanilla.topcoder-dev.com. The button shouldn't be displayed for Guest. Vaniila code looks ok.  It looks like the session is still existing after sign out. I've added logging, so I'll take a look at it after deploying.

Also I noticed yesterday the same issues https://github.com/topcoder-platform/forums/issues/107.
No errors in `cw -p top

[2020-11-07 01:42] jmgasper commented on #127
Ok - I'm going to park this one for now until we're able to query user timezone details from the API

[2020-11-07 01:50] jmgasper commented on #95
Yes, that's correct

[2020-11-07 02:02] jmgasper commented on #123
@atelomycterus - Yes, please.

[2020-11-07 02:07] jmgasper commented on #112
[code]

@atelomycterus - I have similar questions out to Topcoder.  No one really seems to know how the roles are setup and how they're used.  I'll mark this as complete and we'll wait on TC to provide more details if we need tohanges things further, thanks.

[2020-11-07 02:10] #98 closed

[2020-11-07 02:30] #122 closed

[2020-11-07 02:32] jmgasper commented on #131
@rootelement - What do you think about this one?  I don't think that OR will raise any sort of Kafka event if this happens, so I don't think there's much we can do.  If a challenge.action.resource.delete event was raised, it would be handled automatically.

To me, this seems like an edge case.

[2020-11-07 11:01] atelomycterus commented on #112
@jmgasper I've found it. https://github.com/topcoder-platform/tc-project-service/blob/develop/docs/guides/permissions-guide/permissions-guide.md.  So I've started working on a tree view. After that I'll review roles & permissions in our plugins.

[2020-11-07 21:33] jmgasper commented on #112
@atelomycterus - Great, thanks!  I'll bookmark that for myself :)

[2020-11-08 21:09] jmgasper opened #132 "[$40] Group consistency"
@atelomycterus - We're still using "Groups" in a few spots - can we change this to "Challenges" please?

I'm thinking we're going to need to differentiate between a "Challenge Group" and a regular "Group", so I'll log something else to go along with that.

![Screen_Shot_2020-11-09_at_08_00_43](https://user-images.githubusercontent.com/21790/98484345-db850780-2262-11eb-90c3-aab99ba03932.png)

[2020-11-08 21:09] jmgasper commented on #132
Contest https://www.topcoder.com/challenges/30149665 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:11] jmgasper commented on #132
Contest https://www.topcoder.com/challenges/30149665 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:22] atelomycterus commented on #92
@jmgasper Keep you updated:

Implemented:
- Nested comments supported
- Added 'Reply' link in Comment Options
- Added View options: Flat (default) | Tree
![image](https://user-images.githubusercontent.com/10196632/98484088-24ff3380-221e-11eb-888a-ca69d8acc144.png)

The old forum has 3 view options (flat/tree/threaded). Do we need all 3 options?

TODO:
- add a view without comment's body
![image](h

[2020-11-08 21:24] jmgasper opened #133 "[$300] Differentiate between a challenge group and a regular group"
@atelomycterus - There's some user feedback we've gotten that the groups structure is a bit confusing for challenges vs. regular groups, especially since we're going to support the public round tables in the future, after the challenges are moved over.

What I think we should do:

1.  Separate out "Challenge" from "Groups", so we'd have two separate sections under `https://vanilla.topcoder-dev.com

[2020-11-08 21:24] jmgasper commented on #133
Contest https://www.topcoder.com/challenges/30149668 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:24] jmgasper commented on #133
Contest https://www.topcoder.com/challenges/30149668 has been updated - it has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-08 21:25] jmgasper opened #134 "[$30] Update link on challenge discussions"
@atelomycterus - Topcoder would like the link shown below to go back to the Topcoder site's challenge page (`/challenges/{challenge ID}`), as opposed to the forum challenge group, if possible.

![Screen_Shot_2020-11-09_at_08_22_58](https://user-images.githubusercontent.com/21790/98484649-1be58500-2265-11eb-846e-df5187444536.png)

[2020-11-08 21:25] jmgasper commented on #134
Contest https://www.topcoder.com/challenges/30149669 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```