[2021-04-05 17:24] atelomycterus commented on #484
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/536
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/18/
https://github.com/topcoder-platform/forums-theme/pull/35

Thanks!

### Testing
Please clear browser cache before testing.
![image](https://user-images.githubusercontent.com/10196632/113603689-e9418c00-964c-11eb-95b5-aa6b8af4ce02.png)

[2021-04-05 17:27] atelomycterus commented on #535
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/536
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/18/
https://github.com/topcoder-platform/forums-theme/pull/35

Thanks!

### Testing
Please clear browser cache before testing.

Adding a new comment:
![image](https://user-images.githubusercontent.com/10196632/113603950-463d4200-964d-11eb-9e8f-4bc

[2021-04-05 19:45] atelomycterus commented on #519
@jmgasper I also think the account has been paid but I am confused by  this message. I think this is about my account.
![image](https://user-images.githubusercontent.com/10196632/113613625-282a0e80-965a-11eb-9bb4-74436b344235.png)

I was able to create a new env ( `dev`) for Topcoder account. So it looks working. Now Tideways configuration has 2 envs:
![image](https://user-images.githubusercontent

[2021-04-05 20:09] atelomycterus commented on #523
@jmgasper I am verifying this issue. The CountWatchedCategories wasn't updated.  I noticed you applied PR, deployed, reverted the commit and deployed again.

Vanilla Bootstrap is done once on the first request. I checked Vanilla logs, there were no requests between 2 deploys, so the update sql wasn't executed.

Please let me know if there were some reasons/issues to revert it.

[2021-04-05 20:11] atelomycterus commented on #487
@jmgasper I'm working on this task.

[2021-04-05 22:11] jmgasper commented on #519
@atelomycterus - Deploying now, thanks.  We'll be deploying to prod in a few days, so if there's anything else we need to do there, other than merge from develop --> master, please let me know.

[2021-04-05 22:24] #483 closed

[2021-04-05 22:25] jmgasper commented on #483
Payment task has been updated: https://www.topcoder.com/challenges/f9aa7ade-18fb-404a-b62e-a43faf1042dc
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f9aa7ade-18fb-404a-b62e-a43faf1042dc` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 22:25] #484 closed

[2021-04-05 22:26] jmgasper commented on #484
Payment task has been updated: https://www.topcoder.com/challenges/e83900f3-d28d-415e-8df8-a9e1e974ea19
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `e83900f3-d28d-415e-8df8-a9e1e974ea19` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 22:29] jmgasper commented on #535
Payment task has been updated: https://www.topcoder.com/challenges/f5f96124-617d-411d-940d-6f1d91e9db84
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f5f96124-617d-411d-940d-6f1d91e9db84` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 22:29] jmgasper commented on #524
@atelomycterus - Not sure where my comment went, but I'll post it again.  Sorry for the delay:

1.  Yes, we can remove `Old` and replace the options with the options in the requirements
2. Correct
3. Correct

[2021-04-05 22:30] jmgasper commented on #521
@atelomycterus - Here are the `term` IDs for NDA required in both dev and prod:

- Prod NDA UUID: `c41e90e5-4d0e-4811-bd09-38ff72674490`
- Dev NDA UUID: `e5811a7b-43d1-407a-a064-69e5015b4900`

[2021-04-05 22:31] jmgasper commented on #523
@atelomycterus - After deploying the first time (before the revert), the app failed to respond to requests - it just constantly threw 500 errors in dev.  I reverted that commit, redeployed and it worked.  Not sure why 🤷

[2021-04-06 04:33] sdgun commented on #523
@atelomycterus Can you please provide me the Rest API details to add/remove this user?

[2021-04-06 05:20] sdgun commented on #483
@jmgasper This same issue is there with discussions too, are we only fixing this in comments?

![image](https://user-images.githubusercontent.com/4592712/113662502-d919c300-96c5-11eb-9fd4-bdf853e14a3a.png)

[2021-04-06 05:36] jmgasper commented on #483
@sdgun - Thanks for catching that - I'll log a separate issue.

[2021-04-06 05:37] jmgasper opened #538 "[$20] Empty message / message too long when creating a discussion"
@atelomycterus - We need to apply the new look and feel for:

* Empty message
* Message too long

to new discussions as well:

This same issue is there with discussions too, are we only fixing this in comments?

![image](https://user-images.githubusercontent.com/4592712/113662502-d919c300-96c5-11eb-9fd4-bdf853e14a3a.png)

[2021-04-06 05:37] jmgasper commented on #538
Challenge https://www.topcoder.com/challenges/3d07fc2c-c66d-4061-bf94-63ebde123d5b has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 05:37] jmgasper commented on #538
Challenge https://www.topcoder.com/challenges/3d07fc2c-c66d-4061-bf94-63ebde123d5b has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 05:40] sdgun opened #539 "[$20] Comment text field is not cleared after replying a comment"
**Steps**
Go to any discussion
Click Reply to a comment/discussion
Add a reply
Check the comment text area

**Actual behavior**
Comment text field is not cleared after replying a comment

**Expected behavior**
Comment text field should be cleared

https://user-images.githubusercontent.com/4592712/113664027-ab824900-96c8-11eb-886b-2906f81af749.mp4

[2021-04-06 05:42] sdgun opened #540 "[$20] Quote is not working when user tries to quote any comment/discussion after editing a comment"
**Steps**
Go to any discussion
Edit any comment/discussion
Click Quote on any comment/discussion on the page

**Actual behavior**
Quote is not working when user tries to quote any comment/discussion after editing a comment

**Expected behavior**
Quote should work

https://user-images.githubusercontent.com/4592712/113664223-fe5c0080-96c8-11eb-8ab2-af88164bc546.mp4

[2021-04-06 05:44] jmgasper commented on #539
Challenge https://www.topcoder.com/challenges/6fc16864-6e4a-4b2a-bfad-d158052f94a4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 05:44] jmgasper commented on #539
Challenge https://www.topcoder.com/challenges/6fc16864-6e4a-4b2a-bfad-d158052f94a4 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 05:44] jmgasper commented on #540
Challenge https://www.topcoder.com/challenges/a5455d97-e520-4c59-b683-028ecdcd686d has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 05:44] jmgasper commented on #540
Challenge https://www.topcoder.com/challenges/a5455d97-e520-4c59-b683-028ecdcd686d has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 05:54] sdgun opened #541 "Clicking preview before entering a text shows the "Cannot post an empty message" error message"
**Steps**
Go to any discussion
Click Preview without entering anything in the comment text field

**Actual behavior**
Shows error message "Cannot post an empty message"

**Expected behavior**
Before we implement this error message fixes, we allowed previewing when no text is entered

https://user-images.githubusercontent.com/4592712/113665147-96a6b500-96ca-11eb-9ad6-79f142c2452a.mp4

[2021-04-06 05:55] jmgasper commented on #541
I think this is fine now - no need to allow previewing an empty message.

[2021-04-06 05:55] #541 closed

[2021-04-06 06:09] sdgun commented on #483
Verified in Dev with comments(empty/spaces/auto saving) the expected error message is displayed with the red outline. When logged in from a user with upload access, the upload icon disappears when this error is displayed, but it reappears when user enters some text.

https://user-images.githubusercontent.com/4592712/113666246-a1624980-96cc-11eb-8b1a-b1ed9d30987d.mp4

[2021-04-06 06:42] sdgun commented on #535
@atelomycterus I entered a long text(characters 15946 according to https://www.charactercountonline.com/)
[long text.txt](https://github.com/topcoder-platform/forums/files/6262589/long.text.txt), the comment text field is outlined in red and shows the error message "Comment is 2 characters too long". Then I deleted two characters so the red outline disappears but it shows the error "Body is 56 cha

[2021-04-06 07:06] atelomycterus commented on #523
@jmgasper I've updated Debug plugin. Please apply -https://github.com/topcoder-platform/forums-plugins/pull/83. Thanks!

The update query caused the 500 error. TRADITIONAL SQL mode converts all sql warnings to errors. So we get the 500 error when executing the update sql query. It might be due to some sql modes (NO_UNSIGNED_SUBTRACTION and others).  It looks like my local DB settings are different

[2021-04-06 07:07] sdgun commented on #522
@atelomycterus I think you are telling even if the 'New Here & Getting Started' is not in watched status, since General is in watched status, when a user creates a new discussion/comment the notification should be sent. But it is not happening now. Notifications are not sent out in this scenario.

[2021-04-06 07:18] atelomycterus commented on #523
@sdgun

I've added `sdguntcqa` to https://vanilla.topcoder-dev.com/group/members/185. I let you know when you can verify other users. The issue with an update query exists.
![image](https://user-images.githubusercontent.com/10196632/113672618-ac16e180-96c0-11eb-8c7a-33735b994300.png)

[2021-04-06 07:25] sdgun commented on #484
Verified in Dev.

[2021-04-06 07:28] sdgun commented on #518
Verified in Dev, this issue is fixed.

![image](https://user-images.githubusercontent.com/4592712/113674344-b85a6900-96d7-11eb-95a2-f2362b70a7a0.png)

[2021-04-06 07:33] atelomycterus commented on #522
@jmgasper @sdgun thanks for the verification. As I expected notifications are not sent out in this scenario.

-'General' (type=nested). User watches the category but notifications are not sent out for any categories underneath.  Vanilla doesn't send notification in this scenario. It might be confusing. So we need to implement notifications or don't show the eye ball icon for such categories(type=n

[2021-04-06 07:36] sdgun commented on #528
Verified in Dev checked with comments, discussions, edits, replies.

![image](https://user-images.githubusercontent.com/4592712/113675319-dc6a7a00-96d8-11eb-8d35-52df7264c355.png)

[2021-04-06 07:39] atelomycterus commented on #483
@sdgun @jmgasper

The default message is hidden in the status bar when the error is displayed. Please let me know if it's confusing. I'll fix it.

[2021-04-06 07:42] atelomycterus commented on #538
@jmgasper Yes, it was implemented for comments only. Vanilla has different js code for discussion/comment forms.

[2021-04-06 08:38] atelomycterus commented on #519
@jmgasper I still don't see any data for dev.  I'll check logs.

Before deploying on PROD, we need to fix https://github.com/topcoder-platform/forums/issues/523. Otherwise, watching count will be not not correct.

Keep you updated.

[2021-04-06 10:27] sdgun commented on #506
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/113697400-c5378680-96f0-11eb-98a9-d4b0bba5dc89.png)

[2021-04-06 11:12] sdgun commented on #529
Verified in Dev with comments and discussions.

[2021-04-06 11:54] atelomycterus commented on #523
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/542.

On Dev the previous update query completed with the error. I've rewritten it. Now it's working as expected.
![image](https://user-images.githubusercontent.com/10196632/113706549-7afdd780-96e7-11eb-8df5-5ebe54ae4887.png)

@sdgun You can verify this issue.

[2021-04-06 17:29] atelomycterus commented on #519
@jmgasper Updated Tideways configuration.
Before I configured one dockerized Tideways daemon for all envs but I don't have permissions to see logs in dependecy containers and understand why it didn't work.  So I made it simpler and Tideways daemon is installed in Vanilla container. Now we can see logs and check it.

Please apply PR-https://github.com/topcoder-platform/forums/pull/543. Thanks!

Van

[2021-04-06 21:42] atelomycterus commented on #519
@jmgasper Need help to create a service. I don't have admin permission. The service should be named 'web'.

The service is created automatically for a trial account only.
![image](https://user-images.githubusercontent.com/10196632/113781707-c2ad4f00-9739-11eb-8835-5a3ba5c9152c.png)

[2021-04-06 22:32] jmgasper commented on #519
@atelomycterus - The service should be created now:

<img width="1218" alt="Screen Shot 2021-04-07 at 8 32 16 am" src="https://user-images.githubusercontent.com/21790/113786070-c3ff6b80-977b-11eb-9815-1aab0dc67e7a.png">

[2021-04-06 22:44] #523 closed

[2021-04-06 22:45] jmgasper commented on #523
Payment task has been updated: https://www.topcoder.com/challenges/ee1ce89c-adb8-41f7-bdbc-067fc2389896
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ee1ce89c-adb8-41f7-bdbc-067fc2389896` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-06 22:45] jmgasper commented on #535
@atelomycterus ☝️

[2021-04-07 03:52] jmgasper commented on #519
@atelomycterus - Reported by @sdgun:

https://vanilla.topcoder-dev.com/discussion/3130/perf-test

Is taking a long time to load.  Used to be max 6 seconds, now about a minute - not specific to any particular user.  I see a similar issue in an incognito window, without logging in.  Is that something we see in Tideways?

[2021-04-07 04:14] sdgun opened #544 "[$30] Watch Forum/stop watching forum tool tips are not available"
**Steps**
Go to any discussion and hover over the watch icon

tool tips are not available, but according to the Marvel app Watch Forum/stop watching forum tool tips should be displayed.

![image](https://user-images.githubusercontent.com/4592712/113809248-58220080-9785-11eb-9a71-8015020a07d5.png)

![image](https://user-images.githubusercontent.com/4592712/113809435-b8b13d80-9785-11eb-9c02-2f4f628e

[2021-04-07 04:44] sdgun commented on #523
Verified with multiple users, the watching list is showing the counts correct.

[2021-04-07 05:12] sdgun commented on #511
Verified in Dev, the replies are displayed under the correct comment.

[2021-04-07 05:44] jmgasper commented on #522
@atelomycterus - I think we should add notifications for nested categories - that would be useful for folks, I think.

[2021-04-07 05:44] jmgasper commented on #522
Challenge https://www.topcoder.com/challenges/c97cdfd1-c129-40db-9888-21b717498696 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-07 05:44] jmgasper commented on #522
Challenge https://www.topcoder.com/challenges/c97cdfd1-c129-40db-9888-21b717498696 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-07 06:01] sdgun commented on #479
Verified in Dev.

checked the below scenarios:
- Watching list from normal/copilot/manager user
- Unwatching from normal/copilot/manager user
- watching after unregistering - normal users
- watching counts

[2021-04-07 07:12] atelomycterus commented on #519
@jmgasper
I've checked  Tideways API Key has been configured on DEV. The checklist of all the potential problems that are the cause for no data being transmitted to the Tideways backend:
-Check the daemon if it is running.
-To find out if data gets transmitted, take a look at the tideways-daemon logfile. Check connection from docker to the Tideways server.
-Add TIDEWAYS_DAEMON_EXTRA="–debug". Use 

[2021-04-07 07:27] atelomycterus commented on #519
@jmgasper  Need redeploy it. The last job was failed. This commit includes Tideways changes
![image](https://user-images.githubusercontent.com/10196632/113827337-dbdeeb80-978b-11eb-8936-21cfe7ab10be.png)

The deployed container doesn’t includes the last changes with Tideways.

Thanks!

[2021-04-07 10:46] atelomycterus commented on #519
@jmgasper Please apply PR:
- https://github.com/topcoder-platform/forums/pull/545
- https://github.com/topcoder-platform/forums-plugins/pull/84

Thanks!
The Tideways log path is hardcoded for security reason.
![image](https://user-images.githubusercontent.com/10196632/113853237-18b7dc00-97a6-11eb-9c03-4f7f34417c96.png)
if the daemon is working then you should see the next log records. `Collected X

[2021-04-07 11:39] atelomycterus commented on #519
@jmgasper Vanilla logs are available. In Vanilla logs:
[code]
I'll updated dockerfiles to ensure files are executable in a container. Please apply PR-https://github.com/topcoder-platform/forums/pull/546. Thanks!

[2021-04-07 20:34] atelomycterus commented on #487
@jmgasper  Almost implemented. A few questions/notes below.

Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/546
- https://github.com/topcoder-platform/forums-theme/pull/36
Thanks!

A few questions/notes
1. By default the first category is active (expanded). Let me know if you want to change it (expand/collapse  all/specific categories).
2.  In MarvelApp if clicking on `Genera

[2021-04-07 20:55] atelomycterus commented on #544
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/547/. Fixed.

[2021-04-07 22:30] jmgasper opened #548 "[$200] Left nav for homepage"
As discussed in #487, we need to make sure the updated left nav is applied when the user drills down into public forums:

<img width="1452" alt="Screen_Shot_2021-04-08_at_8_28_35_am" src="https://user-images.githubusercontent.com/21790/113942697-94686600-9844-11eb-9218-d7ef058d4ca5.png">

[2021-04-07 22:30] jmgasper commented on #548
Challenge https://www.topcoder.com/challenges/291bd147-7eac-47e7-a996-16c56ee551d3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-07 22:30] jmgasper commented on #548
Challenge https://www.topcoder.com/challenges/291bd147-7eac-47e7-a996-16c56ee551d3 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-07 22:30] jmgasper commented on #519
Closing this out since Tideways integration is working now.  Will deploy to prod tomorrow.

[2021-04-07 22:30] #519 closed

[2021-04-07 22:31] jmgasper commented on #519
Payment task has been updated: https://www.topcoder.com/challenges/82eee8b6-b34e-4178-af61-2d61f25a605c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `82eee8b6-b34e-4178-af61-2d61f25a605c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-07 22:34] jmgasper commented on #487
1.  Let's expand all by default
2. It's going back to the homepage, with the `General` category open.  I think that should be the case for any breadcrumb - can we automatically open up the parent category and scroll to it?  For instance, if `News` is the breadcrumb, we would be redirected back to the homepage, but `News` would be expanded and scrolled to
3. We can leave that off for now since I do

[2021-04-07 22:39] jmgasper opened #549 "[$200] URL unfurl / preview investigation"
@atelomycterus - Not sure what we can do about this, and this is lower priority than anything we currently have logged, but Topcoder has this requirement.  Can you investigate and let me know if this is something we can do please?  I'll adjust the payment upwards based on how difficult this may be.

Essentially the unfurled URL preview would just look like this for anything that "unfurls" a URL, l

[2021-04-07 22:39] jmgasper commented on #549
Challenge https://www.topcoder.com/challenges/d0abeae1-a5d8-493c-80f4-4fadb4330a55 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-07 22:39] jmgasper commented on #549
Challenge https://www.topcoder.com/challenges/d0abeae1-a5d8-493c-80f4-4fadb4330a55 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-08 05:41] sdgun commented on #544
@atelomycterus The tip is not displayed at the challenge forum level.

https://user-images.githubusercontent.com/4592712/113974147-12d00280-985b-11eb-8543-da52d860e41c.mp4

[2021-04-08 07:57] sdgun opened #550 "[$40] Public forums link is present before login in"
**Steps**
Go to https://vanilla.topcoder-dev.com/

In the design(https://marvelapp.com/prototype/c06bg41/screen/77911783) there is no 'Public Forums' link in the left nav before login in, but we have it  in Dev

![image](https://user-images.githubusercontent.com/4592712/113989234-deb20d00-986d-11eb-88f6-93be6c37467e.png)

[2021-04-08 08:10] sdgun opened #551 "When expanding other sections, while General section is expanded, the focus is not happening correct"
**Steps**

- Go to Forums home page(log in or log out view)
- While General section is expanded, click on other sections to expand them

The page scrolls down and does not focus on the relevant section

https://user-images.githubusercontent.com/4592712/113991327-fd190800-986f-11eb-8fd1-e4a1f989ce09.mp4

[2021-04-08 08:20] jmgasper commented on #551
@atelomycterus - Can we fix this one before the deploy tomorrow please?

[2021-04-08 09:22] atelomycterus commented on #551
@jmgasper sure, I’ll be at home in 1,5 hours and fix it ASAP + home redesign breadcrumbs.

[2021-04-08 12:11] atelomycterus commented on #487
@jmgasper Ready for review. Please apply PR-https://github.com/topcoder-platform/forums/pull/552.

[2021-04-08 12:12] atelomycterus commented on #551
@jmgasper Fixed. Please apply https://github.com/topcoder-platform/forums/pull/552. Thanks!

[2021-04-08 12:36] atelomycterus opened #553 "[$50] Updated UI: Discussion button moved from the left nav"
@jmgasper  the discussion button moved from the left nav in MarvelApp:
Screen https://marvelapp.com/prototype/c06bg41/screen/77911790

![image](https://user-images.githubusercontent.com/10196632/114027561-29d51b80-9880-11eb-8f9a-46fd24031427.png)

The current design:
![image](https://user-images.githubusercontent.com/10196632/114027304-e5498000-987f-11eb-9bdf-0b3171dafa30.png)

[2021-04-08 12:43] atelomycterus opened #554 "[$150] Updated UI: Challenge Forums page"
@jmgasper In MarvelApp Challenge Forums page:
 - Added Sorts
 - Last discussions, Count Of Discussion/Comments
![image](https://user-images.githubusercontent.com/10196632/114028162-d6170200-9880-11eb-8b88-f7bdf050f806.png)

The current design:
![image](https://user-images.githubusercontent.com/10196632/114028420-1fffe800-9881-11eb-9849-b43a61f9012b.png)

[2021-04-08 12:44] atelomycterus commented on #550
@jmgasper In MarvelApp 'Public Forums' (the left nav) has been removed from Home page for guests but it's always displayed for logged users.

Should 'Public forums' be displayed in the left nav if guests navigate between forums/discussions? Should it be hidden from Home page only?

I logged other changes:
 - https://github.com/topcoder-platform/forums/issues/553
 - https://github.com/topcoder-plat

[2021-04-08 13:13] atelomycterus commented on #549
@jmgasper Yes, we can implement it. The main steps: request an url, get a HTML page,  parse the HTML content by referring the title, meta and img tag names to get the page title, description and the image URLs, respectively.
These data are encoded into a JSON array and returned as the AJAX response.  Show preview on the browser.

I'll try to do like the screen. This is a page preview in Slack. The

[2021-04-08 14:43] atelomycterus commented on #544
@sdgun @jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/77. Thanks!  I didn't push updated code for a group plugin yesterday. Sorry about that.

[2021-04-08 15:12] atelomycterus commented on #540
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/19. Thanks!

[2021-04-08 15:17] atelomycterus commented on #539
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/19. Thanks!

[2021-04-08 15:22] atelomycterus commented on #535
@sdgun I'll check how Vanilla counts comment body length on the server side.  Keep you  updated.

[2021-04-08 22:27] #551 closed

[2021-04-08 22:39] jmgasper commented on #540
@atelomycterus - Is "Edit" now going to a new page?  In dev, I'm seeing this open up a completely new page instead of editing in-place.

[2021-04-08 22:40] jmgasper commented on #539
@atelomycterus - "Reply" isn't working at all in dev.  I'm redeploying just to make sure that it wasn't a problem with the last deploy.

[2021-04-08 23:28] atelomycterus commented on #540
@jmgasper Please clear browser cache.
I’ve verified both tickets on mobile. It works as expected.
![CCCE968E-256B-4EB6-87DD-4C5E2CD8BDF5](https://user-images.githubusercontent.com/10196632/114108084-fecbe580-98da-11eb-850b-23be2f38a940.png)
![278A634F-DA8A-49DD-82CA-DE7B7759F90C](https://user-images.githubusercontent.com/10196632/114108088-012e3f80-98db-11eb-824a-52935a8151b9.png)

[2021-04-08 23:35] atelomycterus commented on #540
Comment is edited in place. Discussion is edited in a new page. This is a default Vanilla behavior. We have fixed Quotes plugin only.

[2021-04-09 00:02] jmgasper commented on #540
@atelomycterus - Yeah, I think this was either cache or a bad deployment.  Working now, thanks!

[2021-04-09 00:02] #540 closed

[2021-04-09 00:03] jmgasper commented on #540
Payment task has been updated: https://www.topcoder.com/challenges/a5455d97-e520-4c59-b683-028ecdcd686d
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a5455d97-e520-4c59-b683-028ecdcd686d` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 00:03] #539 closed

[2021-04-09 00:04] jmgasper commented on #539
Payment task has been updated: https://www.topcoder.com/challenges/6fc16864-6e4a-4b2a-bfad-d158052f94a4
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `6fc16864-6e4a-4b2a-bfad-d158052f94a4` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 01:59] sdgun commented on #551
Verified in Dev, this issue is fixed.

[2021-04-09 02:07] sdgun commented on #539
Verified in Dev.

[2021-04-09 02:11] sdgun commented on #540
Verified in Dev.

[2021-04-09 02:22] sdgun opened #555 "[$40] Challenge Forums should not include “Home” in their breadcrumb and begin at “Challenge Forums”"
**Steps**
Go to any challenge forum and see the breadcrumb

The https://github.com/topcoder-platform/forums/issues/487 description says: Challenge Forums should not include “Home” in their breadcrumb and begin at “Challenge Forums”

But the implementation has Home in the breadcrumb

![image](https://user-images.githubusercontent.com/4592712/114119535-77956680-9908-11eb-9ad2-c5c6729f5bcd.png)

[2021-04-09 02:43] sdgun opened #556 "[$40] The breadcrumb is not pointing to the correct sub category(Firefox)"
**Steps**
Go to any public forum sub category
Now click on the main public forum category in the breadcrumb

**Expected result**
Should scroll down to the correct sub category

**Actual result**
In Firefox, breadcrumb is not pointing to the correct sub category

Firefox Version 87.0

https://user-images.githubusercontent.com/4592712/114121152-79145e00-990b-11eb-89e9-60a688fbc51a.mp4

[2021-04-09 02:56] sdgun commented on #487
Verified in Dev, reported below issues:

https://github.com/topcoder-platform/forums/issues/555
https://github.com/topcoder-platform/forums/issues/556

[2021-04-09 02:56] #487 closed

[2021-04-09 02:56] jmgasper commented on #487
Payment task has been updated: https://www.topcoder.com/challenges/a585114e-26fe-4cee-83e9-c104eb82cca0
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a585114e-26fe-4cee-83e9-c104eb82cca0` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 03:02] sdgun commented on #544
@atelomycterus The wording used in challenge forum level doesn't match the tool tip shown in marvel app. Also the tool tip in the design has a black background.

This is what we are showing:
![image](https://user-images.githubusercontent.com/4592712/114122378-c4c80700-990d-11eb-9814-e40e35ec5df4.png)

![image](https://user-images.githubusercontent.com/4592712/114122433-df9a7b80-990d-11eb-9f11-1e35

[2021-04-09 03:21] jmgasper commented on #555
Challenge https://www.topcoder.com/challenges/d2d4ac95-8b13-41b1-93a7-a98fded7b2bd has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 03:21] jmgasper commented on #555
Challenge https://www.topcoder.com/challenges/d2d4ac95-8b13-41b1-93a7-a98fded7b2bd has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 03:21] jmgasper commented on #556
Challenge https://www.topcoder.com/challenges/8ee437a0-803c-4530-bf0b-f751e2b10c45 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 03:21] jmgasper commented on #556
Challenge https://www.topcoder.com/challenges/8ee437a0-803c-4530-bf0b-f751e2b10c45 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:22] jmgasper opened #558 "[$150] Investigate and fix performance"
@atelomycterus - We now have Tideways deployed and working in prod, thanks!  Can you have a look and see if there are any quick fixes we can do to help with performance?  I'm happy to adjust the payment up if we run into tricky issues, thanks.

[2021-04-09 04:22] jmgasper commented on #558
Challenge https://www.topcoder.com/challenges/9fffbcc9-590f-4890-abde-800c9ce3c826 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:22] jmgasper commented on #558
Challenge https://www.topcoder.com/challenges/9fffbcc9-590f-4890-abde-800c9ce3c826 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:29] jmgasper commented on #519
@sdgun - I manually validated this in Tideways and am marking this as `Prod QA Pass`, just so it's tied to the milestone.

[2021-04-09 04:30] jmgasper commented on #554
Challenge https://www.topcoder.com/challenges/a0480f9a-0d92-4d8a-b931-e9ff26b9bfaf has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:30] jmgasper commented on #554
Challenge https://www.topcoder.com/challenges/a0480f9a-0d92-4d8a-b931-e9ff26b9bfaf has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:30] jmgasper commented on #553
Challenge https://www.topcoder.com/challenges/65b5b40d-8c44-431a-9e39-3b6c9cd489b3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:31] jmgasper commented on #553
Challenge https://www.topcoder.com/challenges/65b5b40d-8c44-431a-9e39-3b6c9cd489b3 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 04:38] sdgun commented on #487
Verified in production

![image](https://user-images.githubusercontent.com/4592712/114129091-7faad180-991b-11eb-89e9-9bb0a88b6018.png)

[2021-04-09 04:45] sdgun commented on #527
Verified in production, tcadmin handle is not clickable.

https://user-images.githubusercontent.com/4592712/114129570-71a98080-991c-11eb-950b-8d7c4f456d5d.mp4

[2021-04-09 04:57] sdgun commented on #539
Verified in Production.

[2021-04-09 04:57] sdgun commented on #540
Verified in production.

[2021-04-09 04:58] sdgun commented on #551
Verified in production.

[2021-04-09 05:00] sdgun commented on #483
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/114130596-8edf4e80-991e-11eb-962f-1b1e71cbda1a.png)

[2021-04-09 05:01] sdgun commented on #528
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/114130712-ca7a1880-991e-11eb-8188-77c58c78c46d.png)

[2021-04-09 05:07] sdgun commented on #523
Verified in production with user CustomerUser, the counts tally with the list.

[2021-04-09 05:09] sdgun commented on #511
Verified in production, the replies are displayed under the correct comment.

[2021-04-09 05:10] sdgun commented on #518
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/114131261-f3e77400-991f-11eb-99d7-4d1f393b885f.png)

[2021-04-09 05:13] sdgun commented on #529
Verified in production, the drafts(comment/discussion) are auto saved in every 15 minutes.

![image](https://user-images.githubusercontent.com/4592712/114131553-6eb08f00-9920-11eb-9ad5-cf9df871fb5d.png)

[2021-04-09 05:24] sdgun commented on #506
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/114132397-e92dde80-9921-11eb-84c4-ad5bea1b6e71.png)

[2021-04-09 05:28] sdgun commented on #479
Verified in production, implemented as expected. One open issue in dev related to this (https://github.com/topcoder-platform/forums/issues/544)

[2021-04-09 05:51] atelomycterus commented on #544
@jmgasper

In the MarvelApp `Watch forum`/`Stop watching forum` is used for discussions. Is it correct?
Let me know if the same wordings should be used for discussions/groups/categories.
![image](https://user-images.githubusercontent.com/10196632/114134261-1a051800-9910-11eb-9fde-7e109549c4fe.png)

Bug. I'll fix it.

[2021-04-09 05:59] atelomycterus commented on #558
@jmgasper Yes, sure. Keep you updated.

[2021-04-09 06:05] jmgasper commented on #544
@atelomycterus - Ah, my bad, sorry.  Yeah, if we're consistent with the MarvelApp, that's fine.

[2021-04-09 06:08] atelomycterus opened #559 "[$150] Updated UI: Popups"
@jmgasper The popup window in MarvelApp:
Screen https://marvelapp.com/prototype/c06bg41/screen/77911788
![image](https://user-images.githubusercontent.com/10196632/114136073-d1029300-9912-11eb-9b5d-c307f7de8397.png)

The current design:
![image](https://user-images.githubusercontent.com/10196632/114136320-2e96df80-9913-11eb-80ed-1c0007babde9.png)

[2021-04-09 06:11] atelomycterus opened #560 "Updated UI: Deleting a draft"
@jmgasper Draft popup is displayed to confirm deleting the draft item in MarvelApp.
Now we don't show a popup when deleting a draft. Let me know if it should be implemented.

[2021-04-09 06:25] jmgasper commented on #559
Challenge https://www.topcoder.com/challenges/06cb08ac-24da-4060-94cd-f3645850ec58 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 06:25] jmgasper commented on #559
Challenge https://www.topcoder.com/challenges/06cb08ac-24da-4060-94cd-f3645850ec58 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-09 06:26] jmgasper commented on #560
@atelomycterus - We'll table this for now and may implement it later.

[2021-04-09 06:28] atelomycterus commented on #555
@jmgasper Please clarify the requirement ☝️ . I removed `Home` from the `Challenge Forums` only because the breadcrumbs of Group page includes `Home` in MarvelApp.

From DEV:
![image](https://user-images.githubusercontent.com/10196632/114137508-fb555000-9914-11eb-9c4d-7bc4ff66b138.png)

Screen: https://marvelapp.com/prototype/c06bg41/screen/77911801
![image](https://user-images.githubusercontent.c

[2021-04-09 06:30] atelomycterus commented on #555
@jmgasper The same for public forums:
Screen: https://marvelapp.com/prototype/c06bg41/screen/77911790

![image](https://user-images.githubusercontent.com/10196632/114138336-28563280-9916-11eb-9bb8-3031706b1e14.png)

[2021-04-09 06:32] jmgasper commented on #555
@sdgun - Can you double check the above please?  We need to make sure we match the MarvelApp.  ☝️

[2021-04-09 06:40] atelomycterus opened #561 "[$100] Updated UI: Group attributes"
@jmgasper Layout of Group page
 - The group attributes are  displayed in 2 columns, displayed after discussions
 - The list of attributes is changed
 -  `Members` section is removed
 Screen: https://marvelapp.com/prototype/c06bg41/screen/77911801.
![image](https://user-images.githubusercontent.com/10196632/114137170-75d1a000-9914-11eb-9484-b9f53bada5e0.png)

The current design:
![image](https://us

[2021-04-09 06:46] atelomycterus opened #562 "[$100] Updated UI: Archived group"
@jmgasper Th Archived flag removed from the list of group attributes in MarvelApp.  `Archived` looks like a button. Should be it clickable?

https://marvelapp.com/prototype/c06bg41/screen/77911802
![image](https://user-images.githubusercontent.com/10196632/114139590-eaf2a480-9917-11eb-807d-ad057d4a526d.png)

The current design:
![image](https://user-images.githubusercontent.com/10196632/114139985-

[2021-04-09 07:04] atelomycterus opened #563 "[$75] Updated UI: Group page (Development track)"
@jmgasper Layout of Group page depends on Challenge track.

1. The breadcrumbs includes the track name of a challenge
![image](https://user-images.githubusercontent.com/10196632/114140950-9ea86400-9919-11eb-9b7b-f875d2650aa6.png)

2. The categories are displayed for `Development`:
Development- https://marvelapp.com/prototype/c06bg41/screen/77911803
Design - https://marvelapp.com/prototype/c06bg41/

[2021-04-09 07:09] atelomycterus commented on #475
@jmgasper I am working on https://github.com/topcoder-platform/forums/issues/475 as discussed via email. Let me know if the priorities of the tasks have changed.

[2021-04-09 07:10] jmgasper commented on #475
@atelomycterus - The priority is https://github.com/topcoder-platform/forums/issues/558 and then this one, thanks!  I've reached out to Topcoder to make sure they're done making changes to the MarvelApp before we move on the ones you logged, thanks.

[2021-04-09 07:13] atelomycterus commented on #475
@jmgasper Ok. Thanks!

[2021-04-09 07:53] sdgun commented on #555
@jmgasper Our implementation is correct based on the Marvel app, I raised this issue based on the description in https://github.com/topcoder-platform/forums/issues/487

https://marvelapp.com/prototype/c06bg41/screen/77911801

![image](https://user-images.githubusercontent.com/4592712/114147826-b5a97f00-9936-11eb-962f-8ca4100b7c94.png)

[2021-04-09 18:29] atelomycterus commented on #558
@jmgasper Please see attached [Tideways Report](https://github.com/topcoder-platform/forums/files/6287700/Tideways.report.pdf). While waiting for your feedback, I am working on #475. Let me know which issues from the report should be fixed first.

[2021-04-09 18:36] atelomycterus commented on #556
@sdgun No issues. Please clear browser cache. Thanks!

![image](https://user-images.githubusercontent.com/10196632/114225811-75b8bb00-997b-11eb-936f-4aa9b076014b.png)

![image](https://user-images.githubusercontent.com/10196632/114225970-a567c300-997b-11eb-8c4b-9f292cf2495b.png)

[2021-04-09 20:44] atelomycterus commented on #535
@jmgasper Fixed for a comment form.  I'll fix validation rules for discussion from in https://github.com/topcoder-platform/forums/issues/538. I added some details about special characters.

Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/564
- https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/21

Thanks!

### Special characters
15946 according to https://

[2021-04-10 05:33] jmgasper commented on #558
@atelomycterus - I think the easiest place to start would be to see if we can update the memcache *without* first invalidating the data set.  That way there's always data in the memcache, even if it may be _slightly_ out of date.

[2021-04-10 05:35] jmgasper commented on #556
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-10 05:35] jmgasper commented on #535
@sdgun ☝️

[2021-04-10 05:35] #535 closed

[2021-04-10 12:54] atelomycterus commented on #558
@jmgasper Yes, sure. We can do the following:
- Topcoder user data (Topcoder userId, handle, roles, pic url, rating). We can set 1 week or another value for it and update it from jwt token when user signs in. The Topcoder rating is only missing in jwt payload. The rating is recalculated after the end of the challenge, the expiration time can be set as the average duration of the challenge. Please

[2021-04-10 13:30] atelomycterus commented on #475
@jmgasper Could you ask a designer to export icons (https://marvelapp.com/prototype/c06bg41/screen/77911792)?

![image](https://user-images.githubusercontent.com/10196632/114271413-df87a200-9a19-11eb-84bf-1dda90a98e5e.png)

Thanks!

[2021-04-10 20:01] atelomycterus commented on #475
@jmgasper The current status

 Need to fix the  icons only.
![image](https://user-images.githubusercontent.com/10196632/114283073-943cb600-9a50-11eb-8235-3c06567297d4.png)

I'm going to implement it tomorrow and push it in the repo.

[2021-04-10 23:20] jmgasper commented on #475
@atelomycterus - Sounds good, thanks.  I've asked our designer to provide the icons.

[2021-04-10 23:21] jmgasper commented on #558
1.  Yes, this is fine.  We can have the rating lag slightly without issue, I think, if it helps with performance.
2. Yeah, roles shouldn't be updated often, and if this becomes a problem we can design something in the API to update specific users manually
3. Yep, this sounds good.

[2021-04-11 19:20] atelomycterus commented on #475
@jmgasper I think sdgun can test it. I'll update the icons when our designer provides them.

Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/565
- https://github.com/topcoder-platform/forums-plugins/pull/86

Thanks!

### Voting
Discussions/Comments with votes are only displayed. Please let me know if you need to add/remove data.

![image](https://user-images.githubusercontent.

[2021-04-11 19:21] atelomycterus commented on #558
@jmgasper I am going to work on it tomorrow.

[2021-04-11 20:48] jmgasper commented on #475
@atelomycterus - Great, thanks!

Here's the update from the designer:

[2021-04-11 21:53] jmgasper commented on #561
Challenge https://www.topcoder.com/challenges/99a2fe1f-4e89-44eb-a5e5-89c8f1065121 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-11 21:53] jmgasper commented on #561
Challenge https://www.topcoder.com/challenges/99a2fe1f-4e89-44eb-a5e5-89c8f1065121 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-11 21:53] jmgasper commented on #562
Challenge https://www.topcoder.com/challenges/63627905-f97e-4c51-92ec-5c3a9928e0b5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-11 21:53] jmgasper commented on #562
Challenge https://www.topcoder.com/challenges/63627905-f97e-4c51-92ec-5c3a9928e0b5 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-11 21:54] jmgasper commented on #563
Challenge https://www.topcoder.com/challenges/f68a9ec6-890c-47ba-ba72-d1c385b594b0 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-11 21:54] jmgasper commented on #563
Challenge https://www.topcoder.com/challenges/f68a9ec6-890c-47ba-ba72-d1c385b594b0 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-12 05:12] sdgun commented on #556
@atelomycterus This issue exists even after cache is cleared.

[Screencast 2021-04-12.zip](https://github.com/topcoder-platform/forums/files/6294081/Screencast.2021-04-12.zip)

[2021-04-12 05:12] jmgasper commented on #556
Challenge https://www.topcoder.com/challenges/2f1d6938-2df9-4785-84ee-00d4c3deba27 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-12 05:45] sdgun commented on #535
Verified in Dev.

[2021-04-12 06:09] sdgun commented on #475
@atelomycterus If a voted comment/discussion is deleted, getting below error while accessing the voting.

![image](https://user-images.githubusercontent.com/4592712/114348050-a2d7ba00-9b83-11eb-9814-be69673530e5.png)

[2021-04-12 16:58] atelomycterus commented on #475
@sdgun Thanks! The Voting control looks different on screens. I looked at this screen ((https://marvelapp.com/prototype/c06bg41/screen/77911793) and thought Topcoder made voting easier:
![image](https://user-images.githubusercontent.com/10196632/114423322-c0c31000-9bbf-11eb-89a2-6a55f254236a.png)

I've fixed it, up and down votes are counted separately. I've cleared the previous votes in DEV. It w

[2021-04-12 21:26] #475 closed

[2021-04-12 21:27] jmgasper commented on #475
Payment task has been updated: https://www.topcoder.com/challenges/7436b62f-63c3-4d39-90bc-d92539b37049
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7436b62f-63c3-4d39-90bc-d92539b37049` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-12 21:58] atelomycterus commented on #558
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/88. Thanks!  Sdgun will verify some tickets tomorrow.  So I'll have a look and compare performance on DEV before and after changes. Keep you updated.

Please let me know which next tasks have higher priority.

[2021-04-12 22:36] jmgasper opened #567 "[$200] Post performance updates"
@atelomycterus - As discussed with the performance, there may be a couple things we can do to help with post delays.  Can you implement something that may help here please?

[2021-04-12 22:36] jmgasper commented on #567
Challenge https://www.topcoder.com/challenges/ced12554-3a2e-4f8b-9a78-128ba5f0cb43 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-12 22:36] jmgasper commented on #567
Challenge https://www.topcoder.com/challenges/ced12554-3a2e-4f8b-9a78-128ba5f0cb43 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 03:12] m-yadav opened #568 "[$30] Formatting Issue in Forum Post editor window"
In Vanilla forums , while posting a reply or initiating a thread , if we paste any string with the underscores, and then select the entire string and press on the italic button, the underscores vanish in the preview or the actual post.
Ideally the underscore should be preserved while clicking on the italic button.

Supporting Screenshots

**Before :**
![image](https://user-images.githubusercontent

[2021-04-13 03:49] sdgun opened #569 "Up votes/down votes requests are taking a long time and throwing 502/503 errors"
**Steps**
Do up vote and down votes on comments/discussions

These calls mostly take more than 10 seconds and observed going up to like 36 seconds to complete the request and throwing 502/503 errors very frequently

[Screencast 2021-04-13.zip](https://github.com/topcoder-platform/forums/files/6301094/Screencast.2021-04-13.zip)

[2021-04-13 04:14] jmgasper commented on #568
@m-yadav - Can you let me know exactly what browser and OS you are testing please?

[2021-04-13 04:17] jmgasper opened #570 "[$50] Enable error collection"
@atelomycterus - Would it be possible to enable error collection in Tideways on dev?

I think that would be useful for some of the 502 / 503 errors we're seeing, thanks!

<img width="1601" alt="Screen Shot 2021-04-13 at 2 16 37 pm" src="https://user-images.githubusercontent.com/21790/114496279-f3721480-9c62-11eb-96ca-75d0ca675bbb.png">

[2021-04-13 04:17] jmgasper commented on #570
Challenge https://www.topcoder.com/challenges/ca81f46b-9ef7-4a63-8b69-9d87e1e56f37 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 04:17] jmgasper commented on #570
Challenge https://www.topcoder.com/challenges/ca81f46b-9ef7-4a63-8b69-9d87e1e56f37 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 05:26] atelomycterus commented on #569
@sdgun @jmgasper  502/503 errors happened because there have been about 23,6K requests on DEV.
I see a bunch of suspicious requests in Tideways. It looks like someone is probing Vanilla DEV to see if we are vulnerable:
![image](https://user-images.githubusercontent.com/10196632/114499960-d2440080-9c2f-11eb-9c2b-e35182580f88.png)

![image](https://user-images.githubusercontent.com/10196632/11450030

[2021-04-13 05:29] jmgasper commented on #569
@atelomycterus - Ok, thanks.  We'll keep an eye on it to see if it clears.

[2021-04-13 05:40] atelomycterus commented on #569
@jmgasper Now Vanilla DEV works as expected. There were suspicious requests that are trying to execute not only Get methods. I think we need to hide, for example, an unused Vanilla REST API, especially one that is not used and can update data.

I'm checking Vanilla logs because Tideways sample rate is 25%.

[2021-04-13 06:10] atelomycterus commented on #569
@jmgasper They were trying to see what system we are running, likely to help choose the next attacks.
13k out of 23.6K requests returned 404 (Not found). There have been various attempts here like sql injection, command injection, php / js code execution, etc.

[2021-04-13 06:45] sdgun commented on #568
@jmgasper I checked this, it's not browser specific.

[2021-04-13 06:56] sdgun commented on #558
@atelomycterus Is there any impact of the performance fixes to any functionality? Just checking so I can focus on those before I do a sanity test. Thanks

[2021-04-13 08:25] atelomycterus commented on #558
@sdgun From a functional point of view, no. This is more cache tuning, which data should be in the cache longer, etc. I'll verify it by analyzing requests with Tideways.  So you can do a sanity test.

This morning there were a bunch of different suspicious requests. If you notice any strange behavior in Vanilla let me know. Thanks a lot!

[2021-04-13 08:49] atelomycterus commented on #570
@jmgasper 1. Need to activate this feature. Please ask James/Matt/Dave to click on Activate button. They have admin role.
 Admin only see the Activate button:
![image](https://user-images.githubusercontent.com/10196632/114524165-a6d00e80-9c4d-11eb-814c-1e57d6fc29b1.png)

2. Tideways detects uncaught exceptions and fatal errors by default including most exceptions that are handled by _supported fra

[2021-04-13 09:52] atelomycterus commented on #570
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/571. Thanks! After activating errors in Tideways, we can see errors and exceptions.

Example 500 errors what it looks like. I commented a method in my local env and 500 errors (Call to undefined method TopcoderPlugin::getM2MToken()) occured:
![image](https://user-images.githubusercontent.com/10196632/114533046-28c43580-9c56

[2021-04-13 10:53] jmgasper commented on #568
Challenge https://www.topcoder.com/challenges/4ca3ed16-a6bc-43c4-a234-d6732ab830c1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 10:53] jmgasper commented on #568
Challenge https://www.topcoder.com/challenges/4ca3ed16-a6bc-43c4-a234-d6732ab830c1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 10:53] jmgasper commented on #568
@atelomycterus - This one can be lower priority, thanks.

[2021-04-13 14:46] atelomycterus commented on #558
@jmgasper I've tested caching Topcoder data on DEV. It looks good.  Let me know when the next production release is planned.
It would be nice to see the results when Vanilla has been working without deployment for several days.

### Testing (DEV)
I flushed all memcached data.  There were Topcoder API calls for the first several requests:
 ![image](https://user-images.githubusercontent.com/10196632

[2021-04-13 16:02] atelomycterus commented on #567
@jmgasper
How reproduce it:
- 20-30+ users are watching a category, post a new comment in the category

https://app.tideways.io/o/Topcoder/Discussions/trace/qsSby3gBhnQ2FlZ7mdQN/
[code]
![image](https://user-images.githubusercontent.com/10196632/114581352-4ca06f00-9c88-11eb-9192-079dcf163f84.png)

[2021-04-13 20:48] jmgasper opened #572 "[$25] Favicon"
@atelomycterus - I have set the favicon in Vanilla, but it seems to be getting reset on each deploy.  Here's the icon we'd like to use in both dev and prod.  Can we get this added to the deploy please?

![cropped-TC-Icon-32x32](https://user-images.githubusercontent.com/21790/114618975-5c05d380-9ced-11eb-86c3-f75957ca9a95.png)

[2021-04-13 20:48] jmgasper commented on #572
Challenge https://www.topcoder.com/challenges/b563a23e-a570-4bcc-a6b0-3dadd487398f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 20:48] jmgasper commented on #572
Challenge https://www.topcoder.com/challenges/b563a23e-a570-4bcc-a6b0-3dadd487398f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 21:01] #558 closed

[2021-04-13 21:01] #570 closed

[2021-04-13 21:01] jmgasper commented on #558
Payment task has been updated: https://www.topcoder.com/challenges/9fffbcc9-590f-4890-abde-800c9ce3c826
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `9fffbcc9-590f-4890-abde-800c9ce3c826` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 21:02] jmgasper commented on #570
Payment task has been updated: https://www.topcoder.com/challenges/ca81f46b-9ef7-4a63-8b69-9d87e1e56f37
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ca81f46b-9ef7-4a63-8b69-9d87e1e56f37` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 21:26] atelomycterus commented on #572
@jmgasper The issue with the favicon path.
[code]
Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/38
https://github.com/topcoder-platform/forums/pull/573
Thanks!

![image](https://user-images.githubusercontent.com/10196632/114623424-edf2e980-9cb7-11eb-8ed2-ac66d911facf.png)

[2021-04-13 21:27] #572 closed

[2021-04-13 21:27] jmgasper commented on #572
Payment task has been updated: https://www.topcoder.com/challenges/b563a23e-a570-4bcc-a6b0-3dadd487398f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b563a23e-a570-4bcc-a6b0-3dadd487398f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-13 21:32] atelomycterus commented on #567
@jmgasper I am working on it. Notifications can be sent with a cron job in Vanilla. I'll update with details tomorrow.

[2021-04-13 21:32] jmgasper commented on #567
Perfect, thanks!

[2021-04-14 18:42] atelomycterus commented on #567
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/574/. Thanks! I’ve enabled `Feature.deferredNotifications.Enabled` in Vanilla config. Please read my report on the current system performance when sending emails.

### The main problems with email notifications
Email notifications are currently queued up and sent in the middle of the request, after the post has been saved a

[2021-04-14 20:07] atelomycterus commented on #556
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/574. Thanks!
I managed to reproduce it in Firefox. Tested using Opera/Firefox/Chrome.
Please clear browser cache before testing. Let me know if this issue exists.

[2021-04-14 20:11] atelomycterus commented on #555
@jmgasper sdgun has verified it. We match the MarvelApp  ☝️.

[2021-04-14 20:20] atelomycterus commented on #530
@jmgasper We currently have no preview screens in MarvelApp. Maybe Topcoder/our designer missed it.   Could you ask Topcoder /our designer how the comment/discussion preview screens should look? Thanks!

[2021-04-14 21:21] jmgasper commented on #567
@atelomycterus - Thanks for this, it makes sense.  From a _user_ standpoint, if we enable `Feature.deferredNotifications.Enabled=true`, will there be an immediate benefit when posting?  I don't really care if the emails are sent a minute or two later than they are now - in practice that won't be an issue at all.

[2021-04-14 21:21] #556 closed

[2021-04-14 21:22] jmgasper commented on #556
Payment task has been updated: https://www.topcoder.com/challenges/2f1d6938-2df9-4785-84ee-00d4c3deba27
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `2f1d6938-2df9-4785-84ee-00d4c3deba27` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-14 21:25] jmgasper commented on #530
@atelomycterus - Asked, thanks!

[2021-04-14 21:37] #555 closed

[2021-04-14 21:37] jmgasper commented on #555
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-14 21:45] #569 closed

[2021-04-14 21:46] jmgasper commented on #550
Challenge https://www.topcoder.com/challenges/4dfbfd44-27c0-4b2e-b0b0-26fd4b9ce637 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-14 21:46] jmgasper commented on #550
@atelomycterus - Let's go with what the marvel app shows here, thanks!

[2021-04-14 21:46] jmgasper commented on #550
Challenge https://www.topcoder.com/challenges/4dfbfd44-27c0-4b2e-b0b0-26fd4b9ce637 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-15 05:43] atelomycterus commented on #544
@jmgasper This ticket hasn't been fixed and should be re-opened.  We did not log a separate ticket for tooltips. Svg images (the eye ball icons) were imported as assets, so they had the hard-coded `title` attribute which were displayed as native tooltips. I fixed wordings intuitively, used  `Watch discussion` wording for a discussion and so on.
Thanks to sdgun, she noticed that we do not match the

[2021-04-15 05:46] jmgasper commented on #544
@atelomycterus - My bad.  Sorry.

Lets follow the wording in Marvel App for now.

[2021-04-15 06:02] atelomycterus commented on #567
@jmgasper

Yes,  the response times will be shorter for groups with more participants.

Sending emails will happen almost immediately, but in a new thread.
The delay feature was not implemented in Vanilla 3.3. The Scheduler class has the `delay` parameter in the `addJob` method signature, but it turned out that this functionality was not implemented. I've checked Vanilla github, the Scheduler was

[2021-04-15 06:16] jmgasper commented on #567
@atelomycterus - Let's just enable `Feature.deferredNotifications.Enabled=true` and get that deployed to dev for testing, and then focus on the rest of the March 2021 Shapeup, thanks.

We'll test in prod (another deployment on Sunday) and see if we need to do the batch-sending, thanks!

[2021-04-15 06:21] atelomycterus commented on #567
@jmgasper Ok. I enabled it yesterday, now this feature is enabled on Dev. I’ll verify it.

[2021-04-15 10:26] atelomycterus commented on #550
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/575/. Thanks!

### Testing
The link is hidden for Guests:
![image](https://user-images.githubusercontent.com/10196632/114855086-36acbe80-9dee-11eb-8873-80cdc4a3c125.png)

[2021-04-15 12:16] atelomycterus commented on #548
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/39/
https://github.com/topcoder-platform/forums/pull/576

Thanks!

Earlier we displayed a list of forums in the left nav on desktop and hid it on mobile.  Now it works as before, i.e. it's hidden on mobile, no changes were made.

### Testing
Please clear browser cache before testing.

The list of public forums topic

[2021-04-15 13:07] atelomycterus commented on #521
@jmgasper are you ok if the term IDs are hard-coded in Vanilla config are initialized depending on env ?
We can use `define` (named constants are like variables except that once they are defined they cannot be changed or undefined):

[code]

[2021-04-15 17:20] atelomycterus commented on #567
@jmgasper I've checked Dev env, it works as expected. Let's test it in PROD on Sunday.

I posted a discussion on DEV:
![image](https://user-images.githubusercontent.com/10196632/114907449-be60f000-9e23-11eb-8199-04773b81b82b.png)

I posted a comment on DEV:
![image](https://user-images.githubusercontent.com/10196632/114911070-4f859600-9e27-11eb-8c14-5fc0329549a2.png)

The blue line is displayed wh

[2021-04-15 17:25] Oanh-and-only-Oanh opened #577 "[$300] Update UI: Watching feature"
Expected behavior:
**PUBLIC FORUMS**
1) If user is "watching" a parents category, the eye ball should be turned on for all sub-threads in that parents category
2) If user turns off the "watch" feature on any sub-thread, the eyeball icon should be turned off on the parent category
3) Add "watch" eyeball icon on the parent level next to title. See screenshot below

[2021-04-15 17:33] hokienick commented on #577
![Sub-eyeball](https://user-images.githubusercontent.com/1373998/114913383-fc372780-9dd5-11eb-9bee-390242b1b876.png)

[2021-04-15 21:29] atelomycterus commented on #561
@jmgasper  I've implemented it. The changes affected 4 repos (challenge forum processor, topcoder plugin, groups plugin +theme). I'll test it and push it tomorrow.

The header:
![image](https://user-images.githubusercontent.com/10196632/114939750-91273880-9e49-11eb-9c63-106d3ebdc270.png)

The group attributes:
![image](https://user-images.githubusercontent.com/10196632/114939792-9f755480-9e49-11eb

[2021-04-15 23:34] #550 closed

[2021-04-15 23:34] jmgasper commented on #550
Payment task has been updated: https://www.topcoder.com/challenges/4dfbfd44-27c0-4b2e-b0b0-26fd4b9ce637
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `4dfbfd44-27c0-4b2e-b0b0-26fd4b9ce637` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-15 23:37] #548 closed

[2021-04-15 23:38] jmgasper commented on #548
Payment task has been updated: https://www.topcoder.com/challenges/291bd147-7eac-47e7-a996-16c56ee551d3
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `291bd147-7eac-47e7-a996-16c56ee551d3` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-15 23:44] jmgasper commented on #521
@atelomycterus - Yeah, that's fine.  That just means that if we ever want to change it, we'll have to redeploy, correct?  I don't anticipate those IDs changing much, if ever.

[2021-04-15 23:45] #567 closed

[2021-04-15 23:45] jmgasper commented on #567
Payment task has been updated: https://www.topcoder.com/challenges/ced12554-3a2e-4f8b-9a78-128ba5f0cb43
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ced12554-3a2e-4f8b-9a78-128ba5f0cb43` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-15 23:54] jmgasper commented on #561
Great, thanks!

[2021-04-15 23:55] jmgasper commented on #577
@atelomycterus - Please see above and let me know your thoughts

My initial concerns relayed to the team were:

The problem is that, if a user has a watch on the main category, they do not have watches on each individual thread - that's implicit.
So, if the user un-watches a thread, we have to:

- Unwatch the category
- Watch every thread explicitly
- Remove the watch for the single thread that wa

[2021-04-16 06:09] atelomycterus commented on #521
@jmgasper Yes, correct.

[2021-04-16 07:24] atelomycterus commented on #561
@jmgasper We can use markdown in template.json (challenge forum processor). Group description will be rendered to html. Previously there was plain text.

Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/40
https://github.com/topcoder-platform/challenge-forum-processor/pull/57
https://github.com/topcoder-platform/forums-plugins/pull/89
https://github.com/topcoder-platform/fo

[2021-04-16 12:16] atelomycterus commented on #562
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/80
https://github.com/topcoder-platform/forums-theme/compare/issues-562

Thanks!

### Testing
Please clear browser cache before testing:
![image](https://user-images.githubusercontent.com/10196632/115022801-91194e00-9ec6-11eb-948e-4dec0a3fe225.png)

[2021-04-16 12:30] atelomycterus commented on #496
@jmgasper Please apply PR: https://github.com/topcoder-platform/forums-plugins/pull/90. Thanks!

### Testing
Please clear browser cache before testing.
![image](https://user-images.githubusercontent.com/10196632/115024359-a55e4a80-9ec8-11eb-9ccd-bbe15fe9f5e7.png)

[2021-04-16 16:18] sdgun commented on #567
@atelomycterus For testing can you help in creating the data set you mentioned in you comment above? I am not sure how I can add that many users to the groups. Thanks.

[2021-04-16 16:32] jmgasper commented on #555
Challenge https://www.topcoder.com/challenges/1d9773ba-dbf5-4df5-9820-c9a38dd7728b has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-16 16:34] atelomycterus commented on #567
@sdgun  I can help with that. Give me links to the groups to which you want to add users +  how many users to add to which group.

[2021-04-16 16:43] sdgun commented on #550
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115056923-06a21000-9f01-11eb-9c2d-adddd1ae9ed5.png)

[2021-04-16 16:56] sdgun commented on #548
Verified in Dev. as expected left nav shows the public forum topics only when user is inside a public forum discussion.

[2021-04-16 17:12] sdgun opened #578 "The up/down vote buttons are clickable in guest mode"
**Steps**
Open https://vanilla.topcoder-dev.com
without logging in go to any public discussion
click on up/down vote icons

**Actual behavior**
There is nothing happening in the UI but a post call is sent

![image](https://user-images.githubusercontent.com/4592712/115059868-c80e5480-9f04-11eb-9091-38a7b333fc8f.png)

[2021-04-16 17:13] atelomycterus commented on #559
@jmgasper At least 7 popups should be fixed. Each popup is  a separate view with a different title and message.
1. Should I update only UI ?
2. Does this requirement include updating titles/messages? For example, the `Delete Discussion` title should be changed to `Delete` ( `Add a new Category`  =>  `Add`, `Invite User` => `Invite`).
For example, the `Are you sure you want to delete this discussio

[2021-04-16 17:14] sdgun commented on #556
Verified in Dev.

[2021-04-16 17:18] sdgun commented on #567
@atelomycterus Please add below users to the given groups, thanks.
50 - https://vanilla.topcoder-dev.com/group/893
200 - https://vanilla.topcoder-dev.com/group/891
500 - https://vanilla.topcoder-dev.com/group/890
1000 - https://vanilla.topcoder-dev.com/group/886

[2021-04-16 17:27] atelomycterus commented on #578
@jmgasper From MarvelApp it is not clear what behavior is expected for guests. For example, for guests, instead of a comment form, we show `Sign In or Register to comment.`  If  a guest clicks on the Vote up/down button, should  we redirect to 'Sign URL' or should the voting control be hidden and the `Sign In or Register to vote up/down` message is displayed?

Comment forms are hidden for guests:

[2021-04-16 20:24] atelomycterus commented on #553
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/579. Thanks!

### Testing
Please clear browser cache before testing.
![image](https://user-images.githubusercontent.com/10196632/115080099-dd867d00-9f0a-11eb-94c2-2df94c6f4344.png)

[2021-04-16 22:30] jmgasper commented on #562
@sdgun - For testing:  https://vanilla.topcoder-dev.com/group/185

[2021-04-16 22:30] #562 closed

[2021-04-16 22:30] jmgasper commented on #562
Payment task has been updated: https://www.topcoder.com/challenges/63627905-f97e-4c51-92ec-5c3a9928e0b5
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `63627905-f97e-4c51-92ec-5c3a9928e0b5` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 03:17] #561 closed

[2021-04-17 03:17] jmgasper commented on #561
Payment task has been updated: https://www.topcoder.com/challenges/99a2fe1f-4e89-44eb-a5e5-89c8f1065121
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `99a2fe1f-4e89-44eb-a5e5-89c8f1065121` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 03:28] #496 closed

[2021-04-17 03:28] jmgasper commented on #496
Payment task has been updated: https://www.topcoder.com/challenges/a0eb5161-dcbc-47e7-b788-2bd83083edb6
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a0eb5161-dcbc-47e7-b788-2bd83083edb6` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 03:28] jmgasper commented on #559
@atelomycterus - I bumped the payment here.  Yeah, let's try to get as close to the MarvelApp as possible, thanks!

[2021-04-17 03:29] jmgasper commented on #578
@atelomycterus - Can we just ignore a click on the up / down control for now if the user isn't logged in?

[2021-04-17 03:29] #553 closed

[2021-04-17 03:30] jmgasper commented on #553
Payment task has been updated: https://www.topcoder.com/challenges/65b5b40d-8c44-431a-9e39-3b6c9cd489b3
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `65b5b40d-8c44-431a-9e39-3b6c9cd489b3` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 05:57] sdgun commented on #562
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115103486-db0a3e80-9f6f-11eb-93a7-c3f8a7dec19a.png)

[2021-04-17 05:59] sdgun commented on #496
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115103531-23c1f780-9f70-11eb-9a3c-02c1c63d4a57.png)

[2021-04-17 06:45] sdgun commented on #553
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115104507-7a323480-9f76-11eb-87c2-5935a86976e9.png)

![image](https://user-images.githubusercontent.com/4592712/115104518-91712200-9f76-11eb-8e09-f75fe51aed49.png)

[2021-04-17 06:50] sdgun opened #580 "The description is changed in the challenge forums list"
**Steps**
Go to https://vanilla.topcoder-dev.com/groups/mine?filter=challenge
Check the latest challenges

The description shows the url and the challenge name within brackets

![image](https://user-images.githubusercontent.com/4592712/115104602-3429a080-9f77-11eb-8125-d5489ea704f5.png)

[2021-04-17 06:58] sdgun commented on #561
@atelomycterus The Marvel app has [this ](https://marvelapp.com/prototype/c06bg41/screen/77911803) screen design for Development challenges where there is no Discussion section but code questions and code documents sections are available. According to the design, the page you have implemented is for Design challenges.

[2021-04-17 10:19] jmgasper opened #582 "[$40] Update Tideways apt repos"
As discussed via email

[2021-04-17 10:19] jmgasper commented on #582
Challenge https://www.topcoder.com/challenges/9d7149f3-1923-4c85-8b37-4457d96b437a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 10:19] jmgasper commented on #582
Challenge https://www.topcoder.com/challenges/9d7149f3-1923-4c85-8b37-4457d96b437a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 10:19] #582 closed

[2021-04-17 10:20] jmgasper commented on #582
Payment task has been updated: https://www.topcoder.com/challenges/9d7149f3-1923-4c85-8b37-4457d96b437a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `9d7149f3-1923-4c85-8b37-4457d96b437a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-17 10:22] atelomycterus commented on #561
@sdgun It'll be fixed in https://github.com/topcoder-platform/forums/issues/563.

[2021-04-17 10:48] atelomycterus commented on #580
@sdgun Thanks for notice that! Fixed. The group description should be formatted to html.

![image](https://user-images.githubusercontent.com/10196632/115110305-59241080-9f83-11eb-8054-13a4d6b990ac.png)

@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/81

[2021-04-17 11:16] atelomycterus commented on #578
@jmgasper Sure, please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/91. Thanks!

[2021-04-17 20:24] atelomycterus commented on #559
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/42
- https://github.com/topcoder-platform/forums-groups-plugin/pull/82
- https://github.com/topcoder-platform/forums/pull/583
Thanks!

### Testing
Please clear browser cache before testing,
I've fixed all mentioned popups. Let me know if I missed any popups.
Delete popup looks the same for group / discussion/ toke

[2021-04-18 00:15] sdgun commented on #578
Verified in Dev, the icons are not clickable for guests.

[2021-04-18 00:15] #578 closed

[2021-04-18 00:18] sdgun commented on #559
@atelomycterus Even after clearing cache, I don't see any of these pop ups.

[2021-04-18 00:28] sdgun commented on #580
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115130191-042bdd00-a00b-11eb-9b32-0703aacfbb48.png)

[2021-04-18 00:28] #580 closed

[2021-04-18 00:29] sdgun commented on #561
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115130213-49e8a580-a00b-11eb-854d-8822fbd4cb3d.png)

[2021-04-18 00:32] #559 closed

[2021-04-18 00:32] jmgasper commented on #559
@sdgun - I can see them.  Tested delete, move, announce

<img width="1530" alt="Screen Shot 2021-04-18 at 10 31 19 am" src="https://user-images.githubusercontent.com/21790/115130247-5f70c600-a031-11eb-838b-1b168d32c967.png">

[2021-04-18 00:32] jmgasper commented on #559
Payment task has been updated: https://www.topcoder.com/challenges/06cb08ac-24da-4060-94cd-f3645850ec58
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `06cb08ac-24da-4060-94cd-f3645850ec58` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-18 00:44] sdgun commented on #567
@atelomycterus Hope you added the users to above groups. I cannot see if they have been added because the members page is not available anymore. Verified in Dev.

Verified in Dev.

Posting in all above groups took only around 1 second:

![image](https://user-images.githubusercontent.com/4592712/115130356-dcd60f80-a00c-11eb-84f3-d31279175813.png)

![image](https://user-images.githubusercontent.com/

[2021-04-18 01:06] sdgun commented on #559
@atelomycterus Verified in Dev.

1. Delete comment pop up is not implemented as per the design, also after deleting a comment, the pop up is not getting closed and the screen shows a weird layout.

![image](https://user-images.githubusercontent.com/4592712/115130524-093e5b80-a00e-11eb-8ebd-3b3b285a20e7.png)

https://user-images.githubusercontent.com/4592712/115130627-cdf05c80-a00e-11eb-8061-3942a0

[2021-04-18 01:10] jmgasper commented on #559
@sdgun - I see `Move` as an option for TonyJ:

<img width="995" alt="Screen Shot 2021-04-18 at 11 09 45 am" src="https://user-images.githubusercontent.com/21790/115130878-9dbcb400-a036-11eb-9eab-07109b0a56c7.png">

<img width="956" alt="Screen Shot 2021-04-18 at 11 09 35 am" src="https://user-images.githubusercontent.com/21790/115130881-9f867780-a036-11eb-8653-8b5a52ea3085.png">

[2021-04-18 01:10] jmgasper commented on #559
I also can't reproduce the `Delete` issue - it's working fine for me.

[2021-04-18 01:31] sdgun opened #584 "[$20] Issues in delete comment pop up and deleting new comments in challenge forums"
**Steps**
1. Log in as a admin user
2. Delete a newly added comment

Issue 1: pop up buttons don't follow the design
Issue 2: the pop up is not getting closed and the screen shows a weird layout after deleting

![image](https://user-images.githubusercontent.com/4592712/115131203-edd64f00-a013-11eb-8a1a-a7c97aadef25.png)

![image](https://user-images.githubusercontent.com/4592712/115131199-ddbe6f80

[2021-04-18 01:32] sdgun commented on #559
Created new issue for comment deleting related issues : https://github.com/topcoder-platform/forums/issues/584

[2021-04-18 01:32] jmgasper commented on #584
Challenge https://www.topcoder.com/challenges/e9fbba00-efe1-4dcf-b3de-4355c12f1832 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-18 01:32] jmgasper commented on #584
Challenge https://www.topcoder.com/challenges/e9fbba00-efe1-4dcf-b3de-4355c12f1832 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-18 01:32] jmgasper commented on #584
@atelomycterus - Note that this *only* affects challenge forums.  It worked fine for me in public forums.

[2021-04-18 01:58] sdgun commented on #562
Verified in Production.

![image](https://user-images.githubusercontent.com/4592712/115131674-99cd6980-a017-11eb-9da8-7441f3d5fee5.png)

[2021-04-18 01:58] sdgun commented on #561
Verified in production.
https://discussions.topcoder.com/group/935

![image](https://user-images.githubusercontent.com/4592712/115131687-b4074780-a017-11eb-95d1-00f460a8584d.png)

[2021-04-18 02:00] sdgun commented on #559
Verified the below in production.

Deleting a comment
Move
Deleting a thread
Announcements

[2021-04-18 02:09] sdgun commented on #578
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/115131891-2dec0080-a019-11eb-8139-101767c4b3e2.png)

[2021-04-18 02:10] sdgun commented on #553
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/115131907-5247dd00-a019-11eb-8f95-c9c47475e6b2.png)

[2021-04-18 02:11] sdgun commented on #550
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/115131922-72779c00-a019-11eb-973e-efd89aad2752.png)

[2021-04-18 02:16] sdgun commented on #548
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/115132019-398bf700-a01a-11eb-88a7-61cb10ab303c.png)

[2021-04-18 02:19] sdgun commented on #572
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/115132070-87a0fa80-a01a-11eb-99cd-9ce72429d5e7.png)

[2021-04-18 02:22] sdgun commented on #475
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/115132122-df3f6600-a01a-11eb-9e3a-76007c2e16e6.png)

[2021-04-18 02:23] sdgun commented on #556
Verified in production.

[2021-04-18 11:33] atelomycterus commented on #559
@sdgun @jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/586. Thanks!

1. >  Delete comment pop up is not implemented as per the design, also after deleting a comment,

I missed it. The 'Deleting a comment' popup is generated with jquery.popup.js, other popups are implemented with php views.
Sorry about that. I've fixed:

![image](https://user-images.githubusercontent.com/

[2021-04-18 11:42] atelomycterus commented on #584
@jmgasper I missed this popup. Sorry about that. I was able reproduced Issues-2. Please apply PR-https://github.com/topcoder-platform/forums/pull/586. Thanks!

![image](https://user-images.githubusercontent.com/10196632/115144204-0ebe9480-a054-11eb-8c47-8e16f4881676.png)

[2021-04-18 11:44] atelomycterus commented on #530
@jmgasper Is there any news on this task from Topcoder? Thanks!

[2021-04-18 11:45] atelomycterus commented on #456
@jmgasper  Probably missed ☝️.

[2021-04-18 11:48] jmgasper commented on #456
@atelomycterus - I'm fine with the suggestions to remove the superfluous options, thanks.

[2021-04-18 11:49] jmgasper commented on #530
@atelomycterus - Not yet.  I've asked for an update from the Studio copilot.

[2021-04-18 15:40] atelomycterus commented on #567
@sdgun I got a forbidden exception on DEV because 'vanilla' account doesn't have privileges to create/execute stored procedures.
I'm going to re-write it with php+sql (without creating a stored procedure). Keep you updated.

[2021-04-18 19:37] atelomycterus commented on #554
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/44
https://github.com/topcoder-platform/forums-groups-plugin/pull/84

Thanks!

### Testing

Please clear browser cache before testing.

![image](https://user-images.githubusercontent.com/10196632/115158368-7bf31980-a096-11eb-8d1b-3ffa47c992e6.png)

[2021-04-18 19:47] atelomycterus opened #587 "[$50] PROD: the response time of /categories/XXX page - 25-30 sec"
The response times of /categories/XXX page are 25-30 secs periodically. Need to optimize building an user category tree. The optimization for SQL queries is to use a IN condition to select multiple records with a single query.

![image](https://user-images.githubusercontent.com/10196632/115158559-72b67c80-a097-11eb-8024-c234ba40de8e.png)

![image](https://user-images.githubusercontent.com/10196632

[2021-04-18 20:07] atelomycterus commented on #587
@jmgasper It works slowly for guests. By default, userID = 0 is used for guests. It looks like the data is not being cached for UserID=0. I am checking it.

[2021-04-18 21:08] atelomycterus commented on #587
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/586. There is no need to check the permissions for guests on the challenges forums as they don't have access anyway.

### Testing
Flush cache, Go to a home page/a category page. The first request will cache a pure category tree an other data. The response time of a homepage/ category page  should be acceptable (~ 0,5 sec, n

[2021-04-18 22:11] #554 closed

[2021-04-18 22:12] jmgasper commented on #554
Payment task has been updated: https://www.topcoder.com/challenges/a0480f9a-0d92-4d8a-b931-e9ff26b9bfaf
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a0480f9a-0d92-4d8a-b931-e9ff26b9bfaf` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-18 22:12] jmgasper commented on #587
Challenge https://www.topcoder.com/challenges/0e825e94-8a03-4885-ad19-c3a0dbc12032 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-18 22:12] jmgasper commented on #587
Challenge https://www.topcoder.com/challenges/0e825e94-8a03-4885-ad19-c3a0dbc12032 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-18 22:12] #587 closed

[2021-04-18 22:13] jmgasper commented on #587
Payment task has been updated: https://www.topcoder.com/challenges/0e825e94-8a03-4885-ad19-c3a0dbc12032
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0e825e94-8a03-4885-ad19-c3a0dbc12032` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 11:34] atelomycterus commented on #521
@jmgasper Please apply PRS:
https://github.com/topcoder-platform/forums/pull/588/
https://github.com/topcoder-platform/forums-plugins/pull/94
https://github.com/topcoder-platform/forums-groups-plugin/commit/a588badb069cbdd133970b8b5eaf573103c5920f - I've pushed in develop. Sorry about that.

Thanks!

### Configs

[code]

### Testing

![image](https://user-images.githubusercontent.com/10196632/1152

[2021-04-19 12:14] atelomycterus commented on #524
@jmgasper A few questions.  Please let me know if sorting options should be only changed for Public forums.

### Sorting options for Challenges Forums page
Recently we've added sorting options (New/Old) for Challenges Forums page (https://github.com/topcoder-platform/forums/issues/554). At least we should rename  a sorting option for consistency (`New`  to `Most recent`).
Should we  remove `Old` o

[2021-04-19 15:08] sdgun commented on #554
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115259091-35152a80-a14f-11eb-8064-b9e56d2651c2.png)

[2021-04-19 16:22] sdgun commented on #587
Verified in Dev, pages were loading under 1 second.

https://user-images.githubusercontent.com/4592712/115269927-6bf03e00-a159-11eb-8e1d-366c31366258.mp4

[2021-04-19 16:48] sdgun commented on #584
Verified in Dev, the pop up UI is fixed and deleting comments is working now.

[2021-04-19 16:48] jmgasper commented on #584
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 16:48] jmgasper commented on #584
Challenge https://www.topcoder.com/challenges/a43e8979-1c14-426b-a5de-2fdac5673906 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 18:25] atelomycterus commented on #524
@jmgasper Please apply PRs:

https://github.com/topcoder-platform/forums/pull/588
https://github.com/topcoder-platform/forums-plugins/pull/94

Thanks!

Public forums:
![image](https://user-images.githubusercontent.com/10196632/115279726-bbca0780-a14f-11eb-8091-8d475da8776c.png)

Challenge forums:
![image](https://user-images.githubusercontent.com/10196632/115282930-714a8a00-a153-11eb-87e1-a1cbe13b

[2021-04-19 21:04] atelomycterus commented on #525
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/45/. Thanks!

### Testing
Please clear browser cache before testing.
Font color - #2A2A2A , Font Size - 16,  The reply background color - #F8F8F8:
![image](https://user-images.githubusercontent.com/10196632/115302331-0016d100-a16b-11eb-944c-4788c7424912.png)

Font color - #2A2A2A , all gray rectangles containers from

[2021-04-19 22:31] jmgasper opened #589 "[$150] Long performance issue"
@atelomycterus - We're still seeing issues with @hokienick's account.  We did some live testing today and captured a couple traces of 27+ seconds:

https://app.tideways.io/o/Topcoder/Discussions/trace/Z3w97HgBhnQ2FlZ7IXZG/quick?operation=4062834&m=60&s=web&env=production

[2021-04-19 22:31] jmgasper commented on #589
Challenge https://www.topcoder.com/challenges/4774082e-057b-4fe2-ad73-892e3080fd0e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 22:32] jmgasper commented on #589
Challenge https://www.topcoder.com/challenges/4774082e-057b-4fe2-ad73-892e3080fd0e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 23:09] #521 closed

[2021-04-19 23:10] #524 closed

[2021-04-19 23:10] #525 closed

[2021-04-19 23:11] #584 closed

[2021-04-19 23:11] jmgasper commented on #524
Payment task has been updated: https://www.topcoder.com/challenges/2fbcaf9b-953f-4dfa-8697-b652821a745c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `2fbcaf9b-953f-4dfa-8697-b652821a745c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 23:11] jmgasper commented on #525
Payment task has been updated: https://www.topcoder.com/challenges/b171a5ac-cd2d-4280-b6ce-a69b6decb114
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b171a5ac-cd2d-4280-b6ce-a69b6decb114` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 23:11] jmgasper commented on #584
Payment task has been updated: https://www.topcoder.com/challenges/a43e8979-1c14-426b-a5de-2fdac5673906
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a43e8979-1c14-426b-a5de-2fdac5673906` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 23:16] jmgasper commented on #577
Challenge https://www.topcoder.com/challenges/eac0097e-cb13-4b16-9b5f-fc115c5fcec0 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-19 23:17] jmgasper commented on #577
@atelomycterus - Any thoughts on this one?  Is there any way we can have a category level watch but ignore specific discussions underneath that category watch?

[2021-04-19 23:17] jmgasper commented on #577
Challenge https://www.topcoder.com/challenges/eac0097e-cb13-4b16-9b5f-fc115c5fcec0 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-20 05:30] sdgun commented on #525
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/115342144-68939b80-a1c7-11eb-8137-39d860ee9ffc.png)

![image](https://user-images.githubusercontent.com/4592712/115342257-98db3a00-a1c7-11eb-8af3-9fe721cdfa52.png)

[2021-04-20 05:44] atelomycterus commented on #577
@jmgasper I keep in mind, but did not want to rush to this task.

From the screen above User is watching `New Here & Getting Started` category.

### DB
Watching a category: data are stored in UserMeta table. 4 records should be inserted per a watched category:
[code]

### Watching a category (`discussions` type)
Example, User is watching `New Here & Getting Started` category.

Ok, we can show the

[2021-04-20 06:32] atelomycterus commented on #589
@jmgasper I've checked this trace and all traces from 01:25 to 01:30. There were some traces with the 20-30 sec response times.
![image](https://user-images.githubusercontent.com/10196632/115345753-e8196e80-a1b7-11eb-83df-5248ddb62793.png)

The summary of these traces looks like a non-signed in user/guest was browsing the pages.
I've fixed it  - https://github.com/topcoder-platform/forums/issues/5

[2021-04-20 06:33] jmgasper commented on #577
@atelomycterus - This is great information, thanks, and in-line with what I was hoping we'd be able to do.  Let's skip watching the root category, like `General` for now - we can figure that out later.

[2021-04-20 06:33] jmgasper commented on #589
@atelomycterus - I was watching this live and @hokienick did sign in before getting responses in the 30 second range.

[2021-04-20 20:33] atelomycterus commented on #577
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/590
- https://github.com/topcoder-platform/forums-theme/pull/46/

Thanks!

### Testing
Please clear browser cache before testing. Let me know if you have any questions.

![image](https://user-images.githubusercontent.com/10196632/115459922-497d2400-a230-11eb-92da-b08c457c264d.png)

![image](https://user-images.githubuse

[2021-04-20 21:27] atelomycterus commented on #589
@jmgasper I see Last Active Date, etc in Vanilla. Did he browse pages in incognito mode? Are there any other users who complain about slow performance?

[2021-04-20 22:52] jmgasper commented on #589
@atelomycterus - I haven't heard much complaining about performance.  It seems to mostly affect those with the `Vanilla Admin` role.

@hokienick - Were you using incognito by any chance?

[2021-04-20 23:03] jmgasper commented on #577
@atelomycterus - This looks really good to me, thanks!  I'm just getting feedback from Topcoder as well.

[2021-04-21 00:29] jmgasper commented on #577
@atelomycterus - One clarification from Topcoder:

If a user is watching a category and turns "off" the watch on a discussion underneath that category, Topcoder would like the category watch to be turned off.

[2021-04-21 10:57] atelomycterus commented on #577
@jmgasper

Fixed.

### Testing
Please correct me if i am wrong. This is implemented only for Public Forums.
action | results
-- | --
watch a category (grey + init state: default, it means user hasn't clicked on watching/unwatching a discussion) | category - green , all discussions - green, email notifications (new discussions/comments)
category(green) , unwatch it | category - gray , discussions -

[2021-04-21 11:21] jmgasper opened #592 "[$40] Dollar sign rendered poorly"
@atelomycterus - Noticed in prod is that the `$` symbol seems to break formatting for some reason.  Is that a side effect of the markdown processing?

<img width="724" alt="Screen Shot 2021-04-21 at 9 20 04 pm" src="https://user-images.githubusercontent.com/21790/115545687-6e809e00-a2e7-11eb-8573-c30b5edb1674.png">

[2021-04-21 11:21] jmgasper commented on #592
Challenge https://www.topcoder.com/challenges/352efb04-f47f-47b0-b416-7aa86a180d8d has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-21 11:23] jmgasper commented on #592
Challenge https://www.topcoder.com/challenges/352efb04-f47f-47b0-b416-7aa86a180d8d has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-21 12:01] jmgasper commented on #577
@atelomycterus - Looks good, thanks.  I'm going to close this out now and will take any additional feedback from Topcoder as new tickets.

[2021-04-21 12:01] #577 closed

[2021-04-21 12:01] jmgasper commented on #577
Payment task has been updated: https://www.topcoder.com/challenges/eac0097e-cb13-4b16-9b5f-fc115c5fcec0
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `eac0097e-cb13-4b16-9b5f-fc115c5fcec0` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-21 12:27] atelomycterus commented on #592
@jmgasper We've added supporting Latex in Topcoder Editor. `$` is a math delimiter (https://github.com/topcoder-platform/forums/issues/310#issuecomment-753383357). You can use `\$` at the beginning of the line.

Let me know if you need any help with formatting.

![image](https://user-images.githubusercontent.com/10196632/115552885-74f62200-a2b5-11eb-8377-466a094e0113.png)

[2021-04-21 17:21] atelomycterus commented on #526
@jmgasper Implemented. Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/23/. Thanks!

The algorithm for determining when to format as a table is very simple. This is done to allow the user to paste text into the editor.
_Step 1_. Split data using special characters.
Using standard \r=CR, \n=LF and Unicode special characters:
u2028 = line separator
u2029 = par

[2021-04-21 21:04] jmgasper commented on #592
@atelomycterus - Ah, good point, thanks.  I'll think about how we want to handle this long-term.

[2021-04-21 22:16] jmgasper opened #593 "[$150] Further watch changes"
@atelomycterus :

Got some additional clarification on the watch stuff.  Essentially they want it to work more like a "select all" button:

From @hokienick below:
For example going to this page: https://vanilla.topcoder-dev.com/categories/general-discussion

### Click Parent Eyeball On
Expected behavior: All thread eyeballs turn on despite being turned on/off manually at another time

### Click of

[2021-04-21 22:16] jmgasper commented on #593
Challenge https://www.topcoder.com/challenges/b2a4c2b7-05ad-42fd-b3e3-a7caf9e7b9ee has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-21 22:16] jmgasper commented on #593
Challenge https://www.topcoder.com/challenges/b2a4c2b7-05ad-42fd-b3e3-a7caf9e7b9ee has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-21 22:42] #526 closed

[2021-04-21 22:43] jmgasper commented on #526
Payment task has been updated: https://www.topcoder.com/challenges/a06b9b28-4ff1-4079-8b4e-2f6983c11ff1
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a06b9b28-4ff1-4079-8b4e-2f6983c11ff1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-22 00:07] sdgun commented on #524
Verified in Dev.

Challenge forums:
![image](https://user-images.githubusercontent.com/4592712/115636958-bd045b80-a32c-11eb-90ee-0e422347172f.png)

Public Forums:
![image](https://user-images.githubusercontent.com/4592712/115637022-df967480-a32c-11eb-8312-02156a5f5581.png)

[2021-04-22 00:55] sdgun commented on #526
@atelomycterus I verified this after clearing browser cache, but I don't see the background colors and line formatting being copied from excel, and in Firefox even the table structure is not rendered.

https://user-images.githubusercontent.com/4592712/115639955-7bc37a00-a333-11eb-9f7a-72b1ddc67fed.mp4

[2021-04-22 01:05] sdgun commented on #521
Verified in Dev:

NDA Required:
![image](https://user-images.githubusercontent.com/4592712/115640551-db6e5500-a334-11eb-9d5a-e158e5237b22.png)

Public:
![image](https://user-images.githubusercontent.com/4592712/115640579-ed4ff800-a334-11eb-9de7-9bc913cd4fbe.png)

[2021-04-22 10:08] atelomycterus commented on #526
@jmgasper Please apply PR- https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/24. Thanks!

@sdgun Thanks for testing! Fixed the issue in Firefox. I've tested it with Opera/Chrome/Firefox. Let me know if you observe any issues.

Not supported. When copying cells from Excel and other spreadsheet applications, this data is stored in your browser clipboard.
The destination (topcod

[2021-04-22 10:48] atelomycterus opened #594 "Updated UI: Discussion List"
@jmgasper Logged missing UI changes. Please let me know if this task is in `March 2021Shapeup` scope.

1. `comments` should be replaced with `replies` for all `Discussion` lists in Vanilla.
https://marvelapp.com/prototype/c06bg41/screen/77911803/

![image](https://user-images.githubusercontent.com/10196632/115699289-32445080-a36e-11eb-955d-6153b92279d5.png)

No changes for `Categories` list.  Plea

[2021-04-22 11:07] atelomycterus commented on #530
@jmgasper The Discussion preview screen has been added.  https://marvelapp.com/prototype/c06bg41/screen/78581714.

[2021-04-22 11:12] atelomycterus opened #595 "Updated UI: New Discussion"
@jmgasper Minor changes on New Discussion Page. Please let me know if this is in the scope of 'March 2021 Shapeup'.
The screen - https://marvelapp.com/prototype/c06bg41/screen/78581713
![image](https://user-images.githubusercontent.com/10196632/115704673-54d96800-a374-11eb-95ab-2afe32729de4.png)

[2021-04-22 14:06] atelomycterus commented on #563
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-plugins/pull/95
- https://github.com/topcoder-platform/forums-groups-plugin/pull/86
- https://github.com/topcoder-platform/forums/pull/596
- https://github.com/topcoder-platform/forums-theme/pull/47

Thanks!

### Testing

`New discussion` button - a discussion should be posted in the proper category. Before it was created in

[2021-04-22 21:11] atelomycterus commented on #593
@jmgasper Implemented in PRs: https://github.com/topcoder-platform/forums/pull/596, https://github.com/topcoder-platform/forums-groups-plugin/pull/86. A few questions about watching page.

The recent changes affect Watching page and Watching Count in the left menu.

Previously the counting was simple. Watching Count = Count of Watched Categories (turned on manually)+ Count of Watched Discussions (

[2021-04-22 21:26] atelomycterus commented on #593
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/87. Thanks!

[2021-04-22 23:14] jmgasper commented on #593
@atelomycterus - I wonder if we can just turn off the counts on the left?  If they're going to affect performance, I don't think they're necessarily that useful.

I'll ask Topcoder how they want to display things

[2021-04-22 23:19] jmgasper commented on #593
@atelomycterus - The changes here look good.  I'm going to close this out and we'll think about the counts separately.

[2021-04-22 23:19] #593 closed

[2021-04-22 23:20] #563 closed

[2021-04-22 23:20] jmgasper commented on #593
Payment task has been updated: https://www.topcoder.com/challenges/b2a4c2b7-05ad-42fd-b3e3-a7caf9e7b9ee
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b2a4c2b7-05ad-42fd-b3e3-a7caf9e7b9ee` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-22 23:20] jmgasper commented on #594
@atelomycterus - We'll table this for now, thanks.

[2021-04-22 23:20] jmgasper commented on #563
Payment task has been updated: https://www.topcoder.com/challenges/f68a9ec6-890c-47ba-ba72-d1c385b594b0
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f68a9ec6-890c-47ba-ba72-d1c385b594b0` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-22 23:23] jmgasper commented on #530
Payment task has been updated: https://www.topcoder.com/challenges/456325ed-2c93-4275-8423-4a7ad41bade5
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `456325ed-2c93-4275-8423-4a7ad41bade5` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-23 04:30] sdgun commented on #530
@atelomycterus @jmgasper Have we merged this change? I don't see the mentioned changes even after clearing browser cache.

[2021-04-23 05:50] sdgun commented on #563
Verified in Dev.

- Checked with all tracks/work types
QA - https://vanilla.topcoder-dev.com/group/917
Design - https://vanilla.topcoder-dev.com/group/916
Data science - https://vanilla.topcoder-dev.com/group/915
Development - https://vanilla.topcoder-dev.com/group/914

Some observations:
- Even though the Code Documents/questions have only 5 discussions shown under them in the details page(but so

[2021-04-23 06:36] sdgun commented on #593
@jmgasper Verified in Dev, works as mentioned in public forums, are we not implementing this in challenge forums?

[2021-04-23 09:01] jmgasper commented on #530
@sdgun - Sorry, my bad.  Got mixed up with a different ticket.

[2021-04-23 09:03] jmgasper commented on #593
@sdgun - Where in the challenge forum are you not seeing it work?  We can log a new ticket for that.

[2021-04-23 10:10] atelomycterus commented on #593
@sdgun  @jmgasper It is implemented for `Public forums` only. Please see the original issue (https://github.com/topcoder-platform/forums/issues/577#issue-859094604).

[2021-04-23 10:34] atelomycterus commented on #563
@sdgun It seems to me that the designer probably did not know that announcements section shows all announcements from different categories for Development/QA/Data Science challenges. Perhaps need to add to which category it belongs or show announcements under a category. I think that in future releases we will update this screen.

The default behavior for announcements has not changed, up to the l

[2021-04-23 10:48] atelomycterus commented on #593
@jmgasper

Sure, we can turn off the Watching count. Let's wait for a response from Topcoder.

[2021-04-23 17:53] atelomycterus commented on #530
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/48
https://github.com/topcoder-platform/forums/pull/597

Thanks!

### Testing
Notes: Button layout + editor size will be fixed in https://github.com/topcoder-platform/forums/issues/595.

Previewing a comment:
![image](https://user-images.githubusercontent.com/10196632/115910379-6eaea400-a475-11eb-84b2-f06b00683199.p

[2021-04-23 19:21] jmgasper opened #598 "[$50] Footer update"
Reported by Topcoder:

[2021-04-23 19:29] #530 closed

[2021-04-23 19:43] atelomycterus commented on #598
@jmgasper

Yes, correct. I see the footer (https://vanilla.topcoder-dev.com/) doesn't match MarvelApp. I'll fix it.

[2021-04-23 20:02] jmgasper commented on #598
@atelomycterus the marvel app may not be correct either.  The goal is to have this just match the main site, thanks!

[2021-04-23 20:03] atelomycterus commented on #598
@jmgasper Did you mean 'topcoder.com'?

[2021-04-23 20:04] jmgasper commented on #598
Yep, thanks!

[2021-04-23 20:17] atelomycterus commented on #549
@jmgasper Do you want add some labels like author, etc for a discussion page/category description for a category page?

Slack:
![image](https://user-images.githubusercontent.com/10196632/115924811-ea661c00-a488-11eb-9193-cfe96005e4de.png)

[2021-04-23 20:36] atelomycterus commented on #549
@jmgasper ☝️  ready for your review. Please apply PR-https://github.com/topcoder-platform/forums/pull/599. Thanks! Let me know if you want to customize cards.

**Unfurl settings**
[code]

[2021-04-24 03:29] jmgasper commented on #549
@atelomycterus - This looks great, thanks.  I think this is plenty for now and we can tweak later based on Topcoder feedback.

[2021-04-24 03:29] #549 closed

[2021-04-24 03:30] jmgasper commented on #549
Payment task has been updated: https://www.topcoder.com/challenges/d0abeae1-a5d8-493c-80f4-4fadb4330a55
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d0abeae1-a5d8-493c-80f4-4fadb4330a55` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-24 03:30] jmgasper commented on #598
Challenge https://www.topcoder.com/challenges/5edf00e5-3790-4bd5-8958-c290084c27d0 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-24 03:30] jmgasper commented on #598
Challenge https://www.topcoder.com/challenges/5edf00e5-3790-4bd5-8958-c290084c27d0 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-24 05:56] sdgun commented on #549
@atelomycterus
1. Not working for any challenge forums, is this only available for public forums? Feature request says "..any forum link..."
2. Not working for some public forum discussions (slack/FB/Twitter)
  Ex - https://vanilla.topcoder-dev.com/discussion/3388/test-123
         https://vanilla.topcoder-dev.com/discussion/3409/test
         https://vanilla.topcoder-dev.com/discussion/1196/chall

[2021-04-24 06:37] sdgun commented on #526
Verified in Firefox/Chrome/Edge in Dev.

https://vanilla.topcoder-dev.com/discussion/1639/welcome

[2021-04-24 07:29] sdgun commented on #530
Verified in Dev

![image](https://user-images.githubusercontent.com/4592712/115951127-b0cef880-a4fc-11eb-8084-0a900ffaea80.png)

![image](https://user-images.githubusercontent.com/4592712/115951147-d1974e00-a4fc-11eb-944d-d456e43867f1.png)

![image](https://user-images.githubusercontent.com/4592712/115951185-f12e7680-a4fc-11eb-8e88-674d80ef509c.png)

[2021-04-24 08:29] ketzjs09 opened #600 "[$100] Prod - When posting a new comment in a thread, at times an older comment duplicates"
I have been noticing of the past couple of days that when I post a message in an existing thread, as soon as my message gets posted, a duplicate version of a random existing message appears right above the newly posted message. It vanishes only when the page is refreshed.

[2021-04-24 12:38] atelomycterus commented on #549
@jmgasper Please see notes about authenticated unfurls.  Please apply PR-https://github.com/topcoder-platform/forums/pull/601/. Thanks!

Ex - https://vanilla.topcoder-dev.com/discussion/3388/test-123
https://vanilla.topcoder-dev.com/discussion/3409/test
https://vanilla.topcoder-dev.com/discussion/1196/challenge-overview

https://vanilla.topcoder-dev.com/discussion/3388/test-123 -  PR-#601. Fixed t

[2021-04-24 12:39] atelomycterus commented on #549
@sdgun please my notes ☝️

[2021-04-24 18:17] atelomycterus commented on #598
@jmgasper Need your help to fix an issue with the footer.  `auth0-spa-js script` adds an iframe with `width=0, height=0` but  it doesn't hide it.  The iframe doesn't have id/name attributes.  Adding  css styles to hide all iframes  may break some functionality because Vanilla uses iframes as well. Could you ask Topcoder Team add `id` to the iframe?
So I can hide the iframe by id. Also css styles c

[2021-04-24 23:48] jmgasper commented on #600
Challenge https://www.topcoder.com/challenges/646e0afd-7114-4cbe-ac93-5f1ba1a7bba7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-24 23:48] jmgasper commented on #600
Challenge https://www.topcoder.com/challenges/646e0afd-7114-4cbe-ac93-5f1ba1a7bba7 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 13:40] atelomycterus commented on #456
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/602
https://github.com/topcoder-platform/forums-plugins/pull/96

Thanks!

### Testing
No Announcement popup. User should see `Announce` /`Don't Announce`  in the menu depending on Discussion Announce flag.

![image](https://user-images.githubusercontent.com/10196632/115995349-8ad05380-a5e3-11eb-89c6-9dc1c1045d7b.png)

Aft

[2021-04-25 21:32] atelomycterus commented on #544
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/50
- https://github.com/topcoder-platform/forums/pull/602/
- https://github.com/topcoder-platform/forums-groups-plugin/pull/88

Thanks!

### Testing

Please clear browser cache before testing.

![image](https://user-images.githubusercontent.com/10196632/116010227-60ec5080-a626-11eb-906d-65672ad65390.png)

![image]

[2021-04-25 21:32] jmgasper commented on #544
Challenge https://www.topcoder.com/challenges/a4c211cf-a191-48a6-8a76-c501981e09c0 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 21:32] jmgasper commented on #544
Challenge https://www.topcoder.com/challenges/a4c211cf-a191-48a6-8a76-c501981e09c0 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 21:38] atelomycterus commented on #600
@ketzjs09  I am trying to reproduce this bug, but it works as expected. Could you record a video or provide screenshots? Please let me know what browser you are using. Thanks a lot for your time and help!

[2021-04-25 22:01] jmgasper commented on #598
@atelomycterus - Thanks for that.  I've asked Topcoder what they want to do about the iFrame situation.

[2021-04-25 22:01] #598 closed

[2021-04-25 22:02] #544 closed

[2021-04-25 22:02] jmgasper commented on #598
Payment task has been updated: https://www.topcoder.com/challenges/5edf00e5-3790-4bd5-8958-c290084c27d0
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `5edf00e5-3790-4bd5-8958-c290084c27d0` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 22:02] jmgasper commented on #544
Payment task has been updated: https://www.topcoder.com/challenges/a4c211cf-a191-48a6-8a76-c501981e09c0
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a4c211cf-a191-48a6-8a76-c501981e09c0` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 22:03] #456 closed

[2021-04-25 22:03] #592 closed

[2021-04-25 22:03] jmgasper commented on #456
Payment task has been updated: https://www.topcoder.com/challenges/f5360804-a209-4f4a-8fd5-303078393700
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f5360804-a209-4f4a-8fd5-303078393700` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 22:04] jmgasper commented on #592
Payment task has been updated: https://www.topcoder.com/challenges/352efb04-f47f-47b0-b416-7aa86a180d8d
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `352efb04-f47f-47b0-b416-7aa86a180d8d` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-25 23:44] jmgasper commented on #267
@callmekatootie - We haven't forgotten about this one.  It's not supported by Vanilla out of the box, so we'll have to implement some things.  Not sure when it'll be done.

[2021-04-26 03:07] callmekatootie commented on #267
Thanks for the update @jmgasper

[2021-04-26 07:02] sdgun commented on #598
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/116041921-721b7880-a68b-11eb-8b3d-7683fd8f388c.png)

[2021-04-26 07:18] sdgun commented on #456
Verified in Dev.

https://user-images.githubusercontent.com/4592712/116043776-b6a81380-a68d-11eb-89bc-8ccafa32bd7a.mp4

[2021-04-26 07:36] sdgun commented on #544
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/116045939-30d99780-a690-11eb-9a45-b669cda62b5e.png)

![image](https://user-images.githubusercontent.com/4592712/116045979-3cc55980-a690-11eb-9fe2-baf0b7cf2684.png)

[2021-04-26 08:29] atelomycterus commented on #568
@jmgasper This formatting issue is  due to using two special chars (`*` and `_` ) for italic in EasyMDE .  If the selection contains `*`  or `_` then they are removed,  and the text is wrapped with `*`.

During debugging I found out the same formatting issue with bold. If we paste any string with the 2 underscores, and then select the entire string and press on the bold button, the underscores van

[2021-04-26 09:32] sdgun commented on #549
@jmgasper Are we ok with the current implementation of only showing the preview for public forums?

[2021-04-26 10:07] jmgasper commented on #549
@sdgun - Yes, that's fine, thanks.

[2021-04-26 18:22] atelomycterus commented on #533
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/51
- https://github.com/topcoder-platform/forums/pull/603

Thanks!

### Discussion Page
Please clear browser cache before testing.

1) Date Time Format matches MarvelApp
2) Added  `XXX Posts YYY Comments`

![image](https://user-images.githubusercontent.com/10196632/116131461-183fa080-a6d5-11eb-9cb9-aece005a8ede.pn

[2021-04-26 20:21] atelomycterus commented on #535
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/51/
- https://github.com/topcoder-platform/forums/pull/603
- https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/25
Thanks!

### Testing
Please clear browser cache before testing

![image](https://user-images.githubusercontent.com/10196632/116145410-fac70280-a6e5-11eb-9406-267b12686e81.png)

![

[2021-04-26 20:21] atelomycterus commented on #538
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/51/
- https://github.com/topcoder-platform/forums/pull/603
- https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/25
Thanks!

### Testing
Please clear browser cache before testing

![image](https://user-images.githubusercontent.com/10196632/116145410-fac70280-a6e5-11eb-9406-267b12686e81.png)

![

[2021-04-26 20:28] atelomycterus commented on #568
@jmgasper I've customized bold/italic actions (☝️ ). Use `*` for italic, `**` for bold.
Please apply PR: https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/25. Thanks!

### Testing
![image](https://user-images.githubusercontent.com/10196632/116146341-0f57ca80-a6e7-11eb-85fc-e2ff916dbf1c.png)

![image](https://user-images.githubusercontent.com/10196632/116146373-1979c900-a6e7-1

[2021-04-26 20:33] atelomycterus commented on #522
@jmgasper This issue is already out of date. We've implemented Watch changes for Public Forums in https://github.com/topcoder-platform/forums/issues/593. Please create a new issue if need further changes.

[2021-04-26 21:13] atelomycterus commented on #520
@jmgasper What about advanced notification preferences?
The advanced notification preferences include the ability to customize notifications more flexibly.
User can enable only new comment notifications  or  new discussion notifications for a category,
select how be notified (email or popup). At the moment, users cannot control  advanced notification preferences from the UI.

When user turns on th

[2021-04-26 21:43] #533 closed

[2021-04-26 21:43] jmgasper commented on #533
Payment task has been updated: https://www.topcoder.com/challenges/5246b20b-10ee-4ae4-a473-4168bf2bc883
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `5246b20b-10ee-4ae4-a473-4168bf2bc883` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-26 21:46] #568 closed

[2021-04-26 21:46] #522 closed

[2021-04-26 21:46] jmgasper commented on #522
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-26 21:46] jmgasper commented on #568
Payment task has been updated: https://www.topcoder.com/challenges/4ca3ed16-a6bc-43c4-a234-d6732ab830c1
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `4ca3ed16-a6bc-43c4-a234-d6732ab830c1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-26 21:56] jmgasper commented on #520
@atelomycterus - Ideally, we'd give the user the same control that they would have in the Vanilla UI, so if the API can handle the same level of control, that would be good, thanks.

[2021-04-26 22:00] #538 closed

[2021-04-26 22:00] jmgasper commented on #600
@ketzjs09 - Any chance you could provide a screenshot / more details please?

[2021-04-26 22:00] jmgasper commented on #538
Payment task has been updated: https://www.topcoder.com/challenges/3d07fc2c-c66d-4061-bf94-63ebde123d5b
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `3d07fc2c-c66d-4061-bf94-63ebde123d5b` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-26 22:03] jmgasper commented on #589
@atelomycterus - I spoke with @hokienick.  He was *not* using incognito.

[2021-04-26 22:12] jmgasper commented on #589
@atelomycterus - Just a couple things here:

1.  My `Ghostar` account is an admin and has no performance issues
2. @hokienick  has a separate "regular" user account (not an admin) and that works fine for him - no performance issues
3. Only his `hokienick` account is problematic.  Not sure why.

[2021-04-27 04:16] sdgun commented on #538
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/116184372-3f31bd00-a73d-11eb-9b36-462bdf173710.png)

![image](https://user-images.githubusercontent.com/4592712/116184493-7d2ee100-a73d-11eb-9227-07ea76436c3d.png)

[2021-04-27 04:27] sdgun commented on #568
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/116185312-f7ac3080-a73e-11eb-8a3a-d7ac6800b560.png)

[2021-04-27 04:30] sdgun commented on #535
Verified in Dev with https://github.com/topcoder-platform/forums/issues/538

[2021-04-27 04:37] jmgasper commented on #522
Challenge https://www.topcoder.com/challenges/4b3885c1-371f-42bf-82f3-a70de636b9fa has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-27 05:14] sdgun commented on #533
Verified in Dev by creating/deleting comments and posts in challenge forums/public forums. Also checked in guest view.

![image](https://user-images.githubusercontent.com/4592712/116188667-73a97700-a745-11eb-9e62-12d9bd2616ae.png)

![image](https://user-images.githubusercontent.com/4592712/116188727-891ea100-a745-11eb-98da-9cd5c818b92e.png)

![image](https://user-images.githubusercontent.com/45927

[2021-04-27 05:22] jmgasper opened #604 "[$30] Update post count"
@atelomycterus - Topcoder has requested that the post count recently implemented be updated as follows:

1.  Instead of separate post and comment counts, just sum those up into one value
2. Just use the suffix `posts`, like `1234 posts`

[2021-04-27 05:22] jmgasper commented on #604
Challenge https://www.topcoder.com/challenges/d4a7f028-a272-4664-816f-53505f988a81 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-27 05:22] jmgasper commented on #604
Challenge https://www.topcoder.com/challenges/d4a7f028-a272-4664-816f-53505f988a81 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-27 08:08] ketzjs09 commented on #600
Hi @jmgasper, I'm nowadays trying to keep my unpaid time donations to Topcoder to the minimum, so instead of spending time making video I'll describe textually what happened.

I don't have any challenges running right now, so haven't tested it recently. I noticed this twice last week or so, once while posting in the copilot evolution thread and once in a challenge. In the evolution thread, I poste

[2021-04-27 08:09] jmgasper commented on #600
Ok, no worries thanks.  We'll use that to see if we can reproduce.  Thanks for taking the time to document this for us!

[2021-04-27 08:13] ketzjs09 commented on #600
You're welcome.

[2021-04-27 08:37] ketzjs09 opened #605 "Unable to create a new thread"
I'm unable to create a new thread in the forums. As of now, I'm noticing this in a private channel, but I noticed the same last week in a challenge that I was copiloting. The challenge was complete, so I assumed maybe the new forum does not allow new threads to be created in completed challenges, but I'm noticing it here as well.

![forum_blurred](https://user-images.githubusercontent.com/62241220

[2021-04-27 08:50] jmgasper commented on #605
@ketzjs09 - Any errors in the JS console? What browser are you using?

[2021-04-27 09:32] ketzjs09 commented on #605
Using Microsoft Edge (based on Chromium)
Version 90.0.818.49 (Official build) (64-bit)

![console](https://user-images.githubusercontent.com/62241220/116219330-1f17f300-a769-11eb-9e3c-9214cfc43ff7.PNG)

[2021-04-27 09:33] ketzjs09 commented on #605
Tested it on Chrome, and can see the 'New Discussion' button on it, but not on Edge.

[2021-04-27 10:20] atelomycterus commented on #604
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/606, Thanks!

### Testing
![image](https://user-images.githubusercontent.com/10196632/116225282-54691480-a75a-11eb-8d25-34af41b8241d.png)

[2021-04-27 12:26] atelomycterus commented on #499
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums/pull/607.
https://github.com/topcoder-platform/forums-theme/pull/53 - Fixed minor css style issues with Reply button.
https://github.com/topcoder-platform/forums-groups-plugin/pull/89 - Fixed missing dropdown options for admin/copilots, etc on a Group Page.  The group page has matched MarvelApp but the dropdown options wasn't

[2021-04-27 13:33] atelomycterus commented on #589
@jmgasper Thanks a lot for your time and help. Earlier, we have already added the ability through the debug plugin to get what final permissions a user has in Vanilla. I have compared several accounts with Vanilla admin role. For some reason `hokienick` account with Vanilla Admin role returns 'discussion.views' = true (`discussions.add=true`, etc). It was strange.  It should be a category list for

[2021-04-27 17:40] atelomycterus commented on #605
@ketzjs09 Please clear browser cache  in Microsoft Edge. I've tested it in Microsoft Edge, no issues. Let me know if the issue exists.

Testing with Version 90.0.818.49 (Official build) (64-bit):
![image](https://user-images.githubusercontent.com/10196632/116287118-b21c5180-a798-11eb-831b-d28b863bd1bb.png)

![image](https://user-images.githubusercontent.com/10196632/116286794-4f2aba80-a798-11eb-8b

[2021-04-27 19:27] atelomycterus commented on #600
@ketzjs09 Thanks a lot for your help! From the text description it looks like the old js files are in the browser cache.
The recent changes were deployed on the twentieth of April. We changed updating comments after posting new ones. Please clear your browser cache. If there are any issues, do not hesitate to contact.

[2021-04-27 21:43] #604 closed

[2021-04-27 21:43] jmgasper commented on #604
Payment task has been updated: https://www.topcoder.com/challenges/d4a7f028-a272-4664-816f-53505f988a81
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d4a7f028-a272-4664-816f-53505f988a81` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-27 21:46] #605 closed

[2021-04-27 21:46] #600 closed

[2021-04-27 21:47] jmgasper commented on #600
Payment task has been updated: https://www.topcoder.com/challenges/646e0afd-7114-4cbe-ac93-5f1ba1a7bba7
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `646e0afd-7114-4cbe-ac93-5f1ba1a7bba7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-27 21:47] #499 closed

[2021-04-27 21:48] jmgasper commented on #499
Payment task has been updated: https://www.topcoder.com/challenges/d2735e7a-bff3-47c8-9d0b-ef19a1cfdfb9
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d2735e7a-bff3-47c8-9d0b-ef19a1cfdfb9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-28 00:19] #270 closed

[2021-04-28 00:19] #268 closed

[2021-04-28 00:24] jmgasper commented on #255
Fixed now, both with the upload button and drag-and-drop

[2021-04-28 00:24] #255 closed

[2021-04-28 00:24] jmgasper commented on #253
Still working on navigation here..

[2021-04-28 00:24] #199 closed

[2021-04-28 00:25] #182 closed

[2021-04-28 00:25] #154 closed

[2021-04-28 00:26] #153 closed

[2021-04-28 00:26] jmgasper commented on #131
This should be working now, I think.

[2021-04-28 00:26] #127 closed

[2021-04-28 00:26] jmgasper commented on #127
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-28 00:27] #113 closed

[2021-04-28 00:27] #81 closed

[2021-04-28 00:28] #78 closed

[2021-04-28 00:28] #257 closed

[2021-04-28 00:28] jmgasper commented on #257
<img width="950" alt="Screen Shot 2021-04-28 at 10 28 43 am" src="https://user-images.githubusercontent.com/21790/116328504-82a72c80-a80c-11eb-876c-3b56ef081c26.png">

This is now split out appropriately.

[2021-04-28 00:29] jmgasper commented on #271
This is all consolidated into a single "watch" now.

[2021-04-28 00:29] #271 closed

[2021-04-28 00:30] #339 closed

[2021-04-28 00:30] #337 closed

[2021-04-28 00:30] #333 closed

[2021-04-28 00:34] #288 closed

[2021-04-28 00:34] #287 closed

[2021-04-28 00:34] jmgasper commented on #284
@callmekatootie - This was discussed as part of the plan for the current shapeup.  Topcoder decided to do the up/down voting first, but they are aware that this was also requested.

[2021-04-28 00:35] #280 closed

[2021-04-28 00:37] jmgasper commented on #371
@sdgun - Can we retest this please?

[2021-04-28 00:37] #383 closed

[2021-04-28 00:38] #390 closed

[2021-04-28 00:39] #429 closed

[2021-04-28 04:05] sdgun commented on #429
This issue is fixed in Dev now.

[2021-04-28 04:23] sdgun commented on #383
This issue is fixed after moving the New Discussion button since we don't show the category drop down to the user.

[2021-04-28 04:53] sdgun commented on #371
@jmgasper Category selection is only available now on saved New discussions, however I couldn't reproduce this issue. Therefore closing it.

[2021-04-28 04:53] #371 closed

[2021-04-28 05:14] sdgun commented on #81
Invalid after the changes done to the details page in the Forums shape up 2 since Members section is not available anymore.

[2021-04-28 05:16] jmgasper commented on #127
Challenge https://www.topcoder.com/challenges/08eb89fe-02e1-43c6-a2f1-975c740433b4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-28 06:03] sdgun commented on #131
@jmgasper This still exists.

User - Tcconncopilot
Project - https://www.topcoder-dev.com/challenges/3501ddea-2b18-48aa-ad2b-bddb212812fb
OR - https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30058895

[2021-04-28 06:58] sdgun commented on #499
Verified in Dev with all users.

[2021-04-28 07:17] sdgun commented on #604
Verified in Dev

![image](https://user-images.githubusercontent.com/4592712/116362552-cc4d4280-a81f-11eb-9640-f61878e3a5dc.png)

[2021-04-28 21:41] atelomycterus commented on #520
@jmgasper The current status:

Implemented for general notification preferences + advanced notification preferences.
TODO: Normalize output for Category Preferences

![image](https://user-images.githubusercontent.com/10196632/116475856-13205400-a883-11eb-8bde-2aa93ad52fcd.png)

Implemented for general notification preferences.
TODO: patch advanced notification preferences. I'm going to implement a

[2021-04-28 22:13] hokienick opened #609 "[$30] Homepage Hierarchy"
Please put the Categories in this order:
- General
- News
- Learning
- Freelance Gig Work (This is new)
- - Gig Work Discussion (moved from General)
- - Talk To A Recruiter
- Algorithm
- Design
- Development
- Marathon
- QA
- Private

Then in the General Category can we have the topics in this order:
- General Discussion
- New Here and Getting Started
- Chat with MVPs
- Payment Discussions
- Exter

[2021-04-28 22:33] jmgasper commented on #609
Challenge https://www.topcoder.com/challenges/74f3bb6e-a507-4b8b-a73b-188fbea1179c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-28 22:33] jmgasper commented on #609
Challenge https://www.topcoder.com/challenges/74f3bb6e-a507-4b8b-a73b-188fbea1179c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-28 22:40] jmgasper commented on #609
I think I figured this out - was stuck on the moving a sub-category from one parent to another, but I did this via the API

[2021-04-28 22:40] #609 closed

[2021-04-28 22:40] jmgasper commented on #609
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-29 04:17] jmgasper commented on #609
Challenge https://www.topcoder.com/challenges/6b3666ea-a5d0-41e3-808e-1079355c25d1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-29 21:47] atelomycterus commented on #520
@jmgasper I pushed code in the branches. Need to test it before deploying it on PROD because there are some changes in Topcoder plugin to support JWT token.  I'll create PRs after deploying the current shapeup release on PROD.

https://github.com/topcoder-platform/forums/tree/issues-520
https://github.com/topcoder-platform/forums-plugins/tree/issues-520

### New endpoints
`/users/me-preferences` G

[2021-04-30 04:38] sdgun commented on #429
Verified in production,

![image](https://user-images.githubusercontent.com/4592712/116648964-fe83af00-a99b-11eb-85b6-31c2f19ee1ae.png)

[2021-04-30 04:46] sdgun commented on #499
Verified in production

![image](https://user-images.githubusercontent.com/4592712/116649515-098b0f00-a99d-11eb-9aaa-bd7d66a0990b.png)

[2021-04-30 04:50] sdgun commented on #604
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116649751-a9489d00-a99d-11eb-9bb5-7aa32727c026.png)

[2021-04-30 04:50] sdgun commented on #533
https://github.com/topcoder-platform/forums/issues/604#issuecomment-829816201

[2021-04-30 04:52] sdgun commented on #456
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116650003-ee6ccf00-a99d-11eb-8224-e9a357a2bfcc.png)

[2021-04-30 04:56] sdgun commented on #568
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116650273-866ab880-a99e-11eb-94ad-651b9bcf7824.png)

[2021-04-30 05:00] sdgun commented on #538
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116650535-f2e5b780-a99e-11eb-89ff-f11f2259b397.png)

![image](https://user-images.githubusercontent.com/4592712/116650564-085ae180-a99f-11eb-97e0-a3ba00515085.png)

[2021-04-30 05:09] sdgun commented on #521
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116650676-4ce67d00-a99f-11eb-92c3-d651ef4bbe44.png)

![image](https://user-images.githubusercontent.com/4592712/116651226-5de3be00-a9a0-11eb-8229-60834dcad02d.png)

[2021-04-30 05:11] sdgun commented on #524
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116651320-9388a700-a9a0-11eb-8786-81c0e6cd6dbe.png)

[2021-04-30 05:12] jmgasper commented on #584
Verified in production

[2021-04-30 05:13] sdgun commented on #584
Verified in production.

[2021-04-30 05:15] sdgun commented on #526
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116651570-1e69a180-a9a1-11eb-8c7a-ca1b56d3d063.png)

[2021-04-30 05:18] sdgun commented on #593
Verified in production.

[2021-04-30 05:22] sdgun commented on #563
Verified in production.

https://discussions.topcoder.com/group/997

[2021-04-30 05:23] sdgun commented on #530
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116652198-57eedc80-a9a2-11eb-83fd-4c661b9c9d2b.png)

[2021-04-30 05:24] sdgun commented on #598
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116652264-748b1480-a9a2-11eb-8f7a-f27af35fd4b0.png)

[2021-04-30 05:26] sdgun commented on #544
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116652385-b025de80-a9a2-11eb-99a5-1d0c1725f7b8.png)

![image](https://user-images.githubusercontent.com/4592712/116652400-ba47dd00-a9a2-11eb-8f8c-f4b45b72d82e.png)

[2021-04-30 05:32] sdgun commented on #587
Verified in production.

https://user-images.githubusercontent.com/4592712/116652794-8c16cd00-a9a3-11eb-8928-1dbdf650a99e.mp4

[2021-04-30 05:35] sdgun commented on #554
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/116652999-f465ae80-a9a3-11eb-8c45-97005d0bee93.png)

[2021-04-30 12:41] atelomycterus commented on #520
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/611
- https://github.com/topcoder-platform/forums-plugins/pull/98

Thanks!

[2021-05-01 00:53] jmgasper commented on #520
@atelomycterus - Deployed to dev, thanks!  Gonna close this now so that we don't have issues with billing.

[2021-05-01 00:53] #520 closed

[2021-05-01 00:54] jmgasper commented on #520
Payment task has been updated: https://www.topcoder.com/challenges/85e41859-3cfa-4772-8f37-4b3bf4b09475
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `85e41859-3cfa-4772-8f37-4b3bf4b09475` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-03 09:38] RiteshTC opened #612 "When Email is changed for a user, it should be updated in Vanilla as well."
Steps
Edit a user email in admin tool (or via the api using admin token).
The email is updated on profile.

Email on Vanilla forum is not updated and uses the old email.

[2021-05-06 17:13] hokienick opened #613 "Link Colors Should Match"
We found that links within some posts are turned green, when all links should be the dark blue color.

![image](https://user-images.githubusercontent.com/1373998/117338641-a8a77f00-ae53-11eb-9fa2-a9482cffd281.png)

[2021-05-06 21:04] jmgasper commented on #613
Challenge https://www.topcoder.com/challenges/66bbf02a-41e2-412d-91e6-6db21c2ab824 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-06 21:04] jmgasper commented on #613
@atelomycterus - Can you look at this one please?

[2021-05-06 21:04] jmgasper commented on #613
Challenge https://www.topcoder.com/challenges/66bbf02a-41e2-412d-91e6-6db21c2ab824 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-07 08:45] atelomycterus commented on #613
@jmgasper This post is displayed with blue links. Please clear browser cache.
Chrome:
![image](https://user-images.githubusercontent.com/10196632/117423116-05289e00-af29-11eb-9db8-b3856fc3bc0d.png)

Opera:
![image](https://user-images.githubusercontent.com/10196632/117423730-b4fe0b80-af29-11eb-8a50-0bfbedba9d19.png)

The only thing I noticed is when I hover the mouse, the link is green. I'll fix i

[2021-05-07 08:59] coderhacker opened #614 "Forum link is not active for the Active challenges"
### Expected behavior
Forum link is available for the Active challenges, this should be active.

Please note: This is working on the Production environment. please see attached screenshot
![image](https://user-images.githubusercontent.com/62358241/117422934-c6511300-af3d-11eb-8075-fc278f672cc3.png)

### Actual behavior
The Forum link is not active for the Active challenges for all track

### Steps

[2021-05-07 10:02] atelomycterus commented on #613
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/forums-theme/pull/55
- https://github.com/topcoder-platform/forums-plugins/pull/99

Thanks!

### Fixed issues

- the link color on mouseover for posts, the link font size (was 14px) for posts:
![image](https://user-images.githubusercontent.com/10196632/117431242-ac113800-af31-11eb-801b-22ebc3209136.png)

- Preview mode: the link co

[2021-05-08 02:23] jmgasper commented on #614
@coderhacker - Can you post a sample challenge ID or two please?

[2021-05-08 02:25] jmgasper opened #615 "[$100] Challenge not showing up under "Challenge Forums""
@atelomycterus - This one got reported in prod today:

1.  Register for one of the "design month" challenges, like this one: https://www.topcoder.com/challenges/56ad1287-b693-4121-860b-3c01489f413b
2.  You can access the forum through the `Challenge Discussion` link in the TC community app

### Expected

You should be able to also see the challenge in the list under `Challenge Forums` in Vanilla:

[2021-05-08 02:25] jmgasper commented on #615
Challenge https://www.topcoder.com/challenges/b365e921-8d45-40fe-b178-c47617398108 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-08 05:07] jmgasper commented on #613
Payment task has been updated: https://www.topcoder.com/challenges/66bbf02a-41e2-412d-91e6-6db21c2ab824
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `66bbf02a-41e2-412d-91e6-6db21c2ab824` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-08 09:47] atelomycterus commented on #615
@jmgasper You are right. The issue occurred only for Design challenges. Sorry about that.  Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/91. Thanks!

### Testing
Test 1: The non-archived design challenge should be displayed on `Challenge forums` page if the user has already registered for this challenge.
Test 2: Register for a design challenge. The design challenge

[2021-05-09 01:10] #615 closed

[2021-05-09 01:11] jmgasper commented on #615
Payment task has been updated: https://www.topcoder.com/challenges/b365e921-8d45-40fe-b178-c47617398108
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b365e921-8d45-40fe-b178-c47617398108` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-10 05:36] sdgun commented on #613
Verified the link and the preview link color of the user without rating in production.

[2021-05-10 06:53] RiteshTC opened #617 "Feature Request: Need an feature to view members on a Vanilla group."
When a user complains about not having access to forum, we need to determine if he is  correctly added the vanilla group.

Please provide the steps to see all members in the group
or if not present, please provide an interface to view the members added to the challenge vanilla group.

[2021-05-10 07:05] m-yadav opened #618 "[$50] Prod - Users not able to access challenge discussion post registration on a contest"
Registered users are getting permission denied error while trying to access the challenge discussion page.

for instance the error is observed on https://www.topcoder.com/challenges/53039ebe-384b-4f55-b768-dec66bc1c259?tab=details
the challenge discussion link is : https://discussions.topcoder.com/categories/53039ebe-384b-4f55-b768-dec66bc1c259

Ideally the users when registered should be able to

[2021-05-10 07:16] jmgasper commented on #618
Challenge https://www.topcoder.com/challenges/f9d7c8a1-5d54-4e61-af23-3d3cc3e747f2 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-10 07:52] atelomycterus commented on #618
@jmgasper Need your help with this issue.
1) Could you provide the names of users who cannot access the group challenge? I'll check UserGroup table.
2) Could you provide Vanilla log file from PROD?
3) Could you provide a challenge forum processor log file from PROD?

[2021-05-10 08:34] Dara-K commented on #618
@atelomycterus  Me and irfanrosandi, couldn't access [this design challenge](https://www.topcoder.com/challenges/53039ebe-384b-4f55-b768-dec66bc1c259), but the support team send me an invitation and that is solved.  They are still working with irfanrosandi on it.

However there are other members with same issue:

Examples:
**lavisht22** can't access this challenge:
https://www.topcoder.com/challen

[2021-05-10 10:11] jmgasper commented on #618
@atelomycterus - Logs:

[code]

[2021-05-10 11:56] atelomycterus commented on #618
@jmgasper Please apply PRs
- https://github.com/topcoder-platform/forums-plugins/pull/101
- https://github.com/topcoder-platform/forums/pull/619

Thanks!

The problem was caused by two REST API controllers with the same name in different Vanilla plugins/application. As a result, only the methods of the last controller were available.

[2021-05-10 20:48] atelomycterus commented on #618
@jmgasper
### PROD
**Important note**: For users who have previously registered for a challenge and have a problem with access. Need to unregister and register  for a challenge again.

Normal user:
register for a challenge (https://www.topcoder.com/challenges/b17c63a3-2720-4753-8474-32a5e2ef23fb)
![image](https://user-images.githubusercontent.com/10196632/117722792-2e2b8600-b1ea-11eb-965a-41ceb559

[2021-05-10 20:50] #618 closed

[2021-05-10 20:51] jmgasper commented on #618
Payment task has been updated: https://www.topcoder.com/challenges/f9d7c8a1-5d54-4e61-af23-3d3cc3e747f2
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f9d7c8a1-5d54-4e61-af23-3d3cc3e747f2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-11 04:59] coderhacker commented on #614
https://challenges.topcoder-dev.com/projects/16573/challenges/452751f3-1418-496b-92e0-5e142a902b7f/view
https://challenges.topcoder-dev.com/projects/16573/challenges/0acac439-40b6-4b84-9358-3cdbe20925c8/view

[2021-05-11 05:20] jmgasper commented on #614
@coderhacker - Are those launched under a group?  I see a strange error when I try to pull details on the challenge:

[code]

[2021-05-11 06:47] jmgasper commented on #614
What's the prod challenge that uses that group?

[2021-05-11 22:23] jmgasper commented on #614
@coderhacker - Ok, thanks.  That helps rule out the groups idea I had.

For 452751f3-1418-496b-92e0-5e142a902b7f, I can see that the discussions object just doesn't have the `url` parameter added to it, in the data from the `/v5/challenges` endpoint.  This `url` parameter is added by the forum processor after the group is created.

The group on Vanilla actually did get created just fine (https://v

[2021-05-21 19:36] jmgasper opened #621 "Can't paste on iPhone"
Reported by a user:

[2021-05-21 23:07] jmgasper opened #622 "[$40] Add Sign Up link"
We've added a `Sign Up` link for users who are not logged in, which should redirect to the Auth0 sign up page:

https://marvelapp.com/prototype/64hibf3/screen/79554857

### Standards

https://platform.topcoder-dev.com/model/help/copilots-link

[2021-05-24 10:20] lakshmiathreya commented on #614
cc @sdgun

[2021-05-24 10:26] lakshmiathreya commented on #614
https://github.com/topcoder-platform/work-manager/issues/1150

[2021-05-24 10:26] lakshmiathreya commented on #614
https://github.com/topcoder-platform/work-manager/issues/1150

[2021-05-27 17:21] Oanh-and-only-Oanh opened #623 "[$40] Update to Rainbow logo for month of June"
Change Topcoder logo to rainbow for June 1st on discussion.topcoder.com

[2021-05-27 17:21] jmgasper commented on #623
Challenge https://www.topcoder.com/challenges/5a16dd57-7b00-47ca-8b7d-abda7ac3aac9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-27 17:21] jmgasper commented on #623
Challenge https://www.topcoder.com/challenges/5a16dd57-7b00-47ca-8b7d-abda7ac3aac9 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-27 19:41] atelomycterus commented on #623
@jmgasper Where can I download the logo to update? Thanks!

[2021-05-27 20:07] Oanh-and-only-Oanh commented on #623
@atelomycterus I'm not able to add it to this ticket for some reason but I DM'ed you on slack with the file

[2021-05-27 20:09] atelomycterus commented on #623
@Oanh-and-only-Oanh Thanks!

[2021-05-27 21:22] atelomycterus commented on #623
@jmgasper  Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/57/
https://github.com/topcoder-platform/forums/pull/624

In config, a default Topcoder logo path:
[code]

After deploying PRs, you can update a logo in Settings without re-deploying. Need to set  a new logo path.

![image](https://user-images.githubusercontent.com/10196632/119898346-6650f980-bf4a-11eb-80dc-9c62a4d

[2021-05-28 04:59] sdgun commented on #623
Verified in Dev, the new rainbow logo is displayed now.

[2021-05-28 05:28] sdgun commented on #623
@Oanh-and-only-Oanh Do we also want the logo in the footer updated? It's only updated in the Header now

[2021-05-28 05:29] #623 closed

[2021-05-28 05:30] jmgasper commented on #623
Payment task has been updated: https://www.topcoder.com/challenges/5a16dd57-7b00-47ca-8b7d-abda7ac3aac9
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `5a16dd57-7b00-47ca-8b7d-abda7ac3aac9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-28 16:18] SathyaJayabal opened #625 "[$40] Update header to include signup buttton"
Update header to include signup buttton to match this change on community app
https://github.com/topcoder-platform/community-app/issues/5526

cc @Oanh-and-only-Oanh

### Standards

https://platform.topcoder-dev.com/model/help/copilots-link

[2021-05-28 16:24] jmgasper commented on #622
Challenge https://www.topcoder.com/challenges/a3f23974-1b2e-4c79-9e7e-edf2e63c4011 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-28 16:24] jmgasper commented on #625
Challenge https://www.topcoder.com/challenges/7aacf29e-0662-493f-b143-e18524a5d0f8 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-28 21:28] atelomycterus commented on #622
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/58
https://github.com/topcoder-platform/forums-plugins/pull/103
https://github.com/topcoder-platform/forums/pull/626

Thanks!

### Testing
![image](https://user-images.githubusercontent.com/10196632/120043508-c4e2aa00-c014-11eb-9f20-36e798fc451d.png)

[2021-05-28 21:48] atelomycterus commented on #625
@jmgasper Please update the `Register url` if you want to configure the link with query params as mentioned in the issue(https://github.com/topcoder-platform/community-app/issues/5526) or change it. The current value is `https://www.topcoder-dev.com/user-selection/` in DEV:

![image](https://user-images.githubusercontent.com/10196632/120044824-489d9600-c017-11eb-916d-2925c2fb4023.png)

Please appl

[2021-05-29 01:23] #622 closed

[2021-05-29 01:23] jmgasper commented on #622
Payment task has been updated: https://www.topcoder.com/challenges/a3f23974-1b2e-4c79-9e7e-edf2e63c4011
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a3f23974-1b2e-4c79-9e7e-edf2e63c4011` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-31 04:07] sdgun commented on #622
Verified in Dev, this link is taking the user to https://www.topcoder-dev.com/user-selection/

![image](https://user-images.githubusercontent.com/4592712/120138271-ccac7500-c1f3-11eb-9c1e-98530381ddec.png)

[2021-05-31 04:17] sdgun commented on #625
Verified in Dev, the https://www.topcoder-dev.com/user-selection/ page is opened as configured now.

![image](https://user-images.githubusercontent.com/4592712/120139008-36794e80-c1f5-11eb-9b41-14e10ee12ab8.png)

@atelomycterus @jmgasper Note: Now we don't have the Rainbow logo anymore in Dev.

[2021-05-31 04:20] jmgasper commented on #625
@sdgun ill fix it shortly.  It's just a config value that gets reset on a deploy

[2021-05-31 20:56] #625 closed

[2021-05-31 20:57] jmgasper opened #627 "[$500] Check in on slowness reported"
@atelomycterus - We're getting sporadic reports of slowness in the forums from regular members.  Can you check tideways please?

1.  From member `Gassa`:

2.  https://discussions.topcoder.com/discussion/7581/excited-to-see-the-new-forums
3.  From member `ged`:

4. From member `binchan`

[2021-05-31 20:57] jmgasper commented on #625
Payment task has been updated: https://www.topcoder.com/challenges/7aacf29e-0662-493f-b143-e18524a5d0f8
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7aacf29e-0662-493f-b143-e18524a5d0f8` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-31 20:59] jmgasper commented on #627
Challenge https://www.topcoder.com/challenges/16a2ddb4-0dbc-4003-8c75-17c766f75151 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-31 20:59] jmgasper commented on #627
Challenge https://www.topcoder.com/challenges/16a2ddb4-0dbc-4003-8c75-17c766f75151 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-01 05:32] sdgun commented on #625
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/120271373-db189080-c2c8-11eb-9bd3-0ab39ef9e1c8.png)

[2021-06-01 05:33] sdgun commented on #622
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/120271443-fbe0e600-c2c8-11eb-9529-974d4d105e4e.png)

[2021-06-01 05:34] sdgun commented on #623
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/120271495-131fd380-c2c9-11eb-9eaa-b43d3a2845de.png)

[2021-06-01 20:57] atelomycterus commented on #627
@jmgasper I am working on it.

[2021-06-02 15:32] hokienick opened #629 "[$45] Update Forums Footer to Match Community App"
Please update the footer to match the other community pages.

**Community Footer**
<img width="1354" alt="Screen Shot 2021-06-02 at 8 28 18 AM" src="https://user-images.githubusercontent.com/1373998/120508945-fd6be600-c37c-11eb-8569-d5c61c454a39.png">

**Forums Footer**
<img width="1377" alt="Screen Shot 2021-06-02 at 8 32 17 AM" src="https://user-images.githubusercontent.com/1373998/120509039-0fe

[2021-06-02 15:56] jmgasper commented on #629
Challenge https://www.topcoder.com/challenges/68d980eb-747f-4dcd-be25-1cf91611dd0c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-02 15:56] jmgasper commented on #629
Challenge https://www.topcoder.com/challenges/68d980eb-747f-4dcd-be25-1cf91611dd0c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-02 17:44] atelomycterus commented on #627
@jmgasper All requests with the response time >= 30 secs  have  the high `Unaccounted Wait` .
`Unaccounted Wait` means that the PHP process is waiting for I/O, however the amount of time cannot be accounted for by data from the timeline trace, such as SQL queries or HTTP calls. This is often the case when the server is under high load, and the PHP process executing the request is not getting resou

[2021-06-02 21:35] atelomycterus commented on #629
@jmgasper Please apply one more PR-https://github.com/topcoder-platform/forums-theme/pull/61. Updated the footer for mobiles. Thanks!

### Testing
Please clear browser cache before testing:

![image](https://user-images.githubusercontent.com/10196632/120547972-74938f80-c3fa-11eb-8831-13d593196497.png)

![image](https://user-images.githubusercontent.com/10196632/120555297-8c234600-c403-11eb-88ef-20

[2021-06-02 21:56] #629 closed

[2021-06-02 21:57] jmgasper commented on #629
Payment task has been updated: https://www.topcoder.com/challenges/68d980eb-747f-4dcd-be25-1cf91611dd0c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `68d980eb-747f-4dcd-be25-1cf91611dd0c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-02 22:10] jmgasper commented on #627
@atelomycterus - Sounds good, thanks.

[2021-06-04 04:04] sdgun opened #630 "The text in the footer in mobile devices is not shown in one line"
Footer in mobile devices is shown like below:

![image](https://user-images.githubusercontent.com/4592712/120744159-09d87600-c518-11eb-8d92-99260e67bec4.png)

Device: iPhone 6S
OS: 13.7
Browser: Safari

Device: Pixel XL
OS: Android 10
Browser: Chrome

[2021-06-04 04:05] sdgun commented on #629
Verified in Dev, the footer is now changed to the community footer.

![image](https://user-images.githubusercontent.com/4592712/120743188-2378be00-c516-11eb-9bae-2c1c28e71cc0.png)

Reported below issue on mobile devices https://github.com/topcoder-platform/forums/issues/630

[2021-06-04 10:17] atelomycterus commented on #630
@sdgun I missed it. Fixed. Thanks for testing!

@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/62. Thanks!

### Testing
Please clear browser cache before testing.
![image](https://user-images.githubusercontent.com/10196632/120786524-fc7eb400-c536-11eb-9920-46208e3029ac.png)

[2021-06-04 21:54] #630 closed

[2021-06-04 21:55] jmgasper opened #631 "[$100] Prod - Active Gig Workers"
@atelomycterus - Topcoder admins are saying that they aren't adding folks to the `Active Gig Workers` group, but it's still growing at a rapid rate.  This was a custom role we added - it's not synced from the Topcoder side (group type = `member`, not `Topcoder`).  Are there any reasons why folks may be getting automatically added to that group?  Any way we can pull logs or something to figure that

[2021-06-04 21:55] jmgasper commented on #631
Challenge https://www.topcoder.com/challenges/8b481f60-069d-462b-ac6f-b9a0df18181e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-05 13:24] atelomycterus commented on #631
@jmgasper I can reproduce it. I'll fix a challenge forum processor.
I'll look at a few more columns in the database and we can probably figure out which accounts were created this way.

_How reproduce it_
Create a new account, don't navigate to Topcoder Forums and register for a challenge:

![image](https://user-images.githubusercontent.com/10196632/120893124-2957c780-c61a-11eb-8762-b6ad9e950102.p

[2021-06-05 17:44] atelomycterus commented on #631
@jmgasper The 'Vanilla Member' role (type='member') is only added by default  +  Topcoder roles (type='topcoder') if user hasn't been created in Vanilla.

PR- https://github.com/topcoder-platform/challenge-forum-processor/pull/61. Thanks!

You can change `DEFAULT_MEMBER_ROLES` if you want. The default value is `['Vanilla Member']` (array of Vanilla role names).

https://github.com/topcoder-platfor

[2021-06-05 21:43] #631 closed

[2021-06-05 21:43] jmgasper commented on #631
Payment task has been updated: https://www.topcoder.com/challenges/8b481f60-069d-462b-ac6f-b9a0df18181e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `8b481f60-069d-462b-ac6f-b9a0df18181e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-07 00:55] m-yadav opened #632 "discussion with "localhost" in URL are getting blocked"
Hi Team,

Discussions for which the URL contains localhost are getting blocked and giving a 403 error.
Example:

On Page https://discussions.topcoder.com/categories/264d6346-3fd0-434e-bed9-c06b1ddbd9fd-questions

![image](https://user-images.githubusercontent.com/45197181/120946010-a721ed00-c758-11eb-90c7-e2224e5e4ccc.png)

For above image , clicking on the highlighted discussion thread takes us t

[2021-06-07 04:58] sdgun commented on #630
Verified in Dev.

[2021-06-07 06:39] sdgun commented on #631
@atelomycterus @jmgasper FYI Created a new user in Dev to verify this issue(user handle - testvffortc) but this user cannot register to any challenge, looks like there are issues with the new users. I am checking this with @drasticdpk I will verify once this is fixed.

[2021-06-07 07:40] atelomycterus commented on #627
@jmgasper The number of categories (challenges)/users/etc have grown in recent months.
The resources required to complete requests are increasing. For example, on average 35 MB of memory was required to execute a request in April, but now it is more than 50 MB for the same request.

<b style="font-weight:normal;" id="docs-internal-guid-ae8eb615-7fff-9e12-a420-1d588ea39e52"><div dir="ltr" style="ma

[2021-06-08 03:30] sdgun commented on #631
Verified in Dev.

1. Created role (type='member') in Vanilla from vanilla app UI
2. Created a new user using topocder-dev.com and registered to a challenge.
3. Verified the roles for the new user in Vanilla

Observation: Active gig workers role is not added

![image](https://user-images.githubusercontent.com/4592712/121118681-ea9f5880-c837-11eb-896a-410d8d4704cb.png)

[2021-06-08 05:56] jmgasper commented on #627
@atelomycterus - Thanks for this.  I'll see if I can get details on what sort of CPU / RAM is available in prod.

[2021-06-08 08:54] atelomycterus commented on #627
@jmgasper Also we need to know how many CPU cores. In Dynamic mode, PHP-FPM dynamically manages the number of available child processes.

The following formula can be used to calculate the values for each setting:
`max_children`=(Total RAM – Memory used for Linux, DB, Memcached, etc.) / process size
`start_servers`=Number of CPU cores x 4
`min_spare_servers`	= Number of CPU cores x 2
`max_spare_se

[2021-06-09 04:55] sdgun commented on #631
Keeping since this cannot be directly tested in production.

[2021-06-09 06:26] jmgasper commented on #627
@atelomycterus - These are the details of the VMs in dev and prod:
[code]

[code]

[2021-06-09 21:14] atelomycterus commented on #627
@jmgasper A few questions:
 - Have QA engineers developed load/stress tests for Vanilla?
 - Can Topcoder provide access to CloudWatch to monitor CPU/Memory usage of an EC2?

[2021-06-09 21:17] jmgasper commented on #627
1.  I do think we have some stress tests:  https://github.com/topcoder-platform/forums-performance-tests
2. I'll ask

[2021-06-10 00:47] sdgun commented on #627
@jmgasper https://github.com/topcoder-platform/forums-performance-tests is a UI level data input script I created to check discussion loading times with multiple comments. I think we have to do a proper API level performance test to cover the current requirement. I know Lakshmi and the the team is doing performance tests for required applications. We might have to contact them for this requirement

[2021-06-10 17:21] atelomycterus commented on #627
@jmgasper CPU is specified in units of cores.  As a baseline ECS considers each vCPU available to an EC2 container instance as 1024 units. For example,  2 vCPUs has 2,048 available CPU units to schedule out.
The task only specifies 100 CPU units (0.097 vCPU). 0.097 vCPU will reserve for the container.

From official document:
<p style="font-family: &quot;Amazon Ember&quot;, &quot;Helvetica Neue&qu

[2021-06-10 22:30] jmgasper commented on #627
@Gunasekar-K - Can you provide more details please?  ☝️

[2021-06-11 05:53] jmgasper commented on #627
@atelomycterus - I got this for prod utilisation of the container.  Seems concerning to me:

![image (4)](https://user-images.githubusercontent.com/21790/121637687-20a93a80-cacd-11eb-8572-69219f6ef49b.png)

[2021-06-11 16:14] atelomycterus commented on #627
@jmgasper  Obviously, there is a problem. From one screen there is no complete understanding of the whole picture.
It is not clear from this chart where the value of `100%` is for `CPUUtilization`.
The reason for high usage (> 100% ) is the poor resource configuration of the cluster or the service.
There are a lot of spikes it means that insufficient resources have been allocated to the forum (tas

[2021-06-11 22:37] jmgasper commented on #627
@atelomycterus - Thanks for that - I'm pushing this onto Topcoder to try to figure out.  I'll open up a new ticket after we've bumped everything up and tested fully.  It would be nice if I had access to all this stuff, but unfortunately I don't...

[2021-06-11 22:37] #627 closed

[2021-06-11 22:38] jmgasper commented on #627
Payment task has been updated: https://www.topcoder.com/challenges/16a2ddb4-0dbc-4003-8c75-17c766f75151
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `16a2ddb4-0dbc-4003-8c75-17c766f75151` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-12 18:34] atelomycterus commented on #627
@jmgasper Ok. Thanks!

[2021-06-14 10:32] jmgasper opened #633 "[$75] Check dev environment"
@atelomycterus - We bumped the service settings in dev from 1 to 2, as a test.  The forums seem to be working alright, but can you double check in Tideways please, just to make sure there aren't any unintended consequences?  Thanks!

[2021-06-14 10:32] jmgasper commented on #633
Challenge https://www.topcoder.com/challenges/e10f5a67-30f0-4950-b393-4e3f6045308f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-14 10:32] jmgasper commented on #633
Challenge https://www.topcoder.com/challenges/e10f5a67-30f0-4950-b393-4e3f6045308f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-14 11:10] jmpld40 commented on #629
Team, I'm still seeing the old nav
<img width="1328" alt="Screen Shot 2021-06-14 at 7 09 26 AM" src="https://user-images.githubusercontent.com/40000534/121883270-88cf6a80-ccdf-11eb-8c2b-abdb77d858d4.png">

@jmgasper @sdgun @hokienick @Oanh-and-only-Oanh

[2021-06-14 11:10] jmpld40 commented on #629
here is the link i'm on: https://discussions.topcoder.com/categories/new-here-getting-started

[2021-06-14 13:57] sdgun commented on #629
@jmpld40 This fix is not deployed in the production yet.

[2021-06-14 19:29] atelomycterus commented on #633
@jmgasper What did you mean by 'We bumped the service settings in dev from 1 to 2, as a test.'?

There is hardly any activity on DEV here. To check DEV, we need tests that would be similar in terms of the load that we have on PROD:
- 1500-3500 requests per hour
- these should be requests of different types. Please see a list of popular requests (https://github.com/topcoder-platform/forums/issues/6

[2021-06-14 22:08] jmgasper commented on #633
@atelomycterus - Thanks for that.  I'm really just wanting to make sure that there aren't any glaring errors popping up with the change.  I agree that we need much better stress testing in the future.

[2021-06-15 11:04] atelomycterus commented on #633
@jmgasper  Ok,  I made a quick test with JMeter (18 different requests and ran them in a loop during 10 mins, 3 times with 25 threads/15 threads/5threads). I checked Vanilla logs - no errors.
![image](https://user-images.githubusercontent.com/10196632/122042010-480c4a00-cde2-11eb-8f30-994d3d447e34.png)

Could you ask Topocder admin to check CPU/Memory usage in Cloud Watch?

![image](https://user-i

[2021-06-15 22:23] #589 closed

[2021-06-15 22:24] jmgasper commented on #589
Payment task has been updated: https://www.topcoder.com/challenges/4774082e-057b-4fe2-ad73-892e3080fd0e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `4774082e-057b-4fe2-ad73-892e3080fd0e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 01:44] jmgasper commented on #633
@atelomycterus - Thanks for that.  I'll check with TC about the cloud watch logs / details, thanks.

[2021-06-16 01:44] #633 closed

[2021-06-16 01:45] jmgasper commented on #633
Payment task has been updated: https://www.topcoder.com/challenges/e10f5a67-30f0-4950-b393-4e3f6045308f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `e10f5a67-30f0-4950-b393-4e3f6045308f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 02:32] jmgasper opened #634 "[$1] Test of TCX"
Testing 1,2,3

[2021-06-16 05:08] #634 closed

[2021-06-18 07:55] sdgun commented on #630
Verified in production.

![IMG_6766](https://user-images.githubusercontent.com/4592712/122527034-94e95e00-d038-11eb-8320-db38abf0c0f7.jpg)

[2021-06-18 07:56] sdgun commented on #629
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/122527206-bd715800-d038-11eb-8c4f-5448451d0fb1.png)

[2021-06-18 11:49] jmpld40 commented on #629
![Screen Shot 2021-06-18 at 7 48 14 AM](https://user-images.githubusercontent.com/40000534/122556490-951e3500-d009-11eb-935f-80f09e82c2a4.png)

this is how i'm seeing the footer and i've cleared my cache and all that.

[2021-07-06 21:34] jmgasper opened #635 "[$100] Deadlock on dev"
@atelomycterus - This was seen in the logs on dev:

I'm wondering if:

1.  Maybe we should add a retry mechanism to the challenge forum processor?
2. If this is a bug in our version of Vanilla that has been fixed in a more recent update?

[code]

[2021-07-06 21:34] jmgasper commented on #635
Challenge https://www.topcoder.com/challenges/d9fe1246-9da7-40a9-b512-824395922a1a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-07-06 21:34] jmgasper commented on #635
Challenge https://www.topcoder.com/challenges/d9fe1246-9da7-40a9-b512-824395922a1a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-07-07 19:33] atelomycterus commented on #635
@jmgasper Please apply PR-https://github.com/topcoder-platform/challenge-forum-processor/pull/64.

This error has already appeared periodically before and is not related to our customizations. I see the errors in the logs from March. This error occurs when a challenge forum processor receives several 'challenge.notification.update' and / or challenge.action.resource.create events at the same time.

[2021-07-07 23:01] jmgasper commented on #635
Seems OK - I'll keep testing and let you know if we run into this again, thanks!

[2021-07-07 23:01] #635 closed

[2021-07-07 23:02] jmgasper commented on #635
Payment task has been updated: https://www.topcoder.com/challenges/d9fe1246-9da7-40a9-b512-824395922a1a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d9fe1246-9da7-40a9-b512-824395922a1a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-07-22 11:34] harshitmehta15 opened #636 "Member Tagging for members with _"
Members with an underscore as their starting character in their handles are not getting tagged. I tried with an escape character, they do appear properly, but don’t get tagged.

See the two handles in black here
https://discussions.topcoder.com/discussion/9108/tco21-round-3

[2021-07-28 22:08] jmgasper opened #637 "Cached settings"
We need to investigate the settings in the dashboard for admins.  There are a couple problems here:

1.  Deployments reset the settings, which can be frustrating
1.  Changing the settings isn't always "sticking", even between deployments.  We had to reset the pride logo multiple times and it still wasn't quite right at times, for certain people.

We need to ensure that the settings stay consistent

[2021-09-02 20:29] jmgasper opened #638 "[$600] Performance issue"
As discussed in Slack, investigate performance issue for user `subhat`

[2021-09-02 20:29] jmgasper commented on #638
Challenge https://www.topcoder.com/challenges/c171a064-5158-4e02-92c6-08b163c89df7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-09-02 20:29] jmgasper commented on #638
Challenge https://www.topcoder.com/challenges/c171a064-5158-4e02-92c6-08b163c89df7 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-09-02 20:45] atelomycterus commented on #638
Added some details from Slack
![Screen Shot 2021-09-02 at 11 28 41 AM](https://user-images.githubusercontent.com/10196632/131913658-811a432d-97e0-45c4-bb1f-708248a65beb.png)
![Screen Shot 2021-09-02 at 11 28 31 AM](https://user-images.githubusercontent.com/10196632/131913659-fcceaa40-f796-44be-9a1e-01a892fde336.png)
:

[2021-09-02 21:11] atelomycterus commented on #638
Perfomance issue: 'subhat user ' viewed a home page.
Trace - https://app.tideways.io/o/Topcoder/Discussions/trace/gLhPqHsBcNBBDkEdLLDp/summary?m=60&s=web&env=production
![image](https://user-images.githubusercontent.com/10196632/131916580-7008bbc1-a540-4525-8d41-966f95526137.png)

![image](https://user-images.githubusercontent.com/10196632/131916674-383e68c6-30a7-4d87-bf2a-61ec6d4fcee1.png)

[2021-09-03 12:16] atelomycterus commented on #638
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/93.

### Additional Changes
- Added an event marker if there is no UserGroupCache
- Added a custom variable (UserID). We can understand who this trace is associated with:
![image](https://user-images.githubusercontent.com/10196632/132003069-7b5bf153-a332-4fd4-828f-203da17376a3.png)

### Local Testing
Before
![

[2021-09-03 23:58] jmgasper commented on #638
Thanks - tested with a couple users I had on dev that were new and it seems great.

[2021-09-03 23:58] #638 closed

[2021-09-03 23:58] jmgasper commented on #638
Payment task has been updated: https://www.topcoder.com/challenges/c171a064-5158-4e02-92c6-08b163c89df7
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `c171a064-5158-4e02-92c6-08b163c89df7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-09-04 00:17] jmgasper commented on #638
Deploying to production now.

[2021-11-15 22:34] jmgasper opened #639 "[$250] Remove header and footer from theme"
@atelomycterus - As part of the MFE work, we are going to remove the header and footer from the existing Vanilla theme, assuming that the header and footer will be provided by the MFE wrapper instead.

[2021-11-15 22:34] jmgasper commented on #639
Challenge https://www.topcoder.com/challenges/288a5b71-f3d1-49dd-8da2-263f184c5494 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-11-15 22:34] jmgasper commented on #639
Challenge https://www.topcoder.com/challenges/288a5b71-f3d1-49dd-8da2-263f184c5494 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-11-15 22:43] jmgasper commented on #639
@atelomycterus - Let's start a new `mfe` branch for this, just so I can swap back to the "old" presentation in dev, if needed.

[2021-11-16 11:26] atelomycterus commented on #639
@jmgasper you can deploy Dev env as usual because we can manage it with Vanilla themes. I created a new 'mfe' branch for topocder-theme. Please apply PR-https://github.com/topcoder-platform/forums/pull/640.

Dockerfile will copy the default Topcoder theme and the new MFE Topcoder theme into the Vanilla themes folder.
So we can swap back to the "old" presenation from Vanilla UI Settings (https://va

[2021-11-16 23:19] jmgasper commented on #639
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing account.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-11-17 20:33] #639 closed

[2021-11-17 20:33] jmgasper commented on #639
Payment task has been updated: https://www.topcoder.com/challenges/288a5b71-f3d1-49dd-8da2-263f184c5494
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `288a5b71-f3d1-49dd-8da2-263f184c5494` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-01 23:52] jmgasper opened #643 "[$300] Autocorrect"
@atelomycterus - This was reported by a TC Admin:

Forums on mobile - there is no option to autocorrect or spell fix, etc. Is that a setting on the phone or the forum setting? I just tried to write a response from phone and it was rough! I rely too much on auto correction clearly…

Is that something we can change somehow?

[2021-12-01 23:52] jmgasper commented on #643
Challenge https://www.topcoder.com/challenges/51446f96-ec00-4291-9487-b7216b5a07dd has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-01 23:52] jmgasper commented on #643
Challenge https://www.topcoder.com/challenges/51446f96-ec00-4291-9487-b7216b5a07dd has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-02 12:37] atelomycterus commented on #643
@jmgasper I tested the editor on desktop/mobile. There are some issues.  Please let me know what issues should be fixed. Thanks!

### How it works
Browsers (Google Chrome, Firefox and others) have built-in spell-checking.
1. Spell Check for Chrome - chrome://settings/languages
![image](https://user-images.githubusercontent.com/10196632/144413627-3ebb1bdb-3296-456e-b635-0304352eeec6.png)

You can s

[2021-12-02 20:10] jmgasper commented on #643
@atelomycterus - Thanks for the detailed info.  I think we're fine on desktop, but if we could get autocorrect working properly on mobile that would be a big step in the right direction.

[2021-12-06 20:28] atelomycterus commented on #643
@jmgasper I looked at EasyMDE sources+CodeMirror sources.  Misspelled words are not highlighted in the Topcoder editor because we are using EasyMDE 2.13. This version has several issues with overlay mode and a spell-check feature doesn't work properly. The latest version is 2.15.

So if we want to highlight misspelt words on mobile/desktop:
- need to update EasyMDE scripts. I did several fixes in

[2021-12-06 20:54] jmgasper commented on #643
@atelomycterus - Yeah, let's update, thanks.  I'll bump the payment here.  The goal is just to get this to work with iOS and its recommendations for words, which will come from the system.  I don't expect the list of suggested words to come from the editor.

[2021-12-07 11:56] atelomycterus commented on #643
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/27. Thanks!

### Changes
EasyMde was updated to 2.15.
Unfortunatelly, text-decoration style (https://caniuse.com/text-decoration) is not working on mobile (including IOS).
So background-color is used to highlight misspelled words.

### Testing
My keyboard settings on IOS 15.1:
![image](https://user-im

[2021-12-07 20:50] jmgasper commented on #643
@atelomycterus - Thanks.  The CircleCI build is failing (not the fault of our code - seems like something wonky with AWS).  I'm working with Topcoder to fix it up and then I'll test.

[2021-12-07 20:51] jmgasper commented on #643
The default behaviour is fine for now - I'll work with Topcoder to see what they think and will open a new ticket for any additional tweaks, thanks.

[2021-12-08 00:28] #643 closed

[2021-12-08 00:28] jmgasper commented on #643
Payment task has been updated: https://www.topcoder.com/challenges/51446f96-ec00-4291-9487-b7216b5a07dd
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `51446f96-ec00-4291-9487-b7216b5a07dd` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-08 00:28] jmgasper opened #645 "[$250] Predictive text"
@atelomycterus - To go along with the spell check changes, can we enable predictive text on the editor text area?  Right now it's not showing any suggestions, for some reason:
![IMG_3453](https://user-images.githubusercontent.com/21790/145126796-5f05bc30-4ed5-4259-a83a-5976faf3b228.png)

[2021-12-08 00:29] jmgasper commented on #645
Challenge https://www.topcoder.com/challenges/0237203b-479a-49e4-a80c-454882c347be has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-08 00:29] jmgasper commented on #645
Challenge https://www.topcoder.com/challenges/0237203b-479a-49e4-a80c-454882c347be has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-13 19:05] atelomycterus commented on #645
@jmgasper EasyMDE is a wrapper of CodeMirror 5  editor. This issue with a keyboard word suggestion is related to CodeMirror 5.
The main problem is in how Codemirror 5 handles I/O.  The editable area of CodeMirror 5 is not a native element like an input box nor a textarea.  As a result,  CodeMirror 5 doesn't work properly on mobile (IOS, Android).

From CodeMirror's developers:
[code]
CodeMirror 6

[2021-12-13 21:27] jmgasper commented on #645
@atelomycterus - Ok, great, thanks.  I'll mention this to Topcoder and let's just keep an eye on it when a new version is available.

[2021-12-13 21:27] #645 closed

[2021-12-13 21:27] jmgasper commented on #645
Payment task has been updated: https://www.topcoder.com/challenges/0237203b-479a-49e4-a80c-454882c347be
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0237203b-479a-49e4-a80c-454882c347be` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-12-13 21:27] jmgasper opened #647 "Predictive text"
https://github.com/topcoder-platform/forums/issues/645#issuecomment-992779954

[2022-01-04 08:55] jmgasper opened #648 "[$600] Embedded theme vs. real site"
@atelomycterus - One request that's coming in for a new app is to be able to embed specific forums in an MFE.

The wrinkle is that the main site (discussions.topcoder.com) will continue to work as it does now, with the existing header / footer, but the embedded forums on the new app won't show:

* Header
* Footer
* Side menu navigation

Eventually, the embed it will just be a very limited view int

[2022-01-04 08:55] jmgasper commented on #648
Challenge https://www.topcoder.com/challenges/d08265a4-0057-4708-87de-bc7d24a7f9da has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-04 08:56] jmgasper commented on #648
Challenge https://www.topcoder.com/challenges/d08265a4-0057-4708-87de-bc7d24a7f9da has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-05 07:50] jmgasper opened #649 "[$850] Expose notifications and counts via REST API"
@atelomycterus - As discussed via email, can we expose the notifications details (count of unread messages, list of notifications) via the REST API please?  We'll consume that in the wrapper MFE.

[2022-01-05 07:50] jmgasper commented on #649
Challenge https://www.topcoder.com/challenges/a8864ad5-7a71-4663-ad5e-bb9b14a1c36f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-05 07:50] jmgasper commented on #649
Challenge https://www.topcoder.com/challenges/a8864ad5-7a71-4663-ad5e-bb9b14a1c36f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-05 21:33] atelomycterus commented on #648
@jmgasper The current progress: 
 - I added mfe template in Topcoder theme. So footer + header, nav bar and search field are hidden in MFE but  no changes for the main forum. So we use the Topcoder theme for both cases.
 
 - I managed to show categories by challengeID. I am testing it locally using in a frame. I'm going to test it with MFE tomorrow.
![image](https://user-images.githubusercontent.c

[2022-01-05 22:20] jmgasper commented on #648
@atelomycterus - That's great, thanks for the update!

[2022-01-06 00:53] jmgasper opened #650 "[$400] Handle "Self-service Customer" role"
When a customer is added to a challenge, we will give them the "Self-Service Customer" role.  We should handle that in the groups plugin so that we can differentiate between a customer and a normal member on a challenge.

[2022-01-06 00:53] jmgasper commented on #650
Challenge https://www.topcoder.com/challenges/bdba6e36-95f2-4bd7-83b4-9846cc126cfa has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-06 00:53] jmgasper commented on #650
Challenge https://www.topcoder.com/challenges/bdba6e36-95f2-4bd7-83b4-9846cc126cfa has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-06 20:30] atelomycterus commented on #648
@jmgasper To embed a list of categories  by challengeID in micro-frontend app:
Please set  two parameters before 'http://vanilla.topocder-dev.com/js/embed.js'
Example:
[code]

Please apply PRs:
https://github.com/topcoder-platform/forums/pull/651
https://github.com/topcoder-platform/forums-plugins/pull/107
https://github.com/topcoder-platform/forums-theme/pull/64

Let me know if you need any help

[2022-01-06 21:39] jmgasper commented on #650
@atelomycterus - Instead of the role above, we're going to use `Client Manager`, just FYI.

[2022-01-06 21:51] jmgasper commented on #648
@atelomycterus - Thanks for this.  We should have this integrated into the self service app and deployed in dev for testing sometime tomorrow.

[2022-01-06 21:51] #648 closed

[2022-01-06 21:51] jmgasper commented on #648
Payment task has been updated: https://www.topcoder.com/challenges/d08265a4-0057-4708-87de-bc7d24a7f9da
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d08265a4-0057-4708-87de-bc7d24a7f9da` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-07 17:18] atelomycterus commented on #649
@jmgasper Please apple PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/95
Added `unreadNotifications` in '/groups/{id}/member/{userid}'
The response:
[code]

### How Vanilla counts unread notifications
User A watches a challenge group.
User B posts a discussion.
User B posts a comment.
User B mentions User A (@userA) in another comment.
User A should see 3 notifications in Vanill

[2022-01-07 22:54] jmgasper commented on #649
@atelomycterus - Thanks for that.  One tweak - would it be possible to use the challenge ID instead of the group ID?  The calling application won't necessarily have visibility into the Vanilla structure, so if we use the challenge ID that's one less call that the MFE has to make.  Otherwise it will have to first call an API to get the group ID by the challenge ID and *then* call this API.

[2022-01-08 17:34] atelomycterus commented on #649
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-groups-plugin/pull/96/.
You can use groupID (int) or challengeID (uuid)  in /groups/{id}/*.
Thanks!

[2022-01-09 21:51] jmgasper commented on #649
@atelomycterus - One more tweak, thanks:

1.  Can we use the member handle as an option instead of the user ID?  The calling app won't know about Vanilla's user ID, so that'll be another call that it will have to make, which we can avoid.  So, instead of `https://vanilla.topcoder-dev.com/api/v2/groups/{challenge ID}/member/9`, can we do `https://vanilla.topcoder-dev.com/api/v2/groups/{challenge ID

[2022-01-10 08:06] atelomycterus commented on #649
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/97.  Thanks!

Example, challengeID=`d2dae0a7-074f-48cb-9707-b96cde575c76`, topcoderHandle=`gh@st`
http://localhost/api/v2/groups/d2dae0a7-074f-48cb-9707-b96cde575c76/member/gh%40st?access_token=<access_token>

[2022-01-10 10:07] #649 closed

[2022-01-10 10:07] jmgasper commented on #649
Payment task has been updated: https://www.topcoder.com/challenges/a8864ad5-7a71-4663-ad5e-bb9b14a1c36f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a8864ad5-7a71-4663-ad5e-bb9b14a1c36f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-10 16:18] atelomycterus commented on #650
@jmgasper I handled the 'Client Manager' role in a challenge forum processor. So users with this role will watch a group and will be notified about new post/comments. Please apply PR - https://github.com/topcoder-platform/challenge-forum-processor/pull/70.  Thanks!

Should we do any changes in UI in the main site? Should we add the role name after topcoder handle in Vanilla forums like we do for C

[2022-01-10 20:37] jmgasper commented on #650
@atelomycterus - Thanks for that.  I'll discuss with Topcoder about adding the Client Manager to the group page.  Normally we wouldn't, only because there are a few client managers, but we may want to revisit that for self-service stuff.

[2022-01-10 20:38] #650 closed

[2022-01-10 20:38] jmgasper commented on #650
Payment task has been updated: https://www.topcoder.com/challenges/bdba6e36-95f2-4bd7-83b4-9846cc126cfa
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `bdba6e36-95f2-4bd7-83b4-9846cc126cfa` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-10 20:41] jmgasper opened #652 "[$500] Client Manager - no navigation when embedded"
@atelomycterus - When embedded through the `mfe` embed, the `Client Manager` role should be restricted:

1. No ability to start a new thread or post.  They can only respond to posts created by members.  They *can* add attachments in a response.
2. No ability to announce
3. No ability to click a handle to navigate to the user's profile
4. No ability to navigate outside of the group page in the embe

[2022-01-10 20:41] jmgasper commented on #652
Challenge https://www.topcoder.com/challenges/4f9fcc94-a37b-4981-861b-2117fa51be5e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-10 20:41] jmgasper commented on #652
Challenge https://www.topcoder.com/challenges/4f9fcc94-a37b-4981-861b-2117fa51be5e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-11 19:52] atelomycterus commented on #652
@jmgasper  I've implemented almost all requirements but I  have a few questions.

1.No ability to start a new thread or post. They can only respond to posts created by members. They can add attachments in a response.

 - 'No ability to start a new thread or post' - Fixed.
 - 'Topcoder Member'/ 'Vanilla Member' can't upload any files from Editor.  All Topcoder roles are synchronized when users are

[2022-01-11 21:32] jmgasper commented on #652
4.  No, we can leave normal links as-is for now, thanks
7.  Yes, and we also have this link, but not sure if that shows in the embed:

<img width="631" alt="Screen_Shot_2022-01-12_at_8_31_54_am" src="https://user-images.githubusercontent.com/21790/149024822-ed35a1d9-3efb-4a72-ae39-384a9dd36cd3.png">

[2022-01-12 11:14] atelomycterus commented on #652
@jmgasper  I did some tweaks for a group page (don't duplicate Group name/Category name in a breadcrumb when embedded, etc). Please apply PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/99
https://github.com/topcoder-platform/forums/pull/654

Thanks!

7. The group description field is stored in Markdown format.
![image](https://user-images.githubusercontent.com/10196632/1491298

[2022-01-12 22:20] jmgasper commented on #652
@atelomycterus - I'm not quite sure how fine-grained we want to go.  Let's deploy this and get it QA'd and we'll see what further tweaks Topcoder wants to make, thanks.

[2022-01-13 07:34] atelomycterus commented on #652
@jmgasper  Agree, let's deploy and get a feedback from Topcoder. Thanks!

[2022-01-14 23:15] jmgasper commented on #652
@atelomycterus - This is deployed now:

https://platform.topcoder-dev.com/self-service/work-items/85dfab33-5e0d-4abb-b479-e1b93b032b78

I'm still working on testing with a `Client Manager` role.  Hope to have that done by tomorrow, thanks.

[2022-01-14 23:16] jmgasper opened #655 "[$400] Initial MFE embed for self-service app"
https://github.com/topcoder-platform/micro-frontends-self-service-app/issues/6
https://github.com/topcoder-platform/micro-frontends-self-service-app/issues/25

[2022-01-14 23:16] jmgasper commented on #655
Challenge https://www.topcoder.com/challenges/14813934-d7df-4928-b757-fb96385eb3e1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-14 23:16] jmgasper commented on #655
Challenge https://www.topcoder.com/challenges/14813934-d7df-4928-b757-fb96385eb3e1 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-14 23:16] #655 closed

[2022-01-14 23:17] jmgasper commented on #655
Payment task has been updated: https://www.topcoder.com/challenges/14813934-d7df-4928-b757-fb96385eb3e1
*Payments Complete*
Winner: nursoltan-s
Copilot: ghostar
Challenge `14813934-d7df-4928-b757-fb96385eb3e1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-16 06:55] atelomycterus commented on #652
@jmgasper Now one Vanilla access token is used  for all Vanilla REST API calls.  This is incorrect. I generated it for nursoltan-s to help testing MFE. The access tokens’ permissions are reflective of the permissions of the user who generated the token.
This token should be revoked for security reasons.

VANILLA_ACCESS_TOKEN is public and hard-codded on all config files (PROD, DEV):
  https://gith

[2022-01-17 07:09] jmgasper commented on #652
@atelomycterus - I added `TCConnCopilot` as `Client Manager` to dev challenge `85dfab33-5e0d-4abb-b479-e1b93b032b78`

[2022-01-17 07:12] jmgasper commented on #652
@atelomycterus - I also added `jgasperMobile12` as a `Client Manager`, with login password in dev `Appirio123`

[2022-01-17 07:24] jmgasper commented on #652
@atelomycterus - Also `jcori` / `appirio123`

[2022-01-17 07:25] jmgasper commented on #652
How do we handle accounts with multiple roles?  For instance, `jcori` has a bunch of roles on that test challenge, and seems to be able to access links that a client manager shouldn't

[2022-01-17 12:02] atelomycterus commented on #652
@jmgasper  I fixed one issue. Sorry about that. Please apply PR- https://github.com/topcoder-platform/forums-plugins/pull/109/files and deploy it.

I'll test it.

I check only ' Client Manager'.  When embedded through the mfe embed, the Client Manager role should be restricted.

Thanks!

[2022-01-18 04:58] jmgasper commented on #652
@atelomycterus - Thanks.  We seem to have an issue on the self-service app and I'm debugging with some help.  Hopefully we can get that addressed ASAP and I'll test

[2022-01-18 06:06] jmgasper opened #656 "[$50] Fix to work items page"
As discussed via email

https://github.com/topcoder-platform/micro-frontends-self-service-app/issues/35

[2022-01-18 06:06] jmgasper commented on #656
Challenge https://www.topcoder.com/challenges/e385ed9b-62f3-47e5-bd95-f167f14a53ce has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-18 06:06] jmgasper commented on #656
Challenge https://www.topcoder.com/challenges/e385ed9b-62f3-47e5-bd95-f167f14a53ce has been assigned to nursoltan-s.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-18 06:19] #656 closed

[2022-01-18 06:19] jmgasper commented on #656
Payment task has been updated: https://www.topcoder.com/challenges/e385ed9b-62f3-47e5-bd95-f167f14a53ce
*Payments Complete*
Winner: nursoltan-s
Copilot: ghostar
Challenge `e385ed9b-62f3-47e5-bd95-f167f14a53ce` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-18 06:20] jmgasper commented on #652
Ok - fixed now.

[2022-01-18 06:23] jmgasper commented on #652
@atelomycterus - Ok, on https://platform.topcoder-dev.com/self-service/work-items/85dfab33-5e0d-4abb-b479-e1b93b032b78, `mess` is a `Client Manager`, and solely that role, but when I test, I can still click handles and challenge links and navigate off the page.

[2022-01-18 06:23] jmgasper commented on #652
Does this have to do with their role in Vanilla as well?

Here's what the roles look like in OR:
<img width="939" alt="Screen Shot 2022-01-18 at 5 21 50 pm" src="https://user-images.githubusercontent.com/21790/149882131-871acaaf-3545-4859-a87a-4a9aa4cec62c.png">

[2022-01-18 08:49] atelomycterus commented on #652
@jmgasper Thanks! I checked the roles , they are ok in Vanilla. The issue with a Vanilla Dispatcher and a group page only,
other pages are rendered as expected:
![image](https://user-images.githubusercontent.com/10196632/149901972-6085a0e1-bec7-439c-a4f3-a7a7c85ed640.png)

I logged in as jcori, both views should be identical, the same view and controller are used  but they are rendered differently

[2022-01-18 11:13] atelomycterus commented on #652
@jmgasper This issue ☝️  fixed. Please apply PRs:
https://github.com/topcoder-platform/forums-plugins/pull/110.
https://github.com/topcoder-platform/forums-groups-plugin/pull/100
Thanks!

Quick test embedded content vs the main site:
 - logged in Vanilla
 - add '?embed_type=mfe'  in url

[2022-01-18 20:55] jmgasper commented on #652
@atelomycterus - Looks good in my testing, thanks!  Just one small issue to fix up with the frame sizing.

[2022-01-18 20:56] #652 closed

[2022-01-18 20:56] jmgasper commented on #652
Payment task has been updated: https://www.topcoder.com/challenges/4f9fcc94-a37b-4981-861b-2117fa51be5e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `4f9fcc94-a37b-4981-861b-2117fa51be5e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-18 21:00] atelomycterus commented on #652
@jmgasper Yes, it works now. The issue with frame sizing should be fixed in MFE.  Please don't forget about the task mentioned in https://github.com/topcoder-platform/forums/issues/652#issuecomment-1013822071. Thanks!

[2022-01-19 00:35] jmgasper commented on #652
@atelomycterus - Thanks for that.  For the token issue - should we generate a separate token *only* for the MFE that can only access that single API that is needed?  Is that possible?

[2022-01-19 00:36] jmgasper opened #657 "[$100] Token generation / usage"
As discussed here, we need a better way of accessing the API from the MFE.

https://github.com/topcoder-platform/forums/issues/652#issuecomment-1013822071

[2022-01-19 00:36] jmgasper commented on #657
Challenge https://www.topcoder.com/challenges/0bff6b08-f527-41ea-beb8-f4a38c98207a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 00:36] jmgasper commented on #657
Challenge https://www.topcoder.com/challenges/0bff6b08-f527-41ea-beb8-f4a38c98207a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 04:40] jmgasper opened #658 "[$60] Fix frame sizing and login issue"
As discussed via email.

[2022-01-19 04:40] jmgasper commented on #658
Challenge https://www.topcoder.com/challenges/aef7f670-81a0-4815-91bd-c3b125e621f2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 04:40] jmgasper commented on #658
Challenge https://www.topcoder.com/challenges/aef7f670-81a0-4815-91bd-c3b125e621f2 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 04:40] #658 closed

[2022-01-19 04:41] jmgasper commented on #658
Payment task has been updated: https://www.topcoder.com/challenges/aef7f670-81a0-4815-91bd-c3b125e621f2
*Payments Complete*
Winner: nursoltan-s
Copilot: ghostar
Challenge `aef7f670-81a0-4815-91bd-c3b125e621f2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 10:41] jmgasper opened #659 "[$50] Update deployment default config to allow embedding and trusted domains"
@atelomycterus - When we do a deploy now, it's resetting the embed settings.

Can we update the default configuration for prod / dev to:

1.  Allow embedding
2. Add `*.topcoder-dev.com` and `*.topcoder.com` to the trusted domains

[2022-01-19 10:41] jmgasper commented on #659
Challenge https://www.topcoder.com/challenges/434fae39-3dbc-4ad0-878d-86209ebc85a8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 10:41] jmgasper commented on #659
Challenge https://www.topcoder.com/challenges/434fae39-3dbc-4ad0-878d-86209ebc85a8 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 14:13] atelomycterus commented on #659
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums/pull/660/ . Thanks!

### Testing
After deploying,
1. Embed My forum is enabled:
![image](https://user-images.githubusercontent.com/10196632/150147660-c0e35ac3-825c-4c18-a29f-4093872332d8.png)

2. Trusted domains:
![image](https://user-images.githubusercontent.com/10196632/150147399-990adae8-16eb-44b7-b6a8-3143664a1bab.png)

[2022-01-19 16:27] atelomycterus commented on #657
@jmgasper If we want to use one Vanilla access token for all REST API calls from MFE.
We need to create the access token with `sign in` permission and not allow to view/modify some data, etc.
We can configure it the following way:

1. Log in as Admin
 a. create a new role ('MFE') :
![image](https://user-images.githubusercontent.com/10196632/150169656-16e4557d-9004-425b-a04d-223d17d7507e.png)
b. Ch

[2022-01-19 21:00] #659 closed

[2022-01-19 21:00] jmgasper commented on #659
Payment task has been updated: https://www.topcoder.com/challenges/434fae39-3dbc-4ad0-878d-86209ebc85a8
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `434fae39-3dbc-4ad0-878d-86209ebc85a8` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 22:10] jmgasper commented on #657
@atelomycterus - This works, thanks.

[2022-01-19 22:10] #657 closed

[2022-01-19 22:10] jmgasper commented on #657
Payment task has been updated: https://www.topcoder.com/challenges/0bff6b08-f527-41ea-beb8-f4a38c98207a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0bff6b08-f527-41ea-beb8-f4a38c98207a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2022-01-19 22:12] jmgasper opened #661 "[$50] Strange message count"
@atelomycterus - In my testing, I'm seeing a count of `1` for TCConnCopilot and this challenge:

https://platform.topcoder-dev.com/self-service/work-items/85dfab33-5e0d-4abb-b479-e1b93b032b78?tab=messaging

But, I see nothing new in the list of threads.  No "New" indicator on anything, so I'm not sure which forum thread is unread.  The only thing I can think of is the response to `Test question` b