[2021-02-18 20:18] jmgasper commented on #405
@sdgun - Yes, you can test in production if you'd like, just to double check.

[2021-02-18 20:21] jmgasper commented on #414
Challenge https://www.topcoder.com/challenges/bcdcd437-51b0-4f19-9f4d-8a12e4ce7f76 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-18 20:21] jmgasper commented on #414
Challenge https://www.topcoder.com/challenges/bcdcd437-51b0-4f19-9f4d-8a12e4ce7f76 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-18 21:53] atelomycterus commented on #381
@jmgasper

###  CPU usage 100%
CPU usage is 100% due to running PHP GC.  After 2-3 requests (adding comment/discussions), CPU usage is high. As a result, we periodically notice that it works slowly or 502/504 error is displayed.

Another case when Vanilla works slowly -  clicking on  'development-forums'. The page displays 300 children. Need to check if  Vanilla has config param or hard-coded valu

[2021-02-18 23:44] jmgasper commented on #381
@atelomycterus - Thanks for the update.  I've bumped the payment again since this is taking a lot of work.  If I need to bump further, please let me know.

[2021-02-19 04:44] sdgun commented on #405
Verified in Prod by creating new challenge https://www.topcoder.com/challenges/e678ec17-c72a-4e17-87fb-5082b7ae96bd. After registering the Challenge Discussions tab is displayed.

![image](https://user-images.githubusercontent.com/4592712/108458660-16073300-729b-11eb-8376-f9e31ad9899f.png)

[2021-02-19 06:59] atelomycterus commented on #381
@jmgasper  Thanks! One more thing to do to make Vanilla work better with archived categories. Category has Archived flag, GDN_Category table. It has added in Vanilla 3.X. Now Vanilla loads all categories from DB including archived ones to build category cache.

In our case most categories are created in 'Challenges Forum' (https://vanilla.topcoder-dev.com/categories/challenges-forums).
 1. Let me

[2021-02-19 07:20] jmgasper commented on #381
1.  We don't have this deployed *yet*, but it will be soon, for the admin tool.  Support will be able to archive the forums for completed challenges
2. See above - we'll do this manually (for now), when a challenge completes
3. We should probably set a relatively high limit on this, if possible, especially since we haven't archived any forums just yet.

[2021-02-19 09:19] jmgasper opened #416 "[$2] Prod TCX test"
Testing hot fix in prod

[2021-02-19 09:19] jmgasper commented on #416
Challenge https://www.topcoder.com/challenges/04cde671-2b3a-41aa-857e-1188354de084 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-19 09:19] jmgasper commented on #416
Challenge https://www.topcoder.com/challenges/04cde671-2b3a-41aa-857e-1188354de084 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-19 09:19] jmgasper commented on #416
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-19 09:20] jmgasper commented on #416
Challenge https://www.topcoder.com/challenges/7c32692b-cf5f-4d58-afed-d079f0540804 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-19 09:20] #416 closed

[2021-02-19 09:20] jmgasper commented on #416
Payment task has been updated: https://www.topcoder.com/challenges/7c32692b-cf5f-4d58-afed-d079f0540804
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7c32692b-cf5f-4d58-afed-d079f0540804` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-19 09:46] atelomycterus commented on #381
@jmgasper I understood.  Another piece of the setCache() method that greatly affects performance is the recalculation of Recent child posts for Nested Categories. This is a recursive function that use PHP functions with O(n) (array_unsfit and so on) to calculate the next fields:
[code]

In general, it is now clear, where the main problematic pieces of code are. Let's try to optimize step by step.

[2021-02-19 11:08] atelomycterus opened #418 "300 Nested categories per a page"
All nested categories display up to 300  sub-categories. Categories page supports paging if  the category  has type=Discussions.
For example,
https://vanilla.topcoder-dev.com/categories/payment-discussions - with  a paging control
https://vanilla.topcoder-dev.com/categories/development-forums' shows 300 children.

c('Vanilla.Categories.QueryLimit', 300) is set in CategoryCollection class, which is

[2021-02-19 11:11] atelomycterus commented on #381
@jmgasper

Created the issue - https://github.com/topcoder-platform/forums/issues/418

[2021-02-19 11:11] sdgun commented on #403
Closing since I am seeing notifications being sent now.

[2021-02-19 11:11] #403 closed

[2021-02-19 21:44] hokienick opened #419 "[$200] Navigation Bar Should Match Current"
The Navigation Bar should be the same as what is currently used on the Community Site.  This is an issue we had before where if we made any change to the navigation on the Community site, we would have to make the same updates in Jive.  I hope that will not be the case again.

Here is how it shows in dev currently:
<img width="1916" alt="Screen Shot 2021-02-19 at 1 42 36 PM" src="https://user-imag

[2021-02-19 22:29] atelomycterus commented on #381
@jmgasper  I think that I will work on this task for 1-1.5 days. The cache is now being rebuilt 4 times (if 4 categories of the predecessor), instead of 24 times as it was before when the comment was created. It is necessary to make changes also for adding discussion.

![image](https://user-images.githubusercontent.com/10196632/108567590-940a1f00-7319-11eb-8a4c-adef9a194f38.png)

Before changes: A

[2021-02-20 00:58] jmgasper commented on #419
Challenge https://www.topcoder.com/challenges/3e9e44c2-739d-47ce-a5fa-9df3dbd051e6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-20 00:58] jmgasper commented on #419
Challenge https://www.topcoder.com/challenges/3e9e44c2-739d-47ce-a5fa-9df3dbd051e6 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-21 16:31] atelomycterus commented on #381
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/420
https://github.com/topcoder-platform/forums-groups-plugin/pull/58
https://github.com/topcoder-platform/forums-plugins/pull/61

Thanks!

## Performance before and after changes
I deployed Vanilla without PRs to compare performance before and after changes.

### Discussions
Categories: 1879.

Testing with a selenium scr

[2021-02-21 16:38] atelomycterus commented on #381
@sdgun @jmgasper Tideways supports Server-Timing API. So I've added it in Vanilla header. After deploying and configuring Tideways, click on/hover a green bar:
![image](https://user-images.githubusercontent.com/10196632/108631642-d8adcb80-747b-11eb-8cad-7764f53c980f.png)

You should see cache/http/php/sql:
![image](https://user-images.githubusercontent.com/10196632/108631727-54a81380-747c-11eb-83a

[2021-02-21 17:12] atelomycterus commented on #381
@jmgasper I see more performance bottlenecks in my local env. I think the same issues in DEV/PROD. Let's deploy Vanilla and monitor performance in DEV.

- verify a token, it takes up to 900ms, avg 680-700 ms
Get requests:
![image](https://user-images.githubusercontent.com/10196632/108631950-879ed700-747d-11eb-860f-a6f0c810fc74.png)

![image](https://user-images.githubusercontent.com/10196632/10863

[2021-02-21 17:14] atelomycterus commented on #400
@jmgasper Should be fixed. See #381.

[2021-02-21 17:17] atelomycterus commented on #386
@sdgun Could you validate it after deploying #381? Thanks!

[2021-02-21 19:12] atelomycterus commented on #415
@jmgasper  A few questions about a category tree before any code changes.

Yes, agree

1. I've renamed 'Challenges Forum' to 'Challenge Discussions' in Settings. Need to remove 'Roundtable' from the breadcrumbs in the code.
![image](https://user-images.githubusercontent.com/10196632/108635010-d7859a00-748d-11eb-96d7-ccfdaaf57127.png)

2. Is the tree structure expected to be approximately the same

[2021-02-21 23:46] jmgasper commented on #415
1.  Ok
2.  I think what we have is fine for now.  Topcoder seems to want what's current in dev, thanks.

[2021-02-21 23:46] jmgasper commented on #386
@sdgun - Deploy is done.

[2021-02-21 23:50] jmgasper commented on #381
@atelomycterus - This looks good, thanks.  Deployed in dev.

I need to deploy to prod today, so if we need to back out anything for Tideways, just let me know.

[2021-02-21 23:51] #381 closed

[2021-02-21 23:51] #400 closed

[2021-02-21 23:52] jmgasper commented on #381
Payment task has been updated: https://www.topcoder.com/challenges/2d61ee7a-b52f-4fb2-94af-c917614755d4
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `2d61ee7a-b52f-4fb2-94af-c917614755d4` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-21 23:52] jmgasper commented on #400
Payment task has been updated: https://www.topcoder.com/challenges/b9a974d7-3594-4893-ba79-2e79e6df2a37
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b9a974d7-3594-4893-ba79-2e79e6df2a37` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 03:53] sdgun opened #421 "[$25] The forums link in the footer is opening the old forums"
**Steps**
Go to https://vanilla.topcoder-dev.com/
Click Forums link in the footer

It should open the new forums, but opening old forums

![image](https://user-images.githubusercontent.com/4592712/108654830-827a7000-74ef-11eb-99e7-3f42388e7636.png)

[2021-02-22 04:11] sdgun commented on #386
Verified in Dev, comment count is correct now.

[2021-02-22 04:25] sdgun opened #422 "[$200] Normal user does not have permission to Challenge discussions(registered and displayed in the CHALLENGE DISCUSSIONS page)"
**Steps**
Log in from a normal user (ex- sdguntcqa/T0pc0der@123)
Go to https://vanilla.topcoder-dev.com/groups/mine?filter=challenge
Click on the listed challenge forums

The user doesn't have permission but user is registered to them

Ex group - https://vanilla.topcoder-dev.com/group/310
Above challenge's challenge details page - https://www.topcoder-dev.com/challenges/f65f8ffa-d698-4348-8213-61d

[2021-02-22 05:08] sdgun commented on #422
This behavior is a bit weird, then I created a new challenge and registered to it from the same user, after which all the challenge forums listed in the https://vanilla.topcoder-dev.com/groups/mine?filter=challenge were accessible to this user.

However for the user sdgunvfor/T0pc0der@123 who is a copilot user still has this issue. This user sees a challenge discussion here https://vanilla.topcode

[2021-02-22 05:26] sdgun commented on #400
Verified by creating multiple discussions and comments, didn't observe timeouts again.

[2021-02-22 07:24] #386 closed

[2021-02-22 07:24] jmgasper commented on #422
Challenge https://www.topcoder.com/challenges/79ecd8cc-0e4e-4025-b8c5-c505ff79e427 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 07:24] jmgasper commented on #422
Challenge https://www.topcoder.com/challenges/79ecd8cc-0e4e-4025-b8c5-c505ff79e427 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 07:24] jmgasper commented on #386
Payment task has been updated: https://www.topcoder.com/challenges/f2471587-f507-49d2-92cc-847a3a5cd15c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f2471587-f507-49d2-92cc-847a3a5cd15c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 07:41] atelomycterus commented on #422
@jmgasper I've checked PROD.

### PROD
1. Guests.  Go to Guest Role and uncheck 'Discussions.View' for default Category.  'Challenge Discussions' should be hidden.
![image](https://user-images.githubusercontent.com/10196632/108677045-2cf79080-74fa-11eb-9c56-dcab1437c8aa.png)

[2021-02-22 07:42] atelomycterus commented on #422
@jmgasper 2. Also check Permissions for  'Challenge Discussions' category for Guest.

[2021-02-22 07:47] jmgasper commented on #422
@atelomycterus - Done, thanks.

[2021-02-22 07:48] sdgun commented on #400
Verified in Production

[2021-02-22 07:50] jmgasper opened #423 "[$100] Copilots can upload in prod"
@atelomycterus - Copilots still seem to be able to upload in the roundtables in prod.  As far as I can tell, they shouldn't have that, but that could be a side effect of me backing out the performance changes.

Permissions look like this for `General`
<img width="1395" alt="Screen Shot 2021-02-22 at 6 49 24 pm" src="https://user-images.githubusercontent.com/21790/108678138-ce083a80-753e-11eb-9ff3-

[2021-02-22 07:50] jmgasper commented on #423
Challenge https://www.topcoder.com/challenges/8e491758-2d80-424e-a833-dca1efb56e3a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 07:50] sdgun commented on #391
Verified in Production, Private group is not displayed for anonymous user.

[2021-02-22 07:51] jmgasper commented on #423
Noted by @sdgun whose roles look like this in prod:
<img width="226" alt="Screen Shot 2021-02-22 at 6 51 01 pm" src="https://user-images.githubusercontent.com/21790/108678225-eaa47280-753e-11eb-868d-d9e02b1a317d.png">

[2021-02-22 07:53] sdgun commented on #389
Verified in production.

[2021-02-22 07:59] atelomycterus commented on #423
@jmgasper Could you check a default category ?  What permissions for 'Connect Copilot' / 'copilot'?

[2021-02-22 08:00] sdgun commented on #397
Verified in Production.

[2021-02-22 08:04] sdgun commented on #394
Verified in production, handle colors are displayed in correct colors in nested categories and discussions/comments.

![image](https://user-images.githubusercontent.com/4592712/108679477-9b484d00-7512-11eb-8232-94638464b6d9.png)

![image](https://user-images.githubusercontent.com/4592712/108679503-a69b7880-7512-11eb-9101-4f1ccb60413c.png)

![image](https://user-images.githubusercontent.com/4592712

[2021-02-22 08:05] atelomycterus commented on #423
@jmgasper you can compare permissions DEV vs PROD. All custom permissions are displayed if you click Edit role:
 `copilot` -  https://vanilla.topcoder-dev.com/role/edit/68
 `Connect copilot` - https://vanilla.topcoder-dev.com/role/edit/69

[2021-02-22 08:06] jmgasper commented on #423
Challenge https://www.topcoder.com/challenges/8e491758-2d80-424e-a833-dca1efb56e3a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 08:07] sdgun commented on #398
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108679839-1c9fdf80-7513-11eb-9886-97b06fbe4d3e.png)

[2021-02-22 08:09] sdgun commented on #392
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108679995-51ac3200-7513-11eb-86db-5c2f45f4cf16.png)

[2021-02-22 08:10] sdgun commented on #377
Verified in Production.

![image](https://user-images.githubusercontent.com/4592712/108680206-93d57380-7513-11eb-9d6a-8fa242896f17.png)

[2021-02-22 08:14] sdgun commented on #382
Unable to verify in production since this should be tested from admin user.

[2021-02-22 08:16] sdgun commented on #376
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108680757-460d3b00-7514-11eb-8d25-089b2165f229.png)

![image](https://user-images.githubusercontent.com/4592712/108680803-532a2a00-7514-11eb-9c33-a31368f7b8de.png)

[2021-02-22 08:17] sdgun commented on #380
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108680945-7fde4180-7514-11eb-9724-4dbdf9962a73.png)

[2021-02-22 08:18] sdgun commented on #379
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108681057-a1d7c400-7514-11eb-8eb4-4692eee40240.png)

[2021-02-22 08:19] sdgun commented on #387
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108681177-d0ee3580-7514-11eb-80c5-829725bce80e.png)

[2021-02-22 08:30] sdgun commented on #372
Verified in production.

[2021-02-22 08:42] sdgun opened #424 "[$75] Discussion/comment counts are incorrect in roundtables - production"
Steps
Log into production forums
GO to Roundtables
Check the General category

![image](https://user-images.githubusercontent.com/4592712/108683381-8b7f3780-7517-11eb-8f04-fe68b9bf56f9.png)

Go inside the category and check the discussions/comments

No discussions/comments inside

https://user-images.githubusercontent.com/4592712/108683683-f29cec00-7517-11eb-87af-607f98fc768a.mp4

[2021-02-22 08:43] sdgun commented on #381
Verified in Dev, discussions/comments are created within 3-5 seconds now.

[2021-02-22 08:49] jmgasper commented on #423
@atelomycterus - I think that was it, thanks.

@sdgun - Can you retest in prod please?

[2021-02-22 08:49] jmgasper commented on #424
@sdgun - Yeah, I think this fix was part of what I had to back out to fix the permissions issue.

[2021-02-22 09:14] sdgun opened #425 "[$75] Reply option is not available"
**Steps**
Go to any roundtable or challenge forum comment
Click on ellipsis

Reply option is not available

![image](https://user-images.githubusercontent.com/4592712/108687134-55908200-751c-11eb-9342-241319867c47.png)

[2021-02-22 09:29] sdgun commented on #381
Verified in production, the discussions are taking around 8 seconds.

![image](https://user-images.githubusercontent.com/4592712/108689040-9e493a80-751e-11eb-8535-684c55367549.png)

[2021-02-22 09:37] sdgun commented on #423
I don't see upload button anymore in production.

[2021-02-22 09:47] sdgun commented on #384
Verified in Dev

[2021-02-22 09:47] jmgasper commented on #425
Challenge https://www.topcoder.com/challenges/871248f5-5a80-44f0-a363-9ec979abb843 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 09:47] jmgasper commented on #425
Challenge https://www.topcoder.com/challenges/871248f5-5a80-44f0-a363-9ec979abb843 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 09:48] #423 closed

[2021-02-22 09:48] jmgasper commented on #423
Payment task has been updated: https://www.topcoder.com/challenges/8e491758-2d80-424e-a833-dca1efb56e3a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `8e491758-2d80-424e-a833-dca1efb56e3a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 09:51] sdgun commented on #367
Verified in production.

[2021-02-22 09:58] atelomycterus commented on #422
@jmgasper  Please flush cache in PROD.

###  #DEV
1. Issue - 1
Reason:  a develop branch with Issues-381 was deployed first.  GroupID is hash key in UserGroup cache,  checking isMemberOf  - constant-time performance O(1), not O(N).

Ex group - https://vanilla.topcoder-dev.com/group/310
Above challenge's challenge details page - https://www.topcoder-dev.com/challenges/f65f8ffa-d698-4348-8213-61d5eb

[2021-02-22 10:01] atelomycterus commented on #422
@jmgasper '/cache/flush' - Debug plugin should be enabled. ☝️

[2021-02-22 10:05] sdgun commented on #368
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108693183-8922da80-7523-11eb-88e7-c22dd5b67868.png)

[2021-02-22 10:32] sdgun commented on #425
I also notice in production this is all the options I see on challenge discussions:

![image](https://user-images.githubusercontent.com/4592712/108696195-3cd99980-7527-11eb-89f8-c50416606268.png)

But in Dev I see all below:

![image](https://user-images.githubusercontent.com/4592712/108696240-4a8f1f00-7527-11eb-87e7-d17dd1802b00.png)

[2021-02-22 10:53] jmgasper commented on #422
@atelomycterus - Done.

[2021-02-22 12:01] callmekatootie opened #426 "Where did Recent Discussions go"
Earlier, when I would visit https://discussions.topcoder.com/ - recent discussions would show up. This was a good way for me to track any open threads that I needed to respond and not rely on email notifications.

But now, I see the UI has changed - I am seeing Roundtables instead. Further, I see a compact version - there is no information about when a comment was last added or who added.

[2021-02-22 14:02] lakshmiathreya commented on #404
This specific challenge continues to have the problem - @sdgun pls update with status for other new challenges ... cc @SathyaJayabal
<img width="1680" alt="Screenshot 2021-02-22 at 7 30 21 PM" src="https://user-images.githubusercontent.com/51733042/108718625-a61bd580-7544-11eb-98e3-e920acef979e.png">

[2021-02-22 14:07] sdgun commented on #426
@callmekatootie I know this might be a useful feature to some of us, but this was intentional feature change that went in today's release.

[2021-02-22 14:38] callmekatootie commented on #426
Thanks @sdgun ... do you happen to know the relevant ticket that brought this change...

[2021-02-22 15:03] rootelement commented on #425
@atelomycterus are you available? not sure what the problem is here?

[2021-02-22 15:09] atelomycterus commented on #425
@rootelement I'll have look at it in 5-10 mins. I am working on #422  (user can't see some challenge discussions),
I've already figured out what happened.

[2021-02-22 15:09] rootelement commented on #425
Ok, please tag me on any commits so we can push to prod. These are blocking in prod

[2021-02-22 15:10] atelomycterus commented on #425
@rootelement Ok

[2021-02-22 15:13] atelomycterus commented on #422
@jmgasper

Issue -2:

I was able to reproduce it in my local env. We disabled 'FollowingCategory' (https://github.com/topcoder-platform/forums/issues/372).
As a result, another flow is performed to determine which categories to show.
In https://github.com/topcoder-platform/forums/issues/418 , I mentioned 'Vanilla.Categories.QueryLimit=300'.
Now it gets only the 300 records of Development Challenge

[2021-02-22 15:14] lakshmiathreya commented on #425
@rootelement - there is no time for QA - would rely on your review for the direct Prod push ...

[2021-02-22 15:27] atelomycterus commented on #425
@rootelement  no changes in code, need to configure permissions.

1. `Reply` is missing. Need to check/configure permissions in PROD:
![image](https://user-images.githubusercontent.com/10196632/108728800-f1c98180-753a-11eb-9321-61a6fd33d429.png)

2.Need check/configure permissions in PROD.

[2021-02-22 15:28] rootelement commented on #425
I'm sorry i don't understand, you need me to check permissions in prod? Where?

[2021-02-22 15:33] atelomycterus commented on #425
@rootelement Unfortunately, I don't have permissions to configure it in PROD. @jmgasper configured some permissions today in PROD.
I'm checking permissions for Copilot roles in DEV.

[2021-02-22 15:36] rootelement commented on #425
What is your username in prod? I'll grant temporary access so you can help us fix this P0

[2021-02-22 15:37] atelomycterus commented on #425
@rootelement  use  `obog`

[2021-02-22 15:37] rootelement commented on #425
I've added you as Vanilla Admin in prod @atelomycterus

[2021-02-22 15:38] atelomycterus commented on #425
@rootelement I have access now. Thanks!

[2021-02-22 15:42] sushilshinde commented on #425
@rootelement can you also add me, send me admin url

[2021-02-22 15:45] atelomycterus commented on #425
@rootelement  The permissions for PROD are configured differently than for the DEV. I am reviewing all permissions.

[2021-02-22 15:46] rootelement commented on #425
@sushilshinde you should have it. it's based on Topcoder roles for tc users. Go to discussions.topcoder.com, click your avatar in the top right corner, and you should see Dashboard.

[2021-02-22 15:50] atelomycterus commented on #425
@rootelement I've fixed `copilot` and `Connect Copilot` roles.  I am checking  why 'Reply' button is missing

[2021-02-22 15:53] hokienick opened #427 "[$75] Handles with "." in the name does not display correctly"
**Part 1**
If I @ someone like kiril.kartunov in a post, and if I type slow enough, I can choose his handle from the list.  However once I type "." the list goes away, which doesn't help when I am typing normally.

**Part 2**
Even after choosing his name, once posted the tag doesn't appear correct visually:

<img width="911" alt="Screen Shot 2021-02-22 at 7 48 14 AM" src="https://user-images.githu

[2021-02-22 16:00] atelomycterus commented on #425
@rootelement 'Reply' button is also missing in DEV. I'll debug it in DEV. This is not critical because user can post comments.
You can revoke admin permissions.

[2021-02-22 16:03] rootelement commented on #425
i'll leave until the reply button is fixed just in case. But thank you

[2021-02-22 16:45] atelomycterus commented on #425
@rootelement Fixed displaying Reply. PR - https://github.com/topcoder-platform/forums-plugins/pull/62.

### Testing
if user has Comment.Add permission  for a category then 'Reply' should be displayed:
![image](https://user-images.githubusercontent.com/10196632/108739968-373f7c00-7546-11eb-9a16-e5bb6dff29c3.png)

[2021-02-22 16:52] atelomycterus commented on #425
@jmgasper Summary:
1.   I've fixed copilot and Connect Copilot roles (https://github.com/topcoder-platform/forums/issues/425#issuecomment-783471475) for 'Challenge discussions' category in PROD.
2.  'Reply' button is missing => Please apply PR ☝️

[2021-02-22 17:02] sdgun commented on #426
@callmekatootie  https://github.com/topcoder-platform/forums/issues/376

[2021-02-22 17:07] sdgun commented on #404
@lakshmiathreya I didn't get what you mean by 'update with status for other new challenges'

[2021-02-22 17:13] sdgun commented on #427
@hokienick As per the current implementation, when username includes special characters, have to use double-quotes. Please refer comment https://github.com/topcoder-platform/forums/issues/361#issuecomment-766110237

[2021-02-22 17:33] rootelement commented on #425
I see this in prod. @sushilshinde and @sdgun please retest
![Screen Shot 2021-02-22 at 12 33 15 PM](https://user-images.githubusercontent.com/5400156/108746352-3852b800-750a-11eb-98ba-b09ccec9089e.png)

[2021-02-22 17:50] rootelement commented on #422
@atelomycterus is this issue fixed then?

[2021-02-22 17:50] rootelement commented on #422
@sdgun please retest

[2021-02-22 18:20] hokienick opened #428 "No Favicon Displayed"
Our purple favicon that is used on the site disappears when on forums.

<img width="916" alt="Screen Shot 2021-02-22 at 10 19 35 AM" src="https://user-images.githubusercontent.com/1373998/108751840-91fdb700-74f7-11eb-926f-17d75e64ddd7.png">

[2021-02-22 18:43] atelomycterus commented on #422
@rootelement
1. Issue-1 due to cache. @jmgasper Has flushed cache in PROD.
2. Issue-2:  Need to fix Categories Controller because it displays 300 categories ( Vanilla.Categories.QueryLimit=300).
This problem can be seen if you click on 'Development Forums' in the breadcrumbs. If you don't have access permissions for the first 300 categories in 'Development Forums', then 'no categories' is displaye

[2021-02-22 20:41] jmgasper commented on #404
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 20:54] #425 closed

[2021-02-22 20:54] jmgasper commented on #425
Payment task has been updated: https://www.topcoder.com/challenges/871248f5-5a80-44f0-a363-9ec979abb843
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `871248f5-5a80-44f0-a363-9ec979abb843` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 21:32] jmgasper commented on #428
Fixed

[2021-02-22 21:32] #428 closed

[2021-02-22 21:58] jmgasper commented on #427
Challenge https://www.topcoder.com/challenges/57fe90f0-cd3d-4420-8963-b8fb960dccfb has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 21:58] jmgasper commented on #427
@atelomycterus - Lower priority, but can we automate this a bit?  If the user selects a handle with a `.` from the list - can we automatically add the `"`?

[2021-02-22 21:58] jmgasper commented on #427
Challenge https://www.topcoder.com/challenges/57fe90f0-cd3d-4420-8963-b8fb960dccfb has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 21:59] jmgasper commented on #424
Challenge https://www.topcoder.com/challenges/eef1051a-26a8-48dd-bd9a-c8f1a6d9b1c9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 21:59] jmgasper commented on #424
@atelomycterus - I know we have a fix for this, but can we separate out the fix for this from the performance updates please?  I'd like to get this pushed separately so we can get it out quicker than the performance stuff.

[2021-02-22 21:59] jmgasper commented on #424
Challenge https://www.topcoder.com/challenges/eef1051a-26a8-48dd-bd9a-c8f1a6d9b1c9 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 22:01] jmgasper commented on #421
Challenge https://www.topcoder.com/challenges/0dc45b3b-de5b-4044-8fb5-26cad82d915e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 22:01] jmgasper commented on #421
Challenge https://www.topcoder.com/challenges/0dc45b3b-de5b-4044-8fb5-26cad82d915e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-22 22:38] atelomycterus commented on #422
@jmgasper I am trying to fix Issue-2.

The main problem is to display the categories correctly. The calculation of what permissions the user has on the category are calculated all in code, not in DB. There is a lot of logic here, because categories can be nested + users can have multiple roles.

I understand why they've added 'QueryLimit',  since all calculations are done in the code. This option

[2021-02-23 00:11] jmgasper commented on #426
@Oanh-and-only-Oanh ☝️

[2021-02-23 00:13] Oanh-and-only-Oanh commented on #426
@jmgasper how does "Recent Discussions" diff from Bookmarking or getting notifications for activity on a thread you've been active on?

[2021-02-23 00:15] jmgasper commented on #426
@Oanh-and-only-Oanh - Recent Discussions is just a list things that have been updated recently on anything you have access to.  This includes roundtables and challenge forums.

Bookmarking is just specific discussions you care about, and notifications are only sent on forums you "watch".

[2021-02-23 00:21] jmgasper commented on #426
We have "Bookmarks", like this:  <img width="292" alt="Screen Shot 2021-02-23 at 11 20 17 am" src="https://user-images.githubusercontent.com/21790/108787082-1e2bdf00-75c9-11eb-8dc9-4c4f9aa60b2a.png">

What if we made "Recent Discussions" that only showed **unread** threads that you haven't viewed yet?  With a counter of unread as well, like the `1` in the screenshot above?  Would you want that to

[2021-02-23 00:24] Oanh-and-only-Oanh commented on #426
Sure. I like the unread option. Just want to be aware of our timeline and don't want release anything extra that could affect our release/timeline.

Question is either this version or the next... what's your effort and timeline estimate

[2021-02-23 00:27] jmgasper commented on #426
@Oanh-and-only-Oanh - This would be next release, I think.  I don't want to mess with this for the current release, where we have less than a week left.  I'd rather focus on the current performance updates.

[2021-02-23 00:28] Oanh-and-only-Oanh commented on #426
agreed. let's add this to the next version then. Nick and I will have a full list for you soon.

[2021-02-23 01:36] sdgun opened #429 "In quote mode, the upload button is not available"
**Steps**
Log in as a copilot user
Go to a challenge forum discussion
Click quote

In quote mode, the upload button is not available

![image](https://user-images.githubusercontent.com/4592712/108791662-a3050180-75a5-11eb-94a0-b0a2e43312a0.png)

[2021-02-23 01:43] sdgun commented on #425
Verified in production in both roundtables and challenge forums from copilot user and normal user. Reply is available and working as expected. The other missing options for the copilot are also available now.

Copilot:

![image](https://user-images.githubusercontent.com/4592712/108792042-671e6c00-75a6-11eb-8b82-65172cec55bc.png)

![image](https://user-images.githubusercontent.com/4592712/108792071

[2021-02-23 01:49] sdgun commented on #425
@jmgasper FYI Reply is not available for comments for all users in Dev, also delete discussion not available for the copilot in Dev

No reply:
![image](https://user-images.githubusercontent.com/4592712/108792361-16f3d980-75a7-11eb-9aab-c6e67e856918.png)

No delete:
![image](https://user-images.githubusercontent.com/4592712/108792491-676b3700-75a7-11eb-8d2d-e22ed4e2b2a4.png)

[2021-02-23 02:30] jmgasper commented on #425
@sdgun - Fixed in dev.  Copilots should only be able to announce or move - not edit or delete other member's comments.

[2021-02-23 03:38] sdgun commented on #425
@jmgasper Copilot sees the Edit on challenges, but when tries to do a change and Save, see the below:

https://user-images.githubusercontent.com/4592712/108799334-14e54700-75b6-11eb-93b1-c8fb5e5558a8.mp4

[2021-02-23 03:42] sdgun opened #430 "[$40] When a member is invited, and the member clicks on Accept link in the email notification, 'something went wrong...' error shown"
**Steps**
Log in as a Copilot
Go to any challenge forum >> Invite a member
Log into that member's email and click Accept link(you shouldn't be logged into Forums at this time)
Enter username and password >> Click log in

Error is displayed

https://user-images.githubusercontent.com/4592712/108799802-4874a100-75b7-11eb-845e-8843b3486b2e.mp4

[2021-02-23 03:47] sdgun commented on #425
@jmgasper One more thing, these options we can only see through Home >> CHALLENGE DISCUSSIONS. When access the challenges from Roundtables >> CHALLENGE DISCUSSIONS, the ellipsis is not available.

Uploading Screencast 2021-02-23.mp4…

[2021-02-23 03:58] jmgasper commented on #430
Challenge https://www.topcoder.com/challenges/f6de4ca8-a751-4db7-a5dc-41c90c4329f1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-23 03:58] jmgasper commented on #430
Challenge https://www.topcoder.com/challenges/f6de4ca8-a751-4db7-a5dc-41c90c4329f1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-23 03:59] jmgasper commented on #425
@sdgun - Yes, that's acceptable.  Copilots have more permissions on challenge discussions than in the roundtables.

[2021-02-23 04:02] jmgasper commented on #422
@atelomycterus - Ok, thanks for the update.

[2021-02-23 04:08] sdgun commented on #404
@jmgasper Created the below two challenges in production but I don't see the forums created for them

https://www.topcoder.com/challenges/3fced5cb-b7f4-4cf0-90db-65fa65c92961
https://www.topcoder.com/challenges/1d4bb32a-6134-4333-b29b-d000d5b2cc04

[2021-02-23 05:08] jmgasper commented on #404
@sdgun - How were these created?  I can't see them or query them on the community site or API

[2021-02-23 05:59] atelomycterus commented on #427
@jmgasper I've implemented it in https://github.com/topcoder-platform/forums/issues/361#issuecomment-766110237.

Tested in DEV:
https://user-images.githubusercontent.com/10196632/108807342-3691fe80-75b5-11eb-9dce-24745f354bbb.mp4

[2021-02-23 06:01] jmgasper commented on #427
@atelomycterus - Strange - that should be deployed in prod.  Any reason why it wouldn't have worked for @hokienick ?

[2021-02-23 06:02] jmgasper commented on #427
Could it be because there is an `@kiril` and an `@kiril.kartunov`?

[2021-02-23 06:11] atelomycterus commented on #427
@jmgasper Yes, I see.  If user type with '.':

https://user-images.githubusercontent.com/10196632/108808113-e7e56400-75b6-11eb-932c-cc1133d81cf0.mp4

[2021-02-23 06:19] jmgasper commented on #427
@atelomycterus - Ok, good note, thanks.  Can we fix that?

[2021-02-23 06:35] lakshmiathreya commented on #404
Reopened the Issue - @sdgun pls close it after you see Forums created for the above challenges ...

[2021-02-23 06:59] atelomycterus commented on #424
@jmgasper  I've checked PROD. In general,  both counts are correct. I think "wrong counts" because General had 'Discussion type' before.
Solution: change categoryID for Discussion. Use 'Move'. Please test it in DEV. Create a category (Discussion type), add discussions, change the type to 'Nested', add more data, move a discussion with comments, check counts.

### PROD

### Check 1
From Db
'select

[2021-02-23 07:01] atelomycterus commented on #424
@jmgasper ☝️ https://discussions.topcoder.com/discussion/1136 -> You can see these discussions:
![image](https://user-images.githubusercontent.com/10196632/108811307-1155be00-75be-11eb-8b51-4a77e1c24178.png)

[2021-02-23 07:13] atelomycterus commented on #421
@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-theme/pull/24. Thanks!

[2021-02-23 08:36] atelomycterus commented on #427
@jmgasper Sure. Please apply PR - https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/13. Thanks!

[2021-02-23 10:42] #421 closed

[2021-02-23 10:43] jmgasper commented on #421
Payment task has been updated: https://www.topcoder.com/challenges/0dc45b3b-de5b-4044-8fb5-26cad82d915e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0dc45b3b-de5b-4044-8fb5-26cad82d915e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-23 10:43] jmgasper commented on #424
@sdgun ☝️  Can you test please?

[2021-02-23 10:45] #427 closed

[2021-02-23 10:46] jmgasper commented on #427
Payment task has been updated: https://www.topcoder.com/challenges/57fe90f0-cd3d-4420-8963-b8fb960dccfb
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `57fe90f0-cd3d-4420-8963-b8fb960dccfb` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-23 13:16] sdgun commented on #421
@atelomycterus  Tested in Dev, it's opening the production forums. In Dev we have to open https://vanilla.topcoder-dev.com/

[2021-02-23 13:57] atelomycterus commented on #422
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/431.

Need to change category type to 'Flat' for '_Development Forums_', '_Data Science Forums_', and '_Design Forums_'.
I fixed SQL query to support paging and Group permissions . Assuming that we have all challenge categories created by a challenge processor and tied to Group. It'll also work with regular groups.

Out cat

[2021-02-23 14:09] atelomycterus commented on #421
@sdgun yes, I fixed only the old forum link because all links in header/footer from PROD. Should I fix all links and show depending env?
![image](https://user-images.githubusercontent.com/10196632/108854354-d15ffc80-75f8-11eb-834c-e04b462f2e56.png)

@jmgasper ☝️

[2021-02-23 14:26] sdgun commented on #428
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/108857498-29a2f880-7611-11eb-8205-b46edac8760a.png)

[2021-02-23 18:38] sdgun commented on #424
@atelomycterus Not sure what I did is what you are asking in your comment above.

- In https://vanilla.topcoder-dev.com/groups/mine?filter=challenge, I created a category named 'Ext category' in the development challenge Scheduler API Test 1
- Then went inside it and created new discussion 'Inside Ext discussion'
- And created 2 comments in 'Inside Ext discussion'
- Moved 'Inside Ext discussion' i

[2021-02-23 19:44] atelomycterus commented on #381
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/432
https://github.com/topcoder-platform/forums-groups-plugin/pull/60
Thanks.

Important: Flush cache after deploying to avoid weird behavior (https://github.com/topcoder-platform/forums/issues/422#issuecomment-783250872).

1. Please add `TIDEWAYS_APIKEY` env param (https://github.com/topcoder-platform/forums/issues/381#i

[2021-02-23 20:09] atelomycterus commented on #424
@sdgun Sorry about that,  I updated steps. Let me know if you have any questions:
1. I created 'General(Issue-424), https://vanilla.topcoder-dev.com/categories/general%28issue-424%29.  Please use it for testing.
The category  displays as 'Discussions'.
![image](https://user-images.githubusercontent.com/10196632/108899591-a6da6780-7629-11eb-844c-e88bfeda7503.png)

2. Then create two discussions in

[2021-02-23 20:58] jmgasper commented on #421
@sdgun - I'm fine if we just leave everything pointing to prod for now.  Otherwise we have to add all sorts of extra logic for dev vs. prod and I don't see a lot of value in that for the footer.

[2021-02-23 22:03] jmgasper commented on #381
@sdgun / @atelomycterus  - Deployed in dev.  I'm waiting on an update for the API env param

[2021-02-23 22:05] jmgasper commented on #422
@atelomycterus  - I've deploy the PRs and update the settings in dev for the category type.

[2021-02-23 22:05] #422 closed

[2021-02-23 22:06] jmgasper commented on #422
Payment task has been updated: https://www.topcoder.com/challenges/79ecd8cc-0e4e-4025-b8c5-c505ff79e427
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `79ecd8cc-0e4e-4025-b8c5-c505ff79e427` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 03:55] sdgun commented on #424
@atelomycterus Not related to this issue, but I see a challenge discussion in the roundtables(log in as Copilot).

![image](https://user-images.githubusercontent.com/4592712/108945033-e2088500-7681-11eb-8f9a-8f60a3c37b48.png)

[2021-02-24 05:15] sdgun opened #433 "[$75] Issues with mentions"
When there is '-', '@' or space in the handle names they don't work.
Also if user do backspace after entering a space or '-', it will not show up the list of handles even if user starts typing again.

https://user-images.githubusercontent.com/4592712/108950969-2a797000-768d-11eb-8da4-cbb9169efc86.mp4

[2021-02-24 05:16] sdgun commented on #427
Verified in Dev, this mentioned issue with '.' is fixed, but found the below issues.

https://github.com/topcoder-platform/forums/issues/433

[2021-02-24 05:37] jmgasper commented on #433
Challenge https://www.topcoder.com/challenges/cb0730bf-ead2-4f85-b553-7c33b3b96883 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 05:37] jmgasper commented on #433
Challenge https://www.topcoder.com/challenges/cb0730bf-ead2-4f85-b553-7c33b3b96883 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 06:17] atelomycterus commented on #422
@jmgasper I've tested as a normal user (obogtop). It works as expected.

[2021-02-24 06:22] sdgun commented on #424
@atelomycterus Executed only steps 1to 4 and noticing the counts incorrect. The counts displayed in the category 'General(Issue-424)' are incorrect.

https://user-images.githubusercontent.com/4592712/108956874-767ce280-7696-11eb-8ba2-0c449b029576.mp4

[2021-02-24 06:30] atelomycterus commented on #381
@sdgun  After updating env param I'll check that Tideways is displaying the data. Let's test this issue when Tideways is configured.

[2021-02-24 06:36] jmgasper commented on #381
@atelomycterus the Param should be set now.  I'm redeploying in dev which usually takes less than 10 minutes

[2021-02-24 06:53] sdgun commented on #422
Verified from below users, and challenge forums were visible without permission issues.

sdguntcqa
sdgunvfor
pshah_customer
TopConnCustomer

[2021-02-24 06:55] atelomycterus commented on #424
@sdgun That's right, they must be incorrect at this step. The same issue in PROD.

Within General(Issue-424) - 3 discussions , 9 comments:

2 discussions were added at p.2 , you don't see them due to 'DisplayAs=Nested' but you can only see by direct link:
https://vanilla.topcoder-dev.com/discussion/3631 -1 comment
https://vanilla.topcoder-dev.com/discussion/3632 - 2 comments

Total: 5 discussions,

[2021-02-24 07:01] atelomycterus commented on #381
@jmgasper Do you have permissions to create a service in Tideways (https://github.com/topcoder-platform/forums/issues/381#issuecomment-781962616)?

[2021-02-24 07:07] sdgun commented on #424
@atelomycterus Thanks, the counts are correct after moving/deleting.

[2021-02-24 07:16] atelomycterus commented on #424
@sdgun Thanks!

### PROD
@jmgasper Need to move/delete discussions ("DiscussionID": 1136, 1166, 1272, 2492) in PROD.  After moving/deleting the counts should be correct.
These discussions in 'General':
![image](https://user-images.githubusercontent.com/10196632/108961732-d2406f00-7688-11eb-8499-293dd06e811e.png)

[2021-02-24 09:56] atelomycterus commented on #424
@sdgun

This category was created for a challenge. This category should not be at this level. The challenge -  https://www.topcoder-dev.com/challenges/c1fcdad4-07a5-46f3-9cef-9609c04e76be

![image](https://user-images.githubusercontent.com/10196632/108979254-84813200-769b-11eb-84e1-219c9e3ed2a5.png)

Challenge processor forum created it because the description is 'Welcome to Topcoder Development c

[2021-02-24 10:11] jmgasper commented on #424
@sdgun - that particular group was created manually for testing.  It was not created by the challenge forum processor

[2021-02-24 10:12] sdgun commented on #424
@jmgasper @atelomycterus Thanks

[2021-02-24 13:41] lakshmiathreya commented on #401
<img width="1680" alt="Screenshot 2021-02-24 at 7 10 28 PM" src="https://user-images.githubusercontent.com/51733042/109009026-068d4d00-76d4-11eb-9c71-557a7cd6d147.png">

[2021-02-24 16:45] atelomycterus commented on #406
@jmgasper Please apply PR -https://github.com/topcoder-platform/forums-groups-plugin/pull/61. Thanks!

[2021-02-24 18:03] atelomycterus commented on #414
@jmgasper Please apply PRs:
- https://github.com/topcoder-platform/challenge-forum-processor/pull/53
- https://github.com/topcoder-platform/forums-theme/pull/25

Thanks!

### Testing
- Please clear browser cache and create new challenge to  verify a group description. Thanks!
![image](https://user-images.githubusercontent.com/10196632/109044148-1eb89880-76e3-11eb-94fd-cbee66e731f7.png)

[2021-02-24 19:19] atelomycterus commented on #415
@jmgasper If we remove 'Roundtable' it will also confuse users because
 - track names in breadcrumbs
 - 'Challenge Discussions' (root category) vs 'Challenge Discussions' (menu in the left nav). The links with the same name but they navigates to different pages.
 'Challenge Discussions' (root category) - https://discussions.topcoder.com/categories/challenges-forums that display 'Design', 'Developm

[2021-02-24 20:58] hokienick opened #434 "[$30] Remove "[Vanilla]" from Subject of Automated Emails"
Currently this is how we are receiving Email Notifications:
<img width="443" alt="Screen Shot 2021-02-24 at 12 55 51 PM" src="https://user-images.githubusercontent.com/1373998/109064752-a381c300-769f-11eb-88cd-f21a37e8f6a2.png">

Please remove "[Vanilla]" that begins the subject.

[2021-02-24 21:03] jmgasper commented on #434
Challenge https://www.topcoder.com/challenges/3accab4e-0c65-4152-8022-913d8841e1cb has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 21:03] jmgasper commented on #434
Challenge https://www.topcoder.com/challenges/3accab4e-0c65-4152-8022-913d8841e1cb has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 21:06] jmgasper commented on #401
@lakshmiathreya - You're an admin - roles are sync'd from Topcoder to Vanilla when you log in.  I'm not sure what the screenshot you posted is supposed to point us to or represent, thanks.

<img width="367" alt="Screen Shot 2021-02-25 at 8 05 51 am" src="https://user-images.githubusercontent.com/21790/109065834-4853dd00-7740-11eb-9ff3-43fbfaa19fd6.png">

[2021-02-24 21:20] hokienick opened #435 "Where can I see Conversations I'm Added To?"
I saw a notification for a second on the bottom left that popped up and said that jessie had added me to a conversation (really cool feature!).  However I wasn't quick enough to click on it and now I am not sure where I can go to find out which thread to visit.

@Oanh-and-only-Oanh should we add a tab on the left side that says "Tagged Conversations" or something of that nature?

[2021-02-24 21:33] jmgasper commented on #435
@hokienick - Do you see it here?  https://discussions.topcoder.com.com/profile/notifications

[2021-02-24 21:35] atelomycterus commented on #433
@jmgasper  Please apply PR-https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/15.

### Changes
I've checked on Topcoder sign up page which chars are supported in usernames.   Added missing supported chars. Username: letters, numbers and the following characters: "_", ".", "+", "-":

![image](https://user-images.githubusercontent.com/10196632/109067143-2e45da80-76ff-11eb-89e1-f

[2021-02-24 22:19] atelomycterus commented on #434
@jmgasper Please apply PR- https://github.com/topcoder-platform/forums/pull/436/. Thanks!

[2021-02-24 22:37] #434 closed

[2021-02-24 22:38] jmgasper commented on #434
Payment task has been updated: https://www.topcoder.com/challenges/3accab4e-0c65-4152-8022-913d8841e1cb
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `3accab4e-0c65-4152-8022-913d8841e1cb` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 22:42] #433 closed

[2021-02-24 22:42] #414 closed

[2021-02-24 22:43] jmgasper commented on #433
Payment task has been updated: https://www.topcoder.com/challenges/cb0730bf-ead2-4f85-b553-7c33b3b96883
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `cb0730bf-ead2-4f85-b553-7c33b3b96883` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 22:43] jmgasper commented on #414
Payment task has been updated: https://www.topcoder.com/challenges/bcdcd437-51b0-4f19-9f4d-8a12e4ce7f76
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `bcdcd437-51b0-4f19-9f4d-8a12e4ce7f76` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-24 22:55] jmgasper commented on #415
@atelomycterus - I'm fine with that suggestion, thanks.

[2021-02-25 00:29] jmgasper opened #437 "[$50] Tideways setup debugging"
As discussed via email.

[2021-02-25 00:29] jmgasper commented on #437
Challenge https://www.topcoder.com/challenges/c777be38-2c5d-436c-b232-b6b3bbe5b8c6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 00:29] jmgasper commented on #437
Challenge https://www.topcoder.com/challenges/c777be38-2c5d-436c-b232-b6b3bbe5b8c6 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 02:57] RiteshTC opened #438 "[$40] Search Screen doesn't display Category Name during Search"
Go to Vanilla Forum Admin.
https://discussions.topcoder.com/vanilla/settings/categories?parent=development-forums
Enter a search term

<img width="1094" alt="Search" src="https://user-images.githubusercontent.com/5771673/109096265-40496c80-7743-11eb-9967-5b4b9c5f9fa8.png">

[2021-02-25 03:16] jmgasper commented on #438
Challenge https://www.topcoder.com/challenges/308a8283-8696-4b74-b54a-dbdc7f34e9b7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 03:16] jmgasper commented on #438
Challenge https://www.topcoder.com/challenges/308a8283-8696-4b74-b54a-dbdc7f34e9b7 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 05:12] jmgasper opened #439 "[$50] Category dropdown"
Reported by a copilot:

@atelomycterus - Can we remove that category dropdown if the user navigates via `Roundtables` please?

<img width="1305" alt="Screenshot 2021-02-25 at 10 31 52 AM" src="https://user-images.githubusercontent.com/21790/109106591-38f68300-7784-11eb-8845-0367ab6da637.png">

[2021-02-25 05:12] jmgasper commented on #439
Challenge https://www.topcoder.com/challenges/c3a4527e-cb39-45cc-a409-3703b533b2e5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 05:12] jmgasper commented on #439
Challenge https://www.topcoder.com/challenges/c3a4527e-cb39-45cc-a409-3703b533b2e5 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 05:21] sdgun commented on #414
@atelomycterus Verified in Dev, all new challenges I created worked as expected, but this one only shows part of the challenge title https://vanilla.topcoder-dev.com/group/709

![image](https://user-images.githubusercontent.com/4592712/109107244-6547da80-7757-11eb-8ddb-636c70416e4b.png)

[2021-02-25 05:24] jmgasper opened #440 "[$300] Formalise deployment"
@atelomycterus - Currently our deployment just uses the `master` branch of things like the plugins and other dependency repos.  I'd like to get this formalised so that we use `develop` for *all* dependencies in dev and `master` for *all* dependencies in prod.  This will allow us to more easily roll back changes if we run into deployment issues.

[2021-02-25 05:24] jmgasper commented on #440
Challenge https://www.topcoder.com/challenges/491b41b2-c32c-4bf7-b578-cb5bf232b007 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 05:24] jmgasper commented on #440
Challenge https://www.topcoder.com/challenges/491b41b2-c32c-4bf7-b578-cb5bf232b007 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 05:47] sdgun commented on #433
Verified in Dev.

[2021-02-25 06:03] sdgun commented on #434
Verified in Dev:

![image](https://user-images.githubusercontent.com/4592712/109109664-b2c64680-775b-11eb-8e08-1ed3e5b8597a.png)

[2021-02-25 06:54] atelomycterus commented on #414
@sdgun the initial challenge name was 'Week #12 Test challenge'. Then it was renamed.
Challenge forum processor updates a group name+ main challenge's category. It was implemented in https://github.com/topcoder-platform/forums/issues/94. Group description is not updated.

@jmgasper Let me know if  group description should be updated.

![image](https://user-images.githubusercontent.com/10196632/109

[2021-02-25 06:58] atelomycterus commented on #437
@jmgasper From my email:

 https://github.com/topcoder-platform/forums/issues/381#issuecomment-781962616 — Tideways section, step 2.

[2021-02-25 07:03] jmgasper commented on #414
@atelomycterus - It's fine for now.

[2021-02-25 11:28] sdgun opened #441 "Copilot sees the Edit on challenges, but when tries to do a change and Save, see an error"
Steps
Log in as TCConnCopilot to forums
Go to https://vanilla.topcoder-dev.com/groups/mine?filter=challenge
Click on ellipsis on a challenge forum
Click Edit
Do a change
Save

https://user-images.githubusercontent.com/4592712/109147124-a9a09e00-778a-11eb-909d-77b0b302bf89.mp4

[2021-02-25 13:12] atelomycterus opened #443 "Dashboard: Searching a category"
While testing, I noticed that Vanilla only searches for the most recently added categories (QueryLimit = 300) in the "Development  Forums". 'Development Forums' has 300+ categories.

I think that it will be necessary to improve the search because it doesn't find all categories.

Example:
No filter
![image](https://user-images.githubusercontent.com/10196632/109157208-c76a0500-7782-11eb-91e3-58563f9

[2021-02-25 13:15] atelomycterus commented on #438
@jmgasper Fixed this issue. This is was a Vanilla bug in template. PR- https://github.com/topcoder-platform/forums/pull/442. Thanks!

While testing, I noticed that Vanilla only searches for the most recently added categories (QueryLimit = 300) in the "Development Forums". I think that it will be necessary to improve the search because it doesn't find all categories.
I created -https://github.com/t

[2021-02-25 14:12] atelomycterus commented on #439
@jmgasper I see.  Fixed. In short,  the weird dropdown was displayed when user was  in a category, but creating a discussion in it  is not allowed because the category type  was nested or flat.

If user clicks on 'New Discussion' from a challenge view page then 'Code Question' is used by default. It's been implemented in https://github.com/topcoder-platform/forums/issues/218#issuecomment-735478290

[2021-02-25 16:34] atelomycterus commented on #415
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/442/. Thanks!
I hope this breadcrumbs will be more user-friendly.

### Testing
Challenge's Categories:
![image](https://user-images.githubusercontent.com/10196632/109184581-31dd6e00-77a0-11eb-8814-010996caf2a1.png)

Discussion page:
![image](https://user-images.githubusercontent.com/10196632/109184472-170af980-77a0-11eb-8b1

[2021-02-25 17:07] atelomycterus commented on #419
@jmgasper a few questions about navigation. All links now navigate to pages in Vanilla. Should these links navigate to Topcoder pages or not?

1. Topcoder profile - https://www.topcoder-dev.com/members/TonyJ
   Vanilla profile - https://vanilla.topcoder-dev.com/profile/discussions/TonyJ

2.  Topcoder settings https://www.topcoder-dev.com/settings/profile
 Vanilla settings https://vanilla.topcoder-

[2021-02-25 17:19] atelomycterus commented on #440
@jmgasper Do you have permissions to rename a branch? One repo is named  'main' , all others are named 'master'.
It would be better if all repositories have the same name. Otherwise, we will have to write if /else condition in the bash script.

Renaming branch - https://github.com/github/renaming/

![image](https://user-images.githubusercontent.com/10196632/109189691-5851d800-77a5-11eb-8af9-b2bddb

[2021-02-25 21:42] jmgasper commented on #419
1. Let's put the profile to Topcoder
2. Settings should be Vanilla

[2021-02-25 21:42] jmgasper commented on #419
*Eventually*, we're going to move the settings to Topcoder and have Topcoder make API calls *back* to Vanilla, but that's not on the current roadmap.

[2021-02-25 22:09] jmgasper commented on #441
@sdgun - I tweaked some permissions and this should now be fixed.

[2021-02-25 22:09] #441 closed

[2021-02-25 22:09] jmgasper commented on #441
I also made the same changes in prod, just FYI.

[2021-02-25 23:21] jmgasper commented on #440
@atelomycterus - Renaming done.

[2021-02-25 23:28] jmgasper commented on #443
@atelomycterus  - Ok, thanks.  I'll see if I can add this to the roadmap.

[2021-02-25 23:29] #439 closed

[2021-02-25 23:29] #438 closed

[2021-02-25 23:29] #415 closed

[2021-02-25 23:29] jmgasper commented on #438
Payment task has been updated: https://www.topcoder.com/challenges/308a8283-8696-4b74-b54a-dbdc7f34e9b7
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `308a8283-8696-4b74-b54a-dbdc7f34e9b7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 23:29] jmgasper commented on #439
Payment task has been updated: https://www.topcoder.com/challenges/c3a4527e-cb39-45cc-a409-3703b533b2e5
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `c3a4527e-cb39-45cc-a409-3703b533b2e5` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-25 23:30] jmgasper commented on #415
Payment task has been updated: https://www.topcoder.com/challenges/3c3482e3-ba34-4fab-a3a8-cfb53d81748e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `3c3482e3-ba34-4fab-a3a8-cfb53d81748e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-26 04:29] sdgun commented on #415
Verified in Dev.

When the user clicks on Discussions tab in the challenge details page the breadcrumb is :

![image](https://user-images.githubusercontent.com/4592712/109253172-309a5880-7815-11eb-809b-46c73b37e262.png)

When access challenges from 'Challenge Discussions' in left Nav:
![image](https://user-images.githubusercontent.com/4592712/109253417-c59d5180-7815-11eb-9f5a-0fd9b2635ba2.png)

Wh

[2021-02-26 05:15] sdgun opened #444 "[$40] Admin user cannot make announcements"
@atelomycterus - I fixed the permission issue below, but it seems that the `New Announcement` button is just adding a discussion, not an announcement.

**Steps**
Log in from TonyJ user
Go to https://vanilla.topcoder-dev.com/group/715
Click New Announcement
Create an announcement >> save

Show the below error:

![image](https://user-images.githubusercontent.com/4592712/109257875-1a919580-781f-11eb-

[2021-02-26 05:34] sdgun commented on #439
Verified in Dev, the Category drop down is removed and the new Discussion button is only available inside categories.

[2021-02-26 05:58] sdgun commented on #441
Verified in Dev and Prod, the Edit option is removed from copilot user now.

![image](https://user-images.githubusercontent.com/4592712/109261433-c9d16b00-7825-11eb-9ebf-5bfd8889fd9a.png)

[2021-02-26 06:27] sdgun opened #445 "[$40] When watch/unwatch categories on a challenge, the group page is opening"
**Steps**
Log in from a copilot user
Go to https://vanilla.topcoder-dev.com/groups/mine?filter=challenge
Click Ellipsis
Click watch/unwatch categories

Watch/unwatch status is set but navigating to the group page

[2021-02-26 06:46] sdgun commented on #438
Verified in Dev

[2021-02-26 08:31] atelomycterus commented on #440
@jmgasper  Could you create 'develop' branches for plugins and set them as 'default'?  Thanks!

The list of plugins:
https://github.com/topcoder-platform/forums-plugins
https://github.com/topcoder-platform/forums-filestack-plugin
https://github.com/topcoder-platform/forums-groups-plugin
https://github.com/topcoder-platform/forums-sumologic-plugin
https://github.com/topcoder-platform/forums-topcode

[2021-02-26 13:20] atelomycterus commented on #440
@jmgasper I've created develop branches. Please set 'develop' branch as default. I don't have permissions.

DebugBar plugin will be not deployed to PROD anymore because if someone with admin roles turns it on, then any authorized user can see sensitive information (like server env params, API Keys and so on). If know how to configure permissions, then for unauthorized ones.

Please apply PR-https:

[2021-02-26 13:25] atelomycterus commented on #402
@sdgun the same issue https://github.com/topcoder-platform/forums/issues/424.

[2021-02-27 00:50] jmgasper commented on #440
@atelomycterus - Thanks.  Default branches are set, and PR is merged and deploying to dev.

[2021-02-27 00:51] #440 closed

[2021-02-27 00:51] jmgasper commented on #440
Payment task has been updated: https://www.topcoder.com/challenges/491b41b2-c32c-4bf7-b578-cb5bf232b007
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `491b41b2-c32c-4bf7-b578-cb5bf232b007` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-27 00:55] jmgasper commented on #440
Found an issue with the deploy keys.  Fixing that now.

[2021-02-27 01:14] jmgasper commented on #445
Challenge https://www.topcoder.com/challenges/01785169-89dd-49ed-9c3c-8bd5df7207a3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-27 01:14] jmgasper commented on #445
Challenge https://www.topcoder.com/challenges/01785169-89dd-49ed-9c3c-8bd5df7207a3 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-27 01:14] #406 closed

[2021-02-27 01:15] jmgasper commented on #406
Payment task has been updated: https://www.topcoder.com/challenges/f1ef7d50-cf6d-4b57-84ee-fa6ca786ad31
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f1ef7d50-cf6d-4b57-84ee-fa6ca786ad31` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-27 06:17] atelomycterus commented on #440
@jmgasper Sorry about that. The issue with a branch name, I used '$CIRCLE_BRANCH' env param which set in 'Preparing environment variables' step. This could detect the branch automatically but it didn't work.  Fixed. https://github.com/topcoder-platform/forums/pull/447. Thanks!

[code]

[2021-02-27 06:21] atelomycterus commented on #440
@jmgasper  Verified it:
[code]

[2021-02-27 06:37] atelomycterus commented on #419
@jmgasper What about nav bar on mobile?  Is in the scope of the task?

Topcoder sites: The menu opens in full screen,
Vanilla:  the second nav bar appears. If click on username then the menu popup is displayed

![image](https://user-images.githubusercontent.com/10196632/109377682-efba4680-78dd-11eb-8644-eff34ed2df3d.png)

![image](https://user-images.githubusercontent.com/10196632/109377696-0e2042

[2021-02-27 07:01] jmgasper commented on #419
@atelomycterus - We can leave that for a future task for now

[2021-02-27 20:52] atelomycterus commented on #419
@jmgasper Keep you updated:

Desktop: Implemented, Clean code and push it tomorrow.
![image](https://user-images.githubusercontent.com/10196632/109399732-a574ac00-7955-11eb-935d-7d4dc9945644.png)

[2021-02-28 00:02] jmgasper commented on #419
Great, thanks!

[2021-02-28 09:31] lakshmiathreya commented on #441
@sdgun this should be moved to current milestone from the future milestone 1.x since its working now right?

[2021-02-28 11:51] atelomycterus commented on #419
@jmgasper Please apply PRs
https://github.com/topcoder-platform/forums/pull/448
https://github.com/topcoder-platform/forums-plugins/pull/63
https://github.com/topcoder-platform/forums-theme/pull/26

Thanks!

### Testing

![image](https://user-images.githubusercontent.com/10196632/109417330-4144fd00-79d4-11eb-8c30-f3dd1f6a73d5.png)

If count of New Notifications > 0  then a dot should be displayed:

[2021-02-28 14:28] atelomycterus commented on #445
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/62. Thanks!

[2021-02-28 19:48] atelomycterus commented on #430
@jmgasper Fixed. PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/62.  **Important notes**:
There are no checks here and any user who knows the accept invitation link format can join  groups including **private** after authorization.  It could present a security hole into Vanilla. So before using this functionality with private groups in PROD, need to issue a token/generate invita

[2021-02-28 19:49] atelomycterus opened #449 "[$250] Inviting users to a group: issue an token and validate accept invitation link"
Any user who knows the accept invitation link format can join  groups including **private** after authorization.  It could present a security hole into Vanilla. So before using this functionality with private groups in PROD, need to issue a token/generate invitation code and validate it.

[2021-02-28 20:12] atelomycterus commented on #409
@jmgasper Please apply  PR-https://github.com/topcoder-platform/forums/pull/448. Thanks!

### Testing

![image](https://user-images.githubusercontent.com/10196632/109432034-5a709c80-7a1a-11eb-90a5-c9ec55f3db66.png)

[2021-02-28 20:29] jmgasper commented on #449
@atelomycterus - Thanks for that

@sdgun - I have disabled the ability for copilots to send invites to groups in prod for the time being.

[2021-02-28 20:29] jmgasper commented on #449
Challenge https://www.topcoder.com/challenges/a6d96cd4-6b47-4172-8534-5252208d1860 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-28 21:32] #445 closed

[2021-02-28 21:32] #419 closed

[2021-02-28 21:32] #430 closed

[2021-02-28 21:32] jmgasper commented on #419
Payment task has been updated: https://www.topcoder.com/challenges/3e9e44c2-739d-47ce-a5fa-9df3dbd051e6
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `3e9e44c2-739d-47ce-a5fa-9df3dbd051e6` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-28 21:32] jmgasper commented on #445
Payment task has been updated: https://www.topcoder.com/challenges/01785169-89dd-49ed-9c3c-8bd5df7207a3
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `01785169-89dd-49ed-9c3c-8bd5df7207a3` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-28 21:32] #409 closed

[2021-02-28 21:33] jmgasper commented on #430
Payment task has been updated: https://www.topcoder.com/challenges/f6de4ca8-a751-4db7-a5dc-41c90c4329f1
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f6de4ca8-a751-4db7-a5dc-41c90c4329f1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-28 21:33] jmgasper commented on #409
Payment task has been updated: https://www.topcoder.com/challenges/771748c9-fa0d-4386-99b6-1f0cc361b242
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `771748c9-fa0d-4386-99b6-1f0cc361b242` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 02:11] jmgasper commented on #444
Challenge https://www.topcoder.com/challenges/415aca7c-ba6e-4131-9d49-adf263d41792 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 02:11] jmgasper commented on #444
Challenge https://www.topcoder.com/challenges/415aca7c-ba6e-4131-9d49-adf263d41792 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 04:02] sdgun commented on #402
Duplicate of https://github.com/topcoder-platform/forums/issues/424

[2021-03-01 04:02] #402 closed

[2021-03-01 04:05] sdgun commented on #406
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/109450678-83704c00-7a71-11eb-8a78-55d4a8cd6141.png)

[2021-03-01 04:54] sdgun commented on #430
Verified in Dev, members could join without any issue.

[2021-03-01 05:22] sdgun commented on #445
Verified in Dev.

[2021-03-01 05:47] sdgun commented on #409
Verified in Dev

![image](https://user-images.githubusercontent.com/4592712/109456820-a30e7100-7a7f-11eb-8509-48aee04954c2.png)

[2021-03-01 06:19] sdgun commented on #419
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/109459097-1f0ab800-7a84-11eb-91f1-a58a595e805c.png)

[2021-03-01 20:39] jmgasper commented on #449
Challenge https://www.topcoder.com/challenges/a6d96cd4-6b47-4172-8534-5252208d1860 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 20:41] jmgasper commented on #424
Payment task has been updated: https://www.topcoder.com/challenges/eef1051a-26a8-48dd-bd9a-c8f1a6d9b1c9
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `eef1051a-26a8-48dd-bd9a-c8f1a6d9b1c9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 20:44] jmgasper commented on #437
@rootelement ☝️

[2021-03-01 20:45] jmgasper commented on #404
Challenge https://www.topcoder.com/challenges/735492a8-fa48-432f-b20a-0f109cb558db has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 20:45] jmgasper commented on #404
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 20:45] #110 closed

[2021-03-01 20:45] jmgasper commented on #110
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 20:46] jmgasper commented on #437
@atelomycterus - We're still working on the service, but closing this one out now since the billing account is going to be shutting.

[2021-03-01 20:46] #437 closed

[2021-03-01 20:46] jmgasper commented on #437
Payment task has been updated: https://www.topcoder.com/challenges/c777be38-2c5d-436c-b232-b6b3bbe5b8c6
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `c777be38-2c5d-436c-b232-b6b3bbe5b8c6` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-01 21:19] atelomycterus commented on #449
@jmgasper  I added  `$Configuration['Plugins']['Groups']['InviteExpiration']` , Now the value is 20 mins for testing. So @sdgun  can test it, not to wait long. Use  '+1 day' or another value for PROD.

### Changes
Unique token is generated. Only an invitee can use it. If the token is valid the  user redirect to a group. If the token has expired:
![image](https://user-images.githubusercontent.com/1

[2021-03-01 21:51] jmgasper commented on #449
@atelomycterus - Thanks, I'll keep that in mind for future functionality, if needed.

[2021-03-01 21:51] #449 closed

[2021-03-01 21:52] jmgasper commented on #449
Payment task has been updated: https://www.topcoder.com/challenges/a6d96cd4-6b47-4172-8534-5252208d1860
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `a6d96cd4-6b47-4172-8534-5252208d1860` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 00:07] jmgasper opened #451 "[$50] Priority - not all admins showing orange handles"
@atelomycterus - This ones a priority, since we want to get it fixed, at least in dev, before the billing account closes tomorrow.

A couple handles for admins aren't showing as orange in prod.  I don't see anything obviously wrong in the code, but it looks like we may be relying on cached data for some of this.

<img width="248" alt="Screen Shot 2021-03-01 at 3 52 33 PM" src="https://user-images.

[2021-03-02 00:08] jmgasper commented on #451
Challenge https://www.topcoder.com/challenges/f234f616-30de-4003-bcff-05094b88bdb1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 00:08] jmgasper commented on #451
Challenge https://www.topcoder.com/challenges/f234f616-30de-4003-bcff-05094b88bdb1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 02:06] jmgasper opened #452 "[$40] Prod copilot - uploading files not working"
@atelomycterus - This is a bit of a strange one, but a copilot is saying that they are unable to upload files in Chrome on prod:

![image (1)](https://user-images.githubusercontent.com/21790/109585668-08ce2c00-7b58-11eb-9bbd-015eaa6b1b84.png)

**But**, if they switch to private browsing / incognito window and login there, it seems to work fine.  Is there anything cached locally that might cause th

[2021-03-02 02:06] jmgasper commented on #452
Challenge https://www.topcoder.com/challenges/893c175e-4f16-46eb-833e-ecf16ab75b80 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 02:06] jmgasper commented on #452
Challenge https://www.topcoder.com/challenges/893c175e-4f16-46eb-833e-ecf16ab75b80 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 05:17] sdgun opened #453 "The long emails go beyond the menu"
**Steps**
Log into Forums from user 'TopConnCustomer'/appirio123
Click on the user name on top right hand corner

The email goes beyond the menu

![image](https://user-images.githubusercontent.com/4592712/109601305-9d2e9380-7b44-11eb-8257-dfa3e23bdd69.png)

[2021-03-02 05:28] sdgun commented on #449
Verified in Dev.
1. Invited user could use the link for 20 minutes
2. After 20 minutes show the message:

![image](https://user-images.githubusercontent.com/4592712/109602417-137fc580-7b46-11eb-92d9-c7cbcf911139.png)

3. When try to use the same link from another user, shows the message:

![image](https://user-images.githubusercontent.com/4592712/109602502-35794800-7b46-11eb-8980-ae7e53c22e1e.png)

[2021-03-02 05:54] sdgun opened #454 "Issues with the breadcrumbs"
1. When access Challenge Discussions from Roundtables, the breadcrumb has Roundtables until user selects a challenge discussion. When clicking a particular challenge discussion, Roundtables disappear from breadcrumb. And if the user clicks on challenge discussion in the breadcrumb with the intention of going back to previous page where he was, it takes the user to the challenge discussions view of

[2021-03-02 07:19] atelomycterus commented on #451
@jmgasper orange handle is shown  if user has Admin,admin,administrator or Administrator  role ( https://github.com/topcoder-platform/forums/issues/24)
In DEV both users has 'copilot' role, not admin.
In PROD need to check `https://api.topcoder.com/v3/roles?filter=subjectID%3D<topcoderID>` . I get 403 with my personal token.

### DEV
jmpld40 (14999860) - `https://api.topcoder.com/v3/roles?filter=s

[2021-03-02 09:56] jmgasper commented on #451
@atelomycterus - Interesting.  I checked `nick.castillo` and `jmpld40` in prod.  Neither are listed as admins, but they *are* listed as `Connect Manager`.  Can we add `Connect Manager` to the check for the time being please?

[2021-03-02 09:58] jmgasper commented on #451
@rootelement ☝️ Any concerns?

[2021-03-02 11:38] atelomycterus commented on #451
@jmgasper Sure. Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/64, Thanks!

### Testing
![image](https://user-images.githubusercontent.com/10196632/109643094-d2e37480-7b64-11eb-86d9-2f77e9497185.png)

[2021-03-02 20:45] atelomycterus commented on #444
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/455
https://github.com/topcoder-platform/forums-groups-plugin/pull/64
Thanks!

### Testing
1. The `New Announcement` button should be displayed if user has  'Vanilla.Discussions.Add' and  'Vanilla.Discussions.Announce'.
New Announcement button should  add an announcement.
![image](https://user-images.githubusercontent.com

[2021-03-02 20:46] #444 closed

[2021-03-02 20:46] #451 closed

[2021-03-02 20:46] jmgasper commented on #444
Payment task has been updated: https://www.topcoder.com/challenges/415aca7c-ba6e-4131-9d49-adf263d41792
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `415aca7c-ba6e-4131-9d49-adf263d41792` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 20:47] jmgasper commented on #451
Payment task has been updated: https://www.topcoder.com/challenges/f234f616-30de-4003-bcff-05094b88bdb1
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f234f616-30de-4003-bcff-05094b88bdb1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-02 20:47] jmgasper commented on #383
@sdgun - I think this one can be retested.

[2021-03-02 21:11] atelomycterus commented on #452
@jmgasper Vanilla REST API checks permissions. It looks like missing CategoryID in form data. It should be set for new discussion:
 ![image](https://user-images.githubusercontent.com/10196632/109715264-8031a900-7bb4-11eb-9fc1-d94b87c2ddc4.png)

Maybe old js files in cache. Could you ask to clear browser cache and record videos if the error is reproduced? Thanks!

[2021-03-03 04:23] sdgun commented on #383
@jmgasper @atelomycterus They can still do this since we show the New discussions button on the bookmarks page.

https://user-images.githubusercontent.com/4592712/109752347-44bfca80-7c06-11eb-88f2-817815ae8c12.mp4

[2021-03-03 04:39] sdgun commented on #444
Verified in Dev.

[2021-03-03 04:55] sdgun opened #456 "[$20] Don't announce doesn't make sense in the Announce pop up"
Steps
Log in as Admin user
Go to a discussion
Click on Ellipsis
Select Announce

The pop up shows the option 'Don't announce', but the user can simply cancel the pop up if they change their mind.

![image](https://user-images.githubusercontent.com/4592712/109754649-6c189680-7c0a-11eb-8714-dc32421c9390.png)

[2021-03-03 05:08] sdgun commented on #451
Verified in Dev.

[2021-03-03 10:43] atelomycterus commented on #383
@jmgasper
1) Regarding the latest changes (https://github.com/topcoder-platform/forums/issues/439), `New discussion` should be removed from Bookmarks page. `New Discussion` button  has been removed from Discussions\Categories pages, the button is only available inside categories.  Please confirm it. I'll fix it on `Bookmarks` page.
2) I've checked `My Drafts` page.  User can change a category for

[2021-03-03 10:53] sdgun commented on #383
@atelomycterus No I didn't observe that error in Production or Dev with for myself or the test users.

[2021-03-03 10:55] atelomycterus commented on #452
@jmgasper I've tested it in DEV/PROD  but I couldn't reproduce it.

[2021-03-03 10:58] atelomycterus commented on #383
@sdgun Thanks for info! I am trying to reproduce #452 in DEV/PROD. It works as expected, no issues.

[2021-03-03 12:47] atelomycterus commented on #408
@jmgasper Please apply PR- https://github.com/topcoder-platform/forums/pull/457. Thanks!

[2021-03-03 21:36] #452 closed

[2021-03-03 21:37] jmgasper commented on #452
Payment task has been updated: https://www.topcoder.com/challenges/893c175e-4f16-46eb-833e-ecf16ab75b80
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `893c175e-4f16-46eb-833e-ecf16ab75b80` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-03 22:30] #408 closed

[2021-03-03 22:31] jmgasper commented on #408
Payment task has been updated: https://www.topcoder.com/challenges/6abdfdb2-e24c-438c-afe1-d60a7ce7de54
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `6abdfdb2-e24c-438c-afe1-d60a7ce7de54` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-05 03:45] jmgasper opened #458 "[$50] Prod - can't delete discussion"
@atelomycterus - We're running into a problem on prod.

There was a spam post added that we want to delete, but no one seems to be able to.  All permissions look fine for the admins, but it still gives us a 403, which is strange.  We've tried clearing cache, logging out / in, and nothing seems to help.

<img width="1552" alt="Screen Shot 2021-03-05 at 2 44 10 pm" src="https://user-images.githubuse

[2021-03-05 03:45] jmgasper commented on #458
Challenge https://www.topcoder.com/challenges/5adcc53a-e371-4508-809c-335189a1584e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-05 03:45] jmgasper commented on #458
Challenge https://www.topcoder.com/challenges/5adcc53a-e371-4508-809c-335189a1584e has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-05 06:40] atelomycterus commented on #458
@jmgasper I've tested it in DEV and got the same error but I can delete discussions using REST API ('/discussions/{id}'):
![image](https://user-images.githubusercontent.com/10196632/110074689-b0cf3980-7d92-11eb-8c70-6a54a01101e7.png)

After deleting if you go to the discussion then the message should be displayed:
![image](https://user-images.githubusercontent.com/10196632/110074500-5d5ceb80-7d92-

[2021-03-05 06:49] atelomycterus commented on #458
@jmgasper DiscussionID is shown in URL ☝️
![image](https://user-images.githubusercontent.com/10196632/110077881-f6dacc00-7d97-11eb-9110-09c1a711aaaf.png)

[2021-03-05 17:49] hokienick opened #459 "[$50] Login Redirect not going back to forum"
If I am not logged in and reading a forum, click login, and fill out  my credentials, it should send me right back to the forum I was reading.  Currently that is not the case as it is redirecting me to the forums home.

[2021-03-05 17:59] jmgasper commented on #459
@hokienick - We'll fix this in the next shapeup.  Can't do it now because I don't think we have an open billing account.

[2021-03-05 18:34] atelomycterus commented on #459
@jmgasper We've fixed it (https://github.com/topcoder-platform/forums/issues/352).  It has not been configured in PROD. Fixed.

[2021-03-05 19:30] atelomycterus commented on #458
@jmgasper  The issue was caused by 'target' query param. Please apply PR-https://github.com/topcoder-platform/forums/pull/460 and I'll test it. Thanks.

[2021-03-05 19:32] atelomycterus commented on #458
Before  deploying PR in DEV:
Author or any users with 'Vanilla,Discussions.Delete' can't delete  discussions
![image](https://user-images.githubusercontent.com/10196632/110164616-a77db580-7e02-11eb-9520-fe03c9a1c618.png)

[2021-03-06 01:14] jmgasper commented on #458
@atelomycterus - Done, deploying now, thanks.

[2021-03-06 06:35] atelomycterus commented on #458
@jmgasper Verified in DEV. It works as expected.

![image](https://user-images.githubusercontent.com/10196632/110197672-4aafe880-7e5e-11eb-8d59-6d4fa7d68498.png)

After deleting a discussion:
![image](https://user-images.githubusercontent.com/10196632/110197687-5dc2b880-7e5e-11eb-84c8-30bed18f6546.png)

Using a discussion link:
![image](https://user-images.githubusercontent.com/10196632/110197693-

[2021-03-07 00:57] jmgasper commented on #459
Challenge https://www.topcoder.com/challenges/eff0a5eb-34d3-4ad8-9e6d-4846f54fa395 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-07 00:57] jmgasper commented on #459
Challenge https://www.topcoder.com/challenges/eff0a5eb-34d3-4ad8-9e6d-4846f54fa395 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-07 00:57] jmgasper commented on #458
Payment task has been updated: https://www.topcoder.com/challenges/5adcc53a-e371-4508-809c-335189a1584e
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `5adcc53a-e371-4508-809c-335189a1584e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-07 00:57] #458 closed

[2021-03-07 00:57] #459 closed

[2021-03-07 00:58] jmgasper commented on #459
Payment task has been updated: https://www.topcoder.com/challenges/eff0a5eb-34d3-4ad8-9e6d-4846f54fa395
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `eff0a5eb-34d3-4ad8-9e6d-4846f54fa395` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-08 04:54] sdgun commented on #408
Verified in both IOS and Android in Dev.

[2021-03-08 06:06] sdgun commented on #458
Verified in Dev from Admin.

[2021-03-10 15:45] rootelement opened #461 "Delete Discussion isn't working - 403"
This forum post was made in error:
https://discussions.topcoder.com/discussion/3659/copilot-onboarding-draft-a-challenge-completion

When we click the 3 dots to delete, We're getting a 403 error.
![Screen Shot 2021-03-10 at 10 41 34 AM](https://user-images.githubusercontent.com/5400156/110655889-75b37880-818d-11eb-8504-d32cf3e59ca6.png)

![Screen Shot 2021-03-10 at 10 42 16 AM](https://user-images

[2021-03-10 16:00] atelomycterus commented on #461
@rootelement We've fixed it - https://github.com/topcoder-platform/forums/issues/458.

[2021-03-11 07:08] sdgun opened #462 "When New indicator is there, the comments/views are not aligned properly in Firefox"
Steps
Log in to forums from Firefox
Go to a category with unread comments

When New indicator is there, the comments/views are not aligned properly in Firefox

![image](https://user-images.githubusercontent.com/4592712/110749037-91d71880-8266-11eb-816e-9cc081b24ee7.png)

Browser - Firefox 85.0.2

[2021-03-16 04:45] sdgun commented on #421
Verified in production, the Forums in footer is opening https://discussions.topcoder.com/

[2021-03-16 04:50] sdgun commented on #427
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/111257503-40050880-8641-11eb-99b0-ff42273d6ab6.png)

[2021-03-16 04:51] sdgun commented on #433
Verified in production.

[2021-03-16 04:57] sdgun commented on #434
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/111258060-3e881000-8642-11eb-98d1-9aee0aaf7ec5.png)

[2021-03-16 05:24] sdgun commented on #381
Verified in production, didn't observe a slowness.

[2021-03-16 05:25] sdgun commented on #414
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/111260034-1dc1b980-8646-11eb-8a62-7920d29e20ea.png)

[2021-03-16 05:31] sdgun commented on #430
Verified in production.

https://user-images.githubusercontent.com/4592712/111260532-00411f80-8647-11eb-933c-7915ea99ef80.mp4

[2021-03-16 05:37] sdgun commented on #459
Verified in production.

https://user-images.githubusercontent.com/4592712/111260980-c02e6c80-8647-11eb-88c8-8066ae9da3ce.mp4

[2021-03-16 05:49] lakshmiathreya commented on #444
![Uploading Screenshot 2021-03-16 at 11.18.11 AM.png…]()

[2021-03-16 05:50] lakshmiathreya commented on #444
<img width="1680" alt="Screenshot 2021-03-16 at 11 18 44 AM" src="https://user-images.githubusercontent.com/51733042/111262014-76468600-8649-11eb-87b4-f65b6f4fdb8f.png">

[2021-03-16 05:53] jmgasper commented on #444
@lakshmiathreya - Not sure what we're supposed to be noting in that screenshot, but some text would help, thanks.  Seems like it's working, from what I can tell?

<img width="841" alt="Screen_Shot_2021-03-16_at_4_52_27_pm" src="https://user-images.githubusercontent.com/21790/111262262-11565480-8678-11eb-9ca2-4fb7a360cd07.png">

[2021-03-16 05:57] sdgun commented on #444
@jmgasper Verified in production as shown in the above screenshots, this issue is fixed.

[2021-03-16 05:58] lakshmiathreya commented on #458
<img width="1680" alt="Screenshot 2021-03-16 at 11 26 43 AM" src="https://user-images.githubusercontent.com/51733042/111262657-9fb3e180-864a-11eb-9c7a-19f9411361af.png">
<img width="1680" alt="Screenshot 2021-03-16 at 11 27 20 AM" src="https://user-images.githubusercontent.com/51733042/111262666-a3dfff00-864a-11eb-8361-b47285f441d9.png">

[2021-03-16 06:00] lakshmiathreya commented on #458
@sdgun pls review my Prod screenshots and close ...

[2021-03-16 06:02] sdgun commented on #449
Verified using the link from another user and also invitation expiry after 20 minutes. Works as expected.

[2021-03-16 06:06] sdgun commented on #458
Verified the screenshots.

[2021-03-16 06:21] sdgun opened #464 "[$30] Receiving email notifications when watch status is set to un-watch in a discussion(Roundtables)"
**Steps**
Created the below discussion in production by login in from 'sdgun' account
Set the watch status of the discussion to 'watching'
Then changed it back to not watching
Logged in from CustomerUser and added a comment to the discussion

Expected result
sdgun user should not receive a notification

Actual result
Email notifications are received

Note: This behavior is only there in prod

http

[2021-03-16 07:27] sdgun commented on #422
Verified in production.

[2021-03-16 07:58] jmgasper commented on #464
@atelomycterus - Any thoughts on this one?

[2021-03-16 07:58] jmgasper commented on #464
Challenge https://www.topcoder.com/challenges/ed3df69d-ed8e-43d1-995c-01cdcadd5e5a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 07:58] jmgasper commented on #464
Challenge https://www.topcoder.com/challenges/ed3df69d-ed8e-43d1-995c-01cdcadd5e5a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 08:02] lakshmiathreya commented on #409
<img width="1680" alt="Screenshot 2021-03-16 at 1 31 06 PM" src="https://user-images.githubusercontent.com/51733042/111275291-055c9980-865c-11eb-8381-1fb3760f0533.png">

[2021-03-16 08:02] lakshmiathreya commented on #409
@sdgun Pls update the Issue as Pass ...

[2021-03-16 08:07] sdgun opened #465 "[$25] My profile on the header is opening an error page"
**Steps**
Go to Forums
Click Community link on the header
Click My profile

Opening the below error page

![image](https://user-images.githubusercontent.com/4592712/111275819-959ade80-865c-11eb-9448-db8959cdaa66.png)

[2021-03-16 08:12] jmgasper commented on #465
Challenge https://www.topcoder.com/challenges/cb3e24af-376a-4656-9d57-7d2e0eac212f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 08:12] jmgasper commented on #465
Challenge https://www.topcoder.com/challenges/cb3e24af-376a-4656-9d57-7d2e0eac212f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 08:26] sdgun commented on #408
Verified in production.

[2021-03-16 08:30] sdgun commented on #445
Verified in production.

[2021-03-16 08:32] sdgun commented on #419
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/111279035-45be1680-8660-11eb-9ab3-81d8f9ae0b50.png)

[2021-03-16 08:41] sdgun commented on #406
Verified in production, the New discussion button is not available parent category level.

[2021-03-16 08:44] jmgasper opened #466 "Admins still black in production"
@atelomycterus - After the deploy, we still have a couple admins that are showing as black handles instead of orange, even though they have "Connect Manager" roles.  It looks like that `IsAdmin` flag may be cached in Vanilla - do we need to do anything there to refresh the flag to show those properly as orange?

[2021-03-16 08:48] sdgun commented on #424
@jmgasper Looks like we have not move/deleted the discussions in production, the counts still don't tally in General roundtable.

[2021-03-16 08:50] sdgun commented on #451
The issue is still there with those admin users in production.

[2021-03-16 08:52] jmgasper commented on #424
@atelomycterus ☝️

[2021-03-16 08:53] sdgun commented on #415
Verified in production.

[2021-03-16 08:56] sdgun commented on #439
Verified in production.

[2021-03-16 10:45] atelomycterus commented on #424
@jmgasper @sdgun Yes, correct.  The discussions have not be moved/deleted in PROD.

[2021-03-16 11:42] lakshmiathreya commented on #438
Verified in Prod :
<img width="1680" alt="Screenshot 2021-03-16 at 5 11 05 PM" src="https://user-images.githubusercontent.com/51733042/111303597-b3773c00-867a-11eb-829b-be5246cad88d.png">

[2021-03-16 13:44] atelomycterus commented on #466
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/66/. In https://github.com/topcoder-platform/forums/issues/451 I tested mentions, but  I did not notice that it didn't not work in another case (user creates a comment/discussion). Sorry about that. Fixed.

I see your commit (https://github.com/topcoder-platform/forums-plugins/commit/72470e8e7801fa68924c99027d972b34

[2021-03-16 13:50] atelomycterus commented on #451
@sdgun Yes, the issue exists. I've fixed it in https://github.com/topcoder-platform/forums/issues/466. We've tested topcoder handles in mentions but topcoder admins are shown in black if he/she creates discussion/comment.
For example in DEV:
![image](https://user-images.githubusercontent.com/10196632/111319984-98ef9380-8677-11eb-9579-f936c6b428d6.png)

[2021-03-16 14:07] atelomycterus commented on #424
@jmgasper @sdgun I've fixed it in PROD.

https://discussions.topcoder.com/discussion/1136 - a test discussion , deleted
https://discussions.topcoder.com/discussion/1166 => Moved to  Home › Roundtables › General › New Here & Getting Started
https://discussions.topcoder.com/discussion/1272 => Moved to Home › Roundtables › General › New Here & Getting Started
https://discussions.topcoder.com/discussi

[2021-03-16 14:53] atelomycterus commented on #465
@jmgasper The link was fixed. Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/28.  Thanks!

[2021-03-16 15:04] atelomycterus opened #467 "[$30] The Community menu should be different for guests/signed-in users"
@jmgasper I found another issue in PROD/DEV. The community menu should be different for guests/signed-in users. The issue has existed since the first design prototype:
![image](https://user-images.githubusercontent.com/10196632/111330125-bb39df00-8680-11eb-914e-65536db72098.png)

`Overview` and `How it works` are displayed for Guests on https://www.topcoder.com/community. I've fixed it in Vanilla.

[2021-03-16 18:10] atelomycterus commented on #464
@jmgasper @sdgun  You received emails because the discussion had been bookmarked.
After adding a new comment the next groups of users are notified (if user should have discussion view permission + email notification preferences is set) ( from 'vanilla/applications/vanilla/models/class.commentmodel.php'):

 - users have bookmarked the discussion
 - mentioned users
 - author (InsertUserID)
 - users

[2021-03-16 20:11] jmgasper commented on #466
Yeah, that was just me trying something.  Obviously wrong on my part and it was backed out :)

[2021-03-16 20:41] #464 closed

[2021-03-16 20:41] jmgasper commented on #467
Challenge https://www.topcoder.com/challenges/749da520-918b-41f5-b0df-7cb2358372d2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 20:41] jmgasper commented on #467
Challenge https://www.topcoder.com/challenges/749da520-918b-41f5-b0df-7cb2358372d2 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 20:42] jmgasper commented on #464
Payment task has been updated: https://www.topcoder.com/challenges/ed3df69d-ed8e-43d1-995c-01cdcadd5e5a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ed3df69d-ed8e-43d1-995c-01cdcadd5e5a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 20:42] #467 closed

[2021-03-16 20:42] jmgasper commented on #424
@sdgun - Can you verify please?

[2021-03-16 20:43] jmgasper commented on #467
Payment task has been updated: https://www.topcoder.com/challenges/749da520-918b-41f5-b0df-7cb2358372d2
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `749da520-918b-41f5-b0df-7cb2358372d2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 20:43] #465 closed

[2021-03-16 20:44] jmgasper commented on #465
Payment task has been updated: https://www.topcoder.com/challenges/cb3e24af-376a-4656-9d57-7d2e0eac212f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `cb3e24af-376a-4656-9d57-7d2e0eac212f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 21:44] jmgasper opened #468 "[$100] Prod - permission issue debugging"
As discussed via email, debugging permission issues.

[2021-03-16 21:44] jmgasper commented on #468
Challenge https://www.topcoder.com/challenges/38acefad-3b38-482e-95cc-f57ff100948f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 21:44] jmgasper commented on #468
Challenge https://www.topcoder.com/challenges/38acefad-3b38-482e-95cc-f57ff100948f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 00:13] jmgasper opened #469 "[$75] Add API to unarchive an archived group"
@atelomycterus - A couple minor tweaks to the groups / archive stuff:

1.  When returning groups in the API, can we now include the archive flag for that group (true / false)
2. Can we add an endpoint to unarchive a group that had previously been archived (or just tweak the current archive endpoint to allow us to set this true /false)

[2021-03-17 00:13] jmgasper commented on #469
Challenge https://www.topcoder.com/challenges/27cc8d86-a9fa-4982-b9b6-a698d1207097 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 00:13] jmgasper commented on #469
@sdgun - This one won't be testable directly - it'll be for admin functionality through the admin app.

[2021-03-17 00:13] jmgasper commented on #469
Challenge https://www.topcoder.com/challenges/27cc8d86-a9fa-4982-b9b6-a698d1207097 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 01:44] jmgasper commented on #468
@atelomycterus  - Another issue, potentially related.  A few folks saw the refresh / authorise URL as incorrect, which may be the cause of the issue:

ok, now i’m seeing it in incognito
https://authorize/?client_id=...&scope=openid%20profile%20email&response_type=code&response_mode=web_message&state=...&nonce=...&redirect_uri=https%3A%2F%2Faccounts-auth0.topcoder.com&code_challenge=Briqu_INRZu2MNa

[2021-03-17 01:45] jmgasper opened #470 "[$100] Clear memcache on deploy"
@atelomycterus - Can we update the deploy script to clear the memcache on a deploy, just to ensure that the cache doesn't cause issues?

[2021-03-17 01:45] jmgasper commented on #470
Challenge https://www.topcoder.com/challenges/64b03050-3cb5-4453-bce4-839575348e76 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 03:14] sdgun commented on #465
Verified in Dev, it's opening the production profile page . @jmgasper Are we ok, or should it open the dev profile page?

https://user-images.githubusercontent.com/4592712/111409401-e3ffba00-86fc-11eb-8e8b-806fb1e87936.mp4

[2021-03-17 03:29] sdgun commented on #467
Verified in Dev, the guests see:

![image](https://user-images.githubusercontent.com/4592712/111410570-009cf180-86ff-11eb-89f3-be574701f815.png)

[2021-03-17 03:52] sdgun commented on #424
Verified in production, the discussion/comment counts tally.

[2021-03-17 03:54] jmgasper commented on #465
Production is fine, thanks.

[2021-03-17 03:56] jmgasper commented on #424
@atelomycterus - I'll log a separate ticket for the cleanup work, thanks.

[2021-03-17 03:56] #424 closed

[2021-03-17 03:56] jmgasper opened #471 "[$40] Additional cleanup for 424"
Additional cleanup for: https://github.com/topcoder-platform/forums/issues/424

[2021-03-17 03:56] jmgasper commented on #471
Challenge https://www.topcoder.com/challenges/da1de341-f669-428d-ae12-104fcea9e850 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 03:56] jmgasper commented on #471
Challenge https://www.topcoder.com/challenges/da1de341-f669-428d-ae12-104fcea9e850 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 03:57] #471 closed

[2021-03-17 03:57] sdgun commented on #466
Verified https://vanilla.topcoder-dev.com/discussion/4159/test-connect-manager-created-by-tcconmanager in Dev and the handle is displayed in orange

![image](https://user-images.githubusercontent.com/4592712/111412735-00065a00-8703-11eb-9822-883ed95db05a.png)

[2021-03-17 03:57] jmgasper commented on #471
Payment task has been updated: https://www.topcoder.com/challenges/da1de341-f669-428d-ae12-104fcea9e850
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `da1de341-f669-428d-ae12-104fcea9e850` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 03:59] #461 closed

[2021-03-17 04:21] sdgun commented on #467
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/111414680-650f7f00-8706-11eb-9eee-4fb2c9f5fb63.png)

[2021-03-17 04:25] sdgun commented on #465
Verified in production, this issue is fixed.

https://user-images.githubusercontent.com/4592712/111414882-cd5e6080-8706-11eb-8651-c3b4d0fc42ea.mp4

[2021-03-17 05:30] sdgun commented on #466
Verified in production, this issue is fixed.

![image](https://user-images.githubusercontent.com/4592712/111419699-eae3f800-870f-11eb-8a38-863107e3b58c.png)

![image](https://user-images.githubusercontent.com/4592712/111419738-fd5e3180-870f-11eb-8136-965560ab9869.png)

[2021-03-17 06:06] lakshmiathreya commented on #466
@sdgun this prompted a hotfix - which means it should have the highest priority label P0... cc @SathyaJayabal

[2021-03-17 06:22] #466 closed

[2021-03-17 06:26] lakshmiathreya commented on #465
@sdgun this should be a P0. cc @SathyaJayabal

[2021-03-17 18:32] atelomycterus commented on #468
@jmgasper
1.  "https://authorize?" issue
I’m seeing it in the default mode.  The bug exists  in auth0-spa-js , not Vanilla. The authorize url is extracted from jwt token. If the token is not found then the url is invalid, the domain  (issuer host) is missing.
How to reproduce it : sign in Vanilla, then open a new window and log out, go to the first window and you should see the invalid authorize u

[2021-03-17 19:19] atelomycterus commented on #469
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-groups-plugin/pull/66. Thanks!

1. It has been implemented:
![image](https://user-images.githubusercontent.com/10196632/111524719-d46c8980-876d-11eb-9596-ced05bdf4f0f.png)

Converted array keys to CamelCase for standard API output.
![image](https://user-images.githubusercontent.com/10196632/111524786-e9e1b380-876d-11eb-9876-0eae

[2021-03-17 19:20] jmgasper commented on #470
Challenge https://www.topcoder.com/challenges/64b03050-3cb5-4453-bce4-839575348e76 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 19:55] jmgasper commented on #468
@rootelement ☝️ Has anything changed with Auth0 recently?

[2021-03-17 19:56] #469 closed

[2021-03-17 19:57] jmgasper commented on #469
Payment task has been updated: https://www.topcoder.com/challenges/27cc8d86-a9fa-4982-b9b6-a698d1207097
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `27cc8d86-a9fa-4982-b9b6-a698d1207097` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-17 19:57] atelomycterus commented on #468
@rootelement @jmgasper I noticed it a couple of months ago.

[2021-03-18 15:15] rootelement commented on #468
@sachin-maheshwari @mtwomey has anything changed in auth0 that would cause this issue?

[2021-03-18 20:07] atelomycterus commented on #470
@jmgasper Implemented. Please apply PR- https://github.com/topcoder-platform/forums/pull/472. Thanks!

'webdevops/php-apache' image uses Supervisord. Supervisord is a lightweight daemon which starts and monitor other programs. It's used to run more than one task in a docker container (eg. PHP-FPM, Apache and so on). I added flush_cache.sh.
This script has the highest priority and starts automatica

[2021-03-18 20:58] #470 closed

[2021-03-18 20:58] #468 closed

[2021-03-18 20:58] jmgasper commented on #470
Payment task has been updated: https://www.topcoder.com/challenges/64b03050-3cb5-4453-bce4-839575348e76
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `64b03050-3cb5-4453-bce4-839575348e76` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-18 20:59] jmgasper commented on #468
Payment task has been updated: https://www.topcoder.com/challenges/38acefad-3b38-482e-95cc-f57ff100948f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `38acefad-3b38-482e-95cc-f57ff100948f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-18 20:59] atelomycterus opened #473 "Notes: Archived categories"
@jmgasper  I've checked how Vanilla works with archived categories.  Groups plugin doesn't show archived groups but archived categories are displayed in Vanilla and users can post discussions/comments.

![image](https://user-images.githubusercontent.com/10196632/111695214-e7518d80-8843-11eb-807d-bea079ac9aaa.png)

From the official documents (https://success.vanillaforums.com/kb/articles/8-categor

[2021-03-18 21:03] atelomycterus commented on #468
@jmgasper Please ping me when PROD is deployed with https://github.com/topcoder-platform/forums-plugins/pull/68.  I'll verify it. If everything is ok with the permissions, then most likely there is an issue with a token.

[2021-03-18 23:01] jmgasper commented on #473
@atelomycterus - Thanks for that.  We're working on archiving all old challenges, hopefully today.  I wrote a little script to do that by pulling all groups and then checking the status of the corresponding challenge on the Topcoder v5 API.

[2021-03-23 06:31] jmgasper commented on #473
@atelomycterus - I'm running the archive script in prod now, just so you're aware.  It will archive 40-50% of groups on the prod deployment.

[2021-03-23 06:34] jmgasper opened #474 "[$400] Challenge Forum Processor - Archive flow"
@atelomycterus - With the challenge forum processor, we are going to only have groups "unarchived" when the corresponding challenge is active.

These are the changes we're thinking:

1.  When a challenge is initially created (status=`New`), we'll have the group as `archived=true`)
2. When a challenge transitions to status=`Active`, we'll have the group as `archived=false`)
3. When the challenge co

[2021-03-23 06:34] jmgasper commented on #474
Challenge https://www.topcoder.com/challenges/7819a5cf-5ee8-460f-ac45-7d05f44b6829 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:34] jmgasper commented on #474
Challenge https://www.topcoder.com/challenges/7819a5cf-5ee8-460f-ac45-7d05f44b6829 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:41] jmgasper opened #475 "[$600] New feature for up / down votes on posts"
<img width="157" alt="Screen Shot 2021-03-23 at 5 40 50 pm" src="https://user-images.githubusercontent.com/21790/112104155-eb442d80-8bfe-11eb-9c8d-32a91c6bd2ea.png">

@atelomycterus - Topcoder used to have up / down voting on comments, in the old forums.  They'd like to have the same functionality in this new forum, where members / copilots / admins can up / down vote a comment.

The goal is to de

[2021-03-23 06:41] jmgasper commented on #475
Challenge https://www.topcoder.com/challenges/7436b62f-63c3-4d39-90bc-d92539b37049 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:41] jmgasper commented on #475
Challenge https://www.topcoder.com/challenges/7436b62f-63c3-4d39-90bc-d92539b37049 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:43] jmgasper opened #476 "[$100] Challenge discussion roles"
### Example:

<img width="245" alt="Screen Shot 2021-03-23 at 5 44 20 pm" src="https://user-images.githubusercontent.com/21790/112104515-69a0cf80-8bff-11eb-97d4-9b2a25b512a0.png">

### Requirements

From Topcoder:

Confusing when someone posting has 5 roles attached to their handle.  Update to only display one role.
-We only want to keep/show Copilot and Reviewer roles. Can we remove/hide other ro

[2021-03-23 06:43] jmgasper commented on #476
Challenge https://www.topcoder.com/challenges/9e0b4d14-653f-4f2f-aea9-ce4797357d8f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:43] jmgasper commented on #476
Challenge https://www.topcoder.com/challenges/9e0b4d14-653f-4f2f-aea9-ce4797357d8f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:46] jmgasper opened #477 "[$60] Rename roundtables and challenge discussion"
### Example

<img width="308" alt="Screen Shot 2021-03-23 at 5 46 37 pm" src="https://user-images.githubusercontent.com/21790/112104778-b97f9680-8bff-11eb-878f-2233a1cb245d.png">

### Requirements
From Topcoder:

We would like
1. `Roundtables` to be renamed `Public Forums`
2. `Challenge Discussions` to be renamed `Challenge Forums`

We found during our beta test that multiple members were confused

[2021-03-23 06:46] jmgasper commented on #477
Challenge https://www.topcoder.com/challenges/26f9e71f-920f-4f1e-b076-66590db74a09 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:47] jmgasper commented on #477
Challenge https://www.topcoder.com/challenges/26f9e71f-920f-4f1e-b076-66590db74a09 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:48] jmgasper commented on #456
Challenge https://www.topcoder.com/challenges/f5360804-a209-4f4a-8fd5-303078393700 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:48] jmgasper commented on #456
Challenge https://www.topcoder.com/challenges/f5360804-a209-4f4a-8fd5-303078393700 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:49] jmgasper commented on #395
Challenge https://www.topcoder.com/challenges/40164b94-bd89-4924-bac5-1e0ccb7ee5f7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:49] jmgasper commented on #395
Challenge https://www.topcoder.com/challenges/40164b94-bd89-4924-bac5-1e0ccb7ee5f7 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:52] jmgasper opened #478 "[$50] Add back in sub-category descriptions"
From Topcoder:

We would also like the ability to have short descriptions under each category and subcategories.  This is something that we previously had and helped guide the user.  (i.e. from a ticket we received they did not know what “MVP” was). Take short descriptions from https://apps.topcoder.com/forums/

<img width="471" alt="Screen Shot 2021-03-23 at 5 52 41 pm" src="https://user-images.g

[2021-03-23 06:52] jmgasper commented on #478
Challenge https://www.topcoder.com/challenges/163cb4ea-3d92-4624-81c6-2e77a0fcd1da has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:52] jmgasper commented on #478
Challenge https://www.topcoder.com/challenges/163cb4ea-3d92-4624-81c6-2e77a0fcd1da has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:55] jmgasper opened #479 "[$400] Watch functionality change"
From Topcoder:

### Issue 1
A few things we noticed from some of the tickets we received about this particular topic.  Once again we have the triple dots and only one option.  When you click on Watch nothing happens.  You don’t notice a change until you click the three dots again and realize it now says “unwatch”.

<img width="598" alt="Screen Shot 2021-03-23 at 5 54 15 pm" src="https://user-image

[2021-03-23 06:55] jmgasper commented on #479
Challenge https://www.topcoder.com/challenges/b27236ad-f253-4255-98d5-30112e167917 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:55] jmgasper commented on #479
Challenge https://www.topcoder.com/challenges/b27236ad-f253-4255-98d5-30112e167917 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:57] jmgasper opened #480 "[$30] Disable clickable dates"
From Topcoder:

Similar to how dates are in Thread Listings, all other areas where dates are presented should not be hyperlinked.  We found some confusion surrounding this, especially when they clicked a date related to a Challenge Discussion that they did not have the permission to view and throwing an error.

<img width="627" alt="Screen_Shot_2021-03-23_at_5_56_42_pm" src="https://user-images.gi

[2021-03-23 06:57] jmgasper commented on #480
Challenge https://www.topcoder.com/challenges/2d222992-b80a-42fc-81ae-9ecff45b4d73 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:57] jmgasper commented on #480
Challenge https://www.topcoder.com/challenges/2d222992-b80a-42fc-81ae-9ecff45b4d73 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:28] jmgasper opened #481 "[$30] Author redundancy"
Currently, when you edit the comment it mentions the author edited their own comment, which should always be the case.
<img width="621" alt="Screen_Shot_2021-03-23_at_6_28_15_pm" src="https://user-images.githubusercontent.com/21790/112109352-90620480-8c05-11eb-9249-6a84a8fe1f2e.png">
### Expected behaviour:

Remove `by <author>`

[2021-03-23 07:28] jmgasper commented on #481
Challenge https://www.topcoder.com/challenges/54be3fe3-1e24-43fc-85b5-ca89b6c649c7 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:37] jmgasper opened #482 "[$30] Search button change"
Currently, the search icon seems to look disabled upon first look and even when typing

### Currently
<img width="418" alt="Screen Shot 2021-03-23 at 6 29 53 pm" src="https://user-images.githubusercontent.com/21790/112109489-c43d2a00-8c05-11eb-8094-581f75dc4b29.png">

### Expected
<img width="338" alt="Screen Shot 2021-03-23 at 6 30 10 pm" src="https://user-images.githubusercontent.com/21790/11210

[2021-03-23 07:37] jmgasper commented on #482
Challenge https://www.topcoder.com/challenges/530a13ea-7e7f-413b-b8fd-755653f5ba76 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:37] jmgasper commented on #482
Challenge https://www.topcoder.com/challenges/530a13ea-7e7f-413b-b8fd-755653f5ba76 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:38] jmgasper commented on #481
Challenge https://www.topcoder.com/challenges/54be3fe3-1e24-43fc-85b5-ca89b6c649c7 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:40] jmgasper opened #483 "[$50] Empty message change"
### Current

Current behavior: when a member tries to post something without any content, they receive a “Body is required” message. Doesn’t make much sense to the members.

<img width="518" alt="Screen Shot 2021-03-23 at 6 40 27 pm" src="https://user-images.githubusercontent.com/21790/112110594-3d894c80-8c07-11eb-8fcc-bb0b843cfa49.png">

### Expected

UPDATE error message to `Cannot post an empty

[2021-03-23 07:40] jmgasper commented on #483
Challenge https://www.topcoder.com/challenges/f9aa7ade-18fb-404a-b62e-a43faf1042dc has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:40] jmgasper commented on #483
Challenge https://www.topcoder.com/challenges/f9aa7ade-18fb-404a-b62e-a43faf1042dc has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:43] jmgasper opened #484 "[$50] Update character text limit display"
### Current
<img width="886" alt="Screen_Shot_2021-03-23_at_6_42_55_pm" src="https://user-images.githubusercontent.com/21790/112110888-9eb12000-8c07-11eb-94fb-c12d70135345.png">

### Expected

<img width="921" alt="Screen_Shot_2021-03-23_at_6_42_10_pm" src="https://user-images.githubusercontent.com/21790/112110840-8f31d700-8c07-11eb-8467-74d6d225dfa9.png">

[2021-03-23 07:43] jmgasper commented on #484
Challenge https://www.topcoder.com/challenges/e83900f3-d28d-415e-8df8-a9e1e974ea19 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:43] jmgasper commented on #484
Challenge https://www.topcoder.com/challenges/e83900f3-d28d-415e-8df8-a9e1e974ea19 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:45] jmgasper opened #485 "[$30] “New Discussion” Button missing on iPad"
Reported by Topcoder:

Shows up on desktop but not on iPad

<img width="321" alt="Screen Shot 2021-03-23 at 6 45 27 pm" src="https://user-images.githubusercontent.com/21790/112111161-f059aa80-8c07-11eb-8806-50bc584f15d3.png">

[2021-03-23 07:45] jmgasper commented on #485
Challenge https://www.topcoder.com/challenges/904b70a2-eade-4dce-a30d-5a492543700c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:45] jmgasper commented on #485
Challenge https://www.topcoder.com/challenges/904b70a2-eade-4dce-a30d-5a492543700c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:47] jmgasper opened #486 "[$75] Challenge forum processor - double check unregister functionality"
Reported as a bug by Topcoder:

As mentioned in a beta test ticket, currently someone who registers to a challenge and then unregisters, will still receive notifications from that challenge.

We need to make sure that if a user unregisters, that the corresponding Kafka message is handled accordingly and the user is removed from the group and all watches on that group are removed.

[2021-03-23 07:47] jmgasper commented on #486
Challenge https://www.topcoder.com/challenges/f758671a-47f8-46d4-9cea-593850c80ea4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:47] jmgasper commented on #486
Challenge https://www.topcoder.com/challenges/f758671a-47f8-46d4-9cea-593850c80ea4 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:54] jmgasper opened #487 "[$500] Home page redesign"
From Topcoder:

The following page/design should appear when hitting the url: https://discussions.topcoder.com/ and be considered “Home”.

We would like our forums grouping to be interacted with similar to this website example.

<img width="455" alt="Screen Shot 2021-03-23 at 6 47 56 pm" src="https://user-images.githubusercontent.com/21790/112111434-49c1d980-8c08-11eb-82a9-4dae13d6efea.png">

###

[2021-03-23 07:54] jmgasper commented on #487
Challenge https://www.topcoder.com/challenges/a585114e-26fe-4cee-83e9-c104eb82cca0 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 07:54] jmgasper commented on #487
Challenge https://www.topcoder.com/challenges/a585114e-26fe-4cee-83e9-c104eb82cca0 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 08:00] jmgasper opened #488 "[$400] Reply / threaded view options"
This ticket will cover changing the `Reply` functionality.

### Reply
If a user "replies" to a comment, it should be displayed in the threaded view as indented underneath that comment, down to some maximum depth (whatever makes sense)

<img width="951" alt="Screen Shot 2021-03-23 at 6 58 55 pm" src="https://user-images.githubusercontent.com/21790/112112582-d15c1800-8c09-11eb-9091-cd1fc73c94ae.png"

[2021-03-23 08:01] jmgasper commented on #488
Challenge https://www.topcoder.com/challenges/91b0d3b3-8c03-4a88-9010-dd7ac7c6625a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 08:01] jmgasper commented on #488
Challenge https://www.topcoder.com/challenges/91b0d3b3-8c03-4a88-9010-dd7ac7c6625a has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 17:29] atelomycterus commented on #474
@jmgasper Implemented. More notes about challenge statuses below.  Please apply PRs:
- https://github.com/topcoder-platform/challenge-forum-processor/pull/55
- https://github.com/topcoder-platform/forums/pull/489
- https://github.com/topcoder-platform/forums-groups-plugin/pull/67

Thanks!

I've looked at Topocder `challenge-api`. It posts events to the 'challenge.notification.create' topic for any

[2021-03-23 21:36] jmgasper opened #490 "[$200] Move "Edit" to comment block"
@atelomycterus - We're going to move the `Edit` functionality *out* of the 3 dot menu and into the comment block:

<img width="914" alt="Screen_Shot_2021-03-24_at_8_28_21_am" src="https://user-images.githubusercontent.com/21790/112221621-c510a300-8c7b-11eb-9c4e-479704552a28.png">

A couple things:

1.  Ignore `Delete` - normal users won't have that, and admins can still see the 3 dot menu to delet

[2021-03-23 21:36] jmgasper commented on #490
Challenge https://www.topcoder.com/challenges/1a4c20f6-b221-4a90-9f88-2752efbc9740 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 21:36] jmgasper commented on #490
Challenge https://www.topcoder.com/challenges/1a4c20f6-b221-4a90-9f88-2752efbc9740 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 21:38] jmgasper opened #491 "[$250] Fix 'Quote' functionality"
The `Quote` button currently goes to a new page, instead of staying on the existing page.  This ticket will track:

1.  Moving the `Quote` button to the new location:
<img width="914" alt="Screen_Shot_2021-03-24_at_8_28_21_am" src="https://user-images.githubusercontent.com/21790/112221976-39e3dd00-8c7c-11eb-87f4-7b98c4fb0292.png">
2.  Changing the functionality so that it works as it does now (add

[2021-03-23 21:39] jmgasper commented on #491
Challenge https://www.topcoder.com/challenges/0c49f215-f868-449a-bd8f-7046094b27f8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 21:39] jmgasper commented on #491
Challenge https://www.topcoder.com/challenges/0c49f215-f868-449a-bd8f-7046094b27f8 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 22:03] jmgasper commented on #474
@sdgun - For testing this one:

1.  Create a new challenge in WM.  You should be able to open the challenge forum page and see: `Archived: true`
2. Launch the challenge --> You should be able to open the challenge forum page and see: `Archived: false`
3. Close the challenge (delete it, cancel it, complete it) --> You should be able to open the challenge forum page and see: `Archived: true`

I'll w

[2021-03-24 03:57] sdgun commented on #474
@jmgasper WM is still throwing errors, I will check this in some time.

[2021-03-24 10:45] atelomycterus commented on #476
@jmgasper Please apply PRs:
-https://github.com/topcoder-platform/forums-groups-plugin/pull/68

### Testing
![image](https://user-images.githubusercontent.com/10196632/112297223-ae337600-8ca6-11eb-928a-332851179bc0.png)

![image](https://user-images.githubusercontent.com/10196632/112297601-24d07380-8ca7-11eb-8d28-41bb3139a5ad.png)

[2021-03-24 12:24] atelomycterus commented on #477
@jmgasper  Please apply PRs:
https://github.com/topcoder-platform/forums-groups-plugin/pull/69
https://github.com/topcoder-platform/forums/pull/492
Thanks!

### PROD
Need to rename the 'Challenge Discussions' category to 'Challenge Forums' in Settings on PROD:
![image](https://user-images.githubusercontent.com/10196632/112309622-98c54880-8cb4-11eb-8b74-cdcfe4305835.png)

I've renamed it on DEV.

#

[2021-03-24 12:43] atelomycterus commented on #478
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/492. Thanks!

### Testing
If the category description is not empty, it should be displayed:
![image](https://user-images.githubusercontent.com/10196632/112312028-649f5700-8cb7-11eb-8d25-307aaa5ba07f.png)

![image](https://user-images.githubusercontent.com/10196632/112312130-84367f80-8cb7-11eb-8b9c-448eaaf62313.png)

[2021-03-24 13:11] atelomycterus commented on #456
@jmgasper Need your feedback on this issue. I think we need to fix the menu item +  show an Announce popup depends on a discussion announce flag. See the 'Announce/Don't Announce  with a popup' section below.

Also it can be simplified and done in one click, without a popup because  we've removed other options and user can announce a discussion only in the current category. For example, Sink/Dismi

[2021-03-24 13:30] atelomycterus commented on #486
@jmgasper Could you provide more details (Topcoder handle and challenge(s))? I'll check it.
I think a challenge forum processor handles correctly. Related issues -  https://github.com/topcoder-platform/forums/issues/464#issuecomment-800492425.  Probably due to default user settings in Vanilla and special cases when Vanilla keeps sending notifications (user bookmarked a discussion, user created a d

[2021-03-24 17:45] atelomycterus commented on #481
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/492. Thanks. Fixed the same for discussions.

### Testing
Editing comments:
![image](https://user-images.githubusercontent.com/10196632/112358697-a2b17080-8ce1-11eb-845a-7d27cd0f35ea.png)

Discussion edited by Author
![image](https://user-images.githubusercontent.com/10196632/112358757-b066f600-8ce1-11eb-9cd0-060579de6f6f.p

[2021-03-24 21:11] jmgasper commented on #486
@atelomycterus - I'll work on getting details, thanks.

[2021-03-25 01:02] #481 closed

[2021-03-25 01:02] #478 closed

[2021-03-25 01:03] jmgasper commented on #478
Payment task has been updated: https://www.topcoder.com/challenges/163cb4ea-3d92-4624-81c6-2e77a0fcd1da
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `163cb4ea-3d92-4624-81c6-2e77a0fcd1da` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-25 01:03] jmgasper commented on #481
Payment task has been updated: https://www.topcoder.com/challenges/54be3fe3-1e24-43fc-85b5-ca89b6c649c7
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `54be3fe3-1e24-43fc-85b5-ca89b6c649c7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-25 01:04] #477 closed

[2021-03-25 01:05] jmgasper commented on #477
Payment task has been updated: https://www.topcoder.com/challenges/26f9e71f-920f-4f1e-b076-66590db74a09
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `26f9e71f-920f-4f1e-b076-66590db74a09` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-25 01:07] #476 closed

[2021-03-25 01:07] jmgasper commented on #476
Payment task has been updated: https://www.topcoder.com/challenges/9e0b4d14-653f-4f2f-aea9-ce4797357d8f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `9e0b4d14-653f-4f2f-aea9-ce4797357d8f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-25 04:34] sdgun commented on #476
@atelomycterus Is this only applicable to the newly created challenges?

[2021-03-25 05:01] sdgun commented on #477
Verified in Dev, the links are renamed as per the description.

![image](https://user-images.githubusercontent.com/4592712/112421541-3c663580-8d55-11eb-8287-9fb06d9b5b8c.png)

![image](https://user-images.githubusercontent.com/4592712/112421555-42f4ad00-8d55-11eb-8570-082bd0eb68aa.png)

[2021-03-25 05:32] sdgun commented on #478
Verified in Dev by manually adding descriptions to sub categories, the descriptions are displayed under the subcategories.

![image](https://user-images.githubusercontent.com/4592712/112423876-720d1d80-8d59-11eb-8ae5-c84db8b487fe.png)

![image](https://user-images.githubusercontent.com/4592712/112423932-88b37480-8d59-11eb-85da-c9284dda8d37.png)

[2021-03-25 05:47] jmgasper commented on #490
@atelomycterus - Clarification here - admins should be able to `Delete` posts from anyone, but **NOT** edit them.  `Edit` will only be available for the user's own posts, even for admins.

[2021-03-25 06:18] sdgun commented on #481
Verified in Dev, 'By <author>' is removed from the edited comments/discussions.

![image](https://user-images.githubusercontent.com/4592712/112427650-f2cf1800-8d5f-11eb-9f42-041155b19b36.png)

[2021-03-25 06:40] atelomycterus commented on #476
@sdgun  >  Is this only applicable to the newly created challenges?
No. This is also applicable to previously created challenges.

@jmgasper From the requirement: 'Update to only display one role.' What role should be displayed if user has Copilot and Reviewer roles?

[2021-03-25 07:05] sdgun commented on #476
@atelomycterus Not sure why, but I don't see the role in Dev. I have set TCConnCopilot as Reviewer in below challenge.

challenge: https://vanilla.topcoder-dev.com/categories/67e59cc8-0793-46f8-80c1-079db1a107d2

![image](https://user-images.githubusercontent.com/4592712/112432165-7db31100-8d66-11eb-90e9-172b5924ce23.png)

[2021-03-25 09:02] atelomycterus commented on #476
@sdgun The role is displayed. The roles are loaded from Topcoder Api service:
![image](https://user-images.githubusercontent.com/10196632/112446903-bf8d8880-8d61-11eb-8a81-769e6c43bd2f.png)

[2021-03-25 09:21] atelomycterus commented on #395
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/69. Thanks!

### Testing
https://marvelapp.com/prototype/c06bg41/screen/77911793

![image](https://user-images.githubusercontent.com/10196632/112449636-a934fc00-8d64-11eb-873a-fb30c7a57dfe.png)

[2021-03-25 10:00] atelomycterus commented on #480
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/493. Thanks!

[2021-03-25 10:55] #480 closed

[2021-03-25 10:55] jmgasper commented on #480
Payment task has been updated: https://www.topcoder.com/challenges/2d222992-b80a-42fc-81ae-9ecff45b4d73
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `2d222992-b80a-42fc-81ae-9ecff45b4d73` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-25 20:51] atelomycterus commented on #490
@jmgasper

No 3 dot menu for all admins:
![image](https://user-images.githubusercontent.com/10196632/112540173-e9c36280-8dc2-11eb-99b7-fede28322f40.png)

PR:
https://github.com/topcoder-platform/forums/pull/494
https://github.com/topcoder-platform/forums-theme/pull/30
https://github.com/topcoder-platform/forums-plugins/pull/70

### PROD/DEV
'Comments.Edit' permission should be removed from admin r

[2021-03-25 21:07] atelomycterus commented on #490
@jmgasper  This issues is related to comments but you've mentioned discussions as well.  I've checked MarvelApp and 'Edit Discussion' has been moved and it should be displayed after the discussion body (https://marvelapp.com/prototype/c06bg41/screen/77911792). Please let me know if this task is in the scope.
![image](https://user-images.githubusercontent.com/10196632/112542661-e382b580-8dc5-11eb-8

[2021-03-25 21:19] jmgasper commented on #490
@atelomycterus - Yes, please also make that change - I'll bump the payment up here for the extra work.

[2021-03-26 05:14] sdgun commented on #476
@atelomycterus Thanks.

1. In the below challenge even though the user only has copilot role, I can see both Reviewer and copilot roles are shown in Forum

Forum - https://vanilla.topcoder-dev.com/categories/67e59cc8-0793-46f8-80c1-079db1a107d2
Challenge - https://www.topcoder-dev.com/challenges/67e59cc8-0793-46f8-80c1-079db1a107d2
OR - https://software.topcoder-dev.com/review/actions/ViewProjectD

[2021-03-26 05:20] sdgun commented on #480
Verified in comments/discussions in Dev. All dates are not clickable now.

[2021-03-26 05:42] sdgun opened #495 "Alignment issue in Reply and Quote(Firefox)"
**Steps**
Log into Forums from Firefox browser
Go inside a discussion which has comments and check the quote and reply in the bottom right hand corner of the comment

They are not aligned properly in Firefox

![image](https://user-images.githubusercontent.com/4592712/112587704-1491d300-8e24-11eb-99cb-92897b5d0235.png)

[2021-03-26 06:02] sdgun commented on #490
@jmgasper In this ticket the screen shot you have provided has Edit . Delete in the left side and Reply . Quote on the right. But in the latest Marvel app I only see Edit . Quote . Reply on the right. https://marvelapp.com/prototype/c06bg41/screen/77911791

![image](https://user-images.githubusercontent.com/4592712/112589210-bca89b80-8e26-11eb-8d2b-7b9f5c272ede.png)

related slack messages :
https

[2021-03-26 06:20] atelomycterus commented on #490
@sdgun  I've noticed some changes in MarvelApp. Now `Edit` in the right side. MarvelApp was updated today/yesterday.

[2021-03-26 06:27] atelomycterus commented on #495
@sdgun Please clear browser cache:

![image](https://user-images.githubusercontent.com/10196632/112591422-63843c00-8e15-11eb-81ed-884fa04a4e76.png)

[2021-03-26 06:34] sdgun commented on #495
@atelomycterus My bad, it looks good when cache is cleared.

[2021-03-26 06:34] #495 closed

[2021-03-26 06:51] sdgun opened #496 "[$30] Deviations in design vs UI"
Noticed the below in the Marvel app and forums:

Forums: (Threaded/Tree doesn't match the design. The selected view is not bold)
![image](https://user-images.githubusercontent.com/4592712/112708276-094baf80-8ed7-11eb-9d06-9c1d44a46064.png)

Design:
![image](https://user-images.githubusercontent.com/4592712/112593579-b4a02a00-8e2d-11eb-8a18-5a355946cbc4.png)

[2021-03-26 06:54] atelomycterus commented on #476
@jmgasper @sdgun

Challenge - 67e59cc8-0793-46f8-80c1-079db1a107d2.
"TCConnCopilot"  has 3 roles (Observer, Reviewer, Copilot) - This roles are loaded from https://api.topcoder-dev.com/v5/resources?challengeId=67e59cc8-0793-46f8-80c1-079db1a107d2
Role names  are loaded from https://api.topcoder-dev.com/v5/resource-roles:

The roles for `TCConnCopilot`:
[code]

The full response:
[code]

2. I'll fi

[2021-03-26 08:55] atelomycterus commented on #476
@jmgasper These PRs will fix issue-2 (`Also when adding a comment the role is not displayed, need a page refresh for the roles to appear`).
Please apply PRs
https://github.com/topcoder-platform/forums-groups-plugin/pull/71
https://github.com/topcoder-platform/forums-plugins/pull/72

Fixed challenge roles for user photo links:
![image](https://user-images.githubusercontent.com/10196632/112606201-27

[2021-03-26 08:57] jmgasper commented on #476
@atelomycterus - Thanks.  @sdgun - deploying now.

[2021-03-26 20:17] atelomycterus commented on #490
@jmgasper Fixed according to updated MarvelApp screen (https://marvelapp.com/prototype/c06bg41/screen/77911791) including font size and other minor style changes.

PRs:
https://github.com/topcoder-platform/forums-theme/pull/31
https://github.com/topcoder-platform/forums-plugins/pull/73
https://github.com/topcoder-platform/forums-groups-plugin/pull/72
https://github.com/topcoder-platform/forums/pul

[2021-03-26 20:27] atelomycterus commented on #496
@jmgasper There have been minor changes (font size for discussion/comment and others) in Marvel app. I noticed them and fixed in https://github.com/topcoder-platform/forums/issues/490.

[2021-03-27 00:36] jmgasper commented on #490
@atelomycterus - Bumped the payment to deal with the design changes.  I *think* they're done making changes now - anything further will be a separate ticket.

[2021-03-27 01:02] #490 closed

[2021-03-27 01:02] #395 closed

[2021-03-27 01:03] jmgasper commented on #490
Payment task has been updated: https://www.topcoder.com/challenges/1a4c20f6-b221-4a90-9f88-2752efbc9740
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `1a4c20f6-b221-4a90-9f88-2752efbc9740` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-27 01:03] jmgasper commented on #395
Payment task has been updated: https://www.topcoder.com/challenges/40164b94-bd89-4924-bac5-1e0ccb7ee5f7
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `40164b94-bd89-4924-bac5-1e0ccb7ee5f7` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-27 02:49] sdgun opened #498 "In Threaded view the page numbers are not displayed"
**Steps**
Go to a discussion with more than 1 page of comments(ex-https://vanilla.topcoder-dev.com/discussion/3559/perf-2?view=threaded)

Pagination is not there

https://user-images.githubusercontent.com/4592712/112707974-23848e00-8ed5-11eb-9571-dfd3c312b21e.mp4

[2021-03-27 03:03] sdgun commented on #395
Verified in Dev, the selected view was earlier shown in bold, but it's not there anymore. Also raised  https://github.com/topcoder-platform/forums/issues/496

[2021-03-27 03:20] sdgun commented on #496
@atelomycterus Please note that I updated the description of this ticket a bit, we had the selected view bold earlier and it is not there anymore

[2021-03-27 03:24] sdgun opened #499 "[$40] The ellipsis with Edit option in it is shown for the normal user on their discussions"
**Steps**
Go to a discussion created by a normal user(log in as the same user)

The ellipsis is shown for the normal user on their discussions

Ticket https://github.com/topcoder-platform/forums/issues/490 says 'The goal is that there will be no 3 dot menu for normal users. They will see Edit, Quote, and Reply as appropriate.'

![image](https://user-images.githubusercontent.com/4592712/112708783-0

[2021-03-27 04:53] sdgun commented on #490
Verified in Dev.
 - Edit is only available for the author of discussion/comment
 - Delete is available only for the Admin user and three dots available to Admin
 -  Normal users still see the three dots (issue https://github.com/topcoder-platform/forums/issues/499 is created for that)

[2021-03-27 05:03] sdgun commented on #476
@atelomycterus Comments still need to be refreshed to show the roles.(checked after clearing cache)

https://user-images.githubusercontent.com/4592712/112710522-e07fe600-8ee7-11eb-8480-e7010994236b.mp4

[2021-03-27 10:47] atelomycterus commented on #476
@sdgun Thanks, you are right, the issue with new comments. I've fixed it.

@jmgasper Please apply PR - https://github.com/topcoder-platform/forums-plugins/pull/74. This PR will fix challenge roles for new comments. Thanks!

[2021-03-27 10:49] jmgasper commented on #476
Applied - deploying now.

[2021-03-27 11:08] atelomycterus commented on #490
@jmgasper

Thanks, it looks like adding 2-3 links, but in fact it is time consuming because
 - some methods need to be changed so that they can be reused
 - discussion menu is implemented in Vanilla using the Dropdown module
 - comment menu is implemented as an associated array
 - several plugins (Quotes, Reply) listens to certain events and should add new links  for comment/discussion block.  Nee

[2021-03-27 11:28] atelomycterus commented on #496
@sdgun Yes,  the selected view was bold . Now the selected view is regular/normal in Marvel app :

![image](https://user-images.githubusercontent.com/10196632/112719043-b6d6b700-8f07-11eb-970e-8eda5a3c5d41.png)

[2021-03-27 11:35] atelomycterus commented on #498
@sdgun  Now Threaded View is default (https://github.com/topcoder-platform/forums/issues/395). Threaded View doesn't  support paging, all comments are displayed on one page - https://github.com/topcoder-platform/forums/issues/256#issuecomment-738862904

Flat View supports paging.

[2021-03-27 14:07] atelomycterus commented on #488
@jmgasper Here are the slight differences between your screen and the current Marvelapp. For example, `Re: <discussion title> (response to post by <handle>` is displayed in Flat mode only.

### Post links
In Flat mode `Re:<discussion title> (response to <post link> by processor)` is rendered.
Post link is going to
 - a discussion  if user clicked on Reply in discussion block or user just left a co

[2021-03-27 18:37] atelomycterus commented on #482
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-theme/pull/32.

### Testing
Fixed background color and replaced Vanilla icon with Topcoder search icon.  Please clear browser cache before testing.

![image](https://user-images.githubusercontent.com/10196632/112730796-8103f380-8f44-11eb-88ce-243c6ebae58b.png)

![image](https://user-images.githubusercontent.com/10196632/11273078

[2021-03-27 19:07] atelomycterus commented on #485
@jmgasper We don't show `New discussion` on desktop as well. The `Groups` should be used for regular groups only.  Likewise, `Challenge forums` is used for all challenge groups. (https://github.com/topcoder-platform/forums/issues/218#issuecomment-735436264).

In order not to confuse users, we can remove the View permission from `Groups` category temporarily and this category will not be displayed.

[2021-03-27 19:51] atelomycterus commented on #491
@jmgasper Quote functionality is part of the Quote plugin.
![image](https://user-images.githubusercontent.com/10196632/112732234-d262b180-8f49-11eb-9770-2633106aa32c.png)

I've looked at Quotes plugin.  The current page contains html not markdown. So need to fix the plugin's handlers to meet the second requirement.

Keep you updated.

[2021-03-28 00:32] jmgasper opened #501 "[$150] Further payment for 490"
Bad initial estimate on complexity on #490.  This will hopefully make up the difference.

[2021-03-28 00:32] jmgasper commented on #501
Challenge https://www.topcoder.com/challenges/41b46180-e6d3-49d8-88ac-1aa8e8443694 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 00:32] jmgasper commented on #501
Challenge https://www.topcoder.com/challenges/41b46180-e6d3-49d8-88ac-1aa8e8443694 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 00:32] #501 closed

[2021-03-28 00:33] jmgasper commented on #501
Payment task has been updated: https://www.topcoder.com/challenges/41b46180-e6d3-49d8-88ac-1aa8e8443694
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `41b46180-e6d3-49d8-88ac-1aa8e8443694` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 00:36] jmgasper commented on #488
Looks great, thanks!

[2021-03-28 00:48] #488 closed

[2021-03-28 00:49] #482 closed

[2021-03-28 00:49] jmgasper commented on #488
Payment task has been updated: https://www.topcoder.com/challenges/91b0d3b3-8c03-4a88-9010-dd7ac7c6625a
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `91b0d3b3-8c03-4a88-9010-dd7ac7c6625a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 00:50] jmgasper commented on #482
Payment task has been updated: https://www.topcoder.com/challenges/530a13ea-7e7f-413b-b8fd-755653f5ba76
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `530a13ea-7e7f-413b-b8fd-755653f5ba76` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 00:50] jmgasper commented on #485
@atelomycterus - Ah, got it.  I didn't catch that this was for the `Groups` page.  Yeah, let's go ahead and remove the view functionality for now.  In a future shapeup, we're going to make changes to the Groups plugin to make it more useful for Topcoder staff, beyond the challenges, but until then we can hide it, thanks.

[2021-03-28 01:27] jmgasper opened #502 "[$60] Investigate challenge forum processor failing in dev"
@atelomycterus : For some reason, the challenge forum processor is failing in dev, with the log below.  The group and all template posts are created, but it's failing on adding folks to the group.  Has anything changed there recently?

Note that the token used is from `TonyJ` and should have the `Vanilla Admin` role applied.

[code]

[2021-03-28 01:27] jmgasper commented on #502
Challenge https://www.topcoder.com/challenges/294ee0b9-6290-457d-bf09-fc3150d6cece has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 01:27] jmgasper commented on #502
Challenge https://www.topcoder.com/challenges/294ee0b9-6290-457d-bf09-fc3150d6cece has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 01:28] jmgasper commented on #474
@sdgun / @atelomycterus - In dev, something's broken, but I'm not sure what.  Seems like the token we've been using no longer works with adding users to groups, even though the token is for `TonyJ`, who has `Vanilla Admin` access.  I've logged a new ticket here for investigation:  https://github.com/topcoder-platform/forums/issues/502

[2021-03-28 05:17] sdgun commented on #498
@atelomycterus Thanks, A few issues I found, please let me know if you want me to report them separately

1. For anonymous users, Threaded view supports pagination

![image](https://user-images.githubusercontent.com/4592712/112743152-7b44f700-8fb2-11eb-9a6b-338540eb5e28.png)

2. For anonymous users, the comments on the first page of threaded view do not display the text "Re: <discussion title>..."

[2021-03-28 05:27] sdgun commented on #496
@atelomycterus The Marvel app now shows the selected view in '#137D60' color, whereas we show the selected view in black and the other view in '#137d60'

The below is the Marvel app for flat view
https://marvelapp.com/prototype/c06bg41/screen/77911793

[2021-03-28 07:27] sdgun commented on #476
Verified in Dev, this issue is fixed.

[2021-03-28 07:30] sdgun commented on #482
Verified in Dev.

[2021-03-28 10:22] atelomycterus commented on #485
@jmgasper Done. The `Groups` is not displayed for users on PROD/DEV.

[2021-03-28 10:57] atelomycterus commented on #502
@jmgasper In the initial Group plugin, we created groups with `archived= false` by default. We disallowed adding new members to a group with `archived=true` in November, 2020.

Now all groups are created with  `archived=true` by default. So new members can't be added to archived groups.  So the error messages are displayed in logs.

One solution is to allow a group owner add new members even to th

[2021-03-28 11:05] sdgun opened #503 "Better to show the text when user replies a comment/discussion"
**Steps**
Go to a discussion
Click Reply in the discussion or on a comment

The editor is displayed but the text on top of it not in the focus. It will be better to show the text as well

https://user-images.githubusercontent.com/4592712/112750004-8e23ef80-8fe3-11eb-840e-dbb9dedb90cd.mp4

[2021-03-28 11:27] sdgun commented on #488
Verified in public forums/challenge forums comments/discussions and flat/threaded views in Dev.

@atelomycterus  While testing the number of replies, I noticed, it's only possible to reply maximum 9 times. After that even a reply is shown as a comment in the threaded view

https://user-images.githubusercontent.com/4592712/112750466-65512980-8fe6-11eb-9c5c-cbdcf43a3326.mp4

[2021-03-28 13:37] atelomycterus commented on #488
@sdgun Thanks for testing!

There is no limit to the number of replies. This is only about formatting nested comments. I've improved the formatting a bit
because after depth> 9 were displayed incorrectly.

Indent comments  according to their depth,  reduce the indenting after 5 levels and stop indenting any further after 15 levels. Stop indenting after 15 levels because there is little space to di

[2021-03-28 13:44] atelomycterus commented on #498
@sdgun I've fixed views for anonymous in (https://github.com/topcoder-platform/forums/pull/504,
https://github.com/topcoder-platform/forums-plugins/pull/76). If you find new issues, please report them separately. Thanks!

[2021-03-28 18:20] atelomycterus commented on #491
@jmgasper  Please apply PRs:
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/16
https://github.com/topcoder-platform/forums-plugins/pull/76 - set the scroll animations settings as in quotes plugin
https://github.com/topcoder-platform/forums/pull/504

Quotes are added to the beginning of the comment:
![image](https://user-images.githubusercontent.com/10196632/112763012-5fba0

[2021-03-28 21:42] jmgasper commented on #502
@atelomycterus - Yeah, let's make that change, thanks.  We need to add the copilot and managers before the challenge launches.

[2021-03-28 22:28] #498 closed

[2021-03-28 22:29] jmgasper commented on #491
Looks great!

[2021-03-28 22:29] #491 closed

[2021-03-28 22:30] #485 closed

[2021-03-28 22:30] #486 closed

[2021-03-28 22:30] jmgasper commented on #485
Payment task has been updated: https://www.topcoder.com/challenges/904b70a2-eade-4dce-a30d-5a492543700c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `904b70a2-eade-4dce-a30d-5a492543700c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 22:30] jmgasper commented on #491
Payment task has been updated: https://www.topcoder.com/challenges/0c49f215-f868-449a-bd8f-7046094b27f8
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `0c49f215-f868-449a-bd8f-7046094b27f8` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 22:31] jmgasper commented on #486
Payment task has been updated: https://www.topcoder.com/challenges/f758671a-47f8-46d4-9cea-593850c80ea4
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f758671a-47f8-46d4-9cea-593850c80ea4` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 22:32] jmgasper commented on #499
Challenge https://www.topcoder.com/challenges/d2735e7a-bff3-47c8-9d0b-ef19a1cfdfb9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 22:32] jmgasper commented on #499
Challenge https://www.topcoder.com/challenges/d2735e7a-bff3-47c8-9d0b-ef19a1cfdfb9 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 22:32] jmgasper commented on #496
Challenge https://www.topcoder.com/challenges/a0eb5161-dcbc-47e7-b788-2bd83083edb6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 22:32] jmgasper commented on #496
Challenge https://www.topcoder.com/challenges/a0eb5161-dcbc-47e7-b788-2bd83083edb6 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:04] jmgasper opened #505 "[$100] Email changes"
### Currently

When receiving an email notification for a challenge forum, the link inside takes you to an information page about that specific thread.

### Expected

1.  Clicking on the Challenge title hyperlink in the email notification should take user to challenge details page.
2. Additionally, “CHECK IT OUT” link should be renamed to “OPEN DISCUSSION” and be a clearer call to action button (G

[2021-03-28 23:04] jmgasper commented on #505
Challenge https://www.topcoder.com/challenges/96e70d15-065a-4bb7-8b7f-df22bd1e45c5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:04] jmgasper commented on #505
Challenge https://www.topcoder.com/challenges/96e70d15-065a-4bb7-8b7f-df22bd1e45c5 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:06] jmgasper opened #506 "[$200] In app notification updates"
### Currently

One of our testers found that there are times when they receive multiple notifications it can take up the whole screen.

<img width="629" alt="Screen Shot 2021-03-29 at 10 05 34 am" src="https://user-images.githubusercontent.com/21790/112771177-5023db80-9076-11eb-93dd-1825068ff97a.png">

### Expected behaviour
<img width="807" alt="Screen Shot 2021-03-29 at 10 06 01 am" src="https:/

[2021-03-28 23:06] jmgasper commented on #506
Challenge https://www.topcoder.com/challenges/37c5c201-c7af-49d8-9ea7-815dcb614fd1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:06] jmgasper commented on #506
Challenge https://www.topcoder.com/challenges/37c5c201-c7af-49d8-9ea7-815dcb614fd1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:07] jmgasper opened #507 "[$50] Updating order of public forums"
To go along with #487 :

Forum Groupings should stay in the same order at all times.  The only sort by most recent should appear in the user-generated thread listings.

#### Parent Category Order

- General
- Development
- Design
- Algorithm
- Marathon
- QA
- News
- Learning
- Private

[2021-03-28 23:07] jmgasper commented on #507
Challenge https://www.topcoder.com/challenges/15a55c41-925a-46c9-bd91-b1994e55e2c3 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:07] jmgasper commented on #507
Challenge https://www.topcoder.com/challenges/15a55c41-925a-46c9-bd91-b1994e55e2c3 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:08] jmgasper opened #508 "[$50] Profile settings link"
Currently: Clicking the Settings link from the profile dropdown while in Forums takes the user to the FORUMS preferences at https://discussions.topcoder.com/profile/preferences.

Expected behavior: Clicking the Settings link from the profile dropdown while in Forums takes the user to the general settings at https://www.topcoder.com/settings/profile

[2021-03-28 23:08] jmgasper commented on #508
Challenge https://www.topcoder.com/challenges/f36fbf51-dae7-4309-b2b9-b7bf34da3d4c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-28 23:08] jmgasper commented on #508
Challenge https://www.topcoder.com/challenges/f36fbf51-dae7-4309-b2b9-b7bf34da3d4c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-29 03:33] sdgun commented on #486
@jmgasper Do I need to test anything here?

[2021-03-29 03:35] jmgasper commented on #486
@sdgun - Nope, should be all good, I think.

[2021-03-29 04:18] sdgun commented on #485
Verified in Dev.

[2021-03-29 04:24] sdgun commented on #498
Verified the pagination and the reference text on comments for anonymous users in Dev. The issues are fixed.

[2021-03-29 06:47] sdgun commented on #491
Verified in Dev.

[2021-03-29 07:30] sdgun commented on #488
Fixed. Verified in Dev. Indentation is reduced after 5th reply and after 15th reply not indenting.

https://vanilla.topcoder-dev.com/discussion/4089/new-discussion-1

[2021-03-29 09:42] atelomycterus commented on #508
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/77/. Thanks!

### Testing

![image](https://user-images.githubusercontent.com/10196632/112818445-355c6180-908c-11eb-8d38-3aa4a9b907a3.png)

[2021-03-29 10:24] atelomycterus commented on #502
@jmgasper Fixed. Please apply PR https://github.com/topcoder-platform/forums-groups-plugin/pull/73/. Thanks!
### Changes
Group Owner can add new members even to the archived group.

### Testing
Challenge forum processor output:
![image](https://user-images.githubusercontent.com/10196632/112822369-84a49100-9090-11eb-8c0a-f132befe4512.png)

@sdgun You can verify it as well from UI.  All groups are c

[2021-03-29 12:00] atelomycterus commented on #505
@jmgasper Please clarify 'be a clearer call to action button (Green Topcoder Button).' Did you mean to replace the link with a green button like this?

Topcoder theme: global primary green color  =  #137D60
![image](https://user-images.githubusercontent.com/10196632/112833033-cfc5a080-909e-11eb-9c25-347291f98780.png)

Please apply PRs:
- https://github.com/topcoder-platform/forums-groups-plugin/pu

[2021-03-29 19:23] atelomycterus commented on #479
@jmgasper  A few questions

**Issue 1**
Ok, no questions. The goal is that there will be no 3 dot menu for normal users => replace it with the eyeball icon.
![image](https://user-images.githubusercontent.com/10196632/112886000-0bca2700-90da-11eb-9e99-b803a747dfa5.png)

**Issue 2**

Not correct. Bookmarks are used for a thread (discussion). User can bookmark a discussion. If new comments are added

[2021-03-29 20:03] atelomycterus commented on #507
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/509. Thanks. The category table has contained the 'Sort' column. This column is not displayed in UI but  admin can update the order of categories by moving them up or down.  I've updated the order of forums on DEV/PROD.

After deploying, the order of parent categories should be like this:
![image](https://user-images.github

[2021-03-29 20:27] jmgasper commented on #479
@atelomycterus - Yeah, we want to just have a single icon that covers both bookmarking and watching.  And yes, the goal is to have watches shown for threads and categories / forums.

[2021-03-29 20:27] jmgasper commented on #505
@atelomycterus - Sorry for not being more clear.  Yes, Topcoder would like this to be a big green button like the `Login` screenshot you provided.

[2021-03-29 20:39] atelomycterus commented on #475
@jmgasper The main requirements are clear.  Thanks!

[2021-03-29 21:20] atelomycterus commented on #505
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/510.

### Testing
![image](https://user-images.githubusercontent.com/10196632/112901595-a5e79a80-90ed-11eb-8689-e92c40d3c7e7.png)

[2021-03-29 21:49] #507 closed

[2021-03-29 21:50] jmgasper commented on #507
Payment task has been updated: https://www.topcoder.com/challenges/15a55c41-925a-46c9-bd91-b1994e55e2c3
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `15a55c41-925a-46c9-bd91-b1994e55e2c3` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-29 21:50] jmgasper commented on #508
@sdgun - This'll go to production on the dev site, which is fine for now.

[2021-03-29 21:50] #508 closed

[2021-03-29 21:51] jmgasper commented on #508
Payment task has been updated: https://www.topcoder.com/challenges/f36fbf51-dae7-4309-b2b9-b7bf34da3d4c
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `f36fbf51-dae7-4309-b2b9-b7bf34da3d4c` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-29 21:55] #505 closed

[2021-03-29 21:55] jmgasper commented on #505
Payment task has been updated: https://www.topcoder.com/challenges/96e70d15-065a-4bb7-8b7f-df22bd1e45c5
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `96e70d15-065a-4bb7-8b7f-df22bd1e45c5` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-29 21:58] jmgasper commented on #474
@sdgun - This appears to be working, with the fix from #502.  Please let me know if you run into any issues - this is the biggest change we're going to push to prod in a couple days.

[2021-03-29 21:58] #474 closed

[2021-03-29 21:58] #502 closed

[2021-03-29 21:59] jmgasper commented on #474
Payment task has been updated: https://www.topcoder.com/challenges/7819a5cf-5ee8-460f-ac45-7d05f44b6829
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `7819a5cf-5ee8-460f-ac45-7d05f44b6829` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-29 21:59] jmgasper commented on #502
Payment task has been updated: https://www.topcoder.com/challenges/294ee0b9-6290-457d-bf09-fc3150d6cece
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `294ee0b9-6290-457d-bf09-fc3150d6cece` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-30 00:57] jmgasper opened #511 "[$75] Reply placement"
@atelomycterus - Reported by Topcoder in testing:

Is that something that we can address?  I'm guessing that it's pretty complex to handle that placement.

[2021-03-30 00:57] jmgasper commented on #511
Challenge https://www.topcoder.com/challenges/5c8a0d85-d36a-4a34-8f19-84e96ed79480 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-30 00:57] jmgasper commented on #511
Challenge https://www.topcoder.com/challenges/5c8a0d85-d36a-4a34-8f19-84e96ed79480 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-30 05:48] sdgun commented on #502
@atelomycterus @jmgasper

I created a Data Science/Development challenges of work type challenge/First2Finish and the forum groups are not getting created.

https://challenges.topcoder-dev.com/projects/16804/challenges/8b112947-7615-4aa9-ad72-3c3d1f256b09/view
https://challenges.topcoder-dev.com/projects/16804/challenges/a1488263-cf8c-44c8-92e9-8050932d1e4b/view
![image](https://user-images.github

[2021-03-30 05:50] sdgun commented on #474
@jmgasper https://github.com/topcoder-platform/forums/issues/502#issuecomment-809930140

[2021-03-30 05:51] jmgasper commented on #502
@sdgun - I see forums for both of those now - can you recheck please?  It may take a minute for everything to sync properly.

[2021-03-30 06:07] sdgun commented on #502
@jmgasper My bad, I can see them now.

[2021-03-30 06:08] sdgun commented on #474
@jmgasper
Here I should close/cancel from OR?

[2021-03-30 06:09] jmgasper commented on #474
@sdgun - I think you can do that either from OR or from WM

[2021-03-30 06:23] sdgun commented on #474
@jmgasper

Deleted from OR but Archived=No
OR - https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30058777
Forum - https://vanilla.topcoder-dev.com/group/876

Completed from OR but Archived=No
OR - https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30058773
Forum - https://vanilla.topcoder-dev.com/group/874

[2021-03-30 06:29] sdgun commented on #508
Verified in Dev, redirecting to https://www.topcoder.com/settings/profile as expected.

[2021-03-30 06:34] sdgun commented on #507
Verified in Dev. The public forums remain in the same order and the discussions under them are dynamically sorted based on the latest changes.

[2021-03-30 06:39] sdgun commented on #505
Verified in Dev.

![image](https://user-images.githubusercontent.com/4592712/112944695-cc8aed00-9150-11eb-9b5b-5978543b4536.png)

[2021-03-30 07:51] sdgun opened #512 "Public Forums is selected while the user is in category view"
**Steps**
Go to https://vanilla.topcoder-dev.com/categories/27e27c60-02d2-4730-b726-d3cf0099788f
User is in a challenge forum but in the left nav, Public forums is selected

![image](https://user-images.githubusercontent.com/4592712/112953053-c3068280-915a-11eb-992c-6a9999929452.png)

[2021-03-30 10:50] atelomycterus commented on #474
@jmgasper I've checked challenge forum processor logs. There were no messages to archive these challenges:
- groupID=877, challengeID=956abdfc-6b28-48ac-843a-7bc93b124b2b
- groupID=874 , challengeID=67199ee8-7232-4da0-9ddd-70e6e36297a9
- groupID=876, challngeID=8b112947-7615-4aa9-ad72-3c3d1f256b09.

It is necessary to check if messages are sent by other services (OR / WM). Unfortunately, I don’t k

[2021-03-30 11:05] atelomycterus commented on #479
@jmgasper Could you ask a designer to export an eyeball icon? The designer sets which assets to make available at various resolutions and formats (SVG, etc) when syncing designs to Marvel.

Some assets (search icon and others) are available for downloading as svg format but the eyeball icon is not available:
![image](https://user-images.githubusercontent.com/10196632/112978808-71f98d00-9160-11eb-9

[2021-03-30 20:58] jmgasper commented on #479
@atelomycterus - I've asked the Studio designer.  Should have that shortly, thanks.

[2021-03-30 21:08] jmgasper commented on #479
@atelomycterus - From the Studio designer:

https://marvelapp.com/prototype/c06bg41/screen/77911785/handoff

[2021-03-30 21:26] atelomycterus commented on #479
@jmgasper Thanks! A few questions: What about pagination in Watching page?
In the old forum the  'Watches on content that hasn't been updated for more than 90 days will be automatically removed from your list' is displayed.
Now submitters automatically watch 3 categories for development challenges. The number of records over time will be several hundred/thousand.  It may be necessary to do the sam

[2021-03-31 01:45] sdgun commented on #474
@jmgasper I checked on this yesterday, but looks like we cannot change status from WM. (checked with @drasticdpk , the QA of WM)

[2021-03-31 01:49] jmgasper commented on #474
@sdgun - Yeah, I'll investigate more fully.  I think we can use the API here, but I may have to do that manually.

[2021-03-31 20:47] atelomycterus commented on #479
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/513
https://github.com/topcoder-platform/forums-groups-plugin/pull/74
https://github.com/topcoder-platform/forums-plugins/pull/78

Thanks!

### Testing
Please clear browser cache before testing.

Watching page:
![image](https://user-images.githubusercontent.com/10196632/113208710-c85aee80-927a-11eb-8842-351483b63ddc.png)

[2021-03-31 21:20] jmgasper commented on #479
@atelomycterus - Thanks for that. Note that I may delay merging this until tomorrow - we're doing a prod deploy today and I don't want to suck this up into that until we've had a chance to test fully.

[2021-03-31 21:22] atelomycterus commented on #479
@jmgasper Sure,  that's fine. Thanks!

[2021-04-01 06:52] sdgun commented on #474
Verified in Production, Archived=true when the challenge is in draft status and once activated, archived is set to false.

[2021-04-01 06:53] sdgun commented on #508
Verified in production, settings link is opening https://www.topcoder.com/settings/profile as expected.

[2021-04-01 06:57] sdgun commented on #507
Verified in production, the order is as mentioned in the ticket.

[2021-04-01 06:57] sdgun commented on #485
Verified in production.

[2021-04-01 07:00] sdgun commented on #482
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113255929-0f31fe00-92e6-11eb-8439-4c64d2d1e2af.png)

[2021-04-01 07:08] sdgun commented on #498
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113256663-1f96a880-92e7-11eb-878e-190b8f5cf8da.png)

[2021-04-01 07:10] sdgun commented on #491
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113256881-6edcd900-92e7-11eb-852e-ae9072d5fa2e.png)

[2021-04-01 07:11] sdgun commented on #480
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113256987-9633a600-92e7-11eb-9c4d-23cb188f4167.png)

[2021-04-01 07:13] sdgun commented on #395
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113257159-d1ce7000-92e7-11eb-910a-3eb073a9f627.png)

[2021-04-01 07:16] sdgun commented on #477
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113257494-53be9900-92e8-11eb-8fd7-bc64617a7444.png)

[2021-04-01 07:19] sdgun commented on #481
Verified in production.

![image](https://user-images.githubusercontent.com/4592712/113257780-b7e15d00-92e8-11eb-8d5c-1ec4871e97fe.png)

[2021-04-01 07:50] sdgun commented on #488
Verified in production.

https://discussions.topcoder.com/discussion/4482/503-error-test?view=threaded

[2021-04-01 08:08] sdgun commented on #478
Verified in production, the description have been added to the given sub categories.

[2021-04-01 08:09] sdgun commented on #476
Verified in Production.

![image](https://user-images.githubusercontent.com/4592712/113263668-aea7be80-92ef-11eb-9e66-3a648cfe3d33.png)

[2021-04-01 08:45] sdgun opened #515 "[Sporadic]The replies are not shown under the relevant comment until the page is refreshed"
**Steps**
Go to a discussion with 2 comments
Reply to the 1st comment

The reply is displayed last under the 2nd comment
After a refresh it is displayed under 1st comment

https://user-images.githubusercontent.com/4592712/113268039-99815e80-92f4-11eb-877f-85c8f0c2e0b2.mp4

[2021-04-01 09:39] #479 closed

[2021-04-01 09:40] jmgasper commented on #515
Similar to https://github.com/topcoder-platform/forums/issues/511

[2021-04-01 09:40] jmgasper commented on #479
Payment task has been updated: https://www.topcoder.com/challenges/b27236ad-f253-4255-98d5-30112e167917
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `b27236ad-f253-4255-98d5-30112e167917` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-01 13:18] atelomycterus commented on #506
@jmgasper Let me know if you want to replace `commented on` with `comments on` as displayed in MarvelApp. The phrases are stored in DB. There is no UI to change them. The list of all phrases in the Phrases section

Please apply PRs:
https://github.com/topcoder-platform/forums-theme/pull/34
https://github.com/topcoder-platform/forums-plugins/pull/80
https://github.com/topcoder-platform/forums/pull/

[2021-04-01 17:33] hokienick opened #517 "The Quote / Edit / Reply links in the Threads box are uneven"
I am currently logged in as a regular user and when I commented on the thread post i see the below:

<img width="1317" alt="Screen Shot 2021-04-01 at 10 31 37 AM" src="https://user-images.githubusercontent.com/1373998/113331980-74c9be80-92d5-11eb-8c46-7165715c81b8.png">

[2021-04-01 17:34] Oanh-and-only-Oanh opened #518 "[$25] Public Forums category highlighted when in Challenge Forums"
**Bug**: the Public Forums category on right hand side is highlighted when I am in a challenge forum
**how to reproduce bug:**
1) register for challenge
2) click on Challenge Discussion in details page
3) See error
![image](https://user-images.githubusercontent.com/47536078/113332184-b2c6e280-92d5-11eb-94cf-dd5459dd8801.png)
**Expected behavior:**
Challenge Forums category should be highlighted

[2021-04-01 17:38] atelomycterus commented on #517
@hokienick Please clear browser cache. The links should be in blue:
![image](https://user-images.githubusercontent.com/10196632/113332662-24c91700-932a-11eb-9f76-c5448663c8b4.png)

[2021-04-01 17:40] atelomycterus commented on #518
Duplicated https://github.com/topcoder-platform/forums/issues/512.

[2021-04-01 21:00] jmgasper commented on #506
@atelomycterus - I think we're fine to leave as `commented on` for now, thanks!

[2021-04-01 21:18] jmgasper opened #519 "[$350] Performance for hokienick"
@atelomycterus - In prod, Nick (`hokienick`) is saying that forums are taking 30+ seconds to load as he browses from one page to another.  I don't see that with my account, so I'm wondering if there's something strange set up with his account that could cause that?  Can you investigate when you have some time please?  I'll let you know if I hear of anyone else that has performance issues.

[2021-04-01 21:18] jmgasper commented on #519
Challenge https://www.topcoder.com/challenges/82eee8b6-b34e-4178-af61-2d61f25a605c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-01 21:18] jmgasper commented on #519
Challenge https://www.topcoder.com/challenges/82eee8b6-b34e-4178-af61-2d61f25a605c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-01 21:19] #506 closed

[2021-04-01 21:20] jmgasper commented on #506
Payment task has been updated: https://www.topcoder.com/challenges/37c5c201-c7af-49d8-9ea7-815dcb614fd1
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `37c5c201-c7af-49d8-9ea7-815dcb614fd1` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-01 21:25] atelomycterus commented on #511
@jmgasper Yes, I've made a bug.  Sorry about that.  Duplicated issue -https://github.com/topcoder-platform/forums/issues/515.

A comment was posted at the bottom page for both views (flat/threaded). So it was confusing  especially in a threaded view (as noted `mess`).  After posting a comment, the page was reloaded if the view mode was threaded.

So  I've fixed it. After posting a comment, it is a

[2021-04-01 21:26] jmgasper commented on #511
Ok, no problem at all, thanks!

[2021-04-01 21:26] #515 closed

[2021-04-01 21:44] atelomycterus commented on #519
@jmgasper  1. User with the `hokienick` username is not found in Vanilla (PROD).

2. Could you specify which pages exactly?

[2021-04-01 21:48] atelomycterus commented on #519
@jmgasper Maybe he's using the old forum?

[2021-04-01 21:59] jmgasper opened #520 "[$350] Notification preferences API"
@atelomycterus - We'd like to start planning to integrate forum preferences into the main Topcoder community app at some point in the future.

We'd like to have endpoint(s) to:

* Get the user's current notification preferences
* Set the user's current notification preferences

Ideally we wouldn't need the token for these API endpoints - we would use the user's Topcoder JWT instead.  That way the

[2021-04-01 21:59] jmgasper commented on #520
Challenge https://www.topcoder.com/challenges/85e41859-3cfa-4772-8f37-4b3bf4b09475 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-01 21:59] jmgasper commented on #520
Challenge https://www.topcoder.com/challenges/85e41859-3cfa-4772-8f37-4b3bf4b09475 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-01 22:20] jmgasper commented on #519
@atelomycterus - Sorry about that - his TC handle is `nick.castillo`.  Not sure what pages, but sounds like most of them.

[2021-04-02 01:22] jmgasper opened #521 "[$50] Change Privacy field on groups"
@atelomycterus - One request on the group metadata display was to change the `Privacy` field to be the NDA status of the associated challenge - either `Public` or `NDA Required`.  We should get this flag value with the Kafka message in the challenge forum processor.

<img width="1464" alt="Screen_Shot_2021-04-02_at_12_21_20_pm" src="https://user-images.githubusercontent.com/21790/113369870-22a89c0

[2021-04-02 01:23] jmgasper commented on #521
Challenge https://www.topcoder.com/challenges/c8338d98-f9d3-4228-9f3c-49c06f20ce42 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-02 01:23] jmgasper commented on #521
Challenge https://www.topcoder.com/challenges/c8338d98-f9d3-4228-9f3c-49c06f20ce42 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-02 05:40] sdgun opened #522 "[$150] The challenge forum is in watch status, but the discussions show the not-watching icon"
**Steps**
Log into forums and go to the challenge details page of a challenge forum(Log in as a normal user or a copilot user)

**Actual behavior**
The overall status is set to watch, but in the discussions we show the not watching icon

**Expected behavior**
(I cannot find anything for this in the design), but I feel we have to set watch icon on all discussions in the forum group since the overal

[2021-04-02 06:07] sdgun opened #523 "[$40] 'Watching' count doesn't tally with actual watch list"
Steps
Log in as sdguntcqa or adgunvfor users or from any user
Go to watching page
Check the number of watching categories and the actual count

'Watching' count doesn't tally with actual watch list
also for some users, it takes some time to update the count after first log in

![image](https://user-images.githubusercontent.com/4592712/113386224-68159b00-93a7-11eb-8bf1-f479936aad4f.png)

![image](h

[2021-04-02 06:28] sdgun commented on #522
@jmgasper @atelomycterus In the public forums also, the watch is set to General, but it doesn't mean anything because if the sub categories and discussions under General are not in 'watch' status, the notifications are not sent even though the General category is in watch status. This looks confusing.

[2021-04-02 09:54] atelomycterus commented on #521
@jmgasper Need your help with this ticket.

I've checked messages in challenge forum processor logs and challenge API response but
I don't see NDA status flag. Could you check if this flag is being published?

Json responses for
https://vanilla.topcoder-dev.com/group/885 ,
http://www.topcoder-dev.com/challenges/c9904ce5-afd9-4074-958e-9ab000ed34e8

### Challenge  processor logs
challenge.notificat

[2021-04-02 10:47] atelomycterus commented on #519
@jmgasper

All Topocder accounts have the same setup. I've checked the user ban list just in case and so on. The `nick.castillo` account looks fine.

I don't see any performance issues that with my account as well.  Let me know If there is any additional details from other users.

Without any statistics and logs, it is difficult to understand where the problem might be.
We need a tool like Tideway

[2021-04-02 21:05] atelomycterus commented on #522
@jmgasper @sdgun  User can watch discussions, categories and groups.

If user watches a category then we don't set the green eye ball icons for all discussions in the category
because it will be difficult to manage.

For example, user watches a category, all discussions are displayed with 'green' icons. User clicks on 'stop watching' for several discussions. We would have to store in DB which disc

[2021-04-02 21:07] atelomycterus commented on #511
@jmgasper Sorry for the delay, I haven't fully tested yet. I'm going to work at weekend.

[2021-04-03 01:08] jmgasper opened #524 "[$75] Enable SORTING by: Most recent Highest views Highest responses"
#### Reported by testers:

In the new forum, I wasn't able to find an option sort by(Most Popular,Most recent,Date Posted) to see the questions posted in the forum.
Sorting will help the user to filter better

#### TC Requirement:

Enable SORTING by:

- Most recent
- Highest views
- Highest responses

[2021-04-03 01:08] jmgasper commented on #524
Challenge https://www.topcoder.com/challenges/2fbcaf9b-953f-4dfa-8697-b652821a745c has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:08] jmgasper commented on #524
Challenge https://www.topcoder.com/challenges/2fbcaf9b-953f-4dfa-8697-b652821a745c has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:10] jmgasper opened #525 "[$50] Font updates for accessibility"
#### Beta tester report

The comment font can be hard to read for a vision impaired user. The background and the font kind of blends to getter. The font should be larger.

![109327820-5d06a280-781e-11eb-974b-4dd1dea0ea67](https://user-images.githubusercontent.com/21790/113464011-687c6780-9475-11eb-92e1-eabb285e6cbc.png)

#### Topcoder requirement

Accessibility usually refers to good contrast and

[2021-04-03 01:10] jmgasper commented on #525
Challenge https://www.topcoder.com/challenges/b171a5ac-cd2d-4280-b6ce-a69b6decb114 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:11] jmgasper commented on #525
Challenge https://www.topcoder.com/challenges/b171a5ac-cd2d-4280-b6ce-a69b6decb114 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:12] jmgasper opened #526 "[$100] Better format to input table and copy table from excel to forum"
@atelomycterus - I'm assuming this is something that will need investigation and may not be possible.  Let me know if we need to adjust anything or bump the payment here, thanks!

[2021-04-03 01:12] jmgasper commented on #526
Challenge https://www.topcoder.com/challenges/a06b9b28-4ff1-4079-8b4e-2f6983c11ff1 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:12] jmgasper commented on #526
Challenge https://www.topcoder.com/challenges/a06b9b28-4ff1-4079-8b4e-2f6983c11ff1 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:13] jmgasper opened #527 "[$30] tcadmin handle clicking"
#### Beta test report

404 http error when `tcadmin` is clicked

![109335463-5dc12800-7862-11eb-96df-55582664db2e](https://user-images.githubusercontent.com/21790/113464098-02441480-9476-11eb-8f79-58be3172914a.png)

#### TC Requirement

Let's make the `tcadmin` handle unclickable

[2021-04-03 01:13] jmgasper commented on #527
Challenge https://www.topcoder.com/challenges/ff3f3985-ec20-4442-9d2b-d0e93e86f152 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:13] jmgasper commented on #527
Challenge https://www.topcoder.com/challenges/ff3f3985-ec20-4442-9d2b-d0e93e86f152 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:14] jmgasper opened #528 "[$40] Year display consistency"
#### Beta test report

Sometimes, year is shown, sometimes not.  In order to be consistent. In future, it can be unclear which year it is.

![109334497-17b79480-7861-11eb-82f8-0e13cf59f5d2](https://user-images.githubusercontent.com/21790/113464124-26075a80-9476-11eb-9b57-141976cc7b17.png)

[2021-04-03 01:14] jmgasper commented on #528
Challenge https://www.topcoder.com/challenges/756f6d0d-d346-41a9-ac24-72fb61e62ff2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:24] jmgasper commented on #528
Challenge https://www.topcoder.com/challenges/756f6d0d-d346-41a9-ac24-72fb61e62ff2 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:24] jmgasper opened #529 "[$50] Draft consistency"
From Topcoder:

The auto-save for draft should be immediate (or near about). It is not currently. The "Draft" count should also be updated automatically and immediately.

[2021-04-03 01:24] jmgasper commented on #529
Challenge https://www.topcoder.com/challenges/38c3aa59-d040-41a2-8b72-011afc69310f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:24] jmgasper commented on #529
Challenge https://www.topcoder.com/challenges/38c3aa59-d040-41a2-8b72-011afc69310f has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:25] jmgasper opened #530 "[$40] "Viewing in Preview" text"
#### Report by beta tester

![109334053-80ead800-7860-11eb-9944-06e77b5227e6-2](https://user-images.githubusercontent.com/21790/113464379-e477af00-9477-11eb-8c37-605d2af28cad.png)

#### Topcoder requirement

Please add a "Previewing" text when user is viewing a preview of their post

[2021-04-03 01:26] jmgasper commented on #530
Challenge https://www.topcoder.com/challenges/456325ed-2c93-4275-8423-4a7ad41bade5 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:26] jmgasper commented on #530
Challenge https://www.topcoder.com/challenges/456325ed-2c93-4275-8423-4a7ad41bade5 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:37] jmgasper commented on #523
Challenge https://www.topcoder.com/challenges/45c758f7-5f58-4d34-af71-1ed91b7ef3fa has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:38] jmgasper commented on #523
Challenge https://www.topcoder.com/challenges/45c758f7-5f58-4d34-af71-1ed91b7ef3fa has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 01:38] jmgasper commented on #521
@atelomycterus - Thanks - I'm asking Topcoder if we can add that.

[2021-04-03 01:39] jmgasper commented on #522
@atelomycterus - Thanks.  That makes sense, I think.  @sdgun - Do you think that works?

[2021-04-03 12:51] atelomycterus commented on #511
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums-plugins/pull/81
https://github.com/topcoder-platform/forums/pull/531

Thanks!

I tried to improve the user experience on adding/deleting comments in the threaded view.
Now adding/deleting comments in the threaded view is not required reloading page.

[2021-04-03 13:19] atelomycterus commented on #526
@jmgasper Yes, it's possible with Clipboard API. Clipboard API provides the ability to respond to clipboard commands (cut, copy, and paste).

[2021-04-03 13:40] atelomycterus commented on #524
@jmgasper A few questions:

### The category with discussions
1. `Most recent`
Now sort options are New and Old.  'New' will be renamed to 'Most Recent'. Should I remove 'Old'?
![image](https://user-images.githubusercontent.com/10196632/113479650-f4ec5180-9498-11eb-880a-d1c629f3f2af.png)

2. `Highest views` - sorting by Count of  Views
3. `Highest responses`  -  sorting by Count of Comments

### T

[2021-04-03 15:10] atelomycterus commented on #523
@sdgun

 ** User sdguntcqa**
Total count is equal to 5 (3 categories,  2 bookmarks). The user registered for a challenge (https://vanilla.topcoder-dev.com/group/185), bookmarked 2 discussions and unregistered from the challenge. User unregistered in 20 November.  Count of Bookmarks is not correct. Count of Bookmarks should be 0.

We've fixed count of bookmarks after unregistering from challenges i

[2021-04-03 20:04] atelomycterus commented on #518
@jmgasper  Please apply PRs:
- https://github.com/topcoder-platform/forums/pull/531
- https://github.com/topcoder-platform/forums-groups-plugin/pull/76

Thanks!

[2021-04-03 20:05] atelomycterus commented on #512
@sdgun @jmgasper  Duplicated issue. Fixed in https://github.com/topcoder-platform/forums/issues/518.

[2021-04-03 20:07] atelomycterus commented on #517
@jmgasper You can close it. ☝️ Thanks!

[2021-04-03 21:10] atelomycterus commented on #523
@jmgasper  Vanilla hasn't been started after deploying. I don't see any errors in logs:
[code]
 Please PR-https://github.com/topcoder-platform/forums/pull/532. I commented a sql query. This query should be run before Vanilla bootstrap.  I am not sure but it might cause an issue.

[2021-04-03 22:14] jmgasper commented on #523
@atelomycterus - Deploying now

[2021-04-03 22:28] jmgasper commented on #523
@atelomycterus - The deploy is done and the app is working agin.

[2021-04-03 22:34] #511 closed

[2021-04-03 22:34] jmgasper commented on #526
@atelomycterus - Ok, let's do it, thanks!

[2021-04-03 22:34] jmgasper commented on #511
Payment task has been updated: https://www.topcoder.com/challenges/5c8a0d85-d36a-4a34-8f19-84e96ed79480
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `5c8a0d85-d36a-4a34-8f19-84e96ed79480` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 22:36] jmgasper commented on #518
Challenge https://www.topcoder.com/challenges/d8b64963-9b2f-4054-9705-d9e09931ab39 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 22:36] jmgasper commented on #518
Challenge https://www.topcoder.com/challenges/d8b64963-9b2f-4054-9705-d9e09931ab39 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 22:36] #518 closed

[2021-04-03 22:36] #512 closed

[2021-04-03 22:36] #517 closed

[2021-04-03 22:36] jmgasper commented on #518
Payment task has been updated: https://www.topcoder.com/challenges/d8b64963-9b2f-4054-9705-d9e09931ab39
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `d8b64963-9b2f-4054-9705-d9e09931ab39` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-03 22:37] jmgasper commented on #521
@atelomycterus - Apparently we have to do this either by specific group IDs or term IDs.  I'm still getting more details on what those ID values should be in dev and prod.

[2021-04-03 22:40] jmgasper commented on #519
@atelomycterus - We're discussing this.  A couple questions:

1.  Does this raise costs with Tideways to monitor another application?
2. Are there any potential security issues?

[2021-04-04 08:55] jmgasper opened #533 "[$150] Post count next to handle"
@atelomycterus - Topcoder is asking if we can add a post count next to handles.  The payment listed is a just a placeholder for investigation - we can bump it up as we discuss level of effort to implement something like this.  My main concern is performance - I don't want anything to be slower.

Here's the proposed MarvelApp:

https://marvelapp.com/prototype/c06bg41/screen/77911791

And a quick sc

[2021-04-04 08:55] jmgasper commented on #533
Challenge https://www.topcoder.com/challenges/5246b20b-10ee-4ae4-a473-4168bf2bc883 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-04 08:55] jmgasper commented on #533
Challenge https://www.topcoder.com/challenges/5246b20b-10ee-4ae4-a473-4168bf2bc883 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-04 10:20] atelomycterus commented on #533
@jmgasper Yes, we can add post count. There are some user counters in Vanilla.  GDN_User table contains the `CountDiscussions` column.  The counter is updated when  a discussion is added/deleted/restored by User.

`CountWatchedCategories` is our custom column. The counter is updated when a category is watched/unwatched  by User.

All user counters:
![image](https://user-images.githubusercontent.co

[2021-04-04 11:07] atelomycterus commented on #519
@jmgasper We have a trial account. I see the error message:
![image](https://user-images.githubusercontent.com/10196632/113505692-30465900-9549-11eb-88d4-d7ba0582060d.png)

We can simply register a new trial account and monitor Vanilla for a month.  Just need to update the API KEY and deploy on the environment.

The basic plan support 2 envs:
![image](https://user-images.githubusercontent.com/1019

[2021-04-04 14:46] atelomycterus commented on #523
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/534. Thanks! Mysql DB (DEV) uses `TRADITIONAL SQL` mode, which converts all warnings to errors.  I was able to reproduce it and got the same error locally. I've updated a sql query.

[2021-04-04 15:01] atelomycterus commented on #529
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums/pull/534. Thanks! Auto-save interval - 15 secs, the previous value was 60 secs.

### Testing
![image](https://user-images.githubusercontent.com/10196632/113512914-aa89d400-956f-11eb-9ea5-8e148be82a93.png)

[2021-04-04 15:31] atelomycterus commented on #527
@jmgasper Please apply PR-https://github.com/topcoder-platform/forums-plugins/pull/82. Thanks!

### Testing
tcadmin  link and tcadmin photo link are unclickable in Vanilla:
![image](https://user-images.githubusercontent.com/10196632/113513788-f2125f00-9573-11eb-8281-23502aa6a023.png)

[2021-04-04 15:44] atelomycterus commented on #528
@jmgasper  Please apply PR-https://github.com/topcoder-platform/forums/pull/534. Thanks!

### Testing
Comment/Discussion Inserted/Updated Dates:
![image](https://user-images.githubusercontent.com/10196632/113514167-bed0cf80-9575-11eb-8930-8cfc102cfed5.png)

[2021-04-04 21:17] atelomycterus commented on #483
@jmgasper Vanilla generate a message from DB schema if some fields must be not null.
I've implemented the main requirements and added validation on client side. The error message is displayed and the buttons are disabled if body is  empty.

- The `Vanilla.Comment.MaxLength` parameter is used:
![image](https://user-images.githubusercontent.com/10196632/113521194-84305c80-95a0-11eb-8b14-2b90f4969e8a

[2021-04-04 21:19] atelomycterus commented on #484
@jmgasper I've implemented it. I'll push it tomorrow after testing with #483 .

[2021-04-05 01:24] jmgasper commented on #533
@atelomycterus - Great!  Can we add `CountComments`?  I think that's the one Topcoder will be most interested in thanks.

[2021-04-05 01:24] jmgasper commented on #519
@atelomycterus - I think we pay for this, for the dev environment, correct?  So we should be good to go since we get 2 services in 2 envs (one dev, one prod)?

[2021-04-05 01:25] jmgasper commented on #523
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 01:26] jmgasper commented on #523
Challenge https://www.topcoder.com/challenges/ee1ce89c-adb8-41f7-bdbc-067fc2389896 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 01:26] jmgasper commented on #529
@sdgun - I *think* this'll be OK.  We can tweak the interval time as necessary.

[2021-04-05 01:26] #529 closed

[2021-04-05 01:27] jmgasper commented on #529
Payment task has been updated: https://www.topcoder.com/challenges/38c3aa59-d040-41a2-8b72-011afc69310f
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `38c3aa59-d040-41a2-8b72-011afc69310f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 01:50] jmgasper commented on #527
@sdgun - We'll have to wait til prod to test this one fully - there's no `tcadmin` in dev that I am aware of.

[2021-04-05 01:50] #527 closed

[2021-04-05 01:51] jmgasper commented on #527
Payment task has been updated: https://www.topcoder.com/challenges/ff3f3985-ec20-4442-9d2b-d0e93e86f152
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `ff3f3985-ec20-4442-9d2b-d0e93e86f152` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 02:04] #528 closed

[2021-04-05 02:05] jmgasper commented on #528
Payment task has been updated: https://www.topcoder.com/challenges/756f6d0d-d346-41a9-ac24-72fb61e62ff2
*Payments Complete*
Winner: obog
Copilot: ghostar
Challenge `756f6d0d-d346-41a9-ac24-72fb61e62ff2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 02:06] jmgasper commented on #483
@atelomycterus - For now, let's just focus on the minimum comment limit. I think the space handling you document is fine.

I'll log something for the max character limit as well, thanks.

[2021-04-05 02:08] jmgasper opened #535 "[$50] Max message length handling"
To go along with #483 , we need to also handle the case where the message is too long (over the max).

We'll have the display as the same - red rectangle around the text area with a message in red below: `Comment is XXXX characters too long`

[2021-04-05 02:08] jmgasper commented on #535
Challenge https://www.topcoder.com/challenges/f5f96124-617d-411d-940d-6f1d91e9db84 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 02:08] jmgasper commented on #535
Challenge https://www.topcoder.com/challenges/f5f96124-617d-411d-940d-6f1d91e9db84 has been assigned to obog.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-04-05 17:18] atelomycterus commented on #483
@jmgasper Please apply PRs:
https://github.com/topcoder-platform/forums/pull/536
https://github.com/topcoder-platform/forums-topcoder-editor-plugin/pull/18/
https://github.com/topcoder-platform/forums-theme/pull/35

Thanks!

### Testing
Please clear browser cache before testing.

Adding a new comment:
![image](https://user-images.githubusercontent.com/10196632/113602880-e2664980-964b-11eb-9793-e45